Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

Add "save" and "revert" buttons in hierarchy panel
  packages/editor/src/panels/hierarchy/helpers.ts
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
  packages/editor/src/panels/hierarchy/hooks.tsx
Owners: @dinomut1, @aditya-mitra

Material def serialization, cleanup
  packages/engine/src/assets/loaders/texture/TextureLoader.ts
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/gltf/MaterialDefinitionComponent.tsx
Owners: @MichaelEstes, @dinomut1, @speigg, @AidanCaruso

remove unnecessary isModified field
  packages/editor/src/panels/hierarchy/helpers.ts
Owners: @dinomut1, @aditya-mitra

tst: Improve error message in `assertArrayEqual` helper function
  packages/spatial/src/physics/components/RigidBodyComponent.test.tsx
Owners: @heysokam

doc: Document bug at `TransformComponent.getMatrixRelativeToScene`
  packages/spatial/src/transform/components/TransformComponent.ts
Owners: @SamMazerIR

add confirmation modals fix revert
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
Owners: @dinomut1, @aditya-mitra

fmt: Standarize `TransformGizmoTagComponent.name` naming convention
  packages/spatial/src/transform/components/TransformComponent.ts
Owners: @SamMazerIR

tst: Unit Tests for `TransformComponent.ts` (phase 0)
  packages/spatial/src/transform/components/TransformComponent.test.tsx
Owners: @SamMazerIR

update .gitignore
  .gitignore
Owners: @HexaField

Update LayoutComponent.tsx
  packages/xrui/core/components/LayoutComponent.tsx
Owners: @speigg

Fix key of Select Options and update Input UI
  packages/client-core/i18n/en/user.json
  packages/ui/src/primitives/tailwind/Input/index.tsx
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

added letter boxing option for the video to hide the clamp, repeat, repeat mirror of the video texture
  packages/client-core/i18n/en/editor.json
  packages/engine/src/scene/components/VideoComponent.tsx
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @aditya-mitra, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @SYBIOTE

fixing issue that prevents inspecting particle systems. Likely a problem elsewhere with material-related fields
  packages/spatial/src/renderer/materials/constants/DefaultArgs.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

tst: Unit Tests for `TransformComponent.ts` (phase 1)
  packages/spatial/src/transform/components/TransformComponent.test.tsx
Owners: @SamMazerIR

tst: Unit Tests for `TransformComponent.ts` (phase 2)
  packages/spatial/src/transform/components/TransformComponent.test.tsx
Owners: @SamMazerIR

adding back in beziers information
  packages/ui/src/components/editor/input/Generator/Value/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

WIP
  packages/ecs/src/ComponentFunctions.test.tsx
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/schemas/JSONSchemaTypes.ts
  packages/ecs/src/schemas/JSONSchemaUtils.ts
  packages/ecs/src/schemas/JSONSchemas.ts
Owners: @speigg

remove ui editor settings folder (#268)
  packages/ui/src/components/editor/settings/import/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

min max size for thumbnails (#225)
  packages/editor/src/panels/files/fileicon.tsx
  packages/ui/src/components/editor/panels/Assets/container/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

[IR-4553] Unit Test - Spatial: Physics Integration Tests (#228)
  packages/spatial/src/physics/integration.test.ts
  packages/spatial/src/transform/components/TransformComponent.ts
Owners: @heysokam, @SamMazerIR

IR-4355 particle bezier (#282)
  packages/spatial/src/renderer/materials/constants/DefaultArgs.ts
  packages/ui/src/components/editor/input/Generator/Value/index.tsx
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes, @aditya-mitra, @SYBIOTE, @CITIZENDOT

refactor properties panel into editor (#270)
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/panels/hierarchy/hierarchytree.tsx
  packages/editor/src/panels/properties/elementlist.tsx
  packages/editor/src/panels/properties/index.tsx
  packages/editor/src/panels/properties/materialeditor.tsx
  packages/editor/src/panels/properties/propertyeditor.tsx
  packages/ui/src/components/editor/panels/Properties/index.stories.tsx
  packages/ui/src/components/editor/panels/Properties/index.tsx
  packages/ui/src/components/editor/properties/mesh/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix env vars
  packages/ecs/src/Timer.ts
  packages/hyperflux/src/functions/ActionFunctions.ts
  packages/hyperflux/src/functions/EnvironmentConstants.ts
Owners: @speigg

update studiouiaddon type
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/services/EditorServices.ts
  packages/editor/src/services/UIAddonsState.tsx
Owners: @dinomut1, @aditya-mitra

fix run build error
  packages/editor/src/services/EditorServices.ts
Owners: @dinomut1, @aditya-mitra

tests
  packages/ecs/src/Engine.ts
  packages/spatial/src/camera/systems/CameraSystem.test.tsx
  packages/spatial/src/physics/integration.test.ts
  packages/spatial/vitest.config.ts
Owners: @speigg, @DanielBelmes, @SamMazerIR, @heysokam, @AidanCaruso, @MichaelEstes, @MbfloydIR

fix physics tests
  packages/ecs/src/Engine.ts
  packages/spatial/src/input/functions/ClientInputFunctions.test.ts
  packages/spatial/src/input/functions/ClientInputHeuristics.test.tsx
  packages/spatial/src/input/systems/ClientInputSystem.test.tsx
  packages/spatial/src/physics/classes/Physics.test.tsx
  packages/spatial/src/physics/components/ColliderComponent.test.ts
  packages/spatial/src/physics/components/RigidBodyComponent.test.tsx
  packages/spatial/src/physics/integration.test.ts
  packages/spatial/src/physics/systems/PhysicsSystem.test.ts
  packages/spatial/src/renderer/components/FogSettingsComponent.test.tsx
  packages/spatial/src/renderer/components/GroupComponent.test.tsx
  packages/spatial/src/renderer/components/InfiniteGridHelper.test.ts
  packages/spatial/src/renderer/components/lights/SpotLightComponent.test.ts
  packages/spatial/src/renderer/materials/constants/plugins/NoiseOffsetPlugin.test.ts
  packages/spatial/tests/util/mathAssertions.ts
Owners: @speigg, @heysokam, @SamMazerIR, @AidanCaruso, @DanielBelmes, @MichaelEstes, @MbfloydIR

tests
  packages/spatial/src/resources/resourceHooks.test.tsx
  packages/spatial/vitest.config.ts
Owners: @MichaelEstes, @speigg, @AidanCaruso, @MbfloydIR, @SamMazerIR

default go icon
  packages/editor/src/components/prefabs/PrefabEditors.tsx
Owners: @dinomut1, @aditya-mitra

studio: max user exceeded error on publish (#242)
  packages/client-core/i18n/en/admin.json
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/server-core/src/matchmaking/match-instance/match-instance.test.ts
  packages/server-core/src/social/location/location-helper.ts
  packages/server-core/src/social/location/location.resolvers.ts
  packages/server-core/src/social/location/location.test.ts
  packages/server-core/tests/util/createTestLocation.ts
Owners: @aditya-mitra, @hanzlamateen, @barankyle, @MoizAdnan, @hurairahmateen

update rigid body text color
  packages/client-core/i18n/en/editor.json
  packages/ui/src/components/editor/properties/trigger/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add ecomm icon
  packages/editor/src/components/prefabs/PrefabEditors.tsx
Owners: @dinomut1, @aditya-mitra

update rigid body text color (#283)
  packages/client-core/i18n/en/editor.json
  packages/ui/src/components/editor/properties/trigger/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Move check
  packages/ecs/src/schemas/JSONSchemaUtils.ts
Owners: @speigg

refactored assets panel components
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/panels/assets/categories.tsx
  packages/editor/src/panels/assets/helpers.ts
  packages/editor/src/panels/assets/hooks.tsx
  packages/editor/src/panels/assets/icons.tsx
  packages/editor/src/panels/assets/resources.tsx
  packages/editor/src/panels/assets/topbar.tsx
Owners: @dinomut1, @aditya-mitra

Updating our gltf-transform dependency, making necessary changes downstream of its API shifting. Separated source URL and Document from other transformModel args.
  packages/common/src/model/ModelTransformFunctions.ts
  packages/common/src/model/ModelTransformLoader.ts
  packages/editor/src/components/assets/ModelCompressionPanel.tsx
  packages/editor/src/constants/GLTFPresets.ts
  packages/engine/package.json
  packages/engine/src/assets/classes/ModelTransform.ts
  packages/server-core/package.json
  packages/server-core/src/assets/ModelTransformLoader.ts
  packages/ui/src/components/editor/properties/model/transform/index.tsx
Owners: @HexaField, @dinomut1, @aditya-mitra, @AidanCaruso, @MichaelEstes, @speigg, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @SYBIOTE, @CITIZENDOT

Removing some functions from the exports of ModelTransformFunctions
  packages/common/src/model/ModelTransformFunctions.ts
Owners: @HexaField

Removing comments, moving utility functions out of transformModel
  packages/common/src/model/ModelTransformFunctions.ts
Owners: @HexaField

Model transform's texture operations are skipped if their result is already cached
  packages/common/src/model/ModelTransformFunctions.ts
Owners: @HexaField

ModelTransformFunctions: the textures copied to the transformed document from the EE Material extension are now the ones written to disk.
  packages/common/src/model/ModelTransformFunctions.ts
Owners: @HexaField
