Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

fix imports
  packages/editor/src/panels/files/contextmenu.tsx
  packages/editor/src/panels/files/fileitem.tsx
  packages/editor/src/panels/files/helpers.tsx
Owners: @dinomut1, @aditya-mitra

fmt: Separate `PrototypeArgumentValue` type from `PrototypeArgument`
  packages/spatial/src/renderer/materials/MaterialComponent.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

tst: Unit Tests for `materialFunctions.ts` (phase 9)
  packages/spatial/src/renderer/materials/materialFunctions.test.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

add license
  packages/common/src/interfaces/NetworkInterfaces.ts
  packages/engine/src/assets/functions/pathResolver.test.ts
  packages/hyperflux/src/types/Types.ts
  packages/xrui/core/serialization/generateEmbeddedCSS.test.ts
Owners: @hurairahmateen, @MichaelEstes, @dinomut1, @speigg

fix: Error guard for `onRemove` functions in `MaterialComponent`
  packages/spatial/src/renderer/materials/MaterialComponent.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

tst: Bugfixes for `MaterialComponent` & `materialFunctions` unit tests
  packages/spatial/src/renderer/materials/MaterialComponent.test.ts
  packages/spatial/src/renderer/materials/materialFunctions.test.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

doc: Add missing licenses (auto-generated by `pre-commit`)
  packages/common/src/interfaces/NetworkInterfaces.ts
  packages/engine/src/assets/functions/pathResolver.test.ts
  packages/hyperflux/src/types/Types.ts
  packages/xrui/core/serialization/generateEmbeddedCSS.test.ts
Owners: @hurairahmateen, @MichaelEstes, @dinomut1, @speigg

remove file if exists
  scripts/add-precommit.sh
Owners: @barankyle, @hanzlamateen, @DanielBelmes

license
  packages/common/src/interfaces/NetworkInterfaces.ts
  packages/engine/src/assets/functions/pathResolver.test.ts
  packages/hyperflux/src/types/Types.ts
  packages/xrui/core/serialization/generateEmbeddedCSS.test.ts
Owners: @hurairahmateen, @MichaelEstes, @dinomut1, @speigg

IR-2752 Implement Google Analytics logger (#12)
  .env.local.default
  package.json
  packages/client-core/i18n/en/admin.json
  packages/client-core/src/admin/components/settings/tabs/client.tsx
  packages/client-core/src/admin/components/settings/tabs/server.tsx
  packages/client/src/store.tsx
  packages/common/src/schemas/setting/client-setting.schema.ts
  packages/common/src/schemas/setting/server-setting.schema.ts
  packages/server-core/src/appconfig.ts
  packages/server-core/src/media/static-resource/static-resource.hooks.ts
  packages/server-core/src/setting/client-setting/client-setting.seed.ts
  packages/server-core/src/setting/client-setting/migrations/20240828064409_gaMeasurementId_column.ts
  packages/server-core/src/setting/server-setting/migrations/20230601103002_server-setting.ts
  packages/server-core/src/setting/server-setting/migrations/20240828073620_drop_gaTrackingId_column.ts
  packages/server-core/src/setting/server-setting/server-setting.seed.ts
Owners: @HexaField, @aditya-mitra, @hanzlamateen, @barankyle, @MoizAdnan, @hurairahmateen

remove pre-commit file if file exists (#121)
  packages/common/src/interfaces/NetworkInterfaces.ts
  packages/engine/src/assets/functions/pathResolver.test.ts
  packages/hyperflux/src/types/Types.ts
  packages/xrui/core/serialization/generateEmbeddedCSS.test.ts
  scripts/add-precommit.sh
Owners: @hurairahmateen, @MichaelEstes, @dinomut1, @speigg, @barankyle, @hanzlamateen, @DanielBelmes

format prettier
  packages/editor/src/components/assets/ModelCompressionPanel.tsx
  packages/editor/src/panels/files/contextmenu.tsx
  packages/editor/src/panels/files/fileitem.tsx
  packages/editor/src/panels/files/helpers.tsx
  packages/editor/src/panels/files/modals/DeleteFileModal.tsx
  packages/editor/src/panels/files/modals/FilePropertiesModal.tsx
  packages/editor/src/panels/files/modals/ImageConvertModal.tsx
  packages/editor/src/panels/files/modals/RenameFileModal.tsx
Owners: @dinomut1, @aditya-mitra

refactor files panel (#37)
  packages/client-core/i18n/en/editor.json
  packages/client/public/static/editor/file-icon.png
  packages/client/public/static/editor/folder-icon.png
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/components/assets/FileBrowser/FileBrowserState.tsx
  packages/editor/src/components/assets/FileBrowser/FileDataType.ts
  packages/editor/src/components/assets/ImageCompressionPanel.tsx
  packages/editor/src/components/assets/ModelCompressionPanel.tsx
  packages/editor/src/panels/files/contextmenu.tsx
  packages/editor/src/panels/files/filebrowser.tsx
  packages/editor/src/panels/files/fileicon.tsx
  packages/editor/src/panels/files/fileitem.tsx
  packages/editor/src/panels/files/helpers.tsx
  packages/editor/src/panels/files/index.tsx
  packages/editor/src/panels/files/loaders.tsx
  packages/editor/src/panels/files/modals/DeleteFileModal.tsx
  packages/editor/src/panels/files/modals/FilePropertiesModal.tsx
  packages/editor/src/panels/files/modals/ImageConvertModal.tsx
  packages/editor/src/panels/files/modals/RenameFileModal.tsx
  packages/editor/src/panels/files/toolbar.tsx
  packages/editor/src/services/FilesState.tsx
  packages/ui/src/components/editor/layout/Panel.tsx
  packages/ui/src/components/editor/panels/Assets/container/index.tsx
  packages/ui/src/components/editor/panels/Files/browserGrid/index.tsx
  packages/ui/src/components/editor/panels/Files/container/index.tsx
  packages/ui/src/components/editor/panels/Files/index.stories.tsx
  packages/ui/src/components/editor/panels/Files/upload/FileUploadProgress.tsx
  packages/ui/src/components/editor/panels/Hierarchy/node/index.tsx
  packages/ui/src/components/editor/panels/Viewport/container/index.tsx
  packages/ui/src/components/tailwind/ContextMenu/index.tsx
Owners: @aditya-mitra, @barankyle, @dinomut1, @SYBIOTE, @CITIZENDOT

adjust pointer-events
  packages/client/index.html
  packages/editor/src/components/projects/ProjectsPage.tsx
  packages/ui/src/primitives/tailwind/PopupMenu/index.tsx
Owners: @barankyle, @aditya-mitra, @dinomut1, @SYBIOTE, @CITIZENDOT

Remove MUI imports and use tailwind where necessary (#77)
  packages/client-core/src/admin/components/project/ManageUserPermissionModal.tsx
  packages/client-core/src/admin/components/project/index.tsx
  packages/client-core/src/common/services/NotificationService.tsx
  packages/client/index.html
  packages/client/src/pages/location/location.tsx
  packages/editor/src/components/assets/AssetDropZone.tsx
  packages/editor/src/components/assets/AssetPreviewPanels/JsonPreviewPanel.tsx
  packages/editor/src/components/popup/ErrorPopUp.tsx
  packages/editor/src/components/popup/PopUp.tsx
  packages/editor/src/components/projects/CreateProjectDialog.tsx
  packages/editor/src/components/projects/DeleteDialog.tsx
  packages/editor/src/components/projects/EditPermissionsDialog.tsx
  packages/editor/src/components/projects/EditorNavbarProfile.tsx
  packages/editor/src/components/projects/InstallProjectDialog.tsx
  packages/editor/src/components/projects/ProjectsPage.tsx
  packages/editor/src/pages/ProjectPage.tsx
  packages/ui/src/components/editor/input/Generator/Color/index.tsx
  packages/ui/src/components/editor/input/Group/index.tsx
  packages/ui/src/components/editor/layout/PaginatedList.tsx
  packages/ui/src/components/editor/panels/VisualScript/sidePanel/index.tsx
  packages/ui/src/components/editor/properties/cameraProperties/index.tsx
  packages/ui/src/components/tailwind/RecordingList/index.tsx
  packages/ui/src/primitives/tailwind/PopupMenu/index.tsx
Owners: @hanzlamateen, @aditya-mitra, @barankyle, @dinomut1, @SYBIOTE, @CITIZENDOT

treeshake error boundary
  packages/client-core/src/common/components/ClientErrorBoundary.tsx
  packages/client-core/src/components/Fullscreen/index.tsx
  packages/client-core/src/components/MediaIconsBox/index.tsx
  packages/client-core/src/components/Shelves/index.tsx
  packages/client-core/src/transports/SocketWebRTCClientFunctions.ts
  packages/client-core/src/user/components/UserMenu/menus/ProfileMenu.tsx
  packages/client-core/src/user/components/UserMenu/menus/SettingMenu.tsx
  packages/client-core/src/util/ClientContextState.ts
  packages/client-core/src/world/Location.tsx
  packages/client/src/main.tsx
  packages/client/src/route/CustomRouter.tsx
  packages/client/vite.config.ts
  packages/ui/src/pages/Chat/chat.tsx
Owners: @aditya-mitra, @barankyle, @SYBIOTE, @CITIZENDOT

fix location vals
  packages/client-core/src/components/World/LoadLocationScene.tsx
  packages/client-core/src/world/Location.tsx
Owners: @speigg, @aditya-mitra

create scenes panel in editor package
  packages/editor/src/panels/scenes/RenameSceneModal.tsx
  packages/editor/src/panels/scenes/SceneItem.tsx
  packages/editor/src/panels/scenes/index.tsx
Owners: @dinomut1, @aditya-mitra

remove scenes panel in ui package
  packages/editor/src/components/EditorContainer.tsx
  packages/ui/src/components/editor/panels/Scenes/container/index.stories.tsx
  packages/ui/src/components/editor/panels/Scenes/container/index.tsx
  packages/ui/src/components/editor/panels/Scenes/index.stories.tsx
  packages/ui/src/components/editor/panels/Scenes/index.tsx
  packages/ui/src/components/editor/panels/Scenes/modals/RenameScene.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

Refetch history logs on page change
  packages/client-core/src/admin/components/project/ProjectHistory.tsx
Owners: @hanzlamateen

Move PopupMenu to ProjectsPage
  packages/editor/src/components/projects/ProjectsPage.tsx
  packages/editor/src/pages/ProjectPage.tsx
  packages/ui/src/primitives/tailwind/PopupMenu/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

Move PopupMenu to ProjectsPage (#124)
  packages/editor/src/components/projects/ProjectsPage.tsx
  packages/editor/src/pages/ProjectPage.tsx
  packages/ui/src/primitives/tailwind/PopupMenu/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

refactor scene item
  packages/editor/src/panels/scenes/SceneItem.tsx
  packages/editor/src/panels/scenes/index.tsx
Owners: @dinomut1, @aditya-mitra

added skybox code
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
Owners: @aditya-mitra

IR-4006 incorrect highlight state when hitting escape (#116)
  packages/editor/src/systems/EditorControlSystem.ts
Owners: @dinomut1, @aditya-mitra

small comment cleanup
  packages/client-core/src/systems/ui/MediaControlsUI.tsx
Owners: @aditya-mitra

update save path
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
Owners: @dinomut1, @aditya-mitra

update modal ui
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
Owners: @dinomut1, @aditya-mitra

envmap hotfixes, loadPrimitives hook
  packages/engine/src/assets/functions/resourceLoaderHooks.ts
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/gltf/GLTFState.tsx
  packages/engine/src/scene/components/EnvmapComponent.tsx
Owners: @MichaelEstes, @dinomut1, @speigg, @AidanCaruso, @CITIZENDOT

update prefab text field
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
Owners: @dinomut1, @aditya-mitra

skip pretransform on entities that have rigidbodies
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.ts
Owners: @heysokam

don't perform pretransform on entity with rigidbody
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.ts
Owners: @heysokam

change solution from using a global var to using a property of the interactable component
  packages/engine/src/interaction/components/InteractableComponent.ts
Owners: @SamMazerIR, @speigg

removed camera mode fro the camera settings component and the the editor ui
  packages/engine/src/scene/components/CameraSettingsComponent.ts
  packages/ui/src/components/editor/properties/cameraProperties/index.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @aditya-mitra, @SYBIOTE

don't apply pretransform to rigidbody entity
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.ts
Owners: @heysokam

Revert "IR-4256 Fix model component save changes (#78)"
  packages/editor/src/functions/exportGLTF.ts
  packages/ui/src/components/editor/properties/model/index.tsx
Owners: @SYBIOTE, @aditya-mitra, @CITIZENDOT

update prefab ui
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
Owners: @dinomut1, @aditya-mitra

fmt: Type safety for `formatMaterialArgs` and `extractDefaults`
  packages/spatial/src/renderer/materials/materialFunctions.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

revert gltf export
  packages/editor/src/functions/exportGLTF.ts
Owners: @SYBIOTE

revert gltf export (#133)
  packages/editor/src/functions/exportGLTF.ts
Owners: @SYBIOTE
