Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

IR-4705: Add name editing to file properties panel (#332)
  packages/client-core/i18n/en/editor.json
  packages/editor/src/panels/assets/resources.tsx
  packages/editor/src/panels/files/modals/FilePropertiesModal.tsx
Owners: @aditya-mitra, @dinomut1

Merge zendesk setting to engine settings
  packages/client-core/src/admin/components/settings/tabs/zendesk.tsx
  packages/common/src/constants/EngineSettings.ts
  packages/common/src/schema.type.module.ts
  packages/common/src/schemas/setting/engine-setting.schema.ts
  packages/common/src/schemas/setting/zendesk-setting.schema.ts
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
  packages/server-core/src/setting/engine-setting/engine-setting.ts
  packages/server-core/src/setting/engine-setting/migrations/20240926052204_merge-zendesk-settings.ts
  packages/server-core/src/setting/seeder-config.ts
  packages/server-core/src/setting/service.ts
  packages/server-core/src/setting/zendesk-setting/migrations/20240625222127_zendesk-keys.ts
  packages/server-core/src/setting/zendesk-setting/zendesk-setting.class.ts
  packages/server-core/src/setting/zendesk-setting/zendesk-setting.docs.ts
  packages/server-core/src/setting/zendesk-setting/zendesk-setting.hooks.ts
  packages/server-core/src/setting/zendesk-setting/zendesk-setting.resolvers.ts
  packages/server-core/src/setting/zendesk-setting/zendesk-setting.seed.ts
  packages/server-core/src/setting/zendesk-setting/zendesk-setting.ts
  packages/server-core/src/updateAppConfig.ts
Owners: @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

Refactor zendesk setting migration to merge with engine settings
  packages/server-core/src/setting/engine-setting/migrations/20240926052204_merge-zendesk-setting.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix missing teardown
  packages/server-core/src/setting/engine-setting/engine-setting.test.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix test
  packages/server-core/src/hooks/verify-project-permission.test.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

replace async throw tests with rejects
  packages/server-core/src/cluster/api-job/api-job.test.ts
  packages/server-core/src/hooks/verify-project-permission.test.ts
  packages/server-core/src/media/invalidation/invalidation.test.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fixing the OTHER PaginatedList, next step is seeing if we can combine them
  packages/ui/src/components/editor/layout/PaginatedList.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

remove comment
  packages/editor/src/panels/properties/elementlist.tsx
Owners: @dinomut1, @aditya-mitra

more studio UI cleanup (#323)
  packages/editor/src/components/prefabs/PrefabEditors.tsx
  packages/editor/src/components/prefabs/icons/camera.svg
  packages/editor/src/components/prefabs/icons/collider.svg
  packages/editor/src/components/prefabs/icons/ecomm.svg
  packages/editor/src/components/prefabs/icons/empty.svg
  packages/editor/src/components/prefabs/icons/geo.svg
  packages/editor/src/components/prefabs/icons/image.svg
  packages/editor/src/components/prefabs/icons/lighting.svg
  packages/editor/src/components/prefabs/icons/lookdev.svg
  packages/editor/src/components/prefabs/icons/text.svg
  packages/editor/src/components/prefabs/icons/video.svg
  packages/editor/src/panels/properties/elementlist.tsx
Owners: @dinomut1, @aditya-mitra

Adding null checks and a state promised check to the media component and system, to prevent hookstate errors when a source is removed
  packages/engine/src/audio/systems/MediaSystem.ts
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @speigg, @dinomut1, @CITIZENDOT, @AidanCaruso

add name to createStaticResourceDigest
  packages/editor/src/panels/files/helpers.tsx
Owners: @dinomut1, @aditya-mitra

fix(IR-4586): showing error on profile username when is greater than 60 characters
  packages/client-core/i18n/en/user.json
  packages/client-core/src/user/components/UserMenu/menus/ProfileMenu.tsx
  packages/common/src/constants/UserConstants.ts
  packages/common/src/schemas/user/user.schema.ts
Owners: @aditya-mitra, @HexaField

remove old paginated list
  packages/editor/src/components/layout/PaginatedList.tsx
  packages/ui/src/components/editor/properties/particle/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

rename skybox from ee_skybox to ir_skybox
  packages/projects/default-project/public/scenes/apartment.gltf
  packages/projects/default-project/public/scenes/default.gltf
  packages/projects/default-project/public/scenes/sky-station.gltf
Owners: @HexaField

GLTF loader load mesh test
  packages/engine/src/gltf/GLTFDocumentState.ts
  packages/engine/src/gltf/GLTFLoader.test.tsx
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

removed the onSet, since it is no longer needed
  packages/engine/src/scene/components/VideoComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Michael/ir 4423 image alpha cutoff (#293)
  packages/client-core/src/common/components/InputSlider/index.tsx
  packages/ui/src/components/editor/properties/image/sourceProperties/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Based off int
  packages/editor/src/systems/ClickPlacementSystem.tsx
  packages/engine/src/assets/loaders/gltf/GLTFLoader.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/scene/components/ErrorComponent.ts
  packages/engine/src/scene/components/ModelComponent.tsx
Owners: @dinomut1, @aditya-mitra, @MichaelEstes, @speigg, @AidanCaruso, @CITIZENDOT

tst: Typo and todo notes fixes at `PhysicsSystem.test.ts`
  packages/spatial/src/physics/systems/PhysicsSystem.test.ts
Owners: @heysokam

fmt: Reword `cull` to `shouldNotCull` to better represent its behavior
  packages/spatial/src/transform/systems/TransformSystem.ts
Owners: @SamMazerIR

fmt: Prefix module scoped variables with `_` at `TransformSystem.ts`
  packages/spatial/src/transform/systems/TransformSystem.ts
Owners: @SamMazerIR

tst: Unit Tests for `TransformSystem.ts` (phase 1)
  packages/spatial/src/transform/systems/TransformSystem.test.ts
Owners: @SamMazerIR

tst: Unit Tests for `SpawnPoseState.ts` (phase 0)
  packages/spatial/src/transform/SpawnPoseState.test.tsx
Owners: @SamMazerIR

Turn non-resource file-browser URLs into cacheDomain URLs
  packages/server-core/src/media/file-browser/file-browser.class.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

wip gltf node editor
  packages/editor/src/services/ComponentEditors.tsx
  packages/editor/src/services/ComponentShelfCategoriesState.ts
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
Owners: @dinomut1, @aditya-mitra, @AidanCaruso

tweak to import stuff
  packages/instanceserver/tests/InstanceLoad.test.ts
  packages/server-core/src/appconfig.ts
  packages/server-core/src/createApp.ts
  packages/server-core/src/updateAppConfig.ts
  packages/taskserver/src/index.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

tweaks
  packages/client-core/src/transports/p2p/PeerToPeerNetworkState.tsx
Owners: @aditya-mitra

Fix channel resolver not working for get method
  packages/server-core/src/social/channel/channel.resolvers.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

hot-fix broken image link in preview (#300)
  packages/ui/src/components/editor/input/Image/Preview/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add name to createStaticResourceDigest (#338)
  packages/editor/src/panels/files/helpers.tsx
Owners: @dinomut1, @aditya-mitra

Fix channel resolver not working for get method (#342)
  packages/server-core/src/social/channel/channel.resolvers.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Refactor getCoilSetting to getEngineSetting and accept a category parameter
  packages/client/scripts/getEngineSettings.ts
  packages/client/vite.config.ts
Owners: @barankyle, @aditya-mitra

Refactor import path for engineSettingPath in getEngineSettings.ts
  packages/client/scripts/getEngineSettings.ts
Owners: @barankyle, @aditya-mitra

Migrate mailchimp settings to engine settings
  packages/client-core/src/admin/components/settings/tabs/mailchimp.tsx
  packages/common/src/constants/EngineSettings.ts
  packages/common/src/schema.type.module.ts
  packages/common/src/schemas/setting/engine-setting.schema.ts
  packages/common/src/schemas/setting/mailchimp-setting.schema.ts
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
  packages/server-core/src/setting/engine-setting/migrations/20240927090918_merge-mailchimp-setting.ts
  packages/server-core/src/setting/mailchimp-setting/mailchimp-setting.class.ts
  packages/server-core/src/setting/mailchimp-setting/mailchimp-setting.docs.ts
  packages/server-core/src/setting/mailchimp-setting/mailchimp-setting.hooks.ts
  packages/server-core/src/setting/mailchimp-setting/mailchimp-setting.resolvers.ts
  packages/server-core/src/setting/mailchimp-setting/mailchimp-setting.seed.ts
  packages/server-core/src/setting/mailchimp-setting/mailchimp-setting.ts
  packages/server-core/src/setting/mailchimp-setting/migrations/20240817160833_mailchimp-keys.ts
  packages/server-core/src/setting/mailchimp-setting/migrations/20240918171647_mailchimpGroupId.ts
  packages/server-core/src/setting/seeder-config.ts
  packages/server-core/src/setting/service.ts
Owners: @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

Updated variable names
  packages/client/scripts/getEngineSettings.ts
Owners: @barankyle, @aditya-mitra

Updated api call
  packages/client/scripts/getEngineSettings.ts
  packages/client/vite.config.ts
Owners: @barankyle, @aditya-mitra

IR-4714 Merge coil setting to engine settings (#312)
  packages/client/scripts/getCoilSettings.ts
  packages/client/scripts/getEngineSettings.ts
  packages/client/vite.config.ts
  packages/common/src/constants/EngineSettings.ts
  packages/common/src/schema.type.module.ts
  packages/common/src/schemas/setting/coil-setting.schema.ts
  packages/common/src/schemas/setting/engine-setting.schema.ts
  packages/server-core/src/setting/coil-setting/coil-setting.class.ts
  packages/server-core/src/setting/coil-setting/coil-setting.hooks.ts
  packages/server-core/src/setting/coil-setting/coil-setting.resolvers.ts
  packages/server-core/src/setting/coil-setting/coil-setting.seed.ts
  packages/server-core/src/setting/coil-setting/coil-setting.ts
  packages/server-core/src/setting/coil-setting/migrations/20230406131706_coil-setting.ts
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
  packages/server-core/src/setting/engine-setting/engine-setting.ts
  packages/server-core/src/setting/engine-setting/migrations/20240924111809_merge-coil-settings.ts
  packages/server-core/src/setting/seeder-config.ts
  packages/server-core/src/setting/service.ts
  packages/server-core/src/updateAppConfig.ts
Owners: @barankyle, @aditya-mitra, @HexaField, @MoizAdnan, @hanzlamateen, @hurairahmateen

Refactor engine setting update logic to include mailchimp category
  packages/server-core/src/setting/engine-setting/engine-setting.ts
  packages/server-core/src/updateAppConfig.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix toolbare style changes
  packages/editor/src/panels/files/toolbar.tsx
Owners: @dinomut1, @aditya-mitra

updated the name to just skybox
  packages/projects/default-project/public/scenes/apartment.gltf
  packages/projects/default-project/public/scenes/default.gltf
  packages/projects/default-project/public/scenes/sky-station.gltf
Owners: @HexaField

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
