Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

fix bug where compress on publish corrupts scene state and creates location to wrong scene
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

alternate approach, modify the SourceComponent on reparenting to support prefab updating. reverting prior approach
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/services/EditorHistoryState.tsx
  packages/engine/src/gltf/exportGLTFScene.ts
Owners: @SYBIOTE, @dinomut1, @aditya-mitra, @AidanCaruso, @MichaelEstes

updated the element list to allow for label remapping, so searching for "audio" with show an "audio" component, that is in fact the media component
  packages/editor/src/panels/properties/elementlist.tsx
Owners: @dinomut1, @aditya-mitra

ui polish for compressed publish
  packages/client-core/src/admin/components/locations/CompressedPublishConfirmation.tsx
Owners: @hanzlamateen

also update UUID and include test for reparent entity across sources
  packages/editor/src/functions/EditorControlFunctions.test.tsx
  packages/editor/src/functions/EditorControlFunctions.ts
Owners: @SYBIOTE

remove text
  packages/client-core/src/admin/components/locations/CompressedPublishConfirmation.tsx
Owners: @hanzlamateen

update text
  packages/client-core/src/admin/components/locations/CompressedPublishConfirmation.tsx
Owners: @hanzlamateen

fix extra share menu padding on qrcode
  packages/client-core/src/user/menus/ShareMenu.tsx
Owners: @aditya-mitra

use 24x24 icons instead of 20 on avatar menus
  packages/client-core/src/user/menus/avatar/AvatarCreatorMenu.tsx
  packages/client-core/src/user/menus/avatar/AvatarSelectMenu.tsx
Owners: @aditya-mitra

Viewer improvements
  packages/client-core/src/user/menus/EmoteMenu.tsx
  packages/client-core/src/user/menus/ProfileMenu.tsx
Owners: @aditya-mitra

add logout modal
  packages/client-core/i18n/en/user.json
  packages/client-core/src/user/menus/ProfileMenu.tsx
Owners: @aditya-mitra

share menu button for on desktop
  packages/client-core/src/user/menus/ShareMenu.tsx
Owners: @aditya-mitra

fix unread messages badge
  packages/client-core/src/user/InstanceChat.tsx
Owners: @aditya-mitra

Improve button styles, modal dimensions and icons
  packages/client-core/src/user/VideoWindows/index.tsx
  packages/client-core/src/user/menus/avatar/AvatarSelectMenu.tsx
  packages/client-core/src/user/menus/avatar/DiscardAvatarChangesMenu.tsx
Owners: @aditya-mitra

fix naming issues at the moment to create new folder
  packages/common/src/regex/index.ts
  packages/common/src/utils/cleanFileName.test.ts
  packages/common/src/utils/cleanFileName.ts
  packages/server-core/src/media/FileUtil.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix test
  packages/server-core/src/media/FileUtil.test.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix tests
  packages/common/src/regex/index.ts
  packages/common/src/utils/cleanFileName.test.ts
  packages/common/src/utils/cleanFileName.ts
  packages/server-core/src/media/FileUtil.test.ts
  packages/server-core/src/media/FileUtil.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix rpm creation hanging, subsequent crashing
  packages/client-core/src/common/components/AvatarPreview/index.tsx
Owners: @aditya-mitra

fix some errors with envmaps
  packages/engine/src/scene/systems/EnvironmentSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

make text direction render right-to-left when set in Studio for native left-to-right languages.
  packages/engine/src/scene/components/TextComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

don't need the workaround because i fixed it properly
  packages/client-core/src/common/components/AvatarPreview/index.tsx
Owners: @aditya-mitra

Added support for mobile touch
  packages/engine/src/interaction/components/InteractableComponent.ts
Owners: @SamMazerIR, @speigg

Format
  packages/engine/src/gltf/GLTFComponent.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

fix test
  packages/common/src/regex/index.ts
Owners: @HexaField

peer to peer fixes
  packages/client-core/src/transports/p2p/PeerToPeerNetworkState.tsx
  packages/common/src/utils/FeathersHooks.tsx
Owners: @aditya-mitra, @HexaField

register enclosing scene as modified to properly capture deltas in scene save
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/services/EditorServices.ts
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

fix memory leak wot i did
  packages/engine/src/scene/systems/EnvironmentSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix merge error
  packages/engine/src/scene/systems/EnvironmentSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

updated the seenResources when a file has been deleted
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
  packages/editor/src/panels/files/modals/DeleteFileModal.tsx
Owners: @aditya-mitra, @dinomut1

avatar animation network error
  packages/engine/src/avatar/animation/AvatarAnimationGraph.ts
Owners: @AidanCaruso

ensure cached actions properly agent centric
  packages/network/src/webrtc/WebRTCPeerConnection.tsx
Owners: @speigg

format
  packages/engine/src/avatar/animation/AvatarAnimationGraph.ts
Owners: @AidanCaruso

Fixed shadow, keyboard breaking display, touchpad disappearing
  packages/client-core/src/components/ViewerInteractions/index.tsx
  packages/engine/src/avatar/functions/spawnAvatarReceptor.ts
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/scene/systems/ShadowSystem.tsx
  packages/spatial/src/xr/XRState.ts
Owners: @aditya-mitra, @AidanCaruso, @MichaelEstes, @dinomut1, @speigg, @CITIZENDOT, @MbfloydIR, @SamMazerIR

fix icons
  packages/client-core/src/user/components/LocationIconButton.tsx
Owners: @aditya-mitra

auto select new avatar is no user-avatar entry found for self
  packages/client-core/src/networking/AvatarSpawnSystem.tsx
Owners: @aditya-mitra

fixed deleting an asset not updating the asset list ui
  packages/editor/src/panels/assets/resources.tsx
  packages/editor/src/panels/files/modals/DeleteFileModal.tsx
Owners: @dinomut1, @aditya-mitra

format
  packages/client-core/src/user/components/LocationIconButton.tsx
  packages/engine/src/avatar/functions/spawnAvatarReceptor.ts
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/spatial/src/xr/XRState.ts
Owners: @aditya-mitra, @AidanCaruso, @MichaelEstes, @dinomut1, @speigg, @MbfloydIR, @SamMazerIR

fixed issue with resource item's name not showing ( wrong color). fixed issue with the thumbnail not updating when uploading a gltf
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

make want to chat with others and age verify behind chat and closable
  packages/client-core/src/user/InstanceChat.tsx
Owners: @aditya-mitra

comment out screenshare and risky buttons
  packages/client-core/src/components/MediaIconsBox/index.tsx
Owners: @aditya-mitra

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
