Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

remove link between viewer transform and scene preview camera transform
  packages/engine/src/scene/components/ScenePreviewCamera.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Don't allow overriding of children with their own EnvMap Comp and add needsUpdate
  packages/engine/src/scene/components/EnvmapComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix dithering root reference errors
  packages/engine/src/avatar/systems/AvatarTransparencySystem.tsx
Owners: @AidanCaruso

replace engine camera manipulation from moving scene preview camera gizmo
  packages/engine/src/scene/components/ScenePreviewCamera.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Fixed bug in Google
  packages/server-core/src/user/strategies/custom-oauth.ts
  packages/server-core/src/user/strategies/google.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

errors
  packages/spatial/src/transform/components/BoundingBoxComponents.test.ts
  packages/spatial/src/transform/components/BoundingBoxComponents.ts
  packages/spatial/src/transform/systems/TransformSystem.test.ts
Owners: @SamMazerIR

Remove source component createSceneEntity, accurate GLTF loading determination
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/scene/functions/createSceneEntity.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @speigg, @CITIZENDOT

format
  packages/spatial/src/transform/components/BoundingBoxComponents.test.ts
  packages/spatial/src/transform/components/BoundingBoxComponents.ts
  packages/spatial/src/transform/systems/TransformSystem.test.ts
Owners: @SamMazerIR

WIP
  packages/editor/src/functions/addMediaNode.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/importGLTFScene.ts
Owners: @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1

fix loading spinner and remove console logs
  packages/engine/src/gltf/GLTFState.tsx
  packages/engine/src/scene/functions/addMesh.ts
  packages/engine/src/scene/functions/spatialLoadingSpinner.ts
  packages/spatial/src/input/functions/ClientInputHeuristics.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @speigg, @CITIZENDOT, @heysokam, @SamMazerIR

clean up armature hierarchies after retargeting
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
Owners: @AidanCaruso

remove helm schema
  packages/common/src/schemas/setting/helm-setting.schema.ts
Owners: @HexaField

Update packages/server-core/src/projects/project/project-helper.ts
  packages/server-core/src/projects/project/project-helper.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

code refactor
  scripts/fetch-helm-versions.ts
Owners: @barankyle, @hanzlamateen, @DanielBelmes

correct button usage in client core
  packages/client-core/src/common/components/Avatar/Avatar2.tsx
  packages/client-core/src/common/components/ProfilePill/index.tsx
  packages/client-core/src/components/Debug/DebugButtons.tsx
  packages/client-core/src/components/Debug/StatsPanel.tsx
  packages/client-core/src/components/Debug/SystemDebug.tsx
  packages/client-core/src/components/InviteToast/InviteSnackbarActions.tsx
  packages/client-core/src/components/modals/UnsupportedBrowser.tsx
  packages/client-core/src/user/components/Oauth/ErrorPage.tsx
  packages/client-core/src/user/components/UserMenu/menus/AvatarCreatorMenu2.tsx
  packages/client-core/src/user/components/UserMenu/menus/AvatarSelectMenu2.tsx
  packages/client-core/src/user/components/UserMenu/menus/DiscardAvatarChangesModal.tsx
Owners: @aditya-mitra

Fix Project Modal style
  packages/client-core/src/admin/components/project/AddEditProjectModal.tsx
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @hanzlamateen, @aditya-mitra, @SYBIOTE, @CITIZENDOT

refactor gizmo into entity hierarchy
  packages/editor/src/classes/gizmo/camera/CameraGizmoVisualComponent.ts
  packages/editor/src/classes/gizmo/transform/TransformGizmoControlComponent.ts
  packages/editor/src/classes/gizmo/transform/TransformGizmoControlledComponent.ts
  packages/editor/src/classes/gizmo/transform/TransformGizmoVisualComponent.ts
  packages/editor/src/constants/GizmoPresets.ts
  packages/editor/src/functions/cameraGizmoHelper.ts
  packages/editor/src/functions/transformGizmoHelper.ts
  packages/engine/src/scene/constants/transformConstants.ts
  packages/engine/src/scene/systems/ShadowSystem.tsx
  packages/spatial/src/renderer/components/ObjectComponent.ts
  packages/spatial/src/transform/components/EntityTree.test.tsx
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra, @speigg, @CITIZENDOT, @AidanCaruso, @DanielBelmes, @MichaelEstes, @SamMazerIR

remove console log
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

Updated scopes
  packages/server-core/src/user/identity-provider/identity-provider.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

more button uniformity in editor package
  packages/client-core/src/common/components/Avatar/Avatar2.tsx
  packages/client-core/src/common/components/ProfilePill/index.tsx
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/components/assets/ImageCompressionPanel.tsx
  packages/editor/src/components/assets/ModelCompressionPanel.tsx
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
  packages/editor/src/components/projects/EditorNavbarProfile.tsx
  packages/editor/src/components/projects/ProjectsPage.tsx
  packages/editor/src/components/toolbar/Toolbar.tsx
  packages/ui/src/primitives/tailwind/Button/index.tsx
Owners: @aditya-mitra, @dinomut1, @SYBIOTE, @CITIZENDOT

Updated method name
  packages/server-core/src/user/identity-provider/identity-provider.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

do not show settings components if already present
  packages/editor/src/panels/properties/elementlist.tsx
Owners: @dinomut1, @aditya-mitra

allow removal of settings components
  packages/ui/src/components/editor/ComponentDropdown/index.tsx
  packages/ui/src/components/editor/properties/cameraProperties/index.tsx
  packages/ui/src/components/editor/properties/scene/settings/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Finish Select designs
  packages/ui/src/primitives/tailwind/Input/index.tsx
  packages/ui/src/primitives/tailwind/Select/index.stories.tsx
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Added more stories
  packages/ui/src/primitives/tailwind/Select/index.stories.tsx
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

remove console log
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Add helperText & error/success state
  packages/ui/src/primitives/tailwind/Select/index.stories.tsx
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

dont display helperText when dropdown is open
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Move set avatar speed to the animation reactor
  packages/engine/src/avatar/functions/avatarFunctions.ts
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
Owners: @AidanCaruso

The "compressImage" function in ImageCompressionPanel is now in assetFunctions, and is used by the handleUploadFiles function to compress uploaded images if the corresponding import setting is true
  packages/editor/src/components/assets/ImageCompressionPanel.tsx
  packages/editor/src/functions/assetFunctions.ts
  packages/engine/src/assets/constants/CompressionParms.ts
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @MichaelEstes, @speigg

Trimming job names to make sure they do not exceed k8s limits
  packages/server-core/src/k8s-job-helper.ts
  packages/server-core/src/projects/project/project-helper.ts
  packages/server-core/src/user/github-repo-access-refresh/github-repo-access-refresh.class.ts
  scripts/update-cronjob-image.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra, @DanielBelmes

unload snapshot on source change
  packages/engine/src/gltf/GLTFComponent.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

UUID replacement cleanup
  packages/editor/src/functions/addMediaNode.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/gltfUtils.ts
Owners: @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1

fix bug translating threejs gltf loader code from mesh geometry attributes to primitive definition
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

ensure thumbnail resets on scene switch
  packages/editor/src/services/SceneThumbnailState.tsx
Owners: @dinomut1, @aditya-mitra

updated the condition to prevent the shadow component from being removed from the primitive Geo
  packages/engine/src/scene/systems/SceneObjectSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

tst: Add `mockEmulatedXREngine` from the XR Unit Tests branch
  packages/spatial/tests/util/mockEmulatedXREngine.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

tst: Cleanup the `webxr-emulator.test.ts` file imports
  packages/spatial/tests/webxr/webxr-emulator.test.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

tst: Separate Unit Tests from Engine imports to prevent cyclic deps
  packages/spatial/tests/util/MockEngineRenderer.ts
  packages/spatial/tests/util/mockEmulatedXREngine.ts
  packages/spatial/tests/util/mockSpatialEngine.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

tst: Remove deep import of `WebGLRenderer` in MockEngineRenderer
  packages/spatial/tests/util/MockEngineRenderer.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR
