Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

prevent cleaning on emppty paths
  packages/common/src/utils/cleanFileName.ts
Owners: @HexaField

replace Input occurences
  packages/client-core/src/admin/components/avatar/AddEditAvatarModal.tsx
  packages/client-core/src/admin/components/avatar/index.tsx
  packages/client-core/src/admin/components/channel/AddEditChannelModal.tsx
  packages/client-core/src/admin/components/channel/index.tsx
  packages/client-core/src/admin/components/instance/PatchServerModal.tsx
  packages/client-core/src/admin/components/instance/index.tsx
  packages/client-core/src/admin/components/invites/AddEditInviteModal.tsx
  packages/client-core/src/admin/components/invites/index.tsx
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/client-core/src/admin/components/locations/index.tsx
  packages/client-core/src/admin/components/project/AddEditProjectModal.tsx
  packages/client-core/src/admin/components/project/ManageUserPermissionModal.tsx
  packages/client-core/src/admin/components/project/build-status/BuildStatusLogsModal.tsx
  packages/client-core/src/admin/components/recordings/index.tsx
  packages/client-core/src/admin/components/resources/AddEditResourceModal.tsx
  packages/client-core/src/admin/components/resources/index.tsx
  packages/client-core/src/admin/components/settings/tabs/authentication.tsx
  packages/client-core/src/admin/components/settings/tabs/aws.tsx
  packages/client-core/src/admin/components/settings/tabs/client.tsx
  packages/client-core/src/admin/components/settings/tabs/email.tsx
  packages/client-core/src/admin/components/settings/tabs/instanceServer.tsx
  packages/client-core/src/admin/components/settings/tabs/mailchimp.tsx
  packages/client-core/src/admin/components/settings/tabs/metabase.tsx
  packages/client-core/src/admin/components/settings/tabs/project.tsx
  packages/client-core/src/admin/components/settings/tabs/redis.tsx
  packages/client-core/src/admin/components/settings/tabs/server.tsx
  packages/client-core/src/admin/components/settings/tabs/taskServer.tsx
  packages/client-core/src/admin/components/settings/tabs/zendesk.tsx
  packages/client-core/src/admin/components/user/AddEditUserModal.tsx
  packages/client-core/src/admin/components/user/index.tsx
  packages/client-core/src/components/Debug/EntityDebug.tsx
  packages/client-core/src/components/Debug/StateDebug.tsx
  packages/client-core/src/user/components/UserMenu/menus/AvatarCreatorMenu2.tsx
  packages/ui/src/components/editor/input/Array/index.tsx
  packages/ui/src/components/editor/input/String/index.tsx
  packages/ui/src/components/tailwind/SearchBar/index.tsx
  packages/ui/src/primitives/tailwind/Accordion/index.stories.tsx
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @hanzlamateen, @aditya-mitra, @SYBIOTE, @CITIZENDOT

define file path in newly constructed cleaned files
  packages/common/src/utils/cleanFileName.ts
Owners: @HexaField

move className to <input /> prop
  packages/ui/src/primitives/tailwind/Input/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

remove className prop
  packages/ui/src/primitives/tailwind/Input/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

remove unused props in other modules
  packages/ui/src/components/editor/input/String/index.tsx
  packages/ui/src/components/editor/properties/text/box/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

changing to a set(none) as I didn't realize this deletes the entry and not just the value of a key/value pair
  packages/engine/src/interaction/functions/MountPointActions.ts
Owners: @SamMazerIR, @speigg

refactoring from record to Map for lookup times
  packages/engine/src/interaction/functions/MountPointActions.ts
Owners: @SamMazerIR, @speigg

Revert "refactoring from record to Map for lookup times"
  packages/engine/src/interaction/functions/MountPointActions.ts
Owners: @SamMazerIR, @speigg

reverting to records and fixing an issue
  packages/engine/src/interaction/functions/MountPointActions.ts
  packages/engine/src/scene/components/MountPointComponent.ts
Owners: @SamMazerIR, @speigg, @dinomut1, @CITIZENDOT, @AidanCaruso

Remove manual chunking of node_modules
  packages/client/vite.config.ts
Owners: @barankyle, @aditya-mitra

Remove manual chunking of node_modules
  packages/client/vite.config.ts
Owners: @barankyle, @aditya-mitra

fix mock renderer for xr
  packages/spatial/tests/util/MockEngineRenderer.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

remove className prop
  packages/client-core/src/admin/components/invites/AddEditInviteModal.tsx
  packages/client-core/src/admin/components/settings/tabs/authentication.tsx
  packages/client-core/src/admin/components/settings/tabs/aws.tsx
  packages/client-core/src/admin/components/settings/tabs/client.tsx
  packages/client-core/src/admin/components/settings/tabs/email.tsx
  packages/client-core/src/admin/components/settings/tabs/instanceServer.tsx
  packages/client-core/src/admin/components/settings/tabs/mailchimp.tsx
  packages/client-core/src/admin/components/settings/tabs/metabase.tsx
  packages/client-core/src/admin/components/settings/tabs/redis.tsx
  packages/client-core/src/admin/components/settings/tabs/taskServer.tsx
  packages/client-core/src/admin/components/settings/tabs/zendesk.tsx
  packages/client-core/src/user/components/UserMenu/menus/AvatarCreatorMenu2.tsx
  packages/client-core/src/user/components/UserMenu/menus/AvatarSelectMenu2.tsx
  packages/ui/src/components/tailwind/SearchBar/index.tsx
  packages/ui/src/primitives/tailwind/MultiEmailInput/index.tsx
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @hanzlamateen, @aditya-mitra, @SYBIOTE, @CITIZENDOT

remove className prop
  packages/ui/src/components/editor/input/Array/index.tsx
  packages/ui/src/components/editor/properties/gltf/transform/index.tsx
  packages/ui/src/components/editor/properties/playlist/index.tsx
  packages/ui/src/components/editor/properties/trigger/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

remove className props
  packages/editor/src/components/assets/ImageCompressionPanel.tsx
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
  packages/editor/src/components/dialogs/ImportSettingsPanelDialog.tsx
  packages/editor/src/components/dialogs/SaveSceneDialog.tsx
  packages/editor/src/components/properties/GLTFTransformProperties.tsx
  packages/editor/src/panels/files/modals/RenameFileModal.tsx
  packages/editor/src/panels/files/toolbar.tsx
  packages/editor/src/panels/hierarchy/hierarchytree.tsx
  packages/editor/src/panels/visualscript/node/picker.tsx
  packages/editor/src/panels/visualscript/sidepanel.tsx
Owners: @dinomut1, @aditya-mitra

remove mailchimp form core-engine
  packages/server-core/src/appconfig.ts
  packages/server-core/src/setting/engine-setting/engine-setting.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

remove mailchimp from admin.json
  packages/client-core/i18n/en/admin.json
Owners: @aditya-mitra

remove unused props
  packages/editor/src/panels/assets/topbar.tsx
  packages/editor/src/panels/scenes/RenameSceneModal.tsx
Owners: @dinomut1, @aditya-mitra

refactor engien setting schema
  packages/common/src/schemas/setting/engine-setting.schema.ts
Owners: @HexaField

change category type to string in engine setting schema
  packages/common/src/schemas/setting/engine-setting.schema.ts
Owners: @HexaField

Add back shadow material for not visible
  packages/engine/src/scene/components/GroundPlaneComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Update user created prefab file extension
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
Owners: @dinomut1, @aditya-mitra

fmt: Redundant `getOptionalComponent` at `TransformSystem.execute`
  packages/spatial/src/transform/systems/TransformSystem.ts
Owners: @SamMazerIR

tst: Fix BoundingBox+Frustum setup at `TransformSystem.execute` tests
  packages/spatial/src/transform/systems/TransformSystem.test.ts
Owners: @SamMazerIR

Adjusted addLastLogin to account for paginated results
  packages/server-core/src/user/user/user.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

rmv: Function `filterParentEntities`, not used anywhere
  packages/spatial/src/transform/components/EntityTree.test.tsx
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @SamMazerIR

fmt: Refactor `findCommonAncestors` and Rename to its actual behavior
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/spatial/src/transform/components/EntityTree.test.tsx
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @SYBIOTE, @SamMazerIR

WHY THREEJS WHY?!?! fixing a bug that was apparently new behavior for Sphere().setFromPoints calculating a center.....
  packages/spatial/src/camera/functions/CameraFunctions.ts
Owners: @DanielBelmes, @SamMazerIR, @speigg

fix user table
  packages/client-core/src/admin/components/user/UserTable.tsx
Owners: @hanzlamateen

fix tsc errors
  packages/server-core/src/user/user/user.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix avatar collider
  packages/engine/src/avatar/functions/spawnAvatarReceptor.ts
Owners: @AidanCaruso

Add projectId population logic to locationPatchResolver
  packages/server-core/src/social/location/location.resolvers.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Add formatDateToMMDDYY function to format timestamp to MM/DD/YY format
  packages/common/src/utils/datetime-sql.ts
Owners: @HexaField

address suggestions and remove commented code
  packages/common/src/schemas/user/user-avatar.schema.ts
  packages/server-core/src/user/user-avatar/user-avatar.resolvers.ts
  packages/server-core/src/user/user/user.resolvers.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

revert user avatar schema optional avatar
  packages/common/src/schemas/user/user-avatar.schema.ts
Owners: @HexaField

Stop overwriting non-authority rigidbodies
  packages/spatial/src/physics/classes/Physics.ts
Owners: @heysokam

add migration for droping mailchimp table
  packages/server-core/src/setting/engine-setting/migrations/20240927093810_drop-mailchimp-setting-table.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

types
  packages/engine/src/scene/components/EnvmapComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Update for release branch merge
  packages/engine/src/scene/components/EnvmapComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
