Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

Images were appearing white because their materials weren't marked for update. Fixed infinite rerender
  packages/editor/src/functions/addMediaNode.ts
  packages/engine/src/scene/components/ImageComponent.ts
Owners: @SYBIOTE, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix bug with file name clean function replacing the first space with an underscore
  packages/common/src/utils/cleanFileName.test.ts
  packages/common/src/utils/cleanFileName.ts
  packages/server-core/src/media/static-resource/static-resource-helper.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix test
  packages/editor/src/functions/EditorControlFunctions.test.tsx
Owners: @SYBIOTE

Fixed bugs in changing avatars
  packages/projects/default-project/projectEventHooks.ts
  packages/projects/default-project/resources.json
  packages/server-core/src/user/avatar/avatar.hooks.ts
  packages/server-core/src/util/updateAvatarRecords.ts
  scripts/install-projects.js
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra, @DanielBelmes

get it mergeable
  packages/client-core/src/hooks/useRender3DPanelSystem.tsx
  packages/editor/src/functions/EditorControlFunctions.test.tsx
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/panels/materials/materialpreviewer.tsx
  packages/editor/src/panels/properties/materialeditor.tsx
  packages/engine/src/assets/compression/extensions/EE_MaterialTransformer.ts
  packages/engine/src/assets/exporters/gltf/extensions/EEMaterialExporterExtension.ts
  packages/engine/src/assets/loaders/gltf/extensions/EEMaterialImporterExtension.ts
  packages/engine/src/gltf/exportGLTFScene.test.tsx
  packages/engine/src/gltf/exportGLTFScene.ts
  packages/engine/src/scene/materials/systems/MaterialLibrarySystem.tsx
  packages/spatial/src/renderer/materials/MaterialComponent.test.ts
  packages/spatial/src/renderer/materials/MaterialComponent.tsx
  packages/spatial/src/renderer/materials/materialFunctions.test.ts
  packages/spatial/src/renderer/materials/materialFunctions.ts
  packages/spatial/src/resources/ResourceState.tsx
Owners: @jose-galvan, @SYBIOTE, @dinomut1, @aditya-mitra, @MichaelEstes, @speigg, @AidanCaruso, @CITIZENDOT, @DanielBelmes

undo comment
  packages/client-core/src/hooks/useRender3DPanelSystem.tsx
Owners: @jose-galvan

motionBlur working, temp disabling textureEffect as it freezes the engine and is not a priority
  packages/engine/src/postprocessing/MotionBlurEffect.tsx
  packages/engine/src/postprocessing/PopulateEffectRegistry.tsx
Owners: @DanielBelmes, @MbfloydIR

also disabling shockwaveEffect
  packages/engine/src/postprocessing/PopulateEffectRegistry.tsx
Owners: @DanielBelmes, @MbfloydIR

wip - refactoring particle system and dependents
  packages/editor/src/functions/addMediaNode.ts
  packages/ui/src/components/editor/input/Behavior/index.tsx
  packages/ui/src/components/editor/input/Generator/Color/index.tsx
  packages/ui/src/components/editor/input/Generator/Rotation/index.tsx
  packages/ui/src/components/editor/input/Generator/Value/index.tsx
  packages/ui/src/components/editor/properties/particle/index.tsx
Owners: @SYBIOTE, @aditya-mitra, @CITIZENDOT

deprecate update properties
  packages/editor/src/components/properties/Util.ts
Owners: @dinomut1, @aditya-mitra

add more suspense boundaries to editor entity properties
  packages/editor/src/panels/properties/propertyeditor.tsx
Owners: @dinomut1, @aditya-mitra

cleanup previewer
  packages/editor/src/panels/materials/materialpreviewer.tsx
Owners: @dinomut1, @aditya-mitra

undo comment
  packages/engine/src/assets/compression/extensions/EE_MaterialTransformer.ts
Owners: @MichaelEstes, @dinomut1, @speigg

Fix onClickOutside logic
  packages/client-core/src/common/services/PopoverState.tsx
  packages/ui/src/primitives/tailwind/PopupMenu/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

replace mousedown with click
  packages/ui/src/primitives/tailwind/ClickawayListener/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Remove label inside prop
  packages/ui/src/components/editor/ComponentDropdown/index.tsx
  packages/ui/src/components/editor/properties/video/index.tsx
  packages/ui/src/primitives/tailwind/Input/index.tsx
  packages/ui/src/primitives/tailwind/Select/index.stories.tsx
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Remove direction prop in dropdowns
  packages/client-core/src/admin/components/project/AddEditProjectModal.tsx
  packages/client-core/src/admin/components/project/UpdateEngineModal.tsx
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @hanzlamateen, @aditya-mitra, @SYBIOTE, @CITIZENDOT

stop propagation from onMouseDown event (not onClick)
  packages/ui/src/components/editor/DropdownItem/index.tsx
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

revert to listening for mousedown event
  packages/ui/src/primitives/tailwind/ClickawayListener/useClickaway.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

listen for mousedown event (not onClick)
  packages/ui/src/primitives/tailwind/ClickawayListener/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

disable all realism effects
  packages/engine/src/postprocessing/PopulateEffectRegistry.tsx
Owners: @DanielBelmes, @MbfloydIR

set open to false when modal close
  packages/client-core/src/user/UserUISystem.tsx
  packages/client-core/src/user/menus/avatar/EmbedFrame.tsx
Owners: @aditya-mitra

use filebrowser input instead of string input
  packages/ui/src/components/editor/properties/overlay/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

format
  packages/engine/src/postprocessing/PopulateEffectRegistry.tsx
Owners: @DanielBelmes, @MbfloydIR

Add user feedback when dropping assets
  packages/ui/src/components/editor/input/FileBrowser/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Create reusable options menu
  packages/editor/src/panels/scenes/SceneItem.tsx
  packages/ui/src/components/tailwind/MoreOptionsMenu/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

add license
  packages/engine/src/gltf/NodeFunctions.ts
  packages/server-core/src/util/updateAvatarRecords.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

feat: added ToS & Assistance Link to client settings
  packages/client-core/i18n/en/admin.json
  packages/client-core/src/admin/components/settings/tabs/client.tsx
  packages/common/src/schemas/setting/client-setting.schema.ts
  packages/server-core/src/setting/client-setting/client-setting.seed.ts
  packages/server-core/src/setting/client-setting/migrations/20250217175102_termsOfServiceAndAssitance.ts
Owners: @aditya-mitra, @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen

readd url parse
  packages/engine/src/assets/functions/resourceLoaderHooks.ts
Owners: @MichaelEstes, @dinomut1, @speigg

fix merge regresson
  packages/engine/src/scene/functions/GLTFConversion.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix incorrect splicing for rendering entities
  packages/engine/src/gltf/GLTFState.tsx
  packages/engine/src/scene/systems/ShadowSystem.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @speigg, @CITIZENDOT

cleanup
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

add loading to thumbnail gen
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/ui/src/components/editor/Modal/AddEditLocationModalStudioSections.tsx
Owners: @hanzlamateen, @aditya-mitra, @SYBIOTE, @CITIZENDOT

close context menu on unpublish
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

fix absolute positions
  packages/client-core/src/user/menus/ProfileMenu.tsx
  packages/client-core/src/user/menus/SettingsMenu.tsx
  packages/client-core/src/user/menus/social/FriendsMenu.tsx
Owners: @aditya-mitra

update change of ecs
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

move toogle to icon
  packages/ui/src/components/editor/ComponentDropdown/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix issue of set sourcecomponent
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

readd on click to button
  packages/ui/src/components/editor/ComponentDropdown/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

remove createpublishfolder
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/editor/src/panels/files/helpers.tsx
Owners: @hanzlamateen, @dinomut1, @aditya-mitra
