Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

gltfcomponent fix
  packages/engine/src/gltf/GLTFComponent.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

updated the shadow system to recreate the csm on cascades update
  packages/engine/src/scene/systems/ShadowSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

adding prefab name validation and i18n to save prefab modal
  packages/client-core/i18n/en/editor.json
  packages/common/src/constants/FeatureFlags.ts
  packages/editor/src/components/dialogs/SavePrefabDialog.tsx
Owners: @aditya-mitra, @HexaField, @dinomut1

fix material properties never populating
  packages/editor/src/panels/properties/materialeditor.tsx
Owners: @dinomut1, @aditya-mitra

fix(locations): dont display options when the select is disabled
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

remove redundant set
  packages/editor/src/panels/properties/materialeditor.tsx
Owners: @dinomut1, @aditya-mitra

ensure provide safe level value
  packages/server-core/src/cluster/logs-api/logs-api.class.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Resolved comments
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

resolve PR comments , add updatedBy field to moderation resolvers and hooks ,remove reportingUserId , and few other changes
  packages/client-core/src/admin/components/moderation/BanUsersModal.tsx
  packages/client-core/src/admin/components/moderation/ModerationBanContainer.tsx
  packages/client-core/src/admin/components/moderation/ModerationDetail.tsx
  packages/client-core/src/admin/components/moderation/ModerationTable.tsx
  packages/client-core/src/user/menus/ReportMenu.tsx
  packages/common/src/schemas/moderation/moderation-ban.schema.ts
  packages/common/src/schemas/moderation/moderation.schema.ts
  packages/server-core/src/moderation/moderation-attachment/migrations/20250206154015_moderation-attachement.ts
  packages/server-core/src/moderation/moderation-attachment/moderation-attachment.hooks.ts
  packages/server-core/src/moderation/moderation-attachment/moderation-attachment.resolvers.ts
  packages/server-core/src/moderation/moderation-ban/migrations/20250206154020_moderation-ban.ts
  packages/server-core/src/moderation/moderation-ban/moderation-ban.resolvers.ts
  packages/server-core/src/moderation/moderation-file-upload/moderation-file-upload.hooks.ts
  packages/server-core/src/moderation/moderation/migrations/20250206154010_moderation.ts
  packages/server-core/src/moderation/moderation/moderation.hooks.ts
  packages/server-core/src/moderation/moderation/moderation.resolvers.ts
  packages/server-core/src/moderation/moderation/moderation.test.ts
Owners: @hanzlamateen, @aditya-mitra, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen

replace abuseReasons with ABUSE_REASONS constant and update related components
  packages/client-core/src/admin/components/moderation/BanUsersModal.tsx
  packages/client-core/src/admin/components/moderation/ModerationBanContainer.tsx
  packages/client-core/src/user/VideoWindows/index.tsx
  packages/client-core/src/user/menus/ProfileMenu.tsx
  packages/client-core/src/user/menus/ReportMenu.tsx
  packages/common/src/constants/ModerationConstants.ts
  packages/common/src/schemas/moderation/moderation-ban.schema.ts
  packages/common/src/schemas/moderation/moderation.schema.ts
Owners: @hanzlamateen, @aditya-mitra, @HexaField

remove unused selfUser state
  packages/client-core/src/user/menus/ReportMenu.tsx
Owners: @aditya-mitra

fix broken test
  packages/spatial/src/renderer/components/lights/DirectionalLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/DirectionalLightComponent.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

fix two instances of obcs being lost
  packages/spatial/src/common/functions/OnBeforeCompilePlugin.ts
  packages/spatial/src/renderer/materials/materialFunctions.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR, @DanielBelmes

add early out
  packages/spatial/src/common/functions/OnBeforeCompilePlugin.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

fix properties not updating on prototype switch
  packages/editor/src/panels/properties/materialeditor.tsx
Owners: @dinomut1, @aditya-mitra

ensure no window scroll when focusing numerical input
  packages/ui/src/components/editor/input/Numeric/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

wipe image uri from newly created textures
  packages/common/src/model/ModelTransformFunctions.ts
Owners: @HexaField

allow image routing to projects outside of current one
  packages/engine/src/gltf/exportGLTFScene.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

optimize avatar preview logic
  packages/client-core/src/common/components/AvatarPreview/index.tsx
Owners: @aditya-mitra

update moderation table labels to use new translation keys
  packages/client-core/i18n/en/admin.json
  packages/client-core/src/admin/components/moderation/ModerationBanTable.tsx
Owners: @aditya-mitra, @hanzlamateen

fix envmaps
  packages/client-core/src/common/components/AvatarPreview/index.tsx
Owners: @aditya-mitra

update moderation tables to use new translation keys and improve column labels
  packages/client-core/i18n/en/admin.json
  packages/client-core/src/admin/components/moderation/ModerationBanTable.tsx
  packages/client-core/src/admin/components/moderation/ModerationTable.tsx
Owners: @aditya-mitra, @hanzlamateen

rename isPersonModeration to isUserModeration for clarity in ModerationDetail component
  packages/client-core/src/admin/components/moderation/ModerationDetail.tsx
Owners: @hanzlamateen

update test
  packages/engine/src/gltf/exportGLTFScene.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

update test
  packages/engine/src/gltf/exportGLTFScene.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

update test
  packages/engine/src/gltf/exportGLTFScene.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

update test
  packages/engine/src/gltf/exportGLTFScene.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

refactor moderation abuse reasons to use translation keys for improved localization
  packages/client-core/i18n/en/user.json
  packages/client-core/src/admin/components/moderation/BanUsersModal.tsx
  packages/client-core/src/admin/components/moderation/ModerationBanTable.tsx
  packages/client-core/src/admin/components/moderation/ModerationDetail.tsx
  packages/client-core/src/admin/components/moderation/ModerationTable.tsx
  packages/client-core/src/user/menus/ReportMenu.tsx
  packages/common/src/constants/ModerationConstants.ts
Owners: @aditya-mitra, @hanzlamateen, @HexaField

make moderationId optional in moderationBan schema for improved flexibility
  packages/common/src/schemas/moderation/moderation-ban.schema.ts
Owners: @HexaField

use constant for banReason in moderation ban test for consistency
  packages/server-core/src/moderation/moderation-ban/moderation-ban.test.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

use constant for abuseReason in moderation test for consistency
  packages/server-core/src/moderation/moderation/moderation.test.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix image drag and drop for envmaps
  packages/ui/src/components/editor/properties/envmap/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix color for dock panel btn
  packages/editor/src/components/EditorContainer.css
Owners: @dinomut1, @aditya-mitra

Add keyboard shortcuts for modal actions and improve accessibility
  packages/ui/src/primitives/tailwind/Modal/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Export IconComponent and integrate it into EntityEditor for improved entity name display
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
  packages/editor/src/panels/properties/propertyeditor.tsx
Owners: @dinomut1, @aditya-mitra

remove focus color
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

cleanup-mui
  package.json
  packages/client-core/src/common/components/common.module.scss
  packages/editor/src/components/assets/styles.module.scss
  packages/editor/src/components/layout/styles.module.scss
  packages/editor/src/components/projects/styles.module.scss
  packages/editor/src/components/styles.module.scss
Owners: @HexaField, @aditya-mitra, @dinomut1

ensure uuids are generated properly to avoid duplicates
  packages/editor/src/functions/addMediaNode.ts
Owners: @SYBIOTE

add back accidentally removed mark modified scene
  packages/editor/src/functions/addMediaNode.ts
Owners: @SYBIOTE

refocus input
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT
