Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

move useUserProjectPermission into hooks
  packages/client-core/src/hooks/useUserProjectPermission.tsx
  packages/client-core/src/user/components/UserMenu/index.module.scss
Owners: @jose-galvan, @aditya-mitra

fix: unstable reference to fetch in useFind
  packages/common/src/utils/FeathersHooks.tsx
Owners: @HexaField

wip
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/scene/components/EnvmapComponent.tsx
  packages/engine/src/scene/systems/EnvironmentSystem.tsx
  packages/spatial/src/renderer/WebGLRendererSystem.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @speigg, @CITIZENDOT, @DanielBelmes

fix: null validations
  packages/common/src/utils/FeathersHooks.tsx
Owners: @HexaField

added liquid code node editor and component
  packages/client-core/i18n/en/editor.json
  packages/editor/src/services/ComponentEditors.tsx
  packages/editor/src/services/ComponentShelfCategoriesState.ts
  packages/engine/src/scene/components/LiquidCodeComponent.ts
  packages/ui/src/components/editor/properties/liquidcode/index.tsx
Owners: @aditya-mitra, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @SYBIOTE

added media component element conditional check
  packages/engine/src/scene/components/MediaComponent.ts
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @aditya-mitra, @SYBIOTE

set liquid code on editor and use code as popup
  packages/client-core/src/user/components/UserMenu/menus/EmbedFrame.tsx
  packages/client-core/src/user/components/UserMenu/menus/ProfileMenu.tsx
  packages/engine/src/scene/components/LiquidCodeComponent.ts
  packages/ui/src/components/editor/properties/liquidcode/index.tsx
Owners: @aditya-mitra, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @SYBIOTE

pin aws deps (#945)
  package.json
  packages/server-core/package.json
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

rm agreeToRequiredPal il8n
  packages/client-core/i18n/en/user.json
Owners: @aditya-mitra

rm agreeToRequiredPal from user.json
  packages/client-core/i18n/en/user.json
Owners: @aditya-mitra

rm agreeToRequiredPal from user.json (#956)
  packages/client-core/i18n/en/user.json
Owners: @aditya-mitra

clean up callback
  packages/engine/src/scene/components/LiquidCodeComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

cleanup
  packages/engine/src/scene/components/LiquidCodeComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

corrected issue with the media component not existing yet causing the editor ui for the video Component crashing the studio
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

optimize dirty transforms to SoA (#951)
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/engine/src/avatar/functions/moveAvatar.ts
  packages/engine/src/avatar/functions/updateVRMRetargeting.ts
  packages/engine/src/avatar/systems/AvatarLoadingSystem.tsx
  packages/engine/src/scene/components/ScenePreviewCamera.ts
  packages/engine/src/scene/systems/SceneKillHeightSystem.tsx
  packages/spatial/src/common/proxies/createThreejsProxy.ts
  packages/spatial/src/input/systems/ClientInputSystem.tsx
  packages/spatial/src/physics/classes/Physics.ts
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.ts
  packages/spatial/src/renderer/components/ObjectComponent.ts
  packages/spatial/src/transform/TransformSerialization.ts
  packages/spatial/src/transform/components/BoundingBoxComponents.ts
  packages/spatial/src/transform/components/TransformComponent.ts
  packages/spatial/src/transform/systems/TransformSystem.ts
  packages/spatial/src/xr/XRAnchorComponents.ts
Owners: @SYBIOTE, @AidanCaruso, @dinomut1, @speigg, @CITIZENDOT, @MichaelEstes, @MbfloydIR, @SamMazerIR, @heysokam, @DanielBelmes

disable asset discarding on upload
  packages/spatial/src/resources/ResourceState.tsx
Owners: @MichaelEstes

Fixed bug in P2P media instance provisioning
  packages/ecs/index.ts
  packages/server-core/src/networking/instance-provision/instance-provision.class.ts
Owners: @speigg, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

tst: Test statements for LayerFunctions (phase 2)
  packages/ecs/src/ECSLayers.test.ts
Owners: @speigg

tst: Functions Todo list for `ShadowSystem.tsx` unit tests
  packages/engine/src/scene/systems/ShadowSystem.test.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fmt: Expose `_getUUIDState` from `UUIDComponentFunctions`
  packages/ecs/src/UUIDComponent.ts
Owners: @speigg

tst: Test statements for UUIDComponents
  packages/ecs/src/ECSLayers.test.ts
Owners: @speigg

tst: Unit Tests for `createEntity` (phase 1)
  packages/ecs/src/ECSLayers.test.ts
Owners: @speigg

chg: Make `createEntity` throw an error when `layerID` does not exist
  packages/ecs/src/createEntity.ts
Owners: @speigg

tst: Unit Tests for `createEntity` (phase 2)
  packages/ecs/src/ECSLayers.test.ts
Owners: @speigg

look for common ancestor
  packages/engine/src/scene/systems/EnvironmentSystem.tsx
  packages/spatial/src/renderer/WebGLRendererSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @DanielBelmes, @MichaelEstes

reenable discarding for all but texture image data
  packages/spatial/src/resources/ResourceState.tsx
Owners: @MichaelEstes

fix propagation
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/schemas/JSONSchemas.ts
  packages/editor/src/classes/gizmo/transform/TransformGizmoControlledComponent.ts
  packages/editor/src/components/dialogs/SaveNewSceneDialog.tsx
  packages/editor/src/functions/EditorControlFunctions.test.tsx
  packages/editor/src/functions/sceneFunctions.tsx
  packages/editor/src/functions/transformGizmoHelper.ts
  packages/editor/src/services/EditorServices.ts
  packages/editor/src/systems/TransformGizmoSystem.ts
  packages/engine/src/gltf/GLTFState.tsx
  packages/hyperflux/src/functions/StateFunctions.ts
  packages/spatial/src/renderer/components/InfiniteGridHelper.ts
  packages/spatial/src/renderer/components/MeshComponent.ts
  packages/spatial/src/renderer/components/SkinnedMeshComponent.ts
Owners: @speigg, @SYBIOTE, @dinomut1, @aditya-mitra, @AidanCaruso, @MichaelEstes, @DanielBelmes

Fix TransformDirtyUpdateSystem
  packages/spatial/src/transform/systems/TransformSystem.ts
Owners: @SamMazerIR

fix viewer
  packages/client-core/src/components/World/LoadLocationScene.tsx
Owners: @speigg

tst: Unit Tests for `removeEntity`
  packages/ecs/src/ECSLayers.test.ts
Owners: @speigg

clean up scene state usage
  packages/client-core/src/components/World/LoadLocationScene.tsx
  packages/editor/src/functions/sceneFunctions.tsx
  packages/engine/src/gltf/GLTFState.tsx
  packages/ui/src/pages/Capture/index.tsx
Owners: @speigg, @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1, @aditya-mitra, @CITIZENDOT

tst: Unit Tests ECSLayers: `setComponent`/`getLayerRelationsEntities`
  packages/ecs/src/ECSLayers.test.ts
Owners: @speigg

disable euler prop on objects, optimize vrm retargeting operations
  packages/engine/src/avatar/components/AvatarAnimationComponent.ts
  packages/engine/src/avatar/functions/updateVRMRetargeting.ts
  packages/spatial/src/renderer/components/ObjectComponent.ts
  packages/spatial/src/threejsPatches.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes, @speigg, @MbfloydIR, @SamMazerIR

fix err with scene preview camera
  packages/engine/src/scene/components/ScenePreviewCamera.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix physics objects getting unloaded
  packages/spatial/src/resources/ResourceState.tsx
Owners: @MichaelEstes

variant copy
  packages/engine/src/scene/components/VariantComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

bake and skybox subreactors
  packages/engine/src/scene/components/EnvmapComponent.tsx
  packages/engine/src/scene/systems/EnvironmentSystem.tsx
  packages/projects/default-project/assets/apartment-CubemapBake.png
  packages/projects/default-project/public/scenes/apartment-envmap.ktx2
  packages/projects/default-project/public/scenes/apartment.gltf
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @HexaField

various frame time optimizations
  packages/ecs/src/EntityTree.tsx
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.ts
  packages/spatial/src/transform/systems/TransformSystem.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @dinomut1, @heysokam, @SamMazerIR

fix primitive geom recursive render
  packages/engine/src/scene/components/PrimitiveGeometryComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

bug fixes
  packages/ecs/src/QueryFunctions.tsx
  packages/editor/src/functions/cameraGizmoHelper.ts
  packages/editor/src/functions/transformGizmoHelper.ts
  packages/editor/src/systems/TransformGizmoSystem.ts
Owners: @speigg, @SYBIOTE, @dinomut1, @aditya-mitra
