Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

try fix intermittent failure in gltf loader test
  packages/engine/src/gltf/GLTFLoader.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

remove debug logs
  packages/spatial/src/input/functions/ClientInputHooks.test.tsx
  packages/spatial/src/input/functions/ClientInputHooks.tsx
Owners: @heysokam, @SamMazerIR, @speigg

fix: prevent scene options from shifting during scroll and close menu on selection
  packages/editor/src/panels/scenes/SceneItem.tsx
Owners: @dinomut1, @aditya-mitra

chore: menu position
  packages/editor/src/panels/scenes/SceneItem.tsx
  packages/editor/src/panels/scenes/index.tsx
Owners: @dinomut1, @aditya-mitra

observable component mvp
  packages/spatial/src/common/ObservableComponent.tsx
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

license
  packages/spatial/src/common/ObservableComponent.tsx
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

button story correction
  packages/ui/src/primitives/tailwind/Button/index.stories.tsx
  packages/ui/src/primitives/tailwind/Button/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

prevent link from working in edit mode
  packages/editor/src/panels/viewport/tools/PlayModeTool.tsx
  packages/engine/src/scene/components/LinkComponent.ts
Owners: @dinomut1, @aditya-mitra, @speigg, @CITIZENDOT, @AidanCaruso

ensure search on collapsed nodes
  packages/editor/src/panels/hierarchy/helpers.ts
  packages/editor/src/panels/hierarchy/hooks.tsx
Owners: @dinomut1, @aditya-mitra

fix node is child check
  packages/editor/src/panels/hierarchy/helpers.ts
Owners: @dinomut1, @aditya-mitra

Pinned helmet to ^6.0.0
  packages/server-core/package.json
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

wip tests
  packages/engine/src/gltf/GLTFLoader.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

GLTF export append GLTFs
  packages/editor/src/functions/exportGLTF.ts
  packages/engine/src/gltf/exportGLTFScene.ts
  packages/engine/src/gltf/gltfUtils.ts
Owners: @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1

tst: Remove leftover todo tag at `LookAtSystem.ts`
  packages/spatial/src/transform/systems/LookAtSystem.test.ts
Owners: @SamMazerIR

format
  packages/spatial/src/camera/systems/SpectateSystem.tsx
  packages/spatial/src/transform/TransformSerialization.ts
Owners: @DanielBelmes, @SamMazerIR, @speigg

tst: Fix `childIndex` type not represented as optional correctly
  packages/spatial/src/transform/components/EntityTree.test.tsx
Owners: @SamMazerIR

tst: Fix typo, missing refactor of a call to `assertVec`
  packages/spatial/src/physics/classes/Physics.test.tsx
Owners: @heysokam

fix race condition in test
  packages/engine/src/gltf/GLTFLoader.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

tst: Solve issues after merging of #210 into dev
  packages/spatial/src/input/components/InputComponent.test.tsx
  packages/spatial/src/physics/integration.test.ts
  packages/spatial/src/transform/SpawnPoseState.test.tsx
  packages/spatial/src/transform/TransformSerialization.test.ts
  packages/spatial/src/transform/components/BoundingBoxComponents.test.ts
  packages/spatial/src/transform/components/ComputedTransformComponent.test.ts
  packages/spatial/src/transform/components/EntityTree.test.tsx
  packages/spatial/src/transform/components/TransformComponent.test.tsx
  packages/spatial/src/transform/systems/LookAtSystem.test.ts
  packages/spatial/src/transform/systems/TransformSystem.test.ts
  packages/spatial/src/transform/updateWorldOrigin.test.ts
Owners: @heysokam, @SamMazerIR, @speigg

Run npm install before projectEventHooks call
  packages/server-core/src/projects/project/project-helper.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

try fix intermittent failure in gltf loader test
  packages/engine/src/gltf/GLTFLoader.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

replace direct react element with reactor
  packages/spatial/src/input/functions/ClientInputHooks.test.tsx
Owners: @heysokam, @SamMazerIR, @speigg

remove only
  packages/spatial/src/input/functions/ClientInputHooks.test.tsx
Owners: @heysokam, @SamMazerIR, @speigg

Validate user on sign page for sso workflow
  packages/client-core/src/user/components/UserMenu/menus/ProfileMenu.tsx
  packages/client-core/src/user/services/AuthService.ts
  packages/server-core/src/user/strategies/apple.ts
  packages/server-core/src/user/strategies/custom-oauth.ts
  packages/server-core/src/user/strategies/github.ts
  packages/server-core/src/user/strategies/google.ts
Owners: @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

minor changes
  packages/server-core/src/setting/engine-setting/migrations/20241015093802_merge-helm-setting.ts
  packages/server-core/src/setting/service.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

remove migration file
  packages/server-core/src/setting/engine-setting/migrations/20241015093802_merge-helm-setting.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

add migration file
  packages/server-core/src/setting/engine-setting/migrations/20241015093802_merge-helm-setting.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

rename migration file ,update timestamp
  packages/server-core/src/setting/engine-setting/migrations/20241113093640_merge-helm-setting.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix lint
  packages/server-core/src/setting/engine-setting/migrations/20241113093640_merge-helm-setting.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix lint
  packages/server-core/src/setting/engine-setting/migrations/20241113093640_merge-helm-setting.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Refactor checkScope usage in identity provider hooks for clarity and consistency
  packages/server-core/src/user/identity-provider/identity-provider.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

replace model with GTLF component
  packages/editor/src/panels/hierarchy/helpers.ts
Owners: @dinomut1, @aditya-mitra

import to set import path
  packages/editor/src/panels/assets/topbar.tsx
Owners: @dinomut1, @aditya-mitra

test event sourcing and remove isclient check from avatar spawn reactor
  packages/engine/src/avatar/functions/moveAvatar.test.tsx
  packages/engine/src/avatar/state/AvatarNetworkState.tsx
Owners: @AidanCaruso

add jobstate
  packages/client-core/src/common/services/DimensionsJobState.tsx
Owners: @aditya-mitra

license
  packages/client-core/src/common/services/DimensionsJobState.tsx
Owners: @aditya-mitra

updated the grid mask layer so it will be removed for the scene preview render
  packages/spatial/src/renderer/components/InfiniteGridHelper.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

making review adjustments
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/panels/properties/common/NodeEditor.tsx
  packages/ui/src/components/editor/ComponentDropdown/ComponentDropdownState.ts
  packages/ui/src/components/editor/ComponentDropdown/index.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra, @CITIZENDOT

export buffers for non binary gltf exports
  packages/engine/src/assets/exporters/gltf/GLTFExporter.js
  packages/engine/src/gltf/exportGLTFScene.ts
  packages/engine/src/gltf/gltfUtils.ts
Owners: @MichaelEstes, @dinomut1, @speigg, @AidanCaruso

redundant
  packages/editor/src/functions/EditorControlFunctions.ts
Owners: @SYBIOTE

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
