Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

Turn non-resource file-browser URLs into cacheDomain URLs (#341)
  packages/server-core/src/media/file-browser/file-browser.class.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Updated admin project settings tab to only show assets only projects toggle
  packages/client-core/i18n/en/admin.json
  packages/client-core/src/admin/components/settings/tabs/project.tsx
Owners: @aditya-mitra, @hanzlamateen

Cleanup Button Component
  packages/ui/src/primitives/tailwind/Button/index.stories.tsx
  packages/ui/src/primitives/tailwind/Button/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

revert license changes
  packages/ui/src/primitives/tailwind/Button/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add data-testid attributes to editor files panel; update mocha test setup;
  packages/editor/.mocharc.js
  packages/editor/src/panels/files/filebrowser.tsx
  packages/editor/src/panels/files/fileitem.tsx
  packages/editor/src/panels/files/index.tsx
  packages/editor/src/panels/files/toolbar.test.tsx
  packages/editor/src/panels/files/toolbar.tsx
  packages/editor/tests/mocha.env.js
  packages/editor/tests/setupTestDependencies.ts
  packages/ui/src/primitives/tailwind/Input/index.tsx
  packages/ui/src/primitives/tailwind/Slider/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

add data-testid attributes to assets tab;
  packages/editor/src/panels/assets/icons.tsx
  packages/editor/src/panels/scenes/index.tsx
  packages/editor/src/panels/visualscript/index.tsx
  packages/ui/src/components/editor/layout/Panel.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

add test file
  packages/editor/src/panels/files/toolbar.test.tsx
  packages/editor/tests/setupTestDependencies.ts
Owners: @dinomut1, @aditya-mitra

delete unused comment
  packages/editor/src/panels/files/toolbar.test.tsx
Owners: @dinomut1, @aditya-mitra

IR-4738 add remaining test IDs
  packages/editor/src/panels/files/toolbar.tsx
  packages/editor/src/panels/visualscript/index.tsx
  packages/ui/src/components/editor/input/Group/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

IR-4738 remove component testing that checks for data-test id attributes
  packages/editor/.mocharc.js
  packages/editor/src/panels/files/toolbar.test.tsx
  packages/editor/tests/setupTestDependencies.ts
Owners: @dinomut1, @aditya-mitra

IR-4738 addres lint fixes
  packages/editor/src/panels/files/toolbar.tsx
Owners: @dinomut1, @aditya-mitra

Set show stripe asset only project as false
  packages/client-core/src/admin/components/settings/tabs/project.tsx
Owners: @hanzlamateen

profile pill
  packages/editor/src/components/toolbar/Toolbar.tsx
Owners: @dinomut1, @aditya-mitra

IR-4738 change test IDs according to PR comment
  packages/editor/src/panels/files/toolbar.tsx
  packages/ui/src/primitives/tailwind/Slider/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

IR-4738 remove change for mocha env file; remove old test ID locations
  packages/editor/src/panels/files/toolbar.tsx
  packages/editor/tests/mocha.env.js
  packages/ui/src/primitives/tailwind/Input/index.tsx
  packages/ui/src/primitives/tailwind/Slider/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

add profile menu
  packages/editor/src/components/toolbar/Toolbar.tsx
  packages/ui/src/components/tailwind/ContextMenu/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

Prevent video component reset on property change (#324)
  packages/engine/src/scene/components/MediaComponent.ts
  packages/engine/src/scene/components/VideoComponent.tsx
  packages/ui/src/components/editor/input/Euler/index.tsx
  packages/ui/src/components/editor/input/Vector2/index.tsx
  packages/ui/src/components/editor/input/Vector3/index.tsx
  packages/ui/src/components/editor/layout/Scrubber.tsx
  packages/ui/src/components/editor/properties/spline/track/index.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @aditya-mitra, @SYBIOTE

IR-4738 resolve commit issues
  packages/editor/src/panels/assets/icons.tsx
  packages/editor/src/panels/files/filebrowser.tsx
  packages/editor/src/panels/files/fileitem.tsx
  packages/editor/src/panels/files/index.tsx
  packages/editor/src/panels/files/toolbar.tsx
  packages/editor/src/panels/scenes/index.tsx
  packages/ui/src/components/editor/input/Group/index.tsx
  packages/ui/src/components/editor/layout/Panel.tsx
  packages/ui/src/primitives/tailwind/Input/index.tsx
  packages/ui/src/primitives/tailwind/Slider/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

IR-4738 remove old data-testid placement
  packages/ui/src/primitives/tailwind/Input/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Design accurately to the Figma
  packages/ui/src/primitives/tailwind/Checkbox/index.stories.tsx
  packages/ui/src/primitives/tailwind/Checkbox/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add username and email
  packages/editor/src/components/toolbar/Toolbar.tsx
Owners: @dinomut1, @aditya-mitra

added underscores to the regex and error message for the scene name
  packages/client-core/i18n/en/editor.json
  packages/common/src/regex/index.ts
Owners: @aditya-mitra, @HexaField

aded underscores to the possible file name characters allowed
  packages/client-core/i18n/en/editor.json
  packages/common/src/regex/index.ts
Owners: @aditya-mitra, @HexaField

add bg to selected file
  packages/editor/src/panels/files/fileitem.tsx
Owners: @dinomut1, @aditya-mitra

pr comments
  packages/editor/src/functions/assetFunctions.ts
  packages/editor/src/panels/files/toolbar.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

removed the outdated file name reg ex test case for the underscore
  packages/common/tests/regex.test.ts
Owners: @HexaField

Load scene if dependency component errors - Int (#340)
  packages/editor/src/systems/ClickPlacementSystem.tsx
  packages/engine/src/assets/loaders/gltf/GLTFLoader.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/scene/components/ErrorComponent.ts
  packages/engine/src/scene/components/ModelComponent.tsx
Owners: @dinomut1, @aditya-mitra, @MichaelEstes, @speigg, @AidanCaruso, @CITIZENDOT

rename skybox from ee_skybox to ir_skybox (#339)
  packages/projects/default-project/public/scenes/apartment.gltf
  packages/projects/default-project/public/scenes/default.gltf
  packages/projects/default-project/public/scenes/sky-station.gltf
Owners: @HexaField

Material test
  packages/engine/src/gltf/GLTFLoader.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

removed the underscore for another unit test
  packages/common/tests/regex.test.ts
Owners: @HexaField

removed more underscores from the invalid file name unit tests
  packages/common/tests/regex.test.ts
Owners: @HexaField

fix
  packages/server-core/src/patchEngineNode.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fmt: Prefix module scoped variables with `_` at `LookAtSystem.ts`
  packages/spatial/src/transform/systems/LookAtSystem.ts
Owners: @SamMazerIR

remove empty line
  packages/ui/src/primitives/tailwind/Button/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

update props
  packages/ui/src/primitives/tailwind/Checkbox/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

tst: Fix typo in `assertVecAnyApproxNotEq` doc comment
  packages/spatial/src/physics/classes/Physics.test.tsx
Owners: @heysokam

fmt: Prefix module scoped variables with `_` at `LookAtSystem.ts`
  packages/spatial/src/transform/systems/LookAtSystem.ts
Owners: @SamMazerIR

fix problems with server runtime
  packages/client/package.json
  packages/client/vite.config.ts
  packages/hyperflux/package.json
  packages/instanceserver/vite.config.ts
  packages/server-core/src/patchEngineNode.ts
  packages/server-core/vite.config.ts
  packages/server/vite.config.ts
  packages/taskserver/vite.config.ts
Owners: @barankyle, @aditya-mitra, @speigg, @HexaField, @MoizAdnan, @hanzlamateen, @hurairahmateen

fixes
  packages/projects/default-project/projectEventHooks.ts
  packages/projects/template-project/manifest.json
  scripts/bump-project-versions.js
  scripts/make-user-admin.ts
  scripts/open-editor.js
  vite.config.ts
Owners: @HexaField, @barankyle, @hanzlamateen, @DanielBelmes

tst: Unit Tests for `LookAtSystem.ts` (phase 1)
  packages/spatial/src/transform/systems/LookAtSystem.test.ts
Owners: @SamMazerIR

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
