Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

adding proper error checking for the fallthrough logic to work properly
  packages/engine/src/scene/components/VideoComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

move morph target merge to loader hook
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

Proxy primitives with ECS schema
  .vscode/launch.json
  packages/ecs/src/ComponentFunctions.ts
  packages/network/src/NetworkObjectComponent.test.tsx
  packages/network/src/NetworkObjectComponent.ts
  packages/network/src/serialization/DataReader.test.ts
  packages/spatial/src/common/proxies/ECSSchemaProxy.ts
  packages/spatial/src/common/proxies/createThreejsProxy.ts
Owners: @HexaField, @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

reset based off category change
  packages/ui/src/components/editor/panels/Assets/container/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

IR-4334 adding proper error checking for the fallthrough logic to work properly (#178)
  packages/engine/src/scene/components/VideoComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

feature flag improvements and UI fixes
  packages/client-core/i18n/en/editor.json
  packages/editor/src/components/EditorContainer.tsx
  packages/ui/src/components/editor/panels/Script/index.tsx
  packages/ui/src/components/editor/panels/VisualScript/index.tsx
Owners: @aditya-mitra, @dinomut1, @SYBIOTE, @CITIZENDOT

Fix circular dep, add react dep, update externals
  packages/hyperflux/package.json
  packages/hyperflux/rollup.config.js
  packages/hyperflux/src/functions/ReactorFunctions.tsx
  packages/hyperflux/src/functions/StoreFunctions.ts
Owners: @speigg

fix ver
  packages/hyperflux/package.json
Owners: @speigg

Create difference between stores and proxy objects
  packages/spatial/src/common/proxies/createThreejsProxy.test.tsx
  packages/spatial/src/common/proxies/createThreejsProxy.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

adding useEffect along with useOptionalComponent to remove FrustumCullCameraComponent from AmbientLightComponent when it exists. Ambient lights should not be culled based on being within the frustum
  packages/spatial/src/renderer/components/lights/AmbientLightComponent.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

Naming
  packages/spatial/src/common/proxies/createThreejsProxy.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

No longer needed
  packages/network/src/serialization/DataReader.test.ts
Owners: @speigg

render by height
  packages/ui/src/components/editor/panels/Assets/container/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix tooltip import
  packages/editor/src/panels/viewport/tools/RenderTool.tsx
Owners: @dinomut1, @aditya-mitra

Fix gizmo rotation update (#157)
  packages/ui/src/components/editor/input/Euler/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

different approach to this fix by preventing the FrustumCullCameraComponent being set in the first place unless there is a mesh
  packages/engine/src/scene/functions/loadGLTFModel.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix import issue
  packages/ui/src/components/editor/panels/Assets/container/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Model compression progress bar (#110)
  packages/client-core/i18n/en/editor.json
  packages/common/src/model/ModelTransformFunctions.ts
  packages/editor/src/components/assets/ModelCompressionPanel.tsx
Owners: @aditya-mitra, @HexaField, @dinomut1

making the callbackQuery reactive. not sure if this needs to be inside the InteractableComponentNodeEditor or not
  packages/ui/src/components/editor/properties/interact/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

IR-4333 reactivity in Interactable callback targets query (#184)
  packages/ui/src/components/editor/properties/interact/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Simplify
  packages/ecs/src/ComponentFunctions.ts
  packages/spatial/src/transform/components/TransformComponent.ts
Owners: @speigg, @SamMazerIR

Component ecs schemas (#180)
  .vscode/launch.json
  packages/ecs/src/ComponentFunctions.test.tsx
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/ComponentSchemaUtils.ts
  packages/engine/src/mocap/MotionCaptureRigComponent.ts
  packages/network/src/NetworkObjectComponent.test.tsx
  packages/network/src/NetworkObjectComponent.ts
  packages/network/src/serialization/DataReader.test.ts
  packages/spatial/src/common/proxies/ECSSchemaProxy.ts
  packages/spatial/src/common/proxies/createThreejsProxy.test.tsx
  packages/spatial/src/common/proxies/createThreejsProxy.ts
  packages/spatial/src/physics/components/RigidBodyComponent.ts
  packages/spatial/src/transform/components/TransformComponent.test.tsx
  packages/spatial/src/transform/components/TransformComponent.ts
Owners: @HexaField, @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR, @heysokam

update help design
  packages/client-core/i18n/en/editor.json
  packages/editor/src/components/EditorContainer.tsx
  packages/ui/src/primitives/tailwind/Tooltip/tooltip.css
Owners: @aditya-mitra, @dinomut1, @SYBIOTE, @CITIZENDOT

update button position
  packages/editor/src/components/EditorContainer.tsx
Owners: @dinomut1, @aditya-mitra

Added schema helpers, UUIDComponent, TransformGizmoControlComponent schemas
  packages/client-core/src/media/webcam/WebcamInputComponent.ts
  packages/ecs/src/ComponentSchemaUtils.ts
  packages/ecs/src/UUIDComponent.ts
  packages/editor/src/classes/TransformGizmoControlComponent.ts
Owners: @aditya-mitra, @speigg, @SYBIOTE

Component schemas
  packages/ecs/src/ComponentSchemaUtils.ts
  packages/editor/src/classes/TransformGizmoControlledComponent.ts
  packages/editor/src/classes/TransformGizmoVisualComponent.ts
  packages/engine/src/audio/components/PositionalAudioComponent.ts
  packages/engine/src/audio/components/PositionalAudioHelperComponent.ts
  packages/engine/src/avatar/components/AnimationComponent.ts
  packages/engine/src/avatar/components/AvatarAnimationComponent.ts
  packages/engine/src/avatar/components/AvatarArmsTwistCorrectionComponent.ts
  packages/engine/src/avatar/components/AvatarComponent.ts
  packages/engine/src/avatar/components/AvatarControllerComponent.ts
  packages/engine/src/avatar/components/AvatarDissolveComponent.ts
  packages/engine/src/avatar/components/AvatarPendingComponent.ts
  packages/engine/src/avatar/components/AvatarTeleportComponent.ts
  packages/engine/src/avatar/components/BoneComponent.ts
  packages/engine/src/avatar/components/LoopAnimationComponent.ts
  packages/engine/src/avatar/components/SkinnedMeshComponent.ts
  packages/engine/src/avatar/components/SpawnEffectComponent.ts
  packages/engine/src/camera/components/AssetPreviewCameraComponent.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/ResourcePendingComponent.ts
  packages/engine/src/interaction/components/GrabbableComponent.ts
Owners: @speigg, @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1, @SamMazerIR

tst: Small improvements on `MaterialStateComponent.onRemove` tests
  packages/spatial/src/renderer/materials/MaterialComponent.test.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

Refactor instance server channel initialization
  packages/instanceserver/src/channels.ts
Owners: @HexaField

fix: Revert error check removal from `updateMaterialPrototype`
  packages/spatial/src/renderer/materials/materialFunctions.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

fix: Incorrect import from `TransparencyDithering*Component` renames
  packages/engine/src/avatar/systems/AvatarTransparencySystem.tsx
Owners: @AidanCaruso

fix shift selection in hierarchy panel (#173)
  packages/ui/src/components/editor/panels/Hierarchy/container/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix render panel tooltip (#182)
  packages/editor/src/panels/viewport/tools/RenderTool.tsx
Owners: @dinomut1, @aditya-mitra

refactor(IR-3746): refactor to have a custom radio button component a… (#150)
  packages/ui/src/primitives/tailwind/Radio/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Refactor instance initialization in channels.ts
  packages/instanceserver/src/channels.ts
Owners: @HexaField

Update instance find in initializeInstance (#186)
  packages/instanceserver/src/channels.ts
Owners: @HexaField

event source remaining network actions
  packages/client-core/src/networking/ClientNetworkingSystem.tsx
  packages/client-core/src/networking/DataChannelSystem.tsx
  packages/client-core/src/networking/MediaChannelSystem.tsx
  packages/client-core/src/transports/SocketWebRTCClientFunctions.ts
  packages/client-core/src/world/ClientNetworkModule.ts
  packages/common/src/transports/mediasoup/MediasoupDataProducerConsumerState.tsx
  packages/common/src/transports/mediasoup/MediasoupTransportState.tsx
  packages/instanceserver/src/MediasoupServerSystem.tsx
  packages/network/src/NetworkPeerState.tsx
  packages/server-core/src/seeder.ts
Owners: @aditya-mitra, @HexaField, @speigg, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

revert seeder
  packages/server-core/src/seeder.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

tst: Small fixes for Physics and PhysicsSystem tests
  packages/spatial/src/physics/classes/Physics.test.tsx
  packages/spatial/src/physics/systems/PhysicsSystem.test.ts
Owners: @heysokam

bug fixes
  packages/client-core/src/networking/ClientNetworkingSystem.tsx
  packages/client-core/src/networking/DataChannelSystem.tsx
  packages/client-core/src/networking/MediaChannelSystem.tsx
  packages/client-core/src/transports/SocketWebRTCClientFunctions.ts
  packages/common/src/transports/mediasoup/MediasoupMediaProducerConsumerState.tsx
  packages/network/src/NetworkPeerState.tsx
  packages/server-core/src/networking/instance-provision/instance-provision.class.ts
Owners: @aditya-mitra, @HexaField, @speigg, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

Changes to make first admin's isGuest as false.
  packages/server-core/src/user/identity-provider/identity-provider.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
