Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

add back multer, format
  packages/server-core/package.json
  packages/server-core/src/media/storageprovider/storageprovider.ts
  packages/ui/src/pages/Capture/index.tsx
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra, @SYBIOTE, @CITIZENDOT

add back swagger-ui-dist
  packages/server-core/package.json
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

merge
  packages/editor/src/functions/transformGizmoHelper.ts
  packages/spatial/src/transform/functions/ObjectFitFunctions.ts
  packages/spatial/src/xr/8thwall/XR8WebXRProxy.ts
  packages/spatial/src/xr/WebXRManager.test.ts
  packages/spatial/src/xr/XRAnchorSystem.test.tsx
  packages/spatial/src/xr/XRCameraSystem.ts
  packages/spatial/src/xr/XRDetectedMeshComponent.test.ts
  packages/spatial/src/xr/XRDetectedMeshComponent.ts
  packages/spatial/src/xr/XRDetectedPlaneComponent.test.ts
  packages/spatial/src/xr/XRSessionFunctions.test.ts
  packages/spatial/src/xr/XRSessionFunctions.ts
Owners: @SYBIOTE, @SamMazerIR, @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR

merge
  packages/engine/src/audio/components/PositionalAudioHelperComponent.ts
  packages/spatial/src/common/debug/useHelperEntity.ts
  packages/spatial/src/renderer/components/ObjectComponent.ts
  packages/spatial/src/renderer/components/lights/DirectionalLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/DirectionalLightComponent.ts
  packages/spatial/src/renderer/components/lights/HemisphereLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/PointLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/SpotLightComponent.test.ts
  packages/spatial/src/transform/functions/MeshBVHSystem.tsx
  packages/spatial/src/xr/XRAnchorSystem.tsx
  packages/spatial/src/xr/XRSessionFunctions.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR, @DanielBelmes

fix ik helper visibillity again
  packages/engine/src/avatar/state/AvatarIKTargetState.tsx
  packages/spatial/src/common/debug/useHelperEntity.ts
Owners: @AidanCaruso, @speigg, @MichaelEstes, @MbfloydIR, @SamMazerIR

add back koa mount
  packages/server-core/package.json
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix import
  packages/editor/src/constants/GizmoPresets.ts
Owners: @dinomut1, @aditya-mitra

format
  packages/editor/src/constants/GizmoPresets.ts
Owners: @dinomut1, @aditya-mitra

add back mysql
  packages/server-core/package.json
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix often breaking storybook type import
  packages/ui/src/components/editor/ImageLink/index.stories.tsx
  packages/ui/src/components/editor/Seeker/index.stories.tsx
  packages/ui/src/components/editor/Slider/index.stories.tsx
  packages/ui/src/primitives/tailwind/Checkbox/index.stories.tsx
  packages/ui/src/primitives/tailwind/Radio/index.stories.tsx
  packages/ui/src/primitives/tailwind/Select/index.stories.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

format
  packages/ui/src/components/editor/ImageLink/index.stories.tsx
  packages/ui/src/components/editor/Seeker/index.stories.tsx
  packages/ui/src/components/editor/Slider/index.stories.tsx
  packages/ui/src/primitives/tailwind/Checkbox/index.stories.tsx
  packages/ui/src/primitives/tailwind/Radio/index.stories.tsx
  packages/ui/src/primitives/tailwind/Select/index.stories.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add back emotion deps
  packages/client-core/package.json
Owners: @aditya-mitra

add back feathers deps
  packages/server-core/package.json
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

remove some unused files
  packages/client-core/src/admin/common/DrawerView.tsx
  packages/client-core/src/admin/old-styles/admin.module.scss
  packages/client/src/pages/index.scss
  packages/client/src/pages/index.tsx
  packages/ui/src/primitives/mui/Dashboard/Dashboard.test.tsx
  packages/ui/src/primitives/mui/Dashboard/index.module.scss
  packages/ui/src/primitives/mui/Dashboard/index.stories.tsx
  packages/ui/src/primitives/mui/Dashboard/index.tsx
  packages/ui/src/primitives/mui/DashboardItems/index.module.scss
  packages/ui/src/primitives/mui/DashboardMenuItem/index.module.scss
  packages/ui/src/primitives/mui/DashboardMenuItem/index.tsx
Owners: @hanzlamateen, @barankyle, @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix tposing
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
Owners: @AidanCaruso

networked ik works now
  packages/engine/src/avatar/animation/TwoBoneIKSolver.test.tsx
  packages/engine/src/avatar/components/AnimationComponent.test.tsx
  packages/engine/src/avatar/functions/retargetingFunctions.test.tsx
  packages/engine/src/avatar/systems/AvatarIkSystem.tsx
Owners: @AidanCaruso

etc
  packages/engine/src/avatar/animation/TwoBoneIKSolver.test.tsx
Owners: @AidanCaruso

fix: age verification label translation
  packages/client-core/i18n/en/common.json
Owners: @aditya-mitra

converting spaces to underscores when sanitizing filenames (only on the file name string itself, not path folders)
  packages/common/src/utils/cleanFileName.ts
Owners: @HexaField

adding error toast if file upload still fails
  packages/client-core/i18n/en/editor.json
  packages/editor/src/functions/assetFunctions.ts
Owners: @aditya-mitra, @SYBIOTE

Added ini to server-core package.json
  packages/server-core/package.json
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

cleanup fileicon with thumbnails
  packages/editor/src/panels/files/fileicon.tsx
  packages/editor/src/panels/files/fileitem.tsx
Owners: @dinomut1, @aditya-mitra

fix assets file icons
  packages/editor/src/panels/assets/resources.tsx
  packages/editor/src/panels/files/fileicon.tsx
  packages/editor/src/panels/files/fileitem.tsx
Owners: @dinomut1, @aditya-mitra

add additional data to file table
  packages/client-core/i18n/en/editor.json
  packages/editor/src/panels/files/fileitem.tsx
  packages/editor/src/panels/files/helpers.tsx
  packages/editor/src/services/FilesState.ts
Owners: @aditya-mitra, @dinomut1

update tooltip posiiton to bottom
  packages/editor/src/panels/files/fileitem.tsx
Owners: @dinomut1, @aditya-mitra

updating loading screen when you click save
  packages/editor/src/services/SceneThumbnailState.tsx
Owners: @dinomut1, @aditya-mitra

sort table
  packages/client-core/i18n/en/editor.json
  packages/editor/src/panels/files/filebrowser.tsx
  packages/editor/src/panels/files/fileitem.tsx
  packages/editor/src/panels/files/helpers.tsx
  packages/editor/src/services/FilesState.ts
Owners: @aditya-mitra, @dinomut1

fix lint
  packages/editor/src/panels/files/filebrowser.tsx
Owners: @dinomut1, @aditya-mitra

XrCamera system execute wasn't ported to new viewerEntity
  packages/spatial/src/xr/XRCameraSystem.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

fix: truncated text in search avatar input & added missing icon
  packages/client-core/src/user/components/UserMenu/menus/AvatarSelectMenu.tsx
Owners: @aditya-mitra

Clean up two bone solver, add hips offset to feet
  packages/engine/src/avatar/animation/TwoBoneIKSolver.ts
  packages/engine/src/avatar/functions/avatarFootHeuristics.ts
  packages/engine/src/avatar/systems/AvatarIkSystem.tsx
  packages/engine/src/avatar/systems/AvatarInputSystem.ts
Owners: @AidanCaruso

Refactor email settings management to utilize engine settings and improve data handling
  packages/client-core/src/admin/components/settings/tabs/email.tsx
  packages/common/src/utils/dataTypeUtils.ts
  packages/server-core/src/appconfig.ts
  packages/server-core/src/setting/engine-setting/migrations/20241217141707_merge-email-setting.ts
Owners: @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

Add email settings seed data to engine settings initialization
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Remove email settings and related imports from the server core
  packages/common/src/schema.type.module.ts
  packages/common/src/schemas/setting/email-setting.schema.ts
  packages/server-core/src/setting/email-setting/email-setting.class.ts
  packages/server-core/src/setting/email-setting/email-setting.docs.ts
  packages/server-core/src/setting/email-setting/email-setting.hooks.ts
  packages/server-core/src/setting/email-setting/email-setting.resolvers.ts
  packages/server-core/src/setting/email-setting/email-setting.seed.ts
  packages/server-core/src/setting/email-setting/email-setting.ts
  packages/server-core/src/setting/email-setting/migrations/20230408073756_email-setting.ts
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
  packages/server-core/src/setting/seeder-config.ts
  packages/server-core/src/setting/service.ts
  packages/server-core/src/updateAppConfig.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

refactor most things with loading gltfs to use no reactive code at all
  packages/engine/src/assets/loaders/gltf/GLTFParser.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/GLTFExtensions.ts
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/gltf/GLTFState.tsx
  packages/engine/src/gltf/MaterialDefinitionComponent.tsx
Owners: @MichaelEstes, @dinomut1, @speigg, @AidanCaruso

Update bitecsLegacy.ts
  packages/ecs/src/bitecsLegacy.ts
Owners: @speigg

Refactor email settings update logic to improve clarity and maintainability
  packages/client-core/src/admin/components/settings/tabs/email.tsx
Owners: @hanzlamateen

Rename operation variable to emailOperationPromises for clarity and consistency
  packages/client-core/src/admin/components/settings/tabs/email.tsx
Owners: @hanzlamateen

Remove debug log for instanceServerSettings in email settings migration
  packages/server-core/src/setting/engine-setting/migrations/20241217141707_merge-email-setting.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix crashing on undefined table values
  packages/editor/src/panels/files/filebrowser.tsx
Owners: @dinomut1, @aditya-mitra

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
