Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

fix: Add `BoundingBoxComponent.helper` to its `onSet` function
  packages/spatial/src/transform/components/BoundingBoxComponents.ts
Owners: @SamMazerIR

fmt: Add clause guard to `expandBoxByObject` and export it for tests
  packages/spatial/src/transform/components/BoundingBoxComponents.ts
Owners: @SamMazerIR

tst: Sketch for `BoundingBoxComponents.ts` unit tests
  packages/spatial/src/transform/components/BoundingBoxComponents.test.ts
Owners: @SamMazerIR

redid PR 205 updated but based on int instead of dev
  packages/editor/src/functions/EditorControlFunctions.test.tsx
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/ui/src/components/editor/panels/Hierarchy/node/index.tsx
Owners: @SYBIOTE, @aditya-mitra, @CITIZENDOT

adding missing tests for getAncestorWithComponents and getChildrenWithComponents, adding getChildrenWithComponents
  packages/spatial/src/transform/components/EntityTree.test.tsx
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @SamMazerIR

fix material test
  packages/spatial/src/renderer/materials/MaterialComponent.test.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

redid PR 205 updated but based on int instead of dev (#211)
  packages/editor/src/functions/EditorControlFunctions.test.tsx
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/ui/src/components/editor/panels/Hierarchy/node/index.tsx
Owners: @SYBIOTE, @aditya-mitra, @CITIZENDOT

Fix hierarchy panel reordering (#205)
  packages/editor/src/functions/EditorControlFunctions.test.tsx
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/ui/src/components/editor/panels/Hierarchy/node/index.tsx
Owners: @SYBIOTE, @aditya-mitra, @CITIZENDOT

update the parent in the EntityTreeComponent if the parent is different when rearranging hierarchy
  packages/editor/src/functions/EditorControlFunctions.ts
Owners: @SYBIOTE

Fixed a bug with consumer state change.
  packages/common/src/transports/mediasoup/MediasoupMediaProducerConsumerState.tsx
Owners: @HexaField

adding fixes to follow camera logic
  packages/spatial/src/camera/components/FollowCameraComponent.ts
Owners: @DanielBelmes, @SamMazerIR, @speigg

fmt: Clarify module-scope variables with `_`
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.ts
Owners: @heysokam

cpal license comment added post-first-commit
  packages/spatial/src/transform/functions/BoundingBoxFunctions.ts
Owners: @SamMazerIR

tst: Fix `PhysicsPreTransformSystem` Unit Tests
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.test.ts
Owners: @heysokam

Updated JWT authentication to handle RSA signatures
  packages/client-core/i18n/en/admin.json
  packages/client-core/src/admin/components/settings/tabs/authentication.tsx
  packages/client-core/src/user/services/AuthService.ts
  packages/common/src/schemas/setting/authentication-setting.schema.ts
  packages/common/src/schemas/user/jwt-public-key.schema.ts
  packages/instanceserver/src/channels.ts
  packages/server-core/src/appconfig.ts
  packages/server-core/src/hooks/authenticate.ts
  packages/server-core/src/setting/authentication-setting/authentication-setting.seed.ts
  packages/server-core/src/setting/authentication-setting/migrations/20240812231215_increase-secret-length.ts
  packages/server-core/src/setting/authentication-setting/migrations/20240813205359_jwt-fields.ts
  packages/server-core/src/user/jwt-public-key/jwt-public-key.class.ts
  packages/server-core/src/user/jwt-public-key/jwt-public-key.docs.ts
  packages/server-core/src/user/jwt-public-key/jwt-public-key.hooks.ts
  packages/server-core/src/user/jwt-public-key/jwt-public-key.ts
  packages/server-core/src/user/services.ts
  scripts/update-project.ts
Owners: @aditya-mitra, @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen, @DanielBelmes

Added support for cross-domain login.
  packages/client-core/src/user/services/AuthService.ts
  packages/client/index.html
  packages/client/public/cookie-accessor.css
  packages/client/public/root-cookie-accessor-template.html
  packages/client/vite.config.ts
  packages/common/src/schemas/networking/allowed-domains.schema.ts
  packages/hyperflux/src/functions/StateFunctions.ts
  packages/server-core/src/appconfig.ts
  packages/server-core/src/hooks/authenticate.ts
  packages/server-core/src/networking/allowed-domains/allowed-domains.class.ts
  packages/server-core/src/networking/allowed-domains/allowed-domains.docs.ts
  packages/server-core/src/networking/allowed-domains/allowed-domains.hooks.ts
  packages/server-core/src/networking/allowed-domains/allowed-domains.ts
  scripts/build_minikube.sh
Owners: @aditya-mitra, @barankyle, @HexaField, @speigg, @MoizAdnan, @hanzlamateen, @hurairahmateen, @DanielBelmes

updated the logic for reparenting entities
  packages/editor/src/functions/EditorControlFunctions.ts
Owners: @SYBIOTE

fixup
  packages/server-core/src/setting/authentication-setting/migrations/20240813205359_jwt-fields.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Updated JWT authentication to handle RSA signatures (#58)
  packages/client-core/i18n/en/admin.json
  packages/client-core/src/admin/components/settings/tabs/authentication.tsx
  packages/client-core/src/user/services/AuthService.ts
  packages/common/src/schemas/setting/authentication-setting.schema.ts
  packages/common/src/schemas/user/jwt-public-key.schema.ts
  packages/instanceserver/src/channels.ts
  packages/server-core/src/appconfig.ts
  packages/server-core/src/hooks/authenticate.ts
  packages/server-core/src/setting/authentication-setting/authentication-setting.seed.ts
  packages/server-core/src/setting/authentication-setting/migrations/20240812231215_increase-secret-length.ts
  packages/server-core/src/setting/authentication-setting/migrations/20240813205359_jwt-fields.ts
  packages/server-core/src/user/jwt-public-key/jwt-public-key.class.ts
  packages/server-core/src/user/jwt-public-key/jwt-public-key.docs.ts
  packages/server-core/src/user/jwt-public-key/jwt-public-key.hooks.ts
  packages/server-core/src/user/jwt-public-key/jwt-public-key.ts
  packages/server-core/src/user/services.ts
  scripts/update-project.ts
Owners: @aditya-mitra, @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen, @DanielBelmes

fix get/use ancestor components, and more tests
  packages/spatial/src/transform/components/EntityTree.test.tsx
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @SamMazerIR

Update EntityTree.tsx
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @SamMazerIR

fix getAncestorWithComponents
  packages/spatial/src/transform/components/EntityTree.test.tsx
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @SamMazerIR

Update EntityTree.test.tsx
  packages/spatial/src/transform/components/EntityTree.test.tsx
Owners: @SamMazerIR

build
  packages/hyperflux/package.json
  packages/hyperflux/tsconfig.json
  packages/hyperflux/vite.config.ts
Owners: @speigg

New Camera functions, bbox function, and EntityTree functions/tests (#212)
  packages/spatial/src/camera/components/FollowCameraComponent.ts
  packages/spatial/src/camera/functions/CameraFunctions.ts
  packages/spatial/src/transform/components/EntityTree.test.tsx
  packages/spatial/src/transform/components/EntityTree.tsx
  packages/spatial/src/transform/functions/BoundingBoxFunctions.ts
Owners: @DanielBelmes, @SamMazerIR, @speigg

License
  packages/ecs/src/schemas/ECSSchemas.ts
  packages/ecs/src/schemas/JSONSchemaTypes.ts
  packages/ecs/src/schemas/JSONSchemaUtils.ts
Owners: @speigg

feat: integrate google tag manager
  .env.local.default
  packages/client-core/i18n/en/admin.json
  packages/client-core/src/admin/components/settings/tabs/client.tsx
  packages/client/package.json
  packages/client/src/store.tsx
  packages/common/src/schemas/setting/client-setting.schema.ts
  packages/server-core/src/setting/client-setting/migrations/20240910165158_gtmContainerId_column.ts
Owners: @HexaField, @aditya-mitra, @hanzlamateen, @barankyle, @MoizAdnan, @hurairahmateen

chore: update Google Tag manager settings conditionally
  packages/server-core/src/setting/client-setting/migrations/20240910165158_gtmContainerId_column.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

chore: missing properties in seed
  packages/server-core/src/setting/client-setting/client-setting.seed.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

media streams abstraction
  packages/client-core/src/components/ConferenceMode/index.tsx
  packages/client-core/src/components/MediaIconsBox/index.tsx
  packages/client-core/src/components/UserMediaWindow/index.tsx
  packages/client-core/src/components/UserMediaWindows/index.tsx
  packages/client-core/src/media/PeerMedia.tsx
  packages/client-core/src/systems/ui/WidgetMenuView/index.tsx
  packages/client-core/src/transports/MediaStreams.ts
  packages/client-core/src/transports/MediasoupMediaTracksSystem.tsx
  packages/client-core/src/transports/PeerMediaChannelState.ts
  packages/client-core/src/transports/SocketWebRTCClientFunctions.ts
  packages/ui/src/components/Chat/Message.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

start cleaning up abstractions
  packages/client-core/src/components/MediaIconsBox/index.tsx
  packages/client-core/src/components/UserMediaWindow/index.tsx
  packages/client-core/src/media/PeerMedia.tsx
  packages/client-core/src/media/webcam/WebcamInput.ts
  packages/client-core/src/transports/MediaStreams.ts
  packages/client-core/src/transports/MediasoupMediaTracksSystem.tsx
  packages/client-core/src/transports/SocketWebRTCClientFunctions.ts
  packages/client-core/src/world/ClientNetworkModule.ts
  packages/ui/src/components/Chat/Message.tsx
  packages/ui/src/components/Chat/VideoCall.tsx
  packages/ui/src/pages/Capture/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

tst: Unit Tests for `PhysicsSerialization.ts` (phase 1)
  packages/spatial/src/physics/PhysicsSerialization.test.ts
Owners: @heysokam

abstract mediasoup pause consumer
  packages/client-core/src/components/UserMediaWindow/index.tsx
  packages/client-core/src/systems/ui/WidgetMenuView/index.tsx
  packages/client-core/src/transports/FilteredUsersSystem.ts
  packages/client-core/src/transports/SocketWebRTCClientFunctions.ts
  packages/network/src/Network.ts
  packages/ui/src/components/Chat/VideoCall.tsx
Owners: @aditya-mitra, @speigg, @SYBIOTE, @CITIZENDOT

Added support for cross-domain login. (#149)
  packages/client-core/src/user/services/AuthService.ts
  packages/client/index.html
  packages/client/public/cookie-accessor.css
  packages/client/public/root-cookie-accessor-template.html
  packages/client/vite.config.ts
  packages/common/src/schemas/networking/allowed-domains.schema.ts
  packages/hyperflux/src/functions/StateFunctions.ts
  packages/server-core/src/appconfig.ts
  packages/server-core/src/hooks/authenticate.ts
  packages/server-core/src/networking/allowed-domains/allowed-domains.class.ts
  packages/server-core/src/networking/allowed-domains/allowed-domains.docs.ts
  packages/server-core/src/networking/allowed-domains/allowed-domains.hooks.ts
  packages/server-core/src/networking/allowed-domains/allowed-domains.ts
  scripts/build_minikube.sh
Owners: @aditya-mitra, @barankyle, @HexaField, @speigg, @MoizAdnan, @hanzlamateen, @hurairahmateen, @DanielBelmes

rearrange and finish abstracting
  packages/client-core/i18n/en/user.json
  packages/client-core/src/common/services/LocationInstanceConnectionService.ts
  packages/client-core/src/common/services/MediaInstanceConnectionService.ts
  packages/client-core/src/components/ConferenceMode/ConferenceModeParticipant.tsx
  packages/client-core/src/components/ConferenceMode/index.module.scss
  packages/client-core/src/components/ConferenceMode/index.tsx
  packages/client-core/src/components/MediaIconsBox/index.tsx
  packages/client-core/src/components/UserMediaWindow/index.tsx
  packages/client-core/src/components/UserMediaWindows/index.module.scss
  packages/client-core/src/components/UserMediaWindows/index.tsx
  packages/client-core/src/media/MediaStreamState.ts
  packages/client-core/src/media/PeerMediaChannelState.ts
  packages/client-core/src/media/webcam/WebcamInput.ts
  packages/client-core/src/networking/NetworkInstanceProvisioning.tsx
  packages/client-core/src/systems/AvatarUISystem.tsx
  packages/client-core/src/systems/PositionalAudioSystem.tsx
  packages/client-core/src/systems/ui/RecordingsWidgetUI.tsx
  packages/client-core/src/systems/ui/WidgetMenuView/index.tsx
  packages/client-core/src/transports/mediasoup/MediasoupClientFunctions.ts
  packages/client-core/src/transports/mediasoup/MediasoupDataChannelSystem.tsx
  packages/client-core/src/transports/mediasoup/MediasoupMediaChannelSystem.tsx
  packages/client-core/src/transports/mediasoup/MediasoupMediaTracksSystem.tsx
  packages/client-core/src/transports/mediasoup/MediasoupModule.ts
  packages/client-core/src/transports/mediasoup/MediasoupPeerMediaConsumersSystem.tsx
  packages/client-core/src/transports/mediasoup/MediasoupTransportSystem.tsx
  packages/client-core/src/world/ClientNetworkModule.ts
  packages/client-core/src/world/FilteredUsersSystem.ts
  packages/instanceserver/src/InstanceServerModule.ts
  packages/ui/src/components/Chat/Message.tsx
  packages/ui/src/components/Chat/VideoCall.tsx
  packages/ui/src/pages/Capture/index.tsx
Owners: @aditya-mitra, @HexaField, @SYBIOTE, @CITIZENDOT

tst: Improvements on `Material*Component.onRemove` unit tests (phase1)
  packages/spatial/src/renderer/materials/MaterialComponent.test.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

IR-4464: Google Tag Manager Integration (#214)
  .env.local.default
  packages/client-core/i18n/en/admin.json
  packages/client-core/src/admin/components/settings/tabs/client.tsx
  packages/client/package.json
  packages/client/src/store.tsx
  packages/common/src/schemas/setting/client-setting.schema.ts
  packages/server-core/src/setting/client-setting/client-setting.seed.ts
  packages/server-core/src/setting/client-setting/migrations/20240910165158_gtmContainerId_column.ts
Owners: @HexaField, @aditya-mitra, @hanzlamateen, @barankyle, @MoizAdnan, @hurairahmateen

feat: validate iframe message is comming from root-cookie-accessor
  packages/client-core/src/user/services/AuthService.ts
Owners: @aditya-mitra

chore: validate all messages
  packages/client-core/src/user/services/AuthService.ts
Owners: @aditya-mitra

chore: removed log
  packages/client-core/src/user/services/AuthService.ts
Owners: @aditya-mitra
