Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

Move the default urls from use immediate effect to the schema default
  packages/engine/src/scene/components/ImageComponent.ts
  packages/engine/src/scene/components/SkyboxComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix: GTM integration
  packages/client/index.html
  packages/client/package.json
  packages/client/src/store.tsx
  packages/client/vite.config.ts
Owners: @barankyle, @aditya-mitra

fix camera reset studio
  packages/engine/src/scene/components/ScenePreviewCamera.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Add back blob override for node
  packages/server-core/src/patchEngineNode.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

format
  packages/server-core/src/patchEngineNode.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

refactor envmap component to use component query instead of add a copy to every child
  packages/engine/src/scene/components/EnvmapComponent.tsx
  packages/engine/src/scene/systems/SceneObjectSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix envmap intensity dep
  packages/engine/src/scene/components/EnvmapComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix slider values
  packages/ui/src/components/editor/properties/envmap/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

change primitive geom to use standard material
  packages/engine/src/scene/components/PrimitiveGeometryComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

format
  packages/engine/src/scene/components/EnvmapComponent.tsx
  packages/engine/src/scene/systems/SceneObjectSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

extra padding in groundPlane node editor, removing a comment in image/SourceProperties, fixing hyperactive reactivity in color picker
  packages/ui/src/components/editor/properties/groundPlane/index.tsx
  packages/ui/src/components/editor/properties/image/sourceProperties/index.tsx
  packages/ui/src/primitives/tailwind/Color/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

define min height for asset panel scrollbar
  packages/editor/src/panels/assets/assetPanel.css
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

make scroll bar relative
  packages/editor/src/panels/assets/assetPanel.css
Owners: @dinomut1, @aditya-mitra

chore: revert changes to modal & use custom header
  packages/client-core/src/user/components/UserMenu/menus/AvatarSelectMenu2.tsx
  packages/ui/src/primitives/tailwind/Modal/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

GLTF dependency map changes, resource tracking
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/gltf/GLTFState.tsx
  packages/ui/src/components/editor/properties/gltf/loader/index.tsx
Owners: @aditya-mitra, @AidanCaruso, @MichaelEstes, @dinomut1, @SYBIOTE, @CITIZENDOT

feat: moved stars css effect
  packages/client-core/src/user/components/UserMenu/index.module.scss
  packages/client-core/src/user/components/UserMenu/menus/AvatarCreatorMenu2.tsx
  packages/client-core/src/user/components/UserMenu/menus/AvatarSelectMenu2.tsx
  packages/client/src/themes/components.css
Owners: @aditya-mitra, @barankyle

RC0.9 Michael/ir 4408 video random (#492)
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

RC0.9 added clearing the renaming node if clicking on a different hierarchy… (#496)
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
Owners: @dinomut1, @aditya-mitra

RC0.9: IR-5148: fix loading spinner not going away for variant switching (#507)
  packages/editor/src/systems/ModelLoadingSpinnerSystem.tsx
Owners: @dinomut1, @aditya-mitra

RC0.9 Michael/ir 4593 skybox (#514)
  packages/engine/src/scene/components/ImageComponent.ts
  packages/engine/src/scene/components/SkyboxComponent.ts
  packages/projects/default-project/assets/prefabs/skybox.prefab.gltf
  packages/ui/src/components/editor/input/Image/index.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @HexaField, @aditya-mitra, @SYBIOTE

fix reactivity and provisionoing media bugs
  packages/client-core/src/networking/NetworkInstanceProvisioning.tsx
Owners: @aditya-mitra

remove instanceId from URL if not found
  packages/client-core/src/common/services/LocationInstanceConnectionService.ts
Owners: @aditya-mitra

better asset panel scroll
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

Update email regex to be more liberal to check TLDs
  packages/common/src/regex/index.ts
Owners: @HexaField

remove negative test case (temporary)
  packages/common/tests/regex.test.ts
Owners: @HexaField

update save
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
Owners: @dinomut1, @aditya-mitra

fix: GTM integration
  packages/client/index.html
  packages/client/package.json
  packages/client/src/store.tsx
  packages/client/vite.config.ts
Owners: @barankyle, @aditya-mitra

update ui
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
Owners: @dinomut1, @aditya-mitra

I felt like simplifying conditions for some reason
  packages/engine/src/scene/components/LinkComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Parse prefab storage urls
  packages/engine/src/gltf/GLTFComponent.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

add branch patten for release
  .github/workflows/branch-build.yml
  .github/workflows/codeql.yml
Owners: @DanielBelmes

add branch patten for release
  .github/workflows/branch-build.yml
  .github/workflows/codeql.yml
Owners: @DanielBelmes

Skybox component remove defaults
  packages/engine/src/scene/components/ImageComponent.ts
  packages/engine/src/scene/components/SkyboxComponent.ts
  packages/projects/default-project/assets/prefabs/skybox.prefab.gltf
  packages/spatial/src/resources/ResourceState.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @HexaField, @MichaelEstes

adding i18n and better descriptions to mount point, plus an override option on dismount to allow for dropping the avatar in midair (and explaining how dismount offset works)
  packages/client-core/i18n/en/editor.json
  packages/engine/src/scene/components/MountPointComponent.ts
  packages/spatial/src/physics/enums/CollisionGroups.ts
  packages/ui/src/components/editor/properties/mountPoint/index.tsx
Owners: @aditya-mitra, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @heysokam, @SYBIOTE

format
  packages/client-core/src/admin/components/user/UserTable.tsx
  packages/editor/src/components/toolbar/Toolbar.tsx
Owners: @hanzlamateen, @dinomut1, @aditya-mitra

fix
  packages/client-core/src/common/components/ProfilePill/index.tsx
Owners: @aditya-mitra

format
  packages/client-core/src/common/components/ProfilePill/index.tsx
Owners: @aditya-mitra

Fix asset search
  packages/editor/src/panels/assets/hooks.tsx
  packages/editor/src/panels/assets/topbar.tsx
Owners: @dinomut1, @aditya-mitra

replace input group + slider with new slider
  packages/client-core/src/user/components/UserMenu/menus/SettingMenu2.tsx
  packages/editor/src/components/assets/ImageCompressionPanel.tsx
  packages/editor/src/panels/assets/topbar.tsx
  packages/editor/src/panels/files/toolbar.tsx
  packages/ui/src/components/editor/properties/audio/analysis/index.tsx
  packages/ui/src/components/editor/properties/audio/positional/index.tsx
  packages/ui/src/components/editor/properties/envmap/index.tsx
  packages/ui/src/components/editor/properties/media/index.tsx
  packages/ui/src/components/editor/properties/media/settings/index.tsx
  packages/ui/src/components/editor/properties/postProcessing/index.tsx
  packages/ui/src/components/editor/properties/render/index.tsx
  packages/ui/src/components/editor/properties/skybox/index.tsx
  packages/ui/src/components/editor/properties/volumetric/index.tsx
  packages/ui/src/components/editor/properties/volumetric/new/index.tsx
Owners: @aditya-mitra, @dinomut1, @SYBIOTE, @CITIZENDOT

reexport slider from ui/editor
  packages/ui/editor.ts
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
