Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

Add action prop to AddEditLocationModal for context-specific usage
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/client-core/src/admin/components/locations/LocationTable.tsx
  packages/client-core/src/admin/components/locations/index.tsx
  packages/editor/src/components/toolbar/Toolbar.tsx
Owners: @hanzlamateen, @dinomut1, @aditya-mitra

warning message on mobile devices
  packages/editor/src/hooks/useBrowserCheck.ts
Owners: @dinomut1, @aditya-mitra

bind by node id works with retargeting now
  packages/engine/src/avatar/components/AnimationComponent.ts
  packages/engine/src/avatar/functions/avatarFunctions.ts
Owners: @AidanCaruso

cleanup logs
  packages/engine/src/avatar/components/AnimationComponent.ts
  packages/engine/src/avatar/functions/avatarFunctions.ts
Owners: @AidanCaruso

Replace Select occurences
  packages/client-core/src/admin/components/instance/PatchServerModal.tsx
  packages/client-core/src/admin/components/invites/AddEditInviteModal.tsx
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/client-core/src/admin/components/project/AddEditProjectModal.tsx
  packages/client-core/src/admin/components/project/UpdateEngineModal.tsx
  packages/client-core/src/admin/components/server/ServerLogsModal.tsx
  packages/client-core/src/admin/components/server/index.tsx
  packages/client-core/src/admin/components/settings/tabs/client.tsx
  packages/client-core/src/admin/components/settings/tabs/helm.tsx
  packages/client-core/src/admin/components/settings/tabs/project.tsx
  packages/client-core/src/admin/components/user/AddEditUserModal.tsx
  packages/client-core/src/user/components/UserMenu/menus/SettingMenu2.tsx
  packages/editor/src/components/assets/ImageCompressionPanel.tsx
  packages/editor/src/components/dialogs/ImportSettingsPanelDialog.tsx
  packages/editor/src/components/properties/GLTFTransformProperties.tsx
  packages/editor/src/components/toolbar/Toolbar.tsx
  packages/editor/src/panels/files/contextmenu.tsx
  packages/editor/src/panels/files/modals/ImageConvertModal.tsx
  packages/editor/src/panels/hierarchy/contextmenu.tsx
  packages/editor/src/panels/viewport/tools/RenderTool.tsx
  packages/editor/src/panels/viewport/tools/TransformPivotTool.tsx
  packages/editor/src/panels/viewport/tools/TransformSnapTool.tsx
  packages/editor/src/panels/viewport/tools/TransformSpaceTool.tsx
  packages/editor/src/panels/visualscript/modals/load.tsx
  packages/ui/src/components/editor/input/Generator/Value/index.tsx
  packages/ui/src/components/editor/input/Select/index.tsx
  packages/ui/src/components/editor/properties/animation/index.tsx
  packages/ui/src/components/editor/properties/gltf/transform/index.tsx
  packages/ui/src/components/editor/properties/media/preview/index.tsx
  packages/ui/src/components/editor/properties/trigger/index.tsx
  packages/ui/src/primitives/tailwind/Dropdown/index.stories.tsx
  packages/ui/src/primitives/tailwind/Dropdown/index.tsx
  packages/ui/src/primitives/tailwind/Select/index.stories.tsx
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @hanzlamateen, @aditya-mitra, @dinomut1, @SYBIOTE, @CITIZENDOT

check if uploaded files exist
  packages/editor/src/functions/assetFunctions.ts
Owners: @SYBIOTE

Type fix
  packages/ui/src/components/editor/properties/scene/settings/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Update ParticleSystemComponent.ts
  packages/engine/src/scene/components/ParticleSystemComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

revert. Not a good default
  packages/engine/src/scene/components/ParticleSystemComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

update default value to burst setting
  packages/ui/src/components/editor/properties/particle/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

update gravity force default setting
  packages/engine/src/scene/components/ParticleSystemComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Clean up some stuff and get loop animation component almost working again with avatar animations
  packages/engine/src/avatar/components/LoopAnimationComponent.ts
  packages/engine/src/avatar/functions/avatarFunctions.ts
  packages/engine/src/avatar/functions/retargetMixamoRig.ts
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
Owners: @AidanCaruso

license
  packages/spatial/src/physics/states/NestedCollidersState.ts
Owners: @heysokam

ensure thumbnail generation and loading screen only in editor
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

show multiple file modal
  packages/editor/src/panels/files/toolbar.tsx
Owners: @dinomut1, @aditya-mitra

Use object id a resource key, update resource tracking on GLTF source change
  packages/engine/src/assets/functions/resourceLoaderFunctions.ts
  packages/engine/src/assets/functions/resourceLoaderHooks.ts
  packages/spatial/src/renderer/components/LineSegmentComponent.ts
  packages/spatial/src/renderer/components/MeshComponent.ts
  packages/spatial/src/resources/ResourceState.ts
  packages/spatial/src/resources/resourceHooks.test.tsx
  packages/spatial/src/resources/resourceHooks.ts
Owners: @MichaelEstes, @dinomut1, @speigg, @AidanCaruso, @DanielBelmes

avatar loop animations work now
  packages/engine/src/avatar/components/LoopAnimationComponent.ts
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
Owners: @AidanCaruso

use vrm schema for binding when applicable
  packages/engine/src/avatar/components/AnimationComponent.ts
  packages/engine/src/avatar/components/AvatarAnimationComponent.ts
  packages/engine/src/avatar/components/LoopAnimationComponent.ts
  packages/engine/src/avatar/functions/avatarFunctions.ts
  packages/engine/src/avatar/functions/retargetMixamoRig.ts
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
Owners: @AidanCaruso

make scene settings entity reactive
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

remove rig node references in favor of ecs functions
  packages/client-core/src/systems/PositionalAudioSystem.tsx
  packages/engine/src/avatar/components/AnimationComponent.ts
  packages/engine/src/avatar/components/AvatarAnimationComponent.ts
  packages/engine/src/avatar/components/LoopAnimationComponent.ts
  packages/engine/src/avatar/functions/avatarFunctions.ts
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
Owners: @aditya-mitra, @AidanCaruso

Envmap component reactivity
  packages/engine/src/scene/components/EnvmapComponent.tsx
  packages/engine/src/scene/constants/EnvMapEnum.ts
  packages/ui/src/components/editor/properties/envmap/index.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @aditya-mitra, @SYBIOTE

use michael's mesh setup, update avatar envmap intensity
  packages/engine/src/avatar/functions/spawnAvatarReceptor.ts
  packages/engine/src/scene/systems/EnvironmentSystem.tsx
Owners: @AidanCaruso, @dinomut1, @speigg, @CITIZENDOT

Set max location to 5 (#612)
  packages/client-core/i18n/en/admin.json
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/client-core/src/social/services/LocationService.ts
  packages/server-core/src/matchmaking/match-instance/match-instance.test.ts
  packages/server-core/src/social/location/location-helper.ts
  packages/server-core/src/social/location/location.test.ts
  packages/server-core/tests/util/createTestLocation.ts
Owners: @aditya-mitra, @hanzlamateen, @barankyle, @MoizAdnan, @hurairahmateen

add useSpatialEngine hook
  packages/client/src/pages/location/location.tsx
  packages/editor/src/components/EditorContainer.tsx
  packages/spatial/src/initializeEngine.ts
Owners: @barankyle, @aditya-mitra, @dinomut1, @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

refactor useLoadEngineWithScene into systems
  packages/client-core/src/components/World/EngineHooks.tsx
  packages/client-core/src/world/ClientModule.ts
  packages/client-core/src/world/LinkRedirectSystem.ts
  packages/client-core/src/world/Location.tsx
  packages/client-core/src/world/PortalRedirectSystem.ts
Owners: @speigg, @aditya-mitra

format
  packages/client-core/src/components/World/EngineHooks.tsx
Owners: @speigg

fix bug with entities unloading and reloading
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/network/src/EntityNetworkState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @speigg

typo
  packages/network/src/EntityNetworkState.tsx
Owners: @speigg

dead code
  packages/engine/src/avatar/AvatarBoneMatching.ts
Owners: @AidanCaruso

Improved login flow to prompt associations with existing accounts
  packages/client-core/i18n/en/user.json
  packages/client-core/src/user/components/Auth/MagicLinkEmail.tsx
  packages/client-core/src/user/components/MagicLink/AuthMagicLink.tsx
  packages/client-core/src/user/components/Oauth/ErrorPage.tsx
  packages/client-core/src/user/services/AuthService.ts
  packages/common/src/schemas/user/login-token.schema.ts
  packages/server-core/src/setting/authentication-setting/authentication-setting.seed.ts
  packages/server-core/src/user/login-token/migrations/20230828202954_associate-user-column.ts
  packages/server-core/src/user/login/login.class.ts
  packages/server-core/src/user/login/login.ts
  packages/server-core/src/user/magic-link/magic-link.class.ts
  packages/server-core/src/user/strategies/apple.ts
  packages/server-core/src/user/strategies/discord.ts
  packages/server-core/src/user/strategies/facebook.ts
  packages/server-core/src/user/strategies/github.ts
  packages/server-core/src/user/strategies/google.ts
  packages/server-core/src/user/strategies/linkedin.ts
  packages/server-core/src/user/strategies/twitter.ts
Owners: @aditya-mitra, @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

Fixed formatting
  packages/server-core/src/user/login/login.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fixup
  packages/client-core/src/user/components/Oauth/ErrorPage.tsx
  packages/server-core/src/user/strategies/apple.ts
  packages/server-core/src/user/strategies/discord.ts
  packages/server-core/src/user/strategies/facebook.ts
  packages/server-core/src/user/strategies/github.ts
  packages/server-core/src/user/strategies/google.ts
  packages/server-core/src/user/strategies/linkedin.ts
  packages/server-core/src/user/strategies/twitter.ts
Owners: @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

fixup
  packages/server-core/src/user/strategies/apple.ts
  packages/server-core/src/user/strategies/discord.ts
  packages/server-core/src/user/strategies/facebook.ts
  packages/server-core/src/user/strategies/github.ts
  packages/server-core/src/user/strategies/google.ts
  packages/server-core/src/user/strategies/linkedin.ts
  packages/server-core/src/user/strategies/twitter.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Update the identity provider hook search query condition to require three parameters, as we have added the type query parameter.
  packages/server-core/src/user/identity-provider/identity-provider.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

added blurred loading icon
  packages/client/public/static/editor/file-icon-blur.png
  packages/editor/src/panels/files/fileicon.tsx
Owners: @barankyle, @aditya-mitra, @dinomut1

Tests
  packages/spatial/src/renderer/components/LineSegmentComponent.test.tsx
  packages/spatial/src/resources/resourceHooks.test.tsx
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

Remove todo
  packages/ecs/src/schemas/JSONSchemaTypes.ts
Owners: @speigg

Fix glitches, performance issues and color issues
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

fix: improves responsiveness in avatar selection component
  packages/client-core/src/user/components/UserMenu/menus/AvatarSelectMenu2.tsx
Owners: @aditya-mitra

remove funding
  .github/FUNDING.yml
Owners: @DanielBelmes
