Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

Run variant system in editor
  packages/engine/src/scene/components/VariantComponent.tsx
  packages/engine/src/scene/systems/VariantSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

remove redundant avatar url property
  packages/client-core/src/common/components/AvatarPreview/index.tsx
  packages/engine/src/avatar/components/AvatarAnimationComponent.ts
  packages/engine/src/avatar/state/AvatarNetworkState.tsx
Owners: @aditya-mitra, @AidanCaruso

add dep
  packages/engine/src/avatar/components/AvatarAnimationComponent.ts
Owners: @AidanCaruso

Fixed a bug with server-SFU provisioning
  packages/server-core/src/networking/instance-provision/instance-provision.class.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

add skybox to default scene
  packages/projects/default-project/public/scenes/default.gltf
  packages/projects/default-project/public/thumbnails/assets_apartment-CubemapBake.png-thumbnail.png
  packages/projects/default-project/public/thumbnails/assets_generic_midday_02.png-thumbnail.png
  packages/projects/default-project/public/thumbnails/assets_platform.glb-thumbnail.png
  packages/projects/default-project/public/thumbnails/public_scenes_apartment-New-EnvMap-Bake.ktx2-thumbnail.png
  packages/projects/default-project/public/thumbnails/public_scenes_apartment-Portal.ktx2-thumbnail.png
  packages/projects/default-project/public/thumbnails/public_scenes_apartment.envmap.ktx2-thumbnail.png
  packages/projects/default-project/public/thumbnails/public_scenes_apartment.loadingscreen.ktx2-thumbnail.png
  packages/projects/default-project/public/thumbnails/public_scenes_default.envmap.ktx2-thumbnail.png
  packages/projects/default-project/public/thumbnails/public_scenes_default.loadingscreen.ktx2-thumbnail.png
  packages/projects/default-project/public/thumbnails/public_scenes_sky-station-Portal---Sky-Station-Exterior.ktx2-thumbnail.png
  packages/projects/default-project/public/thumbnails/public_scenes_sky-station-Portal---Sky-Station-Interior.ktx2-thumbnail.png
  packages/projects/default-project/public/thumbnails/public_scenes_sky-station-Portal---to-Apartment.ktx2-thumbnail.png
  packages/projects/default-project/public/thumbnails/public_scenes_sky-station.envmap.ktx2-thumbnail.png
  packages/projects/default-project/public/thumbnails/public_scenes_sky-station.loadingscreen.ktx2-thumbnail.png
  packages/projects/default-project/resources.json
Owners: @HexaField

feat(studio): display the unsupported device and browser modals
  packages/client-core/i18n/en/common.json
  packages/client-core/i18n/en/editor.json
  packages/editor/src/pages/EditorPage.tsx
Owners: @aditya-mitra, @dinomut1

revert fixUseEngineCanvas
  packages/client-core/src/hooks/useEngineCanvas.ts
Owners: @jose-galvan

Only append root nodes to scene
  packages/editor/src/functions/EditorControlFunctions.ts
Owners: @SYBIOTE

Type fixes
  packages/server-core/src/networking/instance-provision/instance-provision.class.ts
  packages/server-core/src/networking/instance/instance.resolvers.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

turn off gizmo for wizard
  packages/editor/src/systems/EditorControlSystem.ts
Owners: @dinomut1, @aditya-mitra

Fixing a null check on a reactive proxy and a mixup with entities. (#436)
  packages/engine/src/scene/components/ParticleSystemComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

wip
  packages/xrui/core/classes/Transition.ts
  packages/xrui/core/components/LayoutComponent.tsx
Owners: @speigg

studio: add skybox to default scene (#437)
  packages/projects/default-project/public/scenes/default.gltf
  packages/projects/default-project/public/thumbnails/assets_apartment-CubemapBake.png-thumbnail.png
  packages/projects/default-project/public/thumbnails/assets_generic_midday_02.png-thumbnail.png
  packages/projects/default-project/public/thumbnails/assets_platform.glb-thumbnail.png
  packages/projects/default-project/public/thumbnails/public_scenes_apartment-New-EnvMap-Bake.ktx2-thumbnail.png
  packages/projects/default-project/public/thumbnails/public_scenes_apartment-Portal.ktx2-thumbnail.png
  packages/projects/default-project/public/thumbnails/public_scenes_apartment.envmap.ktx2-thumbnail.png
  packages/projects/default-project/public/thumbnails/public_scenes_apartment.loadingscreen.ktx2-thumbnail.png
  packages/projects/default-project/public/thumbnails/public_scenes_default.envmap.ktx2-thumbnail.png
  packages/projects/default-project/public/thumbnails/public_scenes_default.loadingscreen.ktx2-thumbnail.png
  packages/projects/default-project/public/thumbnails/public_scenes_sky-station-Portal---Sky-Station-Exterior.ktx2-thumbnail.png
  packages/projects/default-project/public/thumbnails/public_scenes_sky-station-Portal---Sky-Station-Interior.ktx2-thumbnail.png
  packages/projects/default-project/public/thumbnails/public_scenes_sky-station-Portal---to-Apartment.ktx2-thumbnail.png
  packages/projects/default-project/public/thumbnails/public_scenes_sky-station.envmap.ktx2-thumbnail.png
  packages/projects/default-project/public/thumbnails/public_scenes_sky-station.loadingscreen.ktx2-thumbnail.png
  packages/projects/default-project/resources.json
Owners: @HexaField

Prefabs with hierarchies
  packages/engine/src/gltf/exportGLTFScene.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

Fix react error
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

clean up key value
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

lint error fix
  packages/editor/src/systems/RenderMonitorSystem.tsx
Owners: @dinomut1, @aditya-mitra

Expose scene params to debug window (#434)
  packages/client-core/i18n/en/editor.json
  packages/client-core/src/components/Debug/StatsPanel.tsx
  packages/editor/src/systems/RenderMonitorSystem.tsx
  packages/spatial/src/renderer/RenderInfoSystem.ts
Owners: @aditya-mitra, @dinomut1, @AidanCaruso, @DanielBelmes, @MichaelEstes

added PR requested try catch
  packages/editor/src/functions/addMediaNode.ts
Owners: @SYBIOTE

Prefab objects receive the correct name (#427)
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/functions/addMediaNode.ts
Owners: @SYBIOTE

fixed issue with try catch scope
  packages/editor/src/functions/addMediaNode.ts
Owners: @SYBIOTE

corrected the logic for the hierarchy node double click (#411)
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
Owners: @dinomut1, @aditya-mitra

more loop animation stuff
  packages/client-core/i18n/en/editor.json
  packages/editor/src/functions/addMediaNode.ts
  packages/engine/src/avatar/components/AvatarAnimationComponent.ts
  packages/engine/src/avatar/components/LoopAnimationComponent.ts
  packages/ui/src/components/editor/properties/animation/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @AidanCaruso, @CITIZENDOT

remove instance attendance from user resolver
  packages/client-core/src/user/services/AuthService.ts
  packages/common/src/schemas/user/user.schema.ts
  packages/instanceserver/src/NetworkFunctions.ts
  packages/server-core/src/user/user/user.resolvers.ts
Owners: @aditya-mitra, @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

Michael/ir 5033 rename (#439)
  packages/editor/src/functions/addMediaNode.ts
Owners: @SYBIOTE

remove instance attendance from user resolver
  packages/client-core/src/user/services/AuthService.ts
  packages/common/src/schemas/user/user.schema.ts
  packages/instanceserver/src/NetworkFunctions.ts
  packages/server-core/src/user/user/user.resolvers.ts
Owners: @aditya-mitra, @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

wip, almost working, need to refactor to use the After field
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/panels/hierarchy/hooks.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

Improved login flow to prompt associations with existing accounts
  packages/client-core/i18n/en/user.json
  packages/client-core/src/common/services/RouterService.tsx
  packages/client-core/src/user/components/Auth/MagicLinkEmail.tsx
  packages/client-core/src/user/components/MagicLink/AuthMagicLink.tsx
  packages/client-core/src/user/components/Oauth/ErrorPage.tsx
  packages/client-core/src/user/services/AuthService.ts
  packages/common/src/schemas/user/login-token.schema.ts
  packages/server-core/src/setting/authentication-setting/authentication-setting.seed.ts
  packages/server-core/src/user/login-token/migrations/20230828202954_associate-user-column.ts
  packages/server-core/src/user/login/login.class.ts
  packages/server-core/src/user/login/login.ts
  packages/server-core/src/user/strategies/apple.ts
  packages/server-core/src/user/strategies/discord.ts
  packages/server-core/src/user/strategies/facebook.ts
  packages/server-core/src/user/strategies/github.ts
  packages/server-core/src/user/strategies/google.ts
  packages/server-core/src/user/strategies/linkedin.ts
  packages/server-core/src/user/strategies/twitter.ts
Owners: @aditya-mitra, @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

feat(invite): update the invite toast
  packages/client-core/i18n/en/social.json
  packages/client-core/src/components/InviteToast/index.module.scss
  packages/client-core/src/components/InviteToast/index.tsx
Owners: @aditya-mitra

fix(invite-toast): define the type of newestInvite
  packages/client-core/src/components/InviteToast/index.tsx
Owners: @aditya-mitra

fix bug with local project perms
  packages/server-core/src/projects/project/project.class.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

format
  packages/client-core/src/admin/components/locations/LocationTable.tsx
  packages/common/src/schemas/user/user.schema.ts
  packages/server-core/src/hooks/project-permission-authenticate.ts
  packages/server-core/src/projects/project-branches/project-branches.test.ts
  packages/server-core/src/projects/project-builder-tags/project-builder-tags.test.ts
  packages/server-core/src/projects/project-check-source-destination-match/project-check-source-destination-match.test.ts
  packages/server-core/src/projects/project-commits/project-commits.test.ts
  packages/server-core/src/user/user/user.resolvers.ts
Owners: @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

fix(invite-toast): create a invite actions to dismiss the snackbar
  packages/client-core/i18n/en/social.json
  packages/client-core/src/common/services/NotificationService.tsx
  packages/client-core/src/components/InviteToast/InviteSnackbarActions.tsx
  packages/client-core/src/components/InviteToast/index.tsx
Owners: @aditya-mitra

fix(invite-toast): create a invite actions component
  packages/client-core/src/components/InviteToast/InviteSnackbarActions.tsx
Owners: @aditya-mitra

refactor user identity providers
  packages/client-core/src/admin/adminRoutes.tsx
  packages/client-core/src/admin/components/project/AddEditProjectModal.tsx
  packages/client-core/src/admin/components/project/ProjectTopMenu.tsx
  packages/client-core/src/admin/components/user/AccountIdentifiers.tsx
  packages/client-core/src/admin/components/user/AddEditUserModal.tsx
  packages/client-core/src/user/components/UserMenu/menus/ProfileMenu.tsx
  packages/common/src/schemas/user/user.schema.ts
  packages/editor/src/components/projects/ProjectsPage.tsx
  packages/editor/src/components/toolbar/Toolbar.tsx
  packages/server-core/src/integrations/zendesk/zendesk.hooks.ts
  packages/server-core/src/user/accept-invite/accept-invite.class.ts
  packages/server-core/src/user/login-token/login-token.hooks.ts
  packages/server-core/src/user/user/user.resolvers.ts
Owners: @hanzlamateen, @aditya-mitra, @HexaField, @dinomut1, @barankyle, @MoizAdnan, @hurairahmateen

remove user resolver locationBans
  packages/client-core/src/user/services/AuthService.ts
  packages/common/src/schemas/user/user.schema.ts
  packages/server-core/src/user/user/user.resolvers.ts
Owners: @aditya-mitra, @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

remove user settings resolver locationBans
  packages/client-core/src/common/services/AppThemeState.ts
  packages/client-core/src/systems/LoadingUISystem.tsx
  packages/client-core/src/user/components/UserMenu/menus/SettingMenu.tsx
  packages/client-core/src/user/components/UserMenu/menus/SettingMenu2.tsx
  packages/client-core/src/user/services/AuthService.ts
  packages/client/src/pages/themeContext.tsx
  packages/common/src/schemas/user/user.schema.ts
  packages/server-core/src/user/user/user.resolvers.ts
Owners: @aditya-mitra, @barankyle, @HexaField, @MoizAdnan, @hanzlamateen, @hurairahmateen

revert
  packages/client-core/src/admin/components/user/AccountIdentifiers.tsx
  packages/client-core/src/admin/components/user/AddEditUserModal.tsx
Owners: @hanzlamateen

remove api key and last login from user resolver
  packages/client-core/src/admin/components/user/UserTable.tsx
  packages/client-core/src/user/components/UserMenu/menus/ProfileMenu.tsx
  packages/client-core/src/user/services/AuthService.ts
  packages/common/src/schemas/user/user.schema.ts
  packages/server-core/src/hooks/check-scope.test.ts
  packages/server-core/src/hooks/verify-scope.test.ts
  packages/server-core/src/projects/project-permission/project-permission.test.ts
  packages/server-core/src/user/user-login/user-login.hooks.ts
  packages/server-core/src/user/user/user.hooks.ts
  packages/server-core/src/user/user/user.resolvers.ts
Owners: @hanzlamateen, @aditya-mitra, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen

fix meta base url and move mt project setting from ir core
  packages/client-core/src/admin/components/settings/tabs/metabase.tsx
  packages/server-core/src/integrations/metabase/metabase-url/metabase-url.hooks.ts
  packages/server-core/src/integrations/metabase/metabase-url/metabase-url.ts
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
  packages/server-core/src/setting/engine-setting/migrations/20241001042018_merge-metabase-setting.ts
Owners: @hanzlamateen, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
