Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

show the close button on instance chat only for age verified users
  packages/client-core/src/user/InstanceChat.tsx
Owners: @aditya-mitra

revert accidental change
  packages/client-core/src/user/InstanceChat.tsx
Owners: @aditya-mitra

fixed conditional comparison
  packages/ui/src/components/editor/properties/media/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

file-upload
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

fixe issue with the same props being passed to both the Scrubber and the NumericInput. Filtered out the Numeric Inout only props for the scrubber
  packages/ui/src/components/editor/input/Numeric/Scrubber/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fixed duplicate creation of media element and callbacks hookstate issue on deletion
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

updated local vars names to avoid confusion
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

removed dev logs. added onRemove to MediaElementComponet to make sure it's HTMLMediaElement was removed from the DOM
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

cleaned up var names to avoid confusion
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Changes to add scrollbar in admin sidebar
  packages/client-core/src/admin/adminRoutes.tsx
Owners: @hanzlamateen

Revert "show the close button on instance chat only for age verified users (#1278)"
  packages/client-core/src/user/InstanceChat.tsx
Owners: @aditya-mitra

add space between age verify button and close button
  packages/client-core/src/user/InstanceChat.tsx
Owners: @aditya-mitra

fixed thumbnail generation edgecase for repeatedly deleting and uploading the same file to the same folder
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
  packages/editor/src/functions/assetFunctions.ts
  packages/editor/src/panels/assets/resources.tsx
Owners: @aditya-mitra, @SYBIOTE, @dinomut1

removed the now unused id references
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
Owners: @aditya-mitra

updated the method name for deletingfiles to removeFromFileThumbnailsSeen to better describe its function
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
  packages/editor/src/functions/assetFunctions.ts
  packages/editor/src/panels/assets/resources.tsx
Owners: @aditya-mitra, @SYBIOTE, @dinomut1

simplified the removeFromFileThumbnailsSeen method to just take the list of files as string
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
  packages/editor/src/functions/assetFunctions.ts
  packages/editor/src/panels/assets/resources.tsx
Owners: @aditya-mitra, @SYBIOTE, @dinomut1

fixed missed ref to FileThumbnailJobState jobs
  packages/editor/src/panels/files/modals/FilePropertiesModal.tsx
Owners: @dinomut1, @aditya-mitra

fixed patch object typing issue
  packages/editor/src/functions/assetFunctions.ts
Owners: @SYBIOTE

removed project name from patch data
  packages/editor/src/functions/assetFunctions.ts
Owners: @SYBIOTE

switched from null to undefined for the for the thumbnail patch data
  packages/editor/src/functions/assetFunctions.ts
Owners: @SYBIOTE

set the static resource patch data object to any to get past the overload ref error issue
  packages/editor/src/functions/assetFunctions.ts
Owners: @SYBIOTE

removed unused TestState
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
Owners: @aditya-mitra

fixed issue with the static resource data schema not allowing null as a value for thumbnailKey, thumbnailURL, or thumbnailMode
  packages/common/src/schemas/media/static-resource.schema.ts
  packages/editor/src/functions/assetFunctions.ts
Owners: @HexaField, @SYBIOTE

removed thumbnailURL from patch and staticResourceSchema since it no longer exists in the database table
  packages/common/src/schemas/media/static-resource.schema.ts
  packages/editor/src/functions/assetFunctions.ts
Owners: @HexaField, @SYBIOTE

fixed issue with the FileThumbnailJobState jobs reference in the loaders.tsx
  packages/editor/src/panels/files/loaders.tsx
Owners: @dinomut1, @aditya-mitra

fixed ref to thumbnailJobState.jobs.length fixed staticResourceSchema to have thumbnailURL since it is still used
  packages/common/src/schemas/media/static-resource.schema.ts
  packages/editor/src/panels/files/filebrowser.tsx
Owners: @HexaField, @dinomut1, @aditya-mitra

fixed type issue with the thumbnailKey and thumbnailMode in the file-helper
  packages/server-core/src/media/file-browser/file-helper.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

IR-7859: POC for Google Marketplace account
  packages/ui/src/components/tailwind/InputDialog/index.tsx
  packages/ui/src/primitives/tailwind/Radio/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

added report user on instance chat
  packages/client-core/src/user/InstanceChat.tsx
  packages/client-core/src/user/VideoWindows/hook.tsx
  packages/client-core/src/user/VideoWindows/index.tsx
  packages/client-core/src/user/VideoWindows/window.tsx
  packages/client-core/src/util/ReportUserState.tsx
Owners: @aditya-mitra

invert the icons for video and audio
  packages/client-core/src/user/InstanceChat.tsx
  packages/client-core/src/user/VideoWindows/index.tsx
Owners: @aditya-mitra

disable the video and audio buttons when stream is off
  packages/client-core/src/user/VideoWindows/index.tsx
Owners: @aditya-mitra

fix audio element not working for peers
  packages/client-core/src/user/VideoWindows/hook.tsx
Owners: @aditya-mitra

Updated selected radio button selection
  packages/ui/src/components/tailwind/InputDialog/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

update cpmressed scene name
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

force default avatar on ios
  packages/client-core/src/networking/AvatarSpawnSystem.tsx
  packages/client-core/src/user/menus/ProfileMenu.tsx
Owners: @aditya-mitra

added creator privacy policy
  packages/client-core/i18n/en/user.json
  packages/client-core/src/user/menus/ProfileMenu.tsx
Owners: @aditya-mitra

Implement user ban checks in instance server and signaling logic
  packages/instanceserver/src/NetworkFunctions.ts
  packages/server-core/src/networking/instance-provision/instance-provision.hooks.ts
  packages/server-core/src/networking/instance-signaling/instance-signaling.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fixed edge case in adding a slot to the resource list ,it being selected, and then adding a video path to the slot and the preview video player not showing up
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix missing validatios for prefabs file names
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
  packages/editor/src/components/dialogs/SavePrefabDialog.tsx
Owners: @dinomut1, @aditya-mitra

Fixed issue with getting builder images
  packages/server-core/src/projects/project/project-helper.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
