Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

cleanup
  packages/ecs/src/ComponentFunctions.ts
Owners: @speigg

remove .only
  packages/ecs/src/ComponentFunctions.test.tsx
  packages/ecs/src/QueryFunctions.test.tsx
Owners: @speigg

test fixes, physics error fix, optimize hot path in onSet
  packages/ecs/src/ComponentFunctions.test.tsx
  packages/ecs/src/ComponentFunctions.ts
  packages/editor/src/functions/EditorControlFunctions.test.tsx
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/engine/src/avatar/systems/AvatarIKSystem.test.tsx
  packages/spatial/src/input/components/InputPointerComponent.test.ts
  packages/spatial/src/physics/components/RigidBodyComponent.test.tsx
  packages/spatial/src/renderer/components/LineSegmentComponent.test.tsx
  packages/spatial/src/renderer/components/ObjectLayerComponent.test.tsx
  packages/spatial/src/resources/ResourceState.test.tsx
Owners: @speigg, @SYBIOTE, @AidanCaruso, @heysokam, @SamMazerIR, @DanielBelmes, @MichaelEstes

added the ability for prefix icons to the numeric inputs
  packages/client-core/i18n/en/editor.json
  packages/ui/src/components/editor/input/Numeric/index.tsx
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix: unsupported file uploads are blocked
  packages/editor/src/functions/assetFunctions.ts
Owners: @SYBIOTE

Fix memory usage (#56)
  packages/client-core/src/networking/AvatarSpawnSystem.tsx
  packages/clientNative/ios/clientNative.xcodeproj/project.pbxproj
  packages/clientNative/ios/clientNative/clientNativeRelease.entitlements
  packages/clientNative/src/pages/location/LocationPage.tsx
  packages/clientNative/src/polyfill/NativeHTMLCanvasElement.ts
  packages/clientNative/wasm/_generated/@host/wasm-rt/wasm-rt-mem-impl.c
  packages/engine/src/assets/functions/resourceLoaderFunctions.ts
  packages/engine/src/assets/loaders/texture/TextureLoader.native.ts
  packages/engine/src/gltf/getResourceURI.native.ts
  packages/spatial/src/renderer/WebGLRendererSystem.tsx
  patches/@callstack+polygen+0.1.0.patch
  patches/@dimforge+rapier3d-compat+0.11.2.patch
  patches/expo-gl+15.0.2.patch
Owners: @aditya-mitra, @HexaField, @MichaelEstes, @dinomut1, @speigg, @AidanCaruso, @DanielBelmes

add new colors & variables to the theme & config
  packages/client-core/src/common/services/ThemeService.tsx
  tailwind.config.js
Owners: @aditya-mitra, @HexaField

Update .gitignore
  .gitignore
Owners: @HexaField

remove mui menu and box
  packages/client-core/src/user/UserUISystem.tsx
  packages/client-core/src/user/menus/avatar/EmbedFrame.tsx
Owners: @aditya-mitra

remove mui menu
  packages/client-core/src/common/components/Menu/index.tsx
Owners: @aditya-mitra

Update Select (dropdown) primitive with new colors
  packages/ui/src/primitives/tailwind/Dropdown/index.tsx
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Changes to allow editor to perform all operations
  packages/client-core/src/admin/components/project/ManageUserPermissionModal.tsx
  packages/server-core/src/hooks/check-project-permission.ts
  packages/server-core/src/hooks/verify-project-permission.ts
  packages/server-core/src/projects/project-history/project-history.hooks.ts
  packages/server-core/src/projects/project-permission/project-permission.hooks.ts
  packages/server-core/src/setting/project-setting/project-setting.hooks.ts
  packages/ui/src/primitives/tailwind/Autocomplete/index.tsx
Owners: @hanzlamateen, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra, @SYBIOTE, @CITIZENDOT

Update light theme colors
  packages/client-core/src/common/services/ThemeService.tsx
Owners: @aditya-mitra

Updated type check hook to work on external calls only
  packages/server-core/src/projects/project-permission/project-permission.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

add the up/down arrows to the inner/outer cone angles add the selection indicator / play “camera” button functionality
  packages/ui/src/components/editor/input/Numeric/index.tsx
  packages/ui/src/components/editor/properties/video/index.tsx
  packages/ui/src/components/editorUpdates/input/Array/index.tsx
  packages/ui/src/components/editorUpdates/properties/media/preview/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Update dropdown colors
  packages/ui/src/primitives/tailwind/Dropdown/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Update button primitive with new colors
  packages/ui/src/primitives/tailwind/Button/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

restore removecomponent to prevent propagation errors
  packages/ecs/src/ComponentFunctions.ts
Owners: @speigg

Update Checkbox primitive
  packages/client-core/src/common/services/ThemeService.tsx
  packages/ui/src/primitives/tailwind/Checkbox/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add more params to ActiveHelperComponent
  packages/editor/src/systems/HelperActiveSystem.ts
  packages/engine/src/audio/components/PositionalAudioComponent.ts
  packages/engine/src/scene/components/EnvMapBakeComponent.ts
  packages/engine/src/scene/components/ScenePreviewCamera.ts
  packages/engine/src/scene/components/SpawnPointComponent.ts
  packages/spatial/src/common/ActiveHelperComponent.ts
  packages/spatial/src/common/debug/useHelperEntity.ts
  packages/spatial/src/renderer/components/lights/DirectionalLightComponent.ts
  packages/spatial/src/renderer/components/lights/HemisphereLightComponent.ts
Owners: @dinomut1, @aditya-mitra, @speigg, @CITIZENDOT, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR, @DanielBelmes

fix issue with camera nodeHelper layer being disabled
  packages/spatial/src/renderer/WebGLRendererSystem.tsx
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

feat(user): add actions to the avatar menu
  packages/client-core/i18n/en/user.json
  packages/client-core/src/user/menus/avatar/AvatarSelectMenu.tsx
Owners: @aditya-mitra

fix bug with propagation with inited values
  packages/ecs/src/ComponentFunctions.ts
Owners: @speigg

render sprites
  packages/editor/src/functions/spriteFuctions.ts
  packages/editor/src/services/ComponentStudioIcons.tsx
  packages/editor/src/systems/HelperActiveSystem.ts
  packages/ui/src/icons/editor/BoundingBox.tsx
  packages/ui/src/icons/editor/EnvMapBake.tsx
  packages/ui/src/icons/editor/Media.tsx
  packages/ui/src/icons/editor/MountPoint.tsx
  packages/ui/src/icons/editor/Portal.tsx
  packages/ui/src/icons/editor/PositionalAudio.tsx
  packages/ui/src/icons/editor/ScenePreviewCamera.tsx
  packages/ui/src/icons/editor/SpawnPoint.tsx
  packages/ui/src/icons/editor/lights/Ambient.tsx
  packages/ui/src/icons/editor/lights/Directional.tsx
  packages/ui/src/icons/editor/lights/Hemisphere.tsx
  packages/ui/src/icons/editor/lights/Point.tsx
  packages/ui/src/icons/editor/lights/Spot.tsx
  packages/ui/src/icons/index.ts
Owners: @SYBIOTE, @dinomut1, @aditya-mitra, @CITIZENDOT

remove sprite functions
  packages/editor/src/functions/spriteFuctions.ts
Owners: @SYBIOTE

implement the drag/drop ordering for the video's media resource path list
  packages/ui/src/components/editorUpdates/input/Array/index.tsx
  packages/ui/src/primitives/tailwind/SegmentedControl/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

removed refs to Proxy instances for the inputElements
  packages/ui/src/components/editorUpdates/input/Array/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Fix Avatar Texture Loading (#57)
  packages/engine/src/assets/functions/createGLTFLoader.ts
  patches/expo-gl+15.0.2.patch
Owners: @MichaelEstes, @dinomut1, @speigg, @HexaField

refactor entity tree, bug fixes
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/EntityTree.test.tsx
  packages/ecs/src/EntityTree.tsx
  packages/ecs/src/Layers.test.tsx
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/GLTFState.tsx
Owners: @speigg, @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1

format
  packages/ecs/src/Layers.test.tsx
  packages/spatial/src/renderer/components/ObjectLayerComponent.test.tsx
Owners: @speigg, @AidanCaruso, @DanielBelmes, @MichaelEstes

bug fixes for component and entity removal, all core tests passing
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/Engine.ts
  packages/ecs/src/EntityFunctions.tsx
  packages/ecs/src/UUIDComponent.test.tsx
  packages/ecs/src/UUIDComponent.ts
  packages/editor/src/functions/EditorControlFunctions.test.tsx
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/engine/src/assets/exporters/gltf/extensions/EEECSExporterExtension.ts
  packages/engine/src/assets/loaders/base/FileLoader.ts
  packages/engine/src/scene/components/GLTFLoadedComponent.ts
  packages/engine/src/scene/components/OldColliderComponent.tsx
  packages/engine/src/scene/functions/serializeWorld.ts
  packages/spatial/src/common/NameComponent.ts
  packages/spatial/src/renderer/materials/MaterialComponent.tsx
Owners: @speigg, @SYBIOTE, @MichaelEstes, @dinomut1, @CITIZENDOT, @AidanCaruso, @MbfloydIR, @SamMazerIR, @DanielBelmes

client core test passing
  packages/client-core/src/networking/AvatarSpawnSystem.test.tsx
Owners: @aditya-mitra

Update Input primitive
  packages/ui/src/primitives/tailwind/Input/index.stories.tsx
  packages/ui/src/primitives/tailwind/Input/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Update Component dropdown
  packages/ui/src/components/editor/ComponentDropdown/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Update colors to some studio panels
  packages/editor/src/panels/assets/categories.tsx
  packages/editor/src/panels/assets/resources.tsx
  packages/editor/src/panels/files/filebrowser.tsx
  packages/editor/src/panels/scenes/index.tsx
Owners: @dinomut1, @aditya-mitra

Update Scene Cards & Dashboard Page
  packages/editor/src/panels/assets/topbar.tsx
  packages/editor/src/panels/files/toolbar.tsx
  packages/editor/src/panels/properties/index.tsx
  packages/editor/src/panels/properties/propertyeditor.tsx
  packages/editor/src/panels/scenes/SceneItem.tsx
  packages/editor/src/panels/viewport/index.tsx
  packages/ui/src/components/tailwind/SearchBar/index.tsx
  packages/ui/src/primitives/tailwind/Input/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

Update default body color
  packages/client/src/pages/styles.scss
Owners: @barankyle, @aditya-mitra

Fix static file server uri decoding
  packages/server-core/src/media/storageprovider/local.storage.ts
  packages/server-core/src/services.ts
  packages/server/package.json
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Fix visible component reactivity in studio
  packages/ecs/src/ComponentFunctions.ts
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
  packages/engine/src/scene/components/ParticleSystemComponent.ts
Owners: @speigg, @dinomut1, @aditya-mitra, @CITIZENDOT, @AidanCaruso

memoize HierarchyTreeNode
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
Owners: @dinomut1, @aditya-mitra

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
