Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

prevent overwrites in registration functions
  packages/engine/src/scene/systems/SceneDeltaState.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

updated the copy function to not copy the entities below an entity that has a gtlf component
  packages/editor/src/functions/CopyPasteFunctions.ts
Owners: @SYBIOTE

optimized gtlf condition with Josh's help
  packages/editor/src/functions/CopyPasteFunctions.ts
Owners: @SYBIOTE

only trigger onPublishSuccess if newly published
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

fix emote icon
  packages/ui/src/icons/files/EmoteLg.tsx
  packages/ui/src/icons/files/EmoteM.tsx
  packages/ui/src/icons/files/EmoteSm.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

chore: format code
  packages/client-core/src/user/menus/avatar/AvatarCreatorMenu.tsx
Owners: @aditya-mitra

feat: handle tap outside event in avatar menus
  packages/client-core/src/user/menus/ProfileMenu.tsx
  packages/client-core/src/user/menus/avatar/AvatarCreatorMenu.tsx
  packages/client-core/src/user/menus/avatar/AvatarSelectMenu.tsx
Owners: @aditya-mitra

feat: improve mobile responsiveness in avatar selection menu & avatar creation fix: added missing close icon
  packages/client-core/src/common/components/Avatar/Avatar2.tsx
  packages/client-core/src/user/menus/avatar/AvatarCreatorMenu.tsx
  packages/client-core/src/user/menus/avatar/AvatarSelectMenu.tsx
Owners: @aditya-mitra

chore: prompt discard changes dialog on click back in avatar creator
  packages/client-core/src/user/menus/avatar/AvatarCreatorMenu.tsx
Owners: @aditya-mitra

Fix MT regressions
  packages/editor/src/panels/scenes/SceneItem.tsx
  packages/ui/src/components/tailwind/MoreOptionsMenu/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

move some functionality into state function calls add const for material parameters move system reactor into state
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/services/EditorServices.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/gltf/SceneDeltaExporterExtension.ts
  packages/engine/src/scene/systems/SceneDeltaState.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra, @AidanCaruso, @MichaelEstes, @speigg, @CITIZENDOT

profile menu height to be dynamic
  packages/client-core/src/user/menus/ProfileMenu.tsx
Owners: @aditya-mitra

add radial background to avatars
  packages/client-core/src/components/ViewerInteractions/index.tsx
  packages/client-core/src/user/VideoWindows/window.tsx
  packages/ui/src/primitives/tailwind/AvatarImage/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

instance chat fixes
  packages/client-core/src/user/InstanceChat.tsx
Owners: @aditya-mitra

show window avatar bubble only when it is video is on
  packages/client-core/src/user/VideoWindows/window.tsx
Owners: @aditya-mitra

change the text for register user to create an account
  packages/client-core/i18n/en/user.json
  packages/client-core/src/user/InstanceChat.tsx
  packages/client-core/src/user/VideoWindows/window.tsx
Owners: @aditya-mitra

chore: format image url
  packages/editor/src/panels/scenes/SceneItem.tsx
Owners: @dinomut1, @aditya-mitra

hot fix: register user shown for guest
  packages/client-core/src/user/InstanceChat.tsx
Owners: @aditya-mitra

fix
  packages/client-core/src/user/InstanceChat.tsx
Owners: @aditya-mitra

wip
  packages/client-core/src/user/InstanceChat.tsx
  packages/client-core/src/user/VideoWindows/window.tsx
Owners: @aditya-mitra

fix repor user id popup
  packages/client-core/src/user/InstanceChat.tsx
  packages/client-core/src/user/VideoWindows/hook.tsx
  packages/client-core/src/user/VideoWindows/index.tsx
  packages/client-core/src/user/VideoWindows/window.tsx
Owners: @aditya-mitra

Add a step to remote dispatch the gcp repo
  .github/workflows/ir-engine-deploy.yml
Owners: @DanielBelmes

fix text area
  packages/client-core/src/user/menus/ReportMenu.tsx
  packages/ui/src/primitives/tailwind/TextArea/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

moved the tolltip text for the marquee into the editor json so it can be translated
  packages/client-core/i18n/en/editor.json
  packages/editor/src/panels/viewport/tools/TransformGizmoTool.tsx
Owners: @aditya-mitra, @dinomut1

fix banned page
  packages/client-core/src/user/VideoWindows/index.tsx
  packages/client/src/pages/location/location.tsx
  packages/client/src/route/CustomRouter.tsx
Owners: @aditya-mitra, @barankyle

corrected the ui implementations so the selection modes
  packages/editor/src/panels/viewport/tools/TransformGizmoTool.tsx
Owners: @dinomut1, @aditya-mitra

removed unused code
  packages/editor/src/panels/viewport/tools/TransformGizmoTool.tsx
Owners: @dinomut1, @aditya-mitra

removed the clearing of the selection on selection the pointer selection mode to allow for camera rotation while having multiple entities selected
  packages/editor/src/panels/viewport/tools/TransformGizmoTool.tsx
Owners: @dinomut1, @aditya-mitra

added new property to the selectionState that allows the gizmo to be used while in marquee selection Mode This prevents the marquee selection if trying to use a transform gizmo
  packages/editor/src/functions/transformGizmoHelper.ts
  packages/editor/src/panels/viewport/tools/SelectionBoxTool.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

WIP
  packages/common/src/utils/promiseQueue.ts
  packages/engine/src/assets/loaders/texture/TextureLoader.ts
Owners: @HexaField, @MichaelEstes, @dinomut1, @speigg

License
  packages/common/src/utils/promiseQueue.ts
Owners: @HexaField

fixed the selection issue of trying to select from the bottom right to the top left
  packages/editor/src/panels/viewport/tools/SelectionBoxTool.tsx
Owners: @dinomut1, @aditya-mitra

reset
  packages/common/src/model/ModelTransformFunctions.ts
  packages/editor/src/functions/sceneFunctions.tsx
Owners: @HexaField, @SYBIOTE

Only show material editor is material is in authoring layer
  packages/editor/src/panels/properties/materialeditor.tsx
  packages/ui/src/components/editor/properties/mesh/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

Move promise queue
  packages/engine/src/assets/loaders/texture/TextureLoader.ts
  packages/spatial/src/common/classes/PromiseQueue.ts
Owners: @MichaelEstes, @dinomut1, @speigg, @AidanCaruso, @MbfloydIR, @SamMazerIR

Fix addmediaNode bug
  packages/editor/src/functions/addMediaNode.ts
Owners: @SYBIOTE

Error checking
  packages/engine/src/assets/loaders/texture/TextureLoader.ts
Owners: @MichaelEstes, @dinomut1, @speigg

fix default value to match schema; list
  packages/server-core/src/cluster/logs-api/analytics-logger.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix regression
  packages/spatial/src/input/components/InputComponent.ts
Owners: @heysokam, @SamMazerIR, @speigg

progress on glb child hiding and UX updates
  packages/common/src/constants/FeatureFlags.ts
  packages/editor/src/functions/utils.ts
  packages/editor/src/panels/hierarchy/helpers.ts
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
  packages/editor/src/panels/hierarchy/hooks.tsx
  packages/editor/src/systems/EditorControlSystem.ts
Owners: @HexaField, @SYBIOTE, @dinomut1, @aditya-mitra

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
