Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

up P2P default
  .env.local.default
Owners: @HexaField

always use public stun servers as fallback, rather than just in k8s
  packages/common/src/constants/STUNServers.ts
  packages/instanceserver/src/WebRTCFunctions.ts
  packages/server-core/src/networking/instance-signaling/instance-signaling.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

lint fix
  packages/client-core/src/components/Debug/index.tsx
Owners: @aditya-mitra

Add suffix check for DESTINATION_REPO
  scripts/build_and_publish_package.sh
Owners: @barankyle, @hanzlamateen, @DanielBelmes

fix window avatar scaling
  packages/client-core/src/user/VideoWindows/window.tsx
Owners: @aditya-mitra

replace with the new emote icon
  packages/client-core/src/user/menus/index.tsx
  packages/ui/icona.json
  packages/ui/src/icons/files/EmoteLg.tsx
  packages/ui/src/icons/files/EmoteM.tsx
  packages/ui/src/icons/files/EmoteSm.tsx
  packages/ui/src/icons/index.ts
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

switch the positions of sending and receiving user in instance chat
  packages/client-core/src/user/InstanceChat.tsx
Owners: @aditya-mitra

Account for mt-rc-int in deploy/build_and_publish
  scripts/build_and_publish_package.sh
  scripts/deploy.sh
Owners: @barankyle, @hanzlamateen, @DanielBelmes

add missing fi
  scripts/build_and_publish_package.sh
Owners: @barankyle, @hanzlamateen, @DanielBelmes

Whoops, meant elif
  scripts/build_and_publish_package.sh
Owners: @barankyle, @hanzlamateen, @DanielBelmes

remove text shadow on mobile
  packages/client-core/src/user/InstanceChat.tsx
  packages/ui/src/primitives/tailwind/Modal/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

replace the mobile mapping image
  packages/client-core/src/user/menus/SettingsMenu.tsx
  packages/client-core/src/user/menus/images/controller-mapping-mobile.svg
  packages/client/public/static/Mobile_Tutorial.png
Owners: @aditya-mitra, @barankyle

fix(identity-provider): ensure only one identity provider
  packages/server-core/src/user/identity-provider/identity-provider.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

reactor debug
  packages/client-core/src/components/Debug/ReactorDebug.tsx
  packages/client-core/src/components/Debug/index.tsx
  packages/ecs/src/ComponentFunctions.ts
  packages/hyperflux/src/functions/ReactorFunctions.tsx
  packages/ui/src/primitives/tailwind/Tabs/index.tsx
Owners: @aditya-mitra, @speigg, @SYBIOTE, @CITIZENDOT

improvements and use react profiler
  packages/client-core/src/components/Debug/ReactorDebug.tsx
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/SystemFunctions.ts
  packages/hyperflux/src/functions/ReactorFunctions.tsx
Owners: @aditya-mitra, @speigg

default to average
  packages/client-core/src/components/Debug/ReactorDebug.tsx
Owners: @aditya-mitra

remove duplicate loaders
  packages/editor/src/panels/assets/index.tsx
  packages/editor/src/panels/files/filebrowser.tsx
  packages/ui/src/primitives/tailwind/LoadingView/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

move loading to filebrowser
  packages/editor/src/panels/assets/index.tsx
  packages/editor/src/panels/files/filebrowser.tsx
Owners: @dinomut1, @aditya-mitra

minor tailwind bump
  packages/client-core/src/components/Debug/ReactorDebug.tsx
Owners: @aditya-mitra

corrected errors
  packages/editor/src/panels/files/fileitem.tsx
Owners: @dinomut1, @aditya-mitra

updated the text component's outline offset default
  packages/engine/src/scene/components/TextComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fixing reference
  packages/common/src/model/ModelTransformFunctions.ts
Owners: @HexaField

fixing baked transform data when exporting prefab
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
Owners: @dinomut1, @aditya-mitra

update error color
  packages/ui/src/primitives/tailwind/Input/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

updating test cases
  packages/common/src/model/ModelTransformFunctions.test.ts
Owners: @HexaField

change trigger button to tertiary
  packages/ui/src/components/editor/properties/trigger/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Update deploy/build_and_publish for new url format
  scripts/build_and_publish_package.sh
  scripts/deploy.sh
Owners: @barankyle, @hanzlamateen, @DanielBelmes

use primary text color
  packages/ui/src/components/editor/properties/trigger/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

added the ability to force a refresh of the editor ui hierarchy tree
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/functions/addMediaNode.ts
  packages/editor/src/panels/hierarchy/hooks.tsx
  packages/editor/src/services/HierarchyNodeState.ts
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

fixes, remove obc reference in prototype definition
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/panels/properties/materialeditor.tsx
  packages/spatial/src/renderer/materials/MaterialComponent.tsx
  packages/spatial/src/renderer/materials/prototypes/MeshMatcapMaterial.mat.ts
  packages/spatial/src/renderer/materials/prototypes/MeshPhongMaterial.mat.ts
Owners: @SYBIOTE, @dinomut1, @aditya-mitra, @AidanCaruso, @DanielBelmes, @MichaelEstes

better test organization and more checking
  packages/common/src/model/ModelTransformFunctions.test.ts
Owners: @HexaField

Disable highlight of viewer UI
  packages/client-core/src/common/components/TouchGamepad/index.tsx
  packages/client-core/src/components/ViewerInteractions/index.tsx
  packages/client-core/src/user/components/LocationIconButton.tsx
Owners: @aditya-mitra

rediculous workaround for darling threejs
  packages/editor/src/panels/properties/materialeditor.tsx
  packages/engine/src/scene/systems/EnvironmentSystem.tsx
Owners: @dinomut1, @aditya-mitra, @speigg, @CITIZENDOT, @AidanCaruso

updating test urls and expected results
  packages/engine/src/gltf/exportGLTFScene.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

GCS invalidates /* instead of client path
  packages/server-core/src/media/storageprovider/gcs.storage.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Fix Docker if statements to install gcloud
  dockerfiles/api/Dockerfile-api
  dockerfiles/api/Dockerfile-api-client
  dockerfiles/client/Dockerfile-client-serve-static
  packages/server-core/src/media/storageprovider/gcs.storage.ts
  packages/server-core/src/media/storageprovider/s3.storage.ts
  packages/server-core/src/media/storageprovider/storageprovider.interface.ts
  scripts/run-batch-invalidation.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra, @DanielBelmes

re did logic to rely on current data instead of adding a refresh to the state
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/functions/addMediaNode.ts
  packages/editor/src/panels/hierarchy/hooks.tsx
  packages/editor/src/services/HierarchyNodeState.ts
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

removed empty line that was added
  packages/editor/src/functions/EditorControlFunctions.ts
Owners: @SYBIOTE

removed added line
  packages/editor/src/functions/addMediaNode.ts
Owners: @SYBIOTE

Debug batchInvalidator
  packages/server-core/src/media/storageprovider/gcs.storage.ts
  scripts/run-batch-invalidation.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra, @DanielBelmes

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
