Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

Fixed a couple bugs/outdated things in Helm chart versioning (#374)
  packages/server-core/src/setting/helm-setting/helm-setting.ts
  scripts/fetch-helm-versions.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra, @DanielBelmes

fmt: `EntityTree.tsx`: Improve doc comments, redundancy and formatting
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @SamMazerIR

tst: Unit Tests for `EntityTree.tsx` (phase 4)
  packages/spatial/src/transform/components/EntityTree.test.tsx
Owners: @SamMazerIR

Refactor metabase settings update logic
  packages/client-core/src/admin/components/settings/tabs/metabase.tsx
Owners: @hanzlamateen

Refactor metabase settings update logic
  packages/client-core/src/admin/components/settings/tabs/metabase.tsx
Owners: @hanzlamateen

fix(account-details): limit display anme top 70 and the first and last name to 35
  packages/common/src/constants/UserConstants.ts
Owners: @HexaField

fixes to video quality
  packages/client-core/src/transports/p2p/PeerToPeerNetworkState.tsx
  packages/network/src/webrtc/WebRTCTransportFunctions.ts
Owners: @aditya-mitra, @speigg

add screenshare
  packages/client-core/src/transports/p2p/PeerToPeerNetworkState.tsx
Owners: @aditya-mitra

fix multi-peer avatar authority handover
  packages/engine/src/avatar/systems/AvatarControllerSystem.ts
  packages/server-core/src/networking/instance-signaling/instance-signaling.ts
Owners: @AidanCaruso, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Migrate redis settings to engine settings
  packages/client-core/src/admin/components/settings/tabs/redis.tsx
  packages/common/src/constants/EngineSettings.ts
  packages/common/src/schema.type.module.ts
  packages/common/src/schemas/setting/engine-setting.schema.ts
  packages/common/src/schemas/setting/redis-setting.schema.ts
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
  packages/server-core/src/setting/engine-setting/migrations/20241004103729_merge-redis-setting.ts
  packages/server-core/src/setting/redis-setting/migrations/20230418061632_redis-setting.ts
  packages/server-core/src/setting/redis-setting/redis-setting.class.ts
  packages/server-core/src/setting/redis-setting/redis-setting.docs.ts
  packages/server-core/src/setting/redis-setting/redis-setting.hooks.ts
  packages/server-core/src/setting/redis-setting/redis-setting.resolvers.ts
  packages/server-core/src/setting/redis-setting/redis-setting.seed.ts
  packages/server-core/src/setting/redis-setting/redis-setting.ts
  packages/server-core/src/setting/seeder-config.ts
  packages/server-core/src/setting/service.ts
  packages/server-core/src/updateAppConfig.ts
Owners: @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

fix instance servers and fix npm run dev
  package.json
  packages/client-core/src/transports/mediasoup/MediasoupClientFunctions.ts
  packages/client-core/src/transports/mediasoup/MediasoupDataChannelSystem.tsx
  packages/client-core/src/transports/mediasoup/MediasoupPeerMediaConsumersSystem.tsx
  packages/client-core/src/transports/mediasoup/MediasoupTransportSystem.tsx
  packages/common/src/world/receiveJoinWorld.ts
  packages/hyperflux/src/functions/ActionFunctions.ts
  packages/instanceserver/src/NetworkFunctions.ts
  packages/instanceserver/src/SocketFunctions.ts
  packages/instanceserver/src/channels.ts
  packages/instanceserver/tests/InstanceLoad.test.ts
  packages/server-core/src/networking/instance-attendance/instance-attendance.hooks.ts
  packages/server-core/src/networking/instance-attendance/instance-attendance.resolvers.ts
  packages/server-core/src/networking/instance/instance.resolvers.ts
  scripts/get_env.js
Owners: @HexaField, @aditya-mitra, @speigg, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @DanielBelmes

license
  scripts/get_env.js
Owners: @barankyle, @hanzlamateen, @DanielBelmes

refactor instance server setting create/patch settings code
  packages/client-core/src/admin/components/settings/tabs/instanceServer.tsx
Owners: @hanzlamateen

instance test forced config
  packages/instanceserver/tests/InstanceLoad.test.ts
Owners: @HexaField

fix tsc errors in tests
  packages/engine/src/avatar/functions/moveAvatar.test.tsx
  packages/engine/src/avatar/functions/spawnAvatarReceptor.test.tsx
  packages/engine/src/interaction/systems/GrabbableSystem.test.ts
  packages/spatial/src/camera/systems/CameraSystem.test.tsx
  packages/spatial/src/camera/systems/SpectateSystem.test.tsx
Owners: @AidanCaruso, @SamMazerIR, @speigg, @DanielBelmes

Validate user email before login
  packages/client-core/src/user/services/AuthService.ts
Owners: @aditya-mitra

new designs for the image link
  packages/ui/src/components/editor/ImageLink/image-url-fallback.png
  packages/ui/src/components/editor/ImageLink/index.stories.tsx
  packages/ui/src/components/editor/ImageLink/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

license
  packages/ui/src/components/editor/ImageLink/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

update name
  packages/ui/src/components/editor/ImageLink/index.stories.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

IR-4766 file-upload cleanup on server (#351)
  packages/common/src/utils/cleanFileName.ts
  packages/common/src/utils/processFileName.ts
  packages/editor/src/functions/assetFunctions.ts
  packages/editor/src/panels/files/helpers.tsx
  packages/editor/src/panels/viewport/index.tsx
  packages/server-core/src/media/file-browser/file-browser.hooks.ts
  packages/server-core/src/projects/project/project-helper.ts
  scripts/push-client-to-s3.ts
Owners: @HexaField, @SYBIOTE, @dinomut1, @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @DanielBelmes

Added support for using non-root client subdomain in invite redirect (#357)
  packages/server-core/src/user/accept-invite/accept-invite.hooks.ts
  packages/server-core/src/user/accept-invite/accept-invite.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Fixed a couple bugs/outdated things in Helm chart versioning (#374)
  packages/server-core/src/setting/helm-setting/helm-setting.ts
  scripts/fetch-helm-versions.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra, @DanielBelmes

Studio: User profile pill (#347)
  packages/editor/src/components/toolbar/Toolbar.tsx
  packages/ui/src/components/tailwind/ContextMenu/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

IR-4933 adjust scene panel test IDs to lean on reusability (#373)
  packages/editor/src/panels/scenes/SceneItem.tsx
  packages/editor/src/panels/scenes/index.tsx
Owners: @dinomut1, @aditya-mitra

new designs for component dropdown (property group)
  packages/ui/src/components/editor/ComponentDropdown/index.stories.tsx
  packages/ui/src/components/editor/ComponentDropdown/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

license
  packages/ui/src/components/editor/ComponentDropdown/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

develop scene complexity checks and warnings (#234)
  packages/client-core/i18n/en/editor.json
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/services/EditorWarningServices.ts
  packages/editor/src/systems/RenderMonitorSystem.tsx
  packages/engine/src/scene/constants/SceneConstants.ts
  packages/ui/src/components/tailwind/WarningDialog/index.tsx
  packages/ui/src/primitives/tailwind/WarningView/index.stories.tsx
  packages/ui/src/primitives/tailwind/WarningView/index.tsx
Owners: @aditya-mitra, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @SYBIOTE

EXT_mesh_gpu_instancing test
  packages/engine/src/gltf/GLTFLoader.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

wip get loop animation working with studio avatars
  packages/client-core/src/common/components/AvatarPreview/index.tsx
  packages/editor/src/functions/addMediaNode.ts
  packages/engine/src/avatar/components/AnimationComponent.ts
  packages/engine/src/avatar/components/AvatarAnimationComponent.ts
  packages/engine/src/avatar/components/AvatarComponent.ts
  packages/engine/src/avatar/components/LoopAnimationComponent.ts
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
  packages/ui/src/components/editor/properties/animation/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @AidanCaruso, @CITIZENDOT

Multiple of same gltf load test
  packages/engine/src/gltf/GLTFLoader.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

cleanup
  packages/engine/src/gltf/GLTFLoader.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

add loading geometry to model component
  packages/engine/src/scene/components/ModelComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Add back physics check
  packages/engine/src/gltf/GLTFLoader.test.tsx
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

update gltf modified state when editing materials
  packages/editor/src/functions/EditorControlFunctions.ts
Owners: @SYBIOTE

IR-4946: Fix material modification (#380)
  packages/editor/src/functions/EditorControlFunctions.ts
Owners: @SYBIOTE

put spinner generation into helper function
  packages/engine/src/scene/components/ModelComponent.tsx
  packages/engine/src/scene/functions/spatialLoadingSpinner.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

licensing
  packages/engine/src/scene/functions/spatialLoadingSpinner.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

chore(ir-engine): implemented location find service security
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/client-core/src/admin/components/locations/LocationTable.tsx
  packages/client-core/src/admin/components/locations/index.tsx
  packages/editor/src/components/toolbar/Toolbar.tsx
  packages/server-core/src/hooks/has-action.ts
  packages/server-core/src/hooks/is-action.ts
  packages/server-core/src/social/location/location.hooks.ts
Owners: @hanzlamateen, @dinomut1, @aditya-mitra, @barankyle, @MoizAdnan, @hurairahmateen

fix keeping old names in extras
  packages/engine/src/scene/functions/loadGLTFModel.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

make comparisons and pass entity to the upload functions
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/editor/src/services/SceneThumbnailState.tsx
  packages/ui/src/components/editor/properties/scene/settings/index.tsx
Owners: @hanzlamateen, @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT
