Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

update directory path
  packages/editor/src/functions/assetFunctions.ts
Owners: @SYBIOTE

fix error
  packages/editor/src/panels/files/toolbar.tsx
Owners: @dinomut1, @aditya-mitra

rename direction to position
  packages/client-core/src/admin/components/project/ProjectTable.tsx
  packages/client-core/src/admin/components/settings/tabs/project.tsx
  packages/ui/src/primitives/tailwind/Tooltip/index.stories.tsx
  packages/ui/src/primitives/tailwind/Tooltip/index.tsx
Owners: @hanzlamateen, @aditya-mitra, @SYBIOTE, @CITIZENDOT

use correct position values
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/panels/viewport/tools/TransformPivotTool.tsx
  packages/editor/src/panels/viewport/tools/TransformSnapTool.tsx
Owners: @dinomut1, @aditya-mitra

update position props
  packages/editor/src/panels/viewport/tools/TransformGizmoTool.tsx
  packages/ui/src/primitives/tailwind/Tooltip/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix ViewPort dropdown
  packages/editor/src/panels/viewport/tools/RenderTool.tsx
Owners: @dinomut1, @aditya-mitra

box collider perfected with all adjustments needed based on local gltf translation/rotation/scaling baked into model (and not frozen transforms) need to remove duplicate collider
  packages/client-core/i18n/en/editor.json
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/spatial/src/physics/classes/Physics.ts
  packages/spatial/src/physics/components/ColliderComponent.tsx
  packages/spatial/src/physics/states/NestedCollidersState.ts
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.ts
  packages/ui/src/components/editor/properties/collider/index.tsx
  packages/ui/src/components/editor/properties/gltf/loader/index.tsx
Owners: @aditya-mitra, @AidanCaruso, @MichaelEstes, @dinomut1, @heysokam, @SYBIOTE, @CITIZENDOT

fix errors
  packages/editor/src/services/SelectionServices.ts
  packages/engine/src/assets/loaders/gltf/extensions/EEECSImporterExtension.ts
Owners: @dinomut1, @aditya-mitra, @MichaelEstes, @speigg

fixed other shape types
  packages/spatial/src/physics/classes/Physics.ts
Owners: @heysokam

fixing sphere, removing duplication of colliders (filtering for meshes on root entity of gltfcomponent)
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/spatial/src/physics/classes/Physics.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @heysokam

new descriptions, scrubbers and info on collider editor - also now has fields disabled when matching mesh, added 'disabled' prop to scrubber and vector3 editors to support this
  packages/client-core/i18n/en/editor.json
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/spatial/src/physics/classes/Physics.ts
  packages/spatial/src/physics/components/ColliderComponent.tsx
  packages/ui/src/components/editor/input/Vector3/index.tsx
  packages/ui/src/components/editor/layout/Scrubber.tsx
  packages/ui/src/components/editor/properties/collider/index.tsx
Owners: @aditya-mitra, @AidanCaruso, @MichaelEstes, @dinomut1, @heysokam, @SYBIOTE, @CITIZENDOT

hide share to quest behind feature flag
  packages/client-core/src/user/components/UserMenu/menus/ShareMenu.tsx
  packages/common/src/constants/FeatureFlags.ts
Owners: @aditya-mitra, @HexaField

merge conflict
  packages/engine/src/avatar/components/LoopAnimationComponent.ts
Owners: @AidanCaruso

fix
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

fixes
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
  packages/spatial/src/renderer/components/HighlightComponent.test.tsx
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

Revive Networked Scene Entities and Change Network ID Rules (#745)
  packages/client-core/src/components/World/LoadLocationScene.tsx
  packages/editor/src/functions/addMediaNode.ts
  packages/editor/src/services/ComponentEditors.tsx
  packages/editor/src/services/ComponentShelfCategoriesState.ts
  packages/engine/src/EngineModule.ts
  packages/engine/src/audio/MediaModule.ts
  packages/engine/src/avatar/components/AnimationComponent.ts
  packages/engine/src/avatar/components/AvatarTeleportComponent.ts
  packages/engine/src/avatar/functions/spawnAvatarReceptor.ts
  packages/engine/src/grabbable/GrabbableComponent.ts
  packages/engine/src/grabbable/GrabbableState.tsx
  packages/engine/src/grabbable/GrabbableSystem.test.tsx
  packages/engine/src/grabbable/GrabbableSystem.tsx
  packages/engine/src/interaction/InteractionModule.ts
  packages/engine/src/interaction/components/GrabbableComponent.ts
  packages/engine/src/interaction/functions/grabbableFunctions.ts
  packages/engine/src/interaction/systems/GrabbableSystem.test.ts
  packages/engine/src/interaction/systems/GrabbableSystem.tsx
  packages/engine/src/scene/SceneModule.ts
  packages/engine/src/scene/systems/SceneNetworkSystem.tsx
  packages/network/index.ts
  packages/network/src/EntityNetworkState.test.tsx
  packages/network/src/EntityNetworkState.tsx
  packages/network/src/NetworkObjectComponent.ts
  packages/network/src/NetworkState.ts
  packages/network/src/functions/WorldNetworkAction.ts
  packages/spatial/src/camera/systems/CameraSystem.test.tsx
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.ts
  packages/ui/src/components/editor/properties/grab/index.tsx
Owners: @speigg, @SYBIOTE, @dinomut1, @aditya-mitra, @AidanCaruso, @MichaelEstes, @SamMazerIR, @CITIZENDOT, @DanielBelmes, @heysokam

fix engine build
  .env.local.default
  packages/client/package.json
  packages/client/vite.config.ts
  packages/ecs/src/ComponentFunctions.ts
  packages/spatial/src/renderer/LightTransformSystem.ts
  packages/spatial/src/renderer/RendererModule.ts
  packages/spatial/src/renderer/WebGLRendererSystem.tsx
  packages/spatial/src/renderer/components/lights/DirectionalLightComponent.ts
  packages/spatial/src/renderer/components/lights/SpotLightComponent.ts
  packages/spatial/src/xr/XRLightProbeSystem.ts
Owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @AidanCaruso, @DanielBelmes, @MichaelEstes, @MbfloydIR, @SamMazerIR

tsc
  packages/spatial/src/resources/ResourceState.ts
Owners: @MichaelEstes

pin react icons
  packages/client/package.json
  packages/ui/package.json
Owners: @barankyle, @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix import cycle
  packages/spatial/src/renderer/LightTransformSystem.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

fix errors
  packages/spatial/src/renderer/LightTransformSystem.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

refactor pointer component
  packages/spatial/src/renderer/components/LineSegmentComponent.ts
  packages/spatial/src/xrui/components/PointerComponent.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes, @speigg

fix offline avatar loading
  packages/client-core/src/components/World/LoadLocationScene.tsx
Owners: @speigg

fix optional bones
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
Owners: @AidanCaruso

fix test errors
  packages/engine/src/avatar/functions/moveAvatar.test.tsx
  packages/network/src/EntityNetworkState.tsx
Owners: @AidanCaruso, @speigg

license
  packages/engine/src/scene/systems/SceneNetworkSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

prompt existing files on drag and drop
  packages/editor/src/functions/assetFunctions.ts
  packages/editor/src/panels/files/helpers.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

adding rigidbody messaging and add button, along with a fix for rendering a '0' when getting a falsy value in the jsx element code
  packages/client-core/i18n/en/editor.json
  packages/ui/src/components/editor/properties/gltf/loader/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

removing unused code
  packages/engine/src/gltf/GLTFComponent.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

hopefully fixing tests
  packages/spatial/src/physics/classes/Physics.ts
  packages/spatial/src/physics/components/ColliderComponent.test.ts
Owners: @heysokam

Hardened security around file-browser service
  packages/common/src/regex/index.ts
  packages/common/src/schemas/media/file-browser.schema.ts
  packages/common/src/utils/validateFileName.ts
  packages/editor/src/panels/files/contextmenu.tsx
  packages/server-core/src/hooks/verify-project-permission.ts
  packages/server-core/src/media/file-browser/file-browser.class.ts
  packages/server-core/src/media/file-browser/file-browser.hooks.ts
  packages/server-core/src/media/file-browser/file-browser.test.ts
  packages/server-core/src/media/upload-asset/upload-asset.service.ts
  packages/server-core/src/projects/project-permission/project-permission.test.ts
Owners: @HexaField, @dinomut1, @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

switched to using the notification service for displaying the error since the WarningUIService is not available till after the app loads
  packages/client-core/src/components/World/LoadLocationScene.tsx
Owners: @speigg

moving bulk of collider functionality logic out of GLTFComponent and into a new file applyCollidersToChildMeshes.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/applyCollidersToChildMeshes.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

CPAL license
  packages/engine/src/gltf/applyCollidersToChildMeshes.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

truncate long words
  packages/editor/src/panels/properties/elementlist.tsx
Owners: @dinomut1, @aditya-mitra

react-ify the name
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/useApplyCollidersToChildMeshesEffect.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

remove unused code
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/spatial/src/physics/classes/Physics.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @heysokam

adjustments to useEffect return and removing unused variables
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/spatial/src/physics/components/ColliderComponent.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @heysokam

adding tests and fixing edge case issue with getTreeFromChildToAncestor
  packages/spatial/src/transform/components/EntityTree.test.tsx
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @SamMazerIR

merge
  packages/engine/src/avatar/components/AvatarAnimationComponent.ts
Owners: @AidanCaruso

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
