Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

ik solves no longer depend on network object component
  packages/common/src/world/receiveJoinWorld.ts
  packages/engine/src/avatar/components/AvatarIKComponents.ts
  packages/engine/src/avatar/functions/applyInputSourcePoseToIKTargets.ts
  packages/engine/src/avatar/functions/avatarFootHeuristics.ts
  packages/engine/src/avatar/systems/AvatarIkSystem.tsx
  packages/engine/src/avatar/systems/AvatarInputSystem.ts
Owners: @HexaField, @AidanCaruso

IR-5924: Add user-friendly error message for file upload size limit exceeded. Inform users with That file size is too large. Please upload a file under 1GB.
  .env.local.default
  packages/client-core/i18n/en/editor.json
  packages/common/src/config.ts
  packages/editor/src/functions/assetFunctions.ts
Owners: @HexaField, @aditya-mitra, @SYBIOTE

Fix: Add error message only for files > 1GB and show file name in warning
  packages/client-core/i18n/en/editor.json
  packages/editor/src/functions/assetFunctions.ts
Owners: @aditya-mitra, @SYBIOTE

export combined mesh to publish folder
  packages/editor/src/panels/files/PublishModal.tsx
Owners: @dinomut1, @aditya-mitra

change name
  packages/editor/src/panels/files/PublishModal.tsx
Owners: @dinomut1, @aditya-mitra

Fixed issues with migrating booleans to engine-settings
  packages/common/src/utils/dataTypeUtils.ts
  packages/server-core/src/setting/engine-setting/migrations/20241209141717_add-data-type-column.ts
  packages/server-core/src/setting/engine-setting/migrations/20241209141820_merge-server-setting.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix(table): update the pagination component
  packages/client-core/i18n/en/common.json
  packages/ui/src/primitives/tailwind/Table/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix(location): add the id when user update the locaiton
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

update import and add export
  packages/editor/src/panels/files/PublishModal.tsx
Owners: @dinomut1, @aditya-mitra

Check if dataType column exists before adding and populating column
  packages/server-core/src/setting/engine-setting/migrations/20241209141717_add-data-type-column.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fixup
  packages/server-core/src/setting/engine-setting/migrations/20241209141717_add-data-type-column.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fixup
  packages/server-core/src/setting/engine-setting/migrations/20241209141717_add-data-type-column.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

various fixes and cleanup
  packages/editor/src/panels/hierarchy/helpers.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/GLTFLoader.test.tsx
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/gltf/MaterialExtensionComponents.tsx
  packages/engine/src/mocap/solveMotionCapturePose.ts
  packages/engine/src/scene/components/ObjectGridSnapComponent.ts
  packages/engine/src/scene/systems/SceneObjectSystem.tsx
  packages/spatial/src/renderer/components/InfiniteGridHelper.ts
  packages/spatial/src/renderer/components/MeshComponent.ts
  packages/spatial/src/renderer/materials/MaterialComponent.tsx
Owners: @dinomut1, @aditya-mitra, @AidanCaruso, @MichaelEstes, @speigg, @CITIZENDOT, @DanielBelmes

update geom utils
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/spatial/src/common/classes/BufferGeometryUtils.ts
  packages/spatial/src/renderer/materials/MaterialComponent.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @speigg, @MbfloydIR, @SamMazerIR, @DanielBelmes

update threejs and bvh in bvh worker
  packages/client/public/workers/generateBVHAsync.worker.js
  packages/client/public/workers/three-mesh-bvh.umd.cjs.js
  packages/client/public/workers/three.min.js
  packages/engine/src/avatar/systems/AvatarTransparencySystem.tsx
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/spatial/src/transform/functions/bvhWorkerPool.ts
Owners: @barankyle, @aditya-mitra, @AidanCaruso, @MichaelEstes, @dinomut1, @SamMazerIR

fix morph targets
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/spatial/src/common/classes/BufferGeometryUtils.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @speigg, @MbfloydIR, @SamMazerIR

fix material extensions and image component
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/gltf/GLTFState.tsx
  packages/engine/src/gltf/MaterialExtensionComponents.tsx
  packages/engine/src/scene/components/ImageComponent.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @speigg, @CITIZENDOT

Refactor getDataType function to accept specific types and add unit tests for data type determination
  packages/common/src/utils/dataTypeUtils.ts
  packages/common/tests/utils/dataTypeUtils.test.ts
Owners: @HexaField

Remove redundant test case for non-integer numeric strings in getDataType tests
  packages/common/tests/utils/dataTypeUtils.test.ts
Owners: @HexaField

Refactor isValidInteger function to handle both string and number inputs; update tests for getDataType to reflect changes
  packages/common/src/utils/dataTypeUtils.ts
  packages/common/tests/utils/dataTypeUtils.test.ts
Owners: @HexaField

Changes to fix router service not redirecting properly
  packages/client-core/src/common/services/RouterService.tsx
Owners: @aditya-mitra

ts lint
  packages/editor/src/panels/files/fileitem.tsx
Owners: @dinomut1, @aditya-mitra

feat: added missing icons to scene menu and removed borders
  packages/editor/src/panels/scenes/SceneItem.tsx
Owners: @dinomut1, @aditya-mitra

added the shadow radius back in
  packages/ui/src/components/editor/properties/light/shadowProperties/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Ensure ECS deserialization json is validated and cleaned by schemas
  packages/ecs/src/ComponentFunctions.test.tsx
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/schemas/JSONSchemaUtils.ts
  packages/editor/src/functions/EditorControlFunctions.test.tsx
Owners: @speigg, @SYBIOTE

cleanup logs
  packages/ecs/src/schemas/JSONSchemaUtils.ts
  packages/editor/src/functions/EditorControlFunctions.test.tsx
Owners: @speigg, @SYBIOTE

revert .only
  packages/editor/src/functions/EditorControlFunctions.test.tsx
Owners: @SYBIOTE

format
  packages/ecs/src/ComponentFunctions.test.tsx
Owners: @speigg

caching, cameras, instancing, lights
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/gltf/GLTFState.tsx
  packages/engine/src/gltf/MaterialExtensionComponents.tsx
  packages/engine/src/gltf/MeshExtensionComponents.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

fix: dropdowns extending over container limits in properties panel
  packages/ui/src/components/editor/input/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix bug with avatar resource name
  packages/server-core/src/user/avatar/avatar-helper.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

remove gltf states and actions, clean up state usage all over the place
  packages/client-core/src/components/LoadWebappInjection.tsx
  packages/client-core/src/systems/LoadingUISystem.tsx
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/EntityTree.tsx
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
  packages/editor/src/components/dialogs/SaveNewSceneDialog.tsx
  packages/editor/src/components/toolbar/Toolbar.tsx
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/functions/addMediaNode.ts
  packages/editor/src/functions/sceneFunctions.tsx
  packages/editor/src/functions/transformGizmoHelper.ts
  packages/editor/src/panels/hierarchy/helpers.ts
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
  packages/editor/src/panels/hierarchy/hooks.tsx
  packages/editor/src/panels/hierarchy/index.tsx
  packages/editor/src/services/EditorServices.ts
  packages/editor/src/systems/ClickPlacementSystem.tsx
  packages/editor/src/systems/EditorControlSystem.ts
  packages/editor/src/systems/ObjectGridSnapSystem.ts
  packages/engine/src/avatar/components/AvatarAnimationComponent.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/GLTFDocumentState.ts
  packages/engine/src/gltf/GLTFLoader.test.tsx
  packages/engine/src/gltf/GLTFModifiedState.ts
  packages/engine/src/gltf/GLTFState.test.tsx
  packages/engine/src/gltf/GLTFState.tsx
  packages/engine/src/gltf/MaterialExtensionComponents.tsx
  packages/engine/src/scene/components/ParticleSystemComponent.ts
  packages/engine/src/scene/functions/loadGLTFModel.ts
  packages/engine/src/scene/functions/loaders/ModelFunctions.ts
  packages/server-core/src/user/avatar/avatar-helper.ts
  packages/ui/src/components/editor/DropdownItem/index.tsx
  packages/ui/src/components/editor/properties/input/index.tsx
  packages/ui/src/components/editor/properties/render/index.tsx
  packages/ui/src/components/editor/properties/scene/previewCamera/index.tsx
  packages/ui/src/components/editor/properties/transform/index.tsx
Owners: @aditya-mitra, @speigg, @dinomut1, @SYBIOTE, @AidanCaruso, @MichaelEstes, @CITIZENDOT, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

rename states for clarity
  packages/client-core/src/components/World/LoadLocationScene.tsx
  packages/client-core/src/hooks/useLoadedSceneEntity.ts
  packages/editor/src/components/dialogs/SaveNewSceneDialog.tsx
  packages/editor/src/components/toolbar/Toolbar.tsx
  packages/editor/src/functions/EditorControlFunctions.test.tsx
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/functions/addMediaNode.ts
  packages/editor/src/functions/sceneFunctions.tsx
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
  packages/editor/src/services/EditorServices.ts
  packages/engine/src/avatar/components/AnimationComponent.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/gltf/GLTFModifiedState.ts
  packages/engine/src/gltf/GLTFState.test.tsx
  packages/engine/src/gltf/GLTFState.tsx
  packages/engine/src/gltf/MaterialExtensionComponents.tsx
  packages/engine/src/gltf/MeshExtensionComponents.tsx
  packages/engine/tests/util/loadEmptyScene.ts
  packages/instanceserver/src/channels.ts
  packages/ui/src/pages/Capture/index.tsx
Owners: @speigg, @jose-galvan, @dinomut1, @aditya-mitra, @SYBIOTE, @AidanCaruso, @MichaelEstes, @HexaField, @CITIZENDOT

remove errors and warnings in elementlist
  packages/editor/src/components/toolbar/Toolbar.tsx
  packages/editor/src/panels/properties/elementlist.tsx
  packages/editor/src/services/ComponentShelfCategoriesState.ts
Owners: @dinomut1, @aditya-mitra

fix text wrapping in component list
  packages/editor/src/panels/properties/elementlist.tsx
Owners: @dinomut1, @aditya-mitra

use memoized return
  packages/editor/src/panels/properties/elementlist.tsx
Owners: @dinomut1, @aditya-mitra

bug fixes and clean up loaded entities by source
  packages/editor/src/functions/transformGizmoHelper.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/gltf/GLTFState.tsx
  packages/engine/src/scene/components/SourceComponent.ts
Owners: @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1, @speigg, @CITIZENDOT

fix bug with UUIDComponent and fix scene switching
  packages/ecs/src/UUIDComponent.ts
  packages/editor/src/functions/addMediaNode.ts
  packages/editor/src/functions/sceneFunctions.tsx
  packages/engine/src/gltf/GLTFState.tsx
Owners: @speigg, @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1

Add dataType to WebRTC settings in instance signaling and engine setting
  packages/server-core/src/networking/instance-signaling/instance-signaling.ts
  packages/server-core/src/setting/engine-setting/engine-setting.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

refactor add media node functionality, fix entity tree, try to optimize things
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/EntityTree.tsx
  packages/editor/src/functions/addMediaNode.ts
  packages/editor/src/systems/ModelLoadingSpinnerSystem.tsx
  packages/engine/src/avatar/components/AnimationComponent.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/gltf/GLTFState.tsx
  packages/engine/src/scene/components/SourceComponent.ts
  packages/spatial/src/renderer/RenderInfoSystem.ts
  packages/spatial/src/renderer/components/MeshComponent.ts
Owners: @speigg, @SYBIOTE, @dinomut1, @aditya-mitra, @AidanCaruso, @MichaelEstes, @CITIZENDOT, @DanielBelmes

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
