Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

Forgot to update scene colors (#102)
  packages/projects/default-project/public/scenes/default.gltf
Owners: @HexaField

Check errors fix
  packages/ecs/src/ComponentFunctions.ts
Owners: @speigg

Updated magiclink emails to clarify that they are one-time use (#103)
  packages/server-core/email-templates/account/magiclink-email-subscription.pug
  packages/server-core/email-templates/account/magiclink-email.pug
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

cleanup
  packages/client-core/src/common/services/RouterService.tsx
  packages/client/vite.config.ts
  packages/editor/src/components/profile/Profile.tsx
  packages/editor/src/components/toolbar/Toolbar.tsx
Owners: @aditya-mitra, @barankyle, @dinomut1

The file browser get function should pluck the leading "/" off the directory string, if one exists.
  packages/server-core/src/media/file-browser/file-browser.class.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

The model compression system shouldn't recreate the resource folder if it already exists
  packages/engine/src/assets/compression/ModelTransformFunctions.ts
Owners: @MichaelEstes, @dinomut1, @speigg

added the useEffect for the LookDev file type
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
Owners: @aditya-mitra

[IR-3460] Unit Test - Spatial Renderer (Lights, Constants, Effects) coverage to 80% (#29)
  packages/spatial/src/renderer/components/lights/AmbientLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/DirectionalLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/HemisphereLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/HemisphereLightComponent.ts
  packages/spatial/src/renderer/components/lights/LightTagComponent.test.ts
  packages/spatial/src/renderer/components/lights/PointLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/PointLightComponent.ts
  packages/spatial/src/renderer/components/lights/SpotLightComponent.test.ts
  packages/spatial/src/renderer/effects/LinearTosRGBEffect.test.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

Improve cameraProperties & GradientColorInput UI
  packages/ui/src/components/editor/input/Generator/Color/index.tsx
  packages/ui/src/components/editor/input/Group/index.tsx
  packages/ui/src/components/editor/properties/cameraProperties/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fmt: Clarify type annotation for `mesh.material` at `MeshComponent`
  packages/spatial/src/renderer/components/MeshComponent.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

fix: Error guards for unintented usage in `setMeshMaterial`
  packages/spatial/src/renderer/materials/materialFunctions.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

making video media controls sizing 40% of the video canvas
  packages/client-core/src/systems/ui/MediaControlsUI.tsx
Owners: @aditya-mitra

tst: Unit Tests for `materialFunctions.ts` (phase 3)
  packages/spatial/src/renderer/materials/materialFunctions.test.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

fmt: Force `materialFunctions.hasPlugin` to return a boolean
  packages/spatial/src/renderer/materials/materialFunctions.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

avatar bone recursion
  packages/engine/src/avatar/AvatarBoneMatching.ts
Owners: @AidanCaruso

Logging org name additions
  packages/server-core/src/projects/project/project.class.ts
  packages/server-core/src/seeder.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

remove common package as dependency of spatial
  packages/engine/src/scene/components/ObjectGridSnapComponent.ts
  packages/spatial/src/common/debug/ArrowHelperComponent.ts
  packages/spatial/src/resources/resourceHooks.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

doc: Add warning to `needsUpdate` in `setPlugin`
  packages/spatial/src/renderer/materials/materialFunctions.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

tst: Unit Tests for `materialFunctions.ts` (phase 4)
  packages/spatial/src/renderer/materials/materialFunctions.test.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

remove common package as dependency of xrui
  packages/client-core/src/media/webcam/WebcamInput.ts
  packages/common/src/regex/index.ts
  packages/common/tests/regex.test.ts
  packages/spatial/src/common/functions/createWorkerFromCrossOriginURL.ts
  packages/xrui/core/WebRenderer.ts
  packages/xrui/core/serialization/generateEmbeddedCSS.test.ts
  packages/xrui/core/serialization/generateEmbeddedCSS.ts
  packages/xrui/core/textures/KTX2Encoder.ts
  packages/xrui/package.json
Owners: @aditya-mitra, @HexaField, @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

tst: Unit Tests for `materialFunctions.ts` (phase 5)
  packages/spatial/src/renderer/materials/materialFunctions.test.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

WIP
  package.json
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/ComponentSchemaUtils.ts
  packages/engine/src/scene/components/ShadowComponent.ts
  packages/engine/src/scene/systems/SceneObjectSystem.tsx
  packages/spatial/src/camera/components/FollowCameraComponent.ts
  packages/spatial/src/renderer/components/VisibleComponent.ts
Owners: @HexaField, @speigg, @dinomut1, @CITIZENDOT, @AidanCaruso, @DanielBelmes, @SamMazerIR, @MichaelEstes

fix: Error guards for unintented usage in `materialPrototypeMatches`
  packages/spatial/src/renderer/materials/materialFunctions.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

tst: Unit Tests for `materialFunctions.ts` (phase 6)
  packages/spatial/src/renderer/materials/materialFunctions.test.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

Infer runtime type from onInit
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/ComponentSchemaUtils.ts
  packages/spatial/src/camera/components/FollowCameraComponent.ts
Owners: @speigg, @DanielBelmes, @SamMazerIR

fix: Error guard for `MaterialInstanceComponent.onRemove`
  packages/spatial/src/renderer/materials/MaterialComponent.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

fix: Error guard for unintented usage in `getMaterialIndices`
  packages/spatial/src/renderer/materials/materialFunctions.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

tst: Unit Tests for `materialFunctions.ts` (phase 7)
  packages/spatial/src/renderer/materials/materialFunctions.test.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

Cleanup
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/ComponentSchemaUtils.ts
  packages/spatial/src/camera/components/FollowCameraComponent.ts
Owners: @speigg, @DanielBelmes, @SamMazerIR

rename state and fix config
  packages/client-core/src/common/components/AvatarPreview/index.tsx
  packages/client-core/src/components/World/EngineHooks.tsx
  packages/client/src/store.tsx
  packages/ecs/src/Engine.ts
  packages/engine/src/assets/exporters/gltf/extensions/BufferHandlerExtension.ts
  packages/engine/src/assets/functions/createGLTFLoader.ts
  packages/engine/src/assets/functions/parseSceneJSON.ts
  packages/engine/src/assets/state/DomainConfigState.ts
  packages/engine/src/avatar/functions/XRControllerFunctions.ts
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
  packages/engine/src/scene/components/HyperspaceTagComponent.ts
  packages/engine/src/scene/components/ImageComponent.ts
  packages/engine/src/scene/components/NewVolumetricComponent.ts
  packages/engine/src/scene/components/SkyboxComponent.ts
  packages/engine/src/scene/components/UVOL1Component.ts
  packages/engine/src/scene/functions/GLTFConversion.ts
  packages/engine/src/scene/systems/ShadowSystem.tsx
  packages/hyperflux/src/functions/StoreFunctions.ts
  packages/server-core/src/createApp.ts
Owners: @aditya-mitra, @speigg, @barankyle, @MichaelEstes, @dinomut1, @AidanCaruso, @CITIZENDOT, @MoizAdnan, @hanzlamateen, @hurairahmateen

fixes
  packages/client-core/src/user/components/UserMenu/menus/AvatarSelectMenu.tsx
  packages/client-core/src/user/services/AvatarService.ts
  packages/common/package.json
  packages/common/src/model/ModelTransformLoader.ts
  packages/engine/src/assets/classes/AssetLoader.ts
  packages/engine/src/visualscript/nodes/profiles/engine/EngineProfileModule.ts
  packages/spatial/tests/util/patchNodeForWebXREmulator.ts
  packages/ui/src/pages/Capture/index.tsx
Owners: @aditya-mitra, @HexaField, @MichaelEstes, @dinomut1, @speigg, @AidanCaruso, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT

Add Google Analytics Measurement ID to env variables
  .env.local.default
  packages/server-core/src/appconfig.ts
  packages/server-core/src/setting/client-setting/client-setting.seed.ts
  packages/server-core/src/setting/client-setting/migrations/20240828064409_gaMeasurementId_column.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Changes to introduce a unified engine settings table
  packages/common/src/schemas/setting/engine-setting.schema.ts
  packages/server-core/src/setting/engine-setting/engine-setting.class.ts
  packages/server-core/src/setting/engine-setting/engine-setting.docs.ts
  packages/server-core/src/setting/engine-setting/engine-setting.hooks.ts
  packages/server-core/src/setting/engine-setting/engine-setting.resolvers.ts
  packages/server-core/src/setting/engine-setting/engine-setting.test.ts
  packages/server-core/src/setting/engine-setting/engine-setting.ts
  packages/server-core/src/setting/engine-setting/migrations/20240828120000_engine-setting.ts
  packages/server-core/src/setting/service.ts
  packages/server-core/src/test-utils/setting-test-utils.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix tests
  packages/hyperflux/tests/useImmediateEffect.test.ts
  packages/spatial/src/threejsPatches.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

format again
  packages/client-core/src/admin/components/instance/ViewModal.tsx
  packages/client-core/src/admin/components/invites/AddEditInviteModal.tsx
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/client-core/src/admin/components/resources/ResourceTable.tsx
  packages/client-core/src/admin/components/settings/tabs/authentication.tsx
  packages/client-core/src/admin/components/settings/tabs/aws.tsx
  packages/client-core/src/admin/components/settings/tabs/instanceServer.tsx
  packages/client-core/src/admin/components/user/AddEditUserModal.tsx
  packages/client-core/src/components/InstanceChat/index.tsx
  packages/client-core/src/systems/ui/RecordingsWidgetUI.tsx
  packages/client-core/src/user/functions/useUserAvatarThumbnail.ts
Owners: @hanzlamateen, @aditya-mitra

feat: Add 'isActive' field to instance table and view modal
  packages/client-core/i18n/en/admin.json
  packages/client-core/src/admin/common/constants/instance.ts
  packages/client-core/src/admin/components/instance/InstanceTable.tsx
  packages/client-core/src/admin/components/instance/ViewModal.tsx
  packages/common/src/schemas/user/user.schema.ts
  packages/server-core/src/networking/instance/instance.hooks.ts
Owners: @aditya-mitra, @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen

fix text ellipsis
  packages/editor/src/panels/files/fileitem.tsx
Owners: @dinomut1, @aditya-mitra

replace folder icon
  packages/client/public/static/editor/folder-icon.png
  packages/editor/src/panels/files/fileicon.tsx
Owners: @barankyle, @aditya-mitra, @dinomut1

Remove unused code in appconfig.ts
  packages/server-core/src/appconfig.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

feat: Add logger statements for chat window toggle and media icon clicks
  packages/client-core/src/components/InstanceChat/index.tsx
  packages/client-core/src/components/MediaIconsBox/index.tsx
  packages/client-core/src/components/Shelves/index.tsx
  packages/client-core/src/transports/SocketWebRTCClientFunctions.ts
  packages/client-core/src/user/components/UserMenu/menus/ProfileMenu.tsx
  packages/client-core/src/user/components/UserMenu/menus/SettingMenu2.tsx
Owners: @aditya-mitra
