Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

update the margin on the label
  packages/ui/src/components/editor/properties/envmap/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

chore: removed duplicated css
  packages/server-core/email-templates/account/layout.pug
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Control docker containers through .env
  .env.local.default
  scripts/docker-compose-core.yml
  scripts/docker-compose-minikube.yml
  scripts/docker-compose-test.yml
  scripts/start-containers.sh
Owners: @HexaField, @barankyle, @hanzlamateen, @DanielBelmes

Start of gltf loader tests, material definition schema, fixes for optional schemas, typings
  packages/ecs/src/schemas/JSONSchemaTypes.ts
  packages/ecs/src/schemas/JSONSchemas.ts
  packages/engine/src/assets/functions/resourceLoaderHooks.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/GLTFLoader.test.tsx
  packages/engine/src/gltf/GLTFState.tsx
  packages/engine/src/gltf/MaterialDefinitionComponent.tsx
  packages/engine/src/gltf/MeshExtensionComponents.tsx
Owners: @speigg, @MichaelEstes, @dinomut1, @AidanCaruso

IR-4708 Fix avatars not reloading on change (#322)
  packages/client-core/src/networking/AvatarSpawnSystem.tsx
Owners: @aditya-mitra

formating update
  packages/editor/src/classes/gizmo/camera/CameraGizmoVisualComponent.ts
Owners: @SYBIOTE

change server core test env from jsdom to node
  packages/engine/package.json
  packages/server-core/vitest.config.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix accidental spaces
  package.json
Owners: @HexaField

use immediate effect
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @SamMazerIR

fix errors
  packages/editor/src/classes/gizmo/camera/CameraGizmoComponent.ts
  packages/editor/src/classes/gizmo/camera/CameraGizmoVisualComponent.ts
  packages/editor/src/constants/GizmoPresets.ts
  packages/editor/src/functions/cameraGizmoHelper.ts
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

Expanding the texture usage scan in ModelTransformFunctions to include textures referenced from materials that aren't EE_mat.
  packages/common/src/model/ModelTransformFunctions.ts
Owners: @HexaField

Control docker containers through .env (#330)
  .env.local.default
  scripts/docker-compose-core.yml
  scripts/docker-compose-minikube.yml
  scripts/docker-compose-test.yml
  scripts/start-containers.sh
Owners: @HexaField, @barankyle, @hanzlamateen, @DanielBelmes

remove logs
  packages/editor/src/functions/cameraGizmoHelper.ts
Owners: @SYBIOTE

fix images crash server
  packages/spatial/src/resources/ResourceState.ts
Owners: @MichaelEstes

use invert rot
  packages/editor/src/functions/cameraGizmoHelper.ts
Owners: @SYBIOTE

fix images crash server (#331)
  packages/spatial/src/resources/ResourceState.ts
Owners: @MichaelEstes

add ability to edit name in file properties prefer displaying resource name in assets panel
  packages/client-core/i18n/en/editor.json
  packages/editor/src/panels/assets/resources.tsx
  packages/editor/src/panels/files/modals/FilePropertiesModal.tsx
Owners: @aditya-mitra, @dinomut1

Load scene if component errored
  packages/editor/src/systems/ClickPlacementSystem.tsx
  packages/engine/src/assets/loaders/gltf/GLTFLoader.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/scene/components/ErrorComponent.ts
  packages/engine/src/scene/components/ModelComponent.tsx
Owners: @dinomut1, @aditya-mitra, @MichaelEstes, @speigg, @AidanCaruso, @CITIZENDOT

fix merge conflict
  packages/editor/src/services/EditorServices.ts
Owners: @dinomut1, @aditya-mitra

remove only
  packages/server-core/src/setting/engine-setting/engine-setting.test.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

avatar previews are animated, avatar animation system solely handles updating VRMs
  packages/client-core/src/common/components/AvatarPreview/index.tsx
  packages/engine/src/avatar/components/LoopAnimationComponent.ts
  packages/engine/src/avatar/systems/AnimationSystem.ts
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
Owners: @aditya-mitra, @AidanCaruso

fix file browser directory copy local fs
  packages/server-core/src/media/file-browser/file-browser.class.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

remove gltf transform from server core
  packages/server-core/package.json
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Fix merge conflict (#334)
  packages/editor/src/services/EditorServices.ts
Owners: @dinomut1, @aditya-mitra

Model transform refactor september 2024 (#287)
  package.json
  packages/client-core/i18n/en/editor.json
  packages/common/src/constants/FeatureFlags.ts
  packages/common/src/model/ModelTransformFunctions.ts
  packages/common/src/model/ModelTransformLoader.ts
  packages/common/src/schema.type.module.ts
  packages/common/src/schemas/assets/model-transform.schema.ts
  packages/editor/src/components/assets/ModelCompressionPanel.tsx
  packages/editor/src/constants/GLTFPresets.ts
  packages/editor/src/systems/UploadRequestSystem.tsx
  packages/engine/package.json
  packages/engine/src/assets/classes/ModelTransform.ts
  packages/engine/src/assets/compression/extensions/CopyableExtension.ts
  packages/engine/src/assets/compression/extensions/EE_MaterialTransformer.ts
  packages/engine/src/assets/compression/extensions/EE_VRMTransformer.ts
  packages/server-core/package.json
  packages/server-core/src/assets/ModelTransformLoader.ts
  packages/server-core/src/assets/extensions/EE_MaterialTransformer.ts
  packages/server-core/src/assets/extensions/EE_ResourceIDTransformer.ts
  packages/server-core/src/assets/extensions/MOZ_LightmapTransformer.ts
  packages/server-core/src/assets/model-transform/model-transform.class.ts
  packages/server-core/src/assets/model-transform/model-transform.docs.ts
  packages/server-core/src/assets/model-transform/model-transform.helpers.ts
  packages/server-core/src/assets/model-transform/model-transform.job.ts
  packages/server-core/src/assets/model-transform/model-transform.ts
  packages/server-core/src/assets/services.ts
  packages/ui/src/components/editor/properties/model/index.tsx
  packages/ui/src/components/editor/properties/model/transform/index.tsx
Owners: @HexaField, @aditya-mitra, @dinomut1, @AidanCaruso, @MichaelEstes, @speigg, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @SYBIOTE, @CITIZENDOT

template project
  packages/projects/template-project/readme.md
  packages/projects/template-project/tests/dummy.test.ts
  packages/projects/template-project/tests/mocha.env.js
  packages/projects/template-project/tsconfig.json
Owners: @HexaField

cleanup
  packages/matchmaking/tests/setup.js
  packages/server/tests/setup.js
Owners: @speigg, @hanzlamateen, @barankyle

current progress on removing beziers and updating to i18n as hard-coded strings are found
  packages/client-core/i18n/en/editor.json
  packages/editor/src/components/layout/PaginatedList.tsx
  packages/ui/src/components/editor/input/Generator/Value/index.tsx
  packages/ui/src/components/editor/properties/particle/index.tsx
Owners: @aditya-mitra, @dinomut1, @SYBIOTE, @CITIZENDOT

doLoginAuto now calls generate-token to get short-lived JWT for WS
  packages/client-core/src/user/services/AuthService.ts
  packages/server-core/src/user/accept-invite/accept-invite.class.ts
  packages/server-core/src/user/generate-token/generate-token.class.ts
  packages/server-core/src/user/generate-token/generate-token.hooks.ts
  packages/server-core/src/user/identity-provider/identity-provider.hooks.ts
  packages/server-core/src/user/jwt-public-key/jwt-public-key.class.ts
  packages/server-core/src/user/login/login.class.ts
Owners: @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

fix test
  packages/server-core/src/hooks/verify-project-permission.test.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Reuse error
  packages/engine/src/scene/components/ModelComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

tst: Unit Tests for `updateWorldOrigin.ts` (phase 0)
  packages/spatial/src/transform/updateWorldOrigin.test.ts
Owners: @SamMazerIR

tst: Fix typo in `NoiseOffsetPlugin.test.ts` statements
  packages/spatial/src/renderer/materials/constants/plugins/NoiseOffsetPlugin.test.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

test
  packages/server-core/src/hooks/verify-project-permission.test.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

tst: Bugfixes for `{Physics,Transform}Serialization` tests
  packages/spatial/src/physics/PhysicsSerialization.test.ts
  packages/spatial/src/transform/TransformSerialization.test.ts
  packages/spatial/src/transform/components/TransformComponent.test.tsx
Owners: @heysokam, @SamMazerIR

tst: Unit Tests for `TransformSystem.ts` (phase 0)
  packages/spatial/src/transform/systems/TransformSystem.test.ts
Owners: @SamMazerIR

tst: Unit Tests for `LookAtSystem.ts` (phase 0)
  packages/spatial/src/transform/systems/LookAtSystem.test.ts
Owners: @SamMazerIR

fmt: Remove deprecated usage of `viewerEntity` in `LookAtSystem`
  packages/spatial/src/transform/systems/LookAtSystem.ts
Owners: @SamMazerIR

remove shadow radius input for shadow properties (#321)
  packages/ui/src/components/editor/properties/light/shadowProperties/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

update the margin on the label (#329)
  packages/ui/src/components/editor/properties/envmap/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
