Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

Fixed some security issues with identity-provider service
  packages/server-core/src/user/identity-provider/identity-provider.hooks.ts
  packages/server-core/src/user/identity-provider/identity-provider.test.ts
  packages/server-core/src/user/strategies/discord.ts
  packages/server-core/src/user/strategies/facebook.ts
  packages/server-core/src/user/strategies/twitter.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Revert "Fixed some security issues with identity-provider service (#807)"
  packages/server-core/src/user/identity-provider/identity-provider.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Fixed some security issues with identity-provider service
  packages/server-core/src/user/identity-provider/identity-provider.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fixup
  packages/common/src/regex/index.ts
  packages/common/tests/regex.test.ts
  scripts/get-deletable-client-files.ts
Owners: @HexaField, @barankyle, @hanzlamateen, @DanielBelmes

test data channels
  packages/network/src/webrtc/WebRTCTransportFunctions.test.ts
  packages/network/tests/mockOtherPeer.ts
Owners: @speigg

added dependency per Josh's PR rewuest
  packages/spatial/src/renderer/WebGLRendererSystem.tsx
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

update the video texture to the newly selected source when changing video source
  packages/engine/src/scene/components/VideoComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

move widgets to client core, move some xrui to engine
  packages/client-core/src/components/MediaIconsBox/index.tsx
  packages/client-core/src/systems/LoadingUISystem.tsx
  packages/client-core/src/systems/WarningUISystem.tsx
  packages/client-core/src/systems/WidgetAppService.ts
  packages/client-core/src/systems/WidgetUISystem.tsx
  packages/client-core/src/systems/Widgets.ts
  packages/client-core/src/systems/createAnchorWidget.tsx
  packages/client-core/src/systems/createAvatarModeWidget.tsx
  packages/client-core/src/systems/createHeightAdjustmentWidget.tsx
  packages/client-core/src/systems/createMediaWidget.tsx
  packages/client-core/src/systems/createRecordingsWidget.tsx
  packages/client-core/src/systems/ui/AvatarDetailView/index.tsx
  packages/client-core/src/systems/ui/LoadingDetailView/index.tsx
  packages/client-core/src/systems/ui/MediaControlsUI.tsx
  packages/client-core/src/systems/ui/RecordingsWidgetUI.tsx
  packages/client-core/src/systems/ui/UserMenuView/index.tsx
  packages/client-core/src/systems/ui/WidgetMenuView/index.tsx
  packages/client-core/src/world/ClientModule.ts
  packages/engine/src/interaction/components/InteractableComponent.ts
  packages/engine/src/interaction/ui/InteractiveModalView.tsx
  packages/engine/src/scene/components/VideoComponent.tsx
  packages/engine/src/visualscript/nodes/profiles/engine/values/CustomNodes.ts
  packages/engine/src/xrui/XRUIStateContext.ts
  packages/engine/src/xrui/createXRUI.tsx
  packages/engine/src/xrui/useXRUIState.ts
  packages/spatial/src/transform/functions/ObjectFitFunctions.ts
Owners: @aditya-mitra, @SamMazerIR, @speigg, @dinomut1, @CITIZENDOT, @AidanCaruso, @MichaelEstes

update default scene loading screen
  packages/projects/default-project/public/scenes/default.loadingscreen.ktx2
  packages/projects/default-project/public/thumbnails/public_scenes_default.loadingscreen.ktx2-thumbnail.png
Owners: @HexaField

rename onOpenChange to onOpen
  packages/editor/src/panels/viewport/tools/ToolbarDropdown.tsx
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

refactor entity layers around ECS and UUIDComponent
  packages/ecs/index.ts
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/EntityFunctions.tsx
  packages/ecs/src/LayerState.ts
  packages/ecs/src/QueryFunctions.tsx
  packages/ecs/src/SystemFunctions.ts
  packages/ecs/src/UUIDComponent.ts
  packages/ecs/src/createEntity.ts
  packages/editor/src/components/properties/Util.ts
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/panels/files/fileitem.tsx
  packages/editor/src/panels/hierarchy/helpers.ts
  packages/editor/src/panels/materials/index.tsx
  packages/editor/src/panels/materials/layernode.tsx
  packages/editor/src/panels/properties/materialeditor.tsx
  packages/editor/src/services/SelectionServices.ts
  packages/engine/src/avatar/components/AnimationComponent.ts
  packages/engine/src/avatar/components/AvatarAnimationComponent.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/gltf/GLTFState.tsx
  packages/engine/src/gltf/MaterialDefinitionComponent.tsx
  packages/spatial/src/physics/components/ColliderComponent.tsx
  packages/spatial/src/physics/components/RigidBodyComponent.tsx
  packages/spatial/src/renderer/components/MeshComponent.ts
  packages/spatial/src/renderer/components/Object3DComponent.ts
  packages/ui/src/components/editor/properties/collider/index.tsx
  packages/ui/src/components/editor/properties/gltf/loader/index.tsx
Owners: @speigg, @dinomut1, @aditya-mitra, @SYBIOTE, @AidanCaruso, @MichaelEstes, @heysokam, @DanielBelmes, @CITIZENDOT

Update packages/editor/src/panels/assets/resources.tsx
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

Update packages/editor/src/panels/assets/resources.tsx
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

Update packages/editor/src/panels/assets/resources.tsx
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

fixed typos and progress bar
  packages/editor/src/panels/assets/resources.tsx
  packages/editor/src/panels/files/fileicon.tsx
Owners: @dinomut1, @aditya-mitra

check if user has peer
  packages/network/src/EntityNetworkState.tsx
Owners: @speigg

remove log
  packages/network/src/EntityNetworkState.tsx
Owners: @speigg

Add Searchable dropdown
  packages/ui/src/primitives/tailwind/Select/index.stories.tsx
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Improve Project Modal
  packages/client-core/src/admin/components/project/AddEditProjectModal.tsx
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @hanzlamateen, @aditya-mitra, @SYBIOTE, @CITIZENDOT

set commit data max width to 200px
  packages/client-core/src/admin/components/project/AddEditProjectModal.tsx
Owners: @hanzlamateen

add some basic tests for material conversion
  packages/engine/src/scene/materials/systems/MaterialLibrarySystem.test.tsx
  packages/engine/src/scene/materials/systems/MaterialLibrarySystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

license
  packages/engine/src/scene/materials/systems/MaterialLibrarySystem.test.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

example routes mounting and state update issues
  packages/common/src/utils/FeathersHooks.tsx
  packages/hyperflux/src/functions/StateFunctions.ts
  packages/hyperflux/src/hooks/useImmediateEffect.ts
  packages/spatial/src/initializeEngine.ts
  packages/spatial/src/input/functions/ClientInputHooks.tsx
Owners: @HexaField, @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR, @heysokam

camera settings updated to be more user-friendly, better labeling, range restrictions etc.
  packages/client-core/i18n/en/editor.json
  packages/ui/src/components/editor/properties/cameraProperties/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

revert layer propagation and try and make it work with cloning objects
  packages/client-core/src/components/Debug/EntityDebug.tsx
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/UUIDComponent.ts
  packages/engine/src/gltf/GLTFState.tsx
Owners: @aditya-mitra, @speigg, @AidanCaruso, @MichaelEstes, @dinomut1

fix instanceserver instability
  packages/common/src/transports/mediasoup/MediasoupTransportState.tsx
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
Owners: @HexaField, @AidanCaruso

add projectId to instance patch validator
  packages/common/src/schemas/networking/instance.schema.ts
Owners: @HexaField

fix bugs with profile menu ToS
  packages/client-core/src/user/components/UserMenu/menus/ProfileMenu.tsx
Owners: @aditya-mitra

fix same bug in other mediasoup states
  packages/common/src/transports/mediasoup/MediasoupDataProducerConsumerState.tsx
  packages/common/src/transports/mediasoup/MediasoupMediaProducerConsumerState.tsx
Owners: @HexaField

fix test
  packages/engine/src/avatar/components/AnimationComponent.test.tsx
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
Owners: @AidanCaruso

update material on needsUpdate, set basic materials on quality 0
  packages/engine/src/scene/materials/systems/MaterialLibrarySystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

show info text in update mode as well
  packages/client-core/src/admin/components/project/AddEditProjectModal.tsx
Owners: @hanzlamateen

Replace root override with root boolean
  .env.local.default
  packages/client-core/src/user/services/AuthService.ts
  packages/common/src/config.ts
Owners: @HexaField, @aditya-mitra

Fix dropdown overlapping
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Improve Engine Modal UI
  packages/client-core/src/admin/components/project/UpdateEngineModal.tsx
Owners: @hanzlamateen

fix reactor issues
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
  packages/engine/src/avatar/systems/AvatarTransparencySystem.tsx
Owners: @AidanCaruso

Show clear button at the end
  packages/client-core/src/admin/components/project/AddEditProjectModal.tsx
  packages/client-core/src/admin/components/project/UpdateEngineModal.tsx
  packages/ui/src/primitives/tailwind/Select/index.stories.tsx
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @hanzlamateen, @aditya-mitra, @SYBIOTE, @CITIZENDOT

set max height of engine modal to 200px
  packages/client-core/src/admin/components/project/UpdateEngineModal.tsx
Owners: @hanzlamateen

feat(location): search by project name
  packages/common/src/schemas/social/location.schema.ts
Owners: @HexaField

fix(location): build
  packages/common/src/schemas/social/location.schema.ts
Owners: @HexaField
