Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

Add mouse event handlers to disable scrolling in MaterialPreviewer
  packages/editor/src/panels/materials/materialpreviewer.tsx
Owners: @dinomut1, @aditya-mitra

Hardened clientDbToSchema to account for different ways JSON is stored
  packages/common/src/schemas/setting/client-setting.schema.ts
Owners: @HexaField

Ensure mobile does not enable video when it's not supposed to
  packages/client-core/src/user/VideoWindows/hook.tsx
Owners: @aditya-mitra

fix intended functionality with mobile stream ending
  packages/client-core/src/user/VideoWindows/hook.tsx
Owners: @aditya-mitra

fixed condition for rigidbidy
  packages/ui/src/components/editor/properties/trigger/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

resize avatar collider more appropriately
  packages/engine/src/avatar/functions/spawnAvatarReceptor.ts
Owners: @AidanCaruso

Update FileCard component to include secondary text color in styles
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

scope trace unhandle to just development
  packages/server-core/src/appconfig.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

i think it works for real now
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/functions/addMediaNode.ts
  packages/editor/src/panels/properties/materialeditor.tsx
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/scene/systems/SceneDeltaState.tsx
  packages/spatial/src/renderer/materials/materialFunctions.ts
Owners: @SYBIOTE, @dinomut1, @aditya-mitra, @AidanCaruso, @MichaelEstes, @speigg, @CITIZENDOT, @DanielBelmes

fix: validate form before compress scene and publish
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

loading animation fits on mobile screens (#1314)
  packages/client/src/pages/location/location.tsx
  packages/ui/src/primitives/tailwind/LoadingView/index.tsx
Owners: @barankyle, @aditya-mitra, @SYBIOTE, @CITIZENDOT

geometry params enum
  packages/engine/src/scene/constants/GeometryTypeEnum.ts
  packages/ui/src/components/editor/properties/geometry/primitive/index.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @aditya-mitra, @SYBIOTE

remove labels for primitivegeo
  packages/client-core/i18n/en/editor.json
Owners: @aditya-mitra

Revert "Material drag drop deltas (#1334)"
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/functions/addMediaNode.ts
  packages/editor/src/panels/properties/materialeditor.tsx
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/scene/systems/SceneDeltaState.tsx
  packages/spatial/src/renderer/materials/MaterialComponent.tsx
  packages/spatial/src/renderer/materials/materialFunctions.ts
Owners: @SYBIOTE, @dinomut1, @aditya-mitra, @AidanCaruso, @MichaelEstes, @speigg, @CITIZENDOT, @DanielBelmes

Move SVGs to static (not public)
  packages/client-core/src/common/components/TouchGamepad/index.tsx
  packages/client/public/static/basepad.svg
  packages/client/public/static/stickypad.svg
Owners: @aditya-mitra, @barankyle

set missing sceneid
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

generate thumbnail on on editor
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

fix checkbox event propagated twice
  packages/client-core/src/user/menus/SettingsMenu.tsx
  packages/ui/src/primitives/tailwind/Checkbox/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Revert "Revert "Material drag drop deltas (#1334)""
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/functions/addMediaNode.ts
  packages/editor/src/panels/properties/materialeditor.tsx
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/scene/systems/SceneDeltaState.tsx
  packages/spatial/src/renderer/materials/MaterialComponent.tsx
  packages/spatial/src/renderer/materials/materialFunctions.ts
Owners: @SYBIOTE, @dinomut1, @aditya-mitra, @AidanCaruso, @MichaelEstes, @speigg, @CITIZENDOT, @DanielBelmes

fix overlaycomponent error
  packages/engine/src/scene/components/OverlayComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

hover interact fix
  packages/engine/src/interaction/components/InteractableComponent.ts
Owners: @SamMazerIR, @speigg

add background to custom avatars
  packages/client-core/src/user/VideoWindows/window.tsx
Owners: @aditya-mitra

remove click event listeners on profile menu
  packages/client-core/src/user/menus/ProfileMenu.tsx
Owners: @aditya-mitra

fix gl.fenceSync() parameter flag
  packages/spatial/src/resources/ResourceState.tsx
Owners: @MichaelEstes

fix gl.fenceSync() parameter flag
  packages/spatial/src/resources/ResourceState.tsx
Owners: @MichaelEstes

Fix gl.clientWaitSync status check
  packages/spatial/src/resources/ResourceState.tsx
Owners: @MichaelEstes

.
  packages/engine/src/scene/components/OverlayComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix gl client wait sync status
  packages/spatial/src/resources/ResourceState.tsx
Owners: @MichaelEstes

Refactor scroll event handling to target the materials panel instead of the window
  packages/editor/src/panels/materials/materialpreviewer.tsx
Owners: @dinomut1, @aditya-mitra

update
  packages/editor/src/panels/files/contextmenu.tsx
Owners: @dinomut1, @aditya-mitra

added a debounced timeout to trigger a refetchResources 0.5 sec after the last thumbnailJobState.jobs.length reaction
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
  packages/editor/src/panels/assets/resources.tsx
Owners: @aditya-mitra, @dinomut1

optimize feathers hooks rerenders
  packages/common/src/utils/FeathersHooks.tsx
Owners: @HexaField

wip
  packages/editor/src/functions/EditorControlFunctions.ts
Owners: @SYBIOTE

add ref counting to feathers hooks to eliminate realtime refetch leak
  packages/client-core/src/components/Debug/APIDebug.tsx
  packages/common/src/utils/FeathersHooks.tsx
Owners: @aditya-mitra, @HexaField

fixes for material deltas
  packages/editor/src/functions/EditorControlFunctions.ts
Owners: @SYBIOTE

Modify breakpoints of ConfirmDialog
  packages/ui/src/components/tailwind/ConfirmDialog/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

disable mobile non optimized PR
  packages/client-core/src/hooks/useUnsupported.tsx
Owners: @jose-galvan

Remove raycast clock
  packages/spatial/src/camera/components/FollowCameraComponent.ts
Owners: @DanielBelmes, @SamMazerIR, @speigg

scene delta migration logic on scene name change
  packages/engine/src/gltf/GLTFState.tsx
  packages/engine/src/scene/systems/SceneDeltaState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @speigg, @CITIZENDOT

Revert "Remove raycast clock"
  packages/spatial/src/camera/components/FollowCameraComponent.ts
Owners: @DanielBelmes, @SamMazerIR, @speigg

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
