Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

IR-4358 particle system type (#303)
  packages/client-core/i18n/en/editor.json
  packages/engine/src/scene/components/ParticleSystemComponent.ts
  packages/engine/src/scene/util/meshUtils.ts
  packages/ui/src/components/editor/properties/particle/index.tsx
Owners: @aditya-mitra, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @SYBIOTE

fixes
  packages/projects/default-project/projectEventHooks.ts
  packages/server-core/src/createApp.ts
  packages/server-core/src/projects/project/project.class.ts
  packages/server-core/src/seeder.ts
  packages/server-core/src/services.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

add name to static resouce table (#316)
  packages/common/src/schemas/media/static-resource.schema.ts
  packages/server-core/src/media/static-resource/migrations/20240924001248_static-resource-name.ts
  packages/server-core/src/media/static-resource/static-resource-helper.ts
  packages/server-core/src/projects/project/project-helper.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

format
  packages/server-core/src/projects/project/project.class.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix fog test
  packages/spatial/src/renderer/components/FogSettingsComponent.test.tsx
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

first prototype
  packages/editor/src/classes/gizmo/camera/CameraGizmoVisualComponent.ts
  packages/editor/src/classes/gizmo/transform/TransformGizmoVisualComponent.ts
  packages/editor/src/constants/GizmoPresets.ts
  packages/editor/src/functions/cameraGizmoHelper.ts
  packages/editor/src/panels/viewport/tools/CameraGizmoTool.tsx
  packages/editor/src/systems/CameraGizmoSystem.ts
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

tst: Unit Tests for `TransformSerialization.ts`
  packages/spatial/src/transform/TransformSerialization.test.ts
Owners: @SamMazerIR

fmt: Remove deprecated usage of `Engine.instance.localFloorEntity`
  packages/spatial/src/transform/updateWorldOrigin.ts
Owners: @SamMazerIR

fix rotation error
  packages/editor/src/functions/cameraGizmoHelper.ts
Owners: @SYBIOTE

remove console log
  packages/editor/src/functions/cameraGizmoHelper.ts
Owners: @SYBIOTE

increase gizmo size
  packages/editor/src/constants/GizmoPresets.ts
Owners: @dinomut1, @aditya-mitra

update function calls
  packages/ui/src/components/editor/properties/scene/settings/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

check if ambient light exists
  packages/client-core/src/common/components/AvatarPreview/index.tsx
Owners: @aditya-mitra

Refactor engine setting to use a category map for updating appConfig
  packages/server-core/src/setting/engine-setting/engine-setting.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

format
  packages/spatial/src/renderer/components/FogSettingsComponent.test.tsx
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

IR-4110: Fix tracking events (#109)
  packages/client-core/src/components/InstanceChat/index.tsx
  packages/client-core/src/components/MediaIconsBox/index.tsx
  packages/client-core/src/components/Shelves/index.tsx
  packages/client-core/src/user/components/UserMenu/menus/ProfileMenu.tsx
  packages/client-core/src/user/components/UserMenu/menus/SettingMenu2.tsx
  packages/client-core/src/user/components/UserMenu/menus/ShareMenu.tsx
Owners: @aditya-mitra

Refactor getCoilSetting to accept an array of keys; set 'private' as the default parameter in engine setting seed function.
  packages/client/scripts/getCoilSettings.ts
  packages/client/vite.config.ts
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
Owners: @barankyle, @aditya-mitra, @MoizAdnan, @hanzlamateen, @hurairahmateen

change geo svg color
  packages/editor/src/components/prefabs/icons/geo.svg
Owners: @dinomut1, @aditya-mitra

use svg as components
  packages/editor/src/components/prefabs/PrefabEditors.tsx
Owners: @dinomut1, @aditya-mitra

The value for the radius is being set but has no effect. Could be due to our custom cascading shadows. Advice was to remove the property from the UI for now
  packages/ui/src/components/editor/properties/light/shadowProperties/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

update prefab icon
  packages/editor/src/components/prefabs/PrefabEditors.tsx
  packages/editor/src/panels/properties/elementlist.tsx
Owners: @dinomut1, @aditya-mitra

boolean selection
  packages/editor/src/components/prefabs/PrefabEditors.tsx
  packages/editor/src/panels/properties/elementlist.tsx
Owners: @dinomut1, @aditya-mitra

fix avatar query
  packages/client-core/src/networking/AvatarSpawnSystem.tsx
Owners: @aditya-mitra

update svg
  packages/editor/src/components/prefabs/PrefabEditors.tsx
  packages/editor/src/components/prefabs/icons/camera.svg
  packages/editor/src/components/prefabs/icons/collider.svg
  packages/editor/src/components/prefabs/icons/ecomm.svg
  packages/editor/src/components/prefabs/icons/empty.svg
  packages/editor/src/components/prefabs/icons/geo.svg
  packages/editor/src/components/prefabs/icons/image.svg
  packages/editor/src/components/prefabs/icons/lighting.svg
  packages/editor/src/components/prefabs/icons/lookdev.svg
  packages/editor/src/components/prefabs/icons/text.svg
  packages/editor/src/components/prefabs/icons/video.svg
Owners: @dinomut1, @aditya-mitra

add shelve for create
  packages/editor/src/panels/properties/elementlist.tsx
Owners: @dinomut1, @aditya-mitra

VideoComponent size have "x" and "y" values, not "width" and "height".
  packages/engine/src/scene/components/VideoComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

MediaComponent no longer restarts the media in response to property changes.
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

chore: set denied state on catch block
  packages/client/public/root-cookie-accessor-template.html
Owners: @barankyle, @aditya-mitra

chore: set storageAccessPermission on success
  packages/client/public/root-cookie-accessor-template.html
Owners: @barankyle, @aditya-mitra

v0.8.1 NO MERGE WITHOUT LARRY Fix memory leak from useAncestorWithComponents (#317)
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @SamMazerIR

add callbacks for model, variant, visibility
  packages/engine/src/avatar/components/LoopAnimationComponent.ts
  packages/engine/src/avatar/systems/AnimationSystem.ts
  packages/engine/src/scene/components/ModelComponent.tsx
  packages/engine/src/scene/components/VariantComponent.tsx
  packages/spatial/src/common/CallbackComponent.ts
  packages/spatial/src/renderer/components/GroupComponent.tsx
  packages/ui/src/components/editor/properties/trigger/index.tsx
Owners: @AidanCaruso, @dinomut1, @speigg, @CITIZENDOT, @MichaelEstes, @MbfloydIR, @SamMazerIR, @DanielBelmes, @aditya-mitra, @SYBIOTE

Syncing memory leak change to Dev (#326)
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @SamMazerIR

Component schema initializer / reuse three objects in onSet (#285)
  packages/ecs/src/ComponentFunctions.test.tsx
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/schemas/JSONSchemaTypes.ts
  packages/ecs/src/schemas/JSONSchemaUtils.ts
  packages/ecs/src/schemas/JSONSchemas.ts
  packages/editor/src/functions/gizmoHelper.ts
  packages/engine/src/scene/systems/ShadowSystem.tsx
  packages/spatial/src/common/proxies/createThreejsProxy.ts
  packages/spatial/src/physics/PhysicsSerialization.test.ts
  packages/spatial/src/renderer/WebGLRendererSystem.tsx
  packages/spatial/src/transform/components/TransformComponent.ts
Owners: @speigg, @SYBIOTE, @dinomut1, @CITIZENDOT, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR, @heysokam, @DanielBelmes

refactor to editor package
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/panels/script/index.tsx
  packages/ui/src/components/editor/panels/Script/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

Update customer Service help button design (#185)
  packages/client-core/i18n/en/editor.json
  packages/editor/src/components/EditorContainer.tsx
  packages/ui/src/primitives/tailwind/Tooltip/tooltip.css
Owners: @aditya-mitra, @dinomut1, @SYBIOTE, @CITIZENDOT

Explicitly typing the onChange and onRelease functions on Scrubber, Vector2Input and Vector3Input; fixing a bug concealed by weak typing
  packages/ui/src/components/editor/input/Vector2/index.tsx
  packages/ui/src/components/editor/input/Vector3/index.tsx
  packages/ui/src/components/editor/layout/Scrubber.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Rewriting the guts of Vector3 and Vector2 to pass new vectors into their onChange and onRelease handlers, instead of modifying the passed-in Vector2/Vector3 object.
  packages/ui/src/components/editor/input/Euler/index.tsx
  packages/ui/src/components/editor/input/Vector2/index.tsx
  packages/ui/src/components/editor/input/Vector3/index.tsx
  packages/ui/src/components/editor/properties/spline/track/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

simplify gizmo
  packages/editor/src/classes/gizmo/camera/CameraGizmoComponent.ts
  packages/editor/src/classes/gizmo/camera/CameraGizmoControlComponent.ts
  packages/editor/src/classes/gizmo/camera/CameraGizmoControlledComponent.ts
  packages/editor/src/functions/cameraGizmoHelper.ts
  packages/editor/src/panels/viewport/tools/CameraGizmoTool.tsx
  packages/editor/src/systems/CameraGizmoSystem.ts
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

update gizmo tool UI
  packages/editor/src/classes/gizmo/camera/CameraGizmoComponent.ts
  packages/editor/src/classes/gizmo/camera/CameraGizmoVisualComponent.ts
  packages/editor/src/panels/viewport/tools/CameraGizmoTool.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

chore: fix spacing and font-size on p tag
  packages/server-core/email-templates/account/layout.pug
  packages/server-core/email-templates/account/magiclink-email.pug
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
