Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

format
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @SamMazerIR

fix for other variants
  packages/ui/src/components/editor/ImageLink/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix create-project script
  scripts/create-project.ts
Owners: @barankyle, @hanzlamateen, @DanielBelmes

set correct bg color
  packages/ui/src/components/editor/Slider/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix overflow issues
  packages/ui/src/components/editor/Seeker/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

import ImageLink from @ui/editor
  packages/ui/editor.ts
  packages/ui/src/components/editor/properties/envmap/index.tsx
  packages/ui/src/components/editor/properties/image/index.tsx
  packages/ui/src/components/editor/properties/portal/index.tsx
  packages/ui/src/components/editor/properties/reflectionProbe/index.tsx
  packages/ui/src/components/editor/properties/scene/previewCamera/index.tsx
  packages/ui/src/components/editor/properties/scene/settings/index.tsx
  packages/ui/src/components/editor/properties/skybox/index.tsx
  packages/ui/tsconfig.json
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

license
  packages/ui/editor.ts
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

new designs for the image link (#377)
  packages/client-core/i18n/en/common.json
  packages/ui/.storybook/i18n.ts
  packages/ui/.storybook/preview.tsx
  packages/ui/editor.ts
  packages/ui/src/components/editor/ImageLink/image-url-fallback.png
  packages/ui/src/components/editor/ImageLink/index.stories.tsx
  packages/ui/src/components/editor/ImageLink/index.tsx
  packages/ui/src/components/editor/input/Image/Preview/index.tsx
  packages/ui/src/components/editor/input/Texture/index.tsx
  packages/ui/src/components/editor/properties/envmap/index.tsx
  packages/ui/src/components/editor/properties/image/index.tsx
  packages/ui/src/components/editor/properties/portal/index.tsx
  packages/ui/src/components/editor/properties/reflectionProbe/index.tsx
  packages/ui/src/components/editor/properties/scene/previewCamera/index.tsx
  packages/ui/src/components/editor/properties/scene/settings/index.tsx
  packages/ui/src/components/editor/properties/skybox/index.tsx
  packages/ui/tsconfig.json
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

move mailchimp related engine setting code to mt project
  packages/common/src/constants/EngineSettings.ts
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
  packages/server-core/src/setting/engine-setting/migrations/20240927090918_merge-mailchimp-setting.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Refactor thumbnail handling in FileThumbnailJobState and FileBrowserService
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
  packages/server-core/src/media/file-browser/file-browser.class.ts
Owners: @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

feat(invite): update the invite toast [IR-4372] (#385)
  packages/client-core/i18n/en/social.json
  packages/client-core/src/common/services/NotificationService.tsx
  packages/client-core/src/components/InviteToast/InviteSnackbarActions.tsx
  packages/client-core/src/components/InviteToast/index.module.scss
  packages/client/src/pages/AppPage.tsx
Owners: @aditya-mitra, @barankyle

IR-5132: Add username validation in ProfileMenu (#482)
  packages/client-core/src/user/components/UserMenu/menus/ProfileMenu.tsx
  packages/common/src/regex/index.ts
Owners: @aditya-mitra, @HexaField

feat: new UI for changing avatar & ready player me
  packages/client-core/i18n/en/user.json
  packages/client-core/src/common/components/Avatar/Avatar2.tsx
  packages/client-core/src/common/components/ProfilePill/index.tsx
  packages/client-core/src/user/UserUISystem.tsx
  packages/client-core/src/user/components/UserMenu/index.module.scss
  packages/client-core/src/user/components/UserMenu/index.tsx
  packages/client-core/src/user/components/UserMenu/menus/AvatarCreatorMenu2.tsx
  packages/client-core/src/user/components/UserMenu/menus/AvatarSelectMenu2.tsx
  packages/client-core/src/user/components/UserMenu/menus/DiscardAvatarChangesModal.tsx
  packages/client-core/src/user/components/UserMenu/menus/ProfileMenu.tsx
  packages/editor/src/components/toolbar/Toolbar.tsx
  packages/ui/src/primitives/tailwind/Modal/index.tsx
Owners: @aditya-mitra, @dinomut1, @SYBIOTE, @CITIZENDOT

chore: UI improvements
  packages/client-core/i18n/en/user.json
  packages/client-core/src/common/components/Avatar/Avatar2.tsx
  packages/client-core/src/common/components/ProfilePill/index.tsx
  packages/client-core/src/user/UserUISystem.tsx
  packages/client-core/src/user/components/UserMenu/index.module.scss
  packages/client-core/src/user/components/UserMenu/menus/AvatarCreatorMenu2.tsx
  packages/client-core/src/user/components/UserMenu/menus/AvatarSelectMenu2.tsx
  tailwind.config.js
Owners: @aditya-mitra, @HexaField

chore: removed className from Avatar2 props
  packages/client-core/src/common/components/Avatar/Avatar2.tsx
Owners: @aditya-mitra

chore: code formatting
  packages/client-core/src/common/components/ProfilePill/index.tsx
  packages/client-core/src/user/components/UserMenu/index.tsx
  packages/client-core/src/user/components/UserMenu/menus/AvatarCreatorMenu2.tsx
  packages/client-core/src/user/components/UserMenu/menus/DiscardAvatarChangesModal.tsx
Owners: @aditya-mitra

chore: changed border color of avatar edit button
  packages/client-core/src/common/components/Avatar/Avatar2.tsx
Owners: @aditya-mitra

chore: code formatting
  packages/editor/src/components/toolbar/Toolbar.tsx
Owners: @dinomut1, @aditya-mitra

fix spinner not going away when switching variants
  packages/editor/src/systems/ModelLoadingSpinnerSystem.tsx
Owners: @dinomut1, @aditya-mitra

add loading spinner for lookdev (#460)
  packages/editor/src/functions/addMediaNode.ts
Owners: @SYBIOTE

extra padding in groundPlane node editor, removing a comment in image/SourceProperties, fixing hyperactive reactivity in color picker
  packages/ui/src/components/editor/properties/groundPlane/index.tsx
  packages/ui/src/components/editor/properties/image/sourceProperties/index.tsx
  packages/ui/src/primitives/tailwind/Color/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add node extras fallback logic
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

fix loading spinner not going away for variant switching
  packages/editor/src/systems/ModelLoadingSpinnerSystem.tsx
Owners: @dinomut1, @aditya-mitra

add option to open new tab
  packages/client-core/i18n/en/editor.json
  packages/engine/src/scene/components/LinkComponent.ts
  packages/ui/src/components/editor/properties/link/index.tsx
Owners: @aditya-mitra, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @SYBIOTE

fix broken "upload thumbnail" button (#487)
  packages/editor/src/panels/files/modals/FilePropertiesModal.tsx
Owners: @dinomut1, @aditya-mitra

Fix euler/quaternion bug
  packages/ui/src/components/editor/input/Euler/index.tsx
  packages/ui/src/components/editor/properties/transform/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add onRelease to euler input
  packages/ui/src/components/editor/input/Euler/index.tsx
  packages/ui/src/components/editor/properties/transform/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add onRelease to scrubber
  packages/ui/src/components/editor/input/Euler/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

change default component prefabs to have placeholder thumbnails
  packages/projects/default-project/public/thumbnails/Component_thumb_placeholder.png
  packages/projects/default-project/public/thumbnails/default-projectassetsprefabsambient-light.prefab.gltf-thumbnail.png
  packages/projects/default-project/public/thumbnails/default-projectassetsprefabsbox-collider.prefab.gltf-thumbnail.png
  packages/projects/default-project/public/thumbnails/default-projectassetsprefabscylinder-collider.prefab.gltf-thumbnail.png
  packages/projects/default-project/public/thumbnails/default-projectassetsprefabsdirectional-light.prefab.gltf-thumbnail.png
  packages/projects/default-project/public/thumbnails/default-projectassetsprefabsfog.prefab.gltf-thumbnail.png
  packages/projects/default-project/public/thumbnails/default-projectassetsprefabsgeo.prefab.gltf-thumbnail.png
  packages/projects/default-project/public/thumbnails/default-projectassetsprefabshemisphere-light.prefab.gltf-thumbnail.png
  packages/projects/default-project/public/thumbnails/default-projectassetsprefabspoint-light.prefab.gltf-thumbnail.png
  packages/projects/default-project/public/thumbnails/default-projectassetsprefabspostprocessing.prefab.gltf-thumbnail.png
  packages/projects/default-project/public/thumbnails/default-projectassetsprefabsskybox.prefab.gltf-thumbnail.png
  packages/projects/default-project/public/thumbnails/default-projectassetsprefabssphere-collider.prefab.gltf-thumbnail.png
  packages/projects/default-project/public/thumbnails/default-projectassetsprefabsspot-light.prefab.gltf-thumbnail.png
  packages/projects/default-project/public/thumbnails/default-projectassetsprefabstext.prefab.gltf-thumbnail.png
  packages/projects/default-project/resources.json
Owners: @HexaField

fix typo in upload thumbnail
  packages/editor/src/panels/files/modals/FilePropertiesModal.tsx
Owners: @dinomut1, @aditya-mitra

fix typo in upload thumbnail (#511)
  packages/editor/src/panels/files/modals/FilePropertiesModal.tsx
Owners: @dinomut1, @aditya-mitra

move angle processing to a function
  packages/ui/src/components/editor/input/Euler/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Fix euler/quaternion bug (#509)
  packages/ui/src/components/editor/input/Euler/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

format
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @SamMazerIR

remove redundant useTreeQuery (#502)
  packages/engine/src/scene/components/OldColliderComponent.tsx
  packages/spatial/src/transform/components/EntityTree.test.tsx
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @SamMazerIR

RC 0.9: change default component prefabs to have placeholder thumbnails (#510)
  packages/projects/default-project/public/thumbnails/Component_thumb_placeholder.png
  packages/projects/default-project/public/thumbnails/default-projectassetsprefabsambient-light.prefab.gltf-thumbnail.png
  packages/projects/default-project/public/thumbnails/default-projectassetsprefabsbox-collider.prefab.gltf-thumbnail.png
  packages/projects/default-project/public/thumbnails/default-projectassetsprefabscylinder-collider.prefab.gltf-thumbnail.png
  packages/projects/default-project/public/thumbnails/default-projectassetsprefabsdirectional-light.prefab.gltf-thumbnail.png
  packages/projects/default-project/public/thumbnails/default-projectassetsprefabsfog.prefab.gltf-thumbnail.png
  packages/projects/default-project/public/thumbnails/default-projectassetsprefabsgeo.prefab.gltf-thumbnail.png
  packages/projects/default-project/public/thumbnails/default-projectassetsprefabshemisphere-light.prefab.gltf-thumbnail.png
  packages/projects/default-project/public/thumbnails/default-projectassetsprefabspoint-light.prefab.gltf-thumbnail.png
  packages/projects/default-project/public/thumbnails/default-projectassetsprefabspostprocessing.prefab.gltf-thumbnail.png
  packages/projects/default-project/public/thumbnails/default-projectassetsprefabsskybox.prefab.gltf-thumbnail.png
  packages/projects/default-project/public/thumbnails/default-projectassetsprefabssphere-collider.prefab.gltf-thumbnail.png
  packages/projects/default-project/public/thumbnails/default-projectassetsprefabsspot-light.prefab.gltf-thumbnail.png
  packages/projects/default-project/public/thumbnails/default-projectassetsprefabstext.prefab.gltf-thumbnail.png
  packages/projects/default-project/resources.json
Owners: @HexaField

added the default path for the equirectangularPath
  packages/engine/src/scene/components/SkyboxComponent.ts
  packages/projects/default-project/assets/prefabs/skybox.prefab.gltf
  packages/ui/src/components/editor/input/Image/index.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @HexaField, @aditya-mitra, @SYBIOTE

fix camera reset studio
  packages/engine/src/scene/components/ScenePreviewCamera.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Adding a selection indicator to the selected item in the asset panel
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

format
  packages/engine/src/scene/components/ScenePreviewCamera.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
