Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

tst: New `assert.ts` utility file for assertions like `npm/assert`
  packages/spatial/tests/util/assert.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

tst: Better doc-comments and file structure for `assert.ts`
  packages/spatial/tests/util/assert.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

Added project-publish service
  packages/common/src/schemas/projects/project-publish.schema.ts
  packages/common/src/schemas/projects/project.schema.ts
  packages/server-core/src/media/file-browser/file-browser.class.ts
  packages/server-core/src/projects/project-publish/migrations/20241002164217_project-publish.ts
  packages/server-core/src/projects/project-publish/project-publish.class.ts
  packages/server-core/src/projects/project-publish/project-publish.docs.ts
  packages/server-core/src/projects/project-publish/project-publish.hooks.ts
  packages/server-core/src/projects/project-publish/project-publish.resolvers.ts
  packages/server-core/src/projects/project-publish/project-publish.ts
  packages/server-core/src/projects/project/migrations/20241002165930_project-publish-columns.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Add project-publish schema type module
  packages/common/src/schema.type.module.ts
Owners: @HexaField

move mailchimp component to MT project
  packages/client-core/src/admin/components/settings/index.tsx
  packages/client-core/src/admin/components/settings/tabs/mailchimp.tsx
Owners: @hanzlamateen

tst: Switch `npm/assert()` to `assertOk`. New array assert utilities
  packages/spatial/tests/util/assert.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

tst: Add `assert.color.*` assertion utilities
  packages/spatial/tests/util/assert.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

Migrate metabase setting to engine setting
  packages/client-core/src/admin/components/settings/tabs/metabase.tsx
  packages/common/src/constants/EngineSettings.ts
  packages/common/src/schema.type.module.ts
  packages/common/src/schemas/integrations/metabase/metabase-setting.schema.ts
  packages/common/src/schemas/setting/engine-setting.schema.ts
  packages/server-core/src/appconfig.ts
  packages/server-core/src/integrations/metabase/metabase-setting/metabase-setting.class.ts
  packages/server-core/src/integrations/metabase/metabase-setting/metabase-setting.docs.ts
  packages/server-core/src/integrations/metabase/metabase-setting/metabase-setting.hooks.ts
  packages/server-core/src/integrations/metabase/metabase-setting/metabase-setting.resolvers.ts
  packages/server-core/src/integrations/metabase/metabase-setting/metabase-setting.seed.ts
  packages/server-core/src/integrations/metabase/metabase-setting/metabase-setting.ts
  packages/server-core/src/integrations/metabase/metabase-setting/migrations/20240808094500_metabase-setting.ts
  packages/server-core/src/integrations/metabase/metabase-setting/migrations/20240816095000_metabase-environment-column.ts
  packages/server-core/src/integrations/metabase/metabase-url/metabase-url.hooks.ts
  packages/server-core/src/integrations/metabase/metabase-url/metabase-url.ts
  packages/server-core/src/integrations/seeder-config.ts
  packages/server-core/src/integrations/services.ts
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
  packages/server-core/src/setting/engine-setting/engine-setting.ts
  packages/server-core/src/setting/engine-setting/migrations/20241001042018_merge-metabase-setting.ts
Owners: @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

IR-4866: Changes to fix GLTF & GLB uploading in studio
  packages/editor/src/functions/assetFunctions.ts
Owners: @SYBIOTE

studio add bg to selected file in file view (#348)
  packages/editor/src/panels/files/fileitem.tsx
Owners: @dinomut1, @aditya-mitra

IR-4740 add test IDs to Scene panel (#359)
  packages/editor/src/panels/scenes/RenameSceneModal.tsx
  packages/editor/src/panels/scenes/SceneItem.tsx
  packages/editor/src/panels/scenes/index.tsx
  packages/ui/src/primitives/tailwind/Input/index.tsx
  packages/ui/src/primitives/tailwind/Modal/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

IR-4866: Changes to fix GLTF & GLB uploading in studio (#366)
  packages/editor/src/functions/assetFunctions.ts
Owners: @SYBIOTE

fixing reactivity and visualization of positional audio, improving visualizations
  packages/client-core/i18n/en/editor.json
  packages/client-core/src/systems/PositionalAudioSystem.tsx
  packages/engine/src/audio/components/PositionalAudioComponent.ts
  packages/engine/src/audio/components/PositionalAudioHelperComponent.ts
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @aditya-mitra, @speigg, @dinomut1, @CITIZENDOT, @AidanCaruso

adding back filename length padding for names that are too short
  packages/common/src/utils/cleanFileName.ts
Owners: @HexaField

wip refactor of geometry
  packages/engine/src/audio/components/PositionalAudioHelperComponent.ts
Owners: @speigg

Improved handling (and bug fixes) for removing a source from a MediaComponent (#337)
  packages/engine/src/audio/systems/MediaSystem.ts
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @speigg, @dinomut1, @CITIZENDOT, @AidanCaruso

added the slider in editor components with few modifications
  packages/ui/src/components/editor/Slider/index.stories.tsx
  packages/ui/src/components/editor/Slider/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

remove slider from tailwind primitive
  packages/ui/src/primitives/tailwind/Slider/index.stories.tsx
  packages/ui/src/primitives/tailwind/Slider/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

use start value
  packages/ui/src/components/editor/Slider/index.stories.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

remove ref forwarding
  packages/ui/src/components/editor/Slider/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

new designs for media seeker
  packages/ui/src/components/editor/Seeker/index.stories.tsx
  packages/ui/src/components/editor/Seeker/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

optional props
  packages/ui/src/components/editor/Slider/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

math fixed
  packages/engine/src/audio/components/PositionalAudioHelperComponent.ts
Owners: @speigg

use popup
  packages/editor/src/components/toolbar/Toolbar.tsx
Owners: @dinomut1, @aditya-mitra

Make complex units first-class. Simplifies the API.
  packages/xrui/core/classes/Transition.ts
  packages/xrui/core/components/LayoutComponent.tsx
Owners: @speigg

Add camera focus function (#354)
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
  packages/spatial/src/camera/functions/CameraFunctions.ts
Owners: @aditya-mitra, @DanielBelmes, @SamMazerIR, @speigg

replace recursive lookups with iterate entity node
  packages/engine/src/avatar/AvatarBoneMatching.ts
  packages/engine/src/avatar/components/AvatarAnimationComponent.ts
  packages/engine/src/avatar/functions/avatarFunctions.ts
  packages/engine/src/avatar/functions/retargetMixamoRig.ts
  packages/engine/src/scene/components/ModelComponent.tsx
  packages/spatial/src/common/NameComponent.ts
  packages/ui/src/components/editor/properties/model/index.tsx
Owners: @AidanCaruso, @dinomut1, @speigg, @CITIZENDOT, @MichaelEstes, @MbfloydIR, @SamMazerIR, @aditya-mitra, @SYBIOTE

Texture loading test
  packages/engine/src/assets/loaders/texture/TextureLoader.ts
  packages/engine/src/gltf/GLTFLoader.test.tsx
  packages/spatial/src/resources/ResourceState.ts
Owners: @MichaelEstes, @dinomut1, @speigg, @AidanCaruso

Update LayoutComponent.tsx
  packages/xrui/core/components/LayoutComponent.tsx
Owners: @speigg

positional audio fixes for meshes and groups
  packages/engine/src/audio/components/PositionalAudioComponent.ts
  packages/engine/src/audio/components/PositionalAudioHelperComponent.ts
Owners: @speigg

update enable orbitcamera in input state
  packages/editor/src/panels/viewport/tools/GizmoTool.tsx
  packages/spatial/src/camera/systems/CameraOrbitSystem.tsx
  packages/spatial/src/input/state/InputState.ts
Owners: @dinomut1, @aditya-mitra, @DanielBelmes, @SamMazerIR, @speigg, @heysokam

hotfix avatars freaking out
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

tst: Remove the `assert` wrapping at `spatial/test/util/assert.ts`
  packages/spatial/tests/util/assert.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

added the api call to patch the updated thumbnail
  packages/editor/src/services/SceneThumbnailState.tsx
Owners: @dinomut1, @aditya-mitra

fix copy default project removing wrong folder prior to copying
  packages/server-core/src/projects/project/project-helper.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

updates to nodeEditor and materials
  packages/engine/src/audio/components/PositionalAudioComponent.ts
  packages/engine/src/audio/components/PositionalAudioHelperComponent.ts
  packages/ui/src/components/editor/properties/audio/positional/index.tsx
Owners: @speigg, @aditya-mitra, @SYBIOTE, @CITIZENDOT

IR-4741 add additional files planel test IDs
  packages/editor/src/panels/files/contextmenu.tsx
  packages/editor/src/panels/files/modals/FilePropertiesModal.tsx
  packages/editor/src/panels/files/modals/RenameFileModal.tsx
Owners: @dinomut1, @aditya-mitra

IR-4741 add test IDs to hierarchy panel
  packages/editor/src/panels/hierarchy/contextmenu.tsx
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
  packages/editor/src/panels/hierarchy/hierarchytree.tsx
  packages/editor/src/panels/hierarchy/index.tsx
  packages/editor/src/panels/properties/elementlist.tsx
  packages/ui/src/primitives/tailwind/Button/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

typo correct
  packages/editor/src/panels/viewport/tools/GizmoTool.tsx
  packages/spatial/src/camera/systems/CameraOrbitSystem.tsx
  packages/spatial/src/input/state/InputState.ts
Owners: @dinomut1, @aditya-mitra, @DanielBelmes, @SamMazerIR, @speigg, @heysokam

remove unused file
  packages/spatial/src/common/functions/loadScripts.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR
