Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

fixes for webxr emulator tests
  packages/spatial/tests/util/MockEngineRenderer.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

tst: Add `webxr-emulator` to the eslint ignore list
  eslint.config.mjs
Owners: @HexaField

tst: Add `webxr-emulator` to the `.prettierignore` list
  .prettierignore
Owners: @HexaField

tst: Attempt to fix the `webxr-emulator` CJS deep import errors
  packages/spatial/tests/webxr/emulator/CustomWebXRPolyfill.js
  packages/spatial/tests/webxr/emulator/EmulatedXRDevice.js
  packages/spatial/tests/webxr/emulator/XRScene.js
  packages/spatial/tests/webxr/emulator/api/XRAnchor.js
  packages/spatial/tests/webxr/emulator/api/XRGamepadInput.js
  packages/spatial/tests/webxr/emulator/api/XRHandInput.js
  packages/spatial/tests/webxr/emulator/api/XRHitTestResult.js
  packages/spatial/tests/webxr/emulator/api/XRInputSource.js
  packages/spatial/tests/webxr/emulator/api/XRJointPose.js
  packages/spatial/tests/webxr/emulator/api/XRJointSpace.js
  packages/spatial/tests/webxr/emulator/api/XRRay.js
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

tst: Attempt to fix CI/CD `webxr-polyfill` error
  packages/spatial/package.json
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

Updated comment
  packages/server-core/src/k8s-job-helper.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Added length check
  scripts/fetch-helm-versions.ts
Owners: @barankyle, @hanzlamateen, @DanielBelmes

add new dropdown item studio component
  packages/ui/src/components/editor/DropdownItem/index.stories.tsx
  packages/ui/src/components/editor/DropdownItem/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

use the new editordropdownitem in assets categories
  packages/editor/src/components/dialogs/CreateScenePanelDialog.tsx
  packages/editor/src/panels/assets/categories.tsx
  packages/editor/src/panels/assets/icons.tsx
  packages/ui/src/components/editor/DropdownItem/index.stories.tsx
  packages/ui/src/components/editor/DropdownItem/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

only allow uploads to public and assets folder
  packages/editor/src/components/dialogs/ImportSettingsPanelDialog.tsx
  packages/editor/src/panels/assets/topbar.tsx
Owners: @dinomut1, @aditya-mitra

adding warning message to collidercomponent node editor, attempting to support automatic handling of child mesh colliders
  packages/client-core/i18n/en/editor.json
  packages/spatial/src/physics/classes/Physics.ts
  packages/spatial/src/physics/components/ColliderComponent.tsx
  packages/spatial/src/transform/components/EntityTree.tsx
  packages/ui/src/components/editor/properties/collider/index.tsx
Owners: @aditya-mitra, @heysokam, @SamMazerIR, @SYBIOTE, @CITIZENDOT

fix frustum plane
  packages/editor/src/panels/viewport/tools/SelectionBoxTool.tsx
Owners: @dinomut1, @aditya-mitra

add unit test
  packages/editor/src/panels/viewport/tools/SelectionBoxTool.test.tsx
Owners: @dinomut1, @aditya-mitra

update unit test
  packages/editor/src/panels/viewport/tools/SelectionBoxTool.test.tsx
Owners: @dinomut1, @aditya-mitra

fix for accessor
  packages/spatial/src/physics/components/ColliderComponent.tsx
Owners: @heysokam

add awaits to gltf loader tests to prevent race conditions
  packages/engine/src/gltf/GLTFLoader.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

update condition
  packages/editor/src/panels/viewport/tools/SelectionBoxTool.tsx
  packages/editor/src/panels/viewport/tools/TransformGizmoTool.tsx
Owners: @dinomut1, @aditya-mitra

expose name plate params to user graphic settings
  packages/client-core/i18n/en/user.json
  packages/client-core/src/social/XruiNameplateState.ts
  packages/client-core/src/social/components/XruiNameplateComponent.ts
  packages/client-core/src/user/components/UserMenu/menus/SettingMenu2.tsx
Owners: @aditya-mitra

remove set pointer
  packages/editor/src/panels/viewport/tools/TransformGizmoTool.tsx
Owners: @dinomut1, @aditya-mitra

add more cases to unit test
  packages/editor/src/panels/viewport/tools/SelectionBoxTool.test.tsx
Owners: @dinomut1, @aditya-mitra

Add exclude to useChildrenWithComponents, change tests to not rely on entity value order, update MeshComponent to track resources when not hookstate values
  packages/engine/src/scene/components/EnvmapComponent.tsx
  packages/spatial/src/renderer/components/MeshComponent.ts
  packages/spatial/src/transform/components/EntityTree.test.tsx
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @DanielBelmes, @MichaelEstes, @SamMazerIR

Make spinner part of parent hierarchy of the loading entity
  packages/engine/src/scene/functions/createSceneEntity.ts
  packages/engine/src/scene/functions/spatialLoadingSpinner.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Set `expires` on root cookie so it persists after browser close
  packages/client/public/root-cookie-accessor-template.html
Owners: @barankyle, @aditya-mitra

some logic fixes for upcoming test cases
  packages/spatial/src/physics/components/ColliderComponent.tsx
Owners: @heysokam

PR comments changes
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @SamMazerIR

changing to useHookstate from useState
  packages/ui/src/components/editor/ComponentDropdown/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Remove setting visibility in GLTF component
  packages/editor/src/systems/ModelLoadingSpinnerSystem.tsx
  packages/engine/src/gltf/GLTFComponent.tsx
Owners: @dinomut1, @aditya-mitra, @AidanCaruso, @MichaelEstes

tst: Attempt to fix CI/CD `localforage` error
  packages/spatial/package.json
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

Use options array & existing Dropdown item
  packages/ui/src/primitives/tailwind/Dropdown/index.tsx
  packages/ui/src/primitives/tailwind/Select/index.stories.tsx
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Add keyboard navigation
  packages/ui/src/primitives/tailwind/Dropdown/index.tsx
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

destructure in loop iteration
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
Owners: @AidanCaruso

fix gizmo
  packages/editor/src/classes/gizmo/transform/TransformGizmoControlledComponent.ts
Owners: @SYBIOTE

cleanup
  packages/editor/src/functions/transformGizmoHelper.ts
Owners: @SYBIOTE

merge
  packages/engine/src/scene/components/MountPointComponent.test.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

normalize skin weights on loaded skinned meshes
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

remove .only
  packages/spatial/src/transform/components/BoundingBoxComponents.test.ts
Owners: @SamMazerIR

introduce helm-version service
  packages/client-core/src/admin/components/settings/tabs/helm.tsx
  packages/common/src/schema.type.module.ts
  packages/common/src/schemas/integrations/helm-version/helm-version.schema.ts
  packages/server-core/src/setting/helm-setting/helm-version.class.ts
  packages/server-core/src/setting/helm-setting/helm-version.docs.ts
  packages/server-core/src/setting/helm-setting/helm-version.hooks.ts
  packages/server-core/src/setting/helm-setting/helm-version.ts
Owners: @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

add pointer lock support to follow camera
  packages/spatial/src/camera/components/FollowCameraComponent.ts
  packages/spatial/src/camera/systems/FollowCameraInputSystem.ts
  packages/spatial/src/input/functions/ClientInputHooks.tsx
Owners: @DanielBelmes, @SamMazerIR, @speigg, @heysokam

add smooth option
  packages/spatial/src/camera/components/FollowCameraComponent.ts
Owners: @DanielBelmes, @SamMazerIR, @speigg

migrate assets topbar
  packages/editor/src/panels/assets/resources.tsx
  packages/editor/src/panels/assets/topbar.tsx
Owners: @dinomut1, @aditya-mitra
