Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

Code refactor
  packages/server-core/src/setting/engine-setting/migrations/20240927090918_merge-mailchimp-setting.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Code refactor
  packages/server-core/src/setting/engine-setting/migrations/20240926052204_merge-zendesk-setting.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

tst: Unit Tests for `SpawnPoseState.ts` (phase 1)
  packages/spatial/src/transform/SpawnPoseState.test.tsx
Owners: @SamMazerIR

wip dragndrop, debug gltf state errors on gltf source change
  packages/editor/src/functions/addMediaNode.ts
  packages/engine/src/avatar/components/AnimationComponent.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/GLTFState.tsx
Owners: @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1

finish fixing gltf state issues with gltf source setting
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

tst: Unit Tests for `TransformSystem.ts` (phase 2)
  packages/spatial/src/transform/systems/TransformSystem.test.ts
Owners: @SamMazerIR

tst: Unit Tests for `EntityTree.tsx` (phase 0)
  packages/spatial/src/transform/components/EntityTree.test.tsx
Owners: @SamMazerIR

Fix: storage permission query (#318)
  packages/client/public/root-cookie-accessor-template.html
Owners: @barankyle, @aditya-mitra

new designs for radio
  packages/ui/src/primitives/tailwind/Radio/Radio.test.tsx
  packages/ui/src/primitives/tailwind/Radio/index.stories.tsx
  packages/ui/src/primitives/tailwind/Radio/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

IR-4575: Magic link email template (#311)
  packages/client/public/static/3d-IR-White-Logo.png
  packages/client/public/static/Email-Template-BG.png
  packages/client/public/static/Email-Template-Header.png
  packages/common/src/schemas/user/email.schema.ts
  packages/server-core/email-templates/account/layout.pug
  packages/server-core/email-templates/account/magiclink-email.pug
  packages/server-core/src/user/magic-link/magic-link.class.ts
Owners: @barankyle, @aditya-mitra, @HexaField, @MoizAdnan, @hanzlamateen, @hurairahmateen

Added tooltip in admin panel user table's name field
  packages/client-core/src/admin/components/user/UserTable.tsx
Owners: @hanzlamateen

fix(IR-4586): showing error on profile username when is greater than 60 characters (#320)
  packages/client-core/i18n/en/user.json
  packages/client-core/src/admin/components/user/UserTable.tsx
  packages/client-core/src/user/components/UserMenu/menus/ProfileMenu.tsx
  packages/common/src/constants/UserConstants.ts
  packages/common/src/schemas/user/user.schema.ts
Owners: @aditya-mitra, @hanzlamateen, @HexaField

Fix for images error in magic-link email
  packages/server-core/src/appconfig.ts
  packages/server-core/src/user/magic-link/magic-link.class.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

added underscores to the valid filename unity tests
  packages/common/tests/regex.test.ts
Owners: @HexaField

IR-4693 remove beziers issue fix (#336)
  packages/client-core/i18n/en/editor.json
  packages/editor/src/components/layout/PaginatedList.tsx
  packages/ui/src/components/editor/input/Generator/Value/index.tsx
  packages/ui/src/components/editor/layout/PaginatedList.tsx
  packages/ui/src/components/editor/properties/particle/index.tsx
Owners: @aditya-mitra, @dinomut1, @SYBIOTE, @CITIZENDOT

IR-4763-Missing-invalid-resources-in-scene-cause-instanceserver-to-crash (#319)
  packages/spatial/src/resources/ResourceState.ts
Owners: @MichaelEstes

`data-testid`s for studio (#346)
  packages/editor/src/panels/assets/icons.tsx
  packages/editor/src/panels/files/filebrowser.tsx
  packages/editor/src/panels/files/fileitem.tsx
  packages/editor/src/panels/files/index.tsx
  packages/editor/src/panels/files/toolbar.tsx
  packages/editor/src/panels/scenes/index.tsx
  packages/ui/src/components/editor/input/Group/index.tsx
  packages/ui/src/components/editor/layout/Panel.tsx
  packages/ui/src/primitives/tailwind/Slider/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

Draco geometry test
  packages/engine/src/assets/functions/createGLTFLoader.ts
  packages/engine/src/gltf/GLTFLoader.test.tsx
Owners: @MichaelEstes, @dinomut1, @speigg, @AidanCaruso

studio: unsupported file detection (#302)
  packages/client-core/i18n/en/editor.json
  packages/editor/src/functions/assetFunctions.ts
  packages/editor/src/panels/files/toolbar.tsx
Owners: @aditya-mitra, @SYBIOTE, @dinomut1

moving function to assetFunctions (avoid circular imports) and merging file truncation and extension toLower into cleanFileName, and replicating it on the server with file-browser.hooks.
  packages/editor/src/functions/assetFunctions.ts
  packages/editor/src/panels/files/helpers.tsx
  packages/server-core/src/media/file-browser/file-browser.hooks.ts
Owners: @SYBIOTE, @dinomut1, @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

unlit material fix, unlit material test
  packages/engine/src/gltf/GLTFLoader.test.tsx
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/gltf/GLTFState.tsx
  packages/engine/src/gltf/MaterialDefinitionComponent.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

tst: Unit Tests for `TransformSystem.ts` (phase 3)
  packages/spatial/src/transform/systems/TransformSystem.test.ts
Owners: @SamMazerIR

tst: Unit Tests for `SpawnPoseState.ts` (phase 2)
  packages/spatial/src/transform/SpawnPoseState.test.tsx
Owners: @SamMazerIR

tst: Unit Tests for `SpawnPoseState.ts` (phase 3)
  packages/spatial/src/transform/SpawnPoseState.test.tsx
Owners: @SamMazerIR

new designs for Input
  packages/ui/src/primitives/tailwind/Input/index.stories.tsx
  packages/ui/src/primitives/tailwind/Input/index.tsx
  packages/ui/src/primitives/tailwind/InputBase/InputLabel.tsx
  packages/ui/src/primitives/tailwind/InputBase/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Fixed issues with invites
  packages/client-core/i18n/en/user.json
  packages/client-core/src/user/UserUISystem.tsx
  packages/client-core/src/user/components/UserMenu/PopupMenuService.ts
  packages/client-core/src/user/components/UserMenu/index.tsx
  packages/client-core/src/user/components/UserMenu/menus/ShareMenu.tsx
  packages/server-core/src/user/accept-invite/accept-invite.class.ts
Owners: @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

add camera focus function
  packages/spatial/src/camera/functions/CameraFunctions.ts
Owners: @DanielBelmes, @SamMazerIR, @speigg

make script a module
  packages/editor/src/panels/script/index.tsx
  packages/engine/src/script/ScriptComponent.tsx
Owners: @dinomut1, @aditya-mitra, @AidanCaruso, @MichaelEstes

tst: Bugfix for `floatApproxEq` tests helper function
  packages/spatial/src/physics/classes/Physics.test.tsx
Owners: @heysokam

use camera focus function on thumnail
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
Owners: @aditya-mitra

Load scene if dependency component errors (#333)
  packages/editor/src/systems/ClickPlacementSystem.tsx
  packages/engine/src/assets/loaders/gltf/GLTFLoader.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/scene/components/ErrorComponent.ts
  packages/engine/src/scene/components/ModelComponent.tsx
Owners: @dinomut1, @aditya-mitra, @MichaelEstes, @speigg, @AidanCaruso, @CITIZENDOT

tst: Rename `assertArrayNotEqual` to `assertArrayAllNotEq`
  packages/spatial/src/physics/components/RigidBodyComponent.test.tsx
  packages/spatial/src/renderer/materials/MaterialComponent.test.ts
  packages/spatial/src/transform/updateWorldOrigin.test.ts
Owners: @heysokam, @AidanCaruso, @DanielBelmes, @MichaelEstes, @SamMazerIR

remove ts-node
  .github/workflows/publish-npm-packages.yml
  Dockerfile
  dockerfiles/client/Dockerfile-client-serve-static
  package.json
  packages/client/package.json
  packages/client/vite.config.ts
  packages/ecs/src/SystemFunctions.ts
  packages/engine/src/scene/functions/bvhWorkerPool.test.ts
  packages/engine/src/scene/functions/bvhWorkerPool.ts
  packages/engine/src/scene/functions/generateBVHAsync.register.js
  packages/instanceserver/package.json
  packages/matchmaking/package.json
  packages/projects/template-project/.github/workflows/version-increment.yml
  packages/server-core/src/projects/project/project-helper.ts
  packages/server-core/src/user/github-repo-access-refresh/github-repo-access-refresh.class.ts
  packages/server/package.json
  packages/server/scripts/reinit-db.sh
  packages/taskserver/package.json
  scripts/build_docker_builder.sh
  scripts/deploy.sh
  scripts/generate-apple-client-secret.ts
  scripts/run-builder.sh
  scripts/start-testbot.sh
Owners: @DanielBelmes, @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @CITIZENDOT, @AidanCaruso, @hanzlamateen, @MoizAdnan, @hurairahmateen

format
  packages/server-core/src/projects/project/project-helper.ts
  packages/server-core/src/user/github-repo-access-refresh/github-repo-access-refresh.class.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

update scripts to patch engine
  packages/server-core/src/ServerLogger.ts
  packages/server-core/src/updateAppConfig.ts
  scripts/archive-directory.ts
  scripts/auto-update-project.ts
  scripts/install-projects.js
  scripts/push-project.ts
  scripts/refresh-gh-repo-access.ts
  scripts/run-batch-invalidation.ts
  scripts/update-cloudfront-function.ts
  scripts/update-cronjob-image.ts
  scripts/update-project.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra, @DanielBelmes

renaming and replacing (refactored) "processFileName" with "cleanFileName" which does all the same things but also handles included full/partial paths and truncating filenames that are too long
  packages/common/src/utils/cleanFileName.ts
  packages/common/src/utils/processFileName.ts
  packages/editor/src/functions/assetFunctions.ts
  packages/editor/src/panels/viewport/index.tsx
  packages/server-core/src/media/file-browser/file-browser.hooks.ts
  packages/server-core/src/projects/project/project-helper.ts
  scripts/push-client-to-s3.ts
Owners: @HexaField, @SYBIOTE, @dinomut1, @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @DanielBelmes

tst: Implement `assertArrayAnyNotEq` and fix helpers documentation
  packages/spatial/src/physics/classes/Physics.test.tsx
  packages/spatial/src/physics/components/RigidBodyComponent.test.tsx
Owners: @heysokam

fix import
  scripts/archive-directory.ts
  scripts/auto-update-project.ts
  scripts/install-projects.js
  scripts/push-project.ts
  scripts/refresh-gh-repo-access.ts
  scripts/run-batch-invalidation.ts
  scripts/update-cloudfront-function.ts
  scripts/update-cronjob-image.ts
  scripts/update-project.ts
Owners: @barankyle, @hanzlamateen, @DanielBelmes

missed a refactor line
  packages/editor/src/panels/files/helpers.tsx
Owners: @dinomut1, @aditya-mitra

IR-4739 add test IDs to assets panel
  packages/editor/src/panels/assets/categories.tsx
  packages/editor/src/panels/assets/index.tsx
  packages/editor/src/panels/assets/resources.tsx
  packages/editor/src/panels/assets/topbar.tsx
  packages/ui/src/components/tailwind/SearchBar/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT
