Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

Changes to make first admin's isGuest as false. (#189)
  packages/server-core/src/user/identity-provider/identity-provider.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Refactor instance find in initializeInstance function
  packages/instanceserver/src/channels.ts
Owners: @HexaField

refactor Tabs search
  packages/client-core/src/admin/components/project/index.tsx
  packages/ui/src/components/tailwind/SearchBar/index.tsx
Owners: @hanzlamateen, @aditya-mitra, @SYBIOTE, @CITIZENDOT

Revert instance _find in initializeInstance function (#190)
  packages/instanceserver/src/channels.ts
Owners: @HexaField

tst: Fix test setup for `PhysicsSystem.execute`
  packages/spatial/src/physics/systems/PhysicsSystem.test.ts
Owners: @heysokam

Add size variants
  packages/ui/src/components/tailwind/SearchBar/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

make size variant optional
  packages/ui/src/components/tailwind/SearchBar/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

tst: Formatting changes to the `PhysicsSystem` tests
  packages/spatial/src/physics/systems/PhysicsSystem.test.ts
Owners: @heysokam

tst: Test for removing collision components case at `PhysicsSystem`
  packages/spatial/src/physics/systems/PhysicsSystem.test.ts
Owners: @heysokam

Changes to fix search in admin panel
  packages/client-core/src/admin/components/avatar/AvatarTable.tsx
  packages/client-core/src/admin/components/channel/ChannelTable.tsx
  packages/client-core/src/admin/components/instance/InstanceTable.tsx
  packages/client-core/src/admin/components/invites/InviteTable.tsx
  packages/client-core/src/admin/components/locations/LocationTable.tsx
  packages/client-core/src/admin/components/recordings/RecordingsTable.tsx
  packages/server-core/src/user/user/user.resolvers.ts
Owners: @hanzlamateen, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

Run github check on int. As we are making commits against it as well.
  .github/workflows/branch-build.yml
  .github/workflows/codeql.yml
Owners: @DanielBelmes

Fixed admin panel search (#192)
  .github/workflows/branch-build.yml
  .github/workflows/codeql.yml
  packages/client-core/src/admin/components/avatar/AvatarTable.tsx
  packages/client-core/src/admin/components/channel/ChannelTable.tsx
  packages/client-core/src/admin/components/instance/InstanceTable.tsx
  packages/client-core/src/admin/components/invites/InviteTable.tsx
  packages/client-core/src/admin/components/locations/LocationTable.tsx
  packages/client-core/src/admin/components/recordings/RecordingsTable.tsx
  packages/server-core/src/user/user/user.resolvers.ts
Owners: @DanielBelmes, @hanzlamateen, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

refactor Tabs search (#191)
  packages/client-core/src/admin/components/project/index.tsx
  packages/ui/src/components/tailwind/SearchBar/index.tsx
Owners: @hanzlamateen, @aditya-mitra, @SYBIOTE, @CITIZENDOT

tst: Unit Tests for `PhysicsSystem.ts` (phase 1)
  packages/spatial/src/physics/systems/PhysicsSystem.test.ts
Owners: @heysokam

chore: set character limit to prefabs
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
Owners: @dinomut1, @aditya-mitra

add selection box
  packages/editor/src/panels/viewport/index.tsx
  packages/editor/src/panels/viewport/tools/GizmoTool.tsx
  packages/editor/src/panels/viewport/tools/SelectionBoxTool.tsx
  packages/spatial/src/camera/systems/CameraOrbitSystem.tsx
Owners: @dinomut1, @aditya-mitra, @DanielBelmes, @SamMazerIR, @speigg

add selection box tool
  packages/editor/src/panels/viewport/tools/SelectionBoxTool.tsx
Owners: @dinomut1, @aditya-mitra

update selectiontool
  packages/editor/src/panels/viewport/tools/SelectionBoxTool.tsx
Owners: @dinomut1, @aditya-mitra

license
  packages/editor/src/panels/viewport/tools/SelectionBoxTool.tsx
Owners: @dinomut1, @aditya-mitra

Fix nested transforms. Fix avatar collider removal(find ticket)
  packages/engine/src/avatar/components/AvatarControllerComponent.ts
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.ts
Owners: @AidanCaruso, @heysokam

decouple screen share target from model and improce export settings design
  packages/editor/src/services/ComponentShelfCategoriesState.ts
  packages/ui/src/components/editor/properties/model/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

default private
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

fix transform prefab
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
Owners: @dinomut1, @aditya-mitra

fix prefab transform and ui
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
Owners: @dinomut1, @aditya-mitra

V0.8 INT: fix transform prefab (#197)
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
Owners: @dinomut1, @aditya-mitra

fix errors related to unloading gltfs and vrms
  packages/engine/src/avatar/components/AvatarAnimationComponent.ts
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

fix prefab transform and ui (#198)
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
Owners: @dinomut1, @aditya-mitra

v0.8 Fix nested transforms. Fix avatar collider removal(find ticket) (#194)
  packages/engine/src/avatar/components/AvatarControllerComponent.ts
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.ts
Owners: @AidanCaruso, @heysokam

IR-3169: set character limit to prefab name (#193)
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
Owners: @dinomut1, @aditya-mitra

fix css
  packages/editor/src/panels/files/modals/FilePropertiesModal.tsx
Owners: @dinomut1, @aditya-mitra

Add description field to file properties modal (#94)
  packages/client-core/i18n/en/editor.json
  packages/editor/src/panels/files/modals/FilePropertiesModal.tsx
  packages/ui/src/primitives/tailwind/TextArea/index.tsx
Owners: @aditya-mitra, @dinomut1, @SYBIOTE, @CITIZENDOT

IR-3695: Fix duplication of child entity
  packages/editor/src/functions/EditorControlFunctions.ts
Owners: @SYBIOTE

fix using wrong matrix
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.ts
Owners: @heysokam

format
  packages/client-core/src/networking/MediaChannelSystem.tsx
Owners: @aditya-mitra

wip
  packages/xrui/core/XRUIState.tsx
  packages/xrui/core/classes/Transition.ts
  packages/xrui/core/components/HTMLComponent.ts
  packages/xrui/core/components/LayoutComponent.test.ts
  packages/xrui/core/components/LayoutComponent.tsx
  packages/xrui/core/hooks/useXRUI.ts
  packages/xrui/core/three/WebContainer3D.ts
  packages/xrui/core/three/WebLayer3D.ts
  packages/xrui/core/three/WebLayerManager.ts
Owners: @speigg

fmt: Expose `PhysicsPreTransformSystem` helper functions for tests
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.ts
Owners: @heysokam

tst: Unit Tests for `PhysicsPreTransformSystem.ts`
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.test.ts
Owners: @heysokam

tst: Remove `.only` marker from some tests
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.test.ts
Owners: @heysokam

tst: Sketch for `PhysicsSerialization.ts` unit tests
  packages/spatial/src/physics/PhysicsSerialization.test.ts
Owners: @heysokam

refactoring APIs
  packages/client-core/src/components/UserMediaWindow/index.tsx
  packages/client-core/src/components/UserMediaWindows/index.tsx
  packages/client-core/src/media/PeerMedia.tsx
  packages/client-core/src/media/webcam/WebcamInput.ts
  packages/client-core/src/transports/SocketWebRTCClientFunctions.ts
  packages/common/src/transports/mediasoup/MediasoupMediaProducerConsumerState.tsx
  packages/instanceserver/src/MediasoupServerSystem.tsx
  packages/instanceserver/src/WebRTCFunctions.ts
  packages/ui/src/components/Chat/VideoCall.tsx
Owners: @aditya-mitra, @HexaField, @SYBIOTE, @CITIZENDOT
