Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

use named groups in component dropdown
  packages/ui/src/components/editor/ComponentDropdown/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

forward props to html div in slider
  packages/ui/src/components/editor/Slider/index.stories.tsx
  packages/ui/src/components/editor/Slider/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

reexport seeker in editor and named tailwind groups
  packages/ui/editor.ts
  packages/ui/src/components/editor/Seeker/index.stories.tsx
  packages/ui/src/components/editor/Seeker/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix image component rescaling
  packages/engine/src/scene/components/ImageComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

logs
  packages/engine/src/scene/components/ImageComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

removing toggle functionality, now you can choose a color until clicking away
  packages/ui/src/primitives/tailwind/Color/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix(invite-toast): move the modals to the client core
  packages/client-core/src/components/modals/UnsupportedBrowser.tsx
  packages/client-core/src/components/modals/UnsupportedDevice.tsx
Owners: @aditya-mitra

fix(use-unsupported): move the use unsupported hook to the client
  packages/client-core/src/hooks/useUnsupported.tsx
Owners: @jose-galvan

feat(studio): display the unsupported device and browser modals
  packages/client-core/i18n/en/common.json
  packages/client-core/i18n/en/editor.json
  packages/editor/src/pages/EditorPage.tsx
Owners: @aditya-mitra, @dinomut1

feat(dashboard): hide the iframe to avoid space in small devices
  packages/client/index.html
Owners: @barankyle, @aditya-mitra

fix(use-unsupported): move the use unsupported hook to the client
  packages/client-core/src/hooks/useUnsupported.tsx
  packages/editor/src/pages/EditorPage.tsx
Owners: @jose-galvan, @dinomut1, @aditya-mitra

fix(invite-toast): move the modals to the client core
  packages/client-core/src/components/modals/UnsupportedBrowser.tsx
  packages/client-core/src/components/modals/UnsupportedDevice.tsx
  packages/client-core/src/hooks/useUnsupported.tsx
Owners: @aditya-mitra, @jose-galvan

port search fix to RC
  packages/editor/src/panels/assets/hooks.tsx
  packages/editor/src/panels/assets/topbar.tsx
Owners: @dinomut1, @aditya-mitra

fix(unsupported-browser): use the correct link to download google chrome
  packages/client-core/src/components/modals/UnsupportedBrowser.tsx
Owners: @aditya-mitra

fix(unsupported-browser): correct validation for supported browser
  packages/client-core/src/hooks/useUnsupported.tsx
Owners: @jose-galvan

added the ability for ctrl v to paste items as child of selected hierarchy node
  packages/editor/src/panels/hierarchy/helpers.ts
Owners: @dinomut1, @aditya-mitra

added the feature flag for the Grabable Component
  packages/common/src/constants/FeatureFlags.ts
  packages/editor/src/services/ComponentShelfCategoriesState.ts
Owners: @HexaField, @dinomut1, @aditya-mitra

assign previous url when saving
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/editor/src/services/SceneThumbnailState.tsx
Owners: @hanzlamateen, @dinomut1, @aditya-mitra

GLTF loader tests to async, object grid snap component gltf fix
  packages/engine/src/gltf/GLTFLoader.test.tsx
  packages/engine/src/scene/components/ObjectGridSnapComponent.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @speigg, @CITIZENDOT

ensure no transform gizmo in screen shots
  packages/client-core/src/admin/components/locations/index.tsx
  packages/editor/src/classes/gizmo/transform/TransformGizmoVisualComponent.ts
  packages/editor/src/functions/takeScreenshot.ts
  packages/editor/src/services/SceneThumbnailState.tsx
Owners: @hanzlamateen, @SYBIOTE, @dinomut1, @aditya-mitra

Simplifying isSelected to be a const, eliminating an unnecessary useEffect
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

IR-5202 add test IDs for location publish panel;
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/editor/src/components/toolbar/Toolbar.tsx
  packages/ui/src/primitives/tailwind/Checkbox/index.tsx
  packages/ui/src/primitives/tailwind/LoadingView/index.tsx
  packages/ui/src/primitives/tailwind/Select/index.tsx
  packages/ui/src/primitives/tailwind/Toggle/index.tsx
Owners: @hanzlamateen, @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

IR-5202 add additional test IDs
  packages/ui/src/primitives/tailwind/Input/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

format
  packages/engine/src/scene/components/ScenePreviewCamera.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

remove useArgs
  packages/ui/src/components/editor/Slider/index.stories.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

format
  packages/engine/src/scene/components/LinkComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Dispatch storybook deploy event when UI package is changed
  .github/workflows/ir-engine-deploy.yml
Owners: @DanielBelmes

fix double quote
  .github/workflows/ir-engine-deploy.yml
Owners: @DanielBelmes

simplify identity provider hook
  packages/server-core/src/user/identity-provider/identity-provider.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Log changed files
  .github/workflows/ir-engine-deploy.yml
Owners: @DanielBelmes

update commit labels
  .github/workflows/ir-engine-deploy.yml
Owners: @DanielBelmes

Use github event to check modified files
  .github/workflows/ir-engine-deploy.yml
Owners: @DanielBelmes

refactor identity provider find hook
  packages/server-core/src/user/identity-provider/identity-provider.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

use git history to check ui package is changed
  .github/workflows/ir-engine-deploy.yml
Owners: @DanielBelmes

tst: Remove old coverage helper scripts
  package.json
  scripts/test-coverage-launch.sh
Owners: @HexaField, @barankyle, @hanzlamateen, @DanielBelmes

tst: Unify `vitest.config.ts` files to the engine's root
  packages/client-core/package.json
  packages/common/package.json
  packages/common/vitest.config.ts
  packages/ecs/package.json
  packages/ecs/vitest.config.ts
  packages/editor/package.json
  packages/editor/vitest.config.ts
  packages/engine/package.json
  packages/engine/vitest.config.ts
  packages/hyperflux/package.json
  packages/hyperflux/vitest.config.ts
  packages/instanceserver/package.json
  packages/instanceserver/vitest.config.ts
  packages/matchmaking/package.json
  packages/matchmaking/vitest.config.ts
  packages/network/package.json
  packages/network/vitest.config.ts
  packages/server-core/package.json
  packages/spatial/package.json
  packages/spatial/vitest.config.ts
  packages/ui/package.json
  packages/visual-script/package.json
  packages/visual-script/vitest.config.ts
  packages/xrui/package.json
  packages/xrui/vitest.config.ts
  vitest.client.config.ts
  vitest.server.config.ts
Owners: @aditya-mitra, @HexaField, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @barankyle, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT

tst: Add coverage tools to `packages/spatial`
  packages/spatial/package.json
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

tst: Fix unnecessary `--config` flag in `packages/matchmaking` tests
  packages/matchmaking/package.json
Owners: @speigg, @hanzlamateen, @barankyle

add react hook paramter to validateQueryParameters
  packages/server-core/src/user/identity-provider/identity-provider.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

tst: Make vscode vitest launchers behave as expected (for debugging)
  .vscode/launch.json
Owners: @HexaField
