Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

Add dataType to WebRTC settings in handleWebRtcTransportCreate function
  packages/instanceserver/src/WebRTCFunctions.ts
Owners: @HexaField

refactor to `sanitizeFiles`
  packages/client-core/i18n/en/editor.json
  packages/editor/src/functions/assetFunctions.ts
Owners: @aditya-mitra, @SYBIOTE

correction
  packages/editor/src/functions/assetFunctions.ts
Owners: @SYBIOTE

fix: prevent default scene thumbnail to be deleted when deleting scene
  packages/server-core/src/media/file-browser/file-browser.class.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

wip
  packages/engine/src/avatar/systems/AvatarIkSystem.tsx
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

undo
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

preserve transform
  packages/editor/src/panels/files/PublishModal.tsx
Owners: @dinomut1, @aditya-mitra

format
  packages/server-core/src/user/avatar/avatar-helper.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Rewrote mockxr test framework
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/EntityFunctions.tsx
  packages/spatial/src/physics/PhysicsSerialization.test.ts
  packages/spatial/src/transform/TransformSerialization.test.ts
  packages/spatial/src/xr/XRDetectedMeshComponent.test.ts
  packages/spatial/src/xr/XRDetectedMeshComponent.ts
  packages/spatial/src/xr/XRDetectedMeshSystem.test.ts
  packages/spatial/src/xr/XRDetectedMeshSystem.ts
  packages/spatial/src/xr/XRDetectedPlaneComponent.test.ts
  packages/spatial/src/xr/XRDetectedPlaneComponent.ts
  packages/spatial/tests/util/MockXR.ts
Owners: @speigg, @heysokam, @SamMazerIR, @AidanCaruso, @MichaelEstes, @MbfloydIR

fix imports
  packages/ecs/src/EntityTree.tsx
Owners: @speigg

fixing compress and upload for images and gltf/glb. Entirely too much investigation was needed for such small changes
  packages/common/src/model/ModelTransformLoader.ts
  packages/editor/src/components/assets/ImageCompressionPanel.tsx
Owners: @HexaField, @dinomut1, @aditya-mitra

implement selection based helper visibility
  packages/editor/src/services/SelectionServices.ts
  packages/engine/src/audio/components/PositionalAudioComponent.ts
  packages/engine/src/scene/components/ScenePreviewCamera.ts
  packages/engine/src/scene/components/SpawnPointComponent.ts
  packages/spatial/src/renderer/components/lights/DirectionalLightComponent.ts
  packages/spatial/src/renderer/components/lights/HemisphereLightComponent.ts
  packages/spatial/src/renderer/components/lights/PointLightComponent.ts
  packages/spatial/src/renderer/components/lights/SpotLightComponent.ts
Owners: @dinomut1, @aditya-mitra, @speigg, @CITIZENDOT, @AidanCaruso, @DanielBelmes, @MichaelEstes

fix ik blend not updating over network, ensure ik matrix consistency
  packages/engine/src/avatar/components/AvatarAnimationComponent.ts
  packages/engine/src/avatar/functions/avatarFootHeuristics.ts
  packages/engine/src/avatar/state/AvatarIKTargetState.tsx
  packages/engine/src/avatar/systems/AvatarIkSystem.tsx
Owners: @AidanCaruso

add option to exclude root from export, to properly save changes to .gltf files fix mesh & material exports
  packages/editor/src/functions/exportGLTF.ts
  packages/engine/src/gltf/exportGLTFScene.ts
  packages/ui/src/components/editor/properties/gltf/loader/index.tsx
Owners: @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1, @aditya-mitra, @CITIZENDOT

implement helper active tag to manage helpers
  packages/editor/src/EditorModule.ts
  packages/editor/src/systems/HelperActiveSystem.ts
  packages/engine/src/audio/components/PositionalAudioComponent.ts
  packages/engine/src/scene/components/ScenePreviewCamera.ts
  packages/engine/src/scene/components/SpawnPointComponent.ts
  packages/spatial/src/common/ActiveHelperComponent.ts
  packages/spatial/src/renderer/components/lights/DirectionalLightComponent.ts
  packages/spatial/src/renderer/components/lights/HemisphereLightComponent.ts
  packages/spatial/src/renderer/components/lights/PointLightComponent.ts
  packages/spatial/src/renderer/components/lights/SpotLightComponent.ts
Owners: @dinomut1, @aditya-mitra, @speigg, @CITIZENDOT, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR, @DanielBelmes

code refactor
  packages/client-core/src/admin/components/settings/tabs/email.tsx
  packages/server-core/src/setting/engine-setting/migrations/20250113010107_merge-email-setting.ts
Owners: @hanzlamateen, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

Add AWS configuration and seed data for S3, CloudFront, SMS, and EKS
  packages/client-core/src/admin/components/settings/tabs/aws.tsx
  packages/common/src/constants/EngineSettings.ts
  packages/server-core/src/appconfig.ts
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
  packages/server-core/src/setting/engine-setting/migrations/20250113093645_merge-aws-setting.ts
Owners: @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

Rename patchEngineSetting to engineSettingMutation for clarity
  packages/client-core/src/admin/components/settings/tabs/email.tsx
Owners: @hanzlamateen

Remove AWS setting references and related files from the project
  packages/common/src/schema.type.module.ts
  packages/common/src/schemas/setting/aws-setting.schema.ts
  packages/server-core/src/setting/aws-setting/aws-setting.class.ts
  packages/server-core/src/setting/aws-setting/aws-setting.docs.ts
  packages/server-core/src/setting/aws-setting/aws-setting.hooks.ts
  packages/server-core/src/setting/aws-setting/aws-setting.resolvers.ts
  packages/server-core/src/setting/aws-setting/aws-setting.seed.ts
  packages/server-core/src/setting/aws-setting/aws-setting.ts
  packages/server-core/src/setting/aws-setting/migrations/20230418102549_aws-setting.ts
  packages/server-core/src/setting/aws-setting/migrations/20230616173320_eks-column.ts
  packages/server-core/src/setting/aws-setting/migrations/20230731072108_drop-route53-column.ts
  packages/server-core/src/setting/aws-setting/migrations/20240409183108_add-rolearn-fields.ts
  packages/server-core/src/setting/engine-setting/migrations/20250113093645_merge-aws-setting.ts
  packages/server-core/src/setting/seeder-config.ts
  packages/server-core/src/setting/service.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Refactor email configuration types to use EmailConfigType for improved type safety
  packages/client-core/src/admin/components/settings/tabs/email.tsx
  packages/server-core/src/appconfig.ts
Owners: @hanzlamateen, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

added use effect to react to when the editor helper state's transform mode changes, so the toolbars selection can be updated
  packages/editor/src/panels/viewport/tools/TransformGizmoTool.tsx
Owners: @dinomut1, @aditya-mitra

fix: remove trigger button partially visible
  packages/ui/src/components/editor/properties/trigger/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

remove console log
  packages/spatial/src/renderer/components/lights/DirectionalLightComponent.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

Fix all spatial tests
  packages/spatial/src/xr/XRDetectedMeshComponent.test.ts
  packages/spatial/src/xr/XRDetectedMeshSystem.test.ts
  packages/spatial/src/xr/XRDetectedPlaneComponent.test.ts
  packages/spatial/tests/util/MockXR.ts
  packages/spatial/tests/util/mockSpatialEngine.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

don't embed images
  packages/engine/src/gltf/exportGLTFScene.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

added conditional check to see if the cameraOrbit.focusedEntities is not null
  package.json
  packages/spatial/src/camera/systems/CameraOrbitSystem.tsx
Owners: @HexaField, @DanielBelmes, @SamMazerIR, @speigg

oops, missed some
  packages/spatial/src/xr/XRDetectedMeshComponent.ts
  packages/spatial/src/xr/XRDetectedMeshSystem.test.ts
  packages/spatial/src/xr/XRDetectedPlaneComponent.ts
  packages/spatial/tests/util/MockXR.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

Update XRDetectedPlaneComponent.test.ts
  packages/spatial/src/xr/XRDetectedPlaneComponent.test.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

remove this dependency change
  package.json
Owners: @HexaField

revert tsconfig changes
  packages/client-core/tsconfig.json
  packages/client/tsconfig.json
  packages/common/tsconfig.json
  packages/ecs/tsconfig.json
  packages/editor/tsconfig.json
  packages/engine/tsconfig.json
  packages/hyperflux/tsconfig.json
  packages/instanceserver/tsconfig.json
  packages/matchmaking/tsconfig.json
  packages/network/tsconfig.json
  packages/projects/default-project/tsconfig.json
  packages/projects/template-project/tsconfig.json
  packages/projects/tsconfig.json
  packages/server-core/tsconfig.json
  packages/server/tsconfig.json
  packages/spatial/package.json
  packages/spatial/tsconfig.json
  packages/taskserver/tsconfig.json
  packages/ui/tsconfig.json
  packages/visual-script/tsconfig.json
  packages/xrui/tsconfig.json
Owners: @aditya-mitra, @barankyle, @HexaField, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT

fix whitespace issues
  packages/client/package.json
  packages/common/package.json
  packages/editor/package.json
  packages/hyperflux/package.build.json
  packages/hyperflux/package.json
  packages/instanceserver/package.json
  packages/matchmaking/package.json
  packages/network/package.json
  packages/projects/default-project/package.json
  packages/projects/template-project/package.json
  packages/server-core/package.json
  packages/server/package.json
Owners: @barankyle, @aditya-mitra, @HexaField, @dinomut1, @speigg, @hanzlamateen, @MoizAdnan, @hurairahmateen

removed null conditional and updated where the focusedEntities was being set to null and instead set it to an array
  packages/spatial/src/camera/systems/CameraOrbitSystem.tsx
Owners: @DanielBelmes, @SamMazerIR, @speigg

add "save prefab" context option in hierarchy panel
  packages/client-core/i18n/en/editor.json
  packages/editor/src/components/dialogs/SavePrefabDialog.tsx
  packages/editor/src/panels/hierarchy/contextmenu.tsx
Owners: @aditya-mitra, @dinomut1

licensing
  packages/editor/src/components/dialogs/SavePrefabDialog.tsx
Owners: @dinomut1, @aditya-mitra

oops
  packages/matchmaking/open-match-custom-pods/director/go.sum
  packages/matchmaking/open-match-custom-pods/matchfunction/go.sum
Owners: @speigg, @hanzlamateen, @barankyle

Update ObjectComponent.ts
  packages/spatial/src/renderer/components/ObjectComponent.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

Update package.json
  packages/visual-script/package.json
Owners: @SYBIOTE

revert these
  packages/xrui/package.json
  tsconfig.json
Owners: @speigg, @HexaField

Update package.json
  packages/spatial/package.json
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

Revising addMediaNode to return the UUID of the relevant entity, if there is one
  packages/editor/src/functions/addMediaNode.ts
Owners: @SYBIOTE

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
