Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

set visible to false
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
Owners: @AidanCaruso

make it a one liner
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
Owners: @AidanCaruso

add progress bar to compressed publish
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/client-core/src/admin/components/locations/CompressedPublishConfirmation.tsx
Owners: @hanzlamateen

format
  packages/engine/src/scene/systems/EnvironmentSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

add license
  packages/client-core/src/admin/components/locations/CompressedPublishConfirmation.tsx
Owners: @hanzlamateen

use progress
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
Owners: @AidanCaruso

fix reactivity of dynamic load component slider
  packages/ui/src/components/editor/properties/transform/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

remove unused variant entity from compress on publish flow
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

comment out result container entity as well
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

add check for client input functions sink to stop errors
  packages/spatial/src/input/functions/ClientInputFunctions.ts
Owners: @heysokam, @SamMazerIR, @speigg

lint fix
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

dont reset values when im editing
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix: SSO signup error caused by undefined userId
  packages/server-core/src/user/strategies/apple.ts
  packages/server-core/src/user/strategies/discord.ts
  packages/server-core/src/user/strategies/facebook.ts
  packages/server-core/src/user/strategies/github.ts
  packages/server-core/src/user/strategies/google.ts
  packages/server-core/src/user/strategies/linkedin.ts
  packages/server-core/src/user/strategies/twitter.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

format
  packages/ui/src/components/editor/properties/transform/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Update ResourceState.tsx
  packages/spatial/src/resources/ResourceState.tsx
Owners: @MichaelEstes

Update ResourceState.tsx
  packages/spatial/src/resources/ResourceState.tsx
Owners: @MichaelEstes

fix: handle avatar change on popup dismissed
  packages/client-core/src/common/components/ProfilePill/index.tsx
Owners: @aditya-mitra

Added UUID checks on service remove calls
  packages/server-core/src/media/file-browser/file-browser.class.ts
  packages/server-core/src/media/static-resource/static-resource.hooks.ts
  packages/server-core/src/networking/instance-provision/instance-provision.class.ts
  packages/server-core/src/networking/instance/instance.ts
  packages/server-core/src/projects/project/project-helper.ts
  packages/server-core/src/projects/project/project.hooks.ts
  packages/server-core/src/route/route/route.ts
  packages/server-core/src/social/channel-user/channel-user.hooks.ts
  packages/server-core/src/social/invite/invite.hooks.ts
  packages/server-core/src/social/location/location.hooks.ts
  packages/server-core/src/user/accept-invite/accept-invite.class.ts
  packages/server-core/src/user/avatar/avatar.hooks.ts
  packages/server-core/src/user/github-repo-access-refresh/github-repo-access-refresh.class.ts
  packages/server-core/src/user/login/login.class.ts
  packages/server-core/src/user/strategies/apple.ts
  packages/server-core/src/user/strategies/discord.ts
  packages/server-core/src/user/strategies/facebook.ts
  packages/server-core/src/user/strategies/github.ts
  packages/server-core/src/user/strategies/google.ts
  packages/server-core/src/user/strategies/linkedin.ts
  packages/server-core/src/user/strategies/twitter.ts
  packages/server-core/src/user/user-relationship/user-relationship.hooks.ts
  packages/server-core/src/util/updateAvatarRecords.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

more error catching for thumbnail generation and gltf loading
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
  packages/engine/src/gltf/GLTFComponent.tsx
Owners: @aditya-mitra, @AidanCaruso, @MichaelEstes, @dinomut1

remove do not (block) button
  packages/client-core/src/user/VideoWindows/index.tsx
Owners: @aditya-mitra

Fix debug panel not updating each frame
  packages/client-core/src/components/Debug/DebugButtons.tsx
  packages/client-core/src/components/Debug/EntityDebug.tsx
  packages/client-core/src/components/Debug/ReactorDebug.tsx
  packages/client-core/src/components/Debug/ResourceDebug.tsx
  packages/client-core/src/components/Debug/StateDebug.tsx
  packages/client-core/src/components/Debug/SystemDebug.tsx
  packages/client-core/src/components/Debug/index.tsx
  packages/client-core/src/components/Debug/useFrameUpdate.tsx
Owners: @aditya-mitra

correct max height and spacing between social logins in profile menu
  packages/client-core/src/user/menus/ProfileMenu.tsx
  packages/client-core/src/user/menus/ShareMenu.tsx
Owners: @aditya-mitra

Fix visibility toggle on hierarchy nodes
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
Owners: @dinomut1, @aditya-mitra

use ir engine icons for avatar selection and modification menus
  packages/client-core/src/user/menus/avatar/AvatarCreatorMenu.tsx
  packages/client-core/src/user/menus/avatar/AvatarSelectMenu.tsx
  packages/client-core/src/user/menus/avatar/DiscardAvatarChangesMenu.tsx
Owners: @aditya-mitra

fix lint - prettier format
  packages/client-core/src/components/Debug/ReactorDebug.tsx
  packages/client-core/src/components/Debug/StateDebug.tsx
  packages/client-core/src/components/Debug/SystemDebug.tsx
  packages/client-core/src/components/Debug/useFrameUpdate.tsx
Owners: @aditya-mitra

use `smh` screen size instead of `mdh`
  packages/client-core/src/user/menus/ProfileMenu.tsx
  packages/client-core/src/user/menus/SettingsMenu.tsx
  packages/client-core/src/user/menus/ShareMenu.tsx
Owners: @aditya-mitra

make the report moderation menu mobile friendly
  packages/client-core/src/user/VideoWindows/index.tsx
  packages/client-core/src/user/menus/ReportMenu.tsx
Owners: @aditya-mitra

dynamic heights for profile and settings menus
  packages/client-core/src/user/menus/ProfileMenu.tsx
  packages/client-core/src/user/menus/SettingsMenu.tsx
Owners: @aditya-mitra

fix the spacing between cog and help buttons in profile menu
  packages/client-core/src/user/menus/ProfileMenu.tsx
Owners: @aditya-mitra

Add IR logo modals for dark and light themes
  packages/editor/src/panels/scenes/SceneItem.tsx
Owners: @dinomut1, @aditya-mitra

add touch events to select
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

remove force blur
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fixed typo
  packages/client-core/i18n/en/editor.json
Owners: @aditya-mitra

delete multiple entities at once from options menu
  packages/editor/src/panels/hierarchy/helpers.ts
Owners: @dinomut1, @aditya-mitra

Update SceneItem.tsx with new IR logo images
  packages/editor/src/panels/scenes/SceneItem.tsx
Owners: @dinomut1, @aditya-mitra

scroll to bottom when chat opens
  packages/client-core/src/user/InstanceChat.tsx
  packages/client-core/src/user/menus/ProfileMenu.tsx
Owners: @aditya-mitra

remove input ref
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

make the avatar select and creator menu follow other viewer menu designs
  packages/client-core/src/user/menus/avatar/AvatarCreatorMenu.tsx
  packages/client-core/src/user/menus/avatar/AvatarSelectMenu.tsx
Owners: @aditya-mitra

remove callend and calllg
  packages/client-core/src/user/menus/social/MessagesMenu.tsx
  packages/ui/src/icons/files/CallEndLg.tsx
  packages/ui/src/icons/files/CallLg.tsx
  packages/ui/src/icons/index.ts
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix: tooltip blocking dropdown selection
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT
