Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

wip ecs retargeting
  packages/engine/src/avatar/AnimationManager.ts
  packages/engine/src/avatar/AvatarBoneMatching.ts
  packages/engine/src/avatar/animation/AvatarAnimationGraph.ts
  packages/engine/src/avatar/components/AnimationComponent.ts
  packages/engine/src/avatar/functions/retargetMixamoRig.ts
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
  packages/spatial/src/common/NameComponent.ts
Owners: @AidanCaruso, @speigg, @MichaelEstes, @MbfloydIR, @SamMazerIR

remove old components
  packages/editor/src/panels/materials/helpers.tsx
  packages/ui/src/components/editor/panels/Materials/container/index.tsx
  packages/ui/src/components/editor/panels/Materials/index.stories.tsx
  packages/ui/src/components/editor/panels/Materials/index.tsx
  packages/ui/src/components/editor/panels/Materials/node/index.tsx
  packages/ui/src/components/editor/panels/preview/material/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix drop on outer hierarchy panel
  packages/editor/src/panels/hierarchy/hooks.tsx
Owners: @dinomut1, @aditya-mitra

remove useragentdata
  packages/editor/src/functions/browserCheck.ts
Owners: @SYBIOTE

fix drop on outer hierarchy panel (#255)
  packages/editor/src/panels/hierarchy/hooks.tsx
Owners: @dinomut1, @aditya-mitra

improve node display name
  packages/editor/src/panels/materials/index.tsx
  packages/editor/src/panels/materials/layernode.tsx
Owners: @dinomut1, @aditya-mitra

made PR requested changes
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
Owners: @dinomut1, @aditya-mitra

auto truncate file name when bulk uploading
  packages/editor/src/functions/assetFunctions.ts
Owners: @SYBIOTE

use hyperflux local storage
  packages/editor/src/pages/EditorPage.tsx
  packages/editor/src/services/EditorServices.ts
Owners: @dinomut1, @aditya-mitra

open TOS link in a new tab
  packages/client-core/src/user/components/UserMenu/menus/ProfileMenu.tsx
Owners: @aditya-mitra

updated the editor keys used for the look at name and description
  packages/ui/src/components/editor/properties/lookAt/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add max per instance to resolver
  packages/server-core/src/social/location/location.resolvers.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

cleanup
  packages/server-core/src/social/location/location.resolvers.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

making NumericInput respond to disabled and appropriate styling, making positional audio maxDistance respect distance model visually (disables unless distance model is Linear)
  packages/client-core/i18n/en/editor.json
  packages/ui/src/components/editor/input/Group/index.tsx
  packages/ui/src/components/editor/input/Numeric/index.tsx
  packages/ui/src/components/editor/properties/audio/positional/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

10 -> 100
  packages/server-core/src/social/location/location.resolvers.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix bugs
  packages/client-core/src/user/services/AuthService.ts
  packages/client/index.html
  packages/client/public/root-cookie-accessor-template.html
Owners: @aditya-mitra, @barankyle

tst: Unit Tests for `DistanceComponents.ts`
  packages/spatial/src/transform/components/DistanceComponents.test.ts
Owners: @SamMazerIR

Update for component schemas
  packages/ecs/src/schemas/JSONSchemaTypes.ts
  packages/ecs/src/schemas/JSONSchemaUtils.ts
  packages/ecs/src/schemas/JSONSchemas.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/MaterialDefinitionComponent.tsx
Owners: @speigg, @AidanCaruso, @MichaelEstes, @dinomut1

ecs based animation retargeting and binding
  packages/engine/src/avatar/animation/AvatarAnimationGraph.ts
  packages/engine/src/avatar/functions/avatarFunctions.ts
  packages/engine/src/avatar/functions/retargetMixamoRig.ts
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/spatial/src/common/NameComponent.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @speigg, @MbfloydIR, @SamMazerIR

React, hookstate, typing errors
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/schemas/JSONSchemaTypes.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/GLTFState.tsx
  packages/spatial/src/renderer/components/MeshComponent.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @dinomut1, @DanielBelmes

put rhe tag delete button inside the input box as an end component
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
Owners: @dinomut1, @aditya-mitra

add "upload thumbnail" button to file properties
  packages/client-core/i18n/en/editor.json
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
  packages/editor/src/panels/files/modals/FilePropertiesModal.tsx
Owners: @aditya-mitra, @dinomut1

add "delete old thumbnail" hook to static resource patch
  packages/server-core/src/media/static-resource/static-resource.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

removing console log
  packages/spatial/src/camera/components/FollowCameraComponent.ts
Owners: @DanielBelmes, @SamMazerIR, @speigg

add update selection function
  packages/editor/src/panels/viewport/tools/SelectionBoxTool.tsx
Owners: @dinomut1, @aditya-mitra

cleanup heartbeat interval
  packages/client-core/src/transports/p2p/PeerToPeerNetworkState.tsx
Owners: @aditya-mitra

add thumbnail and envmap to publish modal
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/editor/src/services/SceneThumbnailState.tsx
  packages/ui/src/components/editor/properties/envMapBake/index.tsx
  packages/ui/src/components/editor/properties/scene/settings/index.tsx
Owners: @hanzlamateen, @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

add License
  packages/editor/src/services/SceneThumbnailState.tsx
Owners: @dinomut1, @aditya-mitra

add UIAddonsState for wizard entry
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/services/UIAddonsState.tsx
Owners: @dinomut1, @aditya-mitra

support checking if other files are still using the same thumbnail reduce data queried, fix resolver to allow partial queries
  packages/server-core/src/media/static-resource/static-resource.hooks.ts
  packages/server-core/src/media/static-resource/static-resource.resolvers.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

update use uiaddonstate
  packages/editor/src/components/dialogs/CreateScenePanelDialog.tsx
  packages/editor/src/components/toolbar/Toolbar.tsx
  packages/editor/src/panels/scenes/index.tsx
  packages/editor/src/services/UIAddonsState.tsx
Owners: @dinomut1, @aditya-mitra

Need a better solution
  packages/spatial/src/renderer/components/MeshComponent.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

remove comment
  packages/editor/src/components/dialogs/CreateScenePanelDialog.tsx
Owners: @dinomut1, @aditya-mitra

IR-4540 changing camera lerping targets and lerp methodology (#233)
  packages/spatial/src/camera/components/FollowCameraComponent.ts
  packages/spatial/src/common/functions/MathLerpFunctions.ts
Owners: @DanielBelmes, @SamMazerIR, @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR

toast notification when scene saves successfully (and when there is nothing to save but your OCD made you hit the save flow again anyway....just to be safe...)
  packages/client-core/i18n/en/editor.json
  packages/editor/src/components/dialogs/SaveSceneDialog.tsx
Owners: @aditya-mitra, @dinomut1

custom package json build
  packages/hyperflux/LICENSE
  packages/hyperflux/package.build.json
  packages/hyperflux/readme.md
  packages/hyperflux/rollup.config.js
  packages/hyperflux/vite.config.mts
Owners: @speigg

modus ponens
  packages/server-core/src/media/static-resource/static-resource.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Standardize iframe coms to a promise system. Add explicit css check for root cookie pop up.
  packages/client-core/src/common/iframeCOM.ts
  packages/client-core/src/common/utils.ts
  packages/client-core/src/user/services/AuthService.ts
  packages/client/public/root-cookie-accessor-template.html
Owners: @aditya-mitra, @barankyle

fix error
  packages/engine/src/script/ScriptComponent.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

tests pass!
  packages/hyperflux/.mocharc.js
  packages/hyperflux/.mocharc.json
  packages/hyperflux/package.json
  packages/hyperflux/tests/mocha.env.js
  packages/hyperflux/tests/useImmediateEffect.test.ts
  packages/hyperflux/tsconfig.json
Owners: @speigg
