Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

remove chargebeeSettingPromise from updateAppConfig.ts
  packages/server-core/src/updateAppConfig.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Refactor engine setting and add coil setting to appConfig
  packages/server-core/src/setting/engine-setting/engine-setting.ts
  packages/server-core/src/updateAppConfig.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fixes for storybook (#314)
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.tsx
  packages/ui/tailwind.config.js
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

IR-4688 Merge chargebee setting to engine settings (#298)
  packages/common/src/constants/EngineSettings.ts
  packages/common/src/schema.type.module.ts
  packages/common/src/schemas/setting/chargebee-setting.schema.ts
  packages/common/src/schemas/setting/engine-setting.schema.ts
  packages/server-core/src/setting/chargebee-setting/chargebee-setting.class.ts
  packages/server-core/src/setting/chargebee-setting/chargebee-setting.docs.ts
  packages/server-core/src/setting/chargebee-setting/chargebee-setting.hooks.ts
  packages/server-core/src/setting/chargebee-setting/chargebee-setting.resolvers.ts
  packages/server-core/src/setting/chargebee-setting/chargebee-setting.seed.ts
  packages/server-core/src/setting/chargebee-setting/chargebee-setting.ts
  packages/server-core/src/setting/chargebee-setting/migrations/20230404131827_chargebee-setting.ts
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
  packages/server-core/src/setting/engine-setting/engine-setting.ts
  packages/server-core/src/setting/engine-setting/migrations/20240923051419_merge-chargebee-setting.ts
  packages/server-core/src/setting/seeder-config.ts
  packages/server-core/src/setting/service.ts
  packages/server-core/src/updateAppConfig.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

undo button changes
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.tsx
  packages/ui/src/primitives/tailwind/Button/Button.test.tsx
  packages/ui/src/primitives/tailwind/Button/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

undo storybook changes
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Add helper function to generate seed data for engine settings table
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

server nonsense
  package.json
  packages/engine/src/assets/loaders/gltf/GLTFLoader.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/scene/components/ScenePreviewCamera.ts
  packages/hyperflux/tsconfig.json
  packages/instanceserver/package.json
  packages/instanceserver/tests/InstanceLoad.test.ts
  packages/instanceserver/vitest.config.ts
  packages/matchmaking/package.json
  packages/projects/package.json
  packages/server-core/src/patchEngineNode.ts
  packages/server-core/vitest.config.ts
  tsconfig.json
Owners: @HexaField, @MichaelEstes, @dinomut1, @speigg, @AidanCaruso, @CITIZENDOT, @hanzlamateen, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

fix instance server tests
  package.json
  packages/instanceserver/tests/InstanceLoad.test.ts
  packages/instanceserver/vitest.config.ts
Owners: @HexaField

copying mergeGeometries into our meshUtils to avoid importing three examples code
  packages/engine/src/scene/components/ParticleSystemComponent.ts
  packages/engine/src/scene/util/meshUtils.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Removing redundant particle shape type input from particle properties panel, and moved the conditional mesh shape input to be right under the shape type input
  packages/ui/src/components/editor/properties/particle/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix regressed top bar style
  packages/editor/src/panels/assets/topbar.tsx
Owners: @dinomut1, @aditya-mitra

update heights
  packages/editor/src/panels/viewport/index.tsx
  packages/editor/src/panels/viewport/tools/GridTool.tsx
  packages/editor/src/panels/viewport/tools/TransformPivotTool.tsx
  packages/editor/src/panels/viewport/tools/TransformSnapTool.tsx
  packages/editor/src/panels/viewport/tools/TransformSpaceTool.tsx
Owners: @dinomut1, @aditya-mitra

cleanup
  packages/editor/src/panels/assets/topbar.tsx
  packages/editor/src/panels/files/toolbar.tsx
  packages/editor/src/panels/hierarchy/hierarchytree.tsx
Owners: @dinomut1, @aditya-mitra

heiarchy input
  packages/editor/src/panels/hierarchy/hierarchytree.tsx
Owners: @dinomut1, @aditya-mitra

studio: update studio design and colors (#304)
  packages/client/public/ir-studio-icon.svg
  packages/editor/src/components/EditorContainer.css
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/components/assets/ImageCompressionPanel.tsx
  packages/editor/src/components/assets/ModelCompressionPanel.tsx
  packages/editor/src/components/toolbar/Toolbar.tsx
  packages/editor/src/pages/EditorPage.tsx
  packages/editor/src/panels/assets/topbar.tsx
  packages/editor/src/panels/files/fileitem.tsx
  packages/editor/src/panels/files/modals/FilePropertiesModal.tsx
  packages/editor/src/panels/files/modals/ImageConvertModal.tsx
  packages/editor/src/panels/files/toolbar.tsx
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
  packages/editor/src/panels/hierarchy/hierarchytree.tsx
  packages/editor/src/panels/properties/elementlist.tsx
  packages/editor/src/panels/properties/materialeditor.tsx
  packages/editor/src/panels/properties/propertyeditor.tsx
  packages/editor/src/panels/scenes/SceneItem.tsx
  packages/editor/src/panels/scenes/index.tsx
  packages/editor/src/panels/viewport/index.tsx
  packages/editor/src/panels/viewport/tools/GizmoTool.tsx
  packages/editor/src/panels/viewport/tools/GridTool.tsx
  packages/editor/src/panels/viewport/tools/RenderTool.tsx
  packages/editor/src/panels/viewport/tools/SceneHelpersTool.tsx
  packages/editor/src/panels/viewport/tools/TransformPivotTool.tsx
  packages/editor/src/panels/viewport/tools/TransformSnapTool.tsx
  packages/editor/src/panels/viewport/tools/TransformSpaceTool.tsx
  packages/ui/src/components/editor/layout/Panel.tsx
  packages/ui/src/components/editor/properties/group/index.tsx
  packages/ui/src/components/tailwind/SearchBar/index.tsx
  packages/ui/src/primitives/tailwind/Button/index.tsx
  packages/ui/src/primitives/tailwind/Input/index.tsx
  tailwind.config.js
Owners: @barankyle, @aditya-mitra, @dinomut1, @SYBIOTE, @CITIZENDOT, @HexaField

IR-4344 uploaded files extension tolower (#219)
  packages/editor/src/functions/assetFunctions.ts
  packages/editor/src/panels/files/helpers.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

IR-4351 positional audio max distance disabled state (#260)
  packages/client-core/i18n/en/editor.json
  packages/ui/src/components/editor/input/Group/index.tsx
  packages/ui/src/components/editor/input/Numeric/index.tsx
  packages/ui/src/components/editor/properties/audio/positional/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add name to static resouce table
  packages/common/src/schemas/media/static-resource.schema.ts
  packages/server-core/src/media/static-resource/migrations/20240924001248_static-resource-name.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Co-author: @MichaelEstes Hookstate hurts our souls daily
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @SamMazerIR

update default value
  packages/server-core/src/media/static-resource/migrations/20240924001248_static-resource-name.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

add optional to name
  packages/common/src/schemas/media/static-resource.schema.ts
Owners: @HexaField

fix: set default storage permission state and handle errors
  packages/client/public/root-cookie-accessor-template.html
Owners: @barankyle, @aditya-mitra

tst: Bugfix for `PhysicsSerialization.test.ts` vector asserts
  packages/spatial/src/physics/PhysicsSerialization.test.ts
Owners: @heysokam

format
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/instanceserver/tests/InstanceLoad.test.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @HexaField

add name to resource
  packages/common/src/interfaces/ResourcesJson.ts
  packages/server-core/src/media/static-resource/static-resource-helper.ts
  packages/server-core/src/projects/project/project-helper.ts
Owners: @hurairahmateen, @barankyle, @MoizAdnan, @hanzlamateen, @aditya-mitra

studio: update browser detection (#241)
  packages/client-core/i18n/en/editor.json
  packages/editor/src/functions/browserCheck.ts
  packages/editor/src/pages/EditorPage.tsx
  packages/editor/src/services/EditorServices.ts
Owners: @aditya-mitra, @SYBIOTE, @dinomut1

v0.8.1 NO MERGE WITHOUT LARRY Fix memory leak from useAncestorWithComponents (#317)
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @SamMazerIR

Added jwtCertificate in DB, providing it on JWKs as spec says
  packages/client-core/i18n/en/admin.json
  packages/client-core/src/admin/components/settings/tabs/authentication.tsx
  packages/client-core/src/transports/mediasoup/MediasoupClientFunctions.ts
  packages/client-core/src/user/services/AuthService.ts
  packages/client-core/src/util/rest-api-call.ts
  packages/client-core/src/util/wait-for-client-authenticated.ts
  packages/common/src/schemas/setting/authentication-setting.schema.ts
  packages/instanceserver/src/channels.ts
  packages/server-core/package.json
  packages/server-core/src/appconfig.ts
  packages/server-core/src/setting/authentication-setting/authentication-setting.seed.ts
  packages/server-core/src/setting/authentication-setting/migrations/20240924203953_jwt-certificate.ts
  packages/server-core/src/updateAppConfig.ts
  packages/server-core/src/user/jwt-public-key/jwt-public-key.class.ts
Owners: @aditya-mitra, @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen

Updated x5t and x5t#S256
  packages/server-core/src/user/jwt-public-key/jwt-public-key.class.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Updated authentication pattern
  packages/client-core/package.json
  packages/client-core/src/API.ts
  packages/client-core/src/transports/mediasoup/MediasoupClientFunctions.ts
  packages/client-core/src/user/services/AuthService.ts
  packages/client-core/src/util/rest-api-call.ts
  packages/client-core/src/util/wait-for-client-authenticated.ts
  packages/client/src/store.tsx
  packages/instanceserver/src/channels.ts
Owners: @aditya-mitra, @barankyle, @HexaField

IR-4763-Missing-invalid-resources-in-scene-cause-instanceserver-to-crash
  packages/spatial/src/resources/ResourceState.ts
Owners: @MichaelEstes

get avatar previews working with new gltf loader
  packages/client-core/src/common/components/AvatarPreview/index.tsx
  packages/engine/src/camera/components/AssetPreviewCameraComponent.ts
Owners: @aditya-mitra, @AidanCaruso, @MichaelEstes, @dinomut1

temporarily disable animations for avatar previews
  packages/client-core/src/common/components/AvatarPreview/index.tsx
Owners: @aditya-mitra

Added policy to tokens
  packages/server-core/src/user/accept-invite/accept-invite.class.ts
  packages/server-core/src/user/generate-token/generate-token.class.ts
  packages/server-core/src/user/identity-provider/identity-provider.hooks.ts
  packages/server-core/src/user/jwt-public-key/jwt-public-key.class.ts
  packages/server-core/src/user/login/login.class.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

tsc
  __global.d.ts
  packages/projects/default-project/tsconfig.json
Owners: @HexaField

improve patching
  .github/workflows/branch-build.yml
  packages/server-core/src/patchEngineNode.ts
  packages/spatial/src/threejsPatches.ts
  packages/visual-script/tests/visualScript.test.tsx
Owners: @DanielBelmes, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra, @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR, @SYBIOTE

tests
  packages/engine/src/assets/classes/AssetLoader.test.ts
  packages/spatial/src/threejsPatches.ts
Owners: @MichaelEstes, @dinomut1, @speigg, @AidanCaruso, @MbfloydIR, @SamMazerIR

try cicd
  packages/server-core/src/projects/project/project-helper.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

adding scale fix for particle meshes
  packages/engine/src/scene/components/ParticleSystemComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso
