Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

Update import
  packages/spatial/src/common/proxies/createThreejsProxy.test.tsx
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

Validate iframe message is coming from root-cookie-accessor (#215)
  packages/client-core/src/user/services/AuthService.ts
Owners: @aditya-mitra

storybook test should be a dev dep
  packages/ui/package.json
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

studio: render asset by height (#183)
  packages/ui/src/components/editor/panels/Assets/container/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

tst: Fix `MaterialInstanceComponent.onRemove` unit tests
  packages/spatial/src/renderer/materials/MaterialComponent.test.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

tst: Fixes for `PhysicsSerialization` unit tests
  packages/spatial/src/physics/PhysicsSerialization.test.ts
Owners: @heysokam

adding functionality to return a new File object with tolower on its extension, calls to this for upload files button and drag and drop files
  packages/editor/src/functions/assetFunctions.ts
  packages/editor/src/panels/files/helpers.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

Fixed verification of GitHub JWT signing tokens.
  packages/common/src/schemas/setting/authentication-setting.schema.ts
  packages/server-core/src/appconfig.ts
  packages/server-core/src/hooks/authenticate.ts
  packages/server-core/src/projects/project/project.hooks.ts
  packages/server-core/src/updateAppConfig.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

tst: Unit Tests for `PhysicsSerialization.ts` (phase 2)
  packages/spatial/src/physics/PhysicsSerialization.test.ts
Owners: @heysokam

remove unused import
  packages/editor/src/pages/EditorPage.tsx
Owners: @dinomut1, @aditya-mitra

fix cycle camera showing when it shouldnt
  packages/client-core/src/components/MediaIconsBox/index.tsx
Owners: @aditya-mitra

git ignore root cookie accessor html
  .gitignore
Owners: @HexaField

git ignore root cookie accessor html (#221)
  .gitignore
Owners: @HexaField

Fixed a bug with consumer state change. (#209)
  packages/common/src/transports/mediasoup/MediasoupMediaProducerConsumerState.tsx
Owners: @HexaField

file drop movement
  packages/editor/src/panels/files/filebrowser.tsx
Owners: @dinomut1, @aditya-mitra

wip - hierarchy arrangement logic
  packages/editor/src/functions/EditorControlFunctions.ts
Owners: @SYBIOTE

feat: show last clickable page in pagination component
  packages/ui/src/primitives/tailwind/Table/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

UI bug fixes
  packages/client-core/src/components/UserMediaWindow/index.tsx
  packages/client-core/src/components/UserMediaWindows/index.tsx
  packages/client-core/src/transports/mediasoup/MediasoupMediaTracksSystem.tsx
Owners: @aditya-mitra

optimize user media window and fix mic audio not creating producers
  packages/client-core/src/components/UserMediaWindow/index.tsx
  packages/client-core/src/transports/mediasoup/MediasoupMediaTracksSystem.tsx
Owners: @aditya-mitra

move consumer layer handling to mediasoup module
  packages/client-core/src/components/UserMediaWindow/index.tsx
  packages/client-core/src/media/PeerMediaChannelState.ts
  packages/client-core/src/transports/mediasoup/MediasoupPeerMediaConsumersSystem.tsx
Owners: @aditya-mitra

fix namespace and remove done todo
  packages/client-core/src/systems/PositionalAudioSystem.tsx
  packages/network/src/DataChannelRegistry.ts
Owners: @aditya-mitra, @speigg

fix peers not disappearing when they leave
  packages/client-core/src/transports/mediasoup/MediasoupTransportSystem.tsx
  packages/network/src/NetworkPeerState.tsx
Owners: @aditya-mitra, @speigg

Working with tests, required working
  packages/ecs/index.ts
  packages/ecs/src/ComponentFunctions.test.tsx
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/schemas/JSONSchemaTypes.ts
  packages/ecs/src/schemas/JSONSchemaUtils.ts
  packages/ecs/src/schemas/JSONSchemas.ts
  packages/editor/src/classes/TransformGizmoControlComponent.ts
  packages/engine/src/avatar/components/AvatarAnimationComponent.ts
  packages/engine/src/scene/components/EnvmapComponent.tsx
  packages/engine/src/scene/components/MountPointComponent.ts
  packages/engine/src/scene/components/VariantComponent.tsx
  packages/spatial/src/input/components/InputComponent.test.tsx
  packages/spatial/src/physics/components/RigidBodyComponent.test.tsx
  packages/spatial/src/physics/types/PhysicsTypes.ts
  packages/spatial/src/renderer/WebGLRendererSystem.tsx
  packages/spatial/src/renderer/components/FogSettingsComponent.test.tsx
  packages/spatial/src/renderer/components/LineSegmentComponent.test.tsx
  packages/spatial/src/renderer/components/LineSegmentComponent.ts
  packages/spatial/src/renderer/components/MeshComponent.test.tsx
  packages/spatial/src/renderer/components/MeshComponent.ts
  packages/spatial/src/renderer/components/Object3DComponent.ts
  packages/spatial/src/renderer/components/PostProcessingComponent.test.tsx
  packages/spatial/src/renderer/components/SceneComponent.test.tsx
  packages/spatial/src/renderer/components/lights/DirectionalLightComponent.ts
  packages/spatial/src/renderer/components/lights/HemisphereLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/PointLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/PointLightComponent.ts
  packages/spatial/src/renderer/components/lights/SpotLightComponent.test.ts
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @speigg, @SYBIOTE, @AidanCaruso, @dinomut1, @CITIZENDOT, @heysokam, @SamMazerIR, @DanielBelmes, @MichaelEstes

lint
  packages/ecs/index.ts
Owners: @speigg

Remove Typebox dep
  package.json
  packages/ecs/src/ComponentFunctions.test.tsx
  packages/ecs/src/UUIDComponent.test.tsx
Owners: @HexaField, @speigg

fix dropdown
  packages/engine/src/scene/constants/transformConstants.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

storybook test should be a dev dep (#216)
  packages/ui/package.json
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

min max size for thumbnails min max thumbnail size for asset thumbnails
  packages/editor/src/panels/files/fileicon.tsx
Owners: @dinomut1, @aditya-mitra

Fix dropdown (#224)
  packages/engine/src/scene/constants/transformConstants.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

rounded corners for scrollbars (#204)
  packages/client/src/pages/styles.scss
Owners: @barankyle, @aditya-mitra

fix viewport shifting due to render tool popup (#175)
  packages/editor/src/panels/viewport/tools/RenderTool.tsx
Owners: @dinomut1, @aditya-mitra

fix hierarchy context menu hotkeys positioning (#176)
  packages/ui/src/components/editor/panels/Hierarchy/container/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

simplify editor instance connection
  packages/common/src/schema.type.module.ts
  packages/common/src/schemas/networking/instance-active.schema.ts
  packages/editor/src/components/realtime/EditorActiveInstanceService.ts
  packages/editor/src/components/realtime/EditorInstanceNetworkingSystem.ts
  packages/editor/src/components/realtime/useEditorActiveInstances.ts
  packages/server-core/src/networking/instance-active/instance-active.class.ts
  packages/server-core/src/networking/instance-active/instance-active.docs.ts
  packages/server-core/src/networking/instance-active/instance-active.hooks.ts
  packages/server-core/src/networking/instance-active/instance-active.resolvers.ts
  packages/server-core/src/networking/instance/instance.test.ts
  packages/server-core/src/networking/services.ts
Owners: @HexaField, @dinomut1, @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

tst: Unit Tests for `PhysicsSerialization.ts` (phase 3)
  packages/spatial/src/physics/PhysicsSerialization.test.ts
Owners: @heysokam

tst: Unit Tests for `PhysicsSerialization.ts` (phase 4)
  packages/spatial/src/physics/PhysicsSerialization.test.ts
Owners: @heysokam

add hierarchy tree in editor package
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/components/hierarchy/HierarchyTreeWalker.ts
  packages/editor/src/panels/hierarchy/contextmenu.tsx
  packages/editor/src/panels/hierarchy/helpers.tsx
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
  packages/editor/src/panels/hierarchy/hierarchytree.tsx
  packages/editor/src/panels/hierarchy/index.tsx
  packages/editor/src/services/EditorServices.ts
  packages/editor/src/services/HierarchyNodeState.ts
Owners: @dinomut1, @aditya-mitra

remove hierarchy panel in ui package
  packages/ui/src/components/editor/panels/Hierarchy/container/index.stories.tsx
  packages/ui/src/components/editor/panels/Hierarchy/container/index.tsx
  packages/ui/src/components/editor/panels/Hierarchy/index.stories.tsx
  packages/ui/src/components/editor/panels/Hierarchy/index.tsx
  packages/ui/src/components/editor/panels/Hierarchy/node/index.stories.tsx
  packages/ui/src/components/editor/panels/Hierarchy/node/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

separate out hooks in helpers into separate file
  packages/editor/src/panels/hierarchy/contextmenu.tsx
  packages/editor/src/panels/hierarchy/helpers.tsx
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
  packages/editor/src/panels/hierarchy/hierarchytree.tsx
  packages/editor/src/panels/hierarchy/hooks.tsx
  packages/editor/src/panels/hierarchy/index.tsx
Owners: @dinomut1, @aditya-mitra

add fullwidth to contextmenu buttons
  packages/editor/src/panels/hierarchy/contextmenu.tsx
Owners: @dinomut1, @aditya-mitra

Revert "Fix hierarchy panel reordering (#205)"
  packages/editor/src/functions/EditorControlFunctions.test.tsx
  packages/editor/src/functions/EditorControlFunctions.ts
Owners: @SYBIOTE

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
