Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

updated next track logic to match the desire Desired behaviors - INT V0.8 (#151)
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

V0.8 check if bake entity is undefined (#158)
  packages/engine/src/scene/components/EnvmapComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

refactor(IR-3746): refactor to have a custom radio button component according the theming and desings
  packages/ui/src/primitives/tailwind/Radio/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

replace tabs search with topComponent
  packages/client-core/src/admin/components/project/index.tsx
  packages/ui/src/primitives/tailwind/Tabs/index.tsx
Owners: @hanzlamateen, @aditya-mitra, @SYBIOTE, @CITIZENDOT

replace mui with tailwind in debug menu
  packages/client-core/i18n/en/common.json
  packages/client-core/src/components/Debug/DebugButtons.tsx
  packages/client-core/src/components/Debug/EntityDebug.tsx
  packages/client-core/src/components/Debug/StateDebug.tsx
  packages/client-core/src/components/Debug/StatsPanel.tsx
  packages/client-core/src/components/Debug/SystemDebug.tsx
  packages/client-core/src/components/Debug/index.tsx
Owners: @aditya-mitra

add height
  packages/client-core/src/components/Debug/index.tsx
Owners: @aditya-mitra

remove styles.module.scss
  packages/client-core/src/components/Debug/styles.module.scss
Owners: @aditya-mitra

replace tabs search with topComponent (#161)
  packages/client-core/src/admin/components/project/index.tsx
  packages/ui/src/primitives/tailwind/Tabs/index.tsx
Owners: @hanzlamateen, @aditya-mitra, @SYBIOTE, @CITIZENDOT

update new file toolbar
  packages/editor/src/panels/files/toolbar.tsx
Owners: @dinomut1, @aditya-mitra

use offsetheight
  packages/ui/src/components/editor/panels/Assets/container/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

wip
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

morph targets
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

wip for thumbnail generation
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
Owners: @aditya-mitra

Rebased for Int - @Author Hexafield
  packages/spatial/src/physics/classes/Physics.test.tsx
  packages/spatial/src/physics/classes/Physics.ts
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.ts
  packages/spatial/src/transform/components/TransformComponent.ts
  packages/spatial/src/transform/systems/TransformSystem.ts
Owners: @heysokam, @SamMazerIR

ECS schema proxies WIP
  packages/ecs/src/ComponentFunctions.test.tsx
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/ComponentSchemaUtils.ts
  packages/engine/src/mocap/MotionCaptureRigComponent.ts
  packages/spatial/src/common/proxies/createThreejsProxy.ts
  packages/spatial/src/physics/components/RigidBodyComponent.ts
  packages/spatial/src/transform/components/TransformComponent.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR, @heysokam

fix asset width
  packages/ui/src/components/editor/panels/Assets/container/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

stop media on MediaElementComponent removal
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Update packages/client-core/src/systems/ui/MediaControlsUI.tsx
  packages/client-core/src/systems/ui/MediaControlsUI.tsx
Owners: @aditya-mitra

Update packages/client-core/src/systems/ui/MediaControlsUI.tsx
  packages/client-core/src/systems/ui/MediaControlsUI.tsx
Owners: @aditya-mitra

fix asset layout
  packages/ui/src/components/editor/panels/Assets/container/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

moving const variable to fix error from suggestion commit in github
  packages/client-core/src/systems/ui/MediaControlsUI.tsx
Owners: @aditya-mitra

fix: fixed files navigation
  packages/editor/src/panels/files/filebrowser.tsx
Owners: @dinomut1, @aditya-mitra

Update packages/ui/src/components/editor/input/Euler/index.tsx
  packages/ui/src/components/editor/input/Euler/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

implement PR comments
  packages/ui/src/components/editor/input/Euler/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix asset item dimension
  packages/ui/src/components/editor/panels/Assets/container/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

correcting the descriptions of grid height and translation snapping/grid size
  packages/client-core/i18n/en/editor.json
  packages/editor/src/panels/viewport/tools/GridTool.tsx
Owners: @aditya-mitra, @dinomut1

IR-3663 video controls size and responsiveness (#106)
  packages/client-core/src/systems/ui/MediaControlsUI.tsx
Owners: @aditya-mitra

update imports
  packages/engine/src/script/ScriptComponent.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

IR-4327 correcting the descriptions of grid height and translation snapping/grid size (#168)
  packages/client-core/i18n/en/editor.json
  packages/editor/src/panels/viewport/tools/GridTool.tsx
Owners: @aditya-mitra, @dinomut1

Int v0.8 - updated conditional logic to prevent hover e interactions on proximity (#114)
  packages/engine/src/interaction/components/InteractableComponent.ts
Owners: @SamMazerIR, @speigg

get item height from query
  packages/ui/src/components/editor/panels/Assets/container/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

load asset by asset panel height
  packages/ui/src/components/editor/panels/Assets/container/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Update track with paths changed
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

V0.8 Physics fixes for scaling rigid bodies and moving avatars (#164)
  packages/spatial/src/physics/classes/Physics.test.tsx
  packages/spatial/src/physics/classes/Physics.ts
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.ts
  packages/spatial/src/transform/components/TransformComponent.ts
  packages/spatial/src/transform/systems/TransformSystem.ts
Owners: @heysokam, @SamMazerIR

Stop media
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

ECS array proxies
  packages/ecs/src/ComponentFunctions.test.tsx
  packages/ecs/src/ComponentFunctions.ts
Owners: @speigg

wip - test code to generated skybox thumbnails
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
Owners: @aditya-mitra

Add tests for layout
  packages/xrui/core/XRUIState.tsx
  packages/xrui/core/classes/Transition.ts
  packages/xrui/core/components/HTMLComponent.ts
  packages/xrui/core/components/HTMLComponent.tsx
  packages/xrui/core/components/LayoutComponent.test.ts
  packages/xrui/core/components/LayoutComponent.tsx
  packages/xrui/core/hooks/useXRUI.ts
Owners: @speigg

license
  packages/xrui/core/components/HTMLComponent.ts
  packages/xrui/core/components/LayoutComponent.test.ts
Owners: @speigg

feat: add validation for file name length and set maximum length for entity names
  packages/client-core/i18n/en/editor.json
  packages/common/src/schemas/media/file-browser.schema.ts
  packages/editor/src/functions/assetFunctions.ts
  packages/ui/src/components/editor/panels/Hierarchy/node/index.tsx
Owners: @aditya-mitra, @HexaField, @SYBIOTE, @CITIZENDOT

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
