Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

fix SoA component types
  packages/ecs/src/schemas/JSONSchemas.ts
Owners: @speigg

Fixed Apple SSO login
  packages/server-core/src/user/strategies/apple.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

migrate all components to new SoA schemas
  packages/client-core/src/media/webcam/WebcamInputComponent.ts
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/schemas/ECSSchemas.ts
  packages/ecs/src/schemas/JSONSchemaTypes.ts
  packages/ecs/src/schemas/JSONSchemas.ts
  packages/engine/src/avatar/components/AvatarIKComponents.ts
  packages/engine/src/mocap/MotionCaptureRigComponent.ts
  packages/network/src/NetworkObjectComponent.ts
  packages/spatial/src/physics/components/RigidBodyComponent.tsx
  packages/spatial/src/renderer/components/ObjectLayerComponent.ts
  packages/spatial/src/schema/schemaFunctions.ts
  packages/spatial/src/transform/components/DistanceComponents.ts
  packages/spatial/src/transform/components/TransformComponent.ts
Owners: @aditya-mitra, @speigg, @AidanCaruso, @heysokam, @DanielBelmes, @MichaelEstes, @MbfloydIR, @SamMazerIR

implement runtime for for SoA schemas
  packages/ecs/index.ts
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/EntityTree.tsx
  packages/ecs/src/bitecsLegacy.ts
  packages/ecs/src/schemas/JSONSchemaUtils.ts
  packages/hyperflux/src/functions/StateFunctions.ts
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.ts
  packages/spatial/src/transform/components/TransformComponent.ts
Owners: @speigg, @heysokam, @SamMazerIR

Simplify types
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/schemas/JSONSchemaTypes.ts
  packages/ecs/src/schemas/JSONSchemas.ts
  packages/spatial/src/transform/components/TransformComponent.ts
Owners: @speigg, @SamMazerIR

Envmap Refactor (#960)
  packages/client-core/src/common/components/AvatarPreview/index.tsx
  packages/editor/src/components/assets/AssetPreviewPanels/MaterialPreviewPanel.tsx
  packages/editor/src/components/assets/AssetPreviewPanels/ModelPreviewPanel.tsx
  packages/editor/src/functions/addMediaNode.ts
  packages/editor/src/panels/materials/materialpreviewer.tsx
  packages/editor/src/services/ComponentEditors.tsx
  packages/editor/src/services/ComponentShelfCategoriesState.ts
  packages/engine/src/avatar/functions/spawnAvatarReceptor.ts
  packages/engine/src/scene/SceneModule.ts
  packages/engine/src/scene/components/EnvmapComponent.tsx
  packages/engine/src/scene/constants/EnvMapEnum.ts
  packages/engine/src/scene/systems/EnvironmentSystem.tsx
  packages/projects/default-project/assets/apartment-CubemapBake.png
  packages/projects/default-project/public/scenes/apartment-envmap.ktx2
  packages/projects/default-project/public/scenes/apartment.gltf
  packages/projects/default-project/public/scenes/sky-station.gltf
  packages/ui/src/components/editor/properties/envmap/index.tsx
Owners: @aditya-mitra, @dinomut1, @SYBIOTE, @AidanCaruso, @speigg, @CITIZENDOT, @HexaField

tst: Isolate broken `onRemove` and `removeComponent` cases
  packages/ecs/src/ECSLayers.test.tsx
  packages/ecs/src/UUIDComponent.test.tsx
Owners: @speigg

tst: Unit Tests for `LayerComponents` (phase 3)
  packages/ecs/src/ECSLayers.test.tsx
Owners: @speigg

tst: Fixes for `propagateLayer` unit tests
  packages/ecs/src/ECSLayers.test.tsx
Owners: @speigg

tst: Fixes for `getAuthoringCounterpart` unit tests
  packages/ecs/src/ECSLayers.test.tsx
Owners: @speigg

tst: Move `create/removeEntity` tests to `EntityFunctions.test.tsx`
  packages/ecs/src/ECSLayers.test.tsx
  packages/ecs/src/EntityFunctions.test.tsx
Owners: @speigg

tst: Unit Tests for `getLayerRelationsEntities` (phase 2)
  packages/ecs/src/ECSLayers.test.tsx
Owners: @speigg

fmt: Remove shadowing of `LayerComponent`. Rename to `layerComponent`
  packages/ecs/src/ComponentFunctions.ts
Owners: @speigg

tst: Unit Tests for `ShadowSystem.tsx` (phase 1)
  packages/engine/src/scene/systems/ShadowSystem.test.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fmt: Add `ShadowSystemFunctions` export for easier testing
  packages/engine/src/scene/systems/ShadowSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix component types
  packages/ecs/src/schemas/JSONSchemaTypes.ts
  packages/spatial/src/transform/components/TransformComponent.ts
Owners: @speigg, @SamMazerIR

fix edge case bug with highlight reactor, update selection highlight system name for clarity, add namespaces to systems
  packages/editor/src/EditorModule.ts
  packages/editor/src/systems/SelectionHighlightSystem.ts
  packages/spatial/src/renderer/components/HighlightComponent.ts
Owners: @dinomut1, @aditya-mitra, @AidanCaruso, @DanielBelmes, @MichaelEstes

fix test
  packages/spatial/src/renderer/components/HighlightComponent.test.tsx
  packages/spatial/src/renderer/components/HighlightComponent.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

format
  packages/editor/src/EditorModule.ts
  packages/editor/src/systems/SelectionHighlightSystem.ts
Owners: @dinomut1, @aditya-mitra

ensure loaded urls have urls parsed
  packages/engine/src/assets/functions/parseSceneJSON.ts
  packages/engine/src/assets/functions/resourceLoaderHooks.ts
  packages/engine/src/assets/loaders/base/FileLoader.ts
  packages/engine/src/scene/functions/GLTFConversion.ts
Owners: @MichaelEstes, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

eliminate one of the false negative errors, fix rigidbody typing
  packages/ecs/src/schemas/JSONSchemaTypes.ts
  packages/spatial/src/physics/components/RigidBodyComponent.tsx
Owners: @speigg, @heysokam

refactor new API into a simpler proxy schema and separate storage definition
  packages/client-core/src/media/webcam/WebcamInputComponent.ts
  packages/ecs/index.ts
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/bitecsLegacy.ts
  packages/ecs/src/schemas/JSONSchemaTypes.ts
  packages/ecs/src/schemas/JSONSchemaUtils.ts
  packages/ecs/src/schemas/JSONSchemas.ts
  packages/engine/src/avatar/components/AvatarIKComponents.ts
  packages/engine/src/mocap/MotionCaptureRigComponent.ts
  packages/network/src/NetworkObjectComponent.ts
  packages/spatial/src/common/proxies/createThreejsProxy.ts
  packages/spatial/src/physics/components/RigidBodyComponent.tsx
  packages/spatial/src/renderer/components/ObjectLayerComponent.ts
  packages/spatial/src/schema/schemaFunctions.ts
  packages/spatial/src/transform/components/DistanceComponents.ts
  packages/spatial/src/transform/components/TransformComponent.ts
Owners: @aditya-mitra, @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR, @heysokam, @DanielBelmes

Unified SoA and json schema component definitions (#981)
  packages/client-core/src/media/webcam/WebcamInputComponent.ts
  packages/ecs/index.ts
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/EntityTree.tsx
  packages/ecs/src/bitecsLegacy.ts
  packages/ecs/src/schemas/ECSSchemas.ts
  packages/ecs/src/schemas/JSONSchemaTypes.ts
  packages/ecs/src/schemas/JSONSchemaUtils.ts
  packages/ecs/src/schemas/JSONSchemas.ts
  packages/editor/src/functions/transformGizmoHelper.ts
  packages/engine/src/avatar/components/AvatarIKComponents.ts
  packages/engine/src/mocap/MotionCaptureRigComponent.ts
  packages/hyperflux/src/functions/StateFunctions.ts
  packages/network/src/NetworkObjectComponent.ts
  packages/spatial/src/common/proxies/createThreejsProxy.ts
  packages/spatial/src/input/components/InputPointerComponent.ts
  packages/spatial/src/physics/components/RigidBodyComponent.tsx
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.ts
  packages/spatial/src/renderer/components/ObjectLayerComponent.ts
  packages/spatial/src/schema/schemaFunctions.ts
  packages/spatial/src/transform/components/DistanceComponents.ts
  packages/spatial/src/transform/components/TransformComponent.ts
  packages/spatial/tests/util/MockXRUI.ts
Owners: @aditya-mitra, @speigg, @SYBIOTE, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR, @heysokam, @DanielBelmes

quick hack fix for transparency dither shader applying twice
  packages/spatial/src/renderer/materials/constants/plugins/TransparencyDitheringComponent.tsx
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

Fix: web client does not build (#42)
  packages/client-core/src/components/World/EngineHooks.native.tsx
  packages/client-core/src/world/Location.native.tsx
  packages/client/package.json
  packages/client/vite.config.ts
  packages/clientNative/App.tsx
  packages/ecs/src/EngineFunctions.ts
  packages/engine/src/assets/loaders/texture/TextureLoader.native.ts
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/gltf/getResourceURI.native.ts
  packages/engine/src/gltf/getResourceURI.ts
  packages/network/src/Network.ts
Owners: @speigg, @aditya-mitra, @barankyle, @HexaField, @MichaelEstes, @dinomut1, @AidanCaruso

remove old API, revert entity tree component to reactor
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
  packages/client-core/src/systems/LoadingUISystem.tsx
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/EntityTree.test.tsx
  packages/ecs/src/EntityTree.tsx
  packages/engine/src/scene/components/OldColliderComponent.tsx
Owners: @aditya-mitra, @speigg, @dinomut1, @CITIZENDOT, @AidanCaruso

fix more errors
  packages/network/src/serialization/DataReader.ts
  packages/network/src/serialization/ViewCursor.ts
  packages/spatial/src/physics/components/ColliderComponent.tsx
  packages/spatial/src/resources/ResourceState.tsx
  packages/spatial/src/xr/XRLightProbeSystem.ts
Owners: @speigg, @heysokam, @MichaelEstes, @AidanCaruso, @MbfloydIR, @SamMazerIR

test and bug fixes
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/Engine.ts
  packages/engine/src/gltf/GLTFLoader.test.tsx
  packages/engine/src/scene/components/MountPointComponent.test.tsx
  packages/engine/src/scene/components/debug/SplineHelperComponent.ts
  packages/spatial/src/common/proxies/createThreejsProxy.test.tsx
  packages/spatial/src/common/proxies/createThreejsProxy.ts
  packages/spatial/src/physics/PhysicsSerialization.test.ts
  packages/spatial/src/physics/classes/Physics.test.tsx
  packages/spatial/src/physics/integration.test.ts
  packages/spatial/src/renderer/WebGLRendererSystem.test.tsx
  packages/spatial/src/renderer/components/LineSegmentComponent.test.tsx
  packages/spatial/src/renderer/components/LineSegmentComponent.ts
  packages/spatial/src/renderer/components/MeshComponent.test.tsx
  packages/spatial/src/renderer/components/ObjectLayerComponent.test.tsx
  packages/spatial/src/renderer/components/ObjectLayerComponent.ts
  packages/spatial/src/resources/resourceHooks.test.tsx
  packages/spatial/src/resources/resourceHooks.ts
  packages/spatial/src/transform/TransformSerialization.test.ts
  packages/spatial/src/transform/components/DistanceComponents.test.ts
  packages/spatial/src/transform/components/TransformComponent.test.tsx
  packages/spatial/src/transform/systems/LookAtSystem.test.ts
  packages/spatial/src/transform/systems/TransformSystem.test.ts
  packages/spatial/src/xr/XRComponents.test.ts
  vitest.client.config.ts
  vitest.server.config.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @dinomut1, @CITIZENDOT, @MbfloydIR, @SamMazerIR, @heysokam, @DanielBelmes, @HexaField

basic test for resource state
  packages/ecs/src/schemas/JSONSchemaUtils.ts
  packages/spatial/src/renderer/components/MeshComponent.test.tsx
  packages/spatial/src/renderer/components/MeshComponent.ts
  packages/spatial/src/resources/ResourceState.test.tsx
Owners: @speigg, @AidanCaruso, @DanielBelmes, @MichaelEstes

fix proxy schema init and assignment, and network tests
  packages/ecs/src/schemas/JSONSchemaTypes.ts
  packages/ecs/src/schemas/JSONSchemaUtils.ts
  packages/ecs/src/schemas/JSONSchemas.ts
  packages/network/src/NetworkObjectComponent.test.tsx
  packages/network/src/serialization/DataReader.test.ts
  packages/network/src/serialization/DataWriter.test.ts
  packages/spatial/src/common/proxies/createThreejsProxy.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

fix physics and rigidbody tests, add deserialize validators, disable old loader tests
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/schemas/JSONSchemaUtils.ts
  packages/engine/src/assets/functions/resourceLoaderFunctions.test.tsx
  packages/engine/src/assets/functions/resourceLoaderHooks.test.tsx
  packages/engine/src/assets/state/ResourceLoadingManager.test.tsx
  packages/engine/src/gltf/GLTFLoader.test.tsx
  packages/engine/src/gltf/GLTFState.test.tsx
  packages/engine/src/scene/components/MountPointComponent.test.tsx
  packages/spatial/src/physics/components/ColliderComponent.tsx
  packages/spatial/src/physics/components/RigidBodyComponent.test.tsx
  packages/spatial/src/physics/components/RigidBodyComponent.tsx
  packages/spatial/src/physics/systems/PhysicsSystem.test.ts
Owners: @speigg, @MichaelEstes, @dinomut1, @AidanCaruso, @CITIZENDOT, @heysokam

fix input component tests, revert now unnecessary mutation in schema
  packages/ecs/src/schemas/JSONSchemaUtils.ts
  packages/spatial/src/input/components/InputComponent.test.tsx
Owners: @speigg, @heysokam, @SamMazerIR

Support Native Inputs (#43)
  packages/clientNative/globals.js
  packages/clientNative/index.js
  packages/clientNative/ios/clientNative/AppDelegate.mm
  packages/clientNative/src/common/components/TouchGamepad/index.tsx
  packages/clientNative/src/pages/location/LocationPage.tsx
  packages/clientNative/src/polyfill/CanvasEventHandler.ts
  packages/clientNative/src/polyfill/NativeHTMLCanvasElement.ts
  packages/spatial/src/input/functions/ClientInputHeuristics.ts
  packages/spatial/src/input/functions/ClientInputHooks.tsx
Owners: @HexaField, @heysokam, @SamMazerIR, @speigg

fix bug with queries not being cleared between engine instances
  packages/ecs/src/Engine.ts
  packages/ecs/src/QueryFunctions.test.tsx
  packages/ecs/src/QueryFunctions.tsx
  packages/ecs/src/bitecsLegacy.ts
  packages/hyperflux/src/functions/ReactorFunctions.tsx
  packages/spatial/src/transform/components/TransformComponent.test.tsx
Owners: @speigg, @SamMazerIR

test
  packages/spatial/src/transform/systems/TransformSystem.test.ts
Owners: @SamMazerIR

spatial tests passing
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/Engine.ts
  packages/hyperflux/src/functions/ReactorFunctions.tsx
  packages/spatial/src/camera/systems/CameraSystem.test.tsx
  packages/spatial/src/input/functions/ClientInputHooks.test.tsx
  packages/spatial/src/renderer/components/LineSegmentComponent.test.tsx
  packages/spatial/src/renderer/components/lights/SpotLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/SpotLightComponent.ts
  packages/spatial/src/transform/components/TransformComponent.test.tsx
Owners: @speigg, @DanielBelmes, @SamMazerIR, @heysokam, @AidanCaruso, @MichaelEstes

overflow x hidden
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Update polygen to v0.1.0 (#53)
  packages/clientNative/ios/Podfile.lock
  packages/clientNative/ios/clientNative.xcodeproj/project.pbxproj
  packages/clientNative/ios/scripts/regenerate.sh
  packages/clientNative/package.json
  patches/@callstack+polygen+0.0.1.patch
  patches/@callstack+polygen+0.1.0.patch
Owners: @HexaField

give a fix height
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Fix two gltf loader tests
  packages/engine/src/gltf/GLTFLoader.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1
