Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

update width
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

add license
  packages/client-core/src/world/LinkRedirectSystem.ts
  packages/client-core/src/world/PortalRedirectSystem.ts
Owners: @aditya-mitra

more entity network tests, fix authority peer leaving triggering auto transfer
  packages/network/src/EntityNetworkState.test.tsx
  packages/network/src/EntityNetworkState.tsx
Owners: @speigg

Add drag preview image
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

fix useQuery extra effect triggers
  packages/ecs/src/Engine.ts
  packages/ecs/src/QueryFunctions.test.tsx
  packages/ecs/src/QueryFunctions.tsx
  packages/ecs/src/SystemState.ts
Owners: @speigg

format, fix spatial tests
  packages/ecs/src/Engine.ts
  packages/ecs/src/SystemState.ts
  packages/spatial/src/input/components/InputPointerComponent.test.ts
Owners: @speigg, @heysokam, @SamMazerIR

add viewport button
  packages/client-core/i18n/en/editor.json
  packages/editor/src/panels/viewport/tools/icons/collider_atoms.svg
  packages/editor/src/panels/viewport/tools/icons/ruler.svg
  packages/editor/src/panels/viewport/tools/icons/screenshot.svg
  packages/ui/src/components/editor/ViewportButton/index.stories.tsx
  packages/ui/src/components/editor/ViewportButton/index.tsx
Owners: @aditya-mitra, @dinomut1, @SYBIOTE, @CITIZENDOT

introduce toolbar button
  packages/editor/src/panels/viewport/tools/SceneHelpersTool.tsx
  packages/editor/src/panels/viewport/tools/TransformGizmoTool.tsx
  packages/ui/src/components/editor/ToolbarButton/index.stories.tsx
  packages/ui/src/components/editor/ToolbarButton/index.tsx
  packages/ui/src/components/editor/ViewportButton/index.stories.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

correct of buttons in all of studio
  packages/client-core/src/admin/components/project/AddEditProjectModal.tsx
  packages/editor/src/components/dialogs/QuitToDashboardConfirmationDialog.tsx
  packages/editor/src/panels/files/toolbar.tsx
  packages/editor/src/panels/viewport/tools/TransformPivotTool.tsx
  packages/editor/src/panels/viewport/tools/TransformSnapTool.tsx
  packages/editor/src/panels/viewport/tools/TransformSpaceTool.tsx
  packages/editor/src/panels/visualscript/container/index.tsx
  packages/editor/src/panels/visualscript/flow.tsx
  packages/editor/src/panels/visualscript/sidepanel.tsx
Owners: @hanzlamateen, @dinomut1, @aditya-mitra

in ui folder
  packages/ui/src/components/tailwind/SidebarButton/index.tsx
  packages/ui/src/primitives/mui/Popover/index.stories.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

mvp for webrtc transport tests
  packages/client-core/src/transports/p2p/PeerToPeerNetworkState.tsx
  packages/hyperflux/src/functions/EnvironmentConstants.ts
  packages/network/package.json
  packages/network/src/webrtc/WebRTCTransportFunctions.test.ts
  packages/network/src/webrtc/WebRTCTransportFunctions.ts
  packages/network/tests/interfaces.ts
  packages/network/tests/mockOtherPeer.ts
  packages/network/tests/receiveSubprocess.ts
  packages/network/tests/startSubprocess.ts
  patches/node-datachannel+0.12.0.patch
  patches/patches.md
  patches/webrtc-polyfill+1.1.10.patch
Owners: @aditya-mitra, @speigg, @HexaField

test data channels
  packages/network/src/webrtc/WebRTCTransportFunctions.test.ts
  packages/network/tests/mockOtherPeer.ts
Owners: @speigg

remove icon only prop
  packages/client-core/src/admin/components/avatar/AvatarTable.tsx
  packages/client-core/src/admin/components/channel/ChannelTable.tsx
  packages/client-core/src/admin/components/instance/InstanceTable.tsx
  packages/client-core/src/admin/components/invites/InviteTable.tsx
  packages/client-core/src/admin/components/locations/LocationTable.tsx
  packages/client-core/src/admin/components/project/AddEditProjectModal.tsx
  packages/client-core/src/admin/components/project/ManageUserPermissionModal.tsx
  packages/client-core/src/admin/components/recordings/RecordingsTable.tsx
  packages/client-core/src/admin/components/resources/ResourceTable.tsx
  packages/client-core/src/admin/components/server/ServerLogsModal.tsx
  packages/client-core/src/admin/components/server/ServerTable.tsx
  packages/client-core/src/admin/components/server/index.tsx
  packages/client-core/src/admin/components/user/UserTable.tsx
  packages/ui/src/primitives/tailwind/Button/index.tsx
Owners: @hanzlamateen, @aditya-mitra, @SYBIOTE, @CITIZENDOT

remaining button updates
  packages/client-core/src/admin/adminRoutes.tsx
  packages/editor/src/panels/assets/resources.tsx
  packages/ui/src/components/editor/input/Vector3/index.tsx
  packages/ui/src/components/editor/layout/PaginatedList.tsx
  packages/ui/src/components/editor/properties/input/index.tsx
  packages/ui/src/components/editor/properties/media/index.tsx
  packages/ui/src/components/editor/properties/mesh/geometryEditor.tsx
  packages/ui/src/components/editor/properties/playlist/index.tsx
  packages/ui/src/components/editor/properties/trigger/index.tsx
  packages/ui/src/components/editor/properties/variant/index.tsx
  packages/ui/src/primitives/tailwind/CopyText/index.tsx
  packages/ui/src/primitives/tailwind/ErrorView/index.tsx
  packages/ui/src/primitives/tailwind/Modal/index.tsx
  packages/ui/src/primitives/tailwind/Table/index.stories.tsx
Owners: @hanzlamateen, @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

try to make media streams work but it doesn't
  packages/network/src/webrtc/WebRTCTransportFunctions.test.ts
  packages/network/tests/mockOtherPeer.ts
Owners: @speigg

updated patch
  patches/patches.md
  patches/webrtc-polyfill+1.1.10.patch
Owners: @HexaField

undo commented out code
  packages/ecs/src/Engine.ts
Owners: @speigg

refactor: centralize WebSocket ping configuration
  .env.local.default
  packages/client-core/src/API.ts
  packages/client-core/src/transports/mediasoup/MediasoupClientFunctions.ts
  packages/common/src/config.ts
  packages/server-core/src/createApp.ts
Owners: @HexaField, @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

fix: update isGuest field when making user admin
  scripts/make-user-admin.ts
Owners: @barankyle, @hanzlamateen, @DanielBelmes

update alert copy
  packages/editor/src/hooks/useBrowserCheck.ts
Owners: @dinomut1, @aditya-mitra

refactor filter existing files
  packages/editor/src/functions/assetFunctions.ts
Owners: @SYBIOTE

eliminate direct schema imports
  packages/client-core/src/admin/components/project/ProjectHistory.tsx
  packages/client-core/src/user/services/AuthService.ts
  packages/common/src/schema.type.module.ts
Owners: @hanzlamateen, @aditya-mitra, @HexaField

Remove stringification of entities array
  packages/ecs/src/QueryFunctions.tsx
Owners: @speigg

eliminate direct schema imports
  packages/common/src/interfaces/AuthUser.ts
  packages/common/src/interfaces/UploadAssetInterface.ts
  packages/common/src/recording/ECSRecordingSystem.ts
  packages/common/src/schemas/user/user.schema.ts
  packages/projects/ProjectConfigInterface.ts
Owners: @hurairahmateen, @HexaField

fix avatar spawn system dependencies
  packages/client-core/src/networking/AvatarSpawnSystem.tsx
Owners: @aditya-mitra

unique array on each mount and unmount
  packages/ecs/src/QueryFunctions.tsx
Owners: @speigg

fix deps
  packages/client-core/src/networking/AvatarSpawnSystem.tsx
Owners: @aditya-mitra

fix missing boolean cast
  packages/client-core/src/networking/AvatarSpawnSystem.tsx
Owners: @aditya-mitra

spawn system
  packages/client-core/src/hooks/useLoadedSceneEntity.ts
  packages/client-core/src/networking/AvatarSpawnSystem.tsx
  packages/engine/src/gltf/GLTFComponent.tsx
Owners: @jose-galvan, @aditya-mitra, @AidanCaruso, @MichaelEstes, @dinomut1

use react state for lazy loading
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

revert
  packages/engine/src/gltf/GLTFComponent.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

Implement lazy loading for AddEditLocationModal and extract StudioSections component
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/ui/src/components/editor/Modal/AddEditLocationModalStudioSections.tsx
Owners: @hanzlamateen, @aditya-mitra, @SYBIOTE, @CITIZENDOT

Temporarily comment out location type select component UI in AddEditLocationModal
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

fix useQuery again
  packages/ecs/src/QueryFunctions.test.tsx
  packages/ecs/src/QueryFunctions.tsx
Owners: @speigg

remove useQuery reacting to component data changes all together
  packages/ecs/src/QueryFunctions.tsx
Owners: @speigg

format
  packages/ecs/src/QueryFunctions.tsx
Owners: @speigg

fix test
  packages/spatial/src/input/components/InputPointerComponent.test.ts
Owners: @heysokam, @SamMazerIR, @speigg

highlight test
  packages/spatial/src/renderer/components/HighlightComponent.test.tsx
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

fix: error uploading avatar
  packages/server-core/src/user/avatar/avatar-helper.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Update Input & Select props to be descriptive
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/editor/src/panels/assets/topbar.tsx
  packages/editor/src/panels/files/toolbar.tsx
  packages/ui/src/components/tailwind/SearchBar/index.tsx
  packages/ui/src/primitives/tailwind/Input/index.stories.tsx
  packages/ui/src/primitives/tailwind/Input/index.tsx
  packages/ui/src/primitives/tailwind/Select/index.stories.tsx
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @hanzlamateen, @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
