Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

removed unneeded serailization
  packages/engine/src/interaction/components/InteractableComponent.ts
Owners: @SamMazerIR, @speigg

Add back resolve URL
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

INT V0.8: IR-4369: fix avatars not moving (#147)
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.ts
Owners: @heysokam

Avoid Clone() for class defaults
  packages/ecs/src/ComponentSchemaUtils.ts
Owners: @speigg

IR-3622 fog fixes (#139)
  packages/editor/src/services/ComponentShelfCategoriesState.ts
  packages/spatial/src/renderer/WebGLRendererSystem.test.tsx
  packages/spatial/src/renderer/components/FogSettingsComponent.test.tsx
  packages/spatial/src/renderer/components/FogSettingsComponent.ts
Owners: @dinomut1, @aditya-mitra, @AidanCaruso, @DanielBelmes, @MichaelEstes

updated next track logic to match the desire Desired behaviors in jira ticket set initial track value to -1 for the first track played will be index 0
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

minor changes, still no tailwind support here though
  packages/client-core/src/systems/ui/MediaControlsUI.tsx
Owners: @aditya-mitra

fix(IR-3746): fix secondary button
  packages/ui/src/components/editor/panels/Files/icon/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Update ProfileMenu.tsx
  packages/client-core/src/user/components/UserMenu/menus/ProfileMenu.tsx
Owners: @aditya-mitra

V0.8(No Merge without QA approval) Disable login Link (#113)
  packages/client-core/src/user/components/UserMenu/menus/ProfileMenu.tsx
Owners: @aditya-mitra

The model transform function now reports its progress, and the compression panel now has a progress bar.
  packages/client-core/i18n/en/editor.json
  packages/common/src/model/ModelTransformFunctions.ts
  packages/editor/src/components/assets/ModelCompressionPanel.tsx
Owners: @aditya-mitra, @HexaField, @dinomut1

fix file icon
  packages/editor/src/panels/files/fileicon.tsx
Owners: @dinomut1, @aditya-mitra

Working schemas, start of proxy bitecs schemas
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/ComponentSchemaUtils.ts
  packages/spatial/src/camera/components/CameraComponent.ts
  packages/spatial/src/camera/components/CameraOrbitComponent.ts
  packages/spatial/src/camera/components/FlyControlComponent.ts
  packages/spatial/src/camera/components/FollowCameraComponent.ts
  packages/spatial/src/camera/components/TargetCameraRotationComponent.ts
  packages/spatial/src/camera/functions/CameraFunctions.ts
Owners: @speigg, @DanielBelmes, @SamMazerIR

value objects
  packages/spatial/src/camera/components/TargetCameraRotationComponent.ts
  packages/spatial/src/camera/functions/CameraFunctions.ts
Owners: @DanielBelmes, @SamMazerIR, @speigg

Refactoring and documentation
  packages/xrui/core/WebLayerManagerBase.ts
  packages/xrui/core/XRUIState.tsx
  packages/xrui/core/classes/Transition.ts
  packages/xrui/core/components/HTMLComponent.tsx
  packages/xrui/core/components/LayoutComponent.tsx
  packages/xrui/core/components/XRLayoutComponent.tsx
  packages/xrui/core/hooks/useXRUI.ts
Owners: @speigg

fix export model path
  packages/ui/src/components/editor/properties/model/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add support for saving and loading video textures in .gtlf files
  packages/engine/src/assets/exporters/gltf/GLTFExporter.js
  packages/engine/src/assets/loaders/gltf/extensions/CachedImageLoadExtension.ts
Owners: @MichaelEstes, @dinomut1, @speigg

detect scene json in project upload
  packages/server-core/src/projects/project/project-helper.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

detect scene json in project upload (#155)
  packages/server-core/src/projects/project/project-helper.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Video Texture IO Support (#156)
  packages/engine/src/assets/exporters/gltf/GLTFExporter.js
  packages/engine/src/assets/loaders/gltf/extensions/CachedImageLoadExtension.ts
Owners: @MichaelEstes, @dinomut1, @speigg

fix gizmo rotation update
  packages/ui/src/components/editor/input/Euler/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

check if bake entity is undefined
  packages/engine/src/scene/components/EnvmapComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix parent transform rigidbody scaling
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.ts
Owners: @heysokam

refactor: Remove LoadingView component from Select dropdown
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix rigidbody reference space handling, fix bug with moved colliders not waking bodies
  packages/spatial/src/physics/classes/Physics.ts
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.ts
  packages/spatial/src/transform/components/TransformComponent.ts
  packages/spatial/src/transform/systems/TransformSystem.ts
Owners: @heysokam, @SamMazerIR

refactor viewport panel (#144)
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/components/assets/ImageCompressionPanel.tsx
  packages/editor/src/components/assets/ModelCompressionPanel.tsx
  packages/editor/src/constants/AssetTypes.ts
  packages/editor/src/panels/files/contextmenu.tsx
  packages/editor/src/panels/files/fileitem.tsx
  packages/editor/src/panels/files/helpers.tsx
  packages/editor/src/panels/files/modals/DeleteFileModal.tsx
  packages/editor/src/panels/files/modals/ImageConvertModal.tsx
  packages/editor/src/panels/files/modals/RenameFileModal.tsx
  packages/editor/src/panels/viewport/index.tsx
  packages/editor/src/panels/viewport/tools/GizmoTool.tsx
  packages/editor/src/panels/viewport/tools/GridTool.tsx
  packages/editor/src/panels/viewport/tools/PlayModeTool.tsx
  packages/editor/src/panels/viewport/tools/RenderTool.tsx
  packages/editor/src/panels/viewport/tools/SceneHelpersTool.tsx
  packages/editor/src/panels/viewport/tools/TransformPivotTool.tsx
  packages/editor/src/panels/viewport/tools/TransformSnapTool.tsx
  packages/editor/src/panels/viewport/tools/TransformSpaceTool.tsx
  packages/editor/src/panels/viewport/tools/icons/collider_atoms.svg
  packages/editor/src/panels/viewport/tools/icons/ruler.svg
  packages/editor/src/panels/viewport/tools/icons/screenshot.svg
  packages/editor/src/services/FilesState.tsx
  packages/ui/src/components/editor/panels/Hierarchy/node/index.tsx
  packages/ui/src/components/editor/panels/Viewport/container/index.stories.tsx
  packages/ui/src/components/editor/panels/Viewport/index.stories.tsx
  packages/ui/src/components/editor/panels/Viewport/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

fmt: Deduplicate `T*Arg.type` strings for `getDefaultType`
  packages/spatial/src/renderer/materials/constants/DefaultArgs.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

fix file icon (#153)
  packages/editor/src/panels/files/fileicon.tsx
Owners: @dinomut1, @aditya-mitra

tst: Unit Tests for `DefaultArgs.ts`
  packages/spatial/src/renderer/materials/constants/DefaultArgs.test.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

fmt: Remove redundant whitespace in `NoiseOffsetPlugin` shader code
  packages/spatial/src/renderer/materials/constants/plugins/NoiseOffsetPlugin.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

refactor: Improve Select dropdown by removing unnecessary endComponent check
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add physics test
  packages/spatial/src/physics/classes/Physics.test.tsx
Owners: @heysokam

Added avatars path to Cloudfront function passthrough (#138)
  packages/server-core/src/media/storageprovider/s3.storage.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

format
  packages/spatial/src/physics/classes/Physics.test.tsx
Owners: @heysokam

Update README.md (#137)
  README.md
Owners: @HexaField

fix export model path (#154)
  packages/ui/src/components/editor/properties/model/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix: Handle location not found error in LocationService
  packages/client-core/src/social/services/LocationService.ts
Owners: @aditya-mitra

feat: Refactor useLoadLocation hook in LoadLocationScene
  packages/client-core/src/components/World/LoadLocationScene.tsx
Owners: @speigg

refactor: Add LoadingView component to Select dropdown (#145)
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix: Rename `NoiseOffsetPlugin` to match the engine naming convention
  packages/spatial/src/renderer/materials/MaterialComponent.ts
  packages/spatial/src/renderer/materials/constants/plugins/NoiseOffsetPlugin.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
