Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

update implementation per Josh's request
  packages/editor/src/panels/hierarchy/hooks.tsx
Owners: @dinomut1, @aditya-mitra

fix texture scrambling
  packages/engine/src/assets/compression/extensions/EE_MaterialTransformer.ts
Owners: @MichaelEstes, @dinomut1, @speigg

update publish button
  packages/client-core/i18n/en/editor.json
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @aditya-mitra, @hanzlamateen

Generate thumbnail from viewport camera instead of scene preview camera, Connect generate thumbnail to on save and on publish buttons
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/editor/src/functions/sceneFunctions.tsx
  packages/editor/src/functions/takeScreenshot.ts
  packages/editor/src/panels/scenes/SceneItem.tsx
  packages/editor/src/services/SceneThumbnailState.tsx
Owners: @hanzlamateen, @SYBIOTE, @dinomut1, @aditya-mitra

Replace execa with spawn
  packages/server-core/src/media/storageprovider/gcs.storage.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Disable WebXR XRUIs and Fix Immersive Media
  packages/client-core/src/components/World/LoadLocationScene.tsx
  packages/client-core/src/systems/AvatarUISystem.tsx
  packages/client-core/src/systems/WarningUISystem.tsx
  packages/client-core/src/systems/WidgetUISystem.tsx
  packages/client-core/src/systems/ui/AvatarDetailView/index.scss
  packages/client-core/src/systems/ui/AvatarDetailView/index.tsx
Owners: @speigg, @aditya-mitra

format
  packages/client-core/src/components/World/LoadLocationScene.tsx
  packages/client-core/src/systems/WarningUISystem.tsx
  packages/client-core/src/systems/WidgetUISystem.tsx
Owners: @speigg, @aditya-mitra

optimize base ecs execution memory usage
  packages/client-core/src/components/Debug/index.tsx
  packages/ecs/src/EngineFunctions.ts
  packages/ecs/src/Timer.ts
  packages/ecs/src/bitecsLegacy.ts
  packages/spatial/src/renderer/LightTransformSystem.ts
  packages/spatial/src/startTimer.ts
Owners: @aditya-mitra, @speigg, @AidanCaruso, @DanielBelmes, @MichaelEstes, @MbfloydIR, @SamMazerIR

fix errors due to now-redundant prototype definition name
  packages/spatial/src/renderer/materials/prototypes/MeshPhysicalMaterial.mat.ts
  packages/spatial/src/renderer/materials/prototypes/MeshToonMaterial.mat.ts
  packages/spatial/src/renderer/materials/prototypes/ShaderMaterial.mat.ts
  packages/spatial/src/renderer/materials/prototypes/ShadowMaterial.mat.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

more system optimizations
  packages/client-core/src/systems/WidgetAppService.ts
  packages/common/src/recording/ECSRecordingSystem.ts
  packages/ecs/src/EngineFunctions.ts
  packages/editor/src/systems/TransformGizmoSystem.ts
  packages/engine/src/avatar/systems/AvatarInputSystem.ts
  packages/engine/src/visualscript/systems/VisualScriptSystem.ts
  packages/hyperflux/src/functions/ActionFunctions.ts
  packages/network/src/systems/IncomingNetworkSystem.ts
  packages/spatial/src/input/components/InputComponent.ts
  packages/spatial/src/input/functions/ClientInputFunctions.ts
  packages/spatial/src/input/functions/ClientInputHeuristics.ts
  packages/spatial/src/input/systems/ClientInputSystem.tsx
  packages/spatial/src/physics/systems/PhysicsSystem.tsx
  packages/spatial/src/xr/8thwall/XR8.ts
  packages/spatial/src/xr/VPSSystem.ts
  packages/spatial/src/xr/XRAnchorSystem.tsx
  packages/spatial/src/xr/XRCameraSystem.ts
  packages/spatial/src/xr/XRPersistentAnchorSystem.ts
  packages/spatial/src/xr/XRSessionFunctions.ts
  packages/spatial/src/xr/XRState.ts
  packages/spatial/src/xr/XRSystem.ts
  packages/spatial/src/xrui/systems/XRUISystem.ts
Owners: @aditya-mitra, @HexaField, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @heysokam, @SamMazerIR, @MbfloydIR

add deserialization of scene deltas remove hashes from delta source ids
  packages/ecs/src/SceneDeltaState.tsx
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/gltf/SceneDeltaExporterExtension.ts
  packages/engine/src/gltf/exportGLTFScene.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @dinomut1

fix crash on enter wizard from editor
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

lazily load mediasoup client
  packages/client-core/src/transports/mediasoup/MediasoupClientFunctions.ts
  packages/client-core/src/transports/mediasoup/MediasoupDataChannelSystem.tsx
Owners: @aditya-mitra

fix material functions test
  packages/spatial/src/renderer/materials/materialFunctions.test.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

cleanup logs
  packages/editor/src/functions/getIntersectingNode.ts
Owners: @SYBIOTE

format, fix tests
  packages/client-core/src/systems/WidgetAppService.ts
  packages/common/src/recording/ECSRecordingSystem.ts
  packages/editor/src/systems/TransformGizmoSystem.ts
  packages/engine/src/visualscript/systems/VisualScriptSystem.ts
  packages/spatial/src/xr/8thwall/XR8.ts
  packages/spatial/src/xr/VPSSystem.ts
  packages/spatial/src/xr/XRCameraSystem.ts
  packages/spatial/src/xr/XRPersistentAnchorSystem.ts
  packages/spatial/src/xr/XRSessionFunctions.test.ts
  packages/spatial/src/xr/XRState.test.ts
Owners: @aditya-mitra, @HexaField, @dinomut1, @AidanCaruso, @MichaelEstes, @speigg, @MbfloydIR, @SamMazerIR

exclude toon too
  packages/engine/src/scene/systems/EnvironmentSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

cleanup
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

fix and improve change to actions, fix test
  packages/hyperflux/src/functions/ActionFunctions.ts
  packages/spatial/src/xr/XRSessionFunctions.test.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

editor test bug fix
  packages/editor/src/systems/TransformGizmoSystem.ts
Owners: @dinomut1, @aditya-mitra

small opt
  packages/network/src/systems/IncomingNetworkSystem.ts
Owners: @speigg

remove commented assignMaterial function
  packages/spatial/src/renderer/materials/materialFunctions.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

Update packages/ui/src/components/editor/properties/trigger/index.tsx
  packages/ui/src/components/editor/properties/trigger/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Update packages/ui/src/components/editor/properties/trigger/index.tsx
  packages/ui/src/components/editor/properties/trigger/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Clean up P2P media abstractions
  packages/client-core/src/components/MediaIconsBox/index.tsx
  packages/client-core/src/media/webcam/WebcamInput.ts
  packages/client-core/src/networking/NetworkInstanceProvisioning.tsx
  packages/client-core/src/systems/AvatarUISystem.tsx
  packages/client-core/src/systems/PositionalAudioSystem.tsx
  packages/client-core/src/systems/ui/RecordingsWidgetUI.tsx
  packages/client-core/src/systems/ui/WidgetMenuView/index.tsx
  packages/client-core/src/transports/mediasoup/MediasoupClientFunctions.ts
  packages/client-core/src/transports/mediasoup/MediasoupMediaTracksSystem.tsx
  packages/client-core/src/transports/mediasoup/MediasoupPeerMediaConsumersSystem.tsx
  packages/client-core/src/transports/p2p/PeerToPeerNetworkState.tsx
  packages/client-core/src/user/VideoWindows/index.tsx
  packages/client-core/src/user/VideoWindows/window.tsx
  packages/network/index.ts
  packages/network/src/media/MediaStreamState.ts
  packages/network/src/media/PeerMediaChannelState.ts
  packages/network/src/webrtc/WebRTCPeerConnection.tsx
  packages/network/src/webrtc/useWebRTCPeerConnection.ts
  packages/ui/src/pages/Capture/index.tsx
Owners: @aditya-mitra, @speigg, @SYBIOTE, @CITIZENDOT

import fixes
  packages/ui/src/components/Chat/Message.tsx
  packages/ui/src/components/Chat/VideoCall.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix bug with undoing the initial snapshot, and don't dispatch undo/redo if there are none left to undo/redo
  packages/editor/src/services/EditorHistoryState.tsx
  packages/editor/src/systems/EditorControlSystem.ts
Owners: @dinomut1, @aditya-mitra

switch between the stick and basepad for joystick
  packages/client-core/src/common/components/TouchGamepad/index.tsx
Owners: @aditya-mitra

guest profile menu corrections
  packages/client-core/src/user/menus/ProfileMenu.tsx
  packages/ui/src/primitives/tailwind/Checkbox/index.tsx
  packages/ui/src/primitives/tailwind/Input/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

instance chat corrections
  packages/client-core/src/user/InstanceChat.tsx
Owners: @aditya-mitra

decrease joystick's controller size
  packages/client-core/src/common/components/TouchGamepad/index.tsx
Owners: @aditya-mitra

emote menu corrections
  packages/client-core/src/user/menus/EmoteMenu.tsx
Owners: @aditya-mitra

share menu corrections
  packages/client-core/i18n/en/user.json
  packages/client-core/src/user/menus/ShareMenu.tsx
Owners: @aditya-mitra

audio tab corrections
  packages/client-core/src/user/components/BlockSlider.tsx
  packages/client-core/src/user/menus/SettingsMenu.tsx
Owners: @aditya-mitra

graphics tab corrections
  packages/client-core/src/user/menus/SettingsMenu.tsx
Owners: @aditya-mitra

changed the childEntities use back to a useQuery to fix issues
  packages/editor/src/panels/hierarchy/hooks.tsx
Owners: @dinomut1, @aditya-mitra

save menu component to menu state
  packages/client-core/src/user/menus/index.tsx
  packages/client-core/src/util/ViewerMenuState.tsx
Owners: @aditya-mitra

mt-int in deploy/build_and_publish
  scripts/build_and_publish_package.sh
  scripts/deploy.sh
Owners: @barankyle, @hanzlamateen, @DanielBelmes

updated the shadow system to not use the primary light as the active light if its visible component is missing
  packages/engine/src/scene/systems/ShadowSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

move shoping cart to the top right and revert location menus
  packages/client-core/src/components/ViewerInteractions/index.tsx
  packages/client-core/src/user/menus/index.tsx
Owners: @aditya-mitra
