Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

replace with proper sized ir icons
  packages/client-core/src/common/components/AvatarPreview/index.tsx
  packages/ui/icona.json
  packages/ui/src/icons/files/MouseLeftClickLg.tsx
  packages/ui/src/icons/files/MouseLeftClickMd.tsx
  packages/ui/src/icons/files/MouseLeftClickSm.tsx
  packages/ui/src/icons/files/MouseLg.tsx
  packages/ui/src/icons/files/MouseMd.tsx
  packages/ui/src/icons/files/MouseRightClickLg.tsx
  packages/ui/src/icons/files/MouseRightClickMd.tsx
  packages/ui/src/icons/files/MouseRightClickSm.tsx
  packages/ui/src/icons/files/MouseSm.tsx
  packages/ui/src/icons/index.ts
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

remove typing for styled components
  packages/ui/package.json
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fixup
  packages/server-core/src/createApp.ts
  packages/server-core/src/media/storageprovider/gcs.storage.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fixup
  packages/server-core/src/createApp.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Set dirty flag when creating rigidbody
  packages/spatial/src/physics/classes/Physics.ts
Owners: @heysokam

fixup
  dockerfiles/builder/Dockerfile-builder
  packages/server-core/src/createApp.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fixup
  packages/server-core/src/createApp.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix validation to check if a folder is moved to the same folder
  packages/editor/src/panels/files/helpers.tsx
  packages/server-core/src/media/file-browser/file-browser.class.ts
  packages/server-core/src/media/file-browser/file-browser.test.ts
Owners: @dinomut1, @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

debug
  .github/workflows/branch-build.yml
Owners: @DanielBelmes

debug
  .github/workflows/branch-build.yml
Owners: @DanielBelmes

debug
  .github/workflows/branch-build.yml
Owners: @DanielBelmes

debug
  .github/workflows/branch-build.yml
Owners: @DanielBelmes

debug
  packages/server-core/src/createApp.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

debug
  .github/workflows/branch-build.yml
Owners: @DanielBelmes

debug
  .github/workflows/branch-build.yml
Owners: @DanielBelmes

fixed issue with the selection tool when mouse pointer up happens off the view port
  packages/editor/src/panels/viewport/tools/SelectionBoxTool.tsx
Owners: @dinomut1, @aditya-mitra

debug
  .github/workflows/branch-build.yml
Owners: @DanielBelmes

debug
  .github/workflows/branch-build.yml
Owners: @DanielBelmes

debug
  .github/workflows/branch-build.yml
Owners: @DanielBelmes

debug
  .github/workflows/branch-build.yml
Owners: @DanielBelmes

debug
  .github/workflows/branch-build.yml
Owners: @DanielBelmes

debug
  .github/workflows/branch-build.yml
Owners: @DanielBelmes

debug
  .github/workflows/branch-build.yml
Owners: @DanielBelmes

debug
  .github/workflows/branch-build.yml
Owners: @DanielBelmes

debug
  .github/workflows/branch-build.yml
Owners: @DanielBelmes

Update ResourceState.tsx
  packages/spatial/src/resources/ResourceState.tsx
Owners: @MichaelEstes

Set flag on rigid body intialization
  packages/spatial/src/physics/classes/Physics.ts
  packages/spatial/src/physics/components/RigidBodyComponent.tsx
Owners: @heysokam

envmaps update in tandem with the skybox
  packages/engine/src/scene/systems/EnvironmentSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

remove console log
  packages/engine/src/scene/systems/EnvironmentSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Tests
  packages/spatial/src/physics/integration.test.ts
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.test.ts
Owners: @heysokam

Update ResourceState.tsx
  packages/spatial/src/resources/ResourceState.tsx
Owners: @MichaelEstes

fix studio icon sizes
  packages/editor/src/functions/gizmos/studioIconGizmoHelper.ts
  packages/editor/src/systems/ActiveHelperSystem.ts
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

move regex to regex file and add tests
  packages/common/src/regex/index.ts
  packages/common/tests/regex.test.ts
  packages/server-core/src/media/file-browser/file-browser.class.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

add back assert
  packages/common/tests/regex.test.ts
Owners: @HexaField

updated the editor input and editor nodes for the video and audio
  packages/ui/src/components/editor/properties/audio/general/index.tsx
  packages/ui/src/components/editor/properties/audio/positional/index.tsx
  packages/ui/src/components/editor/properties/media/index.tsx
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix world injection race condition
  packages/client/src/pages/location/location.tsx
Owners: @barankyle, @aditya-mitra

fix for saving new entities to prefabs
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/engine/src/gltf/exportGLTFScene.ts
Owners: @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1

corrected issue with missing video editor node ui
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

removed the general audio component and it's node editor, to use the media component and its node editor for audio instead
  packages/editor/src/functions/addMediaNode.ts
  packages/editor/src/services/ComponentEditors.tsx
  packages/editor/src/services/ComponentShelfCategoriesState.ts
  packages/engine/src/audio/components/GeneralAudioComponent.ts
  packages/engine/src/audio/components/PositionalAudioComponent.ts
  packages/engine/src/scene/components/MediaComponent.ts
  packages/ui/src/components/editor/properties/audio/general/index.tsx
  packages/ui/src/components/editor/properties/media/index.tsx
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra, @speigg, @CITIZENDOT, @AidanCaruso

fixed issue with loopEntity name
  packages/ui/src/components/editor/properties/media/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
