Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

add test for avatar spawn system
  packages/client-core/src/networking/AvatarSpawnSystem.test.tsx
Owners: @aditya-mitra

fixed banned message
  packages/client-core/i18n/en/user.json
Owners: @aditya-mitra

format
  packages/client-core/src/networking/AvatarSpawnSystem.test.tsx
Owners: @aditya-mitra

fix error with scene deltas when exporting scenes with procedurally defined entities
  packages/engine/src/gltf/SceneDeltaExporterExtension.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

Fix radio colors
  packages/ui/src/primitives/tailwind/Radio/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

use group modifiers
  packages/ui/src/primitives/tailwind/Radio/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Add partial matching support for ID column in search for moderation
  packages/client-core/src/admin/components/moderation/ModerationTable.tsx
  packages/common/src/schemas/moderation/moderation.schema.ts
  packages/server-core/src/moderation/moderation/moderation.hooks.ts
Owners: @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

Added isValidId method
  packages/client-core/src/admin/components/avatar/AvatarTable.tsx
  packages/client-core/src/admin/components/channel/ChannelTable.tsx
  packages/client-core/src/admin/components/instance/InstanceTable.tsx
  packages/client-core/src/admin/components/invites/InviteTable.tsx
  packages/client-core/src/admin/components/locations/LocationTable.tsx
  packages/client-core/src/admin/components/moderation/ModerationBanTable.tsx
  packages/client-core/src/admin/components/moderation/ModerationTable.tsx
  packages/client-core/src/admin/components/recordings/RecordingsTable.tsx
  packages/client-core/src/social/services/InviteService.ts
  packages/common/src/regex/index.ts
  packages/common/src/utils/isValidId.ts
  packages/common/tests/regex.test.ts
  packages/server-core/src/media/file-browser/file-browser.class.ts
  packages/server-core/src/media/static-resource/static-resource.hooks.ts
  packages/server-core/src/networking/instance-provision/instance-provision.class.ts
  packages/server-core/src/networking/instance/instance.ts
  packages/server-core/src/projects/project-permission/project-permission.hooks.ts
  packages/server-core/src/projects/project/project-helper.ts
  packages/server-core/src/projects/project/project.hooks.ts
  packages/server-core/src/route/route/route.ts
  packages/server-core/src/social/channel-user/channel-user.hooks.ts
  packages/server-core/src/social/invite/invite.hooks.ts
  packages/server-core/src/social/location/location.hooks.ts
  packages/server-core/src/user/accept-invite/accept-invite.class.ts
  packages/server-core/src/user/avatar/avatar.hooks.ts
  packages/server-core/src/user/github-repo-access-refresh/github-repo-access-refresh.class.ts
  packages/server-core/src/user/identity-provider/identity-provider.hooks.ts
  packages/server-core/src/user/identity-provider/identity-provider.test.ts
  packages/server-core/src/user/login/login.class.ts
  packages/server-core/src/user/strategies/apple.ts
  packages/server-core/src/user/strategies/discord.ts
  packages/server-core/src/user/strategies/facebook.ts
  packages/server-core/src/user/strategies/github.ts
  packages/server-core/src/user/strategies/google.ts
  packages/server-core/src/user/strategies/linkedin.ts
  packages/server-core/src/user/strategies/twitter.ts
  packages/server-core/src/user/user-relationship/user-relationship.hooks.ts
  packages/server-core/src/util/updateAvatarRecords.ts
Owners: @hanzlamateen, @aditya-mitra, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen

Added header
  packages/common/src/utils/isValidId.ts
Owners: @HexaField

Moved query to client
  packages/client-core/src/admin/components/moderation/ModerationTable.tsx
  packages/server-core/src/moderation/moderation/moderation.hooks.ts
Owners: @hanzlamateen, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

Fix debug menu colors
  packages/client-core/src/components/Debug/APIDebug.tsx
  packages/client-core/src/components/Debug/DebugButtons.tsx
  packages/client-core/src/components/Debug/EntityDebug.tsx
  packages/client-core/src/components/Debug/ReactorDebug.tsx
  packages/client-core/src/components/Debug/ResourceDebug.tsx
  packages/client-core/src/components/Debug/StateDebug.tsx
  packages/client-core/src/components/Debug/StatsPanel.tsx
  packages/client-core/src/components/Debug/SystemDebug.tsx
  packages/ui/src/primitives/tailwind/Tabs/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

moved the refresh reaction to the thumbnail job state to a context level to react better to it
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

fix auto foxu
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add optional acceptedFileTypes prop to uploadImageFile
  packages/editor/src/functions/assetFunctions.ts
Owners: @SYBIOTE

fix(locations): create a separate const for the scenes options
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

fix(locations): display the correct scenes by user access
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

fix(ui): select - update the display text when the options change
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fixup
  packages/client-core/src/admin/components/moderation/ModerationTable.tsx
Owners: @hanzlamateen

IR-7748: Changes to introduce privacy policy based on projects
  packages/ui/src/components/tailwind/InputDialog/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

move banned route from custom router to xrengine.config.ts
  packages/client/src/route/CustomRouter.tsx
  packages/projects/default-project/projectEventHooks.ts
  packages/projects/default-project/xrengine.config.ts
Owners: @barankyle, @aditya-mitra, @HexaField

Enhance UserSearchInput with input change handling and adjust debounce timing
  packages/client-core/src/admin/components/moderation/common/UserSearchInput.tsx
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @hanzlamateen, @aditya-mitra, @SYBIOTE, @CITIZENDOT

IR-6448 Fix moderation status filter
  packages/client-core/i18n/en/admin.json
  packages/client-core/src/admin/components/moderation/ModerationTable.tsx
Owners: @aditya-mitra, @hanzlamateen

updated asset hooks to fetch all assets needed on a force refresh
  packages/editor/src/panels/assets/hooks.tsx
Owners: @dinomut1, @aditya-mitra

removed dev logs and the need to set the staticResourcesPagination.skip to 0 to force a refresh
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

Hardened clientDbToSchema to account for different ways JSON is stored
  packages/common/src/schemas/setting/client-setting.schema.ts
Owners: @HexaField

fix: quit to dashboard crash
  packages/editor/src/panels/viewport/tools/SelectionBoxTool.tsx
Owners: @dinomut1, @aditya-mitra

Instead of throwing an error when it encounters an InterleavedBufferAttribute, the exportGLTFScene function now represents it with a deinterleaved clone.
  packages/engine/src/gltf/exportGLTFScene.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

Add Rooms category for old templates
  packages/editor/src/services/AssetPanelCategoriesState.ts
Owners: @dinomut1, @aditya-mitra

revert gltf loader setting all skinned meshes to avatar layer
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

Updated props
  packages/ui/src/components/tailwind/InputDialog/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

wip - updates to thumbnail job state
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
Owners: @aditya-mitra

removed unneeded tag set
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

removed dicey query refetch
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
Owners: @aditya-mitra

trim out unused/duplicated animations
  packages/projects/default-project/assets/animations/emotes.glb
  packages/projects/default-project/assets/animations/locomotion.glb
Owners: @HexaField

oops
  packages/projects/default-project/assets/animations/emotes.glb
Owners: @HexaField

shrink locomotion
  packages/projects/default-project/assets/animations/locomotion.glb
Owners: @HexaField

improve clavicles
  packages/projects/default-project/assets/animations/locomotion.glb
Owners: @HexaField

remove prop types
  packages/client-core/src/systems/ui/LoadingDetailView/SimpleProgressBar.tsx
Owners: @aditya-mitra

sleep infinity for debugging
  dockerfiles/builder/Dockerfile-builder
Owners: @barankyle

reduce spacing between close button and chat bar
  packages/client-core/src/user/InstanceChat.tsx
Owners: @aditya-mitra
