Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

IR-4299 Toast notification when scene saves successfully (#264)
  packages/client-core/i18n/en/editor.json
  packages/editor/src/components/dialogs/SaveSceneDialog.tsx
Owners: @aditya-mitra, @dinomut1

Improve file drop size (#222)
  packages/editor/src/panels/files/filebrowser.tsx
Owners: @dinomut1, @aditya-mitra

Update packages/engine/src/scene/constants/SceneConstants.ts
  packages/engine/src/scene/constants/SceneConstants.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

adjust limit to not afffect file icons
  packages/editor/src/panels/files/fileicon.tsx
  packages/ui/src/components/editor/panels/Assets/container/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

bug fixes with provisioning and media streams
  packages/client-core/src/common/services/LocationInstanceConnectionService.ts
  packages/client-core/src/networking/NetworkInstanceProvisioning.tsx
  packages/client-core/src/transports/p2p/PeerToPeerNetworkState.tsx
  packages/network/src/webrtc/WebRTCTransportFunctions.ts
  packages/server-core/src/networking/instance-provision/instance-provision.class.ts
  packages/server-core/src/networking/instance-signaling/instance-signaling.ts
Owners: @aditya-mitra, @speigg, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

updated the editor keys used for the look at name and description (#259)
  packages/ui/src/components/editor/properties/lookAt/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

updated the tailwind css for the create prefab tag delete button (#250)
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
Owners: @dinomut1, @aditya-mitra

refactor materials panel (#256)
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/panels/materials/helpers.tsx
  packages/editor/src/panels/materials/index.tsx
  packages/editor/src/panels/materials/layernode.tsx
  packages/editor/src/panels/materials/materialpreviewer.tsx
  packages/ui/src/components/editor/panels/Materials/container/index.tsx
  packages/ui/src/components/editor/panels/Materials/index.stories.tsx
  packages/ui/src/components/editor/panels/Materials/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

studio: update browser detection (#241)
  packages/client-core/i18n/en/editor.json
  packages/editor/src/functions/browserCheck.ts
  packages/editor/src/pages/EditorPage.tsx
  packages/editor/src/services/EditorServices.ts
Owners: @aditya-mitra, @SYBIOTE, @dinomut1

Refactor Table component to fix sticky header issue
  packages/ui/src/primitives/tailwind/Table/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Fix table overlap with input component in rows (#267)
  packages/ui/src/primitives/tailwind/Table/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

IR-4564: Close sceneItem panel on click (#253)
  packages/editor/src/panels/scenes/SceneItem.tsx
Owners: @dinomut1, @aditya-mitra

remove ui editor settings folder
  packages/ui/src/components/editor/settings/import/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

working on pausing media tracks
  packages/client-core/src/components/UserMediaWindow/index.tsx
  packages/client-core/src/networking/NetworkInstanceProvisioning.tsx
  packages/client-core/src/transports/mediasoup/MediasoupClientFunctions.ts
  packages/client-core/src/transports/mediasoup/MediasoupMediaChannelSystem.tsx
  packages/client-core/src/transports/mediasoup/MediasoupMediaTracksSystem.tsx
  packages/client-core/src/transports/mediasoup/MediasoupPeerMediaConsumersSystem.tsx
  packages/client-core/src/transports/p2p/PeerToPeerNetworkState.tsx
  packages/common/src/transports/mediasoup/MediasoupMediaProducerConsumerState.tsx
  packages/hyperflux/src/functions/ActionFunctions.ts
  packages/network/src/Network.ts
  packages/network/src/webrtc/WebRTCTransportFunctions.ts
  packages/server-core/src/networking/instance-signaling/instance-signaling.ts
  packages/ui/src/components/Chat/VideoCall.tsx
Owners: @aditya-mitra, @HexaField, @speigg, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @SYBIOTE, @CITIZENDOT

refactor visual script to editor
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/panels/VisualScript/autosizeinput.tsx
  packages/editor/src/panels/VisualScript/container/ReactFlowStyle.css
  packages/editor/src/panels/VisualScript/container/index.tsx
  packages/editor/src/panels/VisualScript/controls/index.tsx
  packages/editor/src/panels/VisualScript/flow.tsx
  packages/editor/src/panels/VisualScript/index.tsx
  packages/editor/src/panels/VisualScript/modals/clear.tsx
  packages/editor/src/panels/VisualScript/modals/help.tsx
  packages/editor/src/panels/VisualScript/modals/index.tsx
  packages/editor/src/panels/VisualScript/modals/load.tsx
  packages/editor/src/panels/VisualScript/modals/save.tsx
  packages/editor/src/panels/VisualScript/node/index.tsx
  packages/editor/src/panels/VisualScript/node/picker.tsx
  packages/editor/src/panels/VisualScript/node/socket/input.tsx
  packages/editor/src/panels/VisualScript/node/socket/output.tsx
  packages/editor/src/panels/VisualScript/sidepanel.tsx
  packages/editor/src/panels/VisualScript/util/colors.ts
  packages/ui/src/components/editor/panels/VisualScript/modals/save/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

rename folder name
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/components/visualScript/hooks/useCustomNodeTypes.tsx
  packages/editor/src/panels/VisualScript/controls/index.tsx
  packages/editor/src/panels/VisualScript/flow.tsx
  packages/editor/src/panels/VisualScript/modals/index.tsx
  packages/editor/src/panels/VisualScript/modals/load.tsx
  packages/editor/src/panels/VisualScript/modals/save.tsx
  packages/editor/src/panels/VisualScript/node/index.tsx
  packages/editor/src/panels/VisualScript/node/picker.tsx
  packages/editor/src/panels/VisualScript/node/socket/input.tsx
  packages/editor/src/panels/VisualScript/node/socket/output.tsx
  packages/editor/src/panels/VisualScript/sidepanel.tsx
Owners: @dinomut1, @aditya-mitra

import corrections
  packages/editor/src/panels/VisualScript/controls/index.tsx
  packages/editor/src/panels/VisualScript/flow.tsx
  packages/editor/src/panels/VisualScript/modals/index.tsx
  packages/editor/src/panels/VisualScript/modals/save.tsx
  packages/editor/src/panels/VisualScript/node/index.tsx
  packages/editor/src/panels/VisualScript/node/picker.tsx
  packages/editor/src/panels/VisualScript/node/socket/input.tsx
  packages/editor/src/panels/VisualScript/node/socket/output.tsx
Owners: @dinomut1, @aditya-mitra

correction in editorcontainer
  packages/editor/src/components/EditorContainer.tsx
Owners: @dinomut1, @aditya-mitra

rename folder
  packages/editor/src/panels/visualscript/autosizeinput.tsx
  packages/editor/src/panels/visualscript/container/ReactFlowStyle.css
  packages/editor/src/panels/visualscript/container/index.tsx
  packages/editor/src/panels/visualscript/controls/index.tsx
  packages/editor/src/panels/visualscript/flow.tsx
  packages/editor/src/panels/visualscript/index.tsx
  packages/editor/src/panels/visualscript/modals/clear.tsx
  packages/editor/src/panels/visualscript/modals/help.tsx
  packages/editor/src/panels/visualscript/modals/index.tsx
  packages/editor/src/panels/visualscript/modals/load.tsx
  packages/editor/src/panels/visualscript/modals/save.tsx
  packages/editor/src/panels/visualscript/node/index.tsx
  packages/editor/src/panels/visualscript/node/picker.tsx
  packages/editor/src/panels/visualscript/node/socket/input.tsx
  packages/editor/src/panels/visualscript/node/socket/output.tsx
  packages/editor/src/panels/visualscript/sidepanel.tsx
  packages/editor/src/panels/visualscript/util/colors.ts
Owners: @dinomut1, @aditya-mitra

move visualscript components to panels
  packages/editor/src/components/visualScript/VisualScriptUIModule.ts
  packages/editor/src/panels/visualscript/controls/index.tsx
  packages/editor/src/panels/visualscript/flow.tsx
  packages/editor/src/panels/visualscript/hooks/index.ts
  packages/editor/src/panels/visualscript/hooks/useChangeNode.ts
  packages/editor/src/panels/visualscript/hooks/useCustomNodeTypes.tsx
  packages/editor/src/panels/visualscript/hooks/useFlowHandlers.ts
  packages/editor/src/panels/visualscript/hooks/useMergeMap.ts
  packages/editor/src/panels/visualscript/hooks/useModifyNodeSocket.ts
  packages/editor/src/panels/visualscript/hooks/useNodeSpecGenerator.ts
  packages/editor/src/panels/visualscript/hooks/useOnPressKey.ts
  packages/editor/src/panels/visualscript/hooks/useQueriableDefinitions.ts
  packages/editor/src/panels/visualscript/hooks/useSelectionHandler.ts
  packages/editor/src/panels/visualscript/hooks/useTemplateHandler.ts
  packages/editor/src/panels/visualscript/hooks/useVariableHandler.ts
  packages/editor/src/panels/visualscript/hooks/useVisualScriptFlow.ts
  packages/editor/src/panels/visualscript/modals/index.tsx
  packages/editor/src/panels/visualscript/modals/save.tsx
  packages/editor/src/panels/visualscript/node/index.tsx
  packages/editor/src/panels/visualscript/node/picker.tsx
  packages/editor/src/panels/visualscript/node/socket/input.tsx
  packages/editor/src/panels/visualscript/node/socket/output.tsx
  packages/editor/src/panels/visualscript/sidepanel.tsx
  packages/editor/src/panels/visualscript/transformers/VisualToFlow.ts
  packages/editor/src/panels/visualscript/transformers/flowToVisual.ts
  packages/editor/src/panels/visualscript/transformers/index.ts
  packages/editor/src/panels/visualscript/util/autoLayout.ts
  packages/editor/src/panels/visualscript/util/calculateNewEdge.ts
  packages/editor/src/panels/visualscript/util/getPickerFilters.ts
  packages/editor/src/panels/visualscript/util/getSocketsByNodeTypeAndHandleType.ts
  packages/editor/src/panels/visualscript/util/hasPositionMetaData.ts
  packages/editor/src/panels/visualscript/util/isHandleConnected.ts
  packages/editor/src/panels/visualscript/util/isValidConnection.ts
Owners: @dinomut1, @aditya-mitra

license
  packages/editor/src/panels/visualscript/hooks/index.ts
  packages/editor/src/panels/visualscript/transformers/index.ts
Owners: @dinomut1, @aditya-mitra

added properties editors
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/panels/properties/elementlist.tsx
  packages/editor/src/panels/properties/index.tsx
  packages/editor/src/panels/properties/materialeditor.tsx
  packages/editor/src/panels/properties/propertyeditor.tsx
Owners: @dinomut1, @aditya-mitra

remove old files
  packages/editor/src/panels/hierarchy/hierarchytree.tsx
  packages/ui/src/components/editor/panels/Properties/container/index.stories.tsx
  packages/ui/src/components/editor/panels/Properties/container/index.tsx
  packages/ui/src/components/editor/panels/Properties/elementList/index.tsx
  packages/ui/src/components/editor/panels/Properties/index.stories.tsx
  packages/ui/src/components/editor/panels/Properties/index.tsx
  packages/ui/src/components/editor/panels/Properties/material/index.tsx
  packages/ui/src/components/editor/properties/mesh/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

remove `react-virtualized-auto-sizer` dependency
  packages/editor/package.json
  packages/editor/src/panels/visualscript/container/index.tsx
  packages/editor/src/panels/visualscript/index.tsx
Owners: @dinomut1, @aditya-mitra

max user -> 10
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/server-core/src/matchmaking/match-instance/match-instance.test.ts
  packages/server-core/src/social/location/location-helper.ts
  packages/server-core/src/social/location/location.resolvers.ts
  packages/server-core/src/social/location/location.test.ts
  packages/server-core/tests/util/createTestLocation.ts
Owners: @hanzlamateen, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

added the target _blank to the privacy policy link also
  packages/client-core/src/user/components/UserMenu/menus/ProfileMenu.tsx
Owners: @aditya-mitra

added the assets panel folder
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/panels/assets/index.tsx
Owners: @dinomut1, @aditya-mitra

refactor hierarchy tree walker into hierarchy panel
  packages/editor/src/components/hierarchy/HierarchyTreeWalker.ts
  packages/editor/src/panels/hierarchy/helpers.ts
Owners: @dinomut1, @aditya-mitra

open TOS link in a new tab (#258)
  packages/client-core/src/user/components/UserMenu/menus/ProfileMenu.tsx
Owners: @aditya-mitra

fix imports
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
  packages/editor/src/panels/hierarchy/hooks.tsx
Owners: @dinomut1, @aditya-mitra

feat(ui): create the mui alert component
  packages/ui/src/primitives/mui/Alert/Alert.test.tsx
  packages/ui/src/primitives/mui/Alert/index.stories.tsx
  packages/ui/src/primitives/mui/Alert/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

wip
  packages/spatial/src/transform/components/EntityTree.tsx
  packages/xrui/core/WebLayer.ts
  packages/xrui/core/components/LayoutComponent.test.ts
  packages/xrui/core/components/LayoutComponent.tsx
Owners: @SamMazerIR, @speigg

cpal
  packages/client-core/src/common/iframeCOM.ts
Owners: @aditya-mitra

feat: added group id to mailchimp settings
  .env.local.default
  packages/client-core/i18n/en/admin.json
  packages/client-core/src/admin/components/settings/tabs/mailchimp.tsx
  packages/common/src/schemas/setting/mailchimp-setting.schema.ts
  packages/server-core/src/appconfig.ts
  packages/server-core/src/setting/mailchimp-setting/mailchimp-setting.seed.ts
  packages/server-core/src/setting/mailchimp-setting/migrations/20240918171647_mailchimpGroupId.ts
Owners: @HexaField, @aditya-mitra, @hanzlamateen, @barankyle, @MoizAdnan, @hurairahmateen

Update auth polling, tighten iframeCom api, tighten invalid Domain handling
  packages/client-core/src/common/iframeCOM.ts
  packages/client-core/src/user/services/AuthService.ts
  packages/client-core/src/util/wait-for-client-authenticated.ts
  packages/client/public/root-cookie-accessor-template.html
  packages/client/src/store.tsx
Owners: @aditya-mitra, @barankyle

fix name and one bug
  packages/client-core/src/user/services/AuthService.ts
Owners: @aditya-mitra

tst: Physics Integration Tests (phase 1)
  packages/spatial/src/physics/integration.test.ts
Owners: @heysokam

tst: Unit Tests for `LookAtComponents.ts`
  packages/spatial/src/transform/components/LookAtComponent.test.ts
Owners: @SamMazerIR

tst: Sketch for `TransformComponent.ts` unit tests
  packages/spatial/src/transform/components/TransformComponent.test.tsx
Owners: @SamMazerIR

auto truncate file name when bulk uploading (#257)
  packages/editor/src/functions/assetFunctions.ts
Owners: @SYBIOTE

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
