Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

remove unrelated classes (because they're not in tailwind config yet)
  packages/ui/src/primitives/tailwind/Modal/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Add Modal animations
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/client-core/src/user/menus/ProfileMenu.tsx
  packages/client-core/src/user/menus/SettingsMenu.tsx
  packages/client-core/src/user/menus/ShareMenu.tsx
  packages/ui/src/primitives/tailwind/Modal/index.tsx
  tailwind.config.js
Owners: @hanzlamateen, @aditya-mitra, @SYBIOTE, @CITIZENDOT, @HexaField

more renaming
  packages/ui/src/components/editor/properties/overlay/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

make axis line for all entities
  packages/editor/src/systems/ActiveHelperSystem.ts
Owners: @dinomut1, @aditya-mitra

Add support for Modal header icon
  packages/client/public/iR-logo-Modal-dark.png
  packages/client/public/iR-logo-Modal-light.png
  packages/ui/src/primitives/tailwind/Alert/index.tsx
  packages/ui/src/primitives/tailwind/Modal/index.tsx
Owners: @barankyle, @aditya-mitra, @SYBIOTE, @CITIZENDOT

proper initialization of SSREffect and SSGIEffect as far as I can tell
  packages/engine/src/postprocessing/SSGIEffect.tsx
  packages/engine/src/postprocessing/SSREffect.tsx
Owners: @DanielBelmes, @MbfloydIR

fix text
  packages/client-core/i18n/en/editor.json
Owners: @aditya-mitra

fix type
  packages/client-core/src/user/UserUISystem.tsx
  packages/client-core/src/user/menus/avatar/EmbedFrame.tsx
  packages/engine/src/scene/components/OverlayComponent.ts
Owners: @aditya-mitra, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix(admin): remove duplicate scroll
  packages/client-core/src/admin/adminRoutes.tsx
Owners: @hanzlamateen

entity array boundary and source component fixes
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/QueryFunctions.tsx
  packages/editor/src/functions/addMediaNode.ts
  packages/engine/src/avatar/components/AnimationComponent.ts
  packages/engine/src/avatar/systems/AvatarTransparencySystem.tsx
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/scene/components/SourceComponent.ts
  packages/engine/src/scene/materials/functions/materialSourcingFunctions.ts
  packages/engine/src/scene/systems/SceneNetworkSystem.tsx
  packages/engine/src/scene/systems/SceneObjectSystem.tsx
Owners: @speigg, @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1, @CITIZENDOT

bug fix
  packages/engine/src/scene/components/SourceComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

pr updates
  packages/editor/src/panels/assets/categories.tsx
  packages/editor/src/panels/assets/helpers.ts
  packages/editor/src/panels/assets/hooks.tsx
  packages/editor/src/panels/assets/resources.tsx
  packages/ui/src/components/editor/DropdownItem/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix lint
  packages/editor/src/panels/files/toolbar.tsx
Owners: @dinomut1, @aditya-mitra

remove unused hamburger menu
  packages/editor/src/panels/assets/categories.tsx
Owners: @dinomut1, @aditya-mitra

address pr change
  packages/client-core/i18n/en/editor.json
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/ui/src/components/editor/Modal/AddEditLocationModalStudioSections.tsx
  packages/ui/src/components/editor/properties/mountPoint/index.tsx
Owners: @aditya-mitra, @hanzlamateen, @SYBIOTE, @CITIZENDOT

lint fix
  packages/client-core/i18n/en/editor.json
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @aditya-mitra, @hanzlamateen

fix asset categorie import
  packages/editor/src/panels/assets/topbar.tsx
Owners: @dinomut1, @aditya-mitra

lint fix
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

specify transform component gizmo name and revert use of camera distance component
  packages/editor/src/classes/gizmo/transform/TransformGizmoControlComponent.ts
  packages/editor/src/classes/gizmo/transform/TransformGizmoVisualComponent.ts
  packages/editor/src/systems/ActiveHelperSystem.ts
  packages/editor/src/systems/TransformGizmoSystem.ts
  packages/spatial/src/common/functions/activeHelperFunctions.ts
Owners: @SYBIOTE, @dinomut1, @aditya-mitra, @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

engine tests passing
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/GLTFLoader.test.tsx
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/gltf/NodeIDComponent.ts
  packages/engine/src/gltf/exportGLTFScene.test.tsx
  packages/engine/src/scene/functions/createSceneEntity.ts
  packages/engine/src/scene/systems/LookAtSystem.test.ts
  packages/engine/src/scene/systems/TriggerCallbackSystem.test.ts
  packages/engine/tests/util/loadGLTFAssetNode.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @speigg, @CITIZENDOT

editor tests
  packages/ecs/src/ComponentFunctions.ts
  packages/editor/src/functions/EditorControlFunctions.test.tsx
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/engine/src/gltf/NodeIDComponent.ts
Owners: @speigg, @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1

fix ecs tests
  packages/ecs/src/Layers.test.tsx
Owners: @speigg

fix compile error
  packages/editor/src/functions/EditorControlFunctions.test.tsx
  packages/editor/src/services/ComponentEditors.tsx
  packages/engine/src/assets/loaders/gltf/GLTFParser.ts
  packages/engine/src/gltf/GLTFState.test.tsx
  packages/engine/src/gltf/NodeFunctions.ts
  packages/engine/src/gltf/NodeIDComponent.ts
  packages/engine/src/gltf/gltfUtils.ts
  packages/engine/src/interaction/components/InteractableComponent.ts
  packages/engine/src/interaction/systems/InteractableSystem.ts
  packages/engine/src/scene/components/PortalComponent.ts
  packages/engine/src/scene/components/SplineTrackComponent.ts
  packages/engine/src/scene/components/VideoComponent.tsx
  packages/engine/src/scene/functions/GLTFConversion.ts
  packages/engine/src/scene/systems/EnvironmentSystem.tsx
  packages/engine/src/scene/systems/LookAtSystem.test.ts
  packages/engine/src/scene/systems/LookAtSystem.ts
  packages/engine/src/scene/systems/ShadowSystem.tsx
  packages/engine/src/scene/systems/TriggerCallbackSystem.test.ts
  packages/engine/src/scene/systems/TriggerCallbackSystem.ts
  packages/engine/src/visualscript/nodes/profiles/engine/values/SplineNodes.ts
  packages/spatial/src/physics/classes/Physics.test.tsx
  packages/spatial/src/physics/systems/PhysicsSystem.tsx
  packages/ui/src/components/editor/properties/render/index.tsx
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra, @MichaelEstes, @speigg, @AidanCaruso, @SamMazerIR, @CITIZENDOT, @heysokam

replace h3 with span
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

fix passing down classname to ItemIcon
  packages/editor/src/panels/assets/categories.tsx
  packages/ui/src/components/editor/DropdownItem/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

Add .gitignore
  .gitignore
  packages/clientNative/.gitignore
Owners: @HexaField

Revert .gitignore
  .gitignore
Owners: @HexaField

Add patch packages
  patches/@expo+browser-polyfill+1.0.1.patch
  patches/expo-asset+11.0.2.patch
  patches/expo-gl+15.0.4.patch
  patches/react-native+0.76.2.patch
Owners: @HexaField

Update package.json
  package.json
Owners: @HexaField

remove Modal animtions
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/client-core/src/user/menus/ProfileMenu.tsx
  packages/client-core/src/user/menus/SettingsMenu.tsx
  packages/client-core/src/user/menus/ShareMenu.tsx
  packages/ui/src/primitives/tailwind/Modal/index.tsx
  tailwind.config.js
Owners: @hanzlamateen, @aditya-mitra, @SYBIOTE, @CITIZENDOT, @HexaField

Added logic to recoup the current track duration
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

corrected issue with the "Sync with other" option being used
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

removed the media options for entities that don't have NameComponents
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Moved the video texture from a public property to a private hookState to avoid it from being nulled out
  packages/engine/src/scene/components/VideoComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

removed dev logs
  packages/engine/src/scene/components/VideoComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

filtered out the sim layer counterpart for the media component
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

added additional condition to prevent the UI from displaying aspects incorrectly
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

use use selected entities
  packages/editor/src/systems/ActiveHelperSystem.ts
Owners: @dinomut1, @aditya-mitra

Improve Dropdown UX & Fix Admin Panel issues
  packages/ui/src/primitives/tailwind/Accordion/index.tsx
  packages/ui/src/primitives/tailwind/Dropdown/index.tsx
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

remove comments
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
