Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

dont mutate if nothings changed
  packages/engine/src/scene/systems/SceneDeltaState.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix error thrown when getEntitiesByName has no entities with given name
  packages/spatial/src/common/NameComponent.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

prevent export of fallback material on gltf export
  packages/engine/src/gltf/exportGLTFScene.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

Mesh bvh generation fixes
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/spatial/src/transform/functions/MeshBVHSystem.tsx
  packages/spatial/src/transform/functions/bvhWorkerPool.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @SamMazerIR

Revert near/far removal
  packages/spatial/src/transform/functions/MeshBVHSystem.tsx
Owners: @SamMazerIR

pull out texture loader improvements from 5334
  packages/engine/src/assets/loaders/image/ImageBitmapLoader.ts
  packages/engine/src/assets/loaders/texture/TextureLoader.ts
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
Owners: @MichaelEstes, @dinomut1, @speigg, @AidanCaruso

format
  packages/engine/src/assets/loaders/image/ImageBitmapLoader.ts
Owners: @MichaelEstes, @dinomut1, @speigg

fix resource state crashing sometimes
  packages/spatial/src/resources/ResourceState.tsx
Owners: @MichaelEstes

revert flipped back to true by default
  packages/engine/src/assets/loaders/texture/TextureLoader.ts
Owners: @MichaelEstes, @dinomut1, @speigg

add check to positional audio system network peers get
  packages/client-core/src/systems/PositionalAudioSystem.tsx
Owners: @aditya-mitra

fixes
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/functions/addMediaNode.ts
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/scene/systems/SceneDeltaState.tsx
  packages/spatial/src/renderer/materials/materialFunctions.ts
Owners: @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1, @speigg, @CITIZENDOT, @DanielBelmes

add condition for material prototype when loading scene delta
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

make physicsWorld a dependency AvatarSpawnSystem
  packages/client-core/src/networking/AvatarSpawnSystem.tsx
Owners: @aditya-mitra

use node ids instead
  packages/editor/src/functions/addMediaNode.ts
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/gltf/SceneDeltaExporterExtension.ts
  packages/engine/src/scene/systems/SceneDeltaState.tsx
Owners: @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1, @speigg, @CITIZENDOT

move physicWorld dependency AvatarSpawnSystem.tsc to AvatarNetworkState.tsx
  packages/client-core/src/networking/AvatarSpawnSystem.tsx
  packages/engine/src/avatar/state/AvatarNetworkState.tsx
Owners: @aditya-mitra, @AidanCaruso

rework test to be in line with how we do other editor control tests currently
  packages/editor/src/functions/EditorControlFunctions.test.tsx
  packages/editor/src/systems/SceneDeltaState.test.tsx
  packages/engine/src/scene/systems/SceneDeltaState.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra, @speigg, @CITIZENDOT, @AidanCaruso

revert only
  packages/editor/src/functions/EditorControlFunctions.test.tsx
Owners: @SYBIOTE

add physicsWorld dependency to AvatarReactor useEffect to spawn avatar receptor.
  packages/engine/src/avatar/state/AvatarNetworkState.tsx
Owners: @AidanCaruso

fix mobile pointer input
  packages/spatial/src/input/functions/ClientInputHooks.tsx
  packages/spatial/src/input/systems/ClientInputSystem.tsx
Owners: @heysokam, @SamMazerIR, @speigg

fix test
  packages/spatial/src/input/systems/ClientInputSystem.test.tsx
  packages/spatial/src/input/systems/ClientInputSystem.tsx
Owners: @heysokam, @SamMazerIR, @speigg

Fix for onClose events being fired when incorrectly
  packages/ui/src/primitives/tailwind/ClickawayListener/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

updateLocalAvatarPosition checks physics world for entity RigidBody
  packages/engine/src/avatar/functions/moveAvatar.ts
  packages/engine/src/avatar/state/AvatarNetworkState.tsx
Owners: @AidanCaruso

Update index.tsx
  packages/ui/src/primitives/tailwind/ClickawayListener/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

deltas fixes
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/scene/systems/SceneDeltaState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @speigg, @CITIZENDOT

remove log
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

Revert "update max users per instance to 10 (#1095)"
  .env.local.default
  packages/client-core/i18n/en/admin.json
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/client-core/src/social/services/LocationService.ts
  packages/server-core/src/matchmaking/match-instance/match-instance.test.ts
  packages/server-core/src/social/location/location-helper.ts
  packages/server-core/src/social/location/location.test.ts
  packages/server-core/tests/util/createTestLocation.ts
Owners: @HexaField, @aditya-mitra, @hanzlamateen, @barankyle, @MoizAdnan, @hurairahmateen

Partially working with indirect buffers
  packages/client/public/workers/generateBVHAsync.worker.js
  packages/spatial/src/transform/functions/MeshBVHSystem.tsx
  packages/spatial/src/transform/functions/bvhWorkerPool.ts
Owners: @barankyle, @aditya-mitra, @SamMazerIR

wait for scene load before autoplaying
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Fix avatar asset type being overwritten in resources json locally
  packages/server-core/src/projects/project/project-helper.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

format
  packages/editor/src/systems/EditorControlSystem.ts
Owners: @dinomut1, @aditya-mitra

Option name
  packages/client/public/workers/generateBVHAsync.worker.js
  packages/spatial/src/transform/functions/bvhWorkerPool.ts
Owners: @barankyle, @aditya-mitra, @SamMazerIR

fix(table): display 2 prev elements when the current pages is 3 o more value
  packages/ui/src/primitives/tailwind/Table/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix: Add server side validation for file upload
  packages/server-core/src/media/file-browser-upload/file-browser-upload.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix check errors
  packages/editor/src/panels/files/modals/ImageConvertModal.tsx
  packages/ui/src/components/tailwind/WarningDialog/index.tsx
  packages/ui/src/primitives/tailwind/Modal/index.stories.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

mute-audio
  packages/engine/src/audio/systems/MediaSystem.ts
Owners: @speigg

fix: fixes validity checks for glb/gltf files
  packages/server-core/src/media/file-browser-upload/file-browser-upload.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix: add comment
  packages/server-core/src/media/file-browser-upload/file-browser-upload.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix error in OR logic
  packages/server-core/src/media/file-browser-upload/file-browser-upload.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

trigger audio notification
  packages/client-core/src/user/InstanceChat.tsx
Owners: @aditya-mitra

Enhance FileCard styling with additional padding and group class
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
