Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

IR-4739 add test ID to file item in grid view
  packages/editor/src/panels/files/fileitem.tsx
Owners: @dinomut1, @aditya-mitra

remove cross-env from vite-node usage
  package.json
Owners: @HexaField

make vite-node not a dev dep
  package.json
Owners: @HexaField

make jsdom not a dev dep
  package.json
Owners: @HexaField

add .ts to record build success script
  package.json
Owners: @HexaField

tst: Bugfix for `assertArrayAnyNotEq` test helper function
  packages/spatial/src/physics/components/RigidBodyComponent.test.tsx
Owners: @heysokam

tst: Unit Tests for `TransformSystem.ts` (phase 4)
  packages/spatial/src/transform/systems/TransformSystem.test.ts
Owners: @SamMazerIR

mvp adding fallback loading ui
  packages/client-core/src/components/LoadWebappInjection.tsx
  packages/client/src/pages/AppPage.tsx
Owners: @aditya-mitra, @barankyle

bug fix
  packages/client-core/src/systems/LoadingUISystem.tsx
Owners: @aditya-mitra

the node editor
  packages/ui/src/components/editor/properties/gltf/loader/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Refactor podsSchema to allow id to be a string, number, or any type
  packages/common/src/schemas/cluster/pods.schema.ts
Owners: @HexaField

Tcr/ir 4739 add front end test id attributes for asset panel (#355)
  packages/editor/src/panels/assets/categories.tsx
  packages/editor/src/panels/assets/index.tsx
  packages/editor/src/panels/assets/resources.tsx
  packages/editor/src/panels/assets/topbar.tsx
  packages/editor/src/panels/files/fileitem.tsx
  packages/ui/src/components/tailwind/SearchBar/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

Fixed issues with invites (#352)
  packages/client-core/i18n/en/user.json
  packages/client-core/src/user/UserUISystem.tsx
  packages/client-core/src/user/components/UserMenu/PopupMenuService.ts
  packages/client-core/src/user/components/UserMenu/index.tsx
  packages/client-core/src/user/components/UserMenu/menus/ShareMenu.tsx
  packages/server-core/src/user/accept-invite/accept-invite.class.ts
Owners: @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

fix mesh component hookstate errors and fix race condition with same-sourced gltfs
  packages/editor/src/functions/addMediaNode.ts
  packages/engine/src/gltf/GLTFState.tsx
  packages/spatial/src/renderer/components/MeshComponent.ts
  packages/ui/src/components/editor/properties/gltf/loader/index.tsx
Owners: @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1, @DanielBelmes, @aditya-mitra, @CITIZENDOT

useIsUnlit hook for scene object system
  packages/engine/src/scene/systems/SceneObjectSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix errors with deleting gltfs
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

more callback fixes
  packages/engine/src/avatar/components/LoopAnimationComponent.ts
  packages/engine/src/scene/components/MediaComponent.ts
  packages/spatial/src/renderer/components/GroupComponent.tsx
  packages/ui/src/components/editor/properties/animation/index.tsx
Owners: @AidanCaruso, @dinomut1, @speigg, @CITIZENDOT, @DanielBelmes, @MichaelEstes, @aditya-mitra, @SYBIOTE

fix error keeping old node data serialized in userData on gltf load
  packages/engine/src/scene/functions/loadGLTFModel.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix reparent to allow entities to change scenes
  packages/editor/src/functions/EditorControlFunctions.ts
Owners: @SYBIOTE

feat: Add NO_PROXY import and update applyNewTarget function
  packages/xrui/core/classes/Transition.ts
Owners: @speigg

fix: Improve type safety in Transition.ts
  packages/xrui/core/classes/Transition.ts
Owners: @speigg

Cleanup
  packages/xrui/core/components/LayoutComponent.tsx
Owners: @speigg

IR-4740 add test IDs to Scene panel
  packages/editor/src/panels/scenes/RenameSceneModal.tsx
  packages/editor/src/panels/scenes/SceneItem.tsx
  packages/editor/src/panels/scenes/index.tsx
  packages/ui/src/primitives/tailwind/Input/index.tsx
  packages/ui/src/primitives/tailwind/Modal/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

IR-4886: fix reparent to allow entities to change scenes (#358)
  packages/editor/src/functions/EditorControlFunctions.ts
Owners: @SYBIOTE

Michael/ir 4533 prefab name (#274)
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
  packages/editor/src/functions/addMediaNode.ts
Owners: @dinomut1, @aditya-mitra, @SYBIOTE

Michael/ir 4091 video (#280)
  packages/engine/src/scene/components/VideoComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Added requested '_' filename to valid filenames list in regex test. Tests still pass.
  packages/common/tests/regex.test.ts
Owners: @HexaField

add switch NLA track callbacks
  packages/engine/src/avatar/components/LoopAnimationComponent.ts
Owners: @AidanCaruso

fix paused button
  packages/ui/src/components/editor/properties/animation/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

tst: Unit Tests for `TransformSystem.ts` (phase 5)
  packages/spatial/src/transform/systems/TransformSystem.test.ts
Owners: @SamMazerIR

Texture loading WIP
  packages/engine/src/assets/loaders/texture/TextureLoader.ts
  packages/engine/src/gltf/GLTFLoader.test.tsx
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/gltf/MaterialDefinitionComponent.tsx
Owners: @MichaelEstes, @dinomut1, @speigg, @AidanCaruso

revert bounding box changes
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
  packages/engine/src/interaction/components/InteractableComponent.ts
  packages/spatial/src/input/functions/ClientInputHeuristics.test.tsx
  packages/spatial/src/input/functions/ClientInputHeuristics.ts
  packages/spatial/src/renderer/components/MeshComponent.ts
  packages/spatial/src/transform/components/BoundingBoxComponents.ts
  packages/spatial/src/transform/systems/TransformSystem.ts
Owners: @aditya-mitra, @SamMazerIR, @speigg, @heysokam, @AidanCaruso, @DanielBelmes, @MichaelEstes

Fix bug with avatars not being movable once another avatar loads
  packages/engine/src/avatar/state/AvatarNetworkState.tsx
Owners: @AidanCaruso

Fix bug with avatars not being movable once another avatar loads (#360)
  packages/engine/src/avatar/state/AvatarNetworkState.tsx
Owners: @AidanCaruso

Fix bug with avatars not being movable once another avatar loads
  packages/engine/src/avatar/state/AvatarNetworkState.tsx
Owners: @AidanCaruso

[STAGING] Fix bug with avatars not being movable once another avatar loads (#361)
  packages/engine/src/avatar/state/AvatarNetworkState.tsx
Owners: @AidanCaruso

fix incorrect label in hookstate merge test
  packages/hyperflux/tests/hookstate.test.tsx
Owners: @speigg

some QOL updates
  packages/editor/src/components/layout/PaginatedList.tsx
  packages/editor/src/panels/script/index.tsx
Owners: @dinomut1, @aditya-mitra

fix failing tests
  packages/server-core/src/projects/project-branches/project-branches.test.ts
  packages/server-core/src/projects/project-builder-tags/project-builder-tags.test.ts
  packages/server-core/src/projects/project-check-source-destination-match/project-check-source-destination-match.test.ts
  packages/server-core/src/projects/project-check-unfetched-commit/project-check-unfetched-commit.test.ts
  packages/server-core/src/projects/project-commits/project-commits.test.ts
  packages/server-core/src/projects/project-destination-check/project-destination-check.test.ts
  packages/server-core/src/projects/project-github-push/project-github-push.test.ts
  packages/server-core/vitest.config.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

licenses
  packages/client-core/vitest.config.ts
  packages/common/vitest.config.ts
  packages/ecs/vitest.config.ts
  packages/editor/vitest.config.ts
  packages/engine/src/scene/functions/bvhWorkerPool.test.ts
  packages/engine/vitest.config.ts
  packages/hyperflux/vitest.config.ts
  packages/instanceserver/vite.config.ts
  packages/instanceserver/vitest.config.ts
  packages/matchmaking/vitest.config.ts
  packages/network/vitest.config.ts
  packages/server-core/src/patchEngineNode.ts
  packages/server-core/vite.config.ts
  packages/server-core/vitest.config.ts
  packages/server/vite.config.ts
  packages/spatial/tests/util/mathAssertions.ts
  packages/spatial/vitest.config.ts
  packages/taskserver/vite.config.ts
  packages/visual-script/vitest.config.ts
  packages/xrui/vitest.config.ts
  vite.config.ts
Owners: @aditya-mitra, @HexaField, @speigg, @dinomut1, @CITIZENDOT, @AidanCaruso, @MichaelEstes, @hanzlamateen, @barankyle, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
