Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

fix tests : add dataType parameter to createEngineSetting function
  packages/server-core/src/test-utils/setting-test-utils.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

feat: added ability to disable avatar preview
  packages/client-core/i18n/en/user.json
  packages/client-core/src/user/components/UserMenu/menus/AvatarCreatorMenu2.tsx
  packages/client-core/src/user/components/UserMenu/menus/AvatarSelectMenu.tsx
Owners: @aditya-mitra

transition api
  packages/ecs/index.ts
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/EasingFunctions.ts
  packages/ecs/src/TransitionComponent.ts
  packages/ecs/src/TransitionSystem.tsx
  packages/ecs/src/Transitionable.tsx
  packages/ecs/src/schemas/JSONSchemaTypes.ts
Owners: @speigg

license
  packages/ecs/src/TransitionComponent.ts
Owners: @speigg

adding info field to explain envmap intensity behavior inconsistency across possible imported shaders
  packages/client-core/i18n/en/editor.json
  packages/ui/src/components/editor/properties/envmap/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Add more transitionable math functions
  packages/ecs/src/TransitionComponent.ts
  packages/ecs/src/TransitionSystem.tsx
  packages/ecs/src/Transitionable.tsx
Owners: @speigg

Update Transitionable.tsx
  packages/ecs/src/Transitionable.tsx
Owners: @speigg

cleanup
  packages/ecs/src/TransitionComponent.ts
  packages/ecs/src/Transitionable.tsx
Owners: @speigg

Refactor tpose enforcement
  packages/engine/src/avatar/components/AvatarAnimationComponent.ts
Owners: @AidanCaruso

adding back reflectionprobecomponent to the shelf, also making minor changes attempting to clean up envmap's infinite rerender of the reflection probes subreactor
  packages/editor/src/services/ComponentShelfCategoriesState.ts
  packages/engine/src/scene/components/EnvmapComponent.tsx
  packages/engine/src/scene/components/ReflectionProbeComponent.tsx
Owners: @dinomut1, @aditya-mitra, @speigg, @CITIZENDOT, @AidanCaruso

small fix to dropItemsOnFileBrowser
  packages/editor/src/panels/files/helpers.tsx
Owners: @dinomut1, @aditya-mitra

add missing transitionable math functions
  packages/ecs/src/TransitionComponent.ts
  packages/ecs/src/TransitionSystem.tsx
  packages/ecs/src/Transitionable.tsx
Owners: @speigg

replace old migration with new data type column addition for engine settings
  packages/server-core/src/setting/engine-setting/migrations/20241309141820_add-data-type-column.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Update engine settings migration to handle boolean value conversion
  packages/server-core/src/setting/engine-setting/migrations/20241309141820_add-data-type-column.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Increased the S3 request handler timeout and maxSockets
  packages/server-core/src/media/storageprovider/s3.storage.ts
  scripts/record-build-error.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra, @DanielBelmes

lint
  packages/client-core/src/systems/LoadingUISystem.tsx
Owners: @aditya-mitra

Fix transition implementation
  packages/ecs/index.ts
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/TransitionComponent.ts
  packages/ecs/src/TransitionSystem.tsx
Owners: @speigg

Can't structure clone quaternions...
  packages/ecs/src/TransitionComponent.ts
  packages/ecs/src/Transitionable.tsx
Owners: @speigg

make scene tab update on tumbnail update
  packages/editor/src/services/SceneThumbnailState.tsx
  packages/ui/src/components/editor/Modal/AddEditLocationModalStudioSections.tsx
  packages/ui/src/components/editor/properties/scene/previewCamera/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

Merge transition component into component functions
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/QueryFunctions.tsx
  packages/ecs/src/TransitionComponent.ts
  packages/ecs/src/TransitionSystem.tsx
Owners: @speigg

Replace tos accept with age verification
  packages/client-core/i18n/en/admin.json
  packages/client-core/i18n/en/common.json
  packages/client-core/src/admin/components/user/UserTable.tsx
  packages/client-core/src/components/InstanceChat/index.tsx
  packages/client-core/src/components/World/EngineHooks.tsx
  packages/client-core/src/user/components/UserMenu/menus/ProfileMenu.tsx
  packages/client-core/src/user/services/AuthService.ts
  packages/common/src/schemas/user/user.schema.ts
  packages/instanceserver/src/NetworkFunctions.ts
  packages/instanceserver/src/channels.ts
  packages/server-core/src/user/user/migrations/20241220002048_rename_age_verified.ts
  packages/server-core/src/user/user/user.hooks.ts
  packages/server-core/src/user/user/user.resolvers.ts
Owners: @aditya-mitra, @hanzlamateen, @speigg, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen

remove comment, export state
  packages/client-core/src/user/components/UserMenu/menus/ProfileMenu.tsx
Owners: @aditya-mitra

eliminate async import
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/TransitionComponent.ts
  packages/ecs/src/TransitionSystem.tsx
Owners: @speigg

format
  packages/server-core/src/user/user/user.resolvers.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

format
  packages/client-core/src/systems/LoadingUISystem.tsx
Owners: @aditya-mitra

Prevent copying a folder into itself
  packages/editor/src/panels/files/contextmenu.tsx
  packages/editor/src/panels/files/helpers.tsx
  packages/server-core/src/media/file-browser/file-browser.class.ts
  packages/server-core/src/media/file-browser/file-browser.test.ts
Owners: @dinomut1, @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

Simplify transition update implementation
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/Transitionable.tsx
Owners: @speigg

Update ComponentFunctions.ts
  packages/ecs/src/ComponentFunctions.ts
Owners: @speigg

Add dataType assignment in email setting migration
  packages/server-core/src/setting/engine-setting/migrations/20241217141707_merge-email-setting.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Refactor updateAppConfig to process unflattened settings for email category
  packages/server-core/src/updateAppConfig.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Fixed email matching on new OAuth storage providers
  packages/server-core/src/user/strategies/apple.ts
  packages/server-core/src/user/strategies/discord.ts
  packages/server-core/src/user/strategies/facebook.ts
  packages/server-core/src/user/strategies/github.ts
  packages/server-core/src/user/strategies/google.ts
  packages/server-core/src/user/strategies/linkedin.ts
  packages/server-core/src/user/strategies/twitter.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

update csm shader
  packages/spatial/src/renderer/components/lights/PointLightComponent.ts
  packages/spatial/src/renderer/components/lights/SpotLightComponent.ts
  packages/spatial/src/renderer/csm/CSM.ts
  packages/spatial/src/renderer/csm/Shader.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

Fix types
  packages/ecs/src/ComponentFunctions.ts
Owners: @speigg

Add tests
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/ECSState.ts
  packages/ecs/src/EngineFunctions.ts
  packages/ecs/src/TransitionSystem.test.tsx
  packages/ecs/src/Transitionable.test.ts
Owners: @speigg

Add license
  packages/ecs/src/TransitionSystem.test.tsx
  packages/ecs/src/Transitionable.test.ts
Owners: @speigg

Enhance flattening utilities to include dataType and update unflattening logic
  packages/common/src/utils/jsonHelperUtils.ts
  packages/server-core/src/updateAppConfig.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Add dataType field to engine settings seeding and migration
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
  packages/server-core/src/setting/engine-setting/migrations/20241213093645_merge-instance-server-setting.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Fix dataType assignment to ensure proper string conversion in engine settings seeding and migration
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
  packages/server-core/src/setting/engine-setting/migrations/20241213093645_merge-instance-server-setting.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Refactor engine settings seeding to remove unnecessary dataType mapping
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Remove duplicate serverSeedData from engine settings seeding
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
