Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

add react window types
  packages/editor/package.json
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
Owners: @dinomut1, @aditya-mitra

Revert "Revert "Fix hierarchy panel reordering (#205)""
  packages/editor/src/functions/EditorControlFunctions.test.tsx
  packages/editor/src/functions/EditorControlFunctions.ts
Owners: @SYBIOTE

v0.8 studio: transform dyanmic input no wrap (#163)
  packages/ui/src/components/editor/properties/transform/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

tst: Physics Integration Tests (initial sketch)
  packages/spatial/src/physics/integration.test.ts
Owners: @heysokam

memoize tree node to explicitly show nodes when changed
  packages/editor/src/components/hierarchy/HierarchyTreeWalker.ts
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
  packages/editor/src/panels/hierarchy/hierarchytree.tsx
Owners: @dinomut1, @aditya-mitra

regression for #205 - remove after node parameter
  packages/editor/src/functions/EditorControlFunctions.test.tsx
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/panels/hierarchy/hooks.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

Fixed verification of GitHub JWT signing tokens. (#218)
  packages/common/src/schemas/setting/authentication-setting.schema.ts
  packages/server-core/src/appconfig.ts
  packages/server-core/src/hooks/authenticate.ts
  packages/server-core/src/projects/project/project.hooks.ts
  packages/server-core/src/updateAppConfig.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

browser detection
  packages/editor/src/hooks/useBrowserCheck.ts
  packages/editor/src/pages/EditorPage.tsx
Owners: @dinomut1, @aditya-mitra

check from google chrome speicifcally
  packages/editor/src/hooks/useBrowserCheck.ts
Owners: @dinomut1, @aditya-mitra

replace hook with regular function and use translation string
  packages/client-core/i18n/en/editor.json
  packages/editor/src/functions/browserCheck.ts
  packages/editor/src/hooks/useBrowserCheck.ts
  packages/editor/src/pages/EditorPage.tsx
Owners: @aditya-mitra, @SYBIOTE, @dinomut1

add browser check file
  packages/editor/src/functions/browserCheck.ts
Owners: @SYBIOTE

tst: Sketch for `BoundingBoxComponent.reactor` unit tests statements
  packages/spatial/src/transform/components/BoundingBoxComponents.test.ts
Owners: @SamMazerIR

[IR-3458] Unit Test - Spatial Renderer.Materials coverage to 80% (#86)
  packages/engine/src/avatar/systems/AvatarTransparencySystem.tsx
  packages/spatial/src/renderer/components/MeshComponent.ts
  packages/spatial/src/renderer/materials/MaterialComponent.test.ts
  packages/spatial/src/renderer/materials/MaterialComponent.ts
  packages/spatial/src/renderer/materials/constants/DefaultArgs.test.ts
  packages/spatial/src/renderer/materials/constants/DefaultArgs.ts
  packages/spatial/src/renderer/materials/constants/plugins/NoiseOffsetPlugin.test.ts
  packages/spatial/src/renderer/materials/constants/plugins/NoiseOffsetPlugin.ts
  packages/spatial/src/renderer/materials/constants/plugins/TransparencyDitheringComponent.test.tsx
  packages/spatial/src/renderer/materials/constants/plugins/TransparencyDitheringComponent.tsx
  packages/spatial/src/renderer/materials/materialFunctions.test.ts
  packages/spatial/src/renderer/materials/materialFunctions.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

tst: Apply review fixes
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.test.ts
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.ts
Owners: @heysokam

fix hierarchy panel file upload
  packages/editor/src/functions/assetFunctions.ts
Owners: @SYBIOTE

Remove generic parameters from typings
  packages/ecs/src/ComponentFunctions.ts
Owners: @speigg

fix node dropping at end of the lists
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
  packages/editor/src/panels/hierarchy/hierarchytree.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

fix typings for material editor react window
  packages/ui/src/components/editor/panels/Materials/container/index.tsx
  packages/ui/src/components/editor/panels/Materials/node/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Cleanup static typing
  packages/ecs/src/schemas/JSONSchemaTypes.ts
Owners: @speigg

refactor drag drop into separate hook
  packages/editor/src/panels/hierarchy/contextmenu.tsx
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
  packages/editor/src/panels/hierarchy/hierarchytree.tsx
  packages/editor/src/panels/hierarchy/hooks.tsx
Owners: @dinomut1, @aditya-mitra

Unused
  packages/ecs/src/schemas/JSONSchemaTypes.ts
  packages/ecs/src/schemas/JSONSchemas.ts
Owners: @speigg

Rename
  packages/ecs/src/schemas/JSONSchemas.ts
Owners: @speigg

Update test, serialization
  packages/spatial/src/renderer/materials/constants/plugins/TransparencyDitheringComponent.test.tsx
  packages/spatial/src/renderer/materials/constants/plugins/TransparencyDitheringComponent.tsx
  packages/spatial/src/renderer/materials/materialFunctions.test.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

added inline comments to document code
  packages/editor/src/functions/EditorControlFunctions.ts
Owners: @SYBIOTE

studio: warning for unsupported browser (#229)
  packages/client-core/i18n/en/editor.json
  packages/editor/src/functions/browserCheck.ts
  packages/editor/src/pages/EditorPage.tsx
Owners: @aditya-mitra, @SYBIOTE, @dinomut1

simplify editor instance connection (#226)
  packages/common/src/schema.type.module.ts
  packages/common/src/schemas/networking/instance-active.schema.ts
  packages/editor/src/components/realtime/EditorActiveInstanceService.ts
  packages/editor/src/components/realtime/EditorInstanceNetworkingSystem.ts
  packages/editor/src/components/realtime/useEditorActiveInstances.ts
  packages/server-core/src/networking/instance-active/instance-active.class.ts
  packages/server-core/src/networking/instance-active/instance-active.docs.ts
  packages/server-core/src/networking/instance-active/instance-active.hooks.ts
  packages/server-core/src/networking/instance-active/instance-active.resolvers.ts
  packages/server-core/src/networking/instance/instance.test.ts
  packages/server-core/src/networking/services.ts
Owners: @HexaField, @dinomut1, @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

treeshake error boundary (#122)
  packages/client-core/src/common/components/ClientErrorBoundary.tsx
  packages/client-core/src/components/Fullscreen/index.tsx
  packages/client-core/src/components/MediaIconsBox/index.tsx
  packages/client-core/src/components/Shelves/index.tsx
  packages/client-core/src/components/World/LoadLocationScene.tsx
  packages/client-core/src/transports/SocketWebRTCClientFunctions.ts
  packages/client-core/src/user/components/UserMenu/menus/ProfileMenu.tsx
  packages/client-core/src/user/components/UserMenu/menus/SettingMenu.tsx
  packages/client-core/src/util/ClientContextState.ts
  packages/client-core/src/world/Location.tsx
  packages/client/src/main.tsx
  packages/client/src/route/CustomRouter.tsx
  packages/client/vite.config.ts
  packages/ui/src/pages/Chat/chat.tsx
Owners: @aditya-mitra, @speigg, @barankyle, @SYBIOTE, @CITIZENDOT

Change class schema, can't use args or each class will share the same reference
  packages/ecs/src/ComponentFunctions.test.tsx
  packages/ecs/src/schemas/JSONSchemas.ts
  packages/engine/src/scene/components/EnvmapComponent.tsx
  packages/engine/src/scene/components/InstancingComponent.tsx
  packages/engine/src/scene/components/MediaComponent.ts
  packages/engine/src/scene/components/ObjectGridSnapComponent.ts
  packages/engine/src/scene/components/ScenePreviewCamera.ts
  packages/engine/src/scene/components/SplineComponent.ts
  packages/spatial/src/camera/components/FollowCameraComponent.ts
  packages/spatial/src/common/debug/DebugMeshComponent.ts
  packages/spatial/src/input/components/InputSourceComponent.tsx
  packages/spatial/src/physics/components/CollisionComponent.ts
  packages/spatial/src/renderer/WebGLRendererSystem.tsx
  packages/spatial/src/renderer/components/LineSegmentComponent.ts
  packages/spatial/src/renderer/materials/constants/plugins/NoiseOffsetPlugin.ts
  packages/spatial/src/renderer/materials/constants/plugins/TransparencyDitheringComponent.tsx
  packages/spatial/src/transform/components/BoundingBoxComponents.ts
Owners: @speigg, @dinomut1, @CITIZENDOT, @AidanCaruso, @DanielBelmes, @SamMazerIR, @MichaelEstes, @MbfloydIR, @heysokam

fix merge
  packages/client-core/src/transports/mediasoup/MediasoupMediaTracksSystem.tsx
Owners: @aditya-mitra

Cache if a schema has required properties, test
  packages/ecs/src/ComponentFunctions.test.tsx
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/schemas/JSONSchemaUtils.ts
Owners: @speigg

changing infinite approach lerping toward targets in for timed A to B lerp that ends with always being on target after the specified time. Time is set as a const
  packages/spatial/src/camera/components/FollowCameraComponent.ts
Owners: @DanielBelmes, @SamMazerIR, @speigg

fix regression with isDev not being correct
  packages/client/vite.config.ts
Owners: @barankyle, @aditya-mitra

Fix studio hooks crash, include linux chrome in supported browsers
  packages/editor/src/functions/browserCheck.ts
  packages/editor/src/pages/EditorPage.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

Don't serialize classes by default, comment docs, cleanup
  packages/ecs/src/schemas/JSONSchemaUtils.ts
  packages/ecs/src/schemas/JSONSchemas.ts
  packages/engine/src/avatar/components/AvatarTeleportComponent.ts
  packages/engine/src/interaction/components/GrabbableComponent.ts
Owners: @speigg, @AidanCaruso, @SamMazerIR

first iteration
  packages/client-core/i18n/en/editor.json
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/services/EditorWarningServices.ts
  packages/editor/src/systems/RenderMonitorSystem.tsx
  packages/engine/src/scene/constants/SceneConstants.ts
  packages/ui/src/components/tailwind/WarningDialog/index.tsx
  packages/ui/src/primitives/tailwind/WarningView/index.stories.tsx
  packages/ui/src/primitives/tailwind/WarningView/index.tsx
Owners: @aditya-mitra, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @SYBIOTE

implement signaling service and provision logic for p2p instances
  .env.local.default
  packages/client-core/src/API.ts
  packages/client-core/src/common/services/LocationInstanceConnectionService.ts
  packages/client-core/src/networking/NetworkInstanceProvisioning.tsx
  packages/client-core/src/transports/mediasoup/MediasoupClientFunctions.ts
  packages/client-core/src/transports/p2p/PeerToPeerNetworkState.tsx
  packages/common/src/interfaces/NetworkInterfaces.ts
  packages/common/src/schema.type.module.ts
  packages/common/src/schemas/networking/instance-attendance.schema.ts
  packages/common/src/schemas/networking/instance-signaling.schema.ts
  packages/common/src/schemas/networking/instance.schema.ts
  packages/instanceserver/src/channels.ts
  packages/server-core/declarations.ts
  packages/server-core/src/appconfig.ts
  packages/server-core/src/cluster/pods/pods-helper.ts
  packages/server-core/src/hooks/matchmaking-create-instance.ts
  packages/server-core/src/networking/instance-attendance/instance-attendance.hooks.ts
  packages/server-core/src/networking/instance-attendance/migrations/20240912234815_instance-attendance-peerid.ts
  packages/server-core/src/networking/instance-provision/instance-provision.class.ts
  packages/server-core/src/networking/instance-signaling/instance-signaling.class.ts
  packages/server-core/src/networking/instance-signaling/instance-signaling.docs.ts
  packages/server-core/src/networking/instance-signaling/instance-signaling.hooks.ts
  packages/server-core/src/networking/instance-signaling/instance-signaling.ts
  packages/server-core/src/networking/instance/instance.hooks.ts
  packages/server-core/src/networking/instance/instance.resolvers.ts
  packages/server-core/src/networking/instance/migrations/20240913043118_instance_drop_current_users.ts
  packages/server-core/src/networking/services.ts
Owners: @HexaField, @aditya-mitra, @hurairahmateen, @barankyle, @MoizAdnan, @hanzlamateen

IR-3785: Show last clickable page in pagination component (#223)
  packages/ui/src/primitives/tailwind/Table/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

signalling server MVP working
  package.json
  packages/client-core/src/transports/p2p/PeerToPeerNetworkState.tsx
  packages/common/src/schemas/networking/instance-attendance.schema.ts
  packages/common/src/schemas/networking/instance-provision.schema.ts
  packages/common/src/schemas/networking/instance-signaling.schema.ts
  packages/server-core/src/networking/instance-provision/instance-provision.class.ts
  packages/server-core/src/networking/instance-provision/instance-provision.ts
  packages/server-core/src/networking/instance-signaling/instance-signaling.class.ts
  packages/server-core/src/networking/instance-signaling/instance-signaling.docs.ts
  packages/server-core/src/networking/instance-signaling/instance-signaling.hooks.ts
  packages/server-core/src/networking/instance-signaling/instance-signaling.ts
  packages/server-core/src/networking/instance/instance.resolvers.ts
Owners: @HexaField, @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

Merged task server setting to engine setting
  packages/client-core/src/admin/components/settings/tabs/taskServer.tsx
  packages/client-core/src/social/services/LocationService.ts
  packages/common/src/constants/EngineSettings.ts
  packages/common/src/schema.type.module.ts
  packages/common/src/schemas/setting/engine-setting.schema.ts
  packages/common/src/schemas/setting/task-server-setting.schema.ts
  packages/server-core/src/setting/engine-setting/engine-setting.hooks.ts
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
  packages/server-core/src/setting/engine-setting/engine-setting.ts
  packages/server-core/src/setting/engine-setting/migrations/20240913120000_merge-task-server-setting.ts
  packages/server-core/src/setting/seeder-config.ts
  packages/server-core/src/setting/service.ts
  packages/server-core/src/setting/task-server-setting/task-server-setting.docs.ts
  packages/server-core/src/setting/task-server-setting/task-server-setting.hooks.ts
  packages/server-core/src/setting/task-server-setting/task-server-setting.resolvers.ts
  packages/server-core/src/setting/task-server-setting/task-server-setting.ts
  packages/server-core/src/updateAppConfig.ts
Owners: @hanzlamateen, @aditya-mitra, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen

Added headers
  packages/client-core/src/transports/mediasoup/MediasoupMediaTracksSystem.tsx
  packages/client-core/src/transports/mediasoup/MediasoupModule.ts
  packages/network/src/NetworkPeerState.tsx
Owners: @aditya-mitra, @speigg

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
