Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

export onCloseProject function for wizard
  packages/editor/src/components/toolbar/Toolbar.tsx
Owners: @dinomut1, @aditya-mitra

added the content type to the gltf export / upload process
  packages/editor/src/functions/exportGLTF.ts
Owners: @SYBIOTE

fix transparency plugin
  packages/spatial/src/renderer/materials/constants/plugins/TransparencyDitheringComponent.tsx
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

added the content type to the gltf export / upload process (#469)
  packages/editor/src/functions/exportGLTF.ts
Owners: @SYBIOTE

Temp, remove physics requirement for GLTF loading
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
  packages/engine/src/gltf/GLTFState.tsx
  packages/spatial/src/renderer/components/MeshComponent.ts
Owners: @aditya-mitra, @AidanCaruso, @MichaelEstes, @dinomut1, @DanielBelmes

export onCloseProject function for wizard (#468)
  packages/editor/src/components/toolbar/Toolbar.tsx
Owners: @dinomut1, @aditya-mitra

Physics worlds wait for a scene to load before
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/GLTFState.tsx
  packages/spatial/src/physics/systems/PhysicsSystem.tsx
  packages/spatial/src/renderer/components/SceneComponents.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @heysokam, @DanielBelmes

rearrange the modals
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/ui/src/components/editor/input/Image/Preview/index.tsx
  packages/ui/src/components/editor/properties/scene/settings/index.tsx
Owners: @hanzlamateen, @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix(invite-toast): revert changes to the position 0
  packages/client-core/src/components/InviteToast/index.tsx
Owners: @aditya-mitra

fix(invite-toast): revert changes to the position 0 for the snack bar actions
  packages/client-core/src/components/InviteToast/InviteSnackbarActions.tsx
Owners: @aditya-mitra

add .value
  packages/spatial/src/physics/systems/PhysicsSystem.tsx
Owners: @heysokam

fix(invite-toast): use another implementation to validate null for the invite
  packages/client-core/src/components/InviteToast/index.tsx
Owners: @aditya-mitra

Consistant viewer button colors (#465)
  packages/client-core/src/components/Fullscreen/index.tsx
  packages/client-core/src/components/MediaIconsBox/index.tsx
  packages/client-core/src/components/Shelves/index.tsx
  packages/client-core/src/components/UserMediaWindow/index.module.scss
Owners: @aditya-mitra

Mesh component resource fix
  packages/spatial/src/renderer/components/MeshComponent.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

fix engine canvas unparenting
  packages/client-core/src/hooks/useEngineCanvas.ts
  packages/client/index.html
Owners: @jose-galvan, @barankyle, @aditya-mitra

fix errors
  packages/client-core/src/admin/components/locations/LocationTable.tsx
Owners: @hanzlamateen

fix for immersive scenes
  packages/spatial/src/initializeEngine.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

fix engine canvas unparenting (#472)
  packages/client-core/src/hooks/useEngineCanvas.ts
  packages/client/index.html
Owners: @jose-galvan, @barankyle, @aditya-mitra

fix(use-unsupported): move the use unsupported hook to the client
  packages/client-core/src/hooks/useUnsupported.tsx
  packages/editor/src/pages/EditorPage.tsx
Owners: @jose-galvan, @dinomut1, @aditya-mitra

fix(use-unsupported): move the use unsupported hook to the client
  packages/client-core/src/hooks/useUnsupported.tsx
Owners: @jose-galvan

Physics worlds wait for a scene to load before (#470)
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/GLTFState.tsx
  packages/spatial/src/initializeEngine.ts
  packages/spatial/src/physics/systems/PhysicsSystem.tsx
  packages/spatial/src/renderer/components/SceneComponents.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @speigg, @MbfloydIR, @SamMazerIR, @heysokam, @DanielBelmes

fix(invite-toast): remove the invite toast component
  packages/client/src/pages/AppPage.tsx
Owners: @barankyle, @aditya-mitra

fix(invite-toast): move the modals to the client core
  packages/client-core/src/components/modals/UnsupportedBrowser.tsx
  packages/client-core/src/components/modals/UnsupportedDevice.tsx
  packages/client-core/src/hooks/useUnsupported.tsx
Owners: @aditya-mitra, @jose-galvan

fix(invite-toast): move the modals to the client core
  packages/client-core/src/components/modals/UnsupportedBrowser.tsx
  packages/client-core/src/components/modals/UnsupportedDevice.tsx
Owners: @aditya-mitra

include scene render system in export
  packages/editor/src/EditorModule.ts
Owners: @dinomut1, @aditya-mitra

use context.app instead of api.instance
  packages/server-core/src/user/identity-provider/identity-provider.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

use account identifier instead of email match in validating user
  packages/client-core/src/user/services/AuthService.ts
Owners: @aditya-mitra

Include scene render system in export (#473)
  packages/editor/src/EditorModule.ts
Owners: @dinomut1, @aditya-mitra

fix scenes not loading
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

refactor helper and model loading spinner to use GLTFComponent instead of ModelComponent
  packages/editor/src/panels/hierarchy/helpers.ts
  packages/editor/src/systems/ModelLoadingSpinnerSystem.tsx
Owners: @dinomut1, @aditya-mitra

more modelcomponent references, add error defintions to gltf component
  packages/editor/src/systems/ObjectGridSnapSystem.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/ui/src/components/editor/properties/animation/index.tsx
Owners: @dinomut1, @aditya-mitra, @AidanCaruso, @MichaelEstes, @SYBIOTE, @CITIZENDOT

Remove metabase (ProjectDashboardId and AccountDashboardId) form core engine
  packages/common/src/constants/EngineSettings.ts
  packages/server-core/src/appconfig.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

remove reactor
  packages/editor/src/functions/addMediaNode.ts
Owners: @SYBIOTE

fix edit user menu crashing if user does not have an avatar
  packages/client-core/src/admin/components/user/AddEditUserModal.tsx
Owners: @hanzlamateen

more conditionals to detect undefined values
  packages/client-core/src/admin/components/user/AddEditUserModal.tsx
Owners: @hanzlamateen

Fix crash user panel when no avatar (#474)
  packages/client-core/src/admin/components/user/AddEditUserModal.tsx
Owners: @hanzlamateen

Add "prefab" category to assets panel, created prefabs show up there
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
  packages/editor/src/services/AssetPanelCategoriesState.ts
Owners: @dinomut1, @aditya-mitra

Add "prefab" category to assets panel, created prefabs show up there (#475)
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
  packages/editor/src/services/AssetPanelCategoriesState.ts
Owners: @dinomut1, @aditya-mitra

add rings to default project (#466)
  packages/projects/default-project/assets/rings.glb
  packages/projects/default-project/public/thumbnails/assets_rings.glb-thumbnail.png
  packages/projects/default-project/resources.json
Owners: @HexaField

remove close projec confirm for wizard
  packages/editor/src/components/toolbar/Toolbar.tsx
Owners: @dinomut1, @aditya-mitra

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
