Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

Fix pagination param on a helmSettings FIND
  packages/server-core/src/projects/project/project-helper.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

remove useGLTF, update tests
  packages/editor/src/components/prefabs/PrefabEditors.tsx
  packages/engine/src/assets/functions/resourceLoaderHooks.test.tsx
  packages/engine/src/assets/functions/resourceLoaderHooks.ts
  packages/engine/src/scene/components/ModelComponent.tsx
  packages/engine/tests/util/loadGLTFAssetNode.ts
Owners: @dinomut1, @aditya-mitra, @MichaelEstes, @speigg, @CITIZENDOT, @AidanCaruso

Comment
  packages/editor/src/components/prefabs/PrefabEditors.tsx
Owners: @dinomut1, @aditya-mitra

Increase timeout for connection to logstash
  packages/server-core/src/ServerLogger.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

clear collider state when no entries are present, improved collider calculations when there is a mesh
  packages/spatial/src/physics/classes/Physics.ts
  packages/spatial/src/physics/components/ColliderComponent.tsx
Owners: @heysokam

fixed sneaky bvh overrides
  packages/client-core/src/hooks/useEngineCanvas.ts
  packages/engine/src/scene/systems/MeshBVHSystem.tsx
  packages/spatial/src/renderer/constants/ObjectLayers.ts
Owners: @jose-galvan, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @DanielBelmes, @MichaelEstes

fix bug in entity tree and fix descriptions of helper functions
  packages/spatial/src/transform/components/EntityTree.test.tsx
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @SamMazerIR

Begin replacing threejs name bindings with entity UUIDs
  packages/engine/src/avatar/components/AnimationComponent.ts
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

uncomment some lines
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

gizmo bvh fixes
  packages/editor/src/functions/transformGizmoHelper.ts
  packages/engine/src/scene/systems/MeshBVHSystem.tsx
Owners: @SYBIOTE, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

merge
  packages/spatial/src/renderer/components/MeshComponent.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

remove debug log
  packages/ui/src/primitives/tailwind/Input/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

move bvh to spatial package
  packages/editor/src/constants/GizmoPresets.ts
  packages/editor/src/systems/TransformGizmoSystem.ts
  packages/engine/src/scene/SceneModule.ts
  packages/spatial/src/camera/components/FollowCameraComponent.ts
  packages/spatial/src/transform/TransformModule.ts
  packages/spatial/src/transform/components/EntityTree.tsx
  packages/spatial/src/transform/functions/MeshBVHSystem.tsx
  packages/spatial/src/transform/functions/bvhWorkerPool.test.ts
  packages/spatial/src/transform/functions/bvhWorkerPool.ts
  packages/spatial/src/transform/functions/generateBVHAsync.register.js
  packages/spatial/src/transform/functions/generateBVHAsync.worker.js
Owners: @dinomut1, @aditya-mitra, @speigg, @CITIZENDOT, @AidanCaruso, @DanielBelmes, @SamMazerIR

finally fix transform gizmo rotation bug
  packages/editor/src/constants/GizmoPresets.ts
Owners: @dinomut1, @aditya-mitra

rewrite entity network state tests
  packages/network/src/EntityNetworkState.test.tsx
  packages/network/src/NetworkObjectComponent.ts
  packages/network/tests/createMockNetwork.ts
Owners: @speigg

network tests pass
  packages/network/src/serialization/DataReader.test.ts
  packages/network/src/serialization/DataWriter.test.ts
Owners: @speigg

fix spatial tests
  packages/spatial/src/camera/systems/CameraSystem.test.tsx
  packages/spatial/src/camera/systems/SpectateSystem.test.tsx
Owners: @DanielBelmes, @SamMazerIR, @speigg

Add engine settings retrieval to updateAppConfig function
  packages/server-core/src/updateAppConfig.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

updated the name update logic to account for custom names
  packages/server-core/src/media/static-resource/static-resource.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

reverting safety checks on matrix math in favor of speed
  packages/spatial/src/transform/components/TransformComponent.ts
Owners: @SamMazerIR

decouple uuids from clips and instead use node ids for reusability
  packages/engine/src/avatar/components/AnimationComponent.ts
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

update to dimensionjobstate
  packages/client-core/src/common/services/DimensionsJobState.tsx
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
Owners: @aditya-mitra

particle behavior fix
  packages/engine/src/scene/components/ParticleSystemComponent.ts
  packages/ui/src/components/editor/input/Behavior/index.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @aditya-mitra, @SYBIOTE

ENV vars for all logging destinations; remove logstash check
  packages/server-core/src/ServerLogger.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix merge
  packages/server-core/src/ServerLogger.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

add back imports for opensearch and elastic
  packages/server-core/src/ServerLogger.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Apply component schema on gltf load
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

add import instances for elastic and opensearch and lint
  package.json
  packages/server-core/src/ServerLogger.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Fix screenshareTarget duplicate, Fix FollowCameraComponent warning
  packages/editor/src/services/ComponentShelfCategoriesState.ts
  packages/spatial/src/camera/components/FollowCameraComponent.ts
Owners: @dinomut1, @aditya-mitra, @DanielBelmes, @SamMazerIR, @speigg

Update README.md
  README.md
Owners: @HexaField

Update README.md
  README.md
Owners: @HexaField

useLayoutEffect
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

wip - started stubbing the the onLoad for the file images
  packages/editor/src/panels/files/fileicon.tsx
Owners: @dinomut1, @aditya-mitra

updated bool var to be more clear, moved file regEx inside update condition
  packages/server-core/src/media/static-resource/static-resource.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

ServerLogger.ts mv all endpoints behind endvars; remove net check
  packages/server-core/src/ServerLogger.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Functionality clarity
  packages/ecs/src/ComponentFunctions.ts
  packages/engine/src/gltf/GLTFState.tsx
Owners: @speigg, @AidanCaruso, @MichaelEstes, @dinomut1

fix index on bvh
  packages/spatial/src/transform/functions/bvhWorkerPool.ts
Owners: @SamMazerIR

fix regression with scene scaling
  packages/spatial/src/transform/updateWorldOrigin.test.ts
  packages/spatial/src/transform/updateWorldOrigin.ts
Owners: @SamMazerIR

particle updates
  packages/engine/src/scene/components/ParticleSystemComponent.ts
  packages/engine/src/scene/systems/ParticleSystemSystem.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

add backwards compatability preserve hierarchy api for objects, fix xrui
  packages/client-core/src/social/components/XruiNameplateComponent.ts
  packages/editor/src/constants/GizmoPresets.ts
  packages/engine/src/scene/components/ParticleSystemComponent.ts
  packages/engine/src/scene/systems/ParticleSystemSystem.ts
  packages/spatial/src/common/debug/useHelperEntity.ts
  packages/spatial/src/renderer/components/MeshComponent.ts
  packages/spatial/src/renderer/components/ObjectComponent.ts
  packages/spatial/src/transform/systems/TransformSystem.ts
  packages/spatial/src/xrui/functions/createXRUI.tsx
Owners: @aditya-mitra, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR, @DanielBelmes
