Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

Tests
  packages/spatial/src/renderer/components/LineSegmentComponent.test.tsx
  packages/spatial/src/renderer/components/MeshComponent.test.tsx
  packages/spatial/src/resources/resourceHooks.test.tsx
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

Deprecate useDisposable
  packages/spatial/src/resources/resourceHooks.test.tsx
  packages/spatial/src/resources/resourceHooks.ts
Owners: @MichaelEstes

Resource update tests
  packages/spatial/src/resources/resourceHooks.test.tsx
Owners: @MichaelEstes

Add more testing and fix some problems
  packages/engine/src/avatar/components/AnimationComponent.test.tsx
  packages/engine/src/avatar/components/AnimationComponent.ts
  packages/engine/src/avatar/components/AvatarAnimationComponent.ts
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
  packages/engine/src/interaction/systems/MountPointSystem.ts
Owners: @AidanCaruso, @SamMazerIR, @speigg

license
  packages/engine/src/avatar/components/AnimationComponent.test.tsx
Owners: @AidanCaruso

Add migration to populate email for identity providers with null email
  packages/server-core/src/user/identity-provider/migrations/20241126073411_identity-provider-populate-email.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

refactor logic
  packages/ui/src/primitives/tailwind/Radio/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

use correct prop
  packages/ui/src/primitives/tailwind/Dropdown/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

remove renderValue
  packages/ui/src/primitives/tailwind/Select/index.stories.tsx
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

remove image input
  packages/ui/src/components/editor/input/Image/index.stories.tsx
  packages/ui/src/components/editor/input/Image/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

introduce droppable image input
  packages/editor/src/components/assets/DroppableImageInput.tsx
  packages/ui/src/components/editor/ImageLink/index.tsx
  packages/ui/src/components/editor/properties/skybox/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

Update Radio component label prop to be optional
  packages/ui/src/primitives/tailwind/Radio/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

replace few instances
  packages/ui/src/components/editor/properties/image/index.tsx
  packages/ui/src/components/editor/properties/reflectionProbe/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Adjust widths of studio dropdowns
  packages/editor/src/panels/viewport/tools/TransformPivotTool.tsx
  packages/editor/src/panels/viewport/tools/TransformSnapTool.tsx
  packages/editor/src/panels/viewport/tools/TransformSpaceTool.tsx
Owners: @dinomut1, @aditya-mitra

Update packages/ui/src/primitives/tailwind/Select/index.tsx
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

adjust widths of Inputs
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

Update packages/editor/src/panels/files/fileicon.tsx
  packages/editor/src/panels/files/fileicon.tsx
Owners: @dinomut1, @aditya-mitra

Update packages/editor/src/panels/files/fileicon.tsx
  packages/editor/src/panels/files/fileicon.tsx
Owners: @dinomut1, @aditya-mitra

updated for prettier test
  packages/editor/src/panels/files/fileicon.tsx
Owners: @dinomut1, @aditya-mitra

prompt modal for existing files
  packages/editor/src/functions/assetFunctions.ts
  packages/editor/src/panels/files/toolbar.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

fix animation component test and add retargeting test
  packages/engine/src/avatar/components/AnimationComponent.test.tsx
  packages/engine/src/avatar/components/LoopAnimationComponent.ts
  packages/engine/src/avatar/functions/retargetingFunctions.test.tsx
  packages/engine/src/avatar/functions/retargetingFunctions.ts
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
Owners: @AidanCaruso

replace remaining references to threejs node objects with ecs
  packages/engine/src/avatar/components/AvatarIKComponents.ts
  packages/engine/src/mocap/MotionCaptureSystem.ts
  packages/engine/src/mocap/poseToInput.ts
  packages/engine/src/mocap/solveMotionCapturePose.ts
Owners: @AidanCaruso

fix race condition in rig reactor
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
  packages/spatial/src/renderer/materials/constants/plugins/TransparencyDitheringComponent.tsx
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

remove logs
  packages/engine/src/avatar/components/AvatarAnimationComponent.ts
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
Owners: @AidanCaruso

remove redundant set for normalized bone component
  packages/engine/src/avatar/components/NormalizedBoneComponent.ts
Owners: @AidanCaruso

wip
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
  packages/engine/src/assets/functions/resourceLoaderHooks.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/spatial/src/renderer/materials/materialFunctions.ts
  packages/spatial/src/resources/ResourceState.ts
Owners: @aditya-mitra, @MichaelEstes, @dinomut1, @speigg, @AidanCaruso, @DanielBelmes

mvp for scene network objects with deterministic peer owner based network ids
  packages/editor/src/functions/addMediaNode.ts
  packages/engine/src/scene/SceneModule.ts
  packages/engine/src/scene/systems/SceneNetworkSystem.tsx
  packages/network/index.ts
  packages/network/src/EntityNetworkState.test.tsx
  packages/network/src/EntityNetworkState.tsx
  packages/network/src/NetworkObjectComponent.ts
  packages/network/src/NetworkState.ts
  packages/network/src/functions/WorldNetworkAction.ts
Owners: @SYBIOTE, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Revert
  packages/engine/src/gltf/GLTFComponent.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

Seperate resource ID from three ID
  packages/spatial/src/resources/ResourceState.ts
  packages/spatial/src/resources/resourceHooks.ts
Owners: @MichaelEstes

configurable
  packages/spatial/src/resources/ResourceState.ts
Owners: @MichaelEstes

Rename
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
  packages/engine/src/assets/functions/resourceLoaderFunctions.ts
Owners: @dinomut1, @aditya-mitra, @MichaelEstes, @speigg

use ecs for remaining vrm bone references, clean up some things
  packages/engine/src/avatar/animation/TwoBoneIKSolver.ts
  packages/engine/src/avatar/animation/applyHandRotationFK.ts
  packages/engine/src/avatar/components/AnimationComponent.ts
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
  packages/engine/src/mocap/MotionCaptureSystem.ts
  packages/engine/src/mocap/poseToInput.ts
Owners: @AidanCaruso

Fix imports
  packages/spatial/src/schema/schemaFunctions.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

Empty string validator
  packages/engine/src/scene/components/SourceComponent.ts
  packages/spatial/src/common/NameComponent.ts
  packages/spatial/src/schema/schemaFunctions.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

Only show scene complexity warning once per threshold crossing
  packages/editor/src/systems/RenderMonitorSystem.tsx
Owners: @dinomut1, @aditya-mitra

Temporary material prefab render using GLTF component
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
Owners: @aditya-mitra

Remove .join
  packages/engine/src/scene/components/EnvmapComponent.tsx
  packages/engine/src/scene/systems/EnvironmentSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

refactor grabbables
  packages/editor/src/services/ComponentEditors.tsx
  packages/editor/src/services/ComponentShelfCategoriesState.ts
  packages/engine/src/EngineModule.ts
  packages/engine/src/audio/MediaModule.ts
  packages/engine/src/avatar/components/AvatarTeleportComponent.ts
  packages/engine/src/avatar/functions/spawnAvatarReceptor.ts
  packages/engine/src/grabbable/GrabbableComponent.ts
  packages/engine/src/grabbable/GrabbableState.tsx
  packages/engine/src/grabbable/GrabbableSystem.test.tsx
  packages/engine/src/grabbable/GrabbableSystem.tsx
  packages/engine/src/interaction/InteractionModule.ts
  packages/engine/src/interaction/components/GrabbableComponent.ts
  packages/engine/src/interaction/functions/grabbableFunctions.ts
  packages/engine/src/interaction/systems/GrabbableSystem.test.ts
  packages/engine/src/interaction/systems/GrabbableSystem.tsx
  packages/engine/src/scene/SceneModule.ts
  packages/network/src/EntityNetworkState.tsx
  packages/spatial/src/camera/systems/CameraSystem.test.tsx
  packages/ui/src/components/editor/properties/grab/index.tsx
Owners: @dinomut1, @aditya-mitra, @AidanCaruso, @MichaelEstes, @speigg, @SamMazerIR, @CITIZENDOT, @DanielBelmes, @SYBIOTE

fix anims loading scene, grabbables fully working
  packages/client-core/src/components/World/LoadLocationScene.tsx
  packages/editor/src/functions/addMediaNode.ts
  packages/engine/src/EngineModule.ts
  packages/engine/src/avatar/components/AnimationComponent.ts
  packages/engine/src/grabbable/GrabbableComponent.ts
  packages/engine/src/grabbable/GrabbableState.tsx
  packages/engine/src/grabbable/GrabbableSystem.tsx
  packages/engine/src/scene/systems/SceneNetworkSystem.tsx
  packages/network/src/NetworkObjectComponent.ts
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.ts
Owners: @speigg, @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1, @CITIZENDOT, @heysokam

fix for transfering authority for entities owned by the scene
  packages/engine/src/grabbable/GrabbableState.tsx
  packages/engine/src/grabbable/GrabbableSystem.test.tsx
  packages/network/src/EntityNetworkState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @speigg
