Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

Fixed renaming of scenes
  packages/client-core/src/world/SceneAPI.ts
Owners: @aditya-mitra

Fix renderer canvas setup
  packages/client-core/src/hooks/useEngineCanvas.ts
  packages/editor/src/panels/viewport/index.tsx
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
  packages/hyperflux/src/functions/StateFunctions.ts
  packages/hyperflux/src/hooks/useImmediateEffect.ts
  packages/spatial/src/initializeEngine.ts
Owners: @jose-galvan, @dinomut1, @aditya-mitra, @AidanCaruso, @speigg, @MichaelEstes, @MbfloydIR, @SamMazerIR

Update ClientInputHooks.tsx
  packages/spatial/src/input/functions/ClientInputHooks.tsx
Owners: @heysokam, @SamMazerIR, @speigg

Update FeathersHooks.tsx
  packages/common/src/utils/FeathersHooks.tsx
Owners: @HexaField

type fixes
  packages/ecs/src/ComponentFunctions.ts
Owners: @speigg

Update PostProcessingComponent.test.tsx
  packages/spatial/src/renderer/components/PostProcessingComponent.test.tsx
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

Update ClientInputHooks.tsx
  packages/spatial/src/input/functions/ClientInputHooks.tsx
Owners: @heysokam, @SamMazerIR, @speigg

Update ClientInputHooks.test.tsx
  packages/spatial/src/input/functions/ClientInputHooks.test.tsx
Owners: @heysokam, @SamMazerIR, @speigg

GLTF loader pushes load responsibility upstream
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/UUIDComponent.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/GLTFState.tsx
  packages/engine/src/gltf/MaterialDefinitionComponent.tsx
Owners: @speigg, @AidanCaruso, @MichaelEstes, @dinomut1

authoring layer components can have reactors
  packages/ecs/src/ComponentFunctions.ts
Owners: @speigg

remove console logs
  packages/ui/src/components/editor/properties/cameraProperties/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Merge branch 'dev' into michael/IR-6150-previous
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

Fix CopyText icon and update import text
  packages/ui/src/icons/index.stories.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix intermittent spatial tests
  packages/spatial/src/input/functions/ClientInputHooks.test.tsx
  packages/spatial/src/renderer/components/HighlightComponent.test.tsx
Owners: @heysokam, @SamMazerIR, @speigg, @AidanCaruso, @DanielBelmes, @MichaelEstes

Fix button rendering by adding missing curly braces around loading state
  packages/client-core/src/admin/components/settings/tabs/client.tsx
Owners: @hanzlamateen

standardize client API mock polyfills, fix test spam and disable unnecessary logging
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/SystemFunctions.ts
  packages/engine/src/avatar/components/AnimationComponent.test.tsx
  packages/engine/src/grabbable/GrabbableSystem.test.tsx
  packages/hyperflux/src/functions/ActionFunctions.ts
  packages/spatial/src/renderer/PerformanceState.test.tsx
  packages/spatial/tests/util/MockEngineRenderer.ts
  packages/spatial/tests/util/patchNode.ts
  vitest.client.config.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @dinomut1, @DanielBelmes, @MbfloydIR, @SamMazerIR, @HexaField

prevent projects crashing ui
  packages/client-core/src/components/LoadWebappInjection.tsx
  packages/client-core/src/components/World/EngineHooks.tsx
  packages/instanceserver/src/channels.ts
Owners: @aditya-mitra, @speigg, @HexaField

Wait for avatar or spectator mode before dismissing loading screen
  packages/client-core/src/systems/LoadingUISystem.tsx
  packages/engine/src/avatar/components/AvatarAnimationComponent.ts
Owners: @aditya-mitra, @AidanCaruso

Add email settings configuration and flattening utility functions
  packages/common/src/constants/EngineSettings.ts
  packages/common/src/utils/jsonHelperUtils.ts
  packages/server-core/src/setting/engine-setting/migrations/20241217141707_merge-email-setting.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Add serverSeedData to engine setting seed function
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

update instance server migration timestamp
  packages/server-core/src/setting/engine-setting/migrations/20241213093645_merge-instance-server-setting.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

add unmount cleanup logic for all generated entities
  packages/engine/src/gltf/GLTFComponent.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

physics system initializing again
  packages/ecs/src/ComponentFunctions.ts
  packages/spatial/src/physics/systems/PhysicsSystem.tsx
Owners: @speigg, @heysokam

address PR comments
  packages/common/src/utils/FeathersHooks.tsx
  packages/ecs/src/TransitionSystem.tsx
  packages/hyperflux/src/hooks/useImmediateEffect.ts
Owners: @HexaField, @speigg

undo accidental commit
  packages/ecs/src/TransitionSystem.tsx
Owners: @speigg

update boolean to be stricter
  packages/client-core/src/systems/LoadingUISystem.tsx
Owners: @aditya-mitra

Update ClientInputHooks.tsx
  packages/spatial/src/input/functions/ClientInputHooks.tsx
Owners: @heysokam, @SamMazerIR, @speigg

format
  packages/client-core/src/components/World/LoadLocationScene.tsx
Owners: @speigg

Quick fix to deal with new local server setting format
  packages/server-core/src/createApp.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

use merge instead of new array w/ spread
  packages/spatial/src/renderer/materials/MaterialComponent.tsx
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

remove old simulation layer tag component
  packages/ecs/index.ts
  packages/ecs/src/SimulationLayerTagComponent.ts
  packages/engine/src/avatar/components/LoopAnimationComponent.tsx
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
  packages/engine/src/scene/components/VariantComponent.tsx
  packages/engine/src/scene/systems/MeshBVHSystem.tsx
  packages/engine/tsconfig.json
  packages/spatial/src/physics/systems/PhysicsSystem.tsx
  packages/spatial/tsconfig.json
Owners: @speigg, @AidanCaruso, @dinomut1, @CITIZENDOT, @MichaelEstes, @heysokam, @MbfloydIR, @SamMazerIR

revert reliance on uuidcomponent for layers
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/UUIDComponent.ts
Owners: @speigg

fix imports
  packages/engine/src/xrui/createXRUI.tsx
  packages/spatial/src/transform/functions/MeshBVHSystem.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @SamMazerIR

update imports
  packages/editor/src/systems/TransformGizmoSystem.test.ts
  packages/editor/src/systems/TransformGizmoSystem.ts
Owners: @dinomut1, @aditya-mitra

revert
  packages/engine/src/scene/systems/SceneObjectSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix bugs in object layers, raycasts and editor input heuristic test
  packages/editor/src/systems/TransformGizmoSystem.test.ts
  packages/editor/src/systems/TransformGizmoSystem.ts
  packages/spatial/src/input/functions/ClientInputHeuristics.test.tsx
  packages/spatial/src/input/functions/ClientInputHeuristics.ts
  packages/spatial/src/renderer/components/ObjectLayerComponent.test.tsx
  packages/spatial/src/renderer/components/ObjectLayerComponent.ts
  packages/spatial/src/threejsPatches.ts
  packages/spatial/src/transform/functions/MeshBVHSystem.tsx
  packages/spatial/tests/util/patchNode.ts
Owners: @dinomut1, @aditya-mitra, @heysokam, @SamMazerIR, @speigg, @AidanCaruso, @DanielBelmes, @MichaelEstes, @MbfloydIR

fix intermittent test
  packages/spatial/src/input/components/InputPointerComponent.test.ts
Owners: @heysokam, @SamMazerIR, @speigg

fix instanceserver patch
  packages/server-core/src/patchEngineNode.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

console log
  packages/spatial/src/transform/functions/MeshBVHSystem.tsx
Owners: @SamMazerIR

Enhance engine settings handling with data type parsing and updates
  packages/client-core/src/admin/components/settings/tabs/helm.tsx
  packages/client-core/src/admin/components/settings/tabs/metabase.tsx
  packages/client-core/src/admin/components/settings/tabs/server.tsx
  packages/client-core/src/admin/components/settings/tabs/zendesk.tsx
  packages/common/src/schemas/setting/engine-setting.schema.ts
  packages/common/src/utils/dataTypeUtils.ts
  packages/server-core/src/appconfig.ts
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
  packages/server-core/src/setting/engine-setting/engine-setting.ts
  packages/server-core/src/setting/engine-setting/migrations/20240913120000_merge-task-server-setting.ts
  packages/server-core/src/setting/engine-setting/migrations/20240923051419_merge-chargebee-setting.ts
  packages/server-core/src/setting/engine-setting/migrations/20240924111809_merge-coil-settings.ts
  packages/server-core/src/setting/engine-setting/migrations/20240926052204_merge-zendesk-setting.ts
  packages/server-core/src/setting/engine-setting/migrations/20241001042018_merge-metabase-setting.ts
  packages/server-core/src/setting/engine-setting/migrations/20241004103729_merge-redis-setting.ts
  packages/server-core/src/setting/engine-setting/migrations/20241209141820_merge-server-setting.ts
  packages/server-core/src/setting/engine-setting/migrations/20241309141820_merge-add-data-type-column.ts
  packages/server-core/src/updateAppConfig.ts
Owners: @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra
