Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

Fix MoreOptionsMenu on studio
  packages/ui/src/components/tailwind/MoreOptionsMenu/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add props to overlaycomponent
  packages/engine/src/scene/components/OverlayComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

New primitive: Sidebar Navigation
  packages/ui/src/primitives/tailwind/SidebarNavigation/index.stories.tsx
  packages/ui/src/primitives/tailwind/SidebarNavigation/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Use sidebar navigation instead of tabs
  packages/client-core/src/user/menus/SettingsMenu.tsx
Owners: @aditya-mitra

Fix border style to underline icon
  packages/ui/src/primitives/tailwind/SidebarNavigation/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix avatar image sizes and instance chat message to fit width
  packages/client-core/src/user/InstanceChat.tsx
  packages/client-core/src/user/VideoWindows/window.tsx
  packages/client-core/src/user/menus/ProfileMenu.tsx
Owners: @aditya-mitra

Up limits to 10. Really need to consolidate a single place for this setting
  packages/client-core/i18n/en/admin.json
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/client-core/src/social/services/LocationService.ts
  packages/server-core/src/matchmaking/match-instance/match-instance.test.ts
  packages/server-core/src/social/location/location-helper.ts
  packages/server-core/src/social/location/location.test.ts
  packages/server-core/tests/util/createTestLocation.ts
Owners: @aditya-mitra, @hanzlamateen, @barankyle, @MoizAdnan, @hurairahmateen

fix export url issue and update publish
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/engine/src/gltf/exportGLTFScene.ts
Owners: @hanzlamateen, @AidanCaruso, @MichaelEstes, @dinomut1

remove animatation
  packages/client-core/src/user/UserUISystem.tsx
Owners: @aditya-mitra

Remove lock and unlock(Not supported well)
  packages/client-core/src/components/ViewerInteractions/index.tsx
Owners: @aditya-mitra

clean
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

update valid file regex
  packages/common/src/regex/index.ts
Owners: @HexaField

exclude search params from iframe embed url
  packages/client-core/src/user/menus/ShareMenu.tsx
Owners: @aditya-mitra

removed the default path for the particle texture
  packages/engine/src/scene/components/ParticleSystemComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

add transform gizmo commits and fix bug
  packages/editor/src/functions/transformGizmoHelper.ts
  packages/editor/src/services/EditorHistoryState.tsx
  packages/ui/src/components/editor/properties/transform/index.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra, @CITIZENDOT

use old url with correct hash to allow avatar to load after saving
  packages/editor/src/panels/viewport/tools/PlayModeTool.tsx
Owners: @dinomut1, @aditya-mitra

fix bug with optional schema values not being propagated
  packages/ecs/src/ComponentFunctions.ts
Owners: @speigg

clean up some stuff
  packages/editor/src/functions/addMediaNode.ts
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/spatial/src/renderer/materials/MaterialComponent.tsx
  packages/spatial/src/renderer/materials/prototypes/HolographicMaterial.mat.ts
  packages/spatial/src/renderer/materials/prototypes/MeshBasicMaterial.mat.ts
  packages/spatial/src/renderer/materials/prototypes/MeshLambertMaterial.mat.ts
  packages/spatial/src/renderer/materials/prototypes/MeshMatcapMaterial.mat.ts
  packages/spatial/src/renderer/materials/prototypes/MeshStandardMaterial.mat.ts
Owners: @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1, @DanielBelmes

add matrix update for rotate/scale functions
  packages/editor/src/functions/EditorControlFunctions.ts
Owners: @SYBIOTE

fix gltf load matrix compute
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

fix(accordion): display the chevron with the correct size
  packages/ui/src/primitives/tailwind/Accordion/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix studio intersection logic
  packages/editor/src/functions/addMediaNode.ts
  packages/editor/src/functions/getIntersectingNode.ts
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
Owners: @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1

use texture.userData.url if it exists over src
  packages/engine/src/gltf/exportGLTFScene.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

fixed some regex and tested them
  packages/common/src/model/ModelTransformFunctions.test.ts
  packages/common/src/model/ModelTransformFunctions.ts
  packages/engine/src/assets/functions/pathResolver.test.ts
  packages/engine/src/assets/functions/pathResolver.ts
Owners: @HexaField, @MichaelEstes, @dinomut1, @speigg

cpal
  packages/common/src/model/ModelTransformFunctions.test.ts
Owners: @HexaField

Added check to ensure BQ parameters are there
  packages/server-core/src/cluster/logs-api/logs-api.class.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

added the cursor pointer class to the play pause
  packages/ui/src/components/editor/properties/audio/general/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

removed show controls checkbox since it does nothing for audio
  packages/ui/src/components/editor/properties/audio/general/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

uncomment reg
  packages/server-core/src/media/file-browser/file-browser.class.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

update regex test
  packages/common/tests/regex.test.ts
Owners: @HexaField

fix error
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

fix error
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

get drag n drop working, todo reactive bookkeeping
  packages/editor/src/functions/addMediaNode.ts
  packages/spatial/src/renderer/materials/materialFunctions.ts
Owners: @SYBIOTE, @AidanCaruso, @DanielBelmes, @MichaelEstes

fix error
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

add qat-mt, clean up deploy and build_and_publish
  scripts/build_and_publish_package.sh
  scripts/deploy.sh
Owners: @barankyle, @hanzlamateen, @DanielBelmes

ensure material propagation, avoid parameter desync
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/panels/properties/materialeditor.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

add input component
  packages/engine/src/interaction/components/InteractableComponent.ts
Owners: @SamMazerIR, @speigg

restrict debug menu to a third of the screen
  packages/client-core/src/components/Debug/index.tsx
Owners: @aditya-mitra

refactor prop args for p2p network state
  packages/client-core/src/transports/p2p/PeerToPeerNetworkState.tsx
Owners: @aditya-mitra

format
  packages/client-core/src/user/menus/ShareMenu.tsx
Owners: @aditya-mitra
