Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

Fixed project-permission tests
  packages/server-core/src/projects/project-permission/project-permission.hooks.ts
  packages/server-core/src/projects/project-permission/project-permission.test.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Improve Heirarchy panel
  packages/editor/src/components/EditorContainer.css
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
  packages/editor/src/panels/hierarchy/hierarchytree.tsx
Owners: @dinomut1, @aditya-mitra

commented out unused file browser tests
  packages/server-core/src/media/file-browser/file-browser.test.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

IR-5520: Changes to add moderation scopes
  packages/server-core/src/scope/scope-type/migrations/20250203091500_moderation-scopes.ts
  packages/server-core/src/scope/scope-type/scope-type.seed.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Update Numeric Inputs, Entity Editor, Node Editor
  packages/editor/src/panels/properties/propertyeditor.tsx
  packages/ui/src/components/editor/ComponentDropdown/index.tsx
  packages/ui/src/components/editor/Slider/index.tsx
  packages/ui/src/components/editor/input/Euler/index.tsx
  packages/ui/src/components/editor/input/Group/index.tsx
  packages/ui/src/components/editor/input/Numeric/index.tsx
  packages/ui/src/components/editor/input/String/index.tsx
  packages/ui/src/components/editor/input/Vector3/index.stories.tsx
  packages/ui/src/components/editor/input/Vector3/index.tsx
  packages/ui/src/components/editor/properties/transform/index.tsx
  packages/ui/src/primitives/tailwind/Label/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

Update Slider primitive
  packages/ui/src/components/editor/ComponentDropdown/index.tsx
  packages/ui/src/components/editor/Slider/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add mute in editor functionality
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

- add autoplay in editor functionality - add autoplay at Runtime functionality
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

implemented the invert transparency for the updated video component
  packages/engine/src/scene/components/MediaComponent.ts
  packages/engine/src/scene/components/VideoComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

wip update three and temporarily disable csm, realism effects
  package.json
  packages/client-core/package.json
  packages/client/public/workers/generateBVHAsync.worker.js
  packages/client/public/workers/three.module.min.js
  packages/editor/package.json
  packages/engine/package.json
  packages/engine/src/assets/loaders/gltf/KTX2Loader.js
  packages/engine/src/postprocessing/MotionBlurEffect.tsx
  packages/engine/src/postprocessing/PopulateEffectRegistry.tsx
  packages/engine/src/scene/components/ImageComponent.ts
  packages/engine/src/scene/systems/ShadowSystem.tsx
  packages/network/package.json
  packages/spatial/package.json
  packages/spatial/src/renderer/WebGLRendererSystem.tsx
  packages/spatial/src/renderer/csm/CSM.ts
  packages/spatial/src/transform/functions/MeshBVHSystem.tsx
  packages/ui/package.json
  packages/ui/src/components/editor/input/Texture/index.tsx
  packages/ui/src/components/editor/properties/postProcessing/index.tsx
  packages/visual-script/package.json
  patches/three+0.158.0.patch
  patches/three+0.173.0.patch
Owners: @HexaField, @aditya-mitra, @barankyle, @dinomut1, @AidanCaruso, @MichaelEstes, @speigg, @DanielBelmes, @MbfloydIR, @CITIZENDOT, @SamMazerIR, @SYBIOTE

Improve Studio viewport, toolbars and some node editors
  packages/editor/src/panels/assets/categories.tsx
  packages/editor/src/panels/assets/resources.tsx
  packages/editor/src/panels/assets/topbar.tsx
  packages/editor/src/panels/files/toolbar.tsx
  packages/editor/src/panels/scenes/index.tsx
  packages/editor/src/panels/viewport/index.tsx
  packages/editor/src/panels/viewport/tools/GridTool.tsx
  packages/editor/src/panels/viewport/tools/RenderTool.tsx
  packages/editor/src/panels/viewport/tools/SceneHelpersTool.tsx
  packages/editor/src/panels/viewport/tools/TransformPivotTool.tsx
  packages/editor/src/panels/viewport/tools/TransformSnapTool.tsx
  packages/editor/src/panels/viewport/tools/TransformSpaceTool.tsx
  packages/ui/src/components/editor/DropdownItem/index.tsx
  packages/ui/src/components/editor/ImageLink/index.tsx
  packages/ui/src/components/editor/ViewportButton/index.stories.tsx
  packages/ui/src/components/editor/ViewportButton/index.tsx
  packages/ui/src/components/editor/input/Numeric/index.tsx
  packages/ui/src/primitives/tailwind/Dropdown/index.tsx
  packages/ui/src/primitives/tailwind/Label/index.tsx
  packages/ui/src/primitives/tailwind/Select/index.tsx
  packages/ui/src/primitives/tailwind/Tooltip/index.tsx
  packages/ui/src/primitives/tailwind/Tooltip/tooltip.css
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

cleanup
  packages/client-core/src/user/UserUISystem.tsx
  packages/client-core/src/user/menus/avatar/EmbedFrame.tsx
  packages/engine/src/scene/components/IFrameComponent.ts
Owners: @aditya-mitra, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix lint
  packages/client-core/src/user/menus/avatar/EmbedFrame.tsx
Owners: @aditya-mitra

actual fix lint
  packages/client-core/src/user/menus/avatar/EmbedFrame.tsx
Owners: @aditya-mitra

Update TopBar
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/components/toolbar/Toolbar.tsx
  packages/editor/src/panels/viewport/tools/TransformGizmoTool.tsx
  packages/ui/editor.ts
  packages/ui/src/components/editor/ToolbarButton/index.stories.tsx
  packages/ui/src/components/editor/ToolbarButton/index.tsx
  packages/ui/src/components/editor/input/Vector3/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

removed the positional audio from the editor ui centered the vector2 input text update the label override to use an array
  packages/editor/src/services/ComponentEditors.tsx
  packages/ui/src/components/editor/input/Vector2/index.tsx
  packages/ui/src/components/editor/input/Vector3/index.tsx
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

Update dock tab colors
  packages/editor/src/components/EditorContainer.css
Owners: @dinomut1, @aditya-mitra

centered the drag icon
  packages/ui/src/components/editorUpdates/input/Array/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

use optional component
  packages/client-core/src/user/UserUISystem.tsx
Owners: @aditya-mitra

cleaned up the axis class name overrides
  packages/ui/src/components/editor/input/Vector2/index.tsx
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Update location menus (WIP)
  packages/client-core/src/user/menus/ProfileMenu.tsx
  packages/client-core/src/user/menus/ShareMenu.tsx
  packages/client-core/src/user/menus/social/FriendsMenu.tsx
  packages/client-core/src/user/menus/social/MessagesMenu.tsx
  packages/ui/src/primitives/tailwind/Modal/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

change express for koa for local file server
  packages/server-core/src/media/storageprovider/local.storage.ts
  packages/server/package.json
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix file saving
  packages/editor/src/functions/sceneFunctions.tsx
  packages/engine/src/gltf/exportGLTFScene.ts
Owners: @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1

format
  packages/editor/src/functions/sceneFunctions.tsx
Owners: @SYBIOTE

revert file server
  packages/server-core/src/media/storageprovider/local.storage.ts
  packages/server-core/src/services.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix bug with hierarchy not updating
  packages/editor/src/panels/hierarchy/hooks.tsx
Owners: @dinomut1, @aditya-mitra

more gltf loader test coverage
  packages/engine/src/gltf/GLTFLoader.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

implement deferred entity disposal to fix reactive ECS missing an unmount & remount of the same eid & component
  packages/ecs/index.ts
  packages/ecs/src/ComponentFunctions.test.tsx
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/Engine.ts
  packages/ecs/src/EntityFunctions.test.tsx
  packages/ecs/src/EntityFunctions.tsx
  packages/ecs/src/Layers.test.tsx
  packages/ecs/src/QueryFunctions.test.tsx
  packages/ecs/src/QueryFunctions.tsx
  packages/ecs/src/TransitionSystem.test.tsx
  packages/ecs/src/UUIDComponent.ts
  packages/ecs/src/createEntity.ts
  packages/ecs/tests/ecs.test.ts
  packages/editor/src/systems/ModelLoadingSpinnerSystem.tsx
  packages/spatial/src/input/components/InputPointerComponent.test.ts
Owners: @speigg, @dinomut1, @aditya-mitra, @heysokam, @SamMazerIR

fix invalid cross import in test
  packages/spatial/src/renderer/components/PostProcessingComponent.test.tsx
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

fix invalid cross import in test
  packages/ecs/src/TransitionSystem.test.tsx
Owners: @speigg

fix instanced variants & punctual lights
  packages/engine/src/gltf/MeshExtensionComponents.tsx
  packages/engine/src/scene/components/VariantComponent.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @speigg, @CITIZENDOT

fix MOZ light maps
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/gltf/MaterialExtensionComponents.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

format
  packages/engine/src/gltf/MeshExtensionComponents.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

removed the useEffect for the controls
  packages/engine/src/scene/components/MediaComponent.ts
  packages/ui/src/components/editor/properties/video/index.tsx
  packages/ui/src/components/editorUpdates/input/Array/index.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @aditya-mitra, @SYBIOTE

Minor style change to improve the legibility of the Create Scene dialog, including when it is extended by other projects through UI injection.
  packages/editor/src/components/dialogs/CreateScenePanelDialog.tsx
Owners: @dinomut1, @aditya-mitra

Update Publish Modal colors, Viewport buttons and context menu
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/editor/src/panels/files/contextmenu.tsx
  packages/editor/src/panels/files/toolbar.tsx
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
  packages/ui/src/components/editor/Slider/index.tsx
  packages/ui/src/components/editor/ViewportButton/index.tsx
  packages/ui/src/components/editor/properties/envmap/index.tsx
  packages/ui/src/primitives/tailwind/Modal/index.tsx
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @hanzlamateen, @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

test stylelint error
  .stylelintrc.json
Owners: @HexaField

fix stylelint
  .stylelintrc.json
Owners: @HexaField

put lint rule in the right place
  eslint.config.mjs
Owners: @HexaField

Update asset metadata context menu
  packages/client-core/src/common/services/ThemeService.tsx
  packages/editor/src/panels/assets/resources.tsx
Owners: @aditya-mitra, @dinomut1
