Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

fix type
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add back useeffect
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix content position in select
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

open menu on search
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Update ResourceState.tsx
  packages/spatial/src/resources/ResourceState.tsx
Owners: @MichaelEstes

Update ResourceState.tsx
  packages/spatial/src/resources/ResourceState.tsx
Owners: @MichaelEstes

remove some more unused deps
  packages/client-core/package.json
  packages/client/package.json
Owners: @aditya-mitra, @barankyle

remove more unused deps
  packages/client-core/package.json
  packages/editor/package.json
  packages/engine/package.json
  packages/ui/package.json
Owners: @aditya-mitra, @dinomut1, @AidanCaruso, @MichaelEstes, @SYBIOTE, @CITIZENDOT

Moved variables inside condition when they are used
  packages/server-core/src/moderation/moderation-attachment/moderation-attachment.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Refactor moderation table to improve user type display and enhance moderation ban hooks for external provider validation
  packages/client-core/src/admin/components/moderation/ModerationTable.tsx
  packages/server-core/src/moderation/moderation-ban/moderation-ban.hooks.ts
Owners: @hanzlamateen, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

h-fit for profile and settings menu
  packages/client-core/src/user/menus/ProfileMenu.tsx
  packages/client-core/src/user/menus/SettingsMenu.tsx
Owners: @aditya-mitra

move Icon component into its own panel util common file
  packages/editor/src/components/panels/IconComponent.tsx
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
  packages/editor/src/panels/properties/propertyeditor.tsx
Owners: @dinomut1, @aditya-mitra

put event listener addition in useEffect
  packages/ui/src/components/editor/input/Numeric/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

set default
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add blue progress bar
  packages/ui/src/primitives/tailwind/Progress/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

feat: added project name to created project event in history
  packages/client-core/i18n/en/admin.json
  packages/client-core/src/admin/components/project/ProjectHistory.tsx
Owners: @aditya-mitra, @hanzlamateen

removed the update call per josh' request
  packages/engine/src/scene/systems/ShadowSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

report user dialog for mobile
  packages/client-core/src/user/InstanceChat.tsx
  packages/client-core/src/user/VideoWindows/hook.tsx
  packages/client-core/src/user/VideoWindows/index.tsx
  packages/client-core/src/user/VideoWindows/window.tsx
  packages/ui/src/icons/files/WarningLg.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Comment updates
  packages/ui/src/components/editor/properties/mesh/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Update @kubernetes/client-core imports
  packages/server-core/src/ServerState.ts
  packages/server-core/src/cluster/pods/pods-helper.ts
  packages/server-core/src/createApp.ts
  packages/server-core/src/k8s-job-helper.ts
  packages/server-core/src/projects/project/project-helper.ts
  packages/server-core/src/user/github-repo-access-refresh/github-repo-access-refresh.class.ts
  scripts/prune_ecr_images.ts
  scripts/prune_gcp_ar_images.ts
  scripts/update-cronjob-image.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra, @DanielBelmes

updated Marquee selection so it works on non gtlf entities and only on visible entities
  packages/editor/src/panels/viewport/tools/SelectionBoxTool.tsx
Owners: @dinomut1, @aditya-mitra

move maxResolution under null check
  packages/client-core/src/transports/p2p/PeerToPeerNetworkState.tsx
Owners: @aditya-mitra

Environment system error fix
  packages/engine/src/scene/systems/EnvironmentSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

update UUID generation method
  packages/editor/src/functions/gizmos/gizmoCommonFunctions.ts
  packages/editor/src/functions/gizmos/studioIconGizmoHelper.ts
  packages/editor/src/systems/ActiveHelperSystem.ts
  packages/spatial/src/common/debug/useHelperEntity.ts
  packages/spatial/src/renderer/WebGLRendererSystem.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra, @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR, @DanielBelmes

hide the tposes
  packages/client-core/src/networking/AvatarSpawnSystem.tsx
  packages/engine/src/avatar/functions/spawnAvatarReceptor.ts
Owners: @aditya-mitra, @AidanCaruso

Move disableScroll function inside useEffect
  packages/ui/src/components/editor/input/Numeric/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

update regex
  packages/common/src/model/ModelTransformFunctions.test.ts
  packages/common/src/model/ModelTransformFunctions.ts
  packages/common/src/regex/index.ts
Owners: @HexaField

fix test
  packages/client-core/src/networking/AvatarSpawnSystem.tsx
Owners: @aditya-mitra

improve delete containers script
  scripts/delete-containers.sh
Owners: @barankyle, @hanzlamateen, @DanielBelmes

Update where material uuid is sourced from
  packages/ui/src/components/editor/properties/mesh/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

format
  packages/server-core/src/cluster/logs-api/logs-api.class.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fixed reactivity in select state
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Fix bug where marquee selection was being applied to whole page
  packages/editor/src/panels/viewport/tools/SelectionBoxTool.tsx
Owners: @dinomut1, @aditya-mitra

Add key to map of env reactors
  packages/engine/src/scene/systems/EnvironmentSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

add analytics level
  packages/server-core/src/cluster/logs-api/logs-api.class.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

add type to key
  packages/engine/src/scene/systems/EnvironmentSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

move it to avatar animation system
  packages/client-core/src/networking/AvatarSpawnSystem.tsx
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
Owners: @aditya-mitra, @AidanCaruso

remove visible logic from avatar spawn system
  packages/client-core/src/networking/AvatarSpawnSystem.tsx
Owners: @aditya-mitra

fix duplicate key error
  packages/engine/src/scene/systems/EnvironmentSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

corrected the way the properties are committed to account for modifying property
  packages/editor/src/functions/EditorControlFunctions.ts
Owners: @SYBIOTE
