Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

fix upload file and folders button
  packages/editor/src/panels/files/toolbar.tsx
Owners: @dinomut1, @aditya-mitra

Fix IPv6 Support for Local File Server
  packages/server-core/src/media/storageprovider/local.storage.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

remove deprecated material functions
  packages/engine/src/scene/materials/systems/MaterialLibrarySystem.tsx
  packages/engine/src/scene/systems/SceneObjectSystem.tsx
  packages/spatial/src/renderer/materials/materialFunctions.test.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @DanielBelmes, @MichaelEstes

fmt: Refactor the WebXRManager factory into multiple functions
  packages/spatial/src/xr/WebXRManager.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

feat: update avatar selection & avatar creator menus
  packages/client-core/i18n/en/user.json
  packages/client-core/src/user/components/UserMenu/menus/AvatarCreatorMenu2.tsx
  packages/client-core/src/user/components/UserMenu/menus/AvatarSelectMenu2.tsx
  packages/client-core/src/user/components/UserMenu/menus/ProfileMenu.tsx
Owners: @aditya-mitra

format
  packages/engine/src/gltf/GLTFComponent.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

more optimizations around APIs
  packages/client-core/src/API.ts
  packages/client-core/src/components/InviteToast/index.tsx
  packages/client-core/src/components/LoadWebappInjection.tsx
  packages/client-core/src/components/LocationIcons/index.tsx
  packages/client-core/src/components/MediaIconsBox/index.tsx
  packages/client-core/src/components/World/EngineHooks.tsx
  packages/client-core/src/user/services/AuthService.ts
  packages/common/src/utils/FeathersHooks.tsx
  packages/editor/src/pages/EditorPage.tsx
  packages/instanceserver/src/channels.ts
  packages/projects/loadEngineInjection.ts
  packages/projects/loadWebappInjection.ts
  packages/ui/src/pages/Capture/index.stories.tsx
  packages/ui/src/pages/Chat/chat.tsx
Owners: @aditya-mitra, @speigg, @HexaField, @dinomut1, @SYBIOTE, @CITIZENDOT

fix spectate logic regressions
  packages/client-core/src/networking/AvatarSpawnSystem.tsx
Owners: @aditya-mitra

merge
  packages/engine/src/scene/components/SpawnPointComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

add test for avatar spawn system
  packages/client-core/src/networking/AvatarSpawnSystem.test.tsx
  packages/client-core/src/networking/AvatarSpawnSystem.tsx
  packages/common/src/utils/getSearchParamFromURL.ts
Owners: @aditya-mitra, @HexaField

wip
  packages/engine/src/scene/systems/SceneObjectSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

bug fixes, auth non viewer requests on location service
  packages/client-core/src/admin/components/locations/LocationTable.tsx
  packages/client-core/src/components/Debug/index.tsx
  packages/client-core/src/components/LoadWebappInjection.tsx
  packages/client-core/src/components/LocationIcons/index.tsx
  packages/client-core/src/social/services/LocationService.ts
  packages/client-core/src/systems/AvatarUISystem.tsx
  packages/client-core/src/systems/LoadingUISystem.tsx
  packages/client-core/src/systems/WidgetUISystem.tsx
  packages/client-core/src/user/UserUISystem.tsx
  packages/client-core/src/world/ClientModule.ts
  packages/client/src/pages/AppPage.tsx
  packages/client/src/pages/themeContext.tsx
  packages/common/src/schemas/social/location.schema.ts
  packages/ecs/src/Engine.ts
  packages/engine/src/avatar/systems/AvatarInputSystem.ts
  packages/hyperflux/src/functions/StoreFunctions.ts
  packages/projects/default-project/projectEventHooks.ts
  packages/server-core/src/appconfig.ts
  packages/server-core/src/hooks/authenticate.ts
  packages/server-core/src/media/static-resource/static-resource.hooks.ts
  packages/server-core/src/social/location/location.ts
  packages/spatial/src/input/functions/ClientInputHeuristics.ts
Owners: @hanzlamateen, @aditya-mitra, @barankyle, @HexaField, @speigg, @AidanCaruso, @MoizAdnan, @hurairahmateen, @heysokam, @SamMazerIR

fix physics entities appearing before scene load
  packages/engine/src/gltf/GLTFComponent.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

update userid sets in tests
  packages/editor/src/functions/EditorControlFunctions.test.tsx
  packages/engine/src/avatar/functions/moveAvatar.test.tsx
  packages/engine/src/avatar/functions/spawnAvatarReceptor.test.tsx
  packages/engine/src/grabbable/GrabbableSystem.test.tsx
  packages/engine/src/scene/components/MountPointComponent.test.tsx
  packages/network/src/EntityNetworkState.test.tsx
  packages/network/src/NetworkPeerState.test.tsx
  packages/network/src/serialization/DataReader.test.ts
  packages/spatial/src/camera/systems/CameraSystem.test.tsx
  packages/spatial/src/input/functions/ClientInputHeuristics.test.tsx
Owners: @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1, @speigg, @CITIZENDOT, @DanielBelmes, @SamMazerIR, @heysokam

remove old unused and erroring avatar select menu
  packages/client-core/src/common/components/ProfilePill/index.tsx
  packages/client-core/src/user/UserUISystem.tsx
  packages/client-core/src/user/components/UserMenu/menus/AvatarCreatorMenu2.tsx
  packages/client-core/src/user/components/UserMenu/menus/AvatarSelectMenu.tsx
  packages/client-core/src/user/components/UserMenu/menus/AvatarSelectMenu2.tsx
  packages/client-core/src/user/components/UserMenu/menus/ProfileMenu.tsx
Owners: @aditya-mitra

fix error in avatar service
  packages/client-core/src/user/services/AvatarService.ts
Owners: @aditya-mitra

move missing user avatar reassign logic to backend under feathers login event
  packages/client-core/src/user/services/AuthService.ts
  packages/server-core/src/user/user/user.ts
Owners: @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

fix test
  packages/spatial/src/input/functions/ClientInputHeuristics.ts
Owners: @heysokam, @SamMazerIR, @speigg

fix: crash caused by redis Pub/Sub output buffer limits
  packages/server-core/src/media/upload-asset/upload-asset.service.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix optional access to viewer transform
  packages/engine/src/scene/systems/SceneObjectDynamicLoadSystem.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fixing a test and logic for showing error
  packages/spatial/src/physics/components/ColliderComponent.test.ts
  packages/ui/src/components/editor/properties/gltf/loader/index.tsx
Owners: @heysokam, @aditya-mitra, @SYBIOTE, @CITIZENDOT

selected state for gizmo tools
  packages/editor/src/panels/viewport/tools/TransformGizmoTool.tsx
Owners: @dinomut1, @aditya-mitra

use default scene thumbnaikl
  packages/editor/src/panels/scenes/SceneItem.tsx
Owners: @dinomut1, @aditya-mitra

removed the display total since it is not representative of the actual total amount
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

updated the text and border color to 42454D for the my assets panel
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

aligned the "previous" to the left
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

Enable http2 for vite dev
  packages/client/vite.config.ts
Owners: @barankyle, @aditya-mitra

adding rigidbody warning back to ColliderComponent
  packages/client-core/i18n/en/editor.json
  packages/ui/src/components/editor/properties/collider/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix prettier and eslint clash, resolve merge error
  .stylelintrc.json
  packages/client-core/src/user/components/UserMenu/menus/AvatarCreatorMenu2.tsx
  packages/common/src/utils/FeathersHooks.tsx
Owners: @HexaField, @aditya-mitra

fix no ref to avatar state
  packages/engine/src/avatar/systems/AvatarControllerSystem.ts
Owners: @AidanCaruso

added arrow char
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

simplify project event hooks
  packages/projects/default-project/projectEventHooks.ts
Owners: @HexaField

format
  packages/engine/src/avatar/systems/AvatarControllerSystem.ts
Owners: @AidanCaruso

Fixed some security issues with identity-provider service
  packages/server-core/src/user/identity-provider/identity-provider.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fixing spam for no entityUUID component being found, which apparently also fixes audio volume adjustment issue
  packages/ui/src/components/editor/properties/trigger/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

converting checks to just include in query
  packages/ui/src/components/editor/properties/trigger/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

updated padding and height for the left nav
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

one more
  packages/ui/src/components/editor/properties/trigger/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

update right side my assets nav
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

fix test and studio play mode
  packages/client-core/src/networking/AvatarSpawnSystem.test.tsx
  packages/client-core/src/networking/AvatarSpawnSystem.tsx
  packages/editor/src/panels/viewport/tools/PlayModeTool.tsx
Owners: @aditya-mitra, @dinomut1
