Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

Updated alert ui to match designs
  packages/ui/src/primitives/tailwind/Alert/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

feat(ui): create a alert component [IR-4557] (#297)
  packages/ui/src/primitives/tailwind/Alert/index.stories.tsx
  packages/ui/src/primitives/tailwind/Alert/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Replaced console.warn with logger.warn
  packages/server-core/src/media/static-resource/static-resource.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Ir 4319 custom thumbnails (#262)
  packages/client-core/i18n/en/editor.json
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
  packages/editor/src/panels/files/modals/FilePropertiesModal.tsx
  packages/server-core/src/media/static-resource/static-resource.hooks.ts
  packages/server-core/src/media/static-resource/static-resource.resolvers.ts
Owners: @aditya-mitra, @dinomut1, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

corrected merge conflict
  packages/editor/src/services/EditorServices.ts
Owners: @dinomut1, @aditya-mitra

show warning modal for unsupported device (#289)
  packages/client-core/i18n/en/editor.json
  packages/editor/src/functions/deviceCheck.ts
  packages/editor/src/pages/EditorPage.tsx
  packages/editor/src/services/EditorServices.ts
Owners: @aditya-mitra, @SYBIOTE, @dinomut1

throw error for unsupported file
  packages/editor/src/functions/assetFunctions.ts
Owners: @SYBIOTE

fixes for storybook
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.tsx
  packages/ui/src/components/editor/input/Node/index.stories.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add the new designs for button
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.tsx
  packages/ui/src/primitives/tailwind/Button/index.stories.tsx
  packages/ui/src/primitives/tailwind/Button/index.tsx
  packages/ui/tailwind.config.js
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

temp
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

remove classNames
  packages/ui/src/primitives/tailwind/Button/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

throw modal if error
  packages/client-core/i18n/en/editor.json
  packages/editor/src/panels/files/toolbar.tsx
Owners: @aditya-mitra, @dinomut1

fix surface-bg typo
  tailwind.config.js
Owners: @HexaField

gitignore root cookie accesor (#247)
  packages/client/.gitignore
  packages/client/public/root-cookie-accessor.html
Owners: @barankyle, @aditya-mitra

Exporting proper JWKs format on jwt-public-key (#265)
  packages/client-core/src/user/services/AuthService.ts
  packages/server-core/package.json
  packages/server-core/src/appconfig.ts
  packages/server-core/src/updateAppConfig.ts
  packages/server-core/src/user/jwt-public-key/jwt-public-key.class.ts
Owners: @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

Fix root cookie accesor (#249)
  packages/client-core/src/common/iframeCOM.ts
  packages/client-core/src/user/services/AuthService.ts
  packages/client-core/src/util/wait-for-client-authenticated.ts
  packages/client/index.html
  packages/client/public/root-cookie-accessor-template.html
  packages/client/src/store.tsx
Owners: @aditya-mitra, @barankyle

update sruface color
  packages/editor/src/pages/EditorPage.tsx
  packages/editor/src/panels/files/fileitem.tsx
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
Owners: @dinomut1, @aditya-mitra

optimize shader complexxity calc
  packages/editor/src/systems/RenderMonitorSystem.tsx
Owners: @dinomut1, @aditya-mitra

more color changes
  packages/editor/src/components/assets/ImageCompressionPanel.tsx
  packages/editor/src/components/assets/ModelCompressionPanel.tsx
  packages/editor/src/panels/files/modals/FilePropertiesModal.tsx
  packages/editor/src/panels/files/modals/ImageConvertModal.tsx
  packages/editor/src/panels/files/toolbar.tsx
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
Owners: @dinomut1, @aditya-mitra

more
  packages/editor/src/panels/properties/propertyeditor.tsx
Owners: @dinomut1, @aditya-mitra

Initial position
  packages/spatial/src/common/proxies/createThreejsProxy.ts
  packages/spatial/src/transform/components/TransformComponent.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

update function calls
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

Prevent CSM from being disposed every render
  packages/engine/src/scene/systems/ShadowSystem.tsx
  packages/spatial/src/renderer/WebGLRendererSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @DanielBelmes, @MichaelEstes

color and ui changes
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/components/assets/ImageCompressionPanel.tsx
  packages/editor/src/components/toolbar/Toolbar.tsx
  packages/editor/src/panels/files/toolbar.tsx
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
  packages/editor/src/panels/hierarchy/hierarchytree.tsx
  packages/editor/src/panels/properties/materialeditor.tsx
  packages/editor/src/panels/properties/propertyeditor.tsx
  packages/editor/src/panels/scenes/SceneItem.tsx
  packages/editor/src/panels/scenes/index.tsx
  packages/editor/src/panels/viewport/index.tsx
  packages/editor/src/panels/viewport/tools/GizmoTool.tsx
  packages/ui/src/components/editor/layout/Panel.tsx
  packages/ui/src/components/tailwind/SearchBar/index.tsx
  packages/ui/src/primitives/tailwind/Button/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

setup camera gizmo visuals
  packages/editor/src/classes/CameraGizmoVisualComponent.ts
  packages/editor/src/constants/GizmoPresets.ts
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

fix all node entities being removed on unmount due to erroneous check
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

more colors
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/components/toolbar/Toolbar.tsx
  packages/editor/src/panels/hierarchy/hierarchytree.tsx
  packages/editor/src/panels/properties/propertyeditor.tsx
  packages/ui/src/components/editor/panels/Assets/container/index.tsx
  packages/ui/src/components/editor/properties/group/index.tsx
  packages/ui/src/components/tailwind/SearchBar/index.tsx
  packages/ui/src/primitives/tailwind/Input/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

active tab color
  packages/editor/src/components/EditorContainer.css
  packages/ui/src/components/editor/layout/Panel.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

fixing support for mesh emitter type, currently only supports gltf/glb with single mesh in it, calls getFirstMesh
  packages/engine/src/scene/components/ParticleSystemComponent.ts
  packages/ui/src/components/editor/properties/particle/index.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @aditya-mitra, @SYBIOTE

moving mesh shape to another spot
  packages/ui/src/components/editor/properties/particle/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

adding info to mesh shape dropzone
  packages/client-core/i18n/en/editor.json
  packages/ui/src/components/editor/properties/particle/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

incomplete camera gizmo
  packages/editor/src/EditorModule.ts
  packages/editor/src/classes/gizmo/camera/CameraGizmoControlComponent.ts
  packages/editor/src/classes/gizmo/camera/CameraGizmoControlledComponent.ts
  packages/editor/src/classes/gizmo/camera/CameraGizmoVisualComponent.ts
  packages/editor/src/classes/gizmo/transform/TransformGizmoControlComponent.ts
  packages/editor/src/classes/gizmo/transform/TransformGizmoControlledComponent.ts
  packages/editor/src/classes/gizmo/transform/TransformGizmoVisualComponent.ts
  packages/editor/src/functions/cameraGizmoHelper.ts
  packages/editor/src/functions/transformGizmoHelper.ts
  packages/editor/src/systems/CameraGizmoSystem.ts
  packages/editor/src/systems/EditorControlSystem.ts
  packages/editor/src/systems/TransformGizmoSystem.ts
  packages/spatial/src/camera/components/CameraComponent.ts
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @DanielBelmes, @SamMazerIR, @speigg

update tool bar
  packages/editor/src/panels/viewport/tools/GridTool.tsx
  packages/editor/src/panels/viewport/tools/RenderTool.tsx
  packages/editor/src/panels/viewport/tools/SceneHelpersTool.tsx
  packages/editor/src/panels/viewport/tools/TransformPivotTool.tsx
  packages/editor/src/panels/viewport/tools/TransformSnapTool.tsx
  packages/editor/src/panels/viewport/tools/TransformSpaceTool.tsx
  packages/ui/src/primitives/tailwind/Button/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

update tab height
  packages/editor/src/panels/files/toolbar.tsx
Owners: @dinomut1, @aditya-mitra

update nav icon
  packages/client/public/ir-studio-icon.svg
  packages/editor/src/components/toolbar/Toolbar.tsx
Owners: @barankyle, @aditya-mitra, @dinomut1

update prfabs modal
  packages/editor/src/panels/properties/elementlist.tsx
Owners: @dinomut1, @aditya-mitra

Correcting the project name associated with an upload request
  packages/editor/src/systems/UploadRequestSystem.tsx
Owners: @dinomut1, @aditya-mitra

tst: Bugfix for `assertVecAnyNotEq` calling `*Eq` instead of `*NotEq`
  packages/spatial/src/physics/classes/Physics.test.tsx
Owners: @heysokam

added the set Anchor Event to undefined to hide the file context menu on selecting the delete asset option
  packages/editor/src/panels/files/contextmenu.tsx
Owners: @dinomut1, @aditya-mitra

Add worldSpaceBox and objectSpaceBox to BoundingBoxComponent
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
  packages/engine/src/interaction/components/InteractableComponent.ts
  packages/spatial/src/input/functions/ClientInputHeuristics.test.tsx
  packages/spatial/src/input/functions/ClientInputHeuristics.ts
  packages/spatial/src/renderer/components/MeshComponent.ts
  packages/spatial/src/transform/components/BoundingBoxComponents.ts
  packages/spatial/src/transform/systems/TransformSystem.ts
  packages/xrui/core/components/LayoutComponent.tsx
Owners: @aditya-mitra, @SamMazerIR, @speigg, @heysokam, @AidanCaruso, @DanielBelmes, @MichaelEstes

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
