Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

support loading component values from extras
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

change account identifer to email in auth service
  packages/client-core/src/user/services/AuthService.ts
Owners: @aditya-mitra

remove paginate from auth service call
  packages/client-core/src/user/services/AuthService.ts
Owners: @aditya-mitra

Change default to skybox
  packages/engine/src/scene/components/EnvmapComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix gizmo rotation not syncing with UI
  packages/ui/src/components/editor/input/Euler/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix possible null matrix
  packages/editor/src/functions/EditorControlFunctions.ts
Owners: @SYBIOTE

Enhance public query restrictions to allow projectId parameter
  packages/server-core/src/social/location/location.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

updated logic to validate the time and check if it is before the start time, so it can be adjusted
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

removed the dev console log
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Commit properties
  packages/engine/src/scene/components/EnvmapComponent.tsx
  packages/ui/src/components/editor/properties/envmap/index.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @aditya-mitra, @SYBIOTE

fixing issue with the shader find/replace when switching to lambert in the ditheringShaderChunk. commenting rather than removing for future context
  packages/spatial/src/renderer/materials/constants/plugins/ditherShaderChunk.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

fix clearcoat normal scale, fix attenuation color, fix default material properties
  packages/engine/src/gltf/GLTFState.tsx
  packages/engine/src/gltf/MaterialDefinitionComponent.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

fix for default material metalness value
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

change imports
  packages/engine/src/scene/components/ScenePreviewCamera.ts
  packages/ui/src/components/editor/properties/scene/previewCamera/index.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @aditya-mitra, @SYBIOTE

fixing alphaTest error, not sure why avatar Preview camera isn't showing avatar still
  packages/spatial/src/renderer/materials/constants/plugins/TransparencyDitheringComponent.tsx
  packages/spatial/src/renderer/materials/constants/plugins/ditherShaderChunk.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

turn off concurrency for engine spatial
  packages/engine/vitest.config.ts
  packages/spatial/vitest.config.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @speigg, @MbfloydIR, @SamMazerIR

gltf assign final material parity
  packages/engine/src/gltf/GLTFState.tsx
  packages/engine/src/gltf/MaterialDefinitionComponent.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

fix alpha cutoff
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

update checkboxes
  packages/client-core/src/admin/components/channel/ChannelTable.tsx
  packages/client-core/src/admin/components/invites/AddEditInviteModal.tsx
  packages/client-core/src/admin/components/invites/InviteTable.tsx
  packages/client-core/src/admin/components/project/UpdateEngineModal.tsx
  packages/client-core/src/admin/components/settings/tabs/instanceServer.tsx
  packages/client-core/src/admin/components/user/UserTable.tsx
  packages/editor/src/components/dialogs/ImportSettingsPanelDialog.tsx
  packages/editor/src/components/projects/ProjectsPage.tsx
  packages/editor/src/components/properties/GLTFTransformProperties.tsx
  packages/editor/src/panels/files/modals/ImageConvertModal.tsx
  packages/ui/src/components/editor/properties/gltf/transform/index.tsx
Owners: @hanzlamateen, @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

remove boolean input and replace with checkbox
  packages/client-core/src/user/components/UserMenu/menus/SettingMenu2.tsx
  packages/editor/src/components/assets/ImageCompressionPanel.tsx
  packages/editor/src/panels/files/toolbar.tsx
  packages/editor/src/panels/viewport/tools/RenderTool.tsx
  packages/ui/src/components/editor/input/Behavior/index.tsx
  packages/ui/src/components/editor/input/Boolean/index.stories.tsx
  packages/ui/src/components/editor/input/Boolean/index.tsx
  packages/ui/src/components/editor/properties/animation/index.tsx
  packages/ui/src/components/editor/properties/audio/analysis/index.tsx
  packages/ui/src/components/editor/properties/envMapBake/index.tsx
  packages/ui/src/components/editor/properties/envMapBake/properties/index.tsx
  packages/ui/src/components/editor/properties/gltf/loader/index.tsx
  packages/ui/src/components/editor/properties/groundPlane/index.tsx
  packages/ui/src/components/editor/properties/interact/index.tsx
  packages/ui/src/components/editor/properties/light/shadowProperties/index.tsx
  packages/ui/src/components/editor/properties/light/spot/index.tsx
  packages/ui/src/components/editor/properties/link/index.tsx
  packages/ui/src/components/editor/properties/lookAt/index.tsx
  packages/ui/src/components/editor/properties/media/index.tsx
  packages/ui/src/components/editor/properties/media/settings/index.tsx
  packages/ui/src/components/editor/properties/mountPoint/index.tsx
  packages/ui/src/components/editor/properties/parameter/index.tsx
  packages/ui/src/components/editor/properties/particle/index.tsx
  packages/ui/src/components/editor/properties/playlist/index.tsx
  packages/ui/src/components/editor/properties/portal/index.tsx
  packages/ui/src/components/editor/properties/postProcessing/index.tsx
  packages/ui/src/components/editor/properties/render/index.tsx
  packages/ui/src/components/editor/properties/scene/settings/index.tsx
  packages/ui/src/components/editor/properties/sdf/index.tsx
  packages/ui/src/components/editor/properties/shadow/index.tsx
  packages/ui/src/components/editor/properties/spline/track/index.tsx
  packages/ui/src/components/editor/properties/transform/index.tsx
  packages/ui/src/components/editor/properties/video/index.tsx
  packages/ui/src/components/editor/properties/visualScript/index.tsx
  packages/ui/src/components/editor/properties/volumetric/legacy/index.tsx
  packages/ui/src/primitives/tailwind/Checkbox/index.tsx
Owners: @aditya-mitra, @dinomut1, @SYBIOTE, @CITIZENDOT

update other places
  packages/ui/src/components/editor/properties/text/index.tsx
  packages/ui/src/primitives/tailwind/MultiSelect/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Listen for SourceComponent changes
  packages/editor/src/panels/hierarchy/hooks.tsx
Owners: @dinomut1, @aditya-mitra

Update Radio component props to allow JSX.Element for label and description
  packages/ui/src/primitives/tailwind/Radio/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Add action parameter to identity provider queries and update hooks for admin access
  packages/client-core/src/admin/components/user/AccountIdentifiers.tsx
  packages/common/src/schemas/user/identity-provider.schema.ts
  packages/server-core/src/user/identity-provider/identity-provider.hooks.ts
Owners: @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

remove tab text background color
  packages/ui/src/components/editor/layout/Panel.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

ir 4461 add looping progressBar to fileProperties
  packages/client-core/src/systems/ui/LoadingDetailView/SimpleProgressBar.tsx
  packages/editor/src/panels/files/modals/FilePropertiesModal.tsx
  packages/editor/src/panels/files/modals/FilePropertiesSaveConfirmationModal.tsx
Owners: @aditya-mitra, @dinomut1

clean
  packages/editor/src/panels/files/modals/FilePropertiesSaveConfirmationModal.tsx
Owners: @dinomut1, @aditya-mitra

fix: swagger documentation
  packages/server-core/src/cluster/logs-api/logs-api.docs.ts
  packages/server-core/src/cluster/pods/pods.docs.ts
  packages/server-core/src/createApp.ts
  packages/server-core/src/user/accept-invite/accept-invite.docs.ts
  packages/server-core/src/user/authentication.doc.ts
  packages/server-core/src/user/authentication.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix thumbnail not generated from scene preview camera
  packages/editor/src/functions/takeScreenshot.ts
  packages/editor/src/services/SceneThumbnailState.tsx
  packages/ui/src/components/editor/properties/scene/previewCamera/index.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra, @CITIZENDOT

remove main camera from take screenshot
  packages/editor/src/functions/takeScreenshot.ts
Owners: @SYBIOTE

adjust localtion modal
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

remove asset panel css file
  packages/client/src/themes/components.css
  packages/editor/src/panels/assets/assetPanel.css
  packages/editor/src/panels/assets/resources.tsx
Owners: @barankyle, @aditya-mitra, @dinomut1

Replace pre existing prefab UUIDs
  packages/ecs/src/ComponentFunctions.ts
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
  packages/editor/src/functions/addMediaNode.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/gltfUtils.ts
Owners: @speigg, @dinomut1, @aditya-mitra, @SYBIOTE, @AidanCaruso, @MichaelEstes

fixing distance calculation for follow camera startDistance, will reactively update but will not lerp, as this would cause lerping on fresh load-in instead of actually starting at the startDistance
  packages/spatial/src/camera/components/FollowCameraComponent.ts
Owners: @DanielBelmes, @SamMazerIR, @speigg

Check errors fix
  packages/engine/src/gltf/gltfUtils.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

set metalness to 1
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

fix animation loader function and cleanup loop animation component logic
  packages/engine/src/avatar/components/LoopAnimationComponent.ts
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

Fix projectId population in locationPatchResolver when sceneId is present
  packages/server-core/src/social/location/location.resolvers.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix three patches
  packages/engine/src/avatar/components/AnimationComponent.ts
  packages/spatial/src/initializeEngine.ts
  packages/spatial/src/renderer/components/ObjectComponent.ts
  packages/spatial/src/threejsPatches.ts
Owners: @AidanCaruso, @speigg, @MichaelEstes, @MbfloydIR, @SamMazerIR, @DanielBelmes

tests
  packages/spatial/src/renderer/components/lights/DirectionalLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/DirectionalLightComponent.ts
  packages/spatial/src/renderer/components/lights/HemisphereLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/HemisphereLightComponent.ts
  packages/spatial/src/renderer/components/lights/SpotLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/SpotLightComponent.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes
