Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

Only show rotate message for mobile users
  packages/client-core/src/components/ViewerInteractions/index.tsx
Owners: @aditya-mitra

Add Google & Apple OAuth
  packages/client-core/src/user/menus/ProfileMenu.tsx
Owners: @aditya-mitra

Fix ToS text and add link to the page
  packages/client-core/src/user/menus/ProfileMenu.tsx
Owners: @aditya-mitra

add underline offset
  packages/client-core/src/user/menus/ProfileMenu.tsx
Owners: @aditya-mitra

wip - updated audio ui
  packages/client-core/i18n/en/editor.json
  packages/editor/src/functions/addMediaNode.ts
  packages/editor/src/services/ComponentEditors.tsx
  packages/editor/src/services/ComponentShelfCategoriesState.ts
  packages/engine/src/audio/components/GeneralAudioComponent.ts
  packages/ui/src/components/editor/properties/audio/general/index.tsx
  packages/ui/src/components/editor/properties/audio/positional/index.stories.tsx
  packages/ui/src/components/editor/properties/audio/positional/index.tsx
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @dinomut1, @speigg, @CITIZENDOT

removed "self" as an option from the list of other media source options
  packages/ui/src/components/editor/properties/audio/general/index.tsx
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

updated reaction to sync to other selection
  packages/ui/src/components/editor/properties/audio/general/index.tsx
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

wip - particle component fixes
  packages/engine/src/scene/components/ParticleSystemComponent.ts
  packages/ui/src/components/editor/input/Generator/Value/index.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @aditya-mitra, @SYBIOTE

removed unused code
  packages/engine/src/audio/components/GeneralAudioComponent.ts
Owners: @speigg

returned default texture value
  packages/engine/src/scene/components/ParticleSystemComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix entity simulation entity reference
  packages/ui/src/components/editor/properties/animation/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

animation mixer root node is set to simulation layer on load
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

use the client setting terms of service
  packages/client-core/src/user/menus/ProfileMenu.tsx
Owners: @aditya-mitra

Implement Undo Redo on ECS
  packages/ecs/src/QueryFunctions.tsx
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/components/properties/Util.ts
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
  packages/editor/src/panels/properties/common/NodeEditor.tsx
  packages/editor/src/panels/properties/elementlist.tsx
  packages/editor/src/services/EditorHistoryState.test.tsx
  packages/editor/src/services/EditorHistoryState.tsx
  packages/editor/src/systems/EditorControlSystem.ts
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/ui/src/components/editor/properties/collider/index.tsx
  packages/ui/src/components/editor/properties/input/index.tsx
  packages/ui/src/components/editor/properties/transform/index.tsx
Owners: @speigg, @dinomut1, @aditya-mitra, @SYBIOTE, @AidanCaruso, @MichaelEstes, @CITIZENDOT

format
  packages/ecs/src/QueryFunctions.tsx
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/components/properties/Util.ts
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/ui/src/components/editor/properties/collider/index.tsx
Owners: @speigg, @dinomut1, @aditya-mitra, @AidanCaruso, @MichaelEstes, @SYBIOTE, @CITIZENDOT

bug fix
  packages/editor/src/functions/EditorControlFunctions.ts
Owners: @SYBIOTE

feat: update avatar ui with the new color system
  packages/client-core/i18n/en/user.json
  packages/client-core/src/common/components/Avatar/Avatar2.tsx
  packages/client-core/src/user/menus/avatar/AvatarCreatorMenu.tsx
  packages/client-core/src/user/menus/avatar/AvatarSelectMenu.tsx
  packages/client-core/src/user/menus/avatar/DiscardAvatarChangesMenu.tsx
Owners: @aditya-mitra

Accidentally deleted an important part of the engine mb. Added back
  packages/client/src/pages/location/location.tsx
Owners: @barankyle, @aditya-mitra

fix apple icon color
  packages/client-core/src/user/menus/ProfileMenu.tsx
Owners: @aditya-mitra

replace icon with stock icon
  packages/client-core/src/components/MediaIconsBox/index.tsx
Owners: @aditya-mitra

fix colors in Avatar Select Menu
  packages/client-core/src/user/menus/avatar/AvatarSelectMenu.tsx
Owners: @aditya-mitra

updated the positional audio comp to make it backward compatible
  packages/engine/src/audio/components/PositionalAudioComponent.ts
Owners: @speigg

updating strokes for TransformGizmoTool svg icons, updating order, fixing icons used
  packages/editor/src/panels/viewport/tools/TransformGizmoTool.tsx
  packages/ui/src/icons/files/Cursor03Default.tsx
  packages/ui/src/icons/files/Cursor03Lg.tsx
  packages/ui/src/icons/files/Cursor03Sm.tsx
  packages/ui/src/icons/files/MoveLg.tsx
  packages/ui/src/icons/files/MoveMd.tsx
  packages/ui/src/icons/files/MoveSm.tsx
  packages/ui/src/icons/files/Refresh1Lg.tsx
  packages/ui/src/icons/files/Refresh1Md.tsx
  packages/ui/src/icons/files/Refresh1Sm.tsx
  packages/ui/src/icons/files/Scale02Lg.tsx
  packages/ui/src/icons/files/Scale02Md.tsx
  packages/ui/src/icons/files/Scale02Sm.tsx
  packages/ui/src/icons/files/TransformLg.tsx
  packages/ui/src/icons/files/TransformMd.tsx
  packages/ui/src/icons/files/TransformSm.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

Changed text color and improved size of video icon
  packages/client-core/src/user/InstanceChat.tsx
  packages/client-core/src/user/VideoWindows/window.tsx
Owners: @aditya-mitra

joystick was losing position on tablet sizes
  packages/client-core/src/common/components/TouchGamepad/index.tsx
Owners: @aditya-mitra

updated the useEffect to be dependent on the sceneEntity's existence
  packages/engine/src/scene/components/ParticleSystemComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Improved positioning of buttons, Simplified video button, simplified joystick placement
  packages/client-core/src/common/components/TouchGamepad/index.tsx
  packages/client-core/src/components/MediaIconsBox/index.tsx
  packages/client-core/src/components/ViewerInteractions/index.tsx
  packages/client-core/src/user/components/LocationIconButton.tsx
Owners: @aditya-mitra

chore(ir-engine): added dns provider config
  packages/server-core/src/appconfig.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

initial pass at exporter logic
  packages/ecs/src/SceneDeltaState.tsx
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/engine/src/gltf/SceneDeltaExporterExtension.ts
  packages/engine/src/gltf/exportGLTFScene.ts
Owners: @speigg, @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1

licensing
  packages/ecs/src/SceneDeltaState.tsx
  packages/engine/src/gltf/SceneDeltaExporterExtension.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @dinomut1

Add validation API to event source receptors
  packages/ecs/src/Engine.ts
  packages/engine/src/avatar/animation/AvatarAnimationGraph.ts
  packages/engine/src/grabbable/GrabbableSystem.test.tsx
  packages/engine/src/scene/systems/SceneNetworkSystem.tsx
  packages/hyperflux/src/functions/ActionFunctions.ts
  packages/hyperflux/src/functions/StoreFunctions.ts
  packages/network/src/EntityNetworkState.test.tsx
  packages/network/src/EntityNetworkState.tsx
  packages/network/src/functions/NetworkActionFunctions.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @dinomut1, @CITIZENDOT

format
  packages/engine/src/avatar/animation/AvatarAnimationGraph.ts
  packages/network/src/EntityNetworkState.test.tsx
Owners: @AidanCaruso, @speigg

fix(accordion): truncate title
  packages/ui/src/primitives/tailwind/Accordion/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

precalculate transform matrices, ensure authoring updates
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
Owners: @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1

remake branch with just the workflow script
  .github/workflows/branch-build.yml
Owners: @DanielBelmes

change import for webxr emulator patch node script
  packages/spatial/tests/webxr/emulator.ts
  vitest.client.config.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR, @HexaField

share button opens link sharing on device
  packages/client-core/src/user/menus/ShareMenu.tsx
Owners: @aditya-mitra

run patchnode even on client
  packages/spatial/src/patchDOMMatrix.ts
  packages/spatial/src/patchNode.ts
  packages/spatial/src/threejsPatches.ts
  packages/spatial/tests/webxr/emulator.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

minor corrections
  packages/client-core/src/user/InstanceChat.tsx
  packages/client-core/src/user/menus/ProfileMenu.tsx
Owners: @aditya-mitra

update slider primitive
  packages/client-core/src/user/menus/SettingsMenu.tsx
  packages/ui/src/components/editor/Slider/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT
