Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

iterateEntityNode
  packages/ui/src/components/editor/properties/light/shadowProperties/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

rootEntity
  packages/ui/src/components/editor/properties/light/shadowProperties/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

commitProperty shadowBias
  packages/ui/src/components/editor/properties/light/shadowProperties/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

translate
  packages/client-core/i18n/en/editor.json
  packages/ui/src/components/editor/properties/light/shadowProperties/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Add close button redesign from UI. Remove X again from mobile
  packages/client-core/src/user/InstanceChat.tsx
Owners: @aditya-mitra

allow both "more" and the "moderations options" to be closed when clicked outside
  packages/client-core/src/user/VideoWindows/index.tsx
  packages/client-core/src/user/VideoWindows/window.tsx
Owners: @aditya-mitra

Resize confirmation dialog in mobile
  packages/client-core/src/user/menus/ProfileMenu.tsx
  packages/ui/src/components/tailwind/ConfirmDialog/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

added report user on instance chat (#1296)
  packages/client-core/src/user/InstanceChat.tsx
  packages/client-core/src/user/VideoWindows/hook.tsx
  packages/client-core/src/user/VideoWindows/index.tsx
  packages/client-core/src/user/VideoWindows/window.tsx
  packages/client-core/src/util/ReportUserState.tsx
Owners: @aditya-mitra

creator privacy policy (#1300)
  packages/client-core/i18n/en/user.json
  packages/client-core/src/user/menus/ProfileMenu.tsx
Owners: @aditya-mitra

use breakpoints
  packages/client-core/src/user/menus/ProfileMenu.tsx
  packages/ui/src/components/tailwind/ConfirmDialog/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fixed autoplay issue
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Move joystick images to static folder
  packages/client-core/src/common/components/TouchGamepad/index.tsx
  packages/client/public/basepad.svg
  packages/client/public/stickypad.svg
Owners: @aditya-mitra, @barankyle

use absolute paths instead of imports
  packages/client-core/src/common/components/TouchGamepad/index.tsx
Owners: @aditya-mitra

fixing collider 'matchMesh'
  packages/ui/src/components/editor/properties/collider/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Add reports regex handling and remove unused appendBaseUrl hook
  packages/server-core/src/media/storageprovider/s3.storage.ts
  packages/server-core/src/moderation/moderation-attachment/moderation-attachment.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix(IR-7916): validated file names before upload
  packages/editor/src/functions/assetFunctions.ts
  packages/editor/src/panels/files/helpers.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

disable shared login modal
  packages/client-core/src/user/services/AuthService.ts
Owners: @aditya-mitra

IR-8002 Fix lint
  packages/client-core/src/user/services/AuthService.ts
Owners: @aditya-mitra

fixing target rotation bug where it was writing to the rotation of the value it was checking
  packages/spatial/src/camera/components/FollowCameraComponent.ts
Owners: @DanielBelmes, @SamMazerIR, @speigg

Fixed bug with searching files
  packages/editor/src/panels/files/helpers.tsx
  packages/server-core/src/media/file-browser/file-browser.class.ts
  packages/server-core/src/media/storageprovider/local.storage.ts
Owners: @dinomut1, @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

update compressed buffer and image name
  packages/common/src/model/ModelTransformFunctions.ts
Owners: @HexaField

Squash all changes
  packages/client-core/src/networking/AvatarSpawnSystem.test.tsx
  packages/editor/src/functions/EditorControlFunctions.test.tsx
  packages/editor/src/panels/viewport/tools/SelectionBoxTool.test.tsx
  packages/engine/src/assets/functions/resourceLoaderFunctions.ts
  packages/engine/src/assets/functions/resourceLoaderHooks.test.tsx
  packages/engine/src/assets/loaders/base/FileLoader.ts
  packages/engine/src/assets/loaders/base/ResourceCache.ts
  packages/engine/src/assets/loaders/gltf/KTX2Loader.js
  packages/engine/src/assets/loaders/image/ImageBitmapLoader.ts
  packages/engine/src/assets/loaders/texture/RefetchableTexture.ts
  packages/engine/src/assets/loaders/texture/TextureLoader.ts
  packages/engine/src/assets/state/ResourceCacheState.ts
  packages/engine/src/assets/state/ResourceLoadingManager.test.tsx
  packages/engine/src/assets/state/ResourceLoadingManagerState.ts
  packages/engine/src/avatar/components/AnimationComponent.test.tsx
  packages/engine/src/avatar/functions/avatarFunctions.test.ts
  packages/engine/src/avatar/functions/retargetingFunctions.test.tsx
  packages/engine/src/avatar/systems/AvatarIKSystem.test.tsx
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/GLTFLoader.test.tsx
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/gltf/GLTFState.test.tsx
  packages/engine/src/scene/systems/EnvironmentSystem.tsx
  packages/engine/tests/util/loadEmptyScene.ts
  packages/engine/tests/util/loadGLTFAssetNode.ts
  packages/spatial/src/initializeEngine.ts
  packages/spatial/src/input/components/InputComponent.test.tsx
  packages/spatial/src/input/components/InputComponent.ts
  packages/spatial/src/input/functions/ClientInputFunctions.ts
  packages/spatial/src/input/systems/ClientInputSystem.tsx
  packages/spatial/src/renderer/PerformanceState.test.tsx
  packages/spatial/src/renderer/PerformanceState.ts
  packages/spatial/src/renderer/WebGLRendererSystem.tsx
  packages/spatial/src/renderer/csm/CSM.ts
  packages/spatial/src/resources/ResourceState.tsx
Owners: @aditya-mitra, @SYBIOTE, @dinomut1, @MichaelEstes, @speigg, @AidanCaruso, @CITIZENDOT, @MbfloydIR, @SamMazerIR, @heysokam, @DanielBelmes

almost fix texture drag drop
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/functions/addMediaNode.ts
  packages/editor/src/panels/properties/materialeditor.tsx
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
Owners: @SYBIOTE, @dinomut1, @aditya-mitra, @AidanCaruso, @MichaelEstes

fixed issues with the collider component not setting up correct if adding a trigger
  packages/ecs/src/ComponentFunctions.ts
  packages/engine/src/scene/components/TriggerCallbackComponent.ts
  packages/engine/src/scene/systems/TriggerCallbackSystem.ts
  packages/ui/src/components/editor/properties/trigger/index.tsx
Owners: @speigg, @dinomut1, @CITIZENDOT, @AidanCaruso, @aditya-mitra, @SYBIOTE

iPhone texture discarding
  packages/engine/src/scene/systems/EnvironmentSystem.tsx
  packages/spatial/src/resources/ResourceState.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @MichaelEstes

iPhone texture discarding
  packages/spatial/src/resources/ResourceState.tsx
Owners: @MichaelEstes

removed dev log
  packages/engine/src/scene/systems/TriggerCallbackSystem.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

iPhone texture discarding
  packages/spatial/src/resources/ResourceState.tsx
Owners: @MichaelEstes

fix some stuff
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
Owners: @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1

more fixes
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
Owners: @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1

fixed issue with setting the media's seek time, triggered the autoplay check use effect and the HTMLMediaElement's play/pause useEffect
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

simplified return per Josh's request
  packages/ecs/src/ComponentFunctions.ts
Owners: @speigg

fixed the trigger callback component test to make sure the trigger is set to the correct collisionLayer and collisionMask
  packages/engine/src/scene/components/TriggerCallbackComponent.test.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Refactor shadow handling in CSMReactor to improve entity state management
  packages/engine/src/scene/systems/ShadowSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

updated trigger collider tests
  packages/engine/src/scene/components/TriggerCallbackComponent.test.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

use promises
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

Update Tooltip position in SceneItem component
  packages/editor/src/panels/scenes/SceneItem.tsx
Owners: @dinomut1, @aditya-mitra

reverted the changes to the tigger callback test
  packages/engine/src/scene/components/TriggerCallbackComponent.test.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

removed force setComponents form the trigger callback component, and added them instead to the node editor for the trigger callback component
  packages/engine/src/scene/components/TriggerCallbackComponent.ts
  packages/ui/src/components/editor/properties/trigger/index.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @aditya-mitra, @SYBIOTE

removed un used code
  packages/engine/src/scene/components/TriggerCallbackComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso
