Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

Add dataType assignment using getDataType utility in InstanceServerTab
  packages/client-core/src/admin/components/settings/tabs/instanceServer.tsx
Owners: @hanzlamateen

update tests to reflect new default values
  packages/spatial/src/renderer/components/lights/PointLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/SpotLightComponent.test.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

add hide button and remember unsupported device
  packages/client-core/src/components/modals/UnsupportedBrowser.tsx
  packages/client-core/src/components/modals/UnsupportedDevice.tsx
  packages/client-core/src/hooks/useUnsupported.tsx
Owners: @aditya-mitra, @jose-galvan

format
  packages/client-core/src/user/UserUISystem.tsx
  packages/client-core/src/user/services/AuthService.ts
  packages/client-core/src/user/useUserProjectPermission.tsx
  packages/editor/src/functions/EditorControlFunctions.test.tsx
  packages/editor/src/functions/sceneFunctions.tsx
  packages/editor/src/pages/EditorPage.tsx
  packages/editor/src/panels/viewport/tools/PlayModeTool.tsx
  packages/editor/src/systems/ObjectGridSnapSystem.ts
  packages/editor/src/systems/TransformGizmoSystem.test.ts
  packages/editor/src/systems/TransformGizmoSystem.ts
  packages/engine/src/avatar/components/AvatarControllerComponent.ts
  packages/engine/src/avatar/systems/AvatarTransparencySystem.tsx
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/grabbable/GrabbableSystem.tsx
  packages/engine/src/interaction/components/InteractableComponent.ts
  packages/engine/src/interaction/systems/MountPointSystem.ts
  packages/engine/src/scene/components/LinkComponent.ts
  packages/engine/src/scene/components/MountPointComponent.test.tsx
  packages/engine/src/scene/components/ObjectGridSnapComponent.ts
  packages/engine/src/scene/components/ScenePreviewCamera.ts
  packages/engine/src/scene/components/SplineTrackComponent.ts
  packages/engine/src/scene/systems/ShadowSystem.tsx
  packages/engine/src/xrui/createXRUI.tsx
  packages/spatial/src/camera/components/FollowCameraComponent.ts
  packages/spatial/src/camera/functions/CameraFunctions.ts
  packages/spatial/src/camera/systems/CameraFadeBlackEffectSystem.tsx
  packages/spatial/src/camera/systems/CameraOrbitSystem.tsx
  packages/spatial/src/camera/systems/CameraSystem.test.tsx
  packages/spatial/src/input/components/InputComponent.test.tsx
  packages/spatial/src/input/components/InputComponent.ts
  packages/spatial/src/input/functions/ClientInputHeuristics.test.tsx
  packages/spatial/src/input/functions/ClientInputHeuristics.ts
  packages/spatial/src/physics/systems/PhysicsSystem.tsx
  packages/spatial/src/renderer/PerformanceState.test.tsx
  packages/spatial/src/renderer/WebGLRendererSystem.test.tsx
  packages/spatial/src/renderer/components/FogSettingsComponent.test.tsx
  packages/spatial/src/renderer/components/PostProcessingComponent.test.tsx
  packages/spatial/src/transform/systems/LookAtSystem.test.ts
  packages/spatial/src/xrui/components/PointerComponent.ts
Owners: @aditya-mitra, @SYBIOTE, @dinomut1, @AidanCaruso, @MichaelEstes, @SamMazerIR, @speigg, @CITIZENDOT, @DanielBelmes, @heysokam

rewrite tests for network package to not reference spatial package
  packages/ecs/src/EntityTree.tsx
  packages/network/src/EntityNetworkState.test.tsx
  packages/network/src/NetworkPeerState.test.tsx
  packages/network/src/serialization/DataReader.test.ts
  packages/network/src/serialization/DataReader.ts
  packages/network/src/serialization/DataWriter.test.ts
  packages/network/src/systems/IncomingActionSystem.test.ts
  packages/visual-script/package.json
Owners: @speigg, @SYBIOTE

fix test
  packages/ecs/src/EntityTree.test.tsx
Owners: @speigg

format
  packages/network/src/serialization/DataWriter.test.ts
Owners: @speigg

Refactor and Simplify Storage Access Logic
  packages/client-core/src/user/services/AuthService.ts
  packages/client/public/root-cookie-accessor-template.html
Owners: @aditya-mitra, @barankyle

Fix IK, refactor into separate component and system
  packages/engine/src/avatar/AvatarModule.ts
  packages/engine/src/avatar/animation/TwoBoneIKSolver.ts
  packages/engine/src/avatar/components/AvatarAnimationComponent.ts
  packages/engine/src/avatar/components/AvatarIKComponents.ts
  packages/engine/src/avatar/functions/avatarFunctions.ts
  packages/engine/src/avatar/functions/spawnAvatarReceptor.ts
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
  packages/engine/src/avatar/systems/AvatarIkSystem.tsx
Owners: @AidanCaruso

refactor ik matrix calculation
  packages/engine/src/avatar/components/AvatarAnimationComponent.ts
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
  packages/engine/src/avatar/systems/AvatarIkSystem.tsx
Owners: @AidanCaruso

Force clone project to lower case
  scripts/clone-project.ts
Owners: @barankyle, @hanzlamateen, @DanielBelmes

move webrtc peer connection into reusable hook
  packages/client-core/src/transports/p2p/PeerToPeerNetworkState.tsx
  packages/network/index.ts
  packages/network/src/webrtc/useWebRTCPeerConnection.ts
Owners: @aditya-mitra, @speigg

format
  packages/network/index.ts
Owners: @speigg

remove filter on cached actions from just the ones we've seen to all
  packages/network/src/webrtc/useWebRTCPeerConnection.ts
Owners: @speigg

Fix doubled XRUI click events
  packages/spatial/src/xrui/systems/XRUISystem.ts
Owners: @speigg

Move useEngineCanvas to spatial package
  packages/client-core/src/systems/LoadingUISystem.tsx
  packages/client/src/pages/location/location.tsx
  packages/editor/src/panels/viewport/index.tsx
  packages/spatial/src/renderer/functions/useEngineCanvas.ts
  packages/ui/src/pages/Capture/index.tsx
Owners: @aditya-mitra, @barankyle, @dinomut1, @AidanCaruso, @DanielBelmes, @MichaelEstes, @SYBIOTE, @CITIZENDOT

feat: use avatar 2D render from RPM as thumbnail
  packages/client-core/src/user/components/UserMenu/menus/AvatarCreatorMenu2.tsx
Owners: @aditya-mitra

Update editor.json
  packages/client-core/i18n/en/editor.json
Owners: @aditya-mitra

format
  packages/client/src/pages/location/location.tsx
  packages/editor/src/panels/viewport/index.tsx
  packages/ui/src/pages/Capture/index.tsx
Owners: @barankyle, @aditya-mitra, @dinomut1, @SYBIOTE, @CITIZENDOT

license
  packages/network/src/webrtc/useWebRTCPeerConnection.ts
Owners: @speigg

fix avatar bone rotations
  packages/engine/src/avatar/components/AvatarAnimationComponent.ts
Owners: @AidanCaruso

fix failing tests and check errors
  packages/spatial/src/renderer/components/PostProcessingComponent.test.tsx
  packages/spatial/src/xr/XRDetectedPlaneComponent.test.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes, @speigg, @MbfloydIR, @SamMazerIR

format
  packages/spatial/src/xr/XRDetectedPlaneComponent.test.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

fix bug with mesh raycasts break gizmo
  packages/editor/src/classes/gizmo/transform/TransformGizmoControlledComponent.ts
  packages/editor/src/constants/GizmoPresets.ts
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

fix detected planes
  packages/editor/src/constants/GizmoPresets.ts
  packages/spatial/src/xr/XRDetectedPlaneComponent.ts
  packages/spatial/src/xr/XRScenePlacementShaderSystem.tsx
Owners: @dinomut1, @aditya-mitra, @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

fix instanced LODs
  packages/engine/src/scene/components/VariantComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix closing avatar select menu crashing world
  packages/client-core/src/common/components/AvatarPreview/index.tsx
  packages/client-core/src/user/components/Panel3D/useRender3DPanelSystem.tsx
Owners: @aditya-mitra

format
  packages/engine/src/scene/components/VariantComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Move receiveJoinWorld
  packages/client-core/src/networking/AvatarSpawnSystem.tsx
  packages/client-core/src/transports/mediasoup/MediasoupClientFunctions.ts
  packages/engine/src/avatar/functions/spawnLocalAvatarInWorld.ts
  packages/instanceserver/src/NetworkFunctions.ts
  packages/instanceserver/src/SocketFunctions.ts
  packages/instanceserver/tests/InstanceLoad.test.ts
Owners: @aditya-mitra, @AidanCaruso, @HexaField

format
  packages/client-core/src/networking/AvatarSpawnSystem.tsx
  packages/client-core/src/transports/mediasoup/MediasoupClientFunctions.ts
  packages/instanceserver/src/NetworkFunctions.ts
  packages/instanceserver/tests/InstanceLoad.test.ts
Owners: @aditya-mitra, @HexaField

Add screen snap helper fit function
  packages/spatial/src/transform/functions/ObjectFitFunctions.ts
Owners: @SamMazerIR

Remove useMeshComponent API
  packages/engine/src/scene/components/GroundPlaneComponent.ts
  packages/engine/src/scene/components/ImageComponent.ts
  packages/engine/src/scene/components/PrimitiveGeometryComponent.ts
  packages/engine/src/scene/components/VideoComponent.tsx
  packages/spatial/src/renderer/components/InfiniteGridHelper.ts
  packages/spatial/src/renderer/components/MeshComponent.test.tsx
  packages/spatial/src/renderer/components/MeshComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @DanielBelmes, @MichaelEstes

cleanup
  packages/spatial/src/transform/functions/ObjectFitFunctions.ts
Owners: @SamMazerIR

fix test
  packages/spatial/src/renderer/components/InfiniteGridHelper.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

chore: set default value for previewEnabled in avatar creator menu
  packages/client-core/src/user/components/UserMenu/menus/AvatarCreatorMenu2.tsx
Owners: @aditya-mitra

Replace AvatarCreatorMenu with AvatarCreatorMenu2
  packages/client-core/src/user/UserUISystem.tsx
  packages/client-core/src/user/components/UserMenu/menus/AvatarCreatorMenu.tsx
  packages/client-core/src/user/components/UserMenu/menus/AvatarCreatorMenu2.tsx
Owners: @aditya-mitra

Replace isArray from lodash with Array.isArray
  packages/client/vite.config.ts
  packages/spatial/src/renderer/materials/materialFunctions.test.ts
  packages/spatial/src/renderer/materials/materialFunctions.ts
Owners: @barankyle, @aditya-mitra, @AidanCaruso, @DanielBelmes, @MichaelEstes

remove unused deps and move to appropriate places
  package.json
  packages/client-core/package.json
  packages/common/package.json
  packages/engine/package.json
  packages/server-core/package.json
  packages/spatial/package.json
  packages/ui/package.json
Owners: @HexaField, @aditya-mitra, @AidanCaruso, @MichaelEstes, @dinomut1, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @speigg, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT

remove more packages and unused code
  package.json
  packages/client-core/package.json
  packages/client/package.json
  packages/client/src/pages/403/403.tsx
  packages/client/src/pages/403/style.ts
  packages/client/vite.config.ts
  packages/common/package.json
  packages/editor/package.json
  packages/editor/src/components/projects/usePaginatedSearch.tsx
  packages/network/package.json
  packages/server-core/package.json
  packages/server-core/src/appconfig.ts
  packages/server-core/src/createApp.ts
  packages/server-core/src/media/storageprovider/ipfs.storage.ts
  packages/server-core/src/media/storageprovider/storageprovider.ts
  packages/server/package.json
  packages/ui/package.json
  packages/ui/src/pages/Capture/index.tsx
  packages/visual-script/package.json
  packages/xrui/package.json
Owners: @HexaField, @aditya-mitra, @barankyle, @dinomut1, @speigg, @MoizAdnan, @hanzlamateen, @hurairahmateen, @SYBIOTE, @CITIZENDOT

update sharp
  packages/server-core/package.json
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
