Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

revert gltf export
  packages/editor/src/functions/exportGLTF.ts
Owners: @SYBIOTE

revert gltf export (#134)
  packages/editor/src/functions/exportGLTF.ts
Owners: @SYBIOTE

fix: Error guards for `materialPrototypeMatches`
  packages/spatial/src/renderer/materials/materialFunctions.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

tst: Bugfixes for tests: typesafety changes at `materialFunctions.ts`
  packages/spatial/src/renderer/materials/materialFunctions.test.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

fix regex import
  packages/editor/src/functions/exportGLTF.ts
Owners: @SYBIOTE

Update README.md
  README.md
Owners: @HexaField

fix regex import (#135)
  packages/editor/src/functions/exportGLTF.ts
Owners: @SYBIOTE

adding FogSettingsComponent into the components shelf (it was missing and only available from prefabs menu)
  packages/editor/src/services/ComponentShelfCategoriesState.ts
Owners: @dinomut1, @aditya-mitra

INT 0.8 don't apply pretransform to rigidbody entity (#136)
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.ts
Owners: @heysokam

INT 0.8 update prefab ui (#131)
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
Owners: @dinomut1, @aditya-mitra

INT 0.8 removed camera mode fro the camera settings component and the the edi… (#130)
  packages/engine/src/scene/components/CameraSettingsComponent.ts
  packages/ui/src/components/editor/properties/cameraProperties/index.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @aditya-mitra, @SYBIOTE

fixing toggling of fog component visibility
  packages/spatial/src/renderer/components/FogSettingsComponent.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

Disabling location type selector as private has issues in MT setting
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

rename var
  packages/client-core/src/util/ClientContextState.ts
Owners: @aditya-mitra

INT 0.8 Disable location type selector (#140)
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

fix: Always-true error on `MaterialInstanceComponent.onRemove`
  packages/spatial/src/renderer/materials/MaterialComponent.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

fix: Error guard on `updateMaterialPrototype`
  packages/spatial/src/renderer/materials/materialFunctions.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

tst: Unit Tests for `materialFunctions.ts` (phase 10)
  packages/spatial/src/renderer/materials/materialFunctions.test.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

tst: Sketch for `MaterialStateComponent.onRemove` Unit Tests
  packages/spatial/src/renderer/materials/MaterialComponent.test.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

fix model component path
  packages/ui/src/components/editor/properties/model/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Include assets in model component export path
  packages/ui/src/components/editor/properties/model/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

prevent entire path being used for the file
  packages/editor/src/functions/exportGLTF.ts
Owners: @SYBIOTE

feedback for cannot download
  packages/client-core/i18n/en/editor.json
  packages/ui/src/components/editor/panels/Files/container/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix skybox luminance
  packages/engine/src/scene/classes/Sky.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

refactor viewport panel
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/constants/AssetTypes.ts
  packages/editor/src/panels/files/helpers.tsx
  packages/editor/src/panels/viewport/index.tsx
  packages/editor/src/panels/viewport/tools/GizmoTool.tsx
  packages/editor/src/panels/viewport/tools/GridTool.tsx
  packages/editor/src/panels/viewport/tools/PlayModeTool.tsx
  packages/editor/src/panels/viewport/tools/RenderTool.tsx
  packages/editor/src/panels/viewport/tools/SceneHelpersTool.tsx
  packages/editor/src/panels/viewport/tools/TransformPivotTool.tsx
  packages/editor/src/panels/viewport/tools/TransformSnapTool.tsx
  packages/editor/src/panels/viewport/tools/TransformSpaceTool.tsx
  packages/editor/src/panels/viewport/tools/icons/collider_atoms.svg
  packages/editor/src/panels/viewport/tools/icons/ruler.svg
  packages/editor/src/panels/viewport/tools/icons/screenshot.svg
  packages/ui/src/components/editor/panels/Viewport/container/index.stories.tsx
  packages/ui/src/components/editor/panels/Viewport/index.stories.tsx
  packages/ui/src/components/editor/panels/Viewport/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

refactor: Add LoadingView component to Select dropdown
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Refetch history logs on page change (#123)
  packages/client-core/src/admin/components/project/ProjectHistory.tsx
Owners: @hanzlamateen

`FileDataType` import correction
  packages/editor/src/components/assets/ImageCompressionPanel.tsx
  packages/editor/src/components/assets/ModelCompressionPanel.tsx
  packages/editor/src/panels/files/contextmenu.tsx
  packages/editor/src/panels/files/fileitem.tsx
  packages/editor/src/panels/files/modals/DeleteFileModal.tsx
  packages/editor/src/panels/files/modals/ImageConvertModal.tsx
  packages/editor/src/panels/files/modals/RenameFileModal.tsx
  packages/editor/src/services/FilesState.tsx
  packages/ui/src/components/editor/panels/Hierarchy/node/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

IR-4308-fix-skybox-luminance (#143)
  packages/engine/src/scene/classes/Sky.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

much simpler and cleaner version of this retrigger logic
  packages/spatial/src/renderer/components/FogSettingsComponent.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

toJSON
  packages/ecs/src/ComponentFunctions.ts
  packages/engine/src/scene/components/GroundPlaneComponent.ts
  packages/engine/src/scene/components/OldColliderComponent.tsx
  packages/spatial/src/physics/components/ColliderComponent.tsx
  packages/spatial/src/physics/components/TriggerComponent.ts
Owners: @speigg, @dinomut1, @CITIZENDOT, @AidanCaruso, @heysokam

adding visiblecomponent to FogComponentTest to ensure updated useEffect triggers properly
  packages/spatial/src/renderer/components/FogSettingsComponent.test.tsx
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

fix(ir-engine): fixed missing email parameter in ZenDesk JWT (#146)
  packages/server-core/src/integrations/zendesk/zendesk.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Added avatars path to Cloudfront function passthrough
  packages/server-core/src/media/storageprovider/s3.storage.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix for webgl renderer test
  packages/spatial/src/renderer/WebGLRendererSystem.test.tsx
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

fix avatars not moving
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.ts
Owners: @heysokam

still set children dirty
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.ts
Owners: @heysokam

reorder to branch as early as possible
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.ts
Owners: @heysokam

start of hyperflux build. Need to decide externals
  packages/hyperflux/package.json
  packages/hyperflux/rollup.config.js
  packages/hyperflux/src/hooks/usePrevious.ts
  packages/hyperflux/tsconfig.json
Owners: @speigg

added skybox entity
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
Owners: @aditya-mitra

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
