Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

added the Segmented Control input ui
  packages/ui/src/components/editor/ComponentDropdown/index.tsx
  packages/ui/src/components/editor/input/SegmentedControl/index.tsx
  packages/ui/src/components/editor/properties/video/index.tsx
  packages/ui/src/primitives/tailwind/SegmentedControl/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

started stubbing in the new layout for the array list of source paths
  packages/client-core/i18n/en/editor.json
  packages/ui/src/components/editor/properties/video/index.tsx
  packages/ui/src/components/editorUpdates/input/Array/index.tsx
  packages/ui/src/components/editorUpdates/input/Group/index.tsx
  packages/ui/src/primitives/tailwind/SegmentedControl/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

WIP- video media source path ui
  packages/ui/src/components/editorUpdates/input/Array/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

use modifyproperty
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

add comment for remove entity
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

add .aider to .gitignore
  .gitignore
Owners: @HexaField

fix image caching
  packages/engine/src/gltf/exportGLTFScene.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

fix regex to allow things in 'public' folder
  packages/common/src/model/ModelTransformFunctions.ts
Owners: @HexaField

put temporary fix for entity tree
  packages/ecs/src/ComponentFunctions.ts
Owners: @speigg

fix re-renders and performance issuis in the react side on loading view component for loading engine viewer
  packages/client-core/src/components/LoadWebappInjection.tsx
  packages/client-core/src/world/Location.tsx
  packages/client/src/pages/AppPage.tsx
  packages/client/src/pages/location/location.tsx
  packages/client/src/store.tsx
Owners: @aditya-mitra, @barankyle

bug fixes
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/schemas/JSONSchemaUtils.ts
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/functions/sceneFunctions.tsx
  packages/editor/src/services/EditorServices.ts
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/scene/components/SkyboxComponent.ts
  packages/engine/src/scene/systems/SceneObjectSystem.tsx
  packages/spatial/src/renderer/components/ObjectLayerComponent.ts
  packages/spatial/src/renderer/components/VisibleComponent.ts
Owners: @speigg, @SYBIOTE, @dinomut1, @aditya-mitra, @AidanCaruso, @MichaelEstes, @CITIZENDOT, @DanielBelmes

revert onSet to be an override rather than optional side effect
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/UUIDComponent.ts
  packages/engine/src/scene/components/MediaComponent.ts
  packages/engine/src/scene/components/SourceComponent.ts
  packages/engine/src/scene/components/VolumetricComponent.ts
  packages/spatial/src/common/NameComponent.ts
  packages/spatial/src/physics/components/RigidBodyComponent.tsx
  packages/spatial/src/renderer/components/BoneComponent.ts
  packages/spatial/src/renderer/components/MeshComponent.ts
  packages/spatial/src/transform/components/ComputedTransformComponent.ts
  packages/spatial/src/transform/systems/TransformSystem.ts
Owners: @speigg, @dinomut1, @CITIZENDOT, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR, @heysokam, @DanielBelmes

Update settings button size
  packages/client-core/src/user/menus/ProfileMenu.tsx
Owners: @aditya-mitra

Set onChange on guest email input
  packages/client-core/src/user/menus/ProfileMenu.tsx
Owners: @aditya-mitra

Update Settings Menu size
  packages/client-core/src/user/menus/SettingsMenu.tsx
Owners: @aditya-mitra

fix spaghetti avatars
  packages/ecs/src/schemas/proxySoAStore.ts
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/tests/avatar/mockAnimatedAvatar.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @dinomut1

added segment control input's index.stories.tsx
  packages/ui/src/primitives/tailwind/SegmentedControl/index.stories.tsx
  packages/ui/src/primitives/tailwind/SegmentedControl/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

trimmed un needed items in the segmented control's index.stories.tsx
  packages/ui/src/primitives/tailwind/SegmentedControl/index.stories.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

move iframe reactor to client core
  packages/client-core/src/user/UserUISystem.tsx
  packages/ui/src/components/editor/properties/iframe/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

updated the segmented control input and its story
  packages/ui/src/primitives/tailwind/SegmentedControl/index.stories.tsx
  packages/ui/src/primitives/tailwind/SegmentedControl/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add progress bar to compression
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

add removeobject back
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

comment remove object
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

comment remove
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

wip - stubbing in the video component UI
  packages/client-core/i18n/en/editor.json
  packages/engine/src/scene/components/MediaComponent.ts
  packages/engine/src/scene/components/VideoComponent.tsx
  packages/ui/src/components/editor/Slider/index.tsx
  packages/ui/src/components/editor/input/Vector2/index.tsx
  packages/ui/src/components/editor/input/Vector3/index.tsx
  packages/ui/src/components/editor/properties/video/index.tsx
  packages/ui/src/components/editorUpdates/input/Group/index.tsx
  packages/ui/src/components/editorUpdates/properties/media/preview/index.tsx
  packages/ui/src/primitives/tailwind/Checkbox/index.tsx
Owners: @aditya-mitra, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @SYBIOTE

updated the Select Input to allow for the tex label to have an override className, as well as be placed inside the select box
  packages/client-core/i18n/en/editor.json
  packages/ui/src/components/editor/properties/video/index.tsx
  packages/ui/src/primitives/tailwind/Input/index.tsx
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

setup the Vector2 input to allow for x and y numeric input className overrides for styling
  packages/ui/src/components/editor/input/Vector2/index.tsx
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

corrected an issue with the array list ui
  packages/ui/src/components/editorUpdates/input/Array/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

corrected layout and implementation of the use alpha uv boolean checkbox
  packages/engine/src/scene/components/VideoComponent.tsx
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @aditya-mitra, @SYBIOTE

update export
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

corrected issue with the audio mode
  packages/client-core/i18n/en/editor.json
  packages/engine/src/scene/components/VideoComponent.tsx
  packages/ui/src/components/editor/properties/audio/positional/index.tsx
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @aditya-mitra, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @SYBIOTE

build basic icon gizmo functionality
  packages/editor/src/services/ComponentEditors.tsx
  packages/editor/src/services/ComponentStudioIcons.tsx
  packages/editor/src/systems/HelperActiveSystem.ts
  packages/engine/src/audio/components/PositionalAudioComponent.ts
  packages/engine/src/scene/components/EnvMapBakeComponent.ts
  packages/engine/src/scene/components/ScenePreviewCamera.ts
  packages/engine/src/scene/components/SpawnPointComponent.ts
  packages/spatial/src/common/debug/useHelperEntity.ts
  packages/spatial/src/renderer/components/lights/DirectionalLightComponent.ts
  packages/spatial/src/renderer/components/lights/HemisphereLightComponent.ts
  packages/ui/src/icons/editor/BoundingBox.tsx
  packages/ui/src/icons/editor/EnvMapBake.tsx
  packages/ui/src/icons/editor/Media.tsx
  packages/ui/src/icons/editor/MountPoint.tsx
  packages/ui/src/icons/editor/Portal.tsx
  packages/ui/src/icons/editor/PositionalAudio.tsx
  packages/ui/src/icons/editor/ScenePreviewCamera.tsx
  packages/ui/src/icons/editor/SpawnPoint.tsx
  packages/ui/src/icons/editor/lights/Ambient.tsx
  packages/ui/src/icons/editor/lights/Directional.tsx
  packages/ui/src/icons/editor/lights/Hemisphere.tsx
  packages/ui/src/icons/editor/lights/Point.tsx
  packages/ui/src/icons/editor/lights/Spot.tsx
  packages/ui/src/icons/index.ts
Owners: @dinomut1, @aditya-mitra, @speigg, @CITIZENDOT, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR, @DanielBelmes, @SYBIOTE

switch to webp
  __global.d.ts
  packages/ui/src/primitives/tailwind/LoadingView/animation.svg
  packages/ui/src/primitives/tailwind/LoadingView/assets/animation.webp
  packages/ui/src/primitives/tailwind/LoadingView/index.tsx
Owners: @HexaField, @aditya-mitra, @SYBIOTE, @CITIZENDOT

reenable three cache, fix for videocomponent
  packages/engine/src/scene/components/VideoComponent.tsx
  packages/spatial/src/resources/ResourceState.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @MichaelEstes

optimize react renders and fix bugs
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
  packages/client-core/src/networking/AvatarSpawnSystem.tsx
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/QueryFunctions.test.tsx
  packages/ecs/src/QueryFunctions.tsx
  packages/ecs/src/SystemFunctions.test.ts
  packages/ecs/src/schemas/JSONSchemaUtils.ts
  packages/ecs/tests/ecs.test.ts
  packages/editor/src/functions/EditorControlFunctions.test.tsx
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/services/EditorServices.ts
  packages/engine/src/assets/functions/resourceLoaderFunctions.ts
  packages/engine/src/avatar/components/AvatarControllerComponent.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/grabbable/GrabbableComponent.ts
  packages/engine/src/scene/components/VariantComponent.tsx
  packages/engine/src/scene/components/VideoComponent.tsx
  packages/engine/src/scene/systems/EnvironmentSystem.tsx
  packages/engine/src/scene/systems/SceneObjectSystem.tsx
  packages/hyperflux/src/functions/StateFunctions.ts
  packages/spatial/src/camera/components/AssetPreviewCameraComponent.ts
  packages/spatial/src/renderer/components/FogSettingsComponent.ts
  packages/spatial/src/renderer/components/ObjectLayerComponent.ts
  packages/ui/src/components/editor/properties/transform/index.tsx
Owners: @aditya-mitra, @speigg, @SYBIOTE, @dinomut1, @MichaelEstes, @AidanCaruso, @CITIZENDOT, @DanielBelmes, @SamMazerIR

remove Tabs
  packages/client-core/src/common/components/Tabs/index.module.scss
  packages/client-core/src/common/components/Tabs/index.tsx
Owners: @aditya-mitra

ecs tests passing
  packages/ecs/src/ComponentFunctions.test.tsx
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/UUIDComponent.test.tsx
  packages/ecs/src/schemas/JSONSchemaUtils.ts
Owners: @speigg

fix some spatial tests
  packages/spatial/src/renderer/components/ObjectLayerComponent.test.tsx
  packages/spatial/src/transform/components/ComputedTransformComponent.test.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes, @SamMazerIR

format
  packages/ecs/src/UUIDComponent.test.tsx
  packages/editor/src/components/assets/AssetPreviewPanels/MaterialPreviewPanel.tsx
  packages/spatial/src/renderer/components/ObjectLayerComponent.test.tsx
Owners: @speigg, @dinomut1, @aditya-mitra, @AidanCaruso, @DanielBelmes, @MichaelEstes

bug fix
  packages/ecs/src/ComponentFunctions.ts
Owners: @speigg

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
