Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

fix-screenshare-crash
  packages/client-core/src/components/UserMediaWindow/index.tsx
Owners: @aditya-mitra

IR-5109 Fix Screenshare Crash (#477)
  packages/client-core/src/components/UserMediaWindow/index.tsx
Owners: @aditya-mitra

Fix file browser bugs and mat saving (#445)
  packages/editor/src/panels/files/fileitem.tsx
  packages/editor/src/panels/files/helpers.tsx
  packages/editor/src/panels/materials/helpers.tsx
Owners: @dinomut1, @aditya-mitra

Wait for renderer to exist, wait for GLTF to have meshes loaded, fix hookstate error
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/spatial/src/renderer/WebGLRendererSystem.tsx
Owners: @aditya-mitra, @AidanCaruso, @MichaelEstes, @dinomut1, @DanielBelmes

fix(ir-engine): fixed location find queries when using $or operator (#463)
  packages/server-core/src/social/location/location.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Start of model compression using GLTF Component
  packages/editor/src/components/assets/ModelCompressionPanel.tsx
Owners: @dinomut1, @aditya-mitra

cleanup logs
  packages/engine/src/scene/components/EnvmapComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

refactor envmap component to use component query instead of add a copy to every child
  packages/engine/src/scene/components/EnvmapComponent.tsx
  packages/engine/src/scene/systems/SceneObjectSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

improve reactive ecs hooks
  packages/client-core/src/networking/AvatarSpawnSystem.tsx
  packages/client-core/src/systems/LoadingUISystem.tsx
  packages/ecs/src/ComponentFunctions.ts
  packages/editor/src/functions/addMediaNode.ts
  packages/editor/src/panels/viewport/tools/PlayModeTool.tsx
  packages/editor/src/systems/ModelLoadingSpinnerSystem.tsx
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/scene/systems/SceneObjectSystem.tsx
  packages/engine/src/scene/systems/ShadowSystem.tsx
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @aditya-mitra, @speigg, @SYBIOTE, @dinomut1, @AidanCaruso, @MichaelEstes, @CITIZENDOT, @SamMazerIR

fix
  packages/editor/src/systems/ModelLoadingSpinnerSystem.tsx
Owners: @dinomut1, @aditya-mitra

fix use children with component hooks crashing
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @SamMazerIR

fix use children with component hooks crashing (#478)
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @SamMazerIR

fix import
  packages/ui/src/components/editor/properties/script/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add basic water bouy script
  packages/projects/default-project/assets/scripts/waterBouyScript.js
Owners: @HexaField

fix: fixed avatar upload for end-users navigating locations with no scopes
  packages/server-core/src/user/avatar/avatar-helper.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix: fixed avatar upload for end-users with no scopes (#480)
  packages/server-core/src/user/avatar/avatar-helper.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

format
  packages/client-core/src/common/components/AvatarPreview/index.tsx
  packages/editor/src/components/assets/AssetPreviewPanels/ModelPreviewPanel.tsx
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
  packages/engine/src/scene/systems/SceneObjectSystem.tsx
  packages/ui/src/components/editor/ComponentDropdown/index.stories.tsx
Owners: @aditya-mitra, @dinomut1, @AidanCaruso, @speigg, @CITIZENDOT, @SYBIOTE

fix CSM, fix errors around pending vrm
  packages/engine/src/avatar/functions/updateVRMRetargeting.ts
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
  packages/engine/src/scene/systems/ShadowSystem.tsx
Owners: @AidanCaruso, @dinomut1, @speigg, @CITIZENDOT

model component references
  packages/editor/src/panels/hierarchy/helpers.ts
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
  packages/editor/src/services/ComponentEditors.tsx
  packages/ui/src/components/editor/properties/cameraProperties/index.tsx
  packages/ui/src/components/editor/properties/gltf/loader/index.tsx
  packages/ui/src/components/editor/properties/model/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix click placement system
  packages/editor/src/systems/ClickPlacementSystem.tsx
  packages/engine/src/scene/components/ScenePreviewCamera.ts
Owners: @dinomut1, @aditya-mitra, @speigg, @CITIZENDOT, @AidanCaruso

studio: throw warning for unsupport file (#442)
  packages/editor/src/functions/assetFunctions.ts
Owners: @SYBIOTE

new designs for dropdown list
  packages/ui/src/primitives/tailwind/Dropdown/index.stories.tsx
  packages/ui/src/primitives/tailwind/Dropdown/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

license
  packages/ui/src/primitives/tailwind/Dropdown/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

variant control storybook
  packages/ui/src/primitives/tailwind/Dropdown/index.stories.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

entry point to index.ts for ui package
  packages/ui/package.json
  packages/ui/src/index.ts
  packages/ui/src/primitives/tailwind/Dropdown/index.stories.tsx
  packages/ui/src/primitives/tailwind/Dropdown/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add dropdownlistitem to scene panel item context menu
  packages/editor/src/panels/scenes/SceneItem.tsx
  packages/ui/src/index.ts
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix: sanitize username input in ProfileMenu component
  packages/client-core/src/user/components/UserMenu/menus/ProfileMenu.tsx
  packages/common/src/regex/index.ts
Owners: @aditya-mitra, @HexaField

replace dropdown in toolbar, filebrowser, hierarchy context menus
  packages/editor/src/components/toolbar/Toolbar.tsx
  packages/editor/src/panels/files/contextmenu.tsx
  packages/editor/src/panels/hierarchy/contextmenu.tsx
Owners: @dinomut1, @aditya-mitra

remove dropdownlist and rename to dropdown item
  packages/editor/src/components/toolbar/Toolbar.tsx
  packages/editor/src/panels/files/contextmenu.tsx
  packages/editor/src/panels/hierarchy/contextmenu.tsx
  packages/editor/src/panels/scenes/SceneItem.tsx
  packages/ui/src/index.ts
  packages/ui/src/primitives/tailwind/Dropdown/index.stories.tsx
  packages/ui/src/primitives/tailwind/Dropdown/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

add media queries for height
  tailwind.config.js
Owners: @HexaField

add media queries for height (#483)
  tailwind.config.js
Owners: @HexaField

aligned the rotation of the media controls to the rotation of the media entity
  packages/client-core/src/systems/MediaControlSystem.ts
Owners: @aditya-mitra

Updated scripts
  scripts/build_docker_desktop.sh
  scripts/build_microk8s.sh
Owners: @barankyle, @hanzlamateen, @DanielBelmes

Migrate metabase setting to engine setting (#365)
  packages/client-core/src/admin/components/settings/tabs/metabase.tsx
  packages/common/src/constants/EngineSettings.ts
  packages/common/src/schema.type.module.ts
  packages/common/src/schemas/integrations/metabase/metabase-setting.schema.ts
  packages/common/src/schemas/setting/engine-setting.schema.ts
  packages/server-core/src/appconfig.ts
  packages/server-core/src/integrations/metabase/metabase-setting/metabase-setting.class.ts
  packages/server-core/src/integrations/metabase/metabase-setting/metabase-setting.docs.ts
  packages/server-core/src/integrations/metabase/metabase-setting/metabase-setting.hooks.ts
  packages/server-core/src/integrations/metabase/metabase-setting/metabase-setting.resolvers.ts
  packages/server-core/src/integrations/metabase/metabase-setting/metabase-setting.seed.ts
  packages/server-core/src/integrations/metabase/metabase-setting/metabase-setting.ts
  packages/server-core/src/integrations/metabase/metabase-setting/migrations/20240808094500_metabase-setting.ts
  packages/server-core/src/integrations/metabase/metabase-setting/migrations/20240816095000_metabase-environment-column.ts
  packages/server-core/src/integrations/metabase/metabase-url/metabase-url.hooks.ts
  packages/server-core/src/integrations/seeder-config.ts
  packages/server-core/src/integrations/services.ts
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
  packages/server-core/src/setting/engine-setting/engine-setting.ts
  packages/server-core/src/setting/engine-setting/migrations/20241001042018_merge-metabase-setting.ts
Owners: @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

Adding a missing reactive dereference.
  packages/editor/src/panels/files/contextmenu.tsx
Owners: @dinomut1, @aditya-mitra

Adding a missing reactive dereference. (#485)
  packages/editor/src/panels/files/contextmenu.tsx
Owners: @dinomut1, @aditya-mitra

Adding a missing reactive dereference. (#485)
  packages/editor/src/panels/files/contextmenu.tsx
Owners: @dinomut1, @aditya-mitra

adding in Z value for uniform scaling that was defaulting to 0 without being specified
  packages/ui/src/components/editor/input/Vector3/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

IR-5157 bugfix - uniform scaling issue with Z resetting to zero (#486)
  packages/ui/src/components/editor/input/Vector3/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix broken "upload thumbnail" button
  packages/editor/src/panels/files/modals/FilePropertiesModal.tsx
Owners: @dinomut1, @aditya-mitra

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
