Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

Replace ProjectPage and dailogues with tailwind alternatives
  packages/client-core/src/admin/components/project/ManageUserPermissionModal.tsx
  packages/client/index.html
  packages/editor/src/components/projects/CreateProjectDialog.tsx
  packages/editor/src/components/projects/DeleteDialog.tsx
  packages/editor/src/components/projects/EditPermissionsDialog.tsx
  packages/editor/src/components/projects/EditorNavbarProfile.tsx
  packages/editor/src/components/projects/InstallProjectDialog.tsx
  packages/editor/src/components/projects/ProjectsPage.tsx
  packages/editor/src/pages/ProjectPage.tsx
Owners: @hanzlamateen, @barankyle, @aditya-mitra, @dinomut1

replace mui icons with react icons
  packages/ui/src/components/tailwind/RecordingList/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Ir 4123 compression with org name (#83)
  packages/common/src/utils/miscUtils.ts
  packages/editor/src/components/assets/ModelCompressionPanel.tsx
  packages/engine/src/assets/compression/ModelTransformFunctions.ts
  packages/engine/src/scene/functions/createSceneEntity.ts
  packages/server-core/src/media/file-browser/file-browser.class.ts
Owners: @HexaField, @dinomut1, @aditya-mitra, @MichaelEstes, @speigg, @CITIZENDOT, @AidanCaruso, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

add noir category to assets panel
  packages/editor/src/components/assets/AssetsPanelCategories.ts
Owners: @dinomut1, @aditya-mitra

comment login link to not confuse ppl
  packages/client-core/src/user/components/UserMenu/menus/ProfileMenu.tsx
Owners: @aditya-mitra

stubbed in the use effect for location for the lookdev file type
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
Owners: @aditya-mitra

add noir category to assets panel (#111)
  packages/editor/src/components/assets/AssetsPanelCategories.ts
Owners: @dinomut1, @aditya-mitra

hide disable login link
  packages/client-core/src/user/components/UserMenu/menus/ProfileMenu.tsx
Owners: @aditya-mitra

updated conditional logic to prevent hover e interactions on proximity
  packages/engine/src/interaction/components/InteractableComponent.ts
Owners: @SamMazerIR, @speigg

fix: Restrict `getMaterialIndices` to only return `number[]`
  packages/spatial/src/renderer/materials/materialFunctions.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

wip
  packages/engine/src/gltf/GLTFState.tsx
  packages/engine/src/scene/components/EnvmapComponent.tsx
  packages/spatial/src/renderer/materials/MaterialComponent.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @speigg, @CITIZENDOT, @DanielBelmes

fix: Incorrect usage of `getComponent` in `getPrototypeEntityFromName`
  packages/spatial/src/renderer/materials/materialFunctions.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

tst: Unit Tests for `materialFunctions.ts` (phase 8)
  packages/spatial/src/renderer/materials/materialFunctions.test.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

avatar bone recursion (#105)
  packages/engine/src/avatar/AvatarBoneMatching.ts
Owners: @AidanCaruso

fix docker TOS env var
  Dockerfile
  dockerfiles/api/Dockerfile-api-client
  dockerfiles/client/Dockerfile-client-serve-static
  scripts/build_and_publish_package.sh
  scripts/build_docker_desktop.sh
  scripts/build_microk8s.sh
  scripts/build_minikube.sh
Owners: @HexaField, @barankyle, @hanzlamateen, @DanielBelmes

Create snapshot mechanism
  packages/xrui/core/WebLayer.ts
  packages/xrui/core/classes/Bounds.ts
  packages/xrui/core/classes/Edges.ts
  packages/xrui/core/components/XRLayoutComponent.tsx
  packages/xrui/core/components/XRUILayerComponent.tsx
  packages/xrui/core/dom-utils.ts
  packages/xrui/core/hooks/useXRUILayer.ts
Owners: @speigg

Tests, type checking on default serialization functions
  packages/ecs/src/ComponentFunctions.test.tsx
  packages/ecs/src/ComponentFunctions.ts
  packages/spatial/src/camera/components/CameraComponent.ts
  packages/spatial/src/camera/components/FollowCameraComponent.ts
Owners: @speigg, @DanielBelmes, @SamMazerIR

Move hashing mechanism into useXRUILayer
  packages/client-core/src/hooks/useLoadedSceneEntity.ts
  packages/xrui/core/components/XRUILayerComponent.tsx
  packages/xrui/core/hooks/useXRUILayer.ts
Owners: @jose-galvan, @speigg

The model transform function now reports its progress, and the compression panel now has a progress bar.
  packages/editor/src/components/assets/ModelCompressionPanel.tsx
  packages/engine/src/assets/compression/ModelTransformFunctions.ts
Owners: @dinomut1, @aditya-mitra, @MichaelEstes, @speigg

add fetching stage and UI
  packages/client-core/i18n/en/editor.json
  packages/ui/src/components/editor/panels/Files/download/projectDownload.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fmt: Simplify the branch syntax for `formatMaterialArgs`
  packages/spatial/src/renderer/materials/materialFunctions.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

Moving strings from ModelTransformFunctions into localization, which means more data needs to be passed into the onProgress callback so the strings can be formatted within the component
  packages/client-core/i18n/en/editor.json
  packages/editor/src/components/assets/ModelCompressionPanel.tsx
  packages/engine/src/assets/compression/ModelTransformFunctions.ts
Owners: @aditya-mitra, @dinomut1, @MichaelEstes, @speigg

code formatting
  packages/ui/src/components/editor/panels/Files/download/projectDownload.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add default to build script
  scripts/build_docker_desktop.sh
  scripts/build_microk8s.sh
  scripts/build_minikube.sh
Owners: @barankyle, @hanzlamateen, @DanielBelmes

added logic to generate the base blank thumbnail for the look dev assets
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
Owners: @aditya-mitra

V0.8(QA controls Merge) fix docker TOS env var (#115)
  Dockerfile
  dockerfiles/api/Dockerfile-api-client
  dockerfiles/client/Dockerfile-client-serve-static
  scripts/build_and_publish_package.sh
  scripts/build_docker_desktop.sh
  scripts/build_microk8s.sh
  scripts/build_minikube.sh
Owners: @HexaField, @barankyle, @hanzlamateen, @DanielBelmes

fix import
  packages/editor/src/components/assets/ModelCompressionPanel.tsx
Owners: @dinomut1, @aditya-mitra

fix accidental commit of disabling local file sync
  packages/server-core/src/seeder.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Temp fix
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/spatial/src/resources/ResourceState.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

format only staged files (#98)
  package.json
  scripts/add-precommit.sh
Owners: @HexaField, @barankyle, @hanzlamateen, @DanielBelmes

try fix invalid imports not throwing CICD
  .github/workflows/branch-build.yml
Owners: @DanielBelmes

move helper function from server core to common
  packages/client/scripts/getClientSettings.ts
  packages/common/src/schemas/setting/client-setting.schema.ts
  packages/server-core/src/setting/client-setting/client-setting.resolvers.ts
Owners: @barankyle, @aditya-mitra, @HexaField, @MoizAdnan, @hanzlamateen, @hurairahmateen

fix tsconfig
  packages/engine/tsconfig.json
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

fix imports
  packages/client/scripts/getClientSettings.ts
  packages/common/src/schemas/setting/client-setting.schema.ts
  packages/server-core/src/updateAppConfig.ts
Owners: @barankyle, @aditya-mitra, @HexaField, @MoizAdnan, @hanzlamateen, @hurairahmateen

properly exporter most functionality from assets package
  packages/engine/src/EngineModule.ts
  packages/engine/src/assets/AssetModule.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @speigg

Moved ECR pruning to after all build services have succeeded. (#56)
  scripts/build_and_publish_package.sh
  scripts/run-builder.sh
Owners: @barankyle, @hanzlamateen, @DanielBelmes

fixes
  packages/hyperflux/index.ts
  packages/hyperflux/src/ActionFunctions.ts
  packages/hyperflux/src/EventDispatcher.ts
  packages/hyperflux/src/ReactorFunctions.tsx
  packages/hyperflux/src/StateFunctions.ts
  packages/hyperflux/src/StoreFunctions.ts
  packages/hyperflux/src/index.ts
  packages/hyperflux/src/useImmediateEffect.test.ts
  packages/hyperflux/src/useImmediateEffect.ts
  packages/hyperflux/src/usePrevious.ts
  packages/hyperflux/src/useReactiveRef.ts
  packages/hyperflux/tsconfig.json
Owners: @speigg

test removing npm i
  .github/workflows/branch-build.yml
Owners: @DanielBelmes

fix import
  packages/engine/src/EngineModule.ts
  packages/engine/src/assets/exporters/gltf/extensions/ImageRoutingExtension.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @speigg

feat: Add 'unBan' functionality to instance view modal
  packages/client-core/i18n/en/admin.json
  packages/client-core/src/admin/components/instance/ViewModal.tsx
  packages/common/src/schemas/user/user-kick.schema.ts
  packages/server-core/src/user/user-kick/user-kick.hooks.ts
Owners: @aditya-mitra, @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
