Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

Improve ImageComponent
  packages/ui/src/components/editor/ImageLink/index.stories.tsx
  packages/ui/src/components/editor/ImageLink/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

format
  packages/client-core/src/admin/components/project/AddEditProjectModal.tsx
  packages/client-core/src/admin/components/project/ProjectTopMenu.tsx
  packages/client-core/src/admin/components/user/AddEditUserModal.tsx
  packages/client-core/src/admin/components/user/UserTable.tsx
  packages/client-core/src/systems/LoadingUISystem.tsx
  packages/client-core/src/user/components/UserMenu/menus/SettingMenu.tsx
  packages/client-core/src/user/services/AuthService.ts
  packages/editor/src/components/projects/ProjectsPage.tsx
  packages/server-core/src/hooks/check-scope.test.ts
  packages/server-core/src/hooks/verify-scope.test.ts
Owners: @hanzlamateen, @aditya-mitra, @dinomut1, @barankyle, @MoizAdnan, @hurairahmateen

Update alert component danger variant and message prop to accept both string and react component
  packages/ui/src/primitives/tailwind/Alert/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Refactor project-publish schema to include location data
  packages/common/src/schemas/projects/project-publish.schema.ts
  packages/server-core/src/projects/project-publish/project-publish.hooks.ts
  packages/server-core/src/projects/services.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

remove property and replace with component dropdown
  packages/client-core/i18n/en/common.json
  packages/editor/src/panels/properties/common/NodeEditor.tsx
  packages/ui/src/components/editor/properties/cameraProperties/index.tsx
  packages/ui/src/components/editor/properties/group/index.tsx
  packages/ui/src/components/editor/properties/media/settings/index.tsx
  packages/ui/src/components/editor/properties/scene/settings/index.tsx
  packages/ui/src/components/editor/properties/transform/index.tsx
Owners: @aditya-mitra, @dinomut1, @SYBIOTE, @CITIZENDOT

new warning message
  packages/editor/src/functions/assetFunctions.ts
Owners: @SYBIOTE

Gltf loader 2.0 variant component (#413)
  packages/client-core/i18n/en/editor.json
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
  packages/editor/src/components/prefabs/PrefabEditors.tsx
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/functions/addMediaNode.ts
  packages/editor/src/functions/exportGLTF.ts
  packages/editor/src/panels/hierarchy/helpers.ts
  packages/editor/src/panels/hierarchy/hooks.tsx
  packages/engine/src/assets/exporters/gltf/extensions/SourceHandlerExtension.ts
  packages/engine/src/assets/functions/createGLTFExporter.ts
  packages/engine/src/assets/functions/exportModelGLTF.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/GLTFState.tsx
  packages/engine/src/gltf/exportGLTFScene.ts
  packages/engine/src/gltf/gltfUtils.ts
  packages/engine/src/gltf/importGLTFScene.ts
  packages/engine/src/scene/components/SkyboxComponent.ts
  packages/engine/src/scene/components/VariantComponent.tsx
  packages/engine/src/scene/functions/loaders/VariantFunctions.ts
  packages/engine/src/scene/systems/SceneObjectSystem.tsx
  packages/engine/src/scene/systems/VariantSystem.tsx
  packages/projects/default-project/assets/prefabs/model-variants.prefab.gltf
  packages/ui/src/components/editor/properties/variant/index.tsx
Owners: @aditya-mitra, @dinomut1, @SYBIOTE, @MichaelEstes, @speigg, @AidanCaruso, @CITIZENDOT, @HexaField

warning alert for unsupported browser on loations
  packages/client-core/src/hooks/useEngineCanvas.ts
Owners: @jose-galvan

hierarchy reordering and duplication issues gone
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/panels/hierarchy/hooks.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

Fix file browser bugs and mat saving
  packages/editor/src/panels/files/fileitem.tsx
  packages/editor/src/panels/files/helpers.tsx
  packages/editor/src/panels/materials/helpers.tsx
Owners: @dinomut1, @aditya-mitra

add featureflag for portals
  packages/common/src/constants/FeatureFlags.ts
  packages/editor/src/services/ComponentShelfCategoriesState.ts
Owners: @HexaField, @dinomut1, @aditya-mitra

fix
  packages/editor/src/panels/files/toolbar.tsx
Owners: @dinomut1, @aditya-mitra

fix memory leak in portal and use resource hooks
  packages/engine/src/scene/components/PortalComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

if material is deleted then it is an undefinedEntity and should be optional
  packages/editor/src/panels/materials/materialpreviewer.tsx
Owners: @dinomut1, @aditya-mitra

IR-5092 Fix memory leak in portal and use resource hooks (#448)
  packages/engine/src/scene/components/PortalComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

expanded if condition for scene check
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
Owners: @aditya-mitra

change condition
  packages/editor/src/systems/EditorControlSystem.ts
Owners: @dinomut1, @aditya-mitra

Ir 4964 fix loop anim (#396)
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/engine/src/avatar/components/LoopAnimationComponent.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/GLTFState.tsx
Owners: @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1

dispose of cubemap texture when it changes
  packages/engine/src/scene/components/SkyboxComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fixing silly test cases
  packages/editor/src/functions/EditorControlFunctions.test.tsx
Owners: @SYBIOTE

IR-4707 hierarchy duplication and reordering bugs (#444)
  packages/editor/src/functions/EditorControlFunctions.test.tsx
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/panels/hierarchy/hooks.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

IR-4861 avatar nameplates (#403)
  packages/client-core/src/social/components/XruiNameplateComponent.ts
  packages/client-core/src/systems/AvatarUISystem.tsx
  packages/engine/src/avatar/functions/spawnAvatarReceptor.ts
  packages/engine/src/interaction/components/InteractableComponent.ts
  packages/engine/src/interaction/functions/createUI.ts
  packages/engine/src/interaction/functions/interactableFunctions.ts
  packages/engine/src/interaction/ui/InteractiveModalView.tsx
  packages/spatial/src/camera/functions/CameraFunctions.ts
  packages/spatial/tests/util/MockXRUI.ts
Owners: @aditya-mitra, @AidanCaruso, @SamMazerIR, @speigg, @DanielBelmes, @MichaelEstes, @MbfloydIR

Allow projects to change prefab category icon
  packages/editor/src/components/prefabs/PrefabEditors.tsx
Owners: @dinomut1, @aditya-mitra

Fix Cubemap skybox memory leak (#451)
  packages/engine/src/scene/components/SkyboxComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

add featureflag for portals (#446)
  packages/common/src/constants/FeatureFlags.ts
  packages/editor/src/services/ComponentShelfCategoriesState.ts
Owners: @HexaField, @dinomut1, @aditya-mitra

fixing control/command click selection in files tab. simplifying logic a bit in hierarchynode as well
  packages/editor/src/panels/files/fileitem.tsx
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
Owners: @dinomut1, @aditya-mitra

fix bug with local project perms (#441)
  packages/server-core/src/projects/project/project.class.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

IR-4672 fixing control/command click selection in files tab (#453)
  packages/editor/src/panels/files/fileitem.tsx
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
Owners: @dinomut1, @aditya-mitra

Fix for downloadProjects.ts
  packages/server-core/src/projects/project/downloadProjects.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Allow projects to change prefab category icon (#452)
  packages/editor/src/components/prefabs/PrefabEditors.tsx
Owners: @dinomut1, @aditya-mitra

Fix for downloadProjects.ts (#454)
  packages/server-core/src/projects/project/downloadProjects.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Only show model loading spinner for entities belonging to the loaded scene
  packages/editor/src/EditorModule.ts
  packages/editor/src/systems/ModelLoadingSpinnerSystem.tsx
  packages/engine/src/scene/components/ModelComponent.tsx
Owners: @dinomut1, @aditya-mitra, @speigg, @CITIZENDOT, @AidanCaruso

fix admin routes
  packages/client-core/src/admin/adminRoutes.tsx
  packages/client-core/src/admin/components/user/UserTable.tsx
Owners: @hanzlamateen

add gizmoEnable as condition
  packages/editor/src/services/EditorHelperState.ts
  packages/editor/src/systems/EditorControlSystem.ts
Owners: @dinomut1, @aditya-mitra

Missed merge conflict
  packages/engine/src/scene/components/SkyboxComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Small fix for annoying react key error in toolbar (#447)
  packages/editor/src/panels/files/toolbar.tsx
Owners: @dinomut1, @aditya-mitra

fix muted tracks playing audio upon stop & start, stop audio streams from requesting video quality,
  packages/client-core/src/components/UserMediaWindow/index.tsx
  packages/client-core/src/media/PeerMediaChannelState.ts
  packages/client-core/src/transports/p2p/PeerToPeerNetworkState.tsx
Owners: @aditya-mitra

revert disable service on config
  packages/server-core/src/networking/instance-signaling/instance-signaling.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

styles correction for dropdown children
  packages/ui/src/components/editor/ComponentDropdown/index.stories.tsx
  packages/ui/src/components/editor/ComponentDropdown/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Fix deleting material in hierarchy causing crash (#449)
  packages/editor/src/panels/materials/materialpreviewer.tsx
Owners: @dinomut1, @aditya-mitra

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
