Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

added the rename logic for clicking away from the rename input
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
Owners: @dinomut1, @aditya-mitra

Add asset drag and drop to image link
  packages/ui/src/components/editor/ImageLink/index.stories.tsx
  packages/ui/src/components/editor/ImageLink/index.tsx
  packages/ui/src/components/editor/properties/envmap/index.tsx
  packages/ui/src/components/editor/properties/image/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

added renaming logic for clicking outside the renaming input
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
Owners: @dinomut1, @aditya-mitra

correct scope verification for last login
  packages/server-core/src/user/user/user.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

format
  packages/server-core/src/user/user/user.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

make group entity appear at the aggregate position of grouped children
  packages/editor/src/functions/EditorControlFunctions.ts
Owners: @SYBIOTE

exported gltfs are marked as assets
  packages/editor/src/functions/exportGLTF.ts
Owners: @SYBIOTE

feature flags for audio analysis and screenshare target components
  packages/common/src/constants/FeatureFlags.ts
  packages/editor/src/services/ComponentShelfCategoriesState.ts
Owners: @HexaField, @dinomut1, @aditya-mitra

Add transform component as a dependency of spawning avatar to ensure pose is correct
  packages/engine/src/avatar/state/AvatarNetworkState.tsx
Owners: @AidanCaruso

fix import
  packages/engine/src/avatar/state/AvatarNetworkState.tsx
Owners: @AidanCaruso

Add transform component as a dependency of spawning avatar to ensure pose is correct
  packages/engine/src/avatar/state/AvatarNetworkState.tsx
Owners: @AidanCaruso

appropriate props and variants for inherited inputs
  packages/editor/src/panels/assets/topbar.tsx
  packages/editor/src/panels/files/toolbar.tsx
  packages/editor/src/panels/hierarchy/hierarchytree.tsx
Owners: @dinomut1, @aditya-mitra

add variant size and text placements
  packages/ui/src/primitives/tailwind/Checkbox/index.stories.tsx
  packages/ui/src/primitives/tailwind/Checkbox/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add entry point export
  packages/ui/src/index.ts
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Add test case
  packages/spatial/src/physics/classes/Physics.test.tsx
Owners: @heysokam

Add peer join and leave actions
  packages/client-core/src/components/UserMediaWindows/index.tsx
  packages/client-core/src/components/World/EngineHooks.tsx
  packages/client-core/src/transports/mediasoup/MediasoupClientFunctions.ts
  packages/client-core/src/transports/mediasoup/MediasoupTransportSystem.tsx
  packages/client-core/src/transports/p2p/PeerToPeerNetworkState.tsx
  packages/common/src/recording/ECSRecordingSystem.ts
  packages/common/src/transports/mediasoup/MediasoupDataProducerConsumerState.tsx
  packages/common/src/transports/mediasoup/MediasoupMediaProducerConsumerState.tsx
  packages/common/src/transports/mediasoup/MediasoupTransportState.tsx
  packages/instanceserver/src/MediasoupRecordingSystem.ts
  packages/instanceserver/src/NetworkFunctions.ts
  packages/instanceserver/src/ServerHostNetworkSystem.tsx
  packages/instanceserver/src/WebRTCFunctions.ts
  packages/instanceserver/src/channels.ts
  packages/network/index.ts
  packages/network/src/EntityNetworkState.tsx
  packages/network/src/Network.ts
  packages/network/src/NetworkPeerState.tsx
  packages/network/src/NetworkState.ts
  packages/network/src/NetworkUserState.tsx
  packages/network/src/functions/NetworkPeerFunctions.test.tsx
  packages/network/src/functions/NetworkPeerFunctions.ts
  packages/network/src/systems/OutgoingActionSystem.ts
  packages/network/tests/createMockNetwork.ts
Owners: @aditya-mitra, @speigg, @HexaField

wip
  packages/ui/src/components/editor/properties/portal/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Update identity provider hook and its tests
  packages/client-core/src/user/services/AuthService.ts
  packages/server-core/src/test-utils/user-test-utils.ts
  packages/server-core/src/user/identity-provider/identity-provider.hooks.ts
  packages/server-core/src/user/identity-provider/identity-provider.test.ts
Owners: @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

set onRelease where applicable
  packages/ui/src/components/editor/ImageLink/index.tsx
  packages/ui/src/components/editor/properties/envmap/index.tsx
  packages/ui/src/components/editor/properties/image/index.tsx
  packages/ui/src/components/editor/properties/reflectionProbe/index.tsx
  packages/ui/src/components/editor/properties/skybox/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Add variantSize prop in SearchBar
  packages/ui/src/components/tailwind/SearchBar/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Fix "Hide topbar" button
  packages/client-core/src/components/Shelves/index.tsx
Owners: @aditya-mitra

updated the color picker logic to update the color when using the color swatches
  packages/ui/src/primitives/tailwind/Color/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Image link drag and drop url
  packages/ui/src/components/editor/ImageLink/index.tsx
  packages/ui/src/components/editor/input/Image/index.stories.tsx
  packages/ui/src/components/editor/input/Image/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

locked the drag and drop option behind a feature flag
  packages/common/src/constants/FeatureFlags.ts
  packages/editor/src/panels/viewport/tools/SceneHelpersTool.tsx
Owners: @HexaField, @dinomut1, @aditya-mitra

Envmap reactor, editor fix
  packages/engine/src/scene/components/EnvmapComponent.tsx
  packages/ui/src/components/editor/properties/envmap/index.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @aditya-mitra, @SYBIOTE

Update intensity when envmap changes
  packages/engine/src/scene/components/EnvmapComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

revert
  packages/engine/src/scene/components/EnvmapComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

make test case language more precise
  packages/spatial/src/physics/classes/Physics.test.tsx
Owners: @heysokam

updating the condition to use the point and click feature flag and removed the dragDrop feature flag
  packages/common/src/constants/FeatureFlags.ts
  packages/editor/src/panels/viewport/tools/SceneHelpersTool.tsx
Owners: @HexaField, @dinomut1, @aditya-mitra

adjusting naming and info tooltips for clarity, also fixing bug in serializing information we didn't want to that was causing broken interactable behavior
  packages/client-core/i18n/en/editor.json
  packages/engine/src/interaction/components/InteractableComponent.ts
  packages/ui/src/components/editor/properties/input/index.tsx
  packages/ui/src/components/editor/properties/interact/index.tsx
Owners: @aditya-mitra, @SamMazerIR, @speigg, @SYBIOTE, @CITIZENDOT

Set max location to 5
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/client-core/src/social/services/LocationService.ts
  packages/server-core/src/matchmaking/match-instance/match-instance.test.ts
  packages/server-core/src/social/location/location-helper.ts
  packages/server-core/src/social/location/location.test.ts
  packages/server-core/tests/util/createTestLocation.ts
Owners: @hanzlamateen, @aditya-mitra, @barankyle, @MoizAdnan, @hurairahmateen

message
  packages/client-core/i18n/en/admin.json
Owners: @aditya-mitra

Make user admin script now adds project permissions
  scripts/make-user-admin.ts
Owners: @barankyle, @hanzlamateen, @DanielBelmes

add back mock spatial engine to integration tests
  packages/spatial/src/physics/integration.test.ts
Owners: @heysokam

revert
  packages/spatial/src/physics/integration.test.ts
Owners: @heysokam

Add project name to thumbnail update request
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
Owners: @aditya-mitra

move proxify helper function out of deprecated files
  packages/client-core/src/user/components/UserMenu/menus/ProfileMenu.tsx
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
  packages/editor/src/functions/exportGLTF.ts
  packages/engine/src/assets/functions/exportModelGLTF.ts
  packages/engine/src/avatar/components/AvatarAnimationComponent.ts
  packages/engine/src/avatar/functions/spawnAvatarReceptor.ts
  packages/engine/src/gltf/GLTFState.tsx
  packages/engine/src/scene/components/ModelComponent.tsx
  packages/engine/src/scene/functions/addMesh.ts
  packages/engine/src/scene/functions/createSceneEntity.ts
  packages/engine/src/scene/functions/loadGLTFModel.ts
  packages/spatial/src/renderer/WebGLRendererSystem.tsx
  packages/spatial/src/renderer/functions/proxifyParentChildRelationships.ts
  packages/spatial/src/transform/systems/TransformSystem.ts
Owners: @aditya-mitra, @dinomut1, @SYBIOTE, @MichaelEstes, @speigg, @AidanCaruso, @CITIZENDOT, @DanielBelmes, @SamMazerIR

license
  packages/spatial/src/renderer/functions/proxifyParentChildRelationships.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

exclude local storage provider in vite watch
  packages/client/vite.config.ts
Owners: @barankyle, @aditya-mitra

add test in identity provider for $notlike query on email
  packages/common/src/schemas/user/identity-provider.schema.ts
  packages/server-core/src/user/identity-provider/identity-provider.test.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
