Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

Proxies, tests
  packages/ecs/src/ComponentFunctions.test.tsx
  packages/ecs/src/ComponentFunctions.ts
  packages/spatial/src/common/proxies/createThreejsProxy.test.tsx
  packages/spatial/src/common/proxies/createThreejsProxy.ts
  packages/spatial/src/physics/components/RigidBodyComponent.ts
  packages/spatial/src/transform/components/TransformComponent.test.tsx
  packages/spatial/src/transform/components/TransformComponent.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR, @heysokam

fix: Better error condition management at `NoiseOffsetPlugin*`
  packages/spatial/src/renderer/materials/constants/plugins/NoiseOffsetPlugin.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

tst: Unit Tests for `NoiseOffsetPlugin.ts`
  packages/spatial/src/renderer/materials/constants/plugins/NoiseOffsetPlugin.test.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

fix: Better error management at `TransparencyDitheringPlugin`
  packages/spatial/src/renderer/materials/constants/plugins/TransparencyDitheringComponent.tsx
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

fix: Rename `TransparencyDithering*` to match the naming convention
  packages/spatial/src/renderer/materials/MaterialComponent.ts
  packages/spatial/src/renderer/materials/constants/plugins/TransparencyDitheringComponent.tsx
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

tst: Unit Tests for `TransparencyDitheringComponent.tsx`
  packages/spatial/src/renderer/materials/constants/plugins/TransparencyDitheringComponent.test.tsx
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

fmt: Remove redundant check from `updateMaterialPrototype`
  packages/spatial/src/renderer/materials/materialFunctions.test.ts
  packages/spatial/src/renderer/materials/materialFunctions.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

wip test, combine morph targets into shared buffers
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

Add fetching stage and UI (#117)
  packages/client-core/i18n/en/editor.json
  packages/editor/src/panels/files/loaders.tsx
  packages/editor/src/panels/files/toolbar.tsx
Owners: @aditya-mitra, @dinomut1

input no wrap
  packages/ui/src/components/editor/properties/transform/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Fix files navigation (#167)
  packages/editor/src/panels/files/filebrowser.tsx
Owners: @dinomut1, @aditya-mitra

refactor scenes panel (#125)
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/panels/scenes/RenameSceneModal.tsx
  packages/editor/src/panels/scenes/SceneItem.tsx
  packages/editor/src/panels/scenes/index.tsx
  packages/ui/src/components/editor/panels/Scenes/container/index.stories.tsx
  packages/ui/src/components/editor/panels/Scenes/index.stories.tsx
  packages/ui/src/components/editor/panels/Scenes/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

Add error handling in getLocationByName (#160)
  packages/client-core/src/components/World/LoadLocationScene.tsx
  packages/client-core/src/social/services/LocationService.ts
Owners: @speigg, @aditya-mitra

fix: Fix bug in useLoadLocation hook
  packages/client-core/src/components/World/LoadLocationScene.tsx
  packages/client-core/src/social/services/LocationService.ts
Owners: @speigg, @aditya-mitra

V0.8: Add error handling in getLocationByName (#172)
  packages/client-core/src/components/World/LoadLocationScene.tsx
  packages/client-core/src/social/services/LocationService.ts
Owners: @speigg, @aditya-mitra

IR-3169: File name length validation & (#171)
  packages/client-core/i18n/en/editor.json
  packages/common/src/schemas/media/file-browser.schema.ts
  packages/editor/src/functions/assetFunctions.ts
  packages/ui/src/components/editor/panels/Hierarchy/node/index.tsx
Owners: @aditya-mitra, @HexaField, @SYBIOTE, @CITIZENDOT

better test separation
  .github/workflows/branch-build.yml
Owners: @DanielBelmes

ui
  .github/workflows/branch-build.yml
Owners: @DanielBelmes

replace mui with tailwind in debug menu (#162)
  packages/client-core/i18n/en/common.json
  packages/client-core/src/components/Debug/DebugButtons.tsx
  packages/client-core/src/components/Debug/EntityDebug.tsx
  packages/client-core/src/components/Debug/StateDebug.tsx
  packages/client-core/src/components/Debug/StatsPanel.tsx
  packages/client-core/src/components/Debug/SystemDebug.tsx
  packages/client-core/src/components/Debug/index.tsx
  packages/client-core/src/components/Debug/styles.module.scss
Owners: @aditya-mitra

V0.8 studio: fix asset layout bugs (#166)
  packages/ui/src/components/editor/panels/Assets/container/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

tst: Move `smootheLerpAlpha` tests to `Physics.test.tsx`
  packages/spatial/src/physics/classes/Physics.test.tsx
  packages/spatial/src/physics/systems/PhysicsSystem.test.ts
Owners: @heysokam

Fixed metabase id
  packages/client-core/src/admin/components/settings/index.tsx
Owners: @hanzlamateen

use first selected in hierarachy shift selection
  packages/ui/src/components/editor/panels/Hierarchy/container/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

clear first clicked node
  packages/ui/src/components/editor/panels/Hierarchy/container/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add shadow properties to point light
  packages/ui/src/components/editor/properties/light/point/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

v0.8 add shadow properties to point light (#174)
  packages/ui/src/components/editor/properties/light/point/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix viewport shifting due to render tool popup
  packages/editor/src/panels/viewport/tools/RenderTool.tsx
Owners: @dinomut1, @aditya-mitra

fix hierarchy context menu hotkeys positioning
  packages/ui/src/components/editor/panels/Hierarchy/container/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

V0.8 Stop media when entity is deleted (#170)
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

cleanup
  packages/ui/src/components/editor/panels/Assets/container/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

render by height
  packages/ui/src/components/editor/panels/Assets/container/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Added arrow keys to avatar input
  packages/engine/src/avatar/systems/AvatarInputSystem.ts
Owners: @AidanCaruso

Added arrow keys to avatar input (#177)
  packages/engine/src/avatar/systems/AvatarInputSystem.ts
Owners: @AidanCaruso

Errors
  packages/ui/src/components/editor/properties/playlist/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Set by object, initial scale
  packages/ecs/src/ComponentFunctions.ts
  packages/spatial/src/transform/components/TransformComponent.ts
Owners: @speigg, @SamMazerIR

revert variables
  packages/ui/src/components/editor/input/Euler/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

re added the prefab creation confirmation message
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
Owners: @dinomut1, @aditya-mitra

No longer needed
  packages/ecs/src/ComponentFunctions.ts
Owners: @speigg

Michael/ir 3348 prefab confirm (#24)
  packages/client-core/i18n/en/editor.json
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
  packages/editor/src/components/dialogs/PrefabConfirmationPanelDialog.tsx
Owners: @aditya-mitra, @dinomut1

add script component to feature flag
  packages/common/src/constants/FeatureFlags.ts
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/services/ComponentShelfCategoriesState.ts
Owners: @HexaField, @dinomut1, @aditya-mitra

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
