Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

feature flag notif
  packages/common/src/constants/FeatureFlags.ts
  packages/editor/src/systems/RenderMonitorSystem.tsx
Owners: @HexaField, @dinomut1, @aditya-mitra

feature flag notif
  packages/common/src/constants/FeatureFlags.ts
  packages/editor/src/systems/RenderMonitorSystem.tsx
Owners: @HexaField, @dinomut1, @aditya-mitra

add media queries for height (#483)
  tailwind.config.js
Owners: @HexaField

Updated scripts
  scripts/build_docker_desktop.sh
  scripts/build_microk8s.sh
Owners: @barankyle, @hanzlamateen, @DanielBelmes

Migrate metabase setting to engine setting (#365)
  packages/client-core/src/admin/components/settings/tabs/metabase.tsx
  packages/common/src/constants/EngineSettings.ts
  packages/common/src/schema.type.module.ts
  packages/common/src/schemas/integrations/metabase/metabase-setting.schema.ts
  packages/common/src/schemas/setting/engine-setting.schema.ts
  packages/server-core/src/appconfig.ts
  packages/server-core/src/integrations/metabase/metabase-setting/metabase-setting.class.ts
  packages/server-core/src/integrations/metabase/metabase-setting/metabase-setting.docs.ts
  packages/server-core/src/integrations/metabase/metabase-setting/metabase-setting.hooks.ts
  packages/server-core/src/integrations/metabase/metabase-setting/metabase-setting.resolvers.ts
  packages/server-core/src/integrations/metabase/metabase-setting/metabase-setting.seed.ts
  packages/server-core/src/integrations/metabase/metabase-setting/metabase-setting.ts
  packages/server-core/src/integrations/metabase/metabase-setting/migrations/20240808094500_metabase-setting.ts
  packages/server-core/src/integrations/metabase/metabase-setting/migrations/20240816095000_metabase-environment-column.ts
  packages/server-core/src/integrations/metabase/metabase-url/metabase-url.hooks.ts
  packages/server-core/src/integrations/seeder-config.ts
  packages/server-core/src/integrations/services.ts
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
  packages/server-core/src/setting/engine-setting/engine-setting.ts
  packages/server-core/src/setting/engine-setting/migrations/20241001042018_merge-metabase-setting.ts
Owners: @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

feature flag scene complexity for rc branch
  packages/common/src/constants/FeatureFlags.ts
  packages/editor/src/systems/RenderMonitorSystem.tsx
Owners: @HexaField, @dinomut1, @aditya-mitra

Change rednerer scenes to map
  packages/client-core/src/hooks/useEngineCanvas.ts
  packages/engine/src/scene/systems/ShadowSystem.tsx
  packages/spatial/src/initializeEngine.ts
  packages/spatial/src/renderer/WebGLRendererSystem.tsx
  packages/spatial/src/renderer/functions/useRendererEntity.tsx
Owners: @jose-galvan, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR, @DanielBelmes

Port @Hexafield's fixes for CSM from GLTF
  packages/engine/src/scene/systems/ShadowSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

updated the media component logic for random playmode to do a shuffle
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix uniform scale issue
  packages/ui/src/components/editor/input/Vector3/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

added parent parameter to the paste function
  packages/editor/src/panels/hierarchy/helpers.ts
Owners: @dinomut1, @aditya-mitra

Track some GLTF referenced assets
  packages/editor/src/functions/addMediaNode.ts
  packages/engine/src/assets/functions/resourceLoaderFunctions.ts
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/spatial/src/resources/ResourceState.ts
  packages/spatial/src/resources/resourceHooks.ts
Owners: @SYBIOTE, @MichaelEstes, @dinomut1, @speigg, @AidanCaruso

Port @Hexafield's fixes for CSM from GLTF (#491)
  packages/engine/src/scene/systems/ShadowSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

refactor envmap component to use component query instead of add a copy to every child
  packages/engine/src/scene/components/EnvmapComponent.tsx
  packages/engine/src/scene/systems/SceneObjectSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Add feature flag for scene complexity (#489)
  packages/common/src/constants/FeatureFlags.ts
  packages/editor/src/systems/RenderMonitorSystem.tsx
Owners: @HexaField, @dinomut1, @aditya-mitra

fix envmap intensity dep
  packages/engine/src/scene/components/EnvmapComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

added clearing the renaming node if clicking on a different hierarchy node
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
Owners: @dinomut1, @aditya-mitra

fix uniform scale issue (#493)
  packages/ui/src/components/editor/input/Vector3/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix slider values
  packages/ui/src/components/editor/properties/envmap/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Check values without hookstate errors
  packages/engine/src/assets/functions/resourceLoaderHooks.ts
  packages/engine/src/scene/components/MediaComponent.ts
  packages/spatial/src/resources/ResourceState.ts
Owners: @MichaelEstes, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Add back blob override for node
  packages/server-core/src/patchEngineNode.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Update debug texture loading condition, remove resource pending component on unmount, wait for renderer to exist in media component
  packages/engine/src/assets/functions/resourceLoaderHooks.ts
  packages/engine/src/scene/components/MediaComponent.ts
  packages/spatial/src/renderer/WebGLRendererSystem.tsx
Owners: @MichaelEstes, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @DanielBelmes

define min height for asset panel scrollbar
  packages/editor/src/panels/assets/assetPanel.css
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

make scroll bar relative
  packages/editor/src/panels/assets/assetPanel.css
Owners: @dinomut1, @aditya-mitra

Change to useRendererEntity
  packages/engine/src/scene/components/MediaComponent.ts
  packages/spatial/src/renderer/WebGLRendererSystem.tsx
  packages/spatial/src/renderer/functions/useRendererEntity.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @DanielBelmes, @MichaelEstes

change primitive geom to use standard material
  packages/engine/src/scene/components/PrimitiveGeometryComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix incorrect label in hookstate test
  packages/hyperflux/tests/hookstate.test.tsx
Owners: @speigg

format
  packages/engine/src/scene/components/EnvmapComponent.tsx
  packages/engine/src/scene/systems/SceneObjectSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

added parent parameter to the paste function (#495)
  packages/editor/src/panels/hierarchy/helpers.ts
Owners: @dinomut1, @aditya-mitra

Scene load stuck at 99% percent fix (#499)
  packages/engine/src/assets/functions/resourceLoaderHooks.ts
  packages/engine/src/scene/components/MediaComponent.ts
  packages/spatial/src/renderer/functions/useRendererEntity.tsx
Owners: @MichaelEstes, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @DanielBelmes

variant component fixes, shadow system fix
  packages/engine/src/scene/components/VariantComponent.tsx
  packages/engine/src/scene/systems/ShadowSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

format
  packages/server-core/src/patchEngineNode.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

increase stroke width
  packages/ui/src/primitives/tailwind/Dropdown/index.stories.tsx
  packages/ui/src/primitives/tailwind/Dropdown/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

new designs for dropdown (#481)
  packages/editor/src/components/toolbar/Toolbar.tsx
  packages/editor/src/panels/files/contextmenu.tsx
  packages/editor/src/panels/hierarchy/contextmenu.tsx
  packages/editor/src/panels/scenes/SceneItem.tsx
  packages/ui/package.json
  packages/ui/src/index.ts
  packages/ui/src/primitives/tailwind/Dropdown/index.stories.tsx
  packages/ui/src/primitives/tailwind/Dropdown/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

change designs for icons layout story
  packages/ui/src/icons/index.stories.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

remove redundant useTreeQuery
  packages/engine/src/scene/components/OldColliderComponent.tsx
  packages/spatial/src/transform/components/EntityTree.test.tsx
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @SamMazerIR

add fuzzy search
  packages/ui/package.json
  packages/ui/src/icons/index.stories.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

remove stroke color from path
  packages/ui/scripts/build-icons.ts
  packages/ui/src/icons/index.stories.tsx
  packages/ui/src/icons/index.ts
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

use searchsmsm icon in searchbar
  packages/ui/src/components/tailwind/SearchBar/index.tsx
  packages/ui/src/icons/index.ts
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

various fixes for spectate mode
  packages/client-core/src/common/services/RouterService.tsx
  packages/client-core/src/networking/AvatarSpawnSystem.tsx
  packages/client-core/src/social/components/XruiNameplateComponent.ts
  packages/engine/src/avatar/systems/AvatarTransparencySystem.tsx
  packages/spatial/src/camera/systems/CameraSystem.tsx
  packages/spatial/src/camera/systems/SpectateSystem.tsx
  packages/spatial/src/transform/TransformSerialization.ts
Owners: @aditya-mitra, @AidanCaruso, @DanielBelmes, @SamMazerIR, @speigg

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
