Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

Update Tabs & Friends
  packages/client-core/src/user/menus/social/FriendsMenu.tsx
  packages/ui/src/primitives/tailwind/Tabs/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

tst: Fixes for `GLTFLoader.test.tsx`
  packages/engine/src/gltf/GLTFLoader.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

removed unused method
  packages/ui/src/components/editorUpdates/input/Array/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

updated the use of selectedTrackIndex to use Track instead corrected issues with the HTMLmedaiElement and the video texture
  packages/engine/src/scene/components/MediaComponent.ts
  packages/engine/src/scene/components/VideoComponent.tsx
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @aditya-mitra, @SYBIOTE

add directional arrow
  packages/editor/src/constants/GizmoPresets.ts
  packages/editor/src/systems/HelperActiveSystem.ts
Owners: @dinomut1, @aditya-mitra

truncate overflowing DropdownItem labels
  packages/ui/src/primitives/tailwind/Dropdown/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add texture and ecs tests
  packages/engine/src/gltf/exportGLTFScene.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

licensing
  packages/engine/src/gltf/exportGLTFScene.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

add back entityExists check
  packages/spatial/src/renderer/components/ObjectLayerComponent.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

add icons for the gizmos
  packages/editor/src/constants/GizmoPresets.ts
  packages/editor/src/services/ComponentStudioIcons.tsx
  packages/editor/src/systems/HelperActiveSystem.ts
  packages/spatial/src/common/functions/activeHelperFunctions.ts
  packages/spatial/src/renderer/components/AnimateScaleComponent.ts
  packages/ui/src/components/editor/assets/boxCollider.png
  packages/ui/src/components/editor/assets/camera.png
  packages/ui/src/components/editor/assets/cylinderCollider.png
  packages/ui/src/components/editor/assets/directional.png
  packages/ui/src/components/editor/assets/envMap.png
  packages/ui/src/components/editor/assets/hemisphere.png
  packages/ui/src/components/editor/assets/media.png
  packages/ui/src/components/editor/assets/mountPoint.png
  packages/ui/src/components/editor/assets/point.png
  packages/ui/src/components/editor/assets/portal.png
  packages/ui/src/components/editor/assets/positionalAudio.png
  packages/ui/src/components/editor/assets/rigidBody.png
  packages/ui/src/components/editor/assets/spawnPoint.png
  packages/ui/src/components/editor/assets/sphereCollider.png
  packages/ui/src/components/editor/assets/spot.png
  packages/ui/src/components/editor/assets/trigger.png
Owners: @dinomut1, @aditya-mitra, @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR, @DanielBelmes, @SYBIOTE, @CITIZENDOT

move the ui editor updates in to the correct folder removed the unneeded ones also
  packages/ui/src/components/editor/input/Array/index.tsx
  packages/ui/src/components/editor/properties/video/index.tsx
  packages/ui/src/components/editorUpdates/input/Array/index.tsx
  packages/ui/src/components/editorUpdates/input/Group/index.tsx
  packages/ui/src/components/editorUpdates/properties/media/preview/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

SSAO working, further changes needed to scale
  packages/engine/src/postprocessing/SSAOEffect.tsx
  packages/projects/default-project/public/scenes/default.gltf
  packages/spatial/src/renderer/WebGLRendererSystem.tsx
  packages/spatial/src/renderer/components/PostProcessingComponent.tsx
  packages/spatial/src/renderer/effects/EffectRegistry.ts
  packages/ui/src/components/editor/properties/postProcessing/index.tsx
Owners: @DanielBelmes, @MbfloydIR, @HexaField, @AidanCaruso, @MichaelEstes, @aditya-mitra, @SYBIOTE, @CITIZENDOT

cleanup and slider fix
  packages/spatial/src/renderer/WebGLRendererSystem.tsx
  packages/ui/src/components/editor/properties/postProcessing/index.tsx
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes, @aditya-mitra, @SYBIOTE, @CITIZENDOT

implementing color vars
  packages/ui/src/components/editor/input/Vector3/index.tsx
  packages/ui/src/components/editor/properties/video/index.tsx
  packages/ui/src/primitives/tailwind/SegmentedControl/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Fix Controls (#60)
  packages/client-core/src/networking/AvatarSpawnSystem.tsx
  packages/clientNative/globals.js
  packages/clientNative/ios/Podfile.lock
  packages/clientNative/ios/clientNative.xcodeproj/project.pbxproj
  packages/clientNative/ios/clientNative/Info.plist
  packages/clientNative/ios/clientNative/clientNativeDebug.entitlements
  packages/clientNative/package.json
  packages/clientNative/src/common/components/TouchGamepad/index.tsx
  packages/clientNative/src/pages/location/LocationPage.tsx
  packages/clientNative/wasm/_generated/@host/rapier_wasm3d_bg/jsi-exports-bridge.cpp
  packages/ecs/src/ECSState.ts
  packages/engine/src/scene/systems/ShadowSystem.tsx
  patches/@dimforge+rapier3d-compat+0.11.2.patch
  patches/expo-gl+15.0.4.patch
Owners: @aditya-mitra, @HexaField, @speigg, @dinomut1, @CITIZENDOT, @AidanCaruso

improvements to queries, fix some query reactor logic not handling suspension
  packages/client-core/src/components/Debug/EntityDebug.tsx
  packages/ecs/src/QueryFunctions.tsx
  packages/engine/src/avatar/systems/AvatarIKSystem.tsx
  packages/engine/src/avatar/systems/AvatarTransparencySystem.tsx
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/GLTFState.tsx
  packages/engine/src/scene/systems/EnvironmentSystem.tsx
  packages/hyperflux/src/functions/ReactorFunctions.tsx
Owners: @aditya-mitra, @speigg, @AidanCaruso, @MichaelEstes, @dinomut1, @CITIZENDOT

fix nameplates and hack fix immersive media
  packages/client-core/src/systems/AvatarUISystem.tsx
  packages/client-core/src/world/ClientModule.ts
Owners: @aditya-mitra

fix text component
  packages/engine/src/scene/components/TextComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix node hierarchy updating
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
  packages/editor/src/panels/hierarchy/hooks.tsx
  packages/editor/src/panels/materials/index.tsx
  packages/engine/src/scene/components/SourceComponent.ts
  packages/engine/src/scene/components/TextComponent.tsx
  packages/ui/src/components/editor/DropdownItem/index.tsx
Owners: @dinomut1, @aditya-mitra, @speigg, @CITIZENDOT, @AidanCaruso, @SYBIOTE

fix resource state overriding texture wrap
  packages/spatial/src/resources/ResourceState.tsx
Owners: @MichaelEstes

Update LocationIconButton & ShareMenu
  packages/client-core/src/components/MediaIconsBox/index.tsx
  packages/client-core/src/user/components/LocationIconButton.tsx
  packages/client-core/src/user/menus/ShareMenu.tsx
Owners: @aditya-mitra

feat: hide user menu until location is loaded
  packages/client-core/src/user/UserUISystem.tsx
Owners: @aditya-mitra

feat: verify user has required project permissions to save node changes
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
Owners: @dinomut1, @aditya-mitra

chore: address requested changes.
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
Owners: @dinomut1, @aditya-mitra

IR-6006: Allow users without project permission but with editor:write scope to read public permission
  packages/server-core/src/hooks/check-project-permission.ts
  packages/server-core/src/setting/project-setting/project-setting.hooks.ts
  packages/server-core/src/setting/project-setting/project-setting.test.ts
  packages/server-core/src/test-utils/project-test-utils.ts
  packages/server-core/src/test-utils/user-test-utils.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

chore: format code
  packages/client-core/src/user/UserUISystem.tsx
Owners: @aditya-mitra

Accounting for full URL as redirect "path" in MT
  packages/client-core/src/user/oauth/ErrorPage.tsx
Owners: @aditya-mitra

chore: format code
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
Owners: @dinomut1, @aditya-mitra

updated uses of pixels to use tailwind friendly units
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Fix screenshot tests and make more robust (#61)
  .github/workflows/native_cd.yml
  irengine-profile-base64.txt.gpg
  packages/appium-tests/README.md
  packages/appium-tests/bundle.sh
  packages/appium-tests/main.ts
  packages/appium-tests/package.json
  packages/appium-tests/testSpec.yaml
  packages/appium-tests/testUtils.ts
  packages/appium-tests/tsconfig.json
  packages/clientNative/Gemfile
  packages/clientNative/Gemfile.lock
  packages/screenshot-testing/compareScreenshots.mjs
  scripts/unzipArchive.sh
Owners: @DanielBelmes, @HexaField, @barankyle, @hanzlamateen

update ui to match new guides
  packages/ui/src/components/editor/input/Array/index.tsx
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

updated ui added to match guidlines
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

updated ui to match guides
  packages/ui/src/primitives/tailwind/SegmentedControl/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fixed issue with the preview video viewer
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Fix Graphics Artifacts (#62)
  packages/clientNative/globals.js
  packages/clientNative/src/common/components/TouchGamepad/index.tsx
  packages/spatial/src/renderer/WebGLRendererSystem.tsx
  patches/@expo+browser-polyfill+1.0.1.patch
Owners: @HexaField, @AidanCaruso, @DanielBelmes, @MichaelEstes

fix prefabs not marking scene as changed thus not saving change
  packages/editor/src/functions/addMediaNode.ts
Owners: @SYBIOTE

fix mark modified scene not working for root entity passed in
  packages/editor/src/services/EditorServices.ts
Owners: @dinomut1, @aditya-mitra

fix merge regression with scene saving
  packages/editor/src/functions/sceneFunctions.tsx
Owners: @SYBIOTE

bug fix primitive geometry group promises
  packages/ecs/src/ComponentFunctions.ts
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @dinomut1

fix gizmos
  packages/editor/src/systems/TransformGizmoSystem.ts
Owners: @dinomut1, @aditya-mitra
