Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

fix bugs with studio, propagation and refactor transform gizmo into being instantated with a hook
  packages/ecs/src/ComponentFunctions.ts
  packages/editor/src/classes/gizmo/transform/TransformGizmoControlComponent.ts
  packages/editor/src/classes/gizmo/transform/TransformGizmoControlledComponent.ts
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/systems/EditorControlSystem.ts
  packages/editor/src/systems/TransformGizmoSystem.ts
  packages/spatial/src/transform/functions/MeshBVHSystem.tsx
Owners: @speigg, @SYBIOTE, @dinomut1, @aditya-mitra, @SamMazerIR

bug fix in fog settings component
  packages/spatial/src/renderer/components/FogSettingsComponent.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

Add Mariale Project (#36)
  .github/workflows/native_cd.yml
  packages/clientNative/App.tsx
  packages/clientNative/src/pages/location/LocationPage.tsx
  packages/projects/loadConfigForProject.ts
  packages/projects/loadEngineInjection.ts
Owners: @DanielBelmes, @HexaField

Update repo checkout (#37)
  .github/workflows/native_cd.yml
Owners: @DanielBelmes

IR-6653: Changes to fix feathers hook from crashing
  packages/common/src/utils/FeathersHooks.tsx
Owners: @HexaField

use fullwidth buttons
  packages/client-core/src/user/components/UserMenu/menus/AvatarContextMenu.tsx
Owners: @aditya-mitra

use iframe instaed of dangerously render html
  packages/client-core/src/user/components/UserMenu/menus/EmbedFrame.tsx
Owners: @aditya-mitra

fixed infinite loop
  packages/common/src/utils/FeathersHooks.tsx
Owners: @HexaField

Redesign Friends Menu
  packages/client-core/src/user/UserUISystem2.tsx
  packages/client-core/src/user/components/UserMenu/menus/FriendsMenu.tsx
  packages/client-core/src/user/components/UserMenu/menus/MessagesMenu.tsx
  packages/client-core/src/user/menus/index.tsx
  packages/client-core/src/util/ViewerMenuState.tsx
Owners: @aditya-mitra

remove debug user in displayed users
  packages/client-core/src/user/components/UserMenu/menus/FriendsMenu.tsx
Owners: @aditya-mitra

fix ready player me avatar loading
  packages/engine/src/avatar/components/AvatarAnimationComponent.ts
Owners: @AidanCaruso

IR-5224: Fixed pods validation error (#571)
  packages/server-core/src/cluster/pods/pods-helper.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

CD setup for TestFlight (#27)
  packages/clientNative/ios/Podfile.lock
  packages/clientNative/ios/ci_scripts/ci_pre_xcodebuild.sh
  packages/clientNative/ios/clientNative.xcodeproj/project.pbxproj
  packages/clientNative/ios/clientNative.xcodeproj/xcshareddata/xcschemes/clientNative.xcscheme
  packages/clientNative/package.json
Owners: @HexaField

update callback logic
  packages/client-core/src/user/UserUISystem.tsx
  packages/engine/src/scene/components/LiquidCodeComponent.ts
  packages/ui/src/components/editor/properties/liquidcode/index.tsx
Owners: @aditya-mitra, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @SYBIOTE

add query reactor for menu to support iframe component
  packages/client-core/src/user/UserUISystem.tsx
  packages/engine/src/scene/components/LiquidCodeComponent.ts
  packages/ui/src/components/editor/properties/liquidcode/index.tsx
Owners: @aditya-mitra, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @SYBIOTE

Add Export Compliance Field to Info.plist (#38)
  packages/clientNative/ios/clientNative/Info.plist
Owners: @HexaField

cleanup menu file
  packages/client-core/src/user/UserUISystem.tsx
Owners: @aditya-mitra

cleanup
  packages/engine/src/scene/components/LiquidCodeComponent.ts
  packages/ui/src/components/editor/properties/liquidcode/index.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @aditya-mitra, @SYBIOTE

more cleanup
  packages/client-core/src/user/components/UserMenu/PopupMenuService.ts
  packages/client-core/src/user/components/UserMenu/menus/EmbedFrame.tsx
  packages/ui/src/components/editor/properties/liquidcode/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Decouple component statemaps
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/QueryFunctions.tsx
Owners: @speigg

Revert console log
  packages/ecs/src/QueryFunctions.tsx
Owners: @speigg

Add Icons (#39)
  packages/clientNative/ios/clientNative/Images.xcassets/AppIcon.appiconset/3d-IR-White-Logo 1.png
  packages/clientNative/ios/clientNative/Images.xcassets/AppIcon.appiconset/3d-IR-White-Logo 2.png
  packages/clientNative/ios/clientNative/Images.xcassets/AppIcon.appiconset/3d-IR-White-Logo 3.png
  packages/clientNative/ios/clientNative/Images.xcassets/AppIcon.appiconset/3d-IR-White-Logo 4.png
  packages/clientNative/ios/clientNative/Images.xcassets/AppIcon.appiconset/3d-IR-White-Logo 5.png
  packages/clientNative/ios/clientNative/Images.xcassets/AppIcon.appiconset/3d-IR-White-Logo 6.png
  packages/clientNative/ios/clientNative/Images.xcassets/AppIcon.appiconset/3d-IR-White-Logo 7.png
  packages/clientNative/ios/clientNative/Images.xcassets/AppIcon.appiconset/3d-IR-White-Logo 8.png
  packages/clientNative/ios/clientNative/Images.xcassets/AppIcon.appiconset/3d-IR-White-Logo.png
  packages/clientNative/ios/clientNative/Images.xcassets/AppIcon.appiconset/Contents.json
  packages/clientNative/ios/clientNative/Info.plist
Owners: @HexaField

add min and mag filters for mipmaps to ensure skybox works in threejs
  packages/engine/src/assets/loaders/gltf/KTX2Loader.js
Owners: @MichaelEstes, @dinomut1, @speigg

rename liquidcode to iframe
  packages/client-core/i18n/en/editor.json
  packages/client-core/src/user/UserUISystem.tsx
  packages/client-core/src/user/components/UserMenu/menus/EmbedFrame.tsx
  packages/editor/src/services/ComponentEditors.tsx
  packages/editor/src/services/ComponentShelfCategoriesState.ts
  packages/engine/src/scene/components/LiquidCodeComponent.ts
  packages/ui/src/components/editor/properties/liquidcode/index.tsx
Owners: @aditya-mitra, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @SYBIOTE

Update App Store image (#40)
  packages/clientNative/ios/clientNative/Images.xcassets/AppIcon.appiconset/3d-IR-White-Logo 4.png
  packages/clientNative/ios/clientNative/Images.xcassets/AppIcon.appiconset/Contents.json
  packages/clientNative/ios/clientNative/Images.xcassets/AppIcon.appiconset/IREngine1024.png
Owners: @HexaField

noop more _onChangeCallback
  packages/engine/src/avatar/components/AvatarAnimationComponent.ts
  packages/spatial/src/renderer/components/ObjectComponent.ts
  packages/spatial/src/xr/XRCameraSystem.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes, @speigg, @MbfloydIR, @SamMazerIR

Add physics with Rapier (#41)
  packages/clientNative/Gemfile
  packages/clientNative/Gemfile.lock
  packages/clientNative/globals.js
  packages/clientNative/ios/Podfile
  packages/clientNative/ios/Podfile.lock
  packages/clientNative/ios/clientNative.xcodeproj/project.pbxproj
  packages/clientNative/package.json
  packages/clientNative/wasm/_generated/@host/ReactNativeWebAssemblyHost.podspec
  packages/clientNative/wasm/_generated/@host/loader.cpp
  packages/clientNative/wasm/_generated/@host/loader.h
  packages/clientNative/wasm/_generated/@host/rapier_wasm3d_bg/jsi-exports-bridge.cpp
  packages/clientNative/wasm/_generated/@host/rapier_wasm3d_bg/jsi-exports-bridge.h
  packages/clientNative/wasm/_generated/@host/rapier_wasm3d_bg/jsi-imports-bridge.cpp
  packages/clientNative/wasm/_generated/@host/rapier_wasm3d_bg/jsi-imports-bridge.h
  packages/clientNative/wasm/_generated/@host/rapier_wasm3d_bg/rapier_wasm3d_bg.exports.json
  packages/clientNative/wasm/_generated/@host/rapier_wasm3d_bg/rapier_wasm3d_bg.h
  packages/clientNative/wasm/_generated/@host/rapier_wasm3d_bg/rapier_wasm3d_bg.imports.json
  packages/clientNative/wasm/_generated/@host/rapier_wasm3d_bg/static-module.cpp
  packages/clientNative/wasm/_generated/@host/rapier_wasm3d_bg/static-module.h
  packages/clientNative/wasm/_generated/modules/rapier_wasm3d_bg.js
  packages/spatial/src/physics/classes/Physics.ts
Owners: @HexaField, @heysokam

to unblock compress gltf
  packages/server-core/src/media/file-browser/file-browser.class.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

static minFilter for equirectangular textures
  packages/engine/src/scene/components/SkyboxComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix transform and material propagation
  packages/ecs/src/ComponentFunctions.ts
Owners: @speigg

move child iteration to occur on selection. Refactor how selection is updated. Change color of highlight.
  packages/editor/src/systems/HighlightSystem.ts
  packages/spatial/src/renderer/HighlightState.ts
  packages/spatial/src/renderer/components/HighlightComponent.ts
Owners: @dinomut1, @aditya-mitra, @AidanCaruso, @DanielBelmes, @MichaelEstes

PR comments
  packages/editor/src/systems/HighlightSystem.ts
  packages/spatial/src/renderer/components/HighlightComponent.ts
Owners: @dinomut1, @aditya-mitra, @AidanCaruso, @DanielBelmes, @MichaelEstes

fix null schema crashing studio
  packages/ecs/src/ComponentFunctions.ts
Owners: @speigg

fix selecting materials crash studio
  packages/editor/src/classes/gizmo/transform/TransformGizmoControlComponent.ts
  packages/editor/src/panels/properties/propertyeditor.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

bugs
  packages/editor/src/systems/EditorControlSystem.ts
  packages/spatial/src/transform/functions/MeshBVHSystem.tsx
Owners: @dinomut1, @aditya-mitra, @SamMazerIR

gizmo
  packages/editor/src/classes/gizmo/transform/TransformGizmoVisualComponent.ts
  packages/editor/src/functions/transformGizmoHelper.ts
Owners: @SYBIOTE

rename liquid code files to iframe
  packages/engine/src/scene/components/IFrameComponent.ts
  packages/ui/src/components/editor/properties/iframe/index.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @aditya-mitra, @SYBIOTE

tst: Unit Tests for `getLayerRelationsTypes`
  packages/ecs/src/ECSLayers.test.ts
Owners: @speigg

fix bugs with schemas, idempotent scene save
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/schemas/JSONSchemaUtils.ts
  packages/editor/src/functions/sceneFunctions.tsx
  packages/engine/src/gltf/exportGLTFScene.ts
  packages/engine/src/scene/components/ScenePreviewCamera.ts
Owners: @speigg, @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1, @CITIZENDOT

fix imports
  packages/client-core/i18n/en/editor.json
  packages/client-core/src/user/UserUISystem.tsx
  packages/editor/src/services/ComponentEditors.tsx
  packages/ui/src/components/editor/properties/iframe/index.tsx
Owners: @aditya-mitra, @dinomut1, @SYBIOTE, @CITIZENDOT

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
