Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

updated entity name to match filename, with incrementer if needed (#1433)
  packages/editor/src/functions/EditorControlFunctions.test.tsx
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/functions/addMediaNode.ts
  packages/editor/src/functions/utils.ts
Owners: @SYBIOTE

reset the loading counters when switching categories (#1438)
  packages/editor/src/panels/assets/hooks.tsx
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

update compress publish button (#1449)
  packages/client-core/i18n/en/editor.json
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @aditya-mitra, @hanzlamateen

Merge pull request #1450 from ir-engine/fix-material-drag-drop
  packages/editor/src/functions/addMediaNode.ts
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/scene/systems/SceneDeltaState.tsx
  packages/spatial/src/renderer/materials/materialFunctions.ts
Owners: @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1, @speigg, @CITIZENDOT, @DanielBelmes

mobile if condition
  packages/spatial/src/input/components/InputSourceComponent.tsx
Owners: @heysokam, @SamMazerIR, @speigg

Removed auto-deletion of login-tokens (#1453)
  packages/server-core/email-templates/account/magiclink-email.pug
  packages/server-core/src/user/login-token/login-token.resolvers.ts
  packages/server-core/src/user/login/login.class.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

default thumbstick needs to act as xr-standard mapping
  packages/spatial/src/input/components/InputComponent.ts
  packages/spatial/src/input/components/InputSourceComponent.tsx
  packages/spatial/src/input/functions/ClientInputHooks.tsx
Owners: @heysokam, @SamMazerIR, @speigg

format
  packages/spatial/src/input/components/InputSourceComponent.tsx
Owners: @heysokam, @SamMazerIR, @speigg

react to gltf url changing if it ever does when spawning avatar (#1458)
  packages/editor/src/panels/viewport/tools/PlayModeTool.tsx
Owners: @dinomut1, @aditya-mitra

unify editor wizard avatar spawn logic
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/panels/viewport/tools/PlayModeTool.tsx
Owners: @dinomut1, @aditya-mitra

conditional tw classes
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

set neighbours to 2 (or more) on last page
  packages/ui/src/primitives/tailwind/Table/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

remove hookstate patch
  patches/@hookstate+core+4.0.1.patch
Owners: @HexaField

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
