Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

adjust spinner to match design spec
  packages/engine/src/scene/functions/addMesh.ts
  packages/engine/src/scene/functions/spatialLoadingSpinner.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

licensing
  packages/engine/src/scene/functions/addMesh.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

remove loading spinner on error
  packages/engine/src/scene/components/ModelComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

better naming
  packages/engine/src/scene/functions/spatialLoadingSpinner.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Expanded cases where useGet auto-returns an error
  packages/common/src/utils/FeathersHooks.tsx
Owners: @HexaField

fix root motion problems due to avatar component
  packages/editor/src/functions/addMediaNode.ts
  packages/engine/src/avatar/components/LoopAnimationComponent.ts
  packages/engine/src/avatar/functions/avatarFunctions.ts
Owners: @SYBIOTE, @AidanCaruso

Debugging oauth failures. Uses forked version of @feathersjs/authentication-oauth
  packages/server-core/package.json
  packages/server-core/src/user/strategies/custom-oauth.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix screenshot
  packages/editor/src/functions/takeScreenshot.ts
Owners: @SYBIOTE

fix camera layers
  packages/editor/src/functions/takeScreenshot.ts
  packages/editor/src/services/SceneThumbnailState.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

fix migration script
  packages/server-core/src/networking/instance/migrations/20240913043118_instance_drop_current_users.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Simplify state management of instanceServer.tsx by consolidating state variables
  packages/client-core/src/admin/components/settings/tabs/instanceServer.tsx
Owners: @hanzlamateen

fmt: `getChildrenWithComponents`: Optimize result arr. Add doc comment
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @SamMazerIR

tst: Remove leftover `console.log` from `Physics.test.tsx`
  packages/spatial/src/physics/classes/Physics.test.tsx
Owners: @heysokam

Remove unnecessary state hook in instance server
  packages/client-core/src/admin/components/settings/tabs/instanceServer.tsx
Owners: @hanzlamateen

add redis setting in the engine-setting.ts
  packages/server-core/src/setting/engine-setting/engine-setting.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Refactor cleanFileName to handle empty filePath
  packages/common/src/utils/cleanFileName.ts
Owners: @HexaField

IR-4917 Migrate redis settings to engine settings (#376)
  packages/client-core/src/admin/components/settings/tabs/redis.tsx
  packages/common/src/constants/EngineSettings.ts
  packages/common/src/schema.type.module.ts
  packages/common/src/schemas/setting/engine-setting.schema.ts
  packages/common/src/schemas/setting/redis-setting.schema.ts
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
  packages/server-core/src/setting/engine-setting/engine-setting.ts
  packages/server-core/src/setting/engine-setting/migrations/20241004103729_merge-redis-setting.ts
  packages/server-core/src/setting/redis-setting/migrations/20230418061632_redis-setting.ts
  packages/server-core/src/setting/redis-setting/redis-setting.class.ts
  packages/server-core/src/setting/redis-setting/redis-setting.docs.ts
  packages/server-core/src/setting/redis-setting/redis-setting.hooks.ts
  packages/server-core/src/setting/redis-setting/redis-setting.resolvers.ts
  packages/server-core/src/setting/redis-setting/redis-setting.seed.ts
  packages/server-core/src/setting/redis-setting/redis-setting.ts
  packages/server-core/src/setting/seeder-config.ts
  packages/server-core/src/setting/service.ts
  packages/server-core/src/updateAppConfig.ts
Owners: @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

Refactor cleanFileName to handle `//` in file path (#382)
  packages/common/src/utils/cleanFileName.ts
Owners: @HexaField

code refactor
  packages/client-core/src/admin/components/settings/tabs/instanceServer.tsx
  packages/server-core/src/setting/engine-setting/engine-setting.ts
Owners: @hanzlamateen, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

add webRTCSettings to instanceserver in appConfig.ts
  packages/client-core/src/admin/components/settings/tabs/instanceServer.tsx
  packages/server-core/src/appconfig.ts
Owners: @hanzlamateen, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

only update WebRTCSettings in instance server settings
  packages/client-core/src/admin/components/settings/tabs/instanceServer.tsx
Owners: @hanzlamateen

optimize create/patch code for instance server setting
  packages/client-core/src/admin/components/settings/tabs/instanceServer.tsx
Owners: @hanzlamateen

doc: Improve doc comments of `iterateEntityNode`
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @SamMazerIR

tst: Unit Tests for `EntityTree.tsx` (phase 5)
  packages/spatial/src/transform/components/EntityTree.test.tsx
Owners: @SamMazerIR

Implement better WebRTC negotiation, support custom STUN servers
  packages/client-core/src/transports/p2p/PeerToPeerNetworkState.tsx
  packages/network/src/webrtc/WebRTCTransportFunctions.ts
  packages/server-core/src/networking/instance-signaling/instance-signaling.ts
Owners: @aditya-mitra, @speigg, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

fix test regression
  packages/network/src/serialization/DataReader.test.ts
Owners: @speigg

code refactor
  packages/client-core/src/admin/components/settings/tabs/instanceServer.tsx
Owners: @hanzlamateen

fix(account-details): limit display name top 70 [IR-4470] (#375)
  packages/common/src/constants/UserConstants.ts
Owners: @HexaField

Refactor project-publish schema and related code
  packages/common/src/schemas/projects/project-publish.schema.ts
  packages/common/src/schemas/projects/project.schema.ts
  packages/server-core/src/projects/project-publish/migrations/20241002164217_project-publish.ts
  packages/server-core/src/projects/project-publish/project-publish.hooks.ts
  packages/server-core/src/projects/project-publish/project-publish.resolvers.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Refactor project service to remove locally installed projects that are not in the database
  packages/server-core/src/projects/project/project.class.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

chore(ir-engine): implemented location find service params hook (#231)
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/client-core/src/admin/components/locations/LocationTable.tsx
  packages/client-core/src/admin/components/locations/index.tsx
  packages/editor/src/components/toolbar/Toolbar.tsx
  packages/server-core/src/hooks/has-action.ts
  packages/server-core/src/hooks/is-action.ts
  packages/server-core/src/social/location/location.hooks.ts
Owners: @hanzlamateen, @dinomut1, @aditya-mitra, @barankyle, @MoizAdnan, @hurairahmateen

Updated cleanFileName length restrictions
  packages/common/src/utils/cleanFileName.ts
  packages/server-core/src/media/file-browser/file-browser.hooks.ts
  packages/server-core/src/projects/project/project-helper.ts
  scripts/push-client-to-s3.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra, @DanielBelmes

remove json id
  packages/engine/src/avatar/components/AvatarComponent.ts
Owners: @AidanCaruso

fixup
  packages/server-core/src/user/authentication.ts
  packages/server-core/src/user/strategies/custom-oauth.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Updated cleanFileName length restrictions (#383)
  packages/common/src/utils/cleanFileName.ts
  packages/server-core/src/media/file-browser/file-browser.hooks.ts
  packages/server-core/src/projects/project/project-helper.ts
  scripts/push-client-to-s3.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra, @DanielBelmes

fix duplicate
  packages/editor/src/functions/EditorControlFunctions.ts
Owners: @SYBIOTE

fix "save changes" when hash is in model url
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
Owners: @dinomut1, @aditya-mitra

preserve uuid references when remapped in import
  packages/engine/src/assets/loaders/gltf/extensions/EEECSImporterExtension.ts
Owners: @MichaelEstes, @dinomut1, @speigg

add "enable/disable collision" callbacks to collider component
  packages/spatial/src/physics/components/ColliderComponent.tsx
Owners: @heysokam

add optional redirectUrl param to loginUserByOAuth function
  packages/client-core/src/user/services/AuthService.ts
Owners: @aditya-mitra

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
