Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

Hookstate error, add back texture resource tracking
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/spatial/src/resources/ResourceState.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

Removing model transform functionality from the server and the properties panel
  packages/common/src/constants/FeatureFlags.ts
  packages/common/src/schema.type.module.ts
  packages/common/src/schemas/assets/model-transform.schema.ts
  packages/server-core/src/assets/ModelTransformLoader.ts
  packages/server-core/src/assets/extensions/EE_MaterialTransformer.ts
  packages/server-core/src/assets/extensions/EE_ResourceIDTransformer.ts
  packages/server-core/src/assets/extensions/MOZ_LightmapTransformer.ts
  packages/server-core/src/assets/model-transform/model-transform.class.ts
  packages/server-core/src/assets/model-transform/model-transform.docs.ts
  packages/server-core/src/assets/model-transform/model-transform.helpers.ts
  packages/server-core/src/assets/model-transform/model-transform.hooks.ts
  packages/server-core/src/assets/model-transform/model-transform.job.ts
  packages/server-core/src/assets/model-transform/model-transform.ts
  packages/server-core/src/assets/services.ts
  packages/ui/src/components/editor/properties/model/index.tsx
  packages/ui/src/components/editor/properties/model/transform/index.tsx
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra, @SYBIOTE, @CITIZENDOT

The file browser now always shows the scroll bar if its contents vertically overflow.
  packages/editor/src/panels/files/filebrowser.tsx
Owners: @dinomut1, @aditya-mitra

Cleanup function error check
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

feat: rename objectFit to contentFit
  packages/xrui/core/components/LayoutComponent.tsx
Owners: @speigg

Add translation strings (#252)
  packages/client-core/i18n/en/user.json
  packages/ui/src/primitives/tailwind/Input/index.tsx
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

feat: Add transitionable contentFit property to LayoutComponent
  packages/xrui/core/components/LayoutComponent.tsx
Owners: @speigg

IR-4556: Added group id to Mailchimp settings (#273)
  .env.local.default
  packages/client-core/i18n/en/admin.json
  packages/client-core/src/admin/components/settings/tabs/mailchimp.tsx
  packages/common/src/schemas/setting/mailchimp-setting.schema.ts
  packages/server-core/src/appconfig.ts
  packages/server-core/src/setting/mailchimp-setting/mailchimp-setting.seed.ts
  packages/server-core/src/setting/mailchimp-setting/migrations/20240918171647_mailchimpGroupId.ts
Owners: @HexaField, @aditya-mitra, @hanzlamateen, @barankyle, @MoizAdnan, @hurairahmateen

update set box
  packages/editor/src/panels/viewport/tools/SelectionBoxTool.tsx
Owners: @dinomut1, @aditya-mitra

update SelectionBoxState name
  packages/editor/src/panels/viewport/tools/GizmoTool.tsx
  packages/editor/src/panels/viewport/tools/SelectionBoxTool.tsx
  packages/spatial/src/camera/systems/CameraOrbitSystem.tsx
Owners: @dinomut1, @aditya-mitra, @DanielBelmes, @SamMazerIR, @speigg

feat: Add UndefinedEntity to LayoutComponent
  packages/xrui/core/components/LayoutComponent.tsx
Owners: @speigg

feat: Use defineScalarTransition for the content fit transition
  packages/xrui/core/components/LayoutComponent.tsx
Owners: @speigg

add file type
  packages/editor/src/functions/assetFunctions.ts
Owners: @SYBIOTE

Add content-fit to layout component
  packages/ecs/src/schemas/JSONSchemaTypes.ts
  packages/ecs/src/schemas/JSONSchemas.ts
  packages/xrui/core/components/LayoutComponent.tsx
Owners: @speigg

ensure components hav apt descriptions and bug fixes
  packages/client-core/i18n/en/editor.json
  packages/ui/src/components/editor/input/Numeric/index.tsx
  packages/ui/src/components/editor/properties/cameraProperties/index.tsx
  packages/ui/src/components/editor/properties/text/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

camel case for functions
  packages/editor/src/services/SceneThumbnailState.tsx
Owners: @dinomut1, @aditya-mitra

feat: Fully type the Transition object schemas
  packages/xrui/core/classes/Transition.ts
Owners: @speigg

fix envmaps and server errors
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
  packages/engine/src/scene/components/EnvmapComponent.tsx
Owners: @AidanCaruso, @dinomut1, @speigg, @CITIZENDOT

feat: Update LayoutComponent with new contentFit and contentFitTransition properties
  packages/xrui/core/components/LayoutComponent.tsx
Owners: @speigg

feat: Make content fit transitionable as a Vector3
  packages/xrui/core/components/LayoutComponent.tsx
Owners: @speigg

feat: Use objectSpaceBox for contentBounds
  packages/xrui/core/components/LayoutComponent.tsx
Owners: @speigg

feat: Apply rotation to content bounds in LayoutComponent
  packages/xrui/core/components/LayoutComponent.tsx
Owners: @speigg

update SelectionBoxState
  packages/editor/src/panels/viewport/tools/SelectionBoxTool.tsx
Owners: @dinomut1, @aditya-mitra

Set initial quaternions rotation
  packages/editor/src/functions/gizmoHelper.ts
  packages/spatial/src/common/proxies/createThreejsProxy.ts
Owners: @SYBIOTE, @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

bug fixes
  packages/client-core/src/media/MediaStreamState.ts
  packages/client-core/src/transports/mediasoup/MediasoupDataChannelSystem.tsx
  packages/client-core/src/transports/mediasoup/MediasoupMediaChannelSystem.tsx
  packages/client-core/src/transports/mediasoup/MediasoupMediaTracksSystem.tsx
  packages/client-core/src/transports/mediasoup/MediasoupPeerMediaConsumersSystem.tsx
  packages/client-core/src/transports/mediasoup/MediasoupTransportSystem.tsx
  packages/client-core/src/transports/p2p/PeerToPeerNetworkState.tsx
  packages/network/src/webrtc/WebRTCTransportFunctions.ts
Owners: @aditya-mitra, @speigg

format
  packages/client-core/src/transports/mediasoup/MediasoupDataChannelSystem.tsx
  packages/client-core/src/transports/mediasoup/MediasoupMediaChannelSystem.tsx
  packages/client-core/src/transports/mediasoup/MediasoupPeerMediaConsumersSystem.tsx
  packages/client-core/src/transports/p2p/PeerToPeerNetworkState.tsx
  packages/network/src/Network.ts
  packages/server-core/src/appconfig.ts
  packages/server-core/src/networking/instance-provision/instance-provision.class.ts
  packages/server-core/src/networking/instance/instance.hooks.ts
  packages/server-core/src/networking/instance/migrations/20240913043118_instance_drop_current_users.ts
Owners: @aditya-mitra, @speigg, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

Test
  packages/spatial/src/physics/PhysicsSerialization.test.ts
Owners: @heysokam

typescript fixes
  packages/client-core/src/components/World/EngineHooks.tsx
  packages/instanceserver/src/preload-location.ts
  packages/instanceserver/tests/InstanceLoad.test.ts
  packages/network/src/EntityNetworkState.tsx
  packages/server-core/src/bot/bot/bot.test.ts
  packages/server-core/src/networking/instance/instance.test.ts
  packages/server-core/src/social/channel-user/channel-user.test.ts
  packages/server-core/src/social/channel/channel.test.ts
Owners: @speigg, @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

typescript fixes
  packages/network/src/EntityNetworkState.test.tsx
  packages/network/src/functions/NetworkPeerFunctions.test.tsx
  packages/network/src/serialization/DataReader.test.ts
  packages/network/src/serialization/DataWriter.test.ts
Owners: @speigg

feat(ui): create a alert component
  packages/ui/src/primitives/tailwind/Alert/index.stories.tsx
  packages/ui/src/primitives/tailwind/Alert/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

types
  packages/network/tests/createMockNetwork.ts
Owners: @speigg

Merge chargebee setting to engine settings
  packages/common/src/constants/EngineSettings.ts
  packages/common/src/schema.type.module.ts
  packages/common/src/schemas/setting/chargebee-setting.schema.ts
  packages/common/src/schemas/setting/engine-setting.schema.ts
  packages/server-core/src/setting/chargebee-setting/chargebee-setting.class.ts
  packages/server-core/src/setting/chargebee-setting/chargebee-setting.docs.ts
  packages/server-core/src/setting/chargebee-setting/chargebee-setting.hooks.ts
  packages/server-core/src/setting/chargebee-setting/chargebee-setting.resolvers.ts
  packages/server-core/src/setting/chargebee-setting/chargebee-setting.seed.ts
  packages/server-core/src/setting/chargebee-setting/chargebee-setting.ts
  packages/server-core/src/setting/chargebee-setting/migrations/20230404131827_chargebee-setting.ts
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
  packages/server-core/src/setting/engine-setting/migrations/20240923051419_merge-chargebee-setting.ts
  packages/server-core/src/setting/seeder-config.ts
  packages/server-core/src/setting/service.ts
  packages/server-core/src/updateAppConfig.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

feat: ability to override default email templates
  packages/server-core/email-templates/index.ts
  packages/server-core/src/user/magic-link/magic-link.class.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

restore assetpanelcategoriesstate
  packages/editor/src/panels/assets/helpers.ts
  packages/editor/src/services/AssetPanelCategoriesState.ts
Owners: @dinomut1, @aditya-mitra

fix errors
  packages/ui/src/components/editor/properties/cameraProperties/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

The file browser now always shows the scroll bar if its contents vertically overflow. (#294)
  packages/editor/src/panels/files/filebrowser.tsx
Owners: @dinomut1, @aditya-mitra

ensure components hav apt descriptions and bug fixes (#296)
  packages/client-core/i18n/en/editor.json
  packages/ui/src/components/editor/input/Numeric/index.tsx
  packages/ui/src/components/editor/properties/cameraProperties/index.tsx
  packages/ui/src/components/editor/properties/text/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

hot-fix broken image link in preview
  packages/ui/src/components/editor/input/Image/Preview/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

feat(tables): Fixed vertical scroll and now the tables fit on the screen sizes (#251)
  packages/client-core/src/admin/adminRoutes.tsx
  packages/client-core/src/admin/common/Table.tsx
  packages/client-core/src/admin/components/avatar/AvatarTable.tsx
  packages/client-core/src/admin/components/channel/ChannelTable.tsx
  packages/client-core/src/admin/components/instance/InstanceTable.tsx
  packages/client-core/src/admin/components/invites/InviteTable.tsx
  packages/client-core/src/admin/components/locations/LocationTable.tsx
  packages/client-core/src/admin/components/project/ProjectTable.tsx
  packages/client-core/src/admin/components/project/build-status/BuildStatusTable.tsx
  packages/client-core/src/admin/components/recordings/RecordingsTable.tsx
  packages/client-core/src/admin/components/resources/ResourceTable.tsx
  packages/client-core/src/admin/components/routes/RouteTable.tsx
  packages/client-core/src/admin/components/server/ApiJobsTable.tsx
  packages/client-core/src/admin/components/server/MigrationsTable.tsx
  packages/client-core/src/admin/components/server/ServerTable.tsx
  packages/client-core/src/admin/components/user/UserTable.tsx
  packages/client/src/themes/utilities.css
  packages/ui/src/primitives/tailwind/Button/index.tsx
  packages/ui/src/primitives/tailwind/Table/index.tsx
  packages/ui/src/primitives/tailwind/TruncatedText/index.stories.tsx
  packages/ui/src/primitives/tailwind/TruncatedText/index.tsx
  tailwind.config.js
Owners: @hanzlamateen, @barankyle, @aditya-mitra, @SYBIOTE, @CITIZENDOT, @HexaField

Updated oauth error page design
  packages/client-core/i18n/en/user.json
  packages/client-core/src/user/components/Oauth/ErrorPage.tsx
Owners: @aditya-mitra
