Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

add .nojekyll file
  .github/workflows/update-storybook.yml
Owners: @DanielBelmes

tst: Missing import
  packages/spatial/src/renderer/materials/MaterialComponent.test.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

tst: Fix `assert*` utility function errors
  packages/spatial/src/input/components/InputComponent.test.tsx
  packages/spatial/src/input/components/InputSourceComponent.test.tsx
  packages/spatial/src/physics/classes/Physics.test.tsx
  packages/spatial/src/physics/components/RigidBodyComponent.test.tsx
  packages/spatial/src/renderer/components/GroupComponent.test.tsx
  packages/spatial/src/renderer/components/LineSegmentComponent.test.tsx
  packages/spatial/src/renderer/components/lights/HemisphereLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/PointLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/SpotLightComponent.test.ts
  packages/spatial/src/renderer/materials/MaterialComponent.test.ts
  packages/spatial/src/renderer/materials/constants/plugins/TransparencyDitheringComponent.test.tsx
  packages/spatial/src/renderer/materials/materialFunctions.test.ts
  packages/spatial/src/transform/SpawnPoseState.test.tsx
  packages/spatial/src/transform/TransformSerialization.test.ts
  packages/spatial/src/transform/components/BoundingBoxComponents.test.ts
  packages/spatial/src/transform/components/ComputedTransformComponent.test.ts
  packages/spatial/src/transform/components/DistanceComponents.test.ts
  packages/spatial/src/transform/components/EntityTree.test.tsx
  packages/spatial/src/transform/components/LookAtComponent.test.ts
  packages/spatial/src/transform/components/TransformComponent.test.tsx
  packages/spatial/src/transform/components/TweenComponent.test.ts
  packages/spatial/src/transform/systems/LookAtSystem.test.ts
  packages/spatial/src/transform/systems/TransformSystem.test.ts
  packages/spatial/src/transform/updateWorldOrigin.test.ts
  packages/spatial/tests/util/mathAssertions.ts
Owners: @heysokam, @SamMazerIR, @speigg, @AidanCaruso, @DanielBelmes, @MichaelEstes, @MbfloydIR

wip autogenerated material parameters
  packages/editor/src/panels/materials/index.tsx
  packages/editor/src/panels/properties/materialeditor.tsx
Owners: @dinomut1, @aditya-mitra

tst: Remove (unnecessary) warning leftover from PR #61
  packages/spatial/src/transform/components/EntityTree.test.tsx
Owners: @SamMazerIR

add visualize to test
  packages/editor/src/panels/viewport/tools/SelectionBoxTool.tsx
Owners: @dinomut1, @aditya-mitra

run format
  packages/editor/src/components/toolbar/Toolbar.tsx
  packages/editor/src/panels/assets/categories.tsx
  packages/editor/src/panels/assets/resources.tsx
  packages/editor/src/panels/files/contextmenu.tsx
  packages/editor/src/panels/hierarchy/contextmenu.tsx
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
  packages/editor/src/panels/hierarchy/hierarchytree.tsx
  packages/editor/src/panels/materials/layernode.tsx
  packages/editor/src/panels/scenes/SceneItem.tsx
  packages/ui/src/components/editor/input/Group/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

implementing suggestions
  packages/client-core/src/systems/AvatarUISystem.tsx
  packages/engine/src/camera/functions/cameraFunctions.ts
Owners: @aditya-mitra, @AidanCaruso, @MichaelEstes, @dinomut1

extract values
  packages/client-core/src/common/components/AvatarPreview/index.tsx
  packages/editor/src/panels/properties/materialeditor.tsx
  packages/spatial/src/renderer/materials/materialFunctions.ts
Owners: @aditya-mitra, @dinomut1, @AidanCaruso, @DanielBelmes, @MichaelEstes

no more comments
  packages/editor/src/panels/properties/materialeditor.tsx
Owners: @dinomut1, @aditya-mitra

corrected the logic for the hierarchy node double click
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
Owners: @dinomut1, @aditya-mitra

Only close Add/Edit project modal when same project updates
  packages/client-core/src/admin/components/project/ProjectTable.tsx
Owners: @hanzlamateen

tst: Sketch files for all `spatial/XR` module unit tests
  packages/spatial/src/xr/8thwall/XR8.test.ts
  packages/spatial/src/xr/8thwall/XR8Pipeline.test.ts
  packages/spatial/src/xr/8thwall/XR8WebXRProxy.test.ts
  packages/spatial/src/xr/VPSSystem.test.ts
  packages/spatial/src/xr/WebXRManager.test.ts
  packages/spatial/src/xr/XRAnchorComponents.test.ts
  packages/spatial/src/xr/XRAnchorSystem.test.tsx
  packages/spatial/src/xr/XRCameraSystem.test.ts
  packages/spatial/src/xr/XRCameraViewSystem.test.ts
  packages/spatial/src/xr/XRComponents.test.ts
  packages/spatial/src/xr/XRDepthOcclusion.test.tsx
  packages/spatial/src/xr/XRDetectedMeshComponent.test.ts
  packages/spatial/src/xr/XRDetectedMeshSystem.test.ts
  packages/spatial/src/xr/XRDetectedPlaneComponent.test.ts
  packages/spatial/src/xr/XRHapticsSystem.test.ts
  packages/spatial/src/xr/XRLightProbeSystem.test.ts
  packages/spatial/src/xr/XRPersistentAnchorSystem.test.ts
  packages/spatial/src/xr/XRScenePlacementComponent.test.ts
  packages/spatial/src/xr/XRScenePlacementShaderSystem.test.tsx
  packages/spatial/src/xr/XRSessionFunctions.test.ts
  packages/spatial/src/xr/XRState.test.ts
  packages/spatial/src/xr/XRSystem.test.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

change hook
  packages/engine/src/scene/components/ParticleSystemComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix conditional
  packages/engine/src/scene/components/ParticleSystemComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fmt: Standarize the names of some `XRComponents.ts` components
  packages/spatial/src/xr/XRComponents.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

tst: Temporarily disable the (wip) `VPSSystem` unit tests
  packages/spatial/src/xr/VPSSystem.test.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

Ir 5000 fix particle assets (#407)
  packages/engine/src/scene/components/ParticleSystemComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Fix zombie spinner entities (#406)
  packages/engine/src/scene/components/ModelComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Fixes for importing project files
  packages/server-core/src/seeder-config.ts
  packages/server-core/src/seeder.ts
  packages/server-core/src/services.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Skybox cubemap leak fix
  packages/engine/src/scene/components/SkyboxComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

trying to fix unit tests
  packages/client-core/src/social/components/XruiNameplateComponent.ts
  packages/client-core/src/systems/AvatarUISystem.tsx
  packages/engine/src/camera/functions/cameraFunctions.ts
  packages/engine/src/interaction/components/InteractableComponent.ts
  packages/engine/src/interaction/functions/interactableFunctions.ts
  packages/spatial/src/camera/functions/CameraFunctions.ts
  packages/spatial/tests/util/MockXRUI.ts
Owners: @aditya-mitra, @AidanCaruso, @MichaelEstes, @dinomut1, @SamMazerIR, @speigg, @DanielBelmes, @MbfloydIR

Fixes for importing project files (#415)
  packages/server-core/src/seeder-config.ts
  packages/server-core/src/seeder.ts
  packages/server-core/src/services.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Cleanup more of LayoutComponent
  packages/xrui/core/components/LayoutComponent.tsx
Owners: @speigg

Fix dependency loading
  packages/editor/src/functions/exportGLTF.ts
  packages/engine/src/gltf/GLTFComponent.tsx
Owners: @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1

removing old unused helper
  packages/engine/src/audio/components/PositionalAudioHelper.ts
Owners: @speigg

Set NODE_ENV to production when running dev-api-server
  packages/server/package.json
Owners: @hanzlamateen, @barankyle

Set NODE_ENV to production when running dev-api-server (#416)
  packages/server/package.json
Owners: @hanzlamateen, @barankyle

GLTFComponent in hierarchy panel wip
  packages/editor/src/panels/hierarchy/helpers.ts
  packages/editor/src/panels/hierarchy/hooks.tsx
  packages/engine/src/gltf/GLTFState.tsx
Owners: @dinomut1, @aditya-mitra, @AidanCaruso, @MichaelEstes

add option for font
  packages/ui/src/components/editor/properties/text/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

update bollean input for txt node editor
  packages/ui/src/components/editor/properties/light/spot/index.tsx
  packages/ui/src/components/editor/properties/text/index.tsx
  packages/ui/src/primitives/tailwind/Checkbox/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

force display precision on UI
  packages/ui/src/components/editor/input/Numeric/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

tsc errors
  packages/engine/src/scene/functions/bvhWorkerPool.ts
  packages/engine/src/scene/functions/generateBVHAsync.register.js
  packages/xrui/core/textures/KTX2Encoder.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

feat(dashboard): hide the iframe to avoid space in small devices
  packages/client/index.html
Owners: @barankyle, @aditya-mitra

fix memory leak, make animation binding idempotent
  packages/engine/src/avatar/components/AnimationComponent.ts
  packages/engine/src/avatar/components/LoopAnimationComponent.ts
  packages/engine/src/avatar/functions/retargetMixamoRig.ts
Owners: @AidanCaruso

IR-5036-Update-vite-plugin-compression-to-new-fork
  packages/client/package.json
  packages/client/vite.config.ts
Owners: @barankyle, @aditya-mitra

fix useEngineCanvas
  packages/client-core/src/hooks/useEngineCanvas.ts
Owners: @jose-galvan

include numbers in build-icons
  packages/ui/scripts/build-icons.ts
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

mui dialog should appear behind notistack
  packages/client-core/src/common/components/Menu/index.tsx
Owners: @aditya-mitra

use disablePortal
  packages/client-core/src/common/components/Menu/index.tsx
Owners: @aditya-mitra

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
