Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

add refetch on interval to p2p transport
  packages/client-core/src/transports/p2p/PeerToPeerNetworkState.tsx
Owners: @aditya-mitra

fix various type errors
  packages/editor/src/functions/uploadEnvMapBake.ts
  packages/editor/src/panels/hierarchy/helpers.ts
  packages/editor/src/panels/materials/index.tsx
  packages/editor/src/systems/HelperActiveSystem.ts
  packages/engine/src/assets/functions/resourceLoaderFunctions.test.tsx
  packages/engine/src/assets/loaders/gltf/GLTFParser.ts
  packages/engine/src/assets/state/ResourceLoadingManager.test.tsx
  packages/engine/src/mocap/MotionCaptureRigComponent.ts
  packages/engine/src/scene/components/EnvMapBakeComponent.ts
  packages/engine/src/scene/components/MountPointComponent.ts
  packages/engine/src/scene/components/SDFComponent.tsx
  packages/engine/src/scene/components/TextComponent.tsx
  packages/engine/src/scene/components/VideoComponent.tsx
  packages/engine/src/scene/systems/EnvironmentSystem.tsx
  packages/spatial/src/renderer/materials/constants/plugins/TransparencyDitheringComponent.tsx
  packages/spatial/src/xr/XRComponents.test.ts
Owners: @SYBIOTE, @dinomut1, @aditya-mitra, @MichaelEstes, @speigg, @AidanCaruso, @CITIZENDOT, @DanielBelmes, @MbfloydIR, @SamMazerIR

remove unused file
  packages/engine/src/avatar/functions/XRControllerFunctions.ts
Owners: @AidanCaruso

refactor useQuery to use bitecs observe API, utilize new testing utility in animation component test
  packages/ecs/src/QueryFunctions.test.tsx
  packages/ecs/src/QueryFunctions.tsx
  packages/engine/src/avatar/components/AnimationComponent.test.tsx
  packages/engine/src/grabbable/GrabbableState.tsx
  packages/engine/tests/runEngineTests.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @dinomut1

rename file
  packages/ecs/src/QueryFunctions.tsx
  packages/engine/src/avatar/components/AnimationComponent.test.tsx
  packages/engine/tests/startEngineReactor.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @dinomut1

Increase `z-index` of Modal background
  packages/ui/src/primitives/tailwind/ClickawayListener/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

tst: Re-enable onRemove tests after hookstate103 error fix
  packages/ecs/src/ECSLayers.test.tsx
  packages/ecs/src/UUIDComponent.test.tsx
Owners: @speigg

fix bug with useQuery
  packages/ecs/src/QueryFunctions.test.tsx
  packages/ecs/src/QueryFunctions.tsx
Owners: @speigg

simplify resolveObject types
  packages/hyperflux/src/functions/StateFunctions.ts
Owners: @speigg

tst: Rename `ECSLayers.test.tsx` to `Layers.test.tsx`
  packages/ecs/src/Layers.test.tsx
Owners: @speigg

tst: Fix incorrect access to `LayerComponent.layer` of new entities
  packages/ecs/src/EntityFunctions.test.tsx
Owners: @speigg

Use custom hookstate extension for propagation trigger
  packages/ecs/src/ComponentFunctions.ts
Owners: @speigg

tst: Remove dependency on `TransformComponent` for the layers test
  packages/ecs/src/Layers.test.tsx
Owners: @speigg

fix draco loader
  packages/engine/src/gltf/GLTFLoader.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

feat: sanitize files uploaded via drag & drop
  packages/editor/src/functions/assetFunctions.ts
  packages/editor/src/panels/files/helpers.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

update iframe settings
  packages/client-core/src/user/components/UserMenu/menus/EmbedFrame.tsx
Owners: @aditya-mitra

Update SelectionHighlightSystem.ts
  packages/editor/src/systems/SelectionHighlightSystem.ts
Owners: @dinomut1, @aditya-mitra

[IR-6563] Unit Tests for ECS Layers (#991)
  .vscode/launch.json
  packages/ecs/src/ComponentFunctions.test.tsx
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/EntityFunctions.test.tsx
  packages/ecs/src/Layers.test.tsx
  packages/ecs/src/UUIDComponent.test.tsx
  packages/ecs/src/UUIDComponent.ts
  packages/engine/src/scene/systems/ShadowSystem.test.tsx
  packages/engine/src/scene/systems/ShadowSystem.tsx
Owners: @HexaField, @speigg, @dinomut1, @CITIZENDOT, @AidanCaruso

most ecs tests passing, fix cross imports
  packages/ecs/index.ts
  packages/ecs/src/ComponentFunctions.test.tsx
  packages/ecs/src/Layers.test.tsx
  packages/ecs/src/SystemFunctions.test.ts
  packages/ecs/src/TransitionSystem.test.tsx
  packages/ecs/src/schemas/proxySoAStore.ts
  packages/ecs/tests/ecs.test.ts
  packages/network/src/NetworkObjectComponent.ts
  packages/spatial/src/common/proxies/createThreejsProxy.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

remove refs to old reactive query system, fix spatial tests
  packages/engine/src/gltf/GLTFState.test.tsx
  packages/spatial/src/input/components/InputPointerComponent.test.ts
  packages/spatial/src/resources/ResourceState.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @heysokam, @SamMazerIR, @speigg

refactor helper functions out of test files, move isClient check to spawn avatar
  packages/engine/src/assets/functions/resourceLoaderFunctions.ts
  packages/engine/src/avatar/components/AnimationComponent.test.tsx
  packages/engine/src/avatar/functions/retargetingFunctions.test.tsx
  packages/engine/src/avatar/functions/spawnAvatarReceptor.ts
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/tests/avatar/mockAnimatedAvatar.ts
Owners: @MichaelEstes, @dinomut1, @speigg, @AidanCaruso

fix import
  packages/engine/src/avatar/systems/AvatarIKSystem.test.tsx
Owners: @AidanCaruso

GLTFLoader tests
  packages/engine/src/gltf/GLTFLoader.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

Fix avatar ik system test
  packages/engine/src/avatar/systems/AvatarIKSystem.test.tsx
Owners: @AidanCaruso

fix retargeting functions test
  packages/engine/src/avatar/functions/retargetingFunctions.test.tsx
Owners: @AidanCaruso

fix collider visibility issue
  packages/engine/src/gltf/GLTFState.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

fix export multi-material meshes
  packages/engine/src/gltf/exportGLTFScene.ts
  packages/spatial/src/transform/functions/bvhWorkerPool.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @SamMazerIR

IR-6682: Update project-based permissions in console. Removed reviewer permission
  packages/client-core/src/admin/components/project/ManageUserPermissionModal.tsx
  packages/server-core/src/hooks/verify-project-permission.test.ts
  packages/server-core/src/media/file-browser/file-browser.test.ts
  packages/server-core/src/media/static-resource/static-resource.hooks.ts
  packages/server-core/src/projects/project-permission-type/migrations/20250128101500_remove-reviewer.ts
  packages/server-core/src/projects/project-permission-type/project-permission-type.seed.ts
  packages/server-core/src/projects/project-permission/migrations/20250128101000_migrate-reviewer.ts
  packages/server-core/src/setting/project-setting/project-setting.hooks.ts
Owners: @hanzlamateen, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

rewrite editor control functions, bug fix and new syntax for array partials in modifyProperty
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/schemas/JSONSchemaUtils.ts
  packages/ecs/src/schemas/JSONSchemas.ts
  packages/editor/src/functions/EditorControlFunctions.test.tsx
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/engine/src/scene/components/SplineComponent.ts
  packages/hyperflux/src/functions/StateFunctions.ts
  packages/spatial/src/schema/schemaFunctions.ts
  packages/ui/src/components/editor/properties/input/index.tsx
  packages/ui/src/components/editor/properties/interact/index.tsx
  packages/ui/src/components/editor/properties/spline/index.tsx
  packages/ui/src/components/editor/properties/trigger/index.tsx
  packages/ui/src/components/editor/properties/variant/index.tsx
  vitest.client.config.ts
Owners: @speigg, @SYBIOTE, @dinomut1, @CITIZENDOT, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR, @aditya-mitra, @HexaField

fix hyperflux test
  packages/hyperflux/tests/ReactorFunctions.test.tsx
Owners: @speigg

Add authentication configuration and migration for engine settings
  packages/client-core/src/admin/components/settings/tabs/authentication.tsx
  packages/common/src/constants/EngineSettings.ts
  packages/common/src/utils/dataTypeUtils.ts
  packages/common/src/utils/jsonHelperUtils.ts
  packages/server-core/src/appconfig.ts
  packages/server-core/src/setting/engine-setting/migrations/20250128043131_merge-authentication-setting.ts
  packages/server-core/src/updateAppConfig.ts
Owners: @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

Connect to IR Engine Backend (#55)
  .env.remote.default
  .gitignore
  package.json
  packages/client-core/src/API.ts
  packages/client-core/src/components/World/LoadLocationScene.native.tsx
  packages/client-core/src/networking/AvatarSpawnSystem.tsx
  packages/client-core/src/social/services/LocationService.ts
  packages/client-core/src/user/UserUISystem.native.tsx
  packages/client-core/src/user/services/AuthService.ts
  packages/client-core/src/world/ClientModule.ts
  packages/client/vite.config.ts
  packages/clientNative/App.tsx
  packages/clientNative/globals.js
  packages/clientNative/ios/Podfile.lock
  packages/clientNative/ios/ci_scripts/ci_pre_xcodebuild.sh
  packages/clientNative/package.json
  packages/clientNative/src/pages/AppPage.tsx
  packages/clientNative/src/pages/location/LocationPage.tsx
  packages/common/src/config.ts
  packages/engine/src/assets/classes/AssetLoader.ts
  packages/engine/src/assets/loaders/base/FileLoader.ts
  packages/server-core/src/appconfig.ts
Owners: @HexaField, @aditya-mitra, @speigg, @barankyle, @MichaelEstes, @dinomut1, @MoizAdnan, @hanzlamateen, @hurairahmateen

fix: added missing project name in request to update file thumbnail
  packages/editor/src/panels/files/modals/FilePropertiesModal.tsx
Owners: @dinomut1, @aditya-mitra

creating new updated input group ui
  packages/ui/src/components/editor/properties/video/index.tsx
  packages/ui/src/components/editorUpdates/input/Group/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Add theme toggle to Profile Pill (to be improved later)
  packages/client-core/src/common/components/ProfilePill/index.tsx
  packages/client-core/src/common/services/ThemeService.tsx
Owners: @aditya-mitra

fix gpu instanced mesh extension
  packages/engine/src/gltf/MeshExtensionComponents.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

creating new updated input group ui
  packages/ui/src/components/editorUpdates/input/Group/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

update to publish and connect compression
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/common/src/model/ModelTransformFunctions.ts
  packages/editor/src/functions/exportGLTF.ts
  packages/editor/src/systems/UploadRequestSystem.tsx
  packages/engine/src/assets/state/UploadRequestState.ts
Owners: @hanzlamateen, @HexaField, @SYBIOTE, @dinomut1, @aditya-mitra, @MichaelEstes, @speigg

add remove object
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

disable and move unused variant function
  packages/engine/src/scene/components/VariantComponent.tsx
  packages/ui/src/components/editor/properties/variant/index.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @aditya-mitra, @SYBIOTE

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
