Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

tst: Fix typo
  packages/spatial/src/physics/integration.test.ts
Owners: @heysokam

tst: Fix for `simulationTime` turning lerp `alpha` into `0`
  packages/spatial/src/physics/integration.test.ts
Owners: @heysokam

Filtered values on admin page
  packages/client-core/src/admin/components/settings/tabs/taskServer.tsx
Owners: @hanzlamateen

Spelling
  packages/ecs/src/schemas/JSONSchemas.ts
Owners: @speigg

Fixed verification of GH JWT in update-project.ts
  scripts/update-project.ts
Owners: @barankyle, @hanzlamateen, @DanielBelmes

wip - hierarchy reorder fix
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/ui/src/components/editor/panels/Hierarchy/node/index.tsx
Owners: @SYBIOTE, @aditya-mitra, @CITIZENDOT

adding in some smoothing functions, utilizing them in followCamera
  packages/spatial/src/camera/components/FollowCameraComponent.ts
  packages/spatial/src/common/functions/MathLerpFunctions.ts
Owners: @DanielBelmes, @SamMazerIR, @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR

IR-4369-audio-continues-playing
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Fixed verification of GH JWT in update-project.ts (#236)
  scripts/update-project.ts
Owners: @barankyle, @hanzlamateen, @DanielBelmes

remove dynamic allocation in hookstate dynamically generating new objects and setting them in hookstate does not set it in hookstate, we need a persistant object to set the hookstate properly
  packages/ui/src/components/editor/input/Euler/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

formatiing
  packages/editor/src/systems/RenderMonitorSystem.tsx
Owners: @dinomut1, @aditya-mitra

Revert for performance
  packages/ecs/src/ComponentFunctions.ts
  packages/spatial/src/transform/components/TransformComponent.ts
Owners: @speigg, @SamMazerIR

remove dynamic allocation in hookstate (#237)
  packages/ui/src/components/editor/input/Euler/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Update package.json
  package.json
Owners: @HexaField

tst: Physics Integration Tests (phase 0)
  packages/spatial/src/physics/integration.test.ts
Owners: @heysokam

reducing new calls, also eliminating pop from instantly applying followDistance
  packages/spatial/src/camera/components/FollowCameraComponent.ts
Owners: @DanielBelmes, @SamMazerIR, @speigg

Stricter check of e.data in processMessage
  packages/client/public/root-cookie-accessor-template.html
Owners: @barankyle, @aditya-mitra

small optimization
  packages/client-core/src/transports/p2p/PeerToPeerNetworkState.tsx
  packages/server-core/src/networking/instance-signaling/instance-signaling.ts
Owners: @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

removing clone calls and simplifying
  packages/spatial/src/camera/components/FollowCameraComponent.ts
Owners: @DanielBelmes, @SamMazerIR, @speigg

Stricter check of e.data in processMessage (#238)
  packages/client/public/root-cookie-accessor-template.html
Owners: @barankyle, @aditya-mitra

wip animation hook
  packages/engine/src/avatar/components/AnimationComponent.ts
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/gltf/GLTFState.tsx
  packages/engine/src/scene/components/EnvmapComponent.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @speigg, @CITIZENDOT

Listen for document event to toggle fullscreen button
  packages/client-core/src/components/Fullscreen/index.tsx
Owners: @aditya-mitra

add license
  packages/client-core/src/transports/mediasoup/MediasoupMediaTracksSystem.tsx
  packages/client-core/src/transports/mediasoup/MediasoupModule.ts
  packages/network/src/NetworkPeerState.tsx
Owners: @aditya-mitra, @speigg

implement working raw webrtc transport, drive peerIndex from attendance table, support hostless networking
  packages/client-core/src/transports/mediasoup/MediasoupClientFunctions.ts
  packages/client-core/src/transports/p2p/PeerToPeerNetworkState.tsx
  packages/common/src/recording/ECSRecordingSystem.ts
  packages/common/src/schemas/networking/instance-attendance.schema.ts
  packages/common/src/transports/mediasoup/MediasoupTransportState.tsx
  packages/hyperflux/src/functions/ActionFunctions.ts
  packages/instanceserver/src/NetworkFunctions.ts
  packages/instanceserver/src/SocketFunctions.ts
  packages/instanceserver/src/channels.ts
  packages/network/src/Network.ts
  packages/network/src/NetworkPeerState.tsx
  packages/network/src/NetworkState.ts
  packages/network/src/functions/NetworkActionFunctions.ts
  packages/network/src/functions/NetworkPeerFunctions.ts
  packages/network/src/systems/OutgoingActionSystem.ts
  packages/network/src/webrtc/WebRTCTransportFunctions.ts
  packages/server-core/src/networking/instance-attendance/instance-attendance.resolvers.ts
  packages/server-core/src/networking/instance-attendance/migrations/20240912234815_instance-attendance-peerid.ts
  packages/server-core/src/networking/instance-signaling/instance-signaling.ts
Owners: @aditya-mitra, @HexaField, @speigg, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

fix data channels
  packages/client-core/src/common/services/LocationInstanceConnectionService.ts
  packages/client-core/src/transports/mediasoup/MediasoupDataChannelSystem.tsx
  packages/client-core/src/transports/mediasoup/MediasoupTransportSystem.tsx
  packages/client-core/src/transports/p2p/PeerToPeerNetworkState.tsx
  packages/network/src/webrtc/WebRTCTransportFunctions.ts
Owners: @aditya-mitra, @speigg

move channel creation to instance after hook, media network provisions
  packages/client-core/src/common/services/LocationInstanceConnectionService.ts
  packages/client-core/src/common/services/MediaInstanceConnectionService.ts
  packages/client-core/src/networking/NetworkInstanceProvisioning.tsx
  packages/client-core/src/transports/mediasoup/MediasoupTransportSystem.tsx
  packages/instanceserver/src/channels.ts
  packages/server-core/src/networking/instance/instance.hooks.ts
Owners: @aditya-mitra, @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

Listen for document event to toggle fullscreen button (#239)
  packages/client-core/src/components/Fullscreen/index.tsx
  packages/client-core/src/transports/mediasoup/MediasoupMediaTracksSystem.tsx
  packages/client-core/src/transports/mediasoup/MediasoupModule.ts
  packages/network/src/NetworkPeerState.tsx
Owners: @aditya-mitra, @speigg

added the refactored materials panel
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/panels/materials/helpers.tsx
  packages/editor/src/panels/materials/index.tsx
  packages/editor/src/panels/materials/layernode.tsx
  packages/editor/src/panels/materials/materialpreviewer.tsx
Owners: @dinomut1, @aditya-mitra

Refactor ShareMenu component to add event tracking for share button click
  packages/client-core/src/user/components/UserMenu/menus/ShareMenu.tsx
Owners: @aditya-mitra

Refactor import path for clientContextParams in InstanceChat component
  packages/client-core/src/components/InstanceChat/index.tsx
Owners: @aditya-mitra

IR-3457: Changes to introduce a unified engine settings table (#107)
  packages/client-core/src/admin/components/settings/tabs/taskServer.tsx
  packages/client-core/src/social/services/LocationService.ts
  packages/common/src/constants/EngineSettings.ts
  packages/common/src/schema.type.module.ts
  packages/common/src/schemas/setting/engine-setting.schema.ts
  packages/common/src/schemas/setting/task-server-setting.schema.ts
  packages/server-core/src/setting/engine-setting/engine-setting.class.ts
  packages/server-core/src/setting/engine-setting/engine-setting.docs.ts
  packages/server-core/src/setting/engine-setting/engine-setting.hooks.ts
  packages/server-core/src/setting/engine-setting/engine-setting.resolvers.ts
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
  packages/server-core/src/setting/engine-setting/engine-setting.test.ts
  packages/server-core/src/setting/engine-setting/engine-setting.ts
  packages/server-core/src/setting/engine-setting/migrations/20240828120000_engine-setting.ts
  packages/server-core/src/setting/engine-setting/migrations/20240913120000_merge-task-server-setting.ts
  packages/server-core/src/setting/seeder-config.ts
  packages/server-core/src/setting/service.ts
  packages/server-core/src/test-utils/setting-test-utils.ts
  packages/server-core/src/updateAppConfig.ts
Owners: @hanzlamateen, @aditya-mitra, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen

Refactor import path for clientContextParams in SettingMenu2 component
  packages/client-core/src/user/components/UserMenu/menus/SettingMenu2.tsx
Owners: @aditya-mitra

Int to dev (#232)
  .github/workflows/branch-build.yml
  .github/workflows/codeql.yml
  Dockerfile
  dockerfiles/api/Dockerfile-api-client
  dockerfiles/client/Dockerfile-client-serve-static
  packages/client-core/src/admin/components/avatar/AvatarTable.tsx
  packages/client-core/src/admin/components/channel/ChannelTable.tsx
  packages/client-core/src/admin/components/instance/InstanceTable.tsx
  packages/client-core/src/admin/components/invites/InviteTable.tsx
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/client-core/src/admin/components/locations/LocationTable.tsx
  packages/client-core/src/admin/components/recordings/RecordingsTable.tsx
  packages/client-core/src/user/components/UserMenu/menus/ProfileMenu.tsx
  packages/client/public/root-cookie-accessor.html
  packages/common/index.ts
  packages/editor/src/components/dialogs/PrefabConfirmationPanelDialog.tsx
  packages/editor/src/panels/files/fileicon.tsx
  packages/engine/src/avatar/components/AvatarControllerComponent.ts
  packages/engine/src/avatar/systems/AvatarInputSystem.ts
  packages/engine/src/interaction/components/InteractableComponent.ts
  packages/engine/src/scene/classes/Sky.ts
  packages/engine/src/scene/components/CameraSettingsComponent.ts
  packages/engine/src/scene/components/EnvmapComponent.tsx
  packages/engine/src/scene/components/MediaComponent.ts
  packages/server-core/src/seeder.ts
  packages/server-core/src/user/user/user.resolvers.ts
  packages/spatial/src/physics/classes/Physics.test.tsx
  packages/spatial/src/physics/classes/Physics.ts
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.ts
  packages/spatial/src/transform/components/TransformComponent.ts
  packages/spatial/src/transform/systems/TransformSystem.ts
  packages/ui/src/components/editor/properties/cameraProperties/index.tsx
  scripts/build_and_publish_package.sh
  scripts/build_docker_desktop.sh
  scripts/build_microk8s.sh
  scripts/build_minikube.sh
Owners: @DanielBelmes, @HexaField, @barankyle, @hanzlamateen, @aditya-mitra, @dinomut1, @AidanCaruso, @SamMazerIR, @speigg, @CITIZENDOT, @MoizAdnan, @hurairahmateen, @heysokam, @SYBIOTE

minor changes
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
  packages/editor/src/panels/hierarchy/hierarchytree.tsx
  packages/editor/src/panels/hierarchy/hooks.tsx
Owners: @dinomut1, @aditya-mitra

update browser not detect style
  packages/client-core/i18n/en/editor.json
  packages/client/public/root-cookie-accessor.html
  packages/editor/src/pages/EditorPage.tsx
Owners: @aditya-mitra, @barankyle, @dinomut1

tst: Small improvements : Physics Integration Tests
  packages/spatial/src/physics/integration.test.ts
Owners: @heysokam

fmt: Re-rename module-scoped values to `_NAME` after merge conflict
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.ts
Owners: @heysokam

test for chromium regex
  packages/editor/src/functions/browserCheck.ts
  packages/editor/src/pages/EditorPage.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

revert random change
  packages/client/public/root-cookie-accessor.html
Owners: @barankyle, @aditya-mitra

same^
  packages/client/public/root-cookie-accessor.html
Owners: @barankyle, @aditya-mitra

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
