Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

fix broken feature flag
  packages/editor/src/components/EditorContainer.tsx
Owners: @dinomut1, @aditya-mitra

remove logs
  packages/editor/src/components/EditorContainer.tsx
Owners: @dinomut1, @aditya-mitra

make script tabs to auto controlled
  packages/editor/src/panels/script/index.tsx
Owners: @dinomut1, @aditya-mitra

format scripts
  packages/projects/default-project/assets/scripts/dayNightScript.js
  packages/projects/default-project/assets/scripts/defaultObjectRotateScript.js
  packages/projects/default-project/assets/scripts/proceduralGenerationScript.js
  packages/projects/default-project/assets/scripts/rainScript.js
Owners: @HexaField

WIP - moving between dev environments
  packages/hyperflux/src/functions/ReactorFunctions.tsx
  packages/spatial/src/transform/components/EntityTree.tsx
  packages/xrui/core/components/LayoutComponent.tsx
Owners: @speigg, @SamMazerIR

transitions exist, proper triggers are firing to change state, update is being called, just need to find the bit i'm missing that causes it to completely skip transitioning
  packages/client-core/src/social/components/XruiNameplateComponent.ts
Owners: @aditya-mitra

Expanded cases where useGet auto-returns an error (#381)
  packages/common/src/utils/FeathersHooks.tsx
Owners: @HexaField

GTLF export WIP
  packages/editor/src/functions/exportGLTF.ts
  packages/engine/src/assets/exporters/gltf/extensions/SourceHandlerExtension.ts
  packages/engine/src/assets/functions/createGLTFExporter.ts
  packages/engine/src/assets/functions/exportModelGLTF.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/scene/components/VariantComponent.tsx
  packages/engine/src/scene/systems/VariantSystem.tsx
Owners: @SYBIOTE, @MichaelEstes, @dinomut1, @speigg, @AidanCaruso, @CITIZENDOT

update new test
  packages/common/src/utils/cleanFileName.test.ts
Owners: @HexaField

update resources json
  packages/projects/default-project/resources.json
Owners: @HexaField

Add `.bin` to supported file types
  packages/editor/src/functions/assetFunctions.ts
Owners: @SYBIOTE

Add autoComplete prop to Input component
  packages/ui/src/primitives/tailwind/Input/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Add `.bin` to supported file types (#401)
  packages/editor/src/functions/assetFunctions.ts
Owners: @SYBIOTE

revert extra changes
  packages/client-core/src/admin/components/settings/tabs/authentication.tsx
  packages/client-core/src/admin/components/settings/tabs/aws.tsx
  packages/client-core/src/admin/components/settings/tabs/email.tsx
  packages/client-core/src/admin/components/settings/tabs/instanceServer.tsx
  packages/client-core/src/admin/components/settings/tabs/project.tsx
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
  packages/common/src/utils/FeathersHooks.test.ts
  packages/editor/src/components/assets/ModelCompressionPanel.tsx
  packages/engine/src/scene/components/ParticleSystemComponent.ts
  packages/engine/src/scene/functions/migrateSceneSettings.ts
  packages/instanceserver/src/WebRTCFunctions.ts
  packages/server-core/src/hooks/persist-data.ts
  packages/server-core/src/hooks/persist-query.ts
  packages/server-core/src/projects/project/project.hooks.ts
Owners: @hanzlamateen, @aditya-mitra, @HexaField, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @barankyle, @MoizAdnan, @hurairahmateen

revert serializeComponent change as it structuredClone does its job differently
  packages/ecs/src/ComponentFunctions.ts
Owners: @speigg

update icon
  packages/editor/src/panels/viewport/tools/GizmoTool.tsx
Owners: @dinomut1, @aditya-mitra

pretty happy now with scaling and positioning of transitions on nameplates
  packages/client-core/src/social/components/XruiNameplateComponent.ts
Owners: @aditya-mitra

Updated error message thrown by missing OAuth state
  packages/client-core/src/user/components/Oauth/ErrorPage.tsx
  packages/server-core/src/user/strategies/custom-oauth.ts
Owners: @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

fix incorrect label in hookstate merge test (#362)
  packages/hyperflux/tests/hookstate.test.tsx
Owners: @speigg

get material library ui working again
  packages/editor/src/panels/materials/index.tsx
  packages/editor/src/panels/materials/layernode.tsx
  packages/editor/src/panels/properties/materialeditor.tsx
  packages/engine/src/gltf/MaterialDefinitionComponent.tsx
Owners: @dinomut1, @aditya-mitra, @AidanCaruso, @MichaelEstes

Changing node helpers to be visible by default.
  packages/spatial/src/renderer/RendererState.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

more parameters for ui popup, rounded pill look for nameplates per design
  packages/client-core/src/social/components/XruiNameplateComponent.ts
  packages/engine/src/interaction/functions/createUI.ts
  packages/engine/src/interaction/ui/InteractiveModalView.tsx
Owners: @aditya-mitra, @SamMazerIR, @speigg

Updating helm chart version state when data loads
  packages/client-core/src/admin/components/settings/tabs/helm.tsx
Owners: @hanzlamateen

fix needsMatrixCompose handling for ComputedTransformComponent
  packages/spatial/src/transform/components/ComputedTransformComponent.ts
  packages/spatial/src/transform/systems/TransformSystem.ts
Owners: @SamMazerIR

remove all descendants of loading spinner entity
  packages/engine/src/scene/components/ModelComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fixing dependency issue, zfighting issue and moving component add logic
  packages/client-core/src/systems/AvatarUISystem.tsx
  packages/engine/src/avatar/functions/spawnAvatarReceptor.ts
  packages/engine/src/interaction/ui/InteractiveModalView.tsx
Owners: @aditya-mitra, @AidanCaruso, @SamMazerIR, @speigg

fix error when particle system is descendant of model component
  packages/engine/src/scene/components/ParticleSystemComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix offset when placing particle asset off origin
  packages/engine/src/scene/components/ParticleSystemComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Location Loading Cover UI (#356)
  packages/client-core/src/components/LoadWebappInjection.tsx
  packages/client-core/src/systems/LoadingUISystem.tsx
  packages/client/src/pages/AppPage.tsx
Owners: @aditya-mitra, @barankyle

Updated error message thrown by missing OAuth state (#399)
  packages/client-core/src/user/components/Oauth/ErrorPage.tsx
  packages/server-core/src/user/strategies/custom-oauth.ts
Owners: @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

update resources json (#400)
  packages/projects/default-project/resources.json
Owners: @HexaField

Fix undo/redo using invalid source
  packages/editor/src/systems/EditorControlSystem.ts
Owners: @dinomut1, @aditya-mitra

Fix undo/redo using invalid source (#408)
  packages/editor/src/systems/EditorControlSystem.ts
Owners: @dinomut1, @aditya-mitra

export prefabs with GLTF components wip
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
  packages/editor/src/functions/exportGLTF.ts
  packages/engine/src/assets/functions/exportGLTFScene.ts
  packages/engine/src/assets/functions/exportModelGLTF.ts
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @MichaelEstes, @speigg

Updating helm chart version state when data loads (#405)
  packages/client-core/src/admin/components/settings/tabs/helm.tsx
Owners: @hanzlamateen

update procedural generation script to produce terrain mesh
  packages/projects/default-project/assets/scripts/proceduralGenerationScript.js
Owners: @HexaField

Add a hook in the identity provider at the find endpoint and update the server to validate the user’s email before login.
  packages/client-core/src/user/services/AuthService.ts
  packages/server-core/src/user/identity-provider/identity-provider.hooks.ts
Owners: @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

fix test
  packages/instanceserver/tests/InstanceLoad.test.ts
Owners: @HexaField

enabled p2p by default and fix instance test
  .env.local.default
  packages/server-core/src/networking/instance/instance.test.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

add github action to deploy storybook
  .github/workflows/update-storybook.yml
  packages/ui/postcss.config.js
Owners: @DanielBelmes, @aditya-mitra, @SYBIOTE, @CITIZENDOT

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
