Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

adding encode decode file name functionality
  packages/common/src/utils/cleanFileName.test.ts
  packages/common/src/utils/cleanFileName.ts
  packages/editor/src/panels/assets/categories.tsx
  packages/editor/src/panels/files/fileitem.tsx
  packages/editor/src/panels/files/modals/DeleteFileModal.tsx
  packages/editor/src/panels/files/modals/RenameFileModal.tsx
  packages/editor/src/panels/files/toolbar.tsx
Owners: @HexaField, @dinomut1, @aditya-mitra

remove extra needsUpdate
  packages/engine/src/assets/loaders/texture/TextureLoader.ts
Owners: @MichaelEstes, @dinomut1, @speigg

added condition to return sooner if physicWorld in undefined
  packages/spatial/src/physics/components/ColliderComponent.tsx
Owners: @heysokam

ensure onLoad isn't called until it's completed
  packages/engine/src/assets/loaders/texture/TextureLoader.ts
Owners: @MichaelEstes, @dinomut1, @speigg

fix tests
  packages/common/src/utils/cleanFileName.test.ts
  packages/common/src/utils/cleanFileName.ts
Owners: @HexaField

fix tests
  packages/editor/src/functions/assetFunctions.ts
Owners: @SYBIOTE

fix test
  packages/common/src/utils/cleanFileName.ts
Owners: @HexaField

IR-7215: Reflected XSS in redirect parameter
  packages/client/src/store.tsx
Owners: @barankyle, @aditya-mitra

Fixed checks
  packages/editor/src/services/EditorHistoryState.test.tsx
  packages/editor/src/services/EditorHistoryState.tsx
Owners: @dinomut1, @aditya-mitra

Update deploy and build_publish for prd/stg
  scripts/build_and_publish_package.sh
  scripts/deploy.sh
Owners: @barankyle, @hanzlamateen, @DanielBelmes

treat material components as potentially undefined
  packages/engine/src/scene/systems/EnvironmentSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

update fix
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/client-core/src/admin/components/locations/PublishSceneState.tsx
  packages/common/src/model/ModelTransformFunctions.ts
Owners: @hanzlamateen, @HexaField

add export for test
  packages/common/src/model/ModelTransformFunctions.ts
Owners: @HexaField

fix envmap bakes using the wrong entity for node id lookup
  packages/engine/src/scene/systems/EnvironmentSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

updated the pivot entity for multiple selected entities
  packages/editor/src/classes/gizmo/transform/TransformGizmoControlComponent.ts
Owners: @SYBIOTE

feat: update default scene thumbnail
  packages/client-core/src/world/SceneAPI.ts
  packages/editor/src/panels/scenes/SceneItem.tsx
  packages/server-core/src/media/static-resource/migrations/20250227180446_remove_default_thumbnail_from_scenes.ts
Owners: @aditya-mitra, @dinomut1, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

show folder icon for Upload Folder and plus icon for Upload Files
  packages/editor/src/panels/files/toolbar.tsx
Owners: @dinomut1, @aditya-mitra

add subfolder for each scene publish
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/common/src/model/ModelTransformFunctions.ts
  packages/editor/src/systems/UploadRequestSystem.tsx
Owners: @hanzlamateen, @HexaField, @dinomut1, @aditya-mitra

update regex and test
  packages/common/src/model/ModelTransformFunctions.test.ts
  packages/common/src/model/ModelTransformFunctions.ts
Owners: @HexaField

fix for state
  packages/common/src/model/ModelTransformFunctions.ts
Owners: @HexaField

update-reqex
  packages/common/src/regex/index.ts
Owners: @HexaField

fix test error
  packages/common/src/model/ModelTransformFunctions.test.ts
  packages/common/src/model/ModelTransformFunctions.ts
Owners: @HexaField

handle storage provider URLs in delta addresses move scene deltas into engine module
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/gltf/SceneDeltaExporterExtension.ts
  packages/engine/src/scene/systems/SceneDeltaState.tsx
Owners: @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1, @speigg, @CITIZENDOT

fixup for mt-rc suffix
  scripts/build_and_publish_package.sh
Owners: @barankyle, @hanzlamateen, @DanielBelmes

handle missing parent
  packages/engine/src/scene/systems/SceneNetworkSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fixup for mt-rc suffix
  scripts/build_and_publish_package.sh
Owners: @barankyle, @hanzlamateen, @DanielBelmes

test regex
  packages/common/src/model/ModelTransformFunctions.ts
Owners: @HexaField

videos correctly react to deltas adding a url
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

pass onclose to overlay components
  packages/client-core/src/user/UserUISystem.tsx
Owners: @aditya-mitra

updated the reparenting method so the entity being reparented will maintain their world position, rotation, and scale
  packages/editor/src/functions/EditorControlFunctions.ts
Owners: @SYBIOTE

Only display material editor if a material exists
  packages/ui/src/components/editor/properties/mesh/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add support for transforms add rudimentary tests
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/systems/SceneDeltaState.test.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

Created references for the grid visibility and height in the Editor Helper State. This allows us to keep turn off the grid on play mode and publish mode but have it work as expected for Editor mode
  packages/editor/src/panels/viewport/tools/GridTool.tsx
  packages/editor/src/services/EditorHelperState.ts
  packages/spatial/src/renderer/RendererState.ts
Owners: @dinomut1, @aditya-mitra, @AidanCaruso, @DanielBelmes, @MichaelEstes

licensing
  packages/editor/src/systems/SceneDeltaState.test.tsx
Owners: @dinomut1, @aditya-mitra

removing worldScaleObject from api exposure
  packages/editor/src/functions/EditorControlFunctions.ts
Owners: @SYBIOTE

add regex for model compression
  packages/common/src/model/ModelTransformFunctions.ts
Owners: @HexaField

Multiple material editors when material is an array
  packages/editor/src/panels/properties/materialeditor.tsx
  packages/ui/src/components/editor/properties/mesh/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

Duplicate rigidbody message as warning instead of error
  packages/client-core/i18n/en/editor.json
  packages/ui/src/components/editor/properties/rigidBody/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fixed ref issue
  packages/editor/src/functions/EditorControlFunctions.ts
Owners: @SYBIOTE

elif updates
  scripts/run-builder.sh
Owners: @barankyle, @hanzlamateen, @DanielBelmes

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
