Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

Update materials tab
  packages/client/src/store.tsx
  packages/editor/src/panels/materials/index.tsx
  packages/editor/src/panels/materials/layernode.tsx
  packages/ui/src/primitives/tailwind/Input/index.tsx
Owners: @barankyle, @aditya-mitra, @dinomut1, @SYBIOTE, @CITIZENDOT

fix lint
  packages/client-core/src/user/menus/avatar/EmbedFrame.tsx
Owners: @aditya-mitra

wip- stubbed in media controls
  packages/engine/src/scene/components/MediaComponent.ts
  packages/ui/src/components/editor/properties/video/index.tsx
  packages/ui/src/components/editorUpdates/input/Array/index.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @aditya-mitra, @SYBIOTE

delete undefined properties in propagation, fix directional light
  packages/ecs/src/ComponentFunctions.ts
  packages/spatial/src/renderer/components/lights/DirectionalLightComponent.ts
Owners: @speigg, @AidanCaruso, @DanielBelmes, @MichaelEstes

clean up log
  packages/ecs/src/ComponentFunctions.ts
Owners: @speigg

fix empty prefab not adding transform component
  packages/editor/src/panels/properties/elementlist.tsx
Owners: @dinomut1, @aditya-mitra

format
  packages/spatial/src/renderer/components/lights/DirectionalLightComponent.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

edd env var for disabling requiring age verification for media
  .env.local.default
  packages/client-core/src/user/InstanceChat.tsx
  packages/server-core/src/appconfig.ts
  packages/server-core/src/user/user/user.resolvers.ts
Owners: @HexaField, @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

revert nested property mutation syntax to simple period separated string and fix updateProperties not supporting it properly
  packages/editor/src/components/properties/Util.ts
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/hyperflux/src/functions/StateFunctions.ts
  packages/ui/src/components/editor/properties/input/index.tsx
  packages/ui/src/components/editor/properties/interact/index.tsx
  packages/ui/src/components/editor/properties/spline/index.tsx
  packages/ui/src/components/editor/properties/trigger/index.tsx
  packages/ui/src/components/editor/properties/variant/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @speigg, @CITIZENDOT

fix test
  packages/editor/src/functions/EditorControlFunctions.test.tsx
Owners: @SYBIOTE

wip - updated the video player scrub controls
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add popupcomponennt state
  packages/client-core/src/user/UserUISystem.tsx
  packages/engine/src/scene/components/IFrameComponent.ts
Owners: @aditya-mitra, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

refactor iframecomponent to iframecomponent
  packages/client-core/i18n/en/editor.json
  packages/client-core/src/user/UserUISystem.tsx
  packages/editor/src/services/ComponentEditors.tsx
  packages/editor/src/services/ComponentShelfCategoriesState.ts
  packages/engine/src/scene/components/PopoverComponent.ts
  packages/ui/src/components/editor/properties/popover/index.tsx
Owners: @aditya-mitra, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @SYBIOTE

fix transform mutations not reactive updating UI
  packages/editor/src/functions/EditorControlFunctions.ts
Owners: @SYBIOTE

save component to popovercomponent state
  packages/client-core/src/user/UserUISystem.tsx
  packages/engine/src/scene/components/PopoverComponent.ts
Owners: @aditya-mitra, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

optimize scene object system visiblity iteration and createThreeProxy
  packages/engine/src/scene/systems/SceneObjectSystem.tsx
  packages/spatial/src/common/proxies/createThreejsProxy.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

add dropdown for popover type
  packages/ui/src/components/editor/properties/popover/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add slight animation to popover
  packages/client-core/src/user/UserUISystem.tsx
  packages/client-core/src/user/menus/avatar/EmbedFrame.tsx
  tailwind.config.js
Owners: @aditya-mitra, @HexaField

avatar switching fixes
  packages/client-core/src/hooks/useRender3DPanelSystem.tsx
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/spatial/src/resources/ResourceState.tsx
Owners: @jose-galvan, @AidanCaruso, @MichaelEstes, @dinomut1

cleanup editor button input handling
  packages/ecs/src/QueryFunctions.tsx
  packages/editor/src/systems/EditorControlSystem.ts
  packages/spatial/src/camera/systems/CameraOrbitSystem.tsx
  packages/spatial/src/camera/systems/FollowCameraInputSystem.ts
  packages/spatial/src/input/components/InputComponent.test.tsx
  packages/spatial/src/input/components/InputComponent.ts
  packages/spatial/src/input/components/InputSourceComponent.test.tsx
  packages/spatial/src/input/components/InputSourceComponent.tsx
  packages/spatial/src/input/functions/ClientInputFunctions.ts
  packages/spatial/src/input/functions/ClientInputHooks.tsx
Owners: @speigg, @dinomut1, @aditya-mitra, @DanielBelmes, @SamMazerIR, @heysokam

Revert https://github.com/ir-engine/ir-engine/pull/940
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Improve input primitives
  packages/ui/src/components/editor/input/Group/index.tsx
  packages/ui/src/components/editor/input/Vector3/index.tsx
  packages/ui/src/components/editor/properties/transform/index.tsx
  packages/ui/src/primitives/tailwind/Checkbox/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Update viewer designs to fit mobile UI
  packages/client-core/src/components/TopButtons/index.tsx
  packages/client-core/src/user/menus/EmoteMenu.tsx
  packages/client-core/src/user/menus/ProfileMenu.tsx
  packages/client-core/src/user/menus/ShareMenu.tsx
  packages/client-core/src/user/menus/social/FriendsMenu.tsx
  packages/ui/src/primitives/tailwind/Tabs/index.tsx
  packages/ui/src/primitives/tailwind/Tooltip/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Update settings menu
  packages/client-core/src/user/menus/SettingsMenu.tsx
Owners: @aditya-mitra

remove junk
  packages/client-core/src/user/menus/SettingsMenu.tsx
Owners: @aditya-mitra

fix errors
  packages/ui/src/components/editor/properties/envmap/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix errors
  packages/ui/src/components/editor/properties/image/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix errors
  packages/editor/src/components/assets/ImageCompressionPanel.tsx
Owners: @dinomut1, @aditya-mitra

Fix avatar clipping (#58)
  packages/clientNative/wasm/_generated/@host/imports/wbg-imports.cpp
  packages/clientNative/wasm/_generated/@host/imports/wbg-imports.h
  packages/clientNative/wasm/_generated/@host/meshopt_decoder/jsi-exports-bridge.cpp
  packages/clientNative/wasm/_generated/@host/rapier_wasm3d_bg/jsi-exports-bridge.cpp
  packages/clientNative/wasm/_generated/@host/rapier_wasm3d_bg/rapier_wasm3d_bg.exports.json
  packages/clientNative/wasm/_generated/@host/wasm-rt/wasm-rt-mem-impl.c
  packages/clientNative/wasm/_generated/polygen-output.json
  packages/ecs/src/ECSState.ts
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
  packages/spatial/src/physics/classes/Physics.ts
  packages/spatial/src/physics/systems/PhysicsSystem.tsx
  patches/@callstack+polygen+0.1.0.patch
  patches/@dimforge+rapier3d-compat+0.11.2.patch
Owners: @HexaField, @speigg, @AidanCaruso, @heysokam

fix IR-6815: fixed user can save location with spaces in name
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

global material view populates now
  packages/editor/src/panels/materials/index.tsx
  packages/editor/src/panels/properties/materialeditor.tsx
Owners: @dinomut1, @aditya-mitra

Update slider to always expand to parent
  packages/ui/src/components/editor/Slider/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

implemented the preview image for the video playing
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

We have a "gizmoEnabled" property on EditorHelperState, which irpro-wizard toggles when it is running. TransformGizmoSystem's reactor now returns early when gizmoEnabled is false.
  packages/editor/src/systems/TransformGizmoSystem.ts
Owners: @dinomut1, @aditya-mitra

added media preview "syncing"
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix(avatar): remove the async method
  packages/client-core/src/user/menus/avatar/AvatarSelectMenu.tsx
Owners: @aditya-mitra

fix(avatar): use the actual method to change the avatar
  packages/client-core/src/user/menus/avatar/AvatarSelectMenu.tsx
Owners: @aditya-mitra

fix editor tests by enabled cache in just those tests
  packages/editor/src/functions/EditorControlFunctions.test.tsx
Owners: @SYBIOTE

address pr comment
  packages/engine/src/scene/components/PopoverComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix engine tests by enabled cache in just those tests
  packages/client-core/src/networking/AvatarSpawnSystem.test.tsx
  packages/engine/src/gltf/GLTFState.test.tsx
  packages/engine/tests/util/loadEmptyScene.ts
Owners: @aditya-mitra, @AidanCaruso, @MichaelEstes, @dinomut1
