Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

max user exceeded error
  packages/client-core/i18n/en/admin.json
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @aditya-mitra, @hanzlamateen

add icons
  packages/editor/src/components/prefabs/PrefabEditors.tsx
  packages/editor/src/components/prefabs/icons/camera.svg
  packages/editor/src/components/prefabs/icons/collider.svg
  packages/editor/src/components/prefabs/icons/ecomm.svg
  packages/editor/src/components/prefabs/icons/empty.svg
  packages/editor/src/components/prefabs/icons/geo.svg
  packages/editor/src/components/prefabs/icons/image.svg
  packages/editor/src/components/prefabs/icons/lighting.svg
  packages/editor/src/components/prefabs/icons/lookdev.svg
  packages/editor/src/components/prefabs/icons/text.svg
  packages/editor/src/components/prefabs/icons/video.svg
Owners: @dinomut1, @aditya-mitra

move translation hook
  packages/editor/src/pages/EditorPage.tsx
Owners: @dinomut1, @aditya-mitra

move translation hook (#244)
  packages/editor/src/pages/EditorPage.tsx
Owners: @dinomut1, @aditya-mitra

fixing dependency retrigger in interactable node editor
  packages/ui/src/components/editor/properties/interact/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fixing dependency retrigger in interactable node editor (#245)
  packages/ui/src/components/editor/properties/interact/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Remove rigidbody if one already exists in hierarchy
  packages/client-core/i18n/en/editor.json
  packages/spatial/src/transform/components/EntityTree.tsx
  packages/ui/src/components/editor/properties/rigidBody/index.tsx
Owners: @aditya-mitra, @SamMazerIR, @SYBIOTE, @CITIZENDOT

Remove if child is added through hierarchy panel
  packages/ui/src/components/editor/properties/rigidBody/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

gitignore root cookie accesor
  packages/client/.gitignore
  packages/client/public/root-cookie-accessor.html
Owners: @barankyle, @aditya-mitra

Update .gitignore
  packages/client/.gitignore
Owners: @barankyle, @aditya-mitra

removed unused code
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
Owners: @aditya-mitra

gitignore root cookie accesor (#247)
  packages/client/.gitignore
  packages/client/public/root-cookie-accessor.html
Owners: @barankyle, @aditya-mitra

Test
  packages/spatial/src/transform/components/EntityTree.test.tsx
Owners: @SamMazerIR

add source into postMessage
  packages/client-core/src/user/services/AuthService.ts
  packages/client/public/root-cookie-accessor-template.html
Owners: @aditya-mitra, @barankyle

updated the tailwind css for the create prefab tag delete button
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
Owners: @dinomut1, @aditya-mitra

Update .gitignore
  packages/client/.gitignore
Owners: @barankyle, @aditya-mitra

move var for order of operations sake
  packages/client-core/src/user/services/AuthService.ts
Owners: @aditya-mitra

tst: Unit Tests for `BoundingBoxComponents.ts`
  packages/spatial/src/transform/components/BoundingBoxComponents.test.ts
  packages/spatial/src/transform/components/BoundingBoxComponents.ts
Owners: @SamMazerIR

tst: Unit Tests for `ComputedTransformComponent.ts`
  packages/spatial/src/transform/components/ComputedTransformComponent.test.ts
Owners: @SamMazerIR

tst: Fix errors on integration test n1
  packages/spatial/src/physics/integration.test.ts
Owners: @heysokam

start working on media streams
  packages/client-core/src/media/MediaStreamState.ts
  packages/client-core/src/transports/mediasoup/MediasoupMediaTracksSystem.tsx
  packages/client-core/src/transports/p2p/PeerToPeerNetworkState.tsx
  packages/network/src/webrtc/WebRTCTransportFunctions.ts
  packages/server-core/src/networking/instance-provision/instance-provision.class.ts
Owners: @aditya-mitra, @speigg, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

Refactor MediaIconsBox component to fix toggleWebcamPaused function call
  packages/client-core/src/components/MediaIconsBox/index.tsx
Owners: @aditya-mitra

media streams mvp
  packages/client-core/src/common/services/LocationInstanceConnectionService.ts
  packages/client-core/src/networking/NetworkInstanceProvisioning.tsx
  packages/client-core/src/transports/p2p/PeerToPeerNetworkState.tsx
  packages/network/src/webrtc/WebRTCTransportFunctions.ts
Owners: @aditya-mitra, @speigg

Add agree to marketing translation
  packages/client-core/i18n/en/user.json
  packages/ui/src/primitives/tailwind/Modal/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

check entity existence and expand nodes on scene change
  packages/editor/src/panels/hierarchy/hooks.tsx
Owners: @dinomut1, @aditya-mitra

Refactor SceneItem component to use hookstate for options popup
  packages/editor/src/panels/scenes/SceneItem.tsx
Owners: @dinomut1, @aditya-mitra

studio: add icons to entity modal (#243)
  packages/editor/src/components/prefabs/PrefabEditors.tsx
  packages/editor/src/components/prefabs/icons/camera.svg
  packages/editor/src/components/prefabs/icons/collider.svg
  packages/editor/src/components/prefabs/icons/ecomm.svg
  packages/editor/src/components/prefabs/icons/empty.svg
  packages/editor/src/components/prefabs/icons/geo.svg
  packages/editor/src/components/prefabs/icons/image.svg
  packages/editor/src/components/prefabs/icons/lighting.svg
  packages/editor/src/components/prefabs/icons/lookdev.svg
  packages/editor/src/components/prefabs/icons/text.svg
  packages/editor/src/components/prefabs/icons/video.svg
Owners: @dinomut1, @aditya-mitra

remove mui imports from auth callbacks
  packages/client-core/src/user/components/Oauth/AppleCallback.tsx
  packages/client-core/src/user/components/Oauth/DiscordCallback.tsx
  packages/client-core/src/user/components/Oauth/FacebookCallback.tsx
  packages/client-core/src/user/components/Oauth/GithubCallback.tsx
  packages/client-core/src/user/components/Oauth/GoogleCallback.tsx
  packages/client-core/src/user/components/Oauth/LinkedinCallBack.tsx
  packages/client-core/src/user/components/Oauth/TwitterCallback.tsx
Owners: @aditya-mitra

fix renaming node
  packages/editor/src/panels/hierarchy/contextmenu.tsx
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
Owners: @dinomut1, @aditya-mitra

refactor search bar to override input
  packages/client-core/src/admin/components/project/index.tsx
  packages/editor/src/panels/hierarchy/hierarchytree.tsx
  packages/ui/src/components/tailwind/SearchBar/index.tsx
Owners: @hanzlamateen, @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

close menu on create prefab
  packages/editor/src/panels/hierarchy/contextmenu.tsx
Owners: @dinomut1, @aditya-mitra

remove mui imports from auth callbacks (#254)
  packages/client-core/src/user/components/Oauth/AppleCallback.tsx
  packages/client-core/src/user/components/Oauth/DiscordCallback.tsx
  packages/client-core/src/user/components/Oauth/FacebookCallback.tsx
  packages/client-core/src/user/components/Oauth/GithubCallback.tsx
  packages/client-core/src/user/components/Oauth/GoogleCallback.tsx
  packages/client-core/src/user/components/Oauth/LinkedinCallBack.tsx
  packages/client-core/src/user/components/Oauth/TwitterCallback.tsx
Owners: @aditya-mitra

add hotkeys
  packages/editor/src/panels/hierarchy/contextmenu.tsx
  packages/editor/src/panels/hierarchy/helpers.ts
  packages/editor/src/panels/hierarchy/hierarchytree.tsx
  packages/editor/src/panels/hierarchy/hooks.tsx
Owners: @dinomut1, @aditya-mitra

refactor hierarchy panel (#227)
  packages/client-core/src/admin/components/project/index.tsx
  packages/editor/package.json
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/components/hierarchy/HierarchyTreeWalker.ts
  packages/editor/src/functions/EditorControlFunctions.test.tsx
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/functions/assetFunctions.ts
  packages/editor/src/panels/hierarchy/contextmenu.tsx
  packages/editor/src/panels/hierarchy/helpers.ts
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
  packages/editor/src/panels/hierarchy/hierarchytree.tsx
  packages/editor/src/panels/hierarchy/hooks.tsx
  packages/editor/src/panels/hierarchy/index.tsx
  packages/editor/src/services/EditorServices.ts
  packages/editor/src/services/FilesState.ts
  packages/editor/src/services/HierarchyNodeState.ts
  packages/ui/src/components/editor/panels/Hierarchy/container/index.tsx
  packages/ui/src/components/editor/panels/Hierarchy/index.stories.tsx
  packages/ui/src/components/editor/panels/Hierarchy/node/index.stories.tsx
  packages/ui/src/components/editor/panels/Hierarchy/node/index.tsx
  packages/ui/src/components/editor/panels/Materials/container/index.tsx
  packages/ui/src/components/editor/panels/Materials/node/index.tsx
  packages/ui/src/components/tailwind/SearchBar/index.tsx
Owners: @hanzlamateen, @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

add modal styles
  packages/editor/src/pages/EditorPage.tsx
Owners: @dinomut1, @aditya-mitra

add acknowledgement to local storage
  packages/editor/src/pages/EditorPage.tsx
Owners: @dinomut1, @aditya-mitra

remove any
  packages/editor/src/functions/browserCheck.ts
Owners: @SYBIOTE

remove use of vendor
  packages/editor/src/functions/browserCheck.ts
Owners: @SYBIOTE

stuff
  packages/editor/src/functions/browserCheck.ts
  packages/editor/src/pages/EditorPage.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

tst: todo list for `physics/integration.test.ts`
  packages/spatial/src/physics/integration.test.ts
Owners: @heysokam
