Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

tst: Unit Tests for `EntityTree.tsx` (phase 1)
  packages/spatial/src/transform/components/EntityTree.test.tsx
Owners: @SamMazerIR

Removed validators for pods service to fix Server tab
  packages/common/src/schemas/cluster/pods.schema.ts
Owners: @HexaField

Migrate instance server setting to engine setting
  packages/client-core/src/admin/components/settings/tabs/instanceServer.tsx
  packages/common/src/constants/DefaultWebRTCSettings.ts
  packages/common/src/constants/EngineSettings.ts
  packages/common/src/schemas/setting/engine-setting.schema.ts
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
  packages/server-core/src/setting/engine-setting/engine-setting.ts
  packages/server-core/src/setting/engine-setting/migrations/20241003092100-update-engine-value-col-length-to-4095.ts
  packages/server-core/src/setting/engine-setting/migrations/20241003092519_merge-instance-server-setting.ts
  packages/server-core/src/setting/seeder-config.ts
  packages/server-core/src/updateAppConfig.ts
Owners: @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

Refactor instance server setting module and related code
  packages/client-core/src/admin/components/settings/tabs/instanceServer.tsx
  packages/common/src/constants/DefaultWebRTCSettings.ts
  packages/common/src/schema.type.module.ts
  packages/common/src/schemas/setting/instance-server-setting.schema.ts
  packages/instanceserver/src/WebRTCFunctions.ts
  packages/server-core/src/setting/instance-server-setting/instance-server-setting.class.ts
  packages/server-core/src/setting/instance-server-setting/instance-server-setting.docs.ts
  packages/server-core/src/setting/instance-server-setting/instance-server-setting.hooks.ts
  packages/server-core/src/setting/instance-server-setting/instance-server-setting.resolvers.ts
  packages/server-core/src/setting/instance-server-setting/instance-server-setting.seed.ts
  packages/server-core/src/setting/instance-server-setting/instance-server-setting.ts
  packages/server-core/src/setting/instance-server-setting/migrations/20230614132349_instance-server-setting.ts
  packages/server-core/src/setting/instance-server-setting/migrations/20240703210203_webrtc-settings-column.ts
  packages/server-core/src/setting/instance-server-setting/migrations/20240815232703_update-webrtc-settings-column.ts
Owners: @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

revert anchor events changes
  packages/editor/src/components/toolbar/Toolbar.tsx
  packages/ui/src/components/tailwind/ContextMenu/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

add a focus ot pill
  packages/editor/src/components/toolbar/Toolbar.tsx
Owners: @dinomut1, @aditya-mitra

lint
  packages/ui/src/components/tailwind/ContextMenu/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Updated key
  packages/client-core/src/admin/components/settings/tabs/zendesk.tsx
Owners: @hanzlamateen

IR-4679 migrate zendesk settings to engine settings (#335)
  packages/client-core/src/admin/components/settings/tabs/zendesk.tsx
  packages/common/src/constants/EngineSettings.ts
  packages/common/src/schema.type.module.ts
  packages/common/src/schemas/setting/engine-setting.schema.ts
  packages/common/src/schemas/setting/zendesk-setting.schema.ts
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
  packages/server-core/src/setting/engine-setting/engine-setting.ts
  packages/server-core/src/setting/engine-setting/migrations/20240926052204_merge-zendesk-setting.ts
  packages/server-core/src/setting/seeder-config.ts
  packages/server-core/src/setting/service.ts
  packages/server-core/src/setting/zendesk-setting/migrations/20240625222127_zendesk-keys.ts
  packages/server-core/src/setting/zendesk-setting/zendesk-setting.class.ts
  packages/server-core/src/setting/zendesk-setting/zendesk-setting.docs.ts
  packages/server-core/src/setting/zendesk-setting/zendesk-setting.hooks.ts
  packages/server-core/src/setting/zendesk-setting/zendesk-setting.resolvers.ts
  packages/server-core/src/setting/zendesk-setting/zendesk-setting.seed.ts
  packages/server-core/src/setting/zendesk-setting/zendesk-setting.ts
  packages/server-core/src/updateAppConfig.ts
Owners: @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

add mesh cleanup and deps to animation hooks
  packages/engine/src/avatar/components/AnimationComponent.ts
Owners: @AidanCaruso

declare hook as variable
  packages/engine/src/avatar/components/AnimationComponent.ts
Owners: @AidanCaruso

avatar animation clip cleanup
  packages/engine/src/avatar/functions/avatarFunctions.ts
Owners: @AidanCaruso

Tcr/ir 4741 add front end test id attributes for hierarchy (#369)
  packages/editor/src/panels/files/contextmenu.tsx
  packages/editor/src/panels/files/modals/FilePropertiesModal.tsx
  packages/editor/src/panels/files/modals/RenameFileModal.tsx
  packages/editor/src/panels/hierarchy/contextmenu.tsx
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
  packages/editor/src/panels/hierarchy/hierarchytree.tsx
  packages/editor/src/panels/hierarchy/index.tsx
  packages/editor/src/panels/properties/elementlist.tsx
  packages/ui/src/primitives/tailwind/Button/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

add renderer check
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
Owners: @AidanCaruso

simplify preview camera
  packages/engine/src/camera/components/AssetPreviewCameraComponent.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

remove log
  packages/engine/src/gltf/GLTFComponent.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

lint
  packages/editor/src/components/toolbar/Toolbar.tsx
Owners: @dinomut1, @aditya-mitra

cleaning up unused values
  packages/engine/src/audio/MediaSettingsState.ts
  packages/engine/src/audio/components/PositionalAudioComponent.ts
  packages/engine/src/audio/components/PositionalAudioHelperComponent.ts
Owners: @speigg

Created a NumericScrubber and replaced NumericInput with NumericScrubber in the positional audio property panel.
  packages/ui/src/components/editor/input/Numeric/Scrubber/index.tsx
  packages/ui/src/components/editor/properties/audio/positional/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fixing copy/paste error in commit/update properties, much more responsive now and no bug with outerAngle adjustments
  packages/ui/src/components/editor/properties/audio/positional/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

updating tooltips
  packages/client-core/i18n/en/editor.json
Owners: @aditya-mitra

double-siding the meshes for audiohelper
  packages/engine/src/audio/components/PositionalAudioHelperComponent.ts
Owners: @speigg

Fixed issues with invites
  packages/client-core/i18n/en/user.json
  packages/client-core/src/user/UserUISystem.tsx
  packages/client-core/src/user/components/UserMenu/PopupMenuService.ts
  packages/client-core/src/user/components/UserMenu/index.tsx
  packages/client-core/src/user/components/UserMenu/menus/ShareMenu.tsx
  packages/server-core/src/user/accept-invite/accept-invite.class.ts
Owners: @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

Added support for using non-root client subdomain in invite redirect
  packages/server-core/src/user/accept-invite/accept-invite.hooks.ts
  packages/server-core/src/user/accept-invite/accept-invite.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix bug with video reactor, video quality is handled properly
  packages/client-core/src/transports/p2p/PeerToPeerNetworkState.tsx
  packages/network/src/webrtc/WebRTCTransportFunctions.ts
  packages/server-core/src/networking/instance-signaling/instance-signaling.ts
Owners: @aditya-mitra, @speigg, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

license
  packages/client-core/src/transports/p2p/PeerToPeerNetworkState.tsx
  packages/network/src/webrtc/WebRTCTransportFunctions.ts
Owners: @aditya-mitra, @speigg

Material array index fix, tests for multiple primitives/materials, morph targets, skins, bones, animations, cameras, KHR lights
  packages/engine/src/gltf/GLTFLoader.test.tsx
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/gltf/GLTFState.tsx
  packages/engine/src/scene/components/ModelComponent.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @speigg, @CITIZENDOT

disabling ref distance
  packages/ui/src/components/editor/properties/audio/positional/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Remove .only
  packages/engine/src/gltf/GLTFLoader.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

added the thumbnail generate / upload buttons to the save scene modal
  packages/editor/src/components/dialogs/SaveSceneDialog.tsx
Owners: @dinomut1, @aditya-mitra

IR-4742 adjust scene panel test IDs to lean on reusability
  packages/editor/src/panels/scenes/SceneItem.tsx
  packages/editor/src/panels/scenes/index.tsx
Owners: @dinomut1, @aditya-mitra

Added support for using non-root client subdomain in invite redirect (#357)
  packages/server-core/src/user/accept-invite/accept-invite.hooks.ts
  packages/server-core/src/user/accept-invite/accept-invite.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

IR-4766 file-upload cleanup on server (#351)
  packages/common/src/utils/cleanFileName.ts
  packages/common/src/utils/processFileName.ts
  packages/editor/src/functions/assetFunctions.ts
  packages/editor/src/panels/files/helpers.tsx
  packages/editor/src/panels/viewport/index.tsx
  packages/server-core/src/media/file-browser/file-browser.hooks.ts
  packages/server-core/src/projects/project/project-helper.ts
  scripts/push-client-to-s3.ts
Owners: @HexaField, @SYBIOTE, @dinomut1, @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @DanielBelmes

Fix falsey check with light index
  packages/engine/src/gltf/GLTFLoader.test.tsx
  packages/engine/src/gltf/MeshExtensionComponents.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

tst: Bugfixes for the `spatial/transform` Unit Tests
  packages/spatial/src/transform/TransformSerialization.test.ts
  packages/spatial/src/transform/components/TransformComponent.test.tsx
  packages/spatial/src/transform/systems/TransformSystem.test.ts
Owners: @SamMazerIR

Fixed a couple bugs/outdated things in Helm chart versioning
  packages/server-core/src/setting/helm-setting/helm-setting.ts
  scripts/fetch-helm-versions.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra, @DanielBelmes

removing early returns and unused data passing that prevented gizmos if there was no audio source (mp3, etc)
  packages/engine/src/audio/components/PositionalAudioComponent.ts
  packages/engine/src/audio/components/PositionalAudioHelperComponent.ts
Owners: @speigg

tst: Unit Tests for `EntityTree.tsx` (phase 2)
  packages/spatial/src/transform/components/EntityTree.test.tsx
Owners: @SamMazerIR

fmt: Deduplicate `tranverseEntityNode` behavior. Improve doc comments
  packages/engine/src/scene/components/HyperspaceTagComponent.ts
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @SamMazerIR

tst: Unit Tests for `EntityTree.tsx` (phase 3)
  packages/spatial/src/transform/components/EntityTree.test.tsx
Owners: @SamMazerIR
