Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

discard commit history
  .github/workflows/update-storybook.yml
Owners: @DanielBelmes

Display GLTF component children in hierarchy panel
  packages/editor/src/panels/hierarchy/helpers.ts
  packages/editor/src/panels/hierarchy/hooks.tsx
  packages/engine/src/gltf/GLTFState.tsx
Owners: @dinomut1, @aditya-mitra, @AidanCaruso, @MichaelEstes

Variant component with GLTF component
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
  packages/editor/src/components/prefabs/PrefabEditors.tsx
  packages/engine/src/scene/components/VariantComponent.tsx
  packages/engine/src/scene/systems/SceneObjectSystem.tsx
  packages/projects/default-project/assets/prefabs/model-variants.prefab.gltf
Owners: @dinomut1, @aditya-mitra, @speigg, @CITIZENDOT, @AidanCaruso, @HexaField

Don't remove distance from camera component
  packages/engine/src/scene/components/VariantComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

keep vite security update
  packages/client/package.json
Owners: @barankyle, @aditya-mitra

IR-4351 positional audio upgrades (#372)
  packages/client-core/i18n/en/editor.json
  packages/client-core/src/systems/PositionalAudioSystem.tsx
  packages/engine/src/audio/components/PositionalAudioComponent.ts
  packages/engine/src/audio/components/PositionalAudioHelper.ts
  packages/engine/src/audio/components/PositionalAudioHelperComponent.ts
  packages/engine/src/scene/components/MediaComponent.ts
  packages/ui/src/components/editor/input/Numeric/Scrubber/index.tsx
  packages/ui/src/components/editor/properties/audio/positional/index.tsx
Owners: @aditya-mitra, @speigg, @dinomut1, @CITIZENDOT, @AidanCaruso, @SYBIOTE

updated the add media code to pass the requested name into the the editor control function to create the the scene object, so it can be used instead of "new object"
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/functions/addMediaNode.ts
Owners: @SYBIOTE

corrected parameters order issue
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/functions/addMediaNode.ts
Owners: @SYBIOTE

Remove debug console.log calls from tailwind Checkbox
  packages/ui/src/primitives/tailwind/Checkbox/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Force display precision on UI (#421)
  packages/ui/src/components/editor/input/Numeric/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Update boolean input for txt node editor (#420)
  packages/ui/src/components/editor/properties/light/spot/index.tsx
  packages/ui/src/components/editor/properties/text/index.tsx
  packages/ui/src/primitives/tailwind/Checkbox/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Add option for font (#419)
  packages/ui/src/components/editor/properties/text/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Ensure avatarId is set
  packages/client-core/src/user/services/AuthService.ts
  packages/server-core/src/user/user-avatar/user-avatar.hooks.ts
Owners: @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

Add some errors
  packages/client-core/src/user/services/AuthService.ts
Owners: @aditya-mitra

fix some instanceserver bugs
  packages/client-core/src/common/services/LocationInstanceConnectionService.ts
  packages/client-core/src/networking/NetworkInstanceProvisioning.tsx
  packages/instanceserver/src/channels.ts
  packages/server-core/src/networking/instance-signaling/instance-signaling.ts
Owners: @aditya-mitra, @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

feathers awaits project services
  packages/server-core/src/createApp.ts
  packages/server-core/src/services.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

feathers awaits project services (#429)
  packages/server-core/src/createApp.ts
  packages/server-core/src/services.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

improve client side errors and logic
  packages/client-core/src/user/services/AuthService.ts
Owners: @aditya-mitra

Ir 5066 fix avatar id existence (#428)
  packages/client-core/src/user/services/AuthService.ts
  packages/server-core/src/user/user-avatar/user-avatar.hooks.ts
Owners: @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

fix avatar preview never resolving load
  packages/client-core/src/common/components/AvatarPreview/index.tsx
Owners: @aditya-mitra

Add entity working with GLTF Component prefabs
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/functions/addMediaNode.ts
  packages/editor/src/functions/exportGLTF.ts
  packages/editor/src/panels/hierarchy/helpers.ts
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/exportGLTFScene.ts
  packages/engine/src/gltf/gltfUtils.ts
  packages/engine/src/gltf/importGLTFScene.ts
  packages/engine/src/scene/components/VariantComponent.tsx
  packages/projects/default-project/assets/prefabs/model-variants.prefab.gltf
Owners: @SYBIOTE, @dinomut1, @aditya-mitra, @AidanCaruso, @MichaelEstes, @speigg, @CITIZENDOT, @HexaField

throw warning instead of failing upload
  packages/editor/src/functions/assetFunctions.ts
Owners: @SYBIOTE

loop animation node editor rig component setting
  packages/engine/src/avatar/AvatarBoneMatching.ts
  packages/engine/src/avatar/components/LoopAnimationComponent.ts
  packages/engine/src/avatar/functions/retargetMixamoRig.ts
  packages/ui/src/components/editor/properties/animation/index.tsx
Owners: @AidanCaruso, @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix avatar preview never resolving load (#430)
  packages/client-core/src/common/components/AvatarPreview/index.tsx
Owners: @aditya-mitra

IR-4941-Noticeable-delay-occurs-after-the-user-sends-a-message-in-the-chat-before-it-is-displayed
  packages/client-core/src/components/InstanceChat/index.tsx
  packages/client-core/src/social/services/ChannelService.ts
  packages/client-core/src/transports/mediasoup/MediasoupClientFunctions.ts
  packages/common/src/schemas/social/channel.schema.ts
  packages/server-core/src/social/channel/channel.resolvers.ts
Owners: @aditya-mitra, @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

fix useEngineCanvas
  packages/client-core/src/hooks/useEngineCanvas.ts
Owners: @jose-galvan

fix race conditions
  packages/client-core/src/hooks/useEngineCanvas.ts
  packages/spatial/src/initializeEngine.ts
Owners: @jose-galvan, @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

refactor renderer initialization into reactor
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
  packages/client-core/src/user/components/Panel3D/useRender3DPanelSystem.tsx
  packages/spatial/src/initializeEngine.ts
  packages/spatial/src/renderer/WebGLRendererSystem.tsx
Owners: @aditya-mitra, @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR, @DanielBelmes

format
  packages/client-core/src/hooks/useEngineCanvas.ts
Owners: @jose-galvan

revert export format
  packages/ui/postcss.config.js
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix typing
  packages/spatial/src/renderer/WebGLRendererSystem.tsx
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

IR-4818 - Enhancements in Billing Method API (#402)
  packages/ui/src/primitives/tailwind/Input/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Only close Add/Edit project modal when same project updates (#412)
  packages/client-core/src/admin/components/project/ProjectTable.tsx
Owners: @hanzlamateen

ensure thumbnails are visible on upload
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
  packages/editor/src/panels/files/filebrowser.tsx
Owners: @aditya-mitra, @dinomut1

expose scene params to debug window
  packages/client-core/i18n/en/editor.json
  packages/client-core/src/components/Debug/StatsPanel.tsx
  packages/editor/src/systems/RenderMonitorSystem.tsx
  packages/spatial/src/renderer/RenderInfoSystem.ts
Owners: @aditya-mitra, @dinomut1, @AidanCaruso, @DanielBelmes, @MichaelEstes

add save lookdev prefab
  packages/client-core/i18n/en/editor.json
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
  packages/editor/src/components/toolbar/Toolbar.tsx
  packages/editor/src/panels/hierarchy/contextmenu.tsx
Owners: @aditya-mitra, @dinomut1

turn off newScene modal
  packages/editor/src/components/toolbar/Toolbar.tsx
  packages/editor/src/panels/scenes/index.tsx
Owners: @dinomut1, @aditya-mitra

Moved file context menu into file browser.
  packages/editor/src/panels/files/contextmenu.tsx
  packages/editor/src/panels/files/filebrowser.tsx
  packages/editor/src/panels/files/fileitem.tsx
Owners: @dinomut1, @aditya-mitra

Variant component fixes, cleanup
  packages/editor/src/panels/hierarchy/helpers.ts
  packages/engine/src/scene/components/VariantComponent.tsx
  packages/engine/src/scene/systems/VariantSystem.tsx
Owners: @dinomut1, @aditya-mitra, @speigg, @CITIZENDOT, @AidanCaruso

Fixing a null check on a reactive proxy and a mixup with entities.
  packages/engine/src/scene/components/ParticleSystemComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso
