Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

implemented the video component's preview player funcitonality
  packages/engine/src/scene/components/MediaComponent.ts
  packages/engine/src/scene/components/VideoComponent.tsx
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @aditya-mitra, @SYBIOTE

added a isLoaded property to the media component, so it can be reacted too updated the mesh resizing to always fit the aspect ratio of the video
  packages/engine/src/scene/components/MediaComponent.ts
  packages/engine/src/scene/components/VideoComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix material editor crashing
  packages/editor/src/panels/materials/layernode.tsx
  packages/editor/src/panels/properties/materialeditor.tsx
  packages/editor/src/panels/properties/propertyeditor.tsx
Owners: @dinomut1, @aditya-mitra

reimplemented the uv scale fit solution but made the letter boxing color transparent
  packages/engine/src/scene/components/VideoComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

add grow effect on hover
  packages/editor/src/systems/HelperActiveSystem.ts
  packages/spatial/src/common/ActiveHelperComponent.ts
  packages/spatial/src/common/debug/useHelperEntity.ts
  packages/spatial/src/common/functions/activeHelperFunctions.ts
  packages/spatial/src/input/functions/ClientInputHeuristics.ts
Owners: @dinomut1, @aditya-mitra, @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR, @heysokam

remmve console log
  packages/spatial/src/common/functions/activeHelperFunctions.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

add directional tag for directional gizmos
  packages/engine/src/audio/components/PositionalAudioComponent.ts
  packages/engine/src/scene/components/PortalComponent.ts
  packages/engine/src/scene/components/ScenePreviewCamera.ts
  packages/engine/src/scene/components/SpawnPointComponent.ts
  packages/spatial/src/renderer/components/lights/DirectionalLightComponent.ts
  packages/spatial/src/renderer/components/lights/SpotLightComponent.ts
Owners: @speigg, @dinomut1, @CITIZENDOT, @AidanCaruso, @DanielBelmes, @MichaelEstes

fix: Object fields with value `0` incorrectly treated as `null`
  packages/ecs/src/schemas/JSONSchemaUtils.ts
Owners: @speigg

tst: VSCode debug launcher for `packages/engine` current file tests
  .vscode/launch.json
Owners: @HexaField

add error checking and graceful failure upon EE_material not being found
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/gltf/MaterialExtensionComponents.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

interactable and link cleanup
  packages/engine/src/interaction/components/InteractableComponent.ts
  packages/engine/src/scene/components/LinkComponent.ts
Owners: @SamMazerIR, @speigg, @dinomut1, @CITIZENDOT, @AidanCaruso

Update settings in assets toolbar
  packages/editor/src/panels/assets/topbar.tsx
Owners: @dinomut1, @aditya-mitra

Update post processing panel
  packages/editor/src/panels/viewport/tools/RenderTool.tsx
Owners: @dinomut1, @aditya-mitra

Update Export Settings Node Editor
  packages/ui/src/components/editor/properties/gltf/loader/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Sync colors to figma
  packages/client-core/src/common/services/ThemeService.tsx
Owners: @aditya-mitra

Reset selection colors
  packages/client-core/src/util/GlobalStyle.css
  packages/client/src/pages/styles.scss
Owners: @aditya-mitra, @barankyle

Update project history colors
  packages/client-core/src/admin/components/project/ProjectHistory.tsx
Owners: @hanzlamateen

Update toggle
  packages/ui/src/primitives/tailwind/Toggle/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Update DataTable
  packages/client-core/src/admin/common/Table.tsx
  packages/ui/src/primitives/tailwind/Input/index.tsx
  packages/ui/src/primitives/tailwind/Table/index.tsx
Owners: @hanzlamateen, @aditya-mitra, @SYBIOTE, @CITIZENDOT

noop some of the remaining quat euler sync
  packages/engine/src/avatar/components/AvatarAnimationComponent.ts
Owners: @AidanCaruso

Fix Scene Card dropdown
  packages/editor/src/panels/scenes/SceneItem.tsx
Owners: @dinomut1, @aditya-mitra

Update tertiary button
  packages/ui/src/primitives/tailwind/Button/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

basic test coverage
  .vscode/launch.json
  packages/editor/src/functions/exportGLTF.ts
  packages/engine/src/assets/functions/parseSceneJSON.ts
  packages/engine/src/gltf/exportGLTFScene.test.tsx
  packages/engine/src/gltf/exportGLTFScene.ts
  packages/engine/src/scene/functions/createSceneEntity.ts
Owners: @HexaField, @SYBIOTE, @MichaelEstes, @dinomut1, @speigg, @AidanCaruso, @CITIZENDOT

lint
  packages/engine/src/gltf/exportGLTFScene.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

fix prefabs
  packages/engine/src/gltf/GLTFComponent.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

fix primitive geom editor
  packages/editor/src/panels/properties/propertyeditor.tsx
  packages/ui/src/components/editor/properties/geometry/primitive/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

clean up and fix video prefab
  packages/engine/src/scene/components/MediaComponent.ts
  packages/ui/src/components/editor/properties/media/index.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @aditya-mitra, @SYBIOTE

Improve admin side bar
  packages/client-core/src/admin/adminRoutes.tsx
  packages/ui/src/primitives/tailwind/Table/index.tsx
Owners: @hanzlamateen, @aditya-mitra, @SYBIOTE, @CITIZENDOT

Fix user table
  packages/client-core/src/admin/components/user/UserTable.tsx
Owners: @hanzlamateen

Add Post Clone Script to CI (#59)
  packages/clientNative/ios/ci_scripts/ci_post_clone.sh
Owners: @HexaField

Update viewport button
  packages/ui/src/components/editor/ViewportButton/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

corrected warnings
  packages/engine/src/scene/components/MediaComponent.ts
  packages/engine/src/scene/components/VideoComponent.tsx
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @aditya-mitra, @SYBIOTE

removed commented out sections
  packages/engine/src/scene/components/MediaComponent.ts
  packages/engine/src/scene/components/VideoComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

address pr comment
  packages/client-core/src/user/UserUISystem.tsx
  packages/ui/src/components/editor/properties/popover/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

default iframe option
  packages/client-core/src/user/UserUISystem.tsx
  packages/client-core/src/user/menus/avatar/EmbedFrame.tsx
  packages/ui/src/components/editor/properties/popover/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

remove default iframe popuptype
  packages/client-core/src/user/UserUISystem.tsx
  packages/ui/src/components/editor/properties/popover/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

wip replace prototype component with state
  packages/editor/src/panels/properties/materialeditor.tsx
  packages/engine/src/assets/exporters/gltf/extensions/EEMaterialExporterExtension.ts
  packages/engine/src/assets/loaders/gltf/extensions/EEMaterialImporterExtension.ts
  packages/engine/src/scene/materials/systems/MaterialLibrarySystem.tsx
  packages/spatial/src/renderer/materials/MaterialComponent.tsx
  packages/spatial/src/renderer/materials/materialFunctions.ts
Owners: @dinomut1, @aditya-mitra, @MichaelEstes, @speigg, @CITIZENDOT, @AidanCaruso, @DanielBelmes

Update admin action buttons
  packages/client-core/src/admin/components/ActionButton.tsx
  packages/client-core/src/admin/components/avatar/AvatarTable.tsx
  packages/client-core/src/admin/components/channel/ChannelTable.tsx
  packages/client-core/src/admin/components/instance/InstanceTable.tsx
  packages/client-core/src/admin/components/invites/InviteTable.tsx
  packages/client-core/src/admin/components/locations/LocationTable.tsx
  packages/client-core/src/admin/components/recordings/RecordingsTable.tsx
  packages/client-core/src/admin/components/resources/ResourceTable.tsx
  packages/client-core/src/admin/components/server/ServerTable.tsx
  packages/client-core/src/admin/components/user/UserTable.tsx
  packages/client-core/src/common/services/ThemeService.tsx
Owners: @hanzlamateen, @aditya-mitra

Update sidebar selected item style
  packages/client-core/src/admin/adminRoutes.tsx
Owners: @hanzlamateen

Improve toggle theme button
  packages/client-core/src/admin/adminRoutes.tsx
Owners: @hanzlamateen

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
