Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

do not use input type radio for radio
  packages/client-core/src/admin/components/resources/AddEditResourceModal.tsx
  packages/ui/src/primitives/tailwind/Radio/index.stories.tsx
  packages/ui/src/primitives/tailwind/Radio/index.tsx
Owners: @hanzlamateen, @aditya-mitra, @SYBIOTE, @CITIZENDOT

complete helm setting migration to engine setting and update helm admin component
  packages/client-core/src/admin/components/settings/tabs/helm.tsx
  packages/common/src/schemas/setting/helm-setting.schema.ts
  packages/server-core/src/setting/helm-setting/helm-setting.ts
  packages/server-core/src/setting/service.ts
Owners: @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

add sm and md size variants
  packages/ui/src/primitives/tailwind/Radio/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

show other stories in storybook
  packages/ui/src/primitives/tailwind/Input/index.stories.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Use template to create stories
  packages/ui/src/primitives/tailwind/Input/index.stories.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

resolve reviews
  packages/ui/src/primitives/tailwind/Input/index.stories.tsx
  packages/ui/src/primitives/tailwind/Input/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

disabled hover for label and story label correction
  packages/ui/src/primitives/tailwind/Radio/index.stories.tsx
  packages/ui/src/primitives/tailwind/Radio/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

add variant in story
  packages/ui/src/primitives/tailwind/Radio/index.stories.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

physics entity lookup types
  packages/client-core/src/systems/AvatarUISystem.tsx
  packages/editor/src/systems/ClickPlacementSystem.tsx
  packages/spatial/src/physics/classes/Physics.test.tsx
  packages/spatial/src/physics/classes/Physics.ts
  packages/spatial/src/physics/systems/TriggerSystem.ts
Owners: @aditya-mitra, @dinomut1, @heysokam

Fixed formatting
  packages/client-core/src/user/services/AuthService.ts
Owners: @aditya-mitra

tst: Replace `nyc` package with `vitest/coverage`
  nycrc.json
  package.json
Owners: @HexaField

tst: Remove `basic` reporter when on CI. Unify threshold/watermark cfg
  vitest.client.config.ts
Owners: @HexaField

tst: Change `npm/assert` from math assertions to `vitest/assert`
  packages/spatial/tests/util/mathAssertions.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

add helper function
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
  packages/editor/src/components/dialogs/PrefabConfirmationPanelDialog.tsx
Owners: @dinomut1, @aditya-mitra

tst: Cleanup the `util/assert.ts` file with `vitest/assert`
  packages/spatial/tests/util/assert.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

tst: Replace `mathAssertions` with the renamed `utils/assert` module
  packages/spatial/src/input/components/InputComponent.test.tsx
  packages/spatial/src/input/components/InputSourceComponent.test.tsx
  packages/spatial/src/input/functions/ClientInputFunctions.test.ts
  packages/spatial/src/input/functions/ClientInputHeuristics.test.tsx
  packages/spatial/src/input/systems/ClientInputSystem.test.tsx
  packages/spatial/src/physics/PhysicsSerialization.test.ts
  packages/spatial/src/physics/classes/Physics.test.tsx
  packages/spatial/src/physics/components/ColliderComponent.test.ts
  packages/spatial/src/physics/components/RigidBodyComponent.test.tsx
  packages/spatial/src/physics/components/TriggerComponent.test.ts
  packages/spatial/src/physics/integration.test.ts
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.test.ts
  packages/spatial/src/physics/systems/PhysicsSystem.test.ts
  packages/spatial/src/renderer/components/FogSettingsComponent.test.tsx
  packages/spatial/src/renderer/components/GroupComponent.test.tsx
  packages/spatial/src/renderer/components/InfiniteGridHelper.test.ts
  packages/spatial/src/renderer/components/LineSegmentComponent.test.tsx
  packages/spatial/src/renderer/components/lights/HemisphereLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/PointLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/SpotLightComponent.test.ts
  packages/spatial/src/renderer/materials/MaterialComponent.test.ts
  packages/spatial/src/renderer/materials/constants/plugins/NoiseOffsetPlugin.test.ts
  packages/spatial/src/renderer/materials/constants/plugins/TransparencyDitheringComponent.test.tsx
  packages/spatial/src/renderer/materials/materialFunctions.test.ts
  packages/spatial/src/transform/components/EntityTree.test.tsx
  packages/spatial/tests/util/mathAssertions.ts
Owners: @heysokam, @SamMazerIR, @speigg, @AidanCaruso, @DanielBelmes, @MichaelEstes, @MbfloydIR

chore: update RPM default URL
  .env.local.default
Owners: @HexaField

add hover padding transition
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

fixing positional audio in edit mode, adding preview in the panel to replace old system which now plays positional audio, added missing tooltips
  packages/client-core/i18n/en/editor.json
  packages/editor/src/EditorModule.ts
  packages/editor/src/functions/addMediaNode.ts
  packages/ui/src/components/editor/Slider/index.tsx
  packages/ui/src/components/editor/properties/audio/positional/index.tsx
  packages/ui/src/components/editor/properties/media/index.tsx
  packages/ui/src/components/editor/properties/media/preview/index.tsx
Owners: @aditya-mitra, @dinomut1, @SYBIOTE, @CITIZENDOT

build bottom navbar
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

fix errors
  packages/editor/src/components/toolbar/Toolbar.tsx
Owners: @dinomut1, @aditya-mitra

Only show transparancy options for formats that support transparency
  packages/engine/src/assets/constants/AssetType.ts
  packages/ui/src/components/editor/properties/image/sourceProperties/index.tsx
Owners: @MichaelEstes, @dinomut1, @speigg, @aditya-mitra, @SYBIOTE, @CITIZENDOT

use setcomponent instead of get
  packages/engine/src/avatar/functions/avatarFunctions.ts
Owners: @AidanCaruso

ensure s3 storage provider forces slash at the end of folder, exclude node modules and gracefully fail zipping each file
  packages/server-core/src/media/recursive-archiver/archiver.class.ts
  packages/server-core/src/media/storageprovider/s3.storage.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

sync radio button designs
  packages/client-core/src/admin/components/avatar/AddEditAvatarModal.tsx
  packages/client-core/src/admin/components/invites/AddEditInviteModal.tsx
  packages/client-core/src/admin/components/project/AddEditProjectModal.tsx
  packages/client-core/src/admin/components/resources/AddEditResourceModal.tsx
  packages/ui/src/index.ts
Owners: @hanzlamateen, @aditya-mitra, @SYBIOTE, @CITIZENDOT

comments
  packages/ui/src/primitives/tailwind/Radio/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Refactor instance location filtering in populateInstanceServerType function
  packages/server-core/src/cluster/pods/pods-helper.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Remove location handling from populateInstanceServerType function
  packages/server-core/src/cluster/pods/pods-helper.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Add test for $like query scope validation in identity provider .find() method
  packages/server-core/src/user/identity-provider/identity-provider.hooks.ts
  packages/server-core/src/user/identity-provider/identity-provider.test.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Make label optional
  packages/ui/src/components/editor/Slider/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Revert "Set label prop to optional (#572)"
  packages/ui/src/components/editor/Slider/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Only show alpha editor options for supported image types - dev
  packages/engine/src/assets/constants/AssetType.ts
  packages/ui/src/components/editor/properties/image/sourceProperties/index.tsx
Owners: @MichaelEstes, @dinomut1, @speigg, @aditya-mitra, @SYBIOTE, @CITIZENDOT

cleaning up UI issues
  packages/engine/src/interaction/components/InteractableComponent.ts
  packages/engine/src/scene/components/MountPointComponent.ts
Owners: @SamMazerIR, @speigg, @dinomut1, @CITIZENDOT, @AidanCaruso

only give read access to visible projects
  packages/server-core/src/hooks/verify-project-permission.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fixing cleanup of mountpoint mounted entities with a second record for faster lookups
  packages/engine/src/interaction/functions/MountPointActions.ts
Owners: @SamMazerIR, @speigg

GroundPlaneComponent visibility
  packages/engine/src/scene/components/GroundPlaneComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Update props structure
  packages/ui/src/primitives/tailwind/Input/index.stories.tsx
  packages/ui/src/primitives/tailwind/Input/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

set default props
  packages/ui/src/primitives/tailwind/Input/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

set back to use layout effects
  packages/engine/src/scene/components/GroundPlaneComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

force the new file to have a relative directory
  packages/common/src/utils/cleanFileName.ts
Owners: @HexaField

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
