Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

Update background color class for FileCard component on hover state
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

reset file load states
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

Update ConfirmDialog styles for responsive design adjustments
  packages/ui/src/components/tailwind/ConfirmDialog/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

updated the mesh scale to be applied the canvas size even if no video is loaded
  packages/engine/src/scene/components/VideoComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

don't trigger when a new user joins
  packages/client-core/src/user/InstanceChat.tsx
Owners: @aditya-mitra

Setting the index works sometimes
  packages/client/public/workers/generateBVHAsync.worker.js
  packages/spatial/src/transform/functions/MeshBVHSystem.tsx
  packages/spatial/src/transform/functions/bvhWorkerPool.ts
Owners: @barankyle, @aditya-mitra, @SamMazerIR

add messages to auto scroll useEffect dependencies
  packages/client-core/src/user/InstanceChat.tsx
Owners: @aditya-mitra

disable fog on plane material
  packages/engine/src/scene/components/GroundPlaneComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

added unit test for creating enities in hierarchy using the requested name, adding an increment if a sibling entity with the name already exists
  packages/editor/src/functions/EditorControlFunctions.test.tsx
Owners: @SYBIOTE

Set indirect to false as default
  packages/spatial/src/transform/functions/bvhWorkerPool.ts
Owners: @SamMazerIR

fixed issue where the newly fetched resources were being merged into the existing list of resources instead of setting the list
  packages/editor/src/panels/assets/hooks.tsx
Owners: @dinomut1, @aditya-mitra

removed duplicate condition
  packages/editor/src/panels/assets/hooks.tsx
Owners: @dinomut1, @aditya-mitra

validate src before updating img element, handle text input changes
  packages/editor/src/components/assets/DroppableImageInput.tsx
  packages/ui/src/components/editor/ImageLink/index.tsx
  packages/ui/src/components/editor/properties/envmap/index.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

clean up code
  packages/editor/src/components/assets/DroppableImageInput.tsx
Owners: @dinomut1, @aditya-mitra

reset counts when changing category paths
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

remove-errant comment
  packages/engine/src/audio/systems/MediaSystem.ts
Owners: @speigg

Reconstruct geometry groups
  packages/client/public/workers/generateBVHAsync.worker.js
  packages/spatial/src/transform/functions/bvhWorkerPool.ts
Owners: @barankyle, @aditya-mitra, @SamMazerIR

Typing
  packages/spatial/src/transform/functions/bvhWorkerPool.ts
Owners: @SamMazerIR

fixed issue with the refetchResources sometimes needing to force a refresh with out the skip, and other times not
  packages/editor/src/panels/assets/hooks.tsx
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

fixed issue with the force fetch limit
  packages/editor/src/panels/assets/hooks.tsx
Owners: @dinomut1, @aditya-mitra

Revert
  packages/spatial/src/transform/functions/MeshBVHSystem.tsx
Owners: @SamMazerIR

Mute video/audio when autoplaying before user interaction
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

rename popover in comments
  packages/client-core/src/common/services/ModalState.tsx
Owners: @aditya-mitra

log errors which are not `NotAllowedError`
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Add reports regex handling and remove unused appendBaseUrl hook (#1343)
  packages/server-core/src/media/storageprovider/s3.storage.ts
  packages/server-core/src/moderation/moderation-attachment/moderation-attachment.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

broken wip
  packages/engine/package.json
  packages/engine/src/assets/functions/createGLTFLoader.ts
  packages/engine/src/avatar/animation/Util.ts
  packages/engine/src/avatar/animation/applyHandRotationFK.ts
  packages/engine/src/avatar/components/AvatarAnimationComponent.ts
  packages/engine/src/avatar/functions/avatarFunctions.ts
  packages/engine/src/avatar/functions/retargetingFunctions.ts
  packages/engine/src/avatar/functions/updateVRMRetargeting.ts
  packages/engine/src/avatar/maps/VRMHumanBoneName.ts
  packages/engine/src/avatar/maps/VRMHumanBones.ts
  packages/engine/src/avatar/maps/VRMRequiredHumanBoneNames.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @speigg

turn off fog in default scene
  packages/projects/default-project/public/scenes/default.gltf
Owners: @HexaField

update compress publish button
  packages/client-core/i18n/en/editor.json
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @aditya-mitra, @hanzlamateen

make default material double sided
  packages/engine/src/scene/components/PrimitiveGeometryComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

start overwriting data instead of just adding
  packages/editor/src/functions/addMediaNode.ts
  packages/engine/src/scene/systems/SceneDeltaState.tsx
Owners: @SYBIOTE, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix for physical mats
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

Removed auto-deletion of login-tokens
  packages/server-core/email-templates/account/magiclink-email.pug
  packages/server-core/src/user/login-token/login-token.resolvers.ts
  packages/server-core/src/user/login/login.class.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Mesh bvh tests
  packages/spatial/src/transform/functions/MeshBVHSystem.test.ts
Owners: @SamMazerIR

explicit null check
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

Add back import
  packages/client-core/src/user/menus/SettingsMenu.tsx
Owners: @aditya-mitra

ignore functions when setting material parameters
  packages/spatial/src/renderer/materials/materialFunctions.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

Update toolbar labels and icons for improved clarity and functionality
  packages/client-core/i18n/en/editor.json
  packages/editor/src/components/toolbar/Toolbar.tsx
Owners: @aditya-mitra, @dinomut1

handle desktop & mobile using pointerdown event
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

clean up code
  packages/ui/src/components/editor/ImageLink/index.tsx
  packages/ui/src/components/editor/properties/envmap/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix(table): change the neighbours value to 2
  packages/ui/src/primitives/tailwind/Table/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
