Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

Enable navigation buttons to second page emotes
  packages/client-core/src/user/menus/EmoteMenu.tsx
Owners: @aditya-mitra

get reference to simulation layer from authoring to use selected Entities
  packages/editor/src/classes/gizmo/transform/TransformGizmoControlComponent.ts
  packages/editor/src/systems/ActiveHelperSystem.ts
  packages/spatial/src/input/functions/ClientInputHeuristics.ts
Owners: @SYBIOTE, @dinomut1, @aditya-mitra, @heysokam, @SamMazerIR, @speigg

general fixes to prevent error messages
  packages/engine/src/audio/systems/MediaSystem.ts
  packages/engine/src/scene/components/MediaComponent.ts
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @speigg, @dinomut1, @CITIZENDOT, @AidanCaruso, @aditya-mitra, @SYBIOTE

refactor(gizmos): reorganize imports and update function references for camera and transform gizmos
  packages/editor/src/classes/gizmo/camera/CameraGizmoComponent.ts
  packages/editor/src/classes/gizmo/transform/TransformGizmoControlComponent.ts
  packages/editor/src/functions/gizmos/cameraGizmoHelper.ts
  packages/editor/src/functions/gizmos/gizmoCommonFunctions.ts
  packages/editor/src/functions/gizmos/studioIconGizmoHelper.ts
  packages/editor/src/functions/gizmos/transformGizmoHelper.ts
  packages/editor/src/systems/ActiveHelperSystem.ts
  packages/editor/src/systems/CameraGizmoSystem.ts
  packages/editor/src/systems/TransformGizmoSystem.ts
Owners: @SYBIOTE, @dinomut1, @aditya-mitra

temp disable preview materials to prevent plugin clearing
  packages/editor/src/panels/materials/materialpreviewer.tsx
  packages/editor/src/panels/properties/materialeditor.tsx
  packages/spatial/src/renderer/materials/MaterialComponent.tsx
  packages/spatial/src/renderer/materials/materialFunctions.ts
Owners: @dinomut1, @aditya-mitra, @AidanCaruso, @DanielBelmes, @MichaelEstes

Fix ee material extension component prototype ref
  packages/engine/src/gltf/MaterialExtensionComponents.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

No longer early outing from null objs
  packages/ecs/src/ComponentFunctions.ts
Owners: @speigg

updated issue with serialized runtime properties in the media component
  packages/engine/src/scene/components/MediaComponent.ts
  packages/engine/src/scene/components/VideoComponent.tsx
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @aditya-mitra, @SYBIOTE

added current track time to non-serialized props
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

add overlay reactor
  packages/client-core/src/systems/OverlaySystem.tsx
  packages/client-core/src/user/UserUISystem.tsx
  packages/client-core/src/world/ClientModule.ts
  packages/editor/src/EditorModule.ts
  packages/engine/src/scene/components/OverlayComponent.ts
  packages/ui/src/components/editor/properties/overlay/index.tsx
Owners: @aditya-mitra, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @SYBIOTE

use translation string
  packages/client-core/i18n/en/editor.json
  packages/client-core/src/systems/OverlaySystem.tsx
  packages/ui/src/components/editor/properties/overlay/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

make common function for camera factor
  packages/editor/src/functions/gizmos/gizmoCommonFunctions.ts
  packages/editor/src/functions/gizmos/studioIconGizmoHelper.ts
  packages/editor/src/functions/gizmos/transformGizmoHelper.ts
Owners: @SYBIOTE

fix for other object values
  packages/ecs/src/ComponentFunctions.ts
Owners: @speigg

fix propagating zero values
  packages/ecs/src/ComponentFunctions.ts
Owners: @speigg

fix some helper entities not configured properly
  packages/spatial/src/renderer/components/lights/HemisphereLightComponent.ts
  packages/spatial/src/renderer/components/lights/PointLightComponent.ts
  packages/spatial/src/renderer/components/lights/SpotLightComponent.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

add suspense and error boundaries to studio panels, fix overwrite lookdev bug and add regression test
  packages/editor/src/functions/EditorControlFunctions.test.tsx
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/functions/addMediaNode.ts
  packages/editor/src/panels/hierarchy/index.tsx
  packages/editor/src/panels/materials/index.tsx
  packages/editor/src/panels/properties/index.tsx
  packages/editor/src/panels/viewport/index.tsx
  packages/hyperflux/src/functions/ReactorFunctions.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra, @speigg

format
  packages/editor/src/panels/hierarchy/index.tsx
  packages/editor/src/panels/viewport/index.tsx
Owners: @dinomut1, @aditya-mitra

remove logs
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Stop propogation from dropdown clicks
  packages/ui/src/components/editor/DropdownItem/index.tsx
  packages/ui/src/primitives/tailwind/ClickawayListener/useClickaway.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Squashed commit of the following:
  packages/client-core/i18n/en/editor.json
  packages/common/src/schemas/media/static-resource.schema.ts
  packages/ecs/src/ComponentFunctions.ts
  packages/editor/src/components/EditorContainer.tsx
  packages/editor/src/panels/assets/categories.tsx
  packages/editor/src/panels/assets/helpers.ts
  packages/editor/src/panels/assets/hooks.tsx
  packages/editor/src/panels/assets/index.tsx
  packages/editor/src/panels/assets/resources.tsx
  packages/editor/src/panels/assets/topbar.tsx
  packages/editor/src/panels/files/contextmenu.tsx
  packages/editor/src/panels/files/filebrowser.tsx
  packages/editor/src/panels/files/fileitem.tsx
  packages/editor/src/panels/files/helpers.tsx
  packages/editor/src/panels/files/index.tsx
  packages/editor/src/panels/files/toolbar.tsx
  packages/server-core/src/media/static-resource/static-resource.resolvers.ts
  packages/ui/src/components/editor/DropdownItem/index.tsx
  packages/ui/src/components/editor/properties/overlay/index.tsx
Owners: @aditya-mitra, @HexaField, @speigg, @dinomut1, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @SYBIOTE, @CITIZENDOT

fixed issue with the next track being triggered when the playmode is updated but the track hasn't ended
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

refactor user media windows to tailwind
  packages/client-core/src/components/UserMediaWindow/Draggable.tsx
  packages/client-core/src/components/UserMediaWindow/index.module.scss
  packages/client-core/src/components/UserMediaWindows/index.module.scss
  packages/client-core/src/components/ViewerInteractions/index.tsx
  packages/client-core/src/systems/createMediaWidget.tsx
  packages/client-core/src/user/VideoWindows/index.tsx
  packages/client-core/src/user/VideoWindows/window.tsx
Owners: @aditya-mitra

Improve Clickaway Listener
  packages/client-core/src/common/services/PopoverState.tsx
  packages/client-core/src/user/menus/index.tsx
  packages/ui/src/components/editor/layout/ClickAwayListener.tsx
  packages/ui/src/index.ts
  packages/ui/src/primitives/tailwind/ClickawayListener/index.tsx
  packages/ui/src/primitives/tailwind/PopupMenu/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

stashing changes
  packages/engine/src/postprocessing/SSAOEffect.tsx
  packages/engine/src/postprocessing/SSGIEffect.tsx
  packages/engine/src/postprocessing/SSREffect.tsx
  packages/engine/src/postprocessing/ShockWaveEffect.tsx
  packages/engine/src/postprocessing/TRAAEffect.tsx
  packages/spatial/src/renderer/WebGLRendererSystem.tsx
Owners: @DanielBelmes, @MbfloydIR, @AidanCaruso, @MichaelEstes

fix material preview erasing material data
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/panels/materials/materialpreviewer.tsx
  packages/editor/src/panels/properties/materialeditor.tsx
  packages/spatial/src/renderer/materials/materialFunctions.ts
Owners: @SYBIOTE, @dinomut1, @aditya-mitra, @AidanCaruso, @DanielBelmes, @MichaelEstes

fix the joypad position
  packages/client-core/i18n/en/user.json
  packages/client-core/src/common/components/TouchGamepad/index.tsx
  packages/client-core/src/components/ViewerInteractions/index.tsx
Owners: @aditya-mitra

added a ref to the video comp's local texture so it can be reused
  packages/engine/src/scene/components/VideoComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

added a force to update the video texture in an edge case
  packages/engine/src/scene/components/VideoComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fixed commit issue with video comp's media uuid
  packages/ui/src/components/editor/properties/video/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix check errors
  packages/client-core/src/user/VideoWindows/index.tsx
  packages/ui/src/components/Chat/VideoCall.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

corrected issue with - video continues to play after you navigate away from it in the Editor UI, but pause / resets on reselecting it
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

removing patch on realism effects, soon to remove it entirely, fixing issues with infinite retrigger of useEffect, and cleanup of passes
  packages/engine/src/postprocessing/SSAOEffect.tsx
  packages/engine/src/postprocessing/SSGIEffect.tsx
  packages/engine/src/postprocessing/SSREffect.tsx
  packages/engine/src/postprocessing/TRAAEffect.tsx
  packages/spatial/src/renderer/WebGLRendererSystem.tsx
  patches/realism-effects+1.1.2.patch
Owners: @DanielBelmes, @MbfloydIR, @AidanCaruso, @MichaelEstes

unifying duplicated enum
  packages/ui/src/components/editor/properties/postProcessing/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

corrected the play mode in editor
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fixed the alpha shader logic
  packages/engine/src/scene/components/VideoComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

corrected for edge case of have play mode be loop and only having 1 video
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fixed issue - drawing a clip in to replace an existing video clip that is selected, results in the track not being selected and the texture missing
  packages/engine/src/scene/components/MediaComponent.ts
  packages/engine/src/scene/components/VideoComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

added cleanup return to deactivate the shadow settings on the object
  packages/engine/src/scene/components/ShadowComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

removing ssr and ssgi effects from registry as they're not visually working. TRAA working now though
  packages/engine/src/postprocessing/PopulateEffectRegistry.tsx
  packages/engine/src/postprocessing/SSAOEffect.tsx
Owners: @DanielBelmes, @MbfloydIR

Fixed bug with projects deleting similarly-named projects
  packages/server-core/src/projects/project/project-helper.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
