Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

Set dirty flag after all reactors have run
  packages/spatial/src/physics/components/RigidBodyComponent.tsx
Owners: @heysokam

add override to initial avatar spawn too
  packages/client-core/src/networking/AvatarSpawnSystem.tsx
Owners: @aditya-mitra

Fix particle system reactivity and ensure it respects the VisibleComponent
  packages/engine/src/scene/components/ParticleSystemComponent.ts
  packages/ui/src/components/editor/properties/particle/index.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @aditya-mitra, @SYBIOTE

Update colors
  packages/client-core/src/common/services/ThemeService.tsx
Owners: @aditya-mitra

Add onInputChange callback to Select component
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

loading animation fits on mobile screens
  packages/client/src/pages/location/location.tsx
  packages/ui/src/primitives/tailwind/LoadingView/index.tsx
Owners: @barankyle, @aditya-mitra, @SYBIOTE, @CITIZENDOT

bias-calculation
  packages/projects/default-project/assets/prefabs/point-light.prefab.gltf
  packages/ui/src/components/editor/properties/light/shadowProperties/index.tsx
Owners: @HexaField, @aditya-mitra, @SYBIOTE, @CITIZENDOT

remove-log
  packages/ui/src/components/editor/properties/light/shadowProperties/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

reduce spacing in share menu
  packages/client-core/src/user/menus/ShareMenu.tsx
Owners: @aditya-mitra

Fix color & spacing issue in Profile Menu
  packages/client-core/src/user/menus/ProfileMenu.tsx
Owners: @aditya-mitra

set dimensions closer to designs
  packages/client-core/src/user/menus/ShareMenu.tsx
Owners: @aditya-mitra

Profile Menu: Update username on clicking outside the Input field
  packages/client-core/src/user/menus/ProfileMenu.tsx
Owners: @aditya-mitra

ui polish
  packages/editor/src/panels/files/contextmenu.tsx
  packages/editor/src/panels/files/fileitem.tsx
  packages/editor/src/panels/scenes/SceneItem.tsx
Owners: @dinomut1, @aditya-mitra

dont reset thumbnails
  packages/editor/src/services/SceneThumbnailState.tsx
  packages/ui/src/components/editor/Modal/AddEditLocationModalStudioSections.tsx
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

fixed issue with missing video controls checkbox
  packages/ui/src/components/editor/properties/media/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

moved checkbox to top
  packages/ui/src/components/editor/properties/media/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fixed issue with removing a video while it was playing
  packages/engine/src/scene/components/VideoComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

feat(more-options-menu): add horizontal icon option
  packages/ui/src/components/tailwind/MoreOptionsMenu/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix(projects): styles for ui
  packages/editor/src/panels/scenes/SceneItem.tsx
Owners: @dinomut1, @aditya-mitra

more cleanup
  packages/editor/src/panels/assets/categories.tsx
  packages/editor/src/panels/files/contextmenu.tsx
  packages/editor/src/panels/files/filebrowser.tsx
Owners: @dinomut1, @aditya-mitra

fix: quit to dashboard crash
  packages/editor/src/panels/viewport/tools/SelectionBoxTool.tsx
Owners: @dinomut1, @aditya-mitra

remove decimation from the compression parameters
  packages/editor/src/constants/GLTFPresets.ts
Owners: @dinomut1, @aditya-mitra

Fixed putObject for folders in GCS
  packages/server-core/src/media/storageprovider/gcs.storage.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Fixed putObject for folders in GCS
  packages/server-core/src/media/storageprovider/gcs.storage.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

p2p data channel fix
  packages/network/src/webrtc/WebRTCPeerConnection.tsx
Owners: @speigg

api server optimizations
  packages/engine/src/assets/classes/AssetLoader.ts
  packages/server-core/src/assets/image-convert/image-convert.service.ts
  packages/server-core/src/assets/ktx2-encode/ktx2-encode.service.ts
  packages/server-core/src/config.ts
  packages/server-core/src/media/file-browser/file-helper.ts
  packages/server-core/src/networking/instance-signaling/instance-signaling.ts
  packages/server-core/src/projects/project/project-helper.ts
  packages/server-core/src/world/spawn-point/spawn-point.resolvers.ts
Owners: @MichaelEstes, @dinomut1, @speigg, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

check for project lenght
  packages/client-core/src/components/World/EngineHooks.tsx
Owners: @speigg

enable heapsnapshot
  packages/server/package.json
Owners: @hanzlamateen, @barankyle

changed to working syntax
  packages/server/package.json
Owners: @hanzlamateen, @barankyle

fix mesh bvh race condition where fallback runs for pending meshes
  packages/spatial/src/transform/functions/MeshBVHSystem.tsx
Owners: @SamMazerIR

fix undesriable import from schemas
  packages/client-core/src/hooks/useUserBanned.tsx
Owners: @jose-galvan

default worker pool sizes to 1, ensure ktx2 loader only creates 1 worker
  packages/engine/src/assets/loaders/gltf/KTX2Loader.js
  packages/engine/src/assets/loaders/gltf/WorkerPool.js
  packages/xrui/core/WorkerPool.ts
Owners: @MichaelEstes, @dinomut1, @speigg

optimize opacity update on viewer container
  packages/client-core/src/components/ViewerInteractions/index.tsx
  packages/client-core/src/systems/LoadingUISystem.tsx
  packages/client-core/src/systems/state/LoadingState.ts
Owners: @aditya-mitra

fix test
  packages/editor/src/systems/TransformGizmoSystem.test.ts
Owners: @dinomut1, @aditya-mitra

update timeouts
  packages/editor/src/systems/TransformGizmoSystem.test.ts
Owners: @dinomut1, @aditya-mitra

fix: make thumbnail updates optional for uploaded images and videos
  packages/editor/src/functions/assetFunctions.ts
Owners: @SYBIOTE

wip get deltas working with material drag drop
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/functions/addMediaNode.ts
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/scene/systems/SceneDeltaState.tsx
  packages/spatial/src/renderer/materials/MaterialComponent.tsx
Owners: @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1, @speigg, @CITIZENDOT, @DanielBelmes

remove comment
  packages/editor/src/functions/EditorControlFunctions.ts
Owners: @SYBIOTE

cleanup
  packages/editor/src/functions/addMediaNode.ts
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
Owners: @SYBIOTE, @AidanCaruso, @MichaelEstes, @dinomut1

ch-br
  packages/client-core/i18n/en/editor.json
  packages/ui/src/components/editor/properties/geometry/primitive/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT
