Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

avoid new line in instance chat
  packages/client-core/src/user/InstanceChat.tsx
Owners: @aditya-mitra

tst: Unit Tests for `LayerComponent`/s (phase 1)
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/ECSLayers.test.ts
Owners: @speigg

tst: Remove outdated reference tests
  packages/ecs/src/ECSLayers.test.ts
Owners: @speigg

Align Chat Icon & Add Smooth transitions
  packages/client-core/src/user/InstanceChat.tsx
  packages/client-core/src/user/components/LocationIconButton.tsx
Owners: @aditya-mitra

add all subreactor cases, intensity and box projection
  packages/engine/src/scene/components/EnvmapComponent.tsx
  packages/engine/src/scene/constants/EnvMapEnum.ts
  packages/engine/src/scene/systems/EnvironmentSystem.tsx
  packages/projects/default-project/public/scenes/sky-station.gltf
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @HexaField

fmt: Remove redundant `hasLayer` check on `removeComponent`
  packages/ecs/src/ComponentFunctions.ts
Owners: @speigg

tst: Remove unnessary `hasLayer` tests
  packages/ecs/src/ECSLayers.test.ts
Owners: @speigg

format
  packages/client-core/src/components/Debug/index.tsx
  packages/ecs/src/EntityTree.tsx
  packages/ecs/src/SystemFunctions.ts
  packages/editor/src/components/dialogs/SaveNewSceneDialog.tsx
  packages/editor/src/components/properties/Util.ts
  packages/editor/src/functions/EditorControlFunctions.test.tsx
  packages/editor/src/functions/exportGLTF.ts
  packages/editor/src/panels/hierarchy/hooks.tsx
  packages/editor/src/panels/visualscript/transformers/index.ts
  packages/editor/src/services/EditorServices.ts
  packages/editor/src/systems/ObjectGridSnapSystem.ts
  packages/engine/src/assets/classes/AssetLoader.ts
  packages/engine/src/assets/loaders/gltf/extensions/ResourceManagerLoadExtension.ts
  packages/engine/src/avatar/functions/updateVRMRetargeting.ts
  packages/engine/src/gltf/GLTFState.test.tsx
  packages/engine/src/gltf/MaterialExtensionComponents.tsx
  packages/engine/src/gltf/MeshExtensionComponents.tsx
  packages/engine/src/visualscript/VisualScriptModule.ts
  packages/hyperflux/index.ts
  packages/network/index.ts
  packages/spatial/src/SpatialModule.ts
  packages/spatial/src/transform/components/TransformComponent.ts
  packages/ui/src/icons/index.ts
  packages/ui/src/primitives/tailwind/Table/index.tsx
  packages/visual-script/src/engine/VisualScriptEngineModule.ts
  packages/visual-script/src/profiles/scene/SceneProfileModule.ts
  packages/xrui/index.ts
Owners: @aditya-mitra, @speigg, @dinomut1, @SYBIOTE, @MichaelEstes, @AidanCaruso, @MbfloydIR, @SamMazerIR, @CITIZENDOT

remove ecs ECS object export and fix removeComponent
  packages/ecs/index.ts
  packages/ecs/src/ComponentFunctions.ts
  packages/network/src/NetworkObjectComponent.ts
Owners: @speigg

tst: Unit Tests for `LayerComponent`/s (phase 2)
  packages/ecs/src/ECSLayers.test.ts
Owners: @speigg

change onSet to be an optional behaviour rather than the function schema based state merging schemas uses
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/UUIDComponent.ts
  packages/engine/src/scene/components/MediaComponent.ts
  packages/engine/src/scene/components/SourceComponent.ts
  packages/engine/src/scene/components/SplineComponent.ts
  packages/engine/src/scene/components/UVOL1Component.ts
  packages/engine/src/scene/components/UVOL2Component.ts
  packages/spatial/src/common/NameComponent.ts
  packages/spatial/src/physics/components/RigidBodyComponent.tsx
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.test.ts
  packages/spatial/src/renderer/components/BoneComponent.ts
  packages/spatial/src/transform/components/ComputedTransformComponent.ts
  packages/spatial/src/transform/components/TransformComponent.test.tsx
  packages/spatial/src/transform/systems/TransformSystem.test.ts
Owners: @speigg, @dinomut1, @CITIZENDOT, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR, @heysokam, @DanielBelmes

Show loading indicator when camera is toggled
  packages/client-core/src/components/MediaIconsBox/index.tsx
  packages/client-core/src/user/menus/ProfileMenu.tsx
  packages/client-core/src/user/menus/ShareMenu.tsx
Owners: @aditya-mitra

wip
  packages/ecs/package.json
  packages/ecs/src/ComponentFunctions.ts
  packages/engine/src/scene/components/SourceComponent.ts
  packages/spatial/src/transform/functions/MeshBVHSystem.tsx
Owners: @speigg, @dinomut1, @CITIZENDOT, @AidanCaruso, @SamMazerIR

tst: Unit Tests for `removeComponent` (phase 2)
  packages/ecs/src/ECSLayers.test.ts
Owners: @speigg

cleanup and fix bpcem reactor logic
  packages/engine/src/scene/components/EnvmapComponent.tsx
  packages/engine/src/scene/systems/EnvironmentSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

use popup for select drop down
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

update height
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fixed aligment loader
  packages/ui/src/primitives/tailwind/LoadingView/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

use open tag
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Fixed a bug in migrating aws-settings
  packages/server-core/src/media/storageprovider/s3.storage.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

almost got typescript playing nice with unified SoA json schema component definitions
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/bitecsLegacy.ts
  packages/ecs/src/schemas/JSONSchemaTypes.ts
  packages/ecs/src/schemas/JSONSchemaUtils.ts
  packages/ecs/src/schemas/JSONSchemas.ts
  packages/editor/src/functions/transformGizmoHelper.ts
  packages/spatial/src/common/proxies/createThreejsProxy.ts
  packages/spatial/src/input/components/InputPointerComponent.ts
  packages/spatial/src/schema/schemaFunctions.ts
  packages/spatial/src/transform/components/TransformComponent.ts
  packages/spatial/tests/util/MockXRUI.ts
Owners: @speigg, @SYBIOTE, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR, @heysokam

rerun gtlfloader test twice
  packages/engine/src/gltf/GLTFLoader.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

edit
  packages/engine/src/gltf/GLTFLoader.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

Revert "edit"
  packages/engine/src/gltf/GLTFLoader.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

edit 2
  packages/engine/src/gltf/GLTFLoader.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

Revert "edit 2"
  packages/engine/src/gltf/GLTFLoader.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

these tests should fail
  packages/engine/src/gltf/GLTFLoader.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

Revert "these tests should fail"
  packages/engine/src/gltf/GLTFLoader.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

also allow retry materiallibrarysystem tests
  packages/engine/src/scene/materials/systems/MaterialLibrarySystem.test.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

soa typing
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/schemas/JSONSchemaTypes.ts
  packages/ecs/src/schemas/JSONSchemas.ts
  packages/spatial/src/transform/components/TransformComponent.ts
Owners: @speigg, @SamMazerIR

tst: Add VSCode debug runner: ECS current file
  .vscode/launch.json
Owners: @HexaField

tst: Remove outdated UUIDComponent unit tests
  packages/ecs/src/UUIDComponent.test.tsx
Owners: @speigg

tst: Unit Tests for `UUIDComponent` (phase 2)
  packages/ecs/src/ECSLayers.test.tsx
Owners: @speigg

fmt: Re-add `UUIDComponentFunctions` prefix to `_getUUIDState` call
  packages/ecs/src/UUIDComponent.ts
Owners: @speigg

Hide username when next message is from same sender
  packages/client-core/src/user/InstanceChat.tsx
Owners: @aditya-mitra

tst: (broken) Unit Tests for `UUIDComponent` (phase 3)
  packages/ecs/src/ECSLayers.test.tsx
  packages/ecs/src/UUIDComponent.test.tsx
Owners: @speigg

tst: (broken) Attempt to fix `propagateLayer` broken unit tests (wip)
  packages/ecs/src/ECSLayers.test.tsx
Owners: @speigg

feat: removed Google Analytics integration in favor of Google Tag Manager
  .env.local.default
  packages/client-core/package.json
  packages/client-core/src/admin/components/settings/tabs/client.tsx
  packages/client-core/src/common/analytics.tsx
  packages/client/src/pages/AppPage.tsx
  packages/client/src/store.tsx
  packages/common/src/config.ts
  packages/common/src/schemas/setting/client-setting.schema.ts
  packages/server-core/src/setting/client-setting/client-setting.seed.ts
  packages/server-core/src/setting/client-setting/migrations/20250124160726_drop_gaMeasurementId_column.ts
Owners: @HexaField, @aditya-mitra, @hanzlamateen, @barankyle, @MoizAdnan, @hurairahmateen

delete duplicate modal
  packages/editor/src/panels/files/PublishModal.tsx
Owners: @dinomut1, @aditya-mitra

add transformModel in publish
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
