Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

update more tests
  packages/spatial/src/renderer/components/LineSegmentComponent.test.tsx
  packages/spatial/src/renderer/components/ObjectComponent.test.tsx
  packages/spatial/src/renderer/components/ObjectLayerComponent.test.tsx
  packages/spatial/src/renderer/components/lights/AmbientLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/AmbientLightComponent.ts
  packages/spatial/src/renderer/components/lights/DirectionalLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/DirectionalLightComponent.ts
  packages/spatial/src/renderer/components/lights/PointLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/PointLightComponent.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

unwrap state values
  packages/engine/src/avatar/components/LoopAnimationComponent.ts
Owners: @AidanCaruso

return early if animation pack is ' '
  packages/engine/src/avatar/components/LoopAnimationComponent.ts
Owners: @AidanCaruso

remove unnecessary use hookstate and fix material transforms issue
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/ui/src/components/editor/input/Euler/index.tsx
Owners: @SYBIOTE, @aditya-mitra, @CITIZENDOT

define groupQuery inside TransformSystem.execute
  packages/spatial/src/transform/systems/TransformSystem.ts
Owners: @SamMazerIR

ir-3465 add dimensions
  packages/common/src/schemas/media/static-resource.schema.ts
  packages/editor/src/panels/files/helpers.tsx
  packages/server-core/src/media/static-resource/migrations/20241107185830_static-resource-dimensions.ts
  packages/server-core/src/media/static-resource/static-resource-helper.ts
  packages/server-core/src/projects/project/project-helper.ts
Owners: @HexaField, @dinomut1, @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

swap every for some
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

remove threejspatches from group component
  packages/spatial/src/renderer/components/GroupComponent.tsx
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

import threepatches
  packages/spatial/src/SpatialModule.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

prevent link from working in edit mode
  packages/editor/src/panels/viewport/tools/PlayModeTool.tsx
  packages/engine/src/scene/components/LinkComponent.ts
Owners: @dinomut1, @aditya-mitra, @speigg, @CITIZENDOT, @AidanCaruso

Remove old gltfExporter change that was causing circular dep
  packages/spatial/src/SpatialModule.ts
  packages/spatial/src/renderer/components/GroupComponent.tsx
  packages/spatial/src/threejsPatches.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR, @DanielBelmes

a component properties state of expansion will now persist across a session and save state. Also now defaults to expanded rather than minimized
  packages/editor/src/functions/EditorControlFunctions.ts
  packages/editor/src/panels/properties/common/NodeEditor.tsx
  packages/ui/src/components/editor/ComponentDropdown/ComponentDropdownState.ts
  packages/ui/src/components/editor/ComponentDropdown/index.tsx
  packages/ui/src/components/editor/properties/cameraProperties/index.tsx
  packages/ui/src/components/editor/properties/media/settings/index.tsx
  packages/ui/src/components/editor/properties/scene/settings/index.tsx
  packages/ui/src/components/editor/properties/transform/index.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra, @CITIZENDOT

adding license comment
  packages/ui/src/components/editor/ComponentDropdown/ComponentDropdownState.ts
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix the issue for project name
  packages/editor/src/panels/files/modals/FilePropertiesModal.tsx
Owners: @dinomut1, @aditya-mitra

move to AnimationComp
  packages/engine/src/avatar/components/AnimationComponent.ts
  packages/spatial/src/SpatialModule.ts
Owners: @AidanCaruso, @speigg, @MichaelEstes, @MbfloydIR, @SamMazerIR

Fix useage of the avatar component
  packages/engine/src/avatar/components/AvatarAnimationComponent.ts
  packages/engine/src/avatar/components/AvatarComponent.ts
  packages/engine/src/avatar/components/AvatarControllerComponent.ts
  packages/engine/src/avatar/components/LoopAnimationComponent.ts
  packages/engine/src/avatar/functions/avatarFunctions.ts
  packages/engine/src/avatar/functions/spawnAvatarReceptor.ts
  packages/engine/src/avatar/systems/AvatarAnimationSystem.tsx
  packages/engine/src/avatar/systems/AvatarMovementSystem.ts
Owners: @AidanCaruso

convert set to array for function call param
  packages/editor/src/functions/EditorControlFunctions.ts
Owners: @SYBIOTE

hiding synchronize option in media component editor until it can be fixed
  packages/ui/src/components/editor/properties/media/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

added a hasCallback function to the callback component
  packages/spatial/src/common/CallbackComponent.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

tst: Fix for `physics/integration.test.ts` ocassionally failing
  packages/spatial/src/physics/integration.test.ts
Owners: @heysokam

temp disabling bad gltf loader tests causing intermittent failures during merge queue
  packages/engine/src/gltf/GLTFLoader.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

fix test
  packages/engine/src/avatar/functions/spawnAvatarReceptor.test.tsx
Owners: @AidanCaruso

fixed some missing imports, undid the commenting out of the tests, fixed spy init
  packages/engine/src/gltf/GLTFLoader.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

Split pushes to Github into chunks if they're too big
  packages/server-core/src/projects/project/github-helper.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

GLTF export WIP
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/exportGLTFScene.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

fix tests, ensure avatar rigidbody and collider always exists
  packages/engine/src/avatar/components/AvatarAnimationComponent.ts
  packages/engine/src/avatar/functions/moveAvatar.test.tsx
  packages/engine/src/avatar/functions/spawnAvatarReceptor.test.tsx
  packages/engine/src/avatar/functions/spawnAvatarReceptor.ts
Owners: @AidanCaruso

remove log
  packages/engine/src/avatar/functions/spawnAvatarReceptor.ts
Owners: @AidanCaruso

simplify entity helpers
  packages/engine/src/avatar/components/AvatarIKComponents.ts
  packages/engine/src/scene/components/EnvMapBakeComponent.ts
  packages/engine/src/scene/components/MediaComponent.ts
  packages/engine/src/scene/components/MountPointComponent.ts
  packages/engine/src/scene/components/ObjectGridSnapComponent.ts
  packages/engine/src/scene/components/PortalComponent.ts
  packages/engine/src/scene/components/ScenePreviewCamera.ts
  packages/spatial/src/common/debug/ArrowHelperComponent.ts
  packages/spatial/src/common/debug/AxesHelperComponent.ts
  packages/spatial/src/common/debug/CameraHelperComponent.ts
  packages/spatial/src/common/debug/DebugMeshComponent.ts
  packages/spatial/src/common/debug/LightHelperComponent.ts
  packages/spatial/src/common/debug/useHelperEntity.ts
  packages/spatial/src/input/functions/ClientInputHeuristics.test.tsx
  packages/spatial/src/input/functions/ClientInputHeuristics.ts
  packages/spatial/src/renderer/WebGLRendererSystem.test.tsx
  packages/spatial/src/renderer/components/HighlightComponent.test.tsx
  packages/spatial/src/renderer/components/LineSegmentComponent.test.tsx
  packages/spatial/src/renderer/components/ObjectComponent.test.tsx
  packages/spatial/src/renderer/components/ObjectComponent.ts
  packages/spatial/src/renderer/components/lights/AmbientLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/DirectionalLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/HemisphereLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/HemisphereLightComponent.ts
  packages/spatial/src/renderer/components/lights/PointLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/PointLightComponent.ts
  packages/spatial/src/renderer/components/lights/SpotLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/SpotLightComponent.ts
Owners: @AidanCaruso, @dinomut1, @speigg, @CITIZENDOT, @MichaelEstes, @MbfloydIR, @SamMazerIR, @heysokam, @DanielBelmes

helper disable and object grids
  packages/editor/src/systems/ObjectGridSnapSystem.ts
  packages/engine/src/scene/components/ObjectGridSnapComponent.ts
  packages/spatial/src/common/debug/useHelperEntity.ts
  packages/spatial/src/renderer/components/lights/HemisphereLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/PointLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/SpotLightComponent.test.ts
Owners: @dinomut1, @aditya-mitra, @speigg, @CITIZENDOT, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR, @DanielBelmes

annoying bug workaround for hemisphere light helper
  packages/spatial/src/common/debug/useHelperEntity.ts
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

simplify entity helpers (#648)
  packages/editor/src/systems/ObjectGridSnapSystem.ts
  packages/engine/src/avatar/components/AvatarIKComponents.ts
  packages/engine/src/scene/components/EnvMapBakeComponent.ts
  packages/engine/src/scene/components/MediaComponent.ts
  packages/engine/src/scene/components/MountPointComponent.ts
  packages/engine/src/scene/components/ObjectGridSnapComponent.ts
  packages/engine/src/scene/components/PortalComponent.ts
  packages/engine/src/scene/components/ScenePreviewCamera.ts
  packages/spatial/src/common/debug/ArrowHelperComponent.ts
  packages/spatial/src/common/debug/AxesHelperComponent.ts
  packages/spatial/src/common/debug/CameraHelperComponent.ts
  packages/spatial/src/common/debug/DebugMeshComponent.ts
  packages/spatial/src/common/debug/LightHelperComponent.ts
  packages/spatial/src/common/debug/useHelperEntity.ts
  packages/spatial/src/input/functions/ClientInputHeuristics.test.tsx
  packages/spatial/src/input/functions/ClientInputHeuristics.ts
  packages/spatial/src/renderer/WebGLRendererSystem.test.tsx
  packages/spatial/src/renderer/components/HighlightComponent.test.tsx
  packages/spatial/src/renderer/components/LineSegmentComponent.test.tsx
  packages/spatial/src/renderer/components/ObjectComponent.test.tsx
  packages/spatial/src/renderer/components/ObjectComponent.ts
  packages/spatial/src/renderer/components/lights/AmbientLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/DirectionalLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/HemisphereLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/HemisphereLightComponent.ts
  packages/spatial/src/renderer/components/lights/PointLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/PointLightComponent.ts
  packages/spatial/src/renderer/components/lights/SpotLightComponent.test.ts
  packages/spatial/src/renderer/components/lights/SpotLightComponent.ts
Owners: @dinomut1, @aditya-mitra, @AidanCaruso, @speigg, @CITIZENDOT, @MichaelEstes, @MbfloydIR, @SamMazerIR, @heysokam, @DanielBelmes

hoist coverage deps to root and pin to correct version
  package.json
  packages/spatial/package.json
Owners: @HexaField, @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

add coverage scripts to all core engine packages, fix coverage generation for engine
  packages/ecs/package.json
  packages/engine/package.json
  packages/engine/src/assets/exporters/gltf/extensions/LightmapExporterExtension.ts
  packages/hyperflux/package.json
  packages/network/package.json
  packages/visual-script/package.json
Owners: @speigg, @AidanCaruso, @MichaelEstes, @dinomut1, @SYBIOTE

add coverage folders to vscode search exclude
  .vscode/settings.json
Owners: @HexaField

fix client input hook test
  packages/spatial/src/input/functions/ClientInputHooks.tsx
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @heysokam, @SamMazerIR, @speigg

try fix intermittent test failure
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @SamMazerIR

add debug logs
  packages/spatial/src/input/functions/ClientInputHooks.tsx
Owners: @heysokam, @SamMazerIR, @speigg

add more logs
  packages/spatial/src/input/functions/ClientInputHooks.test.tsx
  packages/spatial/src/input/functions/ClientInputHooks.tsx
Owners: @heysokam, @SamMazerIR, @speigg

replace direct react element with reactor
  packages/spatial/src/input/functions/ClientInputHooks.test.tsx
Owners: @heysokam, @SamMazerIR, @speigg

remove .only
  packages/spatial/src/input/functions/ClientInputHooks.test.tsx
Owners: @heysokam, @SamMazerIR, @speigg

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
