Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

Misc changes
  packages/common/src/schemas/integrations/helm-version/helm-version.schema.ts
  packages/common/src/schemas/setting/helm-version.schema.ts
  packages/server-core/src/setting/helm-version/helm-version.class.ts
  packages/server-core/src/setting/helm-version/helm-version.docs.ts
  packages/server-core/src/setting/helm-version/helm-version.hooks.ts
  packages/server-core/src/setting/helm-version/helm-version.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

migrate files toolbar
  packages/editor/src/panels/files/toolbar.tsx
Owners: @dinomut1, @aditya-mitra

use new button
  packages/editor/src/panels/files/modals/FilePropertiesModal.tsx
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
  packages/editor/src/panels/hierarchy/hierarchytree.tsx
  packages/editor/src/panels/materials/index.tsx
  packages/editor/src/panels/properties/elementlist.tsx
  packages/editor/src/panels/properties/materialeditor.tsx
  packages/editor/src/panels/properties/propertyeditor.tsx
  packages/editor/src/panels/scenes/SceneItem.tsx
  packages/editor/src/panels/scenes/index.tsx
  packages/editor/src/panels/viewport/tools/GridTool.tsx
  packages/editor/src/panels/viewport/tools/PlayModeTool.tsx
  packages/editor/src/panels/viewport/tools/RenderTool.tsx
Owners: @dinomut1, @aditya-mitra

introduce studio button
  packages/ui/src/components/editor/StudioButton/index.stories.tsx
  packages/ui/src/components/editor/StudioButton/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Add Phone Input component
  packages/ui/.storybook/main.ts
  packages/ui/src/components/tailwind/PhoneInput/index.stories.tsx
  packages/ui/src/components/tailwind/PhoneInput/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

change value & onChange structure
  packages/ui/src/components/tailwind/PhoneInput/index.stories.tsx
  packages/ui/src/components/tailwind/PhoneInput/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Set max height to 250px
  packages/ui/src/components/tailwind/PhoneInput/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

feat(studio): create a project history after update the static resource
  packages/server-core/src/media/static-resource/static-resource.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix(studio): create a generic function to add log
  packages/server-core/src/media/static-resource/static-resource.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Fixed opening files in new tab
  packages/editor/src/panels/files/contextmenu.tsx
Owners: @dinomut1, @aditya-mitra

Forcing the ktx2 encoder's src input to string type.
  packages/server-core/src/assets/ktx2-encode/ktx2-encode.service.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

add .value
  packages/editor/src/hooks/useBrowserCheck.ts
Owners: @dinomut1, @aditya-mitra

remove unused code
  packages/editor/src/pages/EditorPage.tsx
Owners: @dinomut1, @aditya-mitra

update use of get model scene id to gtlf getInstanceID
  packages/editor/src/panels/hierarchy/helpers.ts
Owners: @dinomut1, @aditya-mitra

fix(table): update the table pagination styles as the Figma design
  packages/ui/src/primitives/tailwind/Table/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

wip
  packages/spatial/src/physics/components/ColliderComponent.tsx
Owners: @heysokam

Update envmap editor with fix from dev
  packages/ui/src/components/editor/properties/envmap/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

properly updating the worldTransformMatrix now for all entities in question, now just need to solve for the phantom collider on entities without a mesh
  packages/spatial/src/physics/components/ColliderComponent.tsx
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @heysokam, @SamMazerIR

hotfix to pin helmet version
  packages/server-core/package.json
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

WIP
  packages/engine/src/assets/functions/resourceLoaderHooks.ts
  packages/engine/src/scene/components/ParticleSystemComponent.ts
Owners: @MichaelEstes, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Only remove particle parameters if set
  packages/engine/src/scene/components/ParticleSystemComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

peer leave has user
  packages/client-core/src/components/World/EngineHooks.tsx
  packages/client-core/src/transports/p2p/PeerToPeerNetworkState.tsx
  packages/common/src/recording/ECSRecordingSystem.ts
  packages/engine/src/interaction/functions/MountPointActions.ts
  packages/instanceserver/src/NetworkFunctions.ts
  packages/instanceserver/src/ServerHostNetworkSystem.tsx
  packages/instanceserver/src/channels.ts
  packages/network/src/NetworkPeerState.tsx
  packages/network/src/NetworkState.ts
  packages/spatial/src/transform/SpawnPoseState.tsx
Owners: @speigg, @aditya-mitra, @HexaField, @SamMazerIR

clean up server logs
  packages/server-core/src/hooks/resolve-project-id.ts
  packages/server-core/src/media/storageprovider/local.storage.ts
  packages/server-core/src/media/storageprovider/s3.storage.ts
  packages/server-core/src/setting/engine-setting/migrations/20241001042018_merge-metabase-setting.ts
  packages/server-core/src/user/identity-provider/identity-provider.test.ts
  packages/server-core/src/user/user-relationship/user-relationship.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Revert "tst: Attempt to fix the `webxr-emulator` CJS deep import errors"
  packages/spatial/tests/webxr/emulator/CustomWebXRPolyfill.js
  packages/spatial/tests/webxr/emulator/EmulatedXRDevice.js
  packages/spatial/tests/webxr/emulator/XRScene.js
  packages/spatial/tests/webxr/emulator/api/XRAnchor.js
  packages/spatial/tests/webxr/emulator/api/XRGamepadInput.js
  packages/spatial/tests/webxr/emulator/api/XRHandInput.js
  packages/spatial/tests/webxr/emulator/api/XRHitTestResult.js
  packages/spatial/tests/webxr/emulator/api/XRInputSource.js
  packages/spatial/tests/webxr/emulator/api/XRJointPose.js
  packages/spatial/tests/webxr/emulator/api/XRJointSpace.js
  packages/spatial/tests/webxr/emulator/api/XRRay.js
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

fix canvas init
  packages/client-core/src/hooks/useEngineCanvas.ts
Owners: @jose-galvan

format
  packages/spatial/src/camera/components/FollowCameraComponent.ts
Owners: @DanielBelmes, @SamMazerIR, @speigg

bvh and gizmo fixes
  packages/editor/src/classes/gizmo/transform/TransformGizmoControlComponent.ts
  packages/editor/src/classes/gizmo/transform/TransformGizmoVisualComponent.ts
  packages/editor/src/constants/GizmoPresets.ts
  packages/editor/src/functions/transformGizmoHelper.ts
  packages/engine/src/scene/systems/MeshBVHSystem.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra, @speigg, @CITIZENDOT, @AidanCaruso

console
  packages/engine/src/scene/systems/MeshBVHSystem.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Log error when failing to connecto to logstash service
  packages/server-core/src/ServerLogger.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix(table): update the table pagination styles as the Figma design [IR-5607] (#684)
  packages/ui/src/primitives/tailwind/Table/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

feat(studio): create a project history after update the static resource [IR-5106] (#650)
  packages/server-core/src/media/static-resource/static-resource.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Log error when failing to connect to logstash service (#695)
  packages/server-core/src/ServerLogger.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Add Campton font to tailwind.config
  tailwind.config.js
Owners: @HexaField

Move onKeyDown to a function
  packages/ui/src/components/tailwind/PhoneInput/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Update user.json
  packages/client-core/i18n/en/user.json
Owners: @aditya-mitra

fix import
  packages/client-core/src/hooks/useUnsupported.tsx
Owners: @jose-galvan

Reset state on url update
  packages/engine/src/assets/functions/resourceLoaderHooks.ts
  packages/engine/src/scene/components/ParticleSystemComponent.ts
Owners: @MichaelEstes, @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

SpawnPointComponent remove useGLTF
  packages/engine/src/scene/components/SpawnPointComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

Fix <Input /> regressions
  packages/client-core/src/admin/components/avatar/AddEditAvatarModal.tsx
  packages/client-core/src/admin/components/channel/AddEditChannelModal.tsx
  packages/client-core/src/admin/components/instance/PatchServerModal.tsx
  packages/client-core/src/admin/components/settings/tabs/authentication.tsx
  packages/client-core/src/admin/components/settings/tabs/aws.tsx
  packages/client-core/src/admin/components/settings/tabs/client.tsx
  packages/client-core/src/admin/components/settings/tabs/email.tsx
  packages/client-core/src/admin/components/settings/tabs/instanceServer.tsx
  packages/client-core/src/admin/components/settings/tabs/metabase.tsx
  packages/client-core/src/admin/components/settings/tabs/redis.tsx
  packages/client-core/src/admin/components/settings/tabs/server.tsx
  packages/client-core/src/admin/components/settings/tabs/taskServer.tsx
  packages/client-core/src/admin/components/settings/tabs/zendesk.tsx
  packages/client-core/src/admin/components/user/AddEditUserModal.tsx
  packages/ui/src/components/tailwind/PasswordInput/index.tsx
  packages/ui/src/primitives/tailwind/Checkbox/index.tsx
  packages/ui/src/primitives/tailwind/Input/index.tsx
Owners: @hanzlamateen, @aditya-mitra, @SYBIOTE, @CITIZENDOT

getting extremely close, just a bug switching back and forth on rigidbody type
  packages/spatial/src/physics/components/ColliderComponent.tsx
  packages/spatial/src/physics/systems/PhysicsPreTransformSystem.ts
Owners: @heysokam
