Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

add support for collider entity sourced trigger events
  packages/spatial/src/physics/classes/Physics.ts
  packages/spatial/src/physics/systems/TriggerSystem.test.ts
  packages/spatial/src/physics/systems/TriggerSystem.ts
Owners: @heysokam

update identity provider hooks code
  packages/server-core/src/user/identity-provider/identity-provider.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Updated metabase titled parameter to true
  packages/server-core/src/integrations/metabase/metabase-url/metabase-url.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Changes to fix metabase embed url to include titled true
  packages/server-core/src/integrations/metabase/metabase-url/metabase-url.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

tst: Add `--silent` output to the `test-coverage-generate` script
  packages/spatial/package.json
Owners: @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR

tst: Check coverage thresholds per file _(was project/package wide)_
  vitest.client.config.ts
Owners: @HexaField

clean up
  packages/editor/src/panels/viewport/tools/SelectionBoxTool.tsx
  packages/editor/src/panels/viewport/tools/TransformGizmoTool.tsx
Owners: @dinomut1, @aditya-mitra

Migrate metabase setting to engine setting (#365)
  packages/client-core/src/admin/components/settings/tabs/metabase.tsx
  packages/common/src/constants/EngineSettings.ts
  packages/common/src/schema.type.module.ts
  packages/common/src/schemas/integrations/metabase/metabase-setting.schema.ts
  packages/common/src/schemas/setting/engine-setting.schema.ts
  packages/server-core/src/appconfig.ts
  packages/server-core/src/integrations/metabase/metabase-setting/metabase-setting.class.ts
  packages/server-core/src/integrations/metabase/metabase-setting/metabase-setting.docs.ts
  packages/server-core/src/integrations/metabase/metabase-setting/metabase-setting.hooks.ts
  packages/server-core/src/integrations/metabase/metabase-setting/metabase-setting.resolvers.ts
  packages/server-core/src/integrations/metabase/metabase-setting/metabase-setting.seed.ts
  packages/server-core/src/integrations/metabase/metabase-setting/metabase-setting.ts
  packages/server-core/src/integrations/metabase/metabase-setting/migrations/20240808094500_metabase-setting.ts
  packages/server-core/src/integrations/metabase/metabase-setting/migrations/20240816095000_metabase-environment-column.ts
  packages/server-core/src/integrations/metabase/metabase-url/metabase-url.hooks.ts
  packages/server-core/src/integrations/seeder-config.ts
  packages/server-core/src/integrations/services.ts
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
  packages/server-core/src/setting/engine-setting/engine-setting.ts
  packages/server-core/src/setting/engine-setting/migrations/20241001042018_merge-metabase-setting.ts
Owners: @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

prevent loading spinner from being prematurely deleted
  packages/editor/src/systems/ModelLoadingSpinnerSystem.tsx
Owners: @dinomut1, @aditya-mitra

tst: Change slowness threshold to `1s` (was default: 300ms)
  vitest.client.config.ts
Owners: @HexaField

fixing xrui removal issues
  packages/engine/src/interaction/components/InteractableComponent.ts
Owners: @SamMazerIR, @speigg

remove .only
  packages/engine/src/gltf/GLTFLoader.test.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

removing commented code
  packages/engine/src/interaction/components/InteractableComponent.ts
Owners: @SamMazerIR, @speigg

fix error when adding variants
  packages/editor/src/systems/ModelLoadingSpinnerSystem.tsx
  packages/engine/src/gltf/GLTFState.tsx
  packages/engine/src/scene/components/ModelComponent.tsx
Owners: @dinomut1, @aditya-mitra, @AidanCaruso, @MichaelEstes, @speigg, @CITIZENDOT

Setting iframe `display` so that it renders if needed.
  packages/client-core/src/user/services/AuthService.ts
Owners: @aditya-mitra

fix for place object
  packages/editor/src/panels/files/contextmenu.tsx
Owners: @dinomut1, @aditya-mitra

added missing loop animation label text
  packages/client-core/i18n/en/editor.json
Owners: @aditya-mitra

keep blank src error for now
  packages/engine/src/scene/components/ModelComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

added missing loop animation labels
  packages/client-core/i18n/en/editor.json
Owners: @aditya-mitra

fix test
  packages/spatial/src/physics/systems/TriggerSystem.test.ts
  packages/spatial/src/physics/systems/TriggerSystem.ts
Owners: @heysokam

Test cleanup, add test asset files
  packages/engine/src/gltf/GLTFLoader.test.tsx
  packages/engine/tests/assets/camera/Cameras.gltf
  packages/engine/tests/assets/camera/simpleSquare.bin
  packages/engine/tests/assets/draco-duck/Duck.bin
  packages/engine/tests/assets/draco-duck/Duck.gltf
  packages/engine/tests/assets/draco-duck/DuckCM.png
  packages/engine/tests/assets/duck/Duck.gltf
  packages/engine/tests/assets/duck/Duck0.bin
  packages/engine/tests/assets/duck/DuckCM.png
  packages/engine/tests/assets/instanced/SimpleInstancing.gltf
  packages/engine/tests/assets/instanced/SimpleInstancing_data.bin
  packages/engine/tests/assets/khr-light/LightsPunctualLamp.data.bin
  packages/engine/tests/assets/khr-light/LightsPunctualLamp.gltf
  packages/engine/tests/assets/khr-light/material0_basecolor.jpeg
  packages/engine/tests/assets/khr-light/material0_emissive.jpeg
  packages/engine/tests/assets/khr-light/material0_metallic_roughness.jpeg
  packages/engine/tests/assets/khr-light/material0_normal.png
  packages/engine/tests/assets/khr-light/material1_basecolor.png
  packages/engine/tests/assets/khr-light/material1_normal.png
  packages/engine/tests/assets/khr-light/material2_transmission.jpeg
  packages/engine/tests/assets/morph-targets/AnimatedMorphCube.bin
  packages/engine/tests/assets/morph-targets/AnimatedMorphCube.gltf
  packages/engine/tests/assets/multiple-mesh-primitives/CesiumMilkTruck.gltf
  packages/engine/tests/assets/multiple-mesh-primitives/CesiumMilkTruck.jpg
  packages/engine/tests/assets/multiple-mesh-primitives/CesiumMilkTruck_data.bin
  packages/engine/tests/assets/skinned-mesh/Fox.bin
  packages/engine/tests/assets/skinned-mesh/Fox.gltf
  packages/engine/tests/assets/skinned-mesh/Texture.png
  packages/engine/tests/assets/textured-box/BoxTextured.gltf
  packages/engine/tests/assets/textured-box/BoxTextured0.bin
  packages/engine/tests/assets/textured-box/CesiumLogoFlat.png
  packages/engine/tests/assets/unlit/UnlitTest.bin
  packages/engine/tests/assets/unlit/UnlitTest.gltf
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

naming
  packages/spatial/src/resources/ResourceState.ts
Owners: @MichaelEstes

Didn't use
  packages/spatial/src/transform/components/EntityTree.tsx
Owners: @SamMazerIR

Adding feature flags for volumetric and new volumetric.
  packages/common/src/constants/FeatureFlags.ts
  packages/editor/src/services/ComponentShelfCategoriesState.ts
Owners: @HexaField, @dinomut1, @aditya-mitra

Adding NewVolumetricNodes for visual scripting support
  packages/engine/src/scene/components/NewVolumetricNodes.ts
  packages/engine/src/visualscript/nodes/profiles/engine/registerEngineProfile.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso, @MichaelEstes

Replacing VisualComponent with NewVisualComponent in addMediaNode; expanding a check for VolumetricComponent in positional audio to also check for NewVolumetricComponent.
  packages/editor/src/functions/addMediaNode.ts
  packages/ui/src/components/editor/properties/audio/positional/index.tsx
Owners: @SYBIOTE, @aditya-mitra, @CITIZENDOT

Prepending "Legacy" to the name of the old VolumetricComponent and its support types, and renaming their modules accordingly.
  packages/common/src/constants/FeatureFlags.ts
  packages/editor/src/functions/addMediaNode.ts
  packages/editor/src/services/ComponentEditors.tsx
  packages/editor/src/services/ComponentShelfCategoriesState.ts
  packages/engine/src/scene/SceneModule.ts
  packages/engine/src/scene/components/LegacyVolumetricComponent.ts
  packages/engine/src/scene/components/LegacyVolumetricNodes.ts
  packages/engine/src/scene/components/UVOL1Component.ts
  packages/engine/src/scene/components/UVOL2Component.ts
  packages/engine/src/scene/constants/LegacyUVOLTypes.ts
  packages/engine/src/visualscript/nodes/profiles/engine/registerEngineProfile.ts
  packages/ui/src/components/editor/properties/audio/positional/index.tsx
  packages/ui/src/components/editor/properties/volumetric/legacy/index.stories.tsx
  packages/ui/src/components/editor/properties/volumetric/legacy/index.tsx
Owners: @HexaField, @SYBIOTE, @dinomut1, @aditya-mitra, @speigg, @CITIZENDOT, @AidanCaruso, @MichaelEstes

Removing New from the name of the new VolumetricComponent and its support types, and renaming their modules accordingly.
  packages/common/src/constants/FeatureFlags.ts
  packages/editor/src/functions/addMediaNode.ts
  packages/editor/src/services/ComponentEditors.tsx
  packages/editor/src/services/ComponentShelfCategoriesState.ts
  packages/engine/src/scene/SceneModule.ts
  packages/engine/src/scene/components/UVOL2Component.ts
  packages/engine/src/scene/components/VolumetricComponent.ts
  packages/engine/src/scene/components/VolumetricNodes.ts
  packages/engine/src/scene/constants/UVOLTypes.ts
  packages/engine/src/scene/util/VolumetricBufferingUtils.ts
  packages/engine/src/scene/util/VolumetricUtils.ts
  packages/engine/src/visualscript/nodes/profiles/engine/registerEngineProfile.ts
  packages/ui/src/components/editor/properties/audio/positional/index.tsx
  packages/ui/src/components/editor/properties/volumetric/index.tsx
Owners: @HexaField, @SYBIOTE, @dinomut1, @aditya-mitra, @speigg, @CITIZENDOT, @AidanCaruso, @MichaelEstes

removed unneeded condtion
  packages/editor/src/panels/hierarchy/hierarchynode.tsx
Owners: @dinomut1, @aditya-mitra

Fixed bug in static-resource patching
  packages/editor/src/panels/files/modals/FilePropertiesModal.tsx
Owners: @dinomut1, @aditya-mitra

wip, media preview element - still needs reactivity when changing the resources of mediacomponent...may need to consider how we use spatial audio in relation to (old) mediacomponent preview buttons
  packages/client-core/i18n/en/editor.json
  packages/engine/src/audio/components/PositionalAudioComponent.ts
  packages/engine/src/scene/components/MediaComponent.ts
  packages/ui/src/components/editor/properties/media/index.tsx
  packages/ui/src/components/editor/properties/media/preview/index.tsx
Owners: @aditya-mitra, @speigg, @dinomut1, @CITIZENDOT, @AidanCaruso, @SYBIOTE

Updated .dockerignore files
  .dockerignore
  dockerfiles/api/Dockerfile-api-client.dockerignore
  dockerfiles/api/Dockerfile-api.dockerignore
  dockerfiles/builder/Dockerfile-builder.dockerignore
  dockerfiles/client/Dockerfile-client-serve-static.dockerignore
  dockerfiles/client/Dockerfile-client.dockerignore
  dockerfiles/instanceserver/Dockerfile-instanceserver.dockerignore
  dockerfiles/taskserver/Dockerfile-taskserver.dockerignore
  dockerfiles/testbot/Dockerfile-testbot.dockerignore
Owners: @HexaField, @barankyle

improve asset navbar
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

update size
  packages/editor/src/panels/assets/resources.tsx
Owners: @dinomut1, @aditya-mitra

fix avatar resolver and studio play mode
  packages/editor/src/EditorModule.ts
  packages/editor/src/functions/sceneFunctions.tsx
  packages/editor/src/panels/viewport/tools/PlayModeTool.tsx
  packages/server-core/src/user/user-avatar/user-avatar.resolvers.ts
Owners: @dinomut1, @aditya-mitra, @SYBIOTE, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

remove duplicate references
  packages/editor/src/services/ComponentShelfCategoriesState.ts
Owners: @dinomut1, @aditya-mitra

Use new icons, and render all sizes in storybook
  packages/ui/src/primitives/tailwind/Input/index.stories.tsx
  packages/ui/src/primitives/tailwind/Input/index.tsx
  packages/ui/src/primitives/tailwind/InputBase/InputLabel.tsx
  packages/ui/src/primitives/tailwind/InputBase/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

First pass of merging helm setting to engine setting
  packages/common/src/constants/EngineSettings.ts
  packages/common/src/schema.type.module.ts
  packages/common/src/schemas/setting/engine-setting.schema.ts
  packages/common/src/schemas/setting/helm-setting.schema.ts
  packages/server-core/src/projects/project/project-helper.ts
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
  packages/server-core/src/setting/engine-setting/migrations/20241015093802_merge-helm-setting.ts
  packages/server-core/src/setting/helm-setting/helm-setting.class.ts
  packages/server-core/src/setting/helm-setting/helm-setting.docs.ts
  packages/server-core/src/setting/helm-setting/helm-setting.hooks.ts
  packages/server-core/src/setting/helm-setting/helm-setting.resolvers.ts
  packages/server-core/src/setting/helm-setting/helm-setting.seed.ts
  packages/server-core/src/setting/helm-setting/helm-setting.ts
  packages/server-core/src/setting/seeder-config.ts
  packages/server-core/src/setting/service.ts
Owners: @HexaField, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

[wip]
  packages/client-core/src/admin/components/project/UpdateEngineModal.tsx
  packages/client-core/src/admin/components/settings/tabs/helm.tsx
  scripts/fetch-helm-versions.ts
Owners: @hanzlamateen, @barankyle, @DanielBelmes

Add helper text
  packages/ui/src/primitives/tailwind/Input/index.tsx
  packages/ui/src/primitives/tailwind/InputBase/InputLabel.tsx
  packages/ui/src/primitives/tailwind/InputBase/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT
