Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes

Updated Viewer Designs (#1061)
  packages/client-core/i18n/en/user.json
  packages/client-core/src/common/components/TouchGamepad/index.tsx
  packages/client-core/src/components/ViewerInteractions/index.tsx
  packages/client-core/src/user/InstanceChat.tsx
  packages/client-core/src/user/components/BlockSlider.tsx
  packages/client-core/src/user/components/LocationIconButton.tsx
  packages/client-core/src/user/menus/EmoteMenu.tsx
  packages/client-core/src/user/menus/ProfileMenu.tsx
  packages/client-core/src/user/menus/SettingsMenu.tsx
  packages/client-core/src/user/menus/ShareMenu.tsx
  packages/client-core/src/user/menus/avatar/AvatarSelectMenu.tsx
  packages/client-core/src/user/menus/images/controller-mapping-mobile.svg
  packages/client-core/src/user/menus/images/controller-mapping.png
  packages/client-core/src/user/menus/images/keyboard-mapping.png
  packages/client-core/src/user/menus/images/mouse-mapping.png
  packages/client-core/src/user/menus/index.tsx
  packages/client/public/static/Controller_Tutorial.png
  packages/client/public/static/Desktop_Tutorial.png
  packages/client/public/static/Desktop_Tutorial_Keyboard.png
  packages/client/public/static/Desktop_Tutorial_Mouse.png
  packages/client/public/static/Mobile_Tutorial.png
  packages/ui/icona.json
  packages/ui/src/components/editor/Slider/index.tsx
  packages/ui/src/icons/files/ArrowTopRightOnSquareLg.tsx
  packages/ui/src/icons/files/ArrowTopRightOnSquareMd.tsx
  packages/ui/src/icons/files/EmoteLg.tsx
  packages/ui/src/icons/files/EmoteM.tsx
  packages/ui/src/icons/files/EmoteSm.tsx
  packages/ui/src/icons/index.ts
  packages/ui/src/primitives/tailwind/Checkbox/index.tsx
  packages/ui/src/primitives/tailwind/Input/index.tsx
  packages/ui/src/primitives/tailwind/Modal/index.tsx
Owners: @aditya-mitra, @barankyle, @SYBIOTE, @CITIZENDOT

Ir 2226 breaking import hierachy should throw errors somehow (#873)
  .github/workflows/branch-build.yml
  packages/client-core/src/networking/AvatarSpawnSystem.test.tsx
  packages/client/scripts/getClientSettings.ts
  packages/common/src/schemas/setting/client-setting.schema.ts
  packages/editor/src/panels/visualscript/container/index.tsx
  packages/editor/src/panels/visualscript/hooks/useNodeSpecGenerator.ts
  packages/editor/src/panels/visualscript/sidepanel.tsx
  packages/editor/src/services/ComponentEditors.tsx
  packages/editor/src/services/ComponentShelfCategoriesState.ts
  packages/engine/src/assets/AssetModule.ts
  packages/engine/src/assets/exporters/gltf/extensions/ImageRoutingExtension.ts
  packages/engine/src/assets/functions/resourceLoaderHooks.test.tsx
  packages/engine/src/avatar/functions/retargetingFunctions.test.tsx
  packages/engine/src/gltf/GLTFLoader.test.tsx
  packages/engine/src/grabbable/GrabbableSystem.test.tsx
  packages/engine/src/scene/components/MountPointComponent.test.tsx
  packages/engine/src/scene/materials/systems/MaterialLibrarySystem.test.tsx
  packages/engine/src/visualscript/nodes/profiles/engine/registerEngineProfile.ts
  packages/engine/src/visualscript/nodes/profiles/engine/values/LegacyVolumetricNodes.ts
  packages/engine/src/visualscript/nodes/profiles/engine/values/VolumetricNodes.ts
  packages/engine/tsconfig.json
  packages/hyperflux/tests/utils/patchDOMMatrix.ts
  packages/hyperflux/tests/utils/patchNode.ts
  packages/network/src/EntityNetworkState.test.tsx
  packages/server-core/src/setting/client-setting/client-setting.resolvers.ts
  packages/server-core/src/updateAppConfig.ts
  packages/spatial/package.json
  packages/spatial/src/SpatialModule.ts
  packages/spatial/src/physics/classes/Physics.test.tsx
  packages/spatial/src/physics/components/RigidBodyComponent.test.tsx
  packages/spatial/src/renderer/components/LineSegmentComponent.test.tsx
  packages/spatial/src/renderer/components/LineSegmentComponent.ts
  packages/spatial/tests/webxr/emulator/EmulatedXRDevice.js
  packages/spatial/tests/webxr/emulator/XRScene.js
  packages/ui/src/components/editor/properties/visualScript/index.tsx
  packages/visual-script/tests/visualScript.test.tsx
  vitest.client.config.ts
Owners: @DanielBelmes, @aditya-mitra, @barankyle, @HexaField, @dinomut1, @MichaelEstes, @speigg, @AidanCaruso, @CITIZENDOT, @MoizAdnan, @hanzlamateen, @hurairahmateen, @MbfloydIR, @SamMazerIR, @heysokam, @SYBIOTE

[IR-7312] Scene Preview Camera Thumbnail is rendering the colliders as solid objects in the image (#1130)
  packages/editor/src/functions/takeScreenshot.ts
  packages/editor/src/services/SceneThumbnailState.tsx
  packages/ui/src/components/editor/properties/scene/previewCamera/index.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra, @CITIZENDOT

Add Reactor Profiling Debug Menu (#1112)
  packages/client-core/src/components/Debug/ReactorDebug.tsx
  packages/client-core/src/components/Debug/index.tsx
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/SystemFunctions.ts
  packages/hyperflux/src/functions/ReactorFunctions.tsx
Owners: @aditya-mitra, @speigg

add input component to interactable component (#1107)
  packages/engine/src/interaction/components/InteractableComponent.ts
Owners: @SamMazerIR, @speigg

made the video seekTime property non serializable (#1137)
  packages/engine/src/scene/components/MediaComponent.ts
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

add more suspense boundaries to editor entity properties (#1069)
  packages/editor/src/panels/properties/propertyeditor.tsx
Owners: @dinomut1, @aditya-mitra

remove parent div on media icon
  packages/client-core/src/components/ViewerInteractions/index.tsx
Owners: @aditya-mitra

accept obj param rather then individual params
  packages/client-core/src/util/ViewerMenuState.tsx
Owners: @aditya-mitra

appended the sceneName with ".gltf" in the save process after it has been removed, since it is expected
  packages/editor/src/functions/sceneFunctions.tsx
Owners: @SYBIOTE

username regex update
  packages/common/src/regex/index.ts
Owners: @HexaField

fix: prevent tooltips from displaying while the screen is opaque
  packages/client-core/src/components/ViewerInteractions/index.tsx
Owners: @aditya-mitra

fix: prevent tooltips from displaying while the screen is opaque
  packages/client-core/src/components/ViewerInteractions/index.tsx
Owners: @aditya-mitra

add publish state
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/client-core/src/admin/components/locations/PublishSceneState.tsx
  packages/common/src/model/ModelTransformFunctions.ts
Owners: @hanzlamateen, @HexaField

license
  packages/client-core/src/admin/components/locations/PublishSceneState.tsx
Owners: @hanzlamateen

chore: format code
  packages/client-core/src/components/ViewerInteractions/index.tsx
Owners: @aditya-mitra

allow user regex to keep sp chars and numbers
  packages/common/src/regex/index.ts
Owners: @HexaField

username regex update
  packages/common/src/regex/index.ts
Owners: @HexaField

username regex update
  packages/common/src/regex/index.ts
Owners: @HexaField

update
  packages/common/src/regex/index.ts
Owners: @HexaField

clean up
  packages/common/src/regex/index.ts
Owners: @HexaField

fixed issue with the select inout not reacting to updated options, and updating the selected index display test
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

Let the gltf decide if Collider is Visible or not
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

move regex sanitization into common regex file
  packages/common/src/regex/index.ts
  packages/common/src/utils/cleanFileName.test.ts
  packages/common/src/utils/cleanFileName.ts
Owners: @HexaField

fix and move function to sanitaze the name before upload
  packages/common/src/regex/index.ts
  packages/common/src/utils/cleanFileName.test.ts
  packages/common/src/utils/cleanFileName.ts
  packages/editor/src/functions/assetFunctions.ts
  packages/server-core/src/media/file-browser/file-browser.hooks.ts
Owners: @HexaField, @SYBIOTE, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fixed(uploads) issues with the sanitization of the file name for uploads and prevent unexpected failures
  packages/common/src/utils/cleanFileName.ts
Owners: @HexaField

mend
  packages/server-core/src/media/file-browser/file-browser.hooks.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix(common): preserve dots in filenames except extension separator
  packages/common/src/utils/cleanFileName.ts
Owners: @HexaField

mend
  packages/common/src/utils/cleanFileName.ts
Owners: @HexaField

Fixes
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

Ensure only one copy of an audio buffer can play at the same time, and gets ignored if the context is suspended
  packages/engine/src/audio/AudioState.ts
  packages/engine/src/audio/systems/MediaSystem.ts
Owners: @speigg

Fix entities not disappearing when switching scenes in studio
  packages/engine/src/gltf/GLTFComponent.tsx
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

made the more options menu position override able
  packages/ui/src/components/tailwind/MoreOptionsMenu/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

export gltf textures from blob urls for prefabs
  packages/engine/src/gltf/exportGLTFScene.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

add optional onPublishSuccess prop to AddEditLocationModal
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

Update AddEditLocationModal.tsx
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
Owners: @hanzlamateen

fix component reactors not receiving entity as prop
  packages/ecs/src/ComponentFunctions.ts
Owners: @speigg

format
  packages/ecs/src/ComponentFunctions.ts
Owners: @speigg

fix component init in deserialize and texture update race condition
  packages/ecs/src/ComponentFunctions.ts
  packages/engine/src/assets/loaders/texture/TextureLoader.ts
Owners: @speigg, @MichaelEstes, @dinomut1

try improve input component more
  packages/spatial/src/input/components/InputComponent.ts
Owners: @heysokam, @SamMazerIR, @speigg
