Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

make default text component same as prefab
  packages/engine/src/scene/components/TextComponent.tsx
Owners: @dinomut1, @speigg, @CITIZENDOT, @AidanCaruso

fix animations
  packages/engine/src/avatar/components/AnimationComponent.ts
Owners: @AidanCaruso

fix spectator logic
  packages/client-core/src/components/MediaIconsBox/index.tsx
  packages/client-core/src/networking/AvatarSpawnSystem.tsx
Owners: @aditya-mitra

IR-5564 IR-5568 Hardened security around file-browser service (#722)
  packages/common/src/regex/index.ts
  packages/common/src/schemas/media/file-browser.schema.ts
  packages/common/src/utils/validateFileName.ts
  packages/editor/src/panels/files/contextmenu.tsx
  packages/server-core/src/hooks/verify-project-permission.ts
  packages/server-core/src/media/file-browser/file-browser.class.ts
  packages/server-core/src/media/file-browser/file-browser.hooks.ts
  packages/server-core/src/media/file-browser/file-browser.test.ts
  packages/server-core/src/media/upload-asset/upload-asset.service.ts
  packages/server-core/src/projects/project-permission/project-permission.test.ts
Owners: @HexaField, @dinomut1, @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

updatetest
  packages/spatial/src/renderer/components/PostProcessingComponent.test.tsx
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

merge
  packages/spatial/src/renderer/LightTransformSystem.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

intermittent test
  packages/spatial/src/input/functions/ClientInputHooks.test.tsx
Owners: @heysokam, @SamMazerIR, @speigg

[wip ] Add jsonKey column to engine settings and log appConfig updates
  packages/client-core/src/admin/components/settings/tabs/instanceServer.tsx
  packages/common/src/schemas/setting/engine-setting.schema.ts
  packages/server-core/src/setting/engine-setting/engine-setting.ts
  packages/server-core/src/setting/engine-setting/migrations/20241113093641_add-jsonkey-col-engine-setting.ts
  packages/server-core/src/setting/engine-setting/migrations/20241113093645_merge-instance-server-setting.ts
  packages/server-core/src/updateAppConfig.ts
Owners: @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

Refactor instance server settings to utilize jsonHelperUtils for flattening and unflattening objects
  packages/client-core/src/admin/components/settings/tabs/instanceServer.tsx
  packages/common/src/utils/jsonHelperUtils.ts
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
  packages/server-core/src/setting/engine-setting/migrations/20241113093645_merge-instance-server-setting.ts
Owners: @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

group component migrations
  packages/client-core/src/common/services/FileThumbnailJobState.tsx
  packages/editor/src/components/assets/AssetPreviewPanels/MaterialPreviewPanel.tsx
  packages/editor/src/components/dialogs/CreatePrefabPanelDialog.tsx
  packages/editor/src/functions/takeScreenshot.ts
  packages/editor/src/panels/materials/materialpreviewer.tsx
  packages/engine/src/audio/components/PositionalAudioHelperComponent.ts
  packages/engine/src/avatar/components/SpawnEffectComponent.ts
  packages/engine/src/avatar/systems/AvatarTeleportSystem.ts
  packages/engine/src/gltf/MeshExtensionComponents.tsx
  packages/engine/src/interaction/ui/InteractiveModalView.tsx
  packages/engine/src/scene/components/ParticleSystemComponent.ts
  packages/engine/src/scene/components/ScenePreviewCamera.ts
  packages/engine/src/scene/components/UVOL1Component.ts
  packages/engine/src/scene/components/VariantComponent.tsx
  packages/engine/src/scene/components/debug/SplineHelperComponent.ts
  packages/spatial/src/camera/components/CameraComponent.ts
  packages/spatial/src/renderer/csm/CSM.ts
  packages/spatial/src/xr/XRAnchorSystem.tsx
  packages/spatial/src/xr/XRDetectedMeshComponent.ts
  packages/spatial/src/xr/XRDetectedPlaneComponent.ts
  packages/spatial/src/xr/XRLightProbeSystem.ts
Owners: @aditya-mitra, @dinomut1, @SYBIOTE, @speigg, @AidanCaruso, @MichaelEstes, @SamMazerIR, @CITIZENDOT, @DanielBelmes, @MbfloydIR

use engine canvas for some reason
  packages/client-core/src/hooks/useEngineCanvas.ts
  packages/client-core/src/hooks/useLoadedSceneEntity.ts
Owners: @jose-galvan

amend
  packages/editor/src/panels/files/toolbar.tsx
Owners: @dinomut1, @aditya-mitra

toolbar button
  packages/editor/src/panels/viewport/tools/TransformGizmoTool.tsx
Owners: @dinomut1, @aditya-mitra

update props
  packages/editor/src/panels/viewport/tools/TransformSpaceTool.tsx
Owners: @dinomut1, @aditya-mitra

update prop name
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/editor/src/panels/assets/topbar.tsx
  packages/editor/src/panels/files/toolbar.tsx
  packages/ui/src/components/tailwind/SearchBar/index.tsx
  packages/ui/src/primitives/tailwind/Input/index.stories.tsx
  packages/ui/src/primitives/tailwind/Input/index.tsx
  packages/ui/src/primitives/tailwind/Select/index.stories.tsx
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @hanzlamateen, @dinomut1, @aditya-mitra, @SYBIOTE, @CITIZENDOT

Animate preview avatars
  packages/client-core/src/common/components/AvatarPreview/index.tsx
Owners: @aditya-mitra

fix: include file extension when using local storage provider
  packages/server-core/src/media/file-browser/file-browser.class.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fix: prevent folder copy to overwrite original folder
  packages/server-core/src/media/file-browser/file-browser.class.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

fixing a problem with calculations within the same entity (was multiplying by scale defaulted to 0,0,0)
  packages/spatial/src/physics/classes/Physics.test.tsx
  packages/spatial/src/physics/classes/Physics.ts
Owners: @heysokam

make studio sections a prop
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/editor/src/components/toolbar/Toolbar.tsx
Owners: @hanzlamateen, @dinomut1, @aditya-mitra

fix for rotation of baked gltf model colliders not using mesh
  packages/spatial/src/physics/classes/Physics.ts
Owners: @heysokam

wip fix for skystation
  packages/spatial/src/physics/classes/Physics.ts
  packages/spatial/src/physics/components/ColliderComponent.tsx
Owners: @heysokam

skip over scale lock in tab index
  packages/ui/src/components/editor/input/Vector3/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

make scaling change uniform and not values
  packages/ui/src/components/editor/input/Vector3/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

create instance-server-webrtc in app config for instance server webRTCSettings
  packages/client-core/src/admin/components/settings/tabs/instanceServer.tsx
  packages/instanceserver/src/WebRTCFunctions.ts
  packages/instanceserver/src/channels.ts
  packages/instanceserver/src/start.ts
  packages/server-core/src/appconfig.ts
  packages/server-core/src/config.ts
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
  packages/server-core/src/setting/engine-setting/engine-setting.ts
  packages/server-core/src/setting/engine-setting/migrations/20241113093645_merge-instance-server-setting.ts
  packages/server-core/src/updateAppConfig.ts
  packages/server-core/src/util/get-local-server-ip.ts
  scripts/run_e2e_tests.ts
Owners: @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra, @DanielBelmes

Fix boolean value conversion in WebRTC settings migration
  packages/server-core/src/setting/engine-setting/migrations/20241113093645_merge-instance-server-setting.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Add flattening and unflattening utility functions with detailed documentation
  packages/common/src/utils/jsonHelperUtils.ts
Owners: @HexaField

Refactor instance server settings handling to improve clarity and update variable naming
  packages/client-core/src/admin/components/settings/tabs/instanceServer.tsx
Owners: @hanzlamateen

Clarify comments in updateAppConfig for handling plain key-value pair settings and WebRTCSettings
  packages/server-core/src/updateAppConfig.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Remove console.log statements from instance server and engine setting files
  packages/client-core/src/admin/components/settings/tabs/instanceServer.tsx
  packages/server-core/src/setting/engine-setting/engine-setting.ts
  packages/server-core/src/setting/engine-setting/migrations/20241113093645_merge-instance-server-setting.ts
Owners: @hanzlamateen, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

Refactor instance server configuration access to use consistent key naming and improve WebRTC settings handling
  packages/client-core/src/transports/p2p/PeerToPeerNetworkState.tsx
  packages/server-core/src/networking/instance-provision/instance-provision.class.ts
  packages/server-core/src/networking/instance-signaling/instance-signaling.ts
  packages/server-core/src/networking/instance/instance.resolvers.ts
  packages/server-core/src/networking/instance/instance.test.ts
Owners: @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

Refactor InstanceLoad tests to use consistent configuration key naming for p2pEnabled
  packages/instanceserver/tests/InstanceLoad.test.ts
Owners: @HexaField

reformat file
  packages/editor/src/panels/files/filebrowser.tsx
  packages/editor/src/panels/files/fileitem.tsx
Owners: @dinomut1, @aditya-mitra

rename view components
  packages/editor/src/panels/files/fileitem.tsx
Owners: @dinomut1, @aditya-mitra

table view border and colors
  packages/editor/src/panels/files/filebrowser.tsx
  packages/editor/src/panels/files/fileitem.tsx
Owners: @dinomut1, @aditya-mitra

add hover
  packages/editor/src/panels/files/fileitem.tsx
Owners: @dinomut1, @aditya-mitra

completed fixes for colliders, capsule/cylinder vertical orientation expected
  packages/spatial/src/physics/classes/Physics.ts
Owners: @heysokam

file card polish
  packages/editor/src/panels/files/fileicon.tsx
  packages/editor/src/panels/files/fileitem.tsx
Owners: @dinomut1, @aditya-mitra

refactor fileicon component
  packages/editor/src/panels/files/fileicon.tsx
Owners: @dinomut1, @aditya-mitra

fix for changed button
  packages/ui/src/components/editor/properties/gltf/loader/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
