Repository ir-engine/ir-engine, changes with the owners that CODEOWNERS names for each.
All owners: @HexaField, @barankyle, @aditya-mitra, @speigg, @dinomut1, @AidanCaruso, @MichaelEstes, @hanzlamateen, @MoizAdnan, @hurairahmateen, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT, @jose-galvan, @DanielBelmes, @heysokam

safe access of context.data.project
  packages/server-core/src/hooks/verify-project-permission.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

optimize and make work with PR comments.
  packages/spatial/src/renderer/WebGLRendererSystem.tsx
  packages/spatial/src/renderer/components/HighlightComponent.ts
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

fix tests
  packages/spatial/src/renderer/components/HighlightComponent.test.tsx
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

forgot optional operator
  packages/spatial/src/renderer/components/HighlightComponent.test.tsx
Owners: @AidanCaruso, @DanielBelmes, @MichaelEstes

Fix ts errors
  .npmrc
  packages/ecs/index.ts
  packages/engine/package.json
  packages/engine/src/scene/systems/SceneKillHeightSystem.tsx
  packages/engine/src/scene/systems/VariantSystem.tsx
  packages/spatial/src/threejsPatches.ts
  packages/ui/src/components/editor/properties/fog/index.tsx
Owners: @HexaField, @speigg, @AidanCaruso, @MichaelEstes, @dinomut1, @CITIZENDOT, @MbfloydIR, @SamMazerIR, @aditya-mitra, @SYBIOTE

Update SMS name character limit to 20 in engine settings and migration
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
  packages/server-core/src/setting/engine-setting/migrations/20250113010107_merge-email-setting.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

add ik system test
  packages/engine/src/avatar/animation/TwoBoneIKSolver.test.tsx
  packages/engine/src/avatar/components/AnimationComponent.test.tsx
  packages/engine/src/avatar/systems/AvatarIKSystem.test.tsx
  packages/engine/src/avatar/systems/AvatarIkSystem.tsx
Owners: @AidanCaruso

Update email settings to include default values as per email-setting seed file and improve clarity
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Update createFileServer.ts
  packages/server-core/src/createFileServer.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

format
  packages/editor/src/panels/visualscript/transformers/index.ts
  packages/engine/src/visualscript/VisualScriptModule.ts
  packages/hyperflux/index.ts
  packages/network/index.ts
  packages/spatial/src/SpatialModule.ts
  packages/ui/src/icons/index.ts
  packages/visual-script/src/engine/VisualScriptEngineModule.ts
  packages/visual-script/src/profiles/scene/SceneProfileModule.ts
  packages/xrui/index.ts
Owners: @dinomut1, @aditya-mitra, @AidanCaruso, @MichaelEstes, @speigg, @MbfloydIR, @SamMazerIR, @SYBIOTE, @CITIZENDOT

fix deps
  packages/engine/package.json
  packages/spatial/package.json
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @speigg, @MbfloydIR, @SamMazerIR

[ECOMM-760] Add Campton font and support PAL ToS (#696)
  packages/client-core/i18n/en/user.json
  tailwind.config.js
Owners: @aditya-mitra, @HexaField

Update email settings migration to include default values for SMTP configuration and email subjects
  packages/server-core/src/setting/engine-setting/migrations/20250113010107_merge-email-setting.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Update package.json
  package.json
Owners: @HexaField

reverting needless change
  packages/spatial/src/camera/systems/CameraOrbitSystem.tsx
Owners: @DanielBelmes, @SamMazerIR, @speigg

fix error
  packages/engine/src/gltf/exportGLTFScene.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1

cleanup test and format
  packages/common/src/world/receiveJoinWorld.ts
  packages/engine/src/avatar/systems/AvatarIKSystem.test.tsx
Owners: @HexaField, @AidanCaruso

optimize stateMap and useComponet functions
  packages/ecs/src/ComponentFunctions.test.tsx
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/EntityTree.tsx
  packages/hyperflux/src/hooks/useImmediateEffect.ts
Owners: @speigg

fix frontend rendering issue masking backend issue. Fix backend issue where deleting parenthesis doesn't work
  packages/editor/src/panels/files/contextmenu.tsx
  packages/server-core/src/media/FileUtil.ts
Owners: @dinomut1, @aditya-mitra, @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen

Update createFileServer.ts
  packages/server-core/src/createFileServer.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Optimize NameComponent and BoneComponent
  packages/engine/src/avatar/components/AvatarIKComponents.ts
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/scene/functions/getUniqueName.ts
  packages/spatial/src/common/NameComponent.ts
  packages/spatial/src/renderer/components/BoneComponent.ts
  packages/spatial/src/renderer/components/lights/SpotLightComponent.test.ts
Owners: @AidanCaruso, @MichaelEstes, @dinomut1, @speigg, @CITIZENDOT, @MbfloydIR, @SamMazerIR, @DanielBelmes

corrected the references to the local value of the select input's selected index
  packages/ui/src/primitives/tailwind/Select/index.tsx
Owners: @aditya-mitra, @SYBIOTE, @CITIZENDOT

fix test
  packages/server-core/src/media/file-browser/file-browser.test.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

tst: Cleanup the `EntityFunctions.test.tsx` file
  packages/ecs/src/EntityFunctions.test.tsx
Owners: @speigg

tst: Move the ECS Layers tests to their own file
  packages/ecs/src/ComponentFunctions.test.tsx
  packages/ecs/src/ECSLayers.test.ts
Owners: @speigg

rework asset cache, reference counting, CPU buffer/texture disposal and resource state management
  packages/client-core/src/networking/AvatarSpawnSystem.test.tsx
  packages/ecs/src/ComponentFunctions.ts
  packages/ecs/src/SystemFunctions.ts
  packages/ecs/src/SystemState.ts
  packages/engine/src/assets/functions/resourceLoaderFunctions.ts
  packages/engine/src/assets/functions/resourceLoaderHooks.ts
  packages/engine/src/assets/state/AssetCacheState.ts
  packages/engine/src/assets/state/ResourceLoadingManagerState.ts
  packages/engine/src/avatar/systems/AvatarLoadingSystem.tsx
  packages/engine/src/gltf/GLTFComponent.tsx
  packages/engine/src/gltf/GLTFExtensions.ts
  packages/engine/src/gltf/GLTFLoaderFunctions.ts
  packages/engine/src/gltf/MaterialExtensionComponents.tsx
  packages/engine/src/gltf/MeshExtensionComponents.tsx
  packages/engine/src/scene/components/EnvmapComponent.tsx
  packages/engine/src/scene/components/ParticleSystemComponent.ts
  packages/engine/src/scene/components/PortalComponent.ts
  packages/engine/src/scene/components/SkyboxComponent.ts
  packages/engine/src/scene/functions/reflectionProbeFunctions.tsx
  packages/engine/src/scene/systems/SceneObjectSystem.tsx
  packages/engine/src/scene/systems/ShadowSystem.tsx
  packages/spatial/src/renderer/components/LineSegmentComponent.ts
  packages/spatial/src/renderer/components/MeshComponent.ts
  packages/spatial/src/renderer/components/ObjectComponent.ts
  packages/spatial/src/renderer/components/lights/AmbientLightComponent.ts
  packages/spatial/src/renderer/components/lights/DirectionalLightComponent.ts
  packages/spatial/src/renderer/components/lights/HemisphereLightComponent.ts
  packages/spatial/src/renderer/components/lights/PointLightComponent.ts
  packages/spatial/src/renderer/components/lights/SpotLightComponent.ts
  packages/spatial/src/renderer/csm/CSM.ts
  packages/spatial/src/resources/ResourceState.ts
  packages/spatial/src/resources/ResourceState.tsx
  packages/spatial/src/resources/resourceHooks.ts
  packages/ui/src/components/editor/properties/variant/index.tsx
Owners: @aditya-mitra, @speigg, @MichaelEstes, @dinomut1, @AidanCaruso, @CITIZENDOT, @DanielBelmes, @SYBIOTE

fix camera gizmo
  packages/editor/src/classes/gizmo/camera/CameraGizmoVisualComponent.ts
  packages/editor/src/classes/gizmo/transform/TransformGizmoVisualComponent.ts
  packages/editor/src/constants/GizmoPresets.ts
  packages/editor/src/functions/cameraGizmoHelper.ts
  packages/editor/src/panels/viewport/tools/CameraGizmoTool.tsx
  packages/spatial/src/initializeEngine.ts
  packages/spatial/src/renderer/WebGLRendererSystem.tsx
Owners: @SYBIOTE, @dinomut1, @aditya-mitra, @speigg, @AidanCaruso, @MichaelEstes, @MbfloydIR, @SamMazerIR, @DanielBelmes

fix merge
  packages/server-core/src/user/avatar/avatar-helper.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Remove AWS settings from app configuration update and include it in categories to unflatten
  packages/server-core/src/updateAppConfig.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Unflatten email and AWS settings in app configuration
  packages/server-core/src/setting/engine-setting/engine-setting.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Refactor AWS settings to use updated environment variable names and improve fallback logic
  packages/server-core/src/setting/engine-setting/engine-setting.seed.ts
  packages/server-core/src/setting/engine-setting/migrations/20250113093645_merge-aws-setting.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

Refactor AWS settings migration and clean up related code
  packages/client-core/src/admin/components/settings/tabs/aws.tsx
  packages/common/src/constants/EngineSettings.ts
  packages/server-core/src/setting/engine-setting/migrations/20250113093645_merge-aws-setting.ts
Owners: @hanzlamateen, @HexaField, @barankyle, @MoizAdnan, @hurairahmateen, @aditya-mitra

update migration timestamp
  packages/server-core/src/setting/engine-setting/migrations/20250115053140_merge-aws-setting.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

add resource and RAM/VRAM debug info and track animation clips
  packages/client-core/i18n/en/common.json
  packages/client-core/src/components/Debug/ResourceDebug.tsx
  packages/client-core/src/components/Debug/index.tsx
  packages/engine/src/assets/classes/AssetLoader.ts
  packages/engine/src/assets/loaders/texture/TextureLoader.ts
  packages/engine/src/avatar/systems/AnimationSystem.tsx
  packages/spatial/src/resources/ResourceState.tsx
Owners: @aditya-mitra, @MichaelEstes, @dinomut1, @speigg, @AidanCaruso

close context menu when new folder is created
  packages/editor/src/panels/files/contextmenu.tsx
Owners: @dinomut1, @aditya-mitra

Update packages/editor/src/panels/files/fileicon.tsx
  packages/editor/src/panels/files/fileicon.tsx
Owners: @dinomut1, @aditya-mitra

move publish back
  packages/client-core/src/admin/components/locations/AddEditLocationModal.tsx
  packages/editor/src/components/toolbar/Toolbar.tsx
  packages/editor/src/panels/files/PublishModal.tsx
Owners: @hanzlamateen, @dinomut1, @aditya-mitra

fix test pt2
  packages/server-core/src/media/FileUtil.test.ts
Owners: @barankyle, @MoizAdnan, @hanzlamateen, @hurairahmateen, @aditya-mitra

change label to title
  packages/editor/src/panels/hierarchy/contextmenu.tsx
Owners: @dinomut1, @aditya-mitra

refactor ik component and cleanup
  packages/engine/src/avatar/AvatarModule.ts
  packages/engine/src/avatar/animation/TwoBoneIKSolver.ts
  packages/engine/src/avatar/components/AvatarIKComponents.ts
  packages/engine/src/avatar/functions/spawnAvatarReceptor.ts
  packages/engine/src/avatar/systems/AvatarIKSystem.test.tsx
  packages/engine/src/avatar/systems/AvatarIKSystem.tsx
Owners: @AidanCaruso

CODEOWNERS:

* @HexaField

/packages/client/ @barankyle @aditya-mitra
/packages/client-core/ @aditya-mitra
/packages/ecs/ @speigg
/packages/editor/ @dinomut1 @aditya-mitra
/packages/engine/ @AidanCaruso @MichaelEstes @dinomut1
/packages/hyperflux/ @speigg
/packages/matchmaking/ @speigg @hanzlamateen @barankyle
/packages/network/ @speigg
/packages/server/ @hanzlamateen @barankyle
/packages/server-core/ @barankyle @MoizAdnan @hanzlamateen @hurairahmateen @aditya-mitra
/packages/spatial/ @speigg @AidanCaruso @MichaelEstes @MbfloydIR @SamMazerIR
/packages/taskserver/ @barankyle @hanzlamateen
/packages/ui/ @aditya-mitra @SYBIOTE @CITIZENDOT
/packages/visual-script/ @SYBIOTE
/packages/xrui/ @speigg

/packages/common/src/interfaces/ @hurairahmateen
/packages/client-core/src/admin/ @hanzlamateen
/packages/client-core/src/components/World/ @speigg
/packages/client-core/src/hooks/ @jose-galvan
/packages/editor/src/classes/ @SYBIOTE
/packages/editor/src/functions/ @SYBIOTE
/packages/engine/src/postprocessing/ @DanielBelmes @MbfloydIR
/packages/engine/src/mocap/ @AidanCaruso
/packages/engine/src/avatar/ @AidanCaruso
/packages/engine/src/assets/ @MichaelEstes @dinomut1 @speigg
/packages/engine/src/scene/ @dinomut1 @speigg @CITIZENDOT @AidanCaruso
/packages/engine/src/audio/ @speigg
/packages/engine/src/interaction/ @SamMazerIR @speigg
/packages/spatial/src/camera/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/input/ @SamMazerIR @DanielBelmes @speigg
/packages/spatial/src/resources/ @MichaelEstes
/packages/spatial/src/xrui/ @speigg
/packages/spatial/src/physics/ @heysokam
/packages/spatial/src/input/ @heysokam @SamMazerIR @speigg
/packages/spatial/src/transform/ @SamMazerIR
/packages/spatial/src/camera/ @DanielBelmes @SamMazerIR @speigg
/packages/spatial/src/renderer/ @AidanCaruso @DanielBelmes @MichaelEstes
/scripts/ @barankyle @hanzlamateen @DanielBelmes
/patches/postprocessing+6.34.1.patch @DanielBelmes
/patches/three+0.158.0.patch @DanielBelmes
/patches/realism-effects+1.1.2.patch @DanielBelmes
/dockerfiles/ @barankyle
/certs/ @DanielBelmes
/.github/ @DanielBelmes
